.container-fluid{
  padding:0 30px 0 8px; ;
}
.nav-tabs {
  border-bottom: 1px solid #88d9dd;
}
.nav-tabs  a{
  display: inline-block;
  margin-right:0;
  cursor: pointer;
}
.nav-tabs  a:hover{
  background-color: #88d9dd;
  border: 1px solid #88d9dd;
  border-bottom-color: transparent;
  cursor: pointer!important;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color: #fff;
  background-color: #88d9dd;
  border: 1px solid #88d9dd;
  border-bottom-color: transparent;
  cursor: pointer;
}

.date h3{
  color:#333;
  font-size:18px;
  margin:10px 0;
}
.date .start-d,.date .end-d{
  float: left;
}
.date .start-d input,.date .end-d input{
  width:150px;
  height:30px;
  line-height:30px;
}
.date .start-d {
  margin-right:20px;
}
#tijiao{
  float: left;
  margin:20px 0 0 40px;
  border:none;
  background-color: #88d9dd;
  padding:8px 15px;
  color:#fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}
.table ,.table td,.table th{
  border:1px solid #999;
  border-collapse:collapse;
}
.table{
  margin-right: 5px;
}
.table th, .table td {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}
.table thead tr {
  background-color: #eee!important;
}
.table tr:nth-child(odd){
  background-color: #f9f9f9;
}
.table tr:nth-child(even){
  background-color: #f6f6f6;
}
