
.antiDogFirstPage{
  background-color: #fff;
}
.antiDogFirstPage .pic-list{

}
.antiDogFirstPage .pic-list img{
  display: block;
}
.antiDogFirstPage .intro{
  margin:0 12px 10px;
  background-color: #fbfbfb;
}
.antiDogFirstPage .intro dl{
  padding:25px 20px;
}
.antiDogFirstPage .intro h3{
  padding:15px 20px 11px;
  position: relative;
}
.antiDogFirstPage .intro dt{
  margin-bottom: 10px;
  position: relative;
  padding-left:15px;
  line-height: 24px;
}
.antiDogFirstPage .intro dt span{
  position: absolute;
  left:0;
  top:0;
}
.antiDogFirstPage .intro dd{
  margin-bottom: 22.5px;
  padding-left:15px;
  line-height: 24px;
}

.antiDogFirstPage .declare  .read{
  float: right;
  padding-right:30px;
  overflow: auto;
}
.antiDogFirstPage .declare .read a{
  display: inline-block;
  position: absolute;
  top:15.5px;
  right:20px;
  width:15px;
  height:15px;
  border:1px solid #5abd80;

}
.antiDogFirstPage .declare .read a img{
  position: absolute;
  left:0;
  top:-2px;
}
.antiDogFirstPage .declare p{
  padding:15px 20px;
  line-height: 24px;
}
.antiDogFirstPage .tel{
  margin:30px auto;
}
.antiDogFirstPage .tel a{
  border-bottom:1px solid #88d9dd;
}
.icon-pay{
  position:fixed;
  right:15px;
  bottom:60px;
}
