.antiDogHospital{

}
.antiDogHospital .hospital dl{
  margin-bottom: 5px;
}
.antiDogHospital .hospital dt{
  background-color: #fff;
  padding:15px;
  font-size: 15px;
  color:#666;
  font-weight: normal;
}
.antiDogHospital .hospital dt img{
  float: right;
  margin-top:6px;
}
.antiDogHospital .hospital dd{
  font-size: 13px;
  color:#999;
  padding:22.5px 0;
  margin:0 15px;
  border-bottom:1px dashed #ccc;
}
.antiDogHospital .hospital dd:last-of-type{
  border-bottom:none;
  margin-bottom: 0;
}
.antiDogHospital .hospital dd div{
  margin-bottom: 17.5px;
}
.antiDogHospital .hospital dd div:last-of-type{
  margin-bottom: 0;
}

