<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/keeper/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>咨询评价</title>
    <script src="js/libs/jquery-2.1.3.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/playtourEvaluate.js"></script>
    <link rel="stylesheet" href="/keeper/styles/playtour/playtourEvaluate2.less" type="text/css" />
</head>
<body onload="doRefresh()">
    <div class="evaltitle">
        <div class="et_1">
            <div>
                <img id="headImage" src="images/a1.png" width="54px" height="54px" onerror="$('#headImage').attr('src','images/a1.png')"/>
            </div>
            <div id="doctorName" >梁平</div>
        </div>
        <div class="et_2 et_com">
            <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Findex_liwu.png" width="30px" height="29px"/>
            <div>收到心意：<span id="redPacketcount">32</span></div>
        </div>
        <div class="et_3 et_com">
            <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Findex_haoping03.png" width="27px" height="30px"/>
            <div>好评率：<span id="starInfo">100%</span></div>
        </div>
    </div>
    <div class="evalfinish">
        <div>您已完成此次评价</div>
        <img id="playtourImg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fbumanyi_weixuanzhong.png" width="37px" height="37px"/>
        <div id="playtourStar">不满意</div>
    </div>
    <ul class="evalother">
        <li id="ping">
            <span id="evaluationSpan" class="c1" >您的评价:</span><span id="evaluation"></span>
        </li>
        <li>
            <span id="suggestSpan" class="c1">您的建议:</span><span id="suggest"></span>
        </li>
    </ul>
    <div class="evalhavemoney">
        已送心意：<span id="redPacket">100</span>元
    </div>
    <div class="evalinputmoney">
        <div class="tile" >
            <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fxinyi_png.png" width="144px" height="17px"/>
        </div>
        <div class="inputmoney">
            <img onclick="setMoney(0)" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fjian_bukedian.png" width="43px" height="44px">

            <input  type="number" maxlength="4" id="getMoney" placeholder="0元" onfocus="this.type='number'" onblur="this.type='text'"  oninput="moreMoney()"/>

            <img onclick="setMoney(1)" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fjia_xuanzhong.png" width="43px" height="44px">
        </div>
        <!--<div id="moneyDiff" class="ptmfu">
            <span>金额不可以为负哦~</span>
        </div>-->
    </div>
    <div class="evalsharebut" onclick="goShare()">
        <button >分享给更多宝妈</button>
    </div>
    <button id="but" background-color="#E8E8E8" onclick="updateCustomerInfo()" >提交评价</button>
</body>
</html>