<ion-spinner ng-show="pageLoading" style="color:#139fff;position: relative;top: 301px;left:148px;z-index:999;"></ion-spinner>
<ion-view view-title={{title}} >
    <ion-spinner ng-show="dataLoading"></ion-spinner>
    <div class="conDate">
        <ul class="conWeek">
            <li>
                <button class="dateCom" ng-click="selectWeek('prev')" ng-disabled="prevWeekDisable">上周</button>
                <button class="dateCom" ng-click="selectWeek('next')" ng-disabled="nextWeekDisable">下周</button>
            </li>
        </ul>
        <ul class="date">
            <li class="week">
                <span ng-repeat="item in week">{{item}}</span>
            </li>
            <li class="time" >
                    <span ng-repeat="item in cusultList" ng-click="selectTime($index)" ng-style="(selectItem==$index)?{'background':'
                        url(images/icon_week.png) no-repeat center 0','background-size':'24px 33px','color':'#fff'}:{'background-color':'#fff'}">
                       {{item.da}}<br>
                        <i class="cir" ng-if="consultFlag[$index]"></i>
                    </span>
            </li>
        </ul>
    </div>
    <div class="conCurrDate">
        <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweeknaozhong.png" width="16px" height="18px"/>
        <span>{{currDate}}</span>
        <span>{{currWeek}}</span>
    </div>
    <ion-content  style="top: 0px;">
        <ion-scroll class="phoneConsultFirst" direction="y" has-bouncing="true" style="top: 240px;" >
        <ul class="conTime" ng-if="consultHave">
            <li ng-repeat="item in consultDetalisList" ng-click="goDetails($index)">
                <img  ng-if="item.repeatFlag==2" src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekchong_1.png" width="17px" height="17px"/>
                <img  ng-if="item.repeatFlag==0" src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekchong_2.png" width="17px" height="17px"/>
                <span class="chongtime" ng-style="(item.state==0)?{'color':'#b8b8b8'}:{'color': '#333'}">{{item.begin_time}}</span>
                <span class="chongtype_1" ng-if="item.state==0" style="color:#b8b8b8">未被约</span>
                <span class="chongtype_1" ng-if="item.state==1">已被约</span>
                <img ng-if="item.state==1" src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekgo.png" width="9.5px" height="17px"/>
            </li>
        </ul>
        <dl ng-if="consultHave">
            <dd>提示：</dd>
            <dd>1.<img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekchong_2.png" width="17px" height="17px"/>该时刻的号源下周自动会添加。</dd>
            <dd>2.请提前查看患者病情资料，通话过程中请保持良好的信号，有任何疑问，敬请拨打客服电话！</dd>
        </dl>
        <br/><br/>
        </ion-scroll>
    </ion-content>
    <div class="consultNo" ng-if="consultN">
        <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekno.png" width="88px" height="63px"/>
        <div>今日无任何咨询信息</div>
    </div>
</ion-view>