<ion-spinner ng-show="pageLoading" style="color:#139fff;position: relative;top: 301px;left:148px;z-index:999;"></ion-spinner>
<ion-view view-title={{title}} >
    <ion-spinner ng-show="dataLoading"></ion-spinner>
    <ion-content  style="top: 0px;">
        <ion-scroll class="phoneConsultDetails" direction="y" has-bouncing="true">
            <ul>
                <li class="time">预约时刻：<span>{{serverTime}}</span><span>{{serverTimeBegin}}-{{serverTimeEnd}}</span></li>
                <li>服务类型：<span>{{serverPrice}}元/{{serverLength}}分钟</span></li>
            </ul>
            <dl>
                <dd>宝宝信息</dd>
                <dd class="detelsCom">姓名：<span>{{name}}</span></dd>
                <dd class="detelsCom" ng-if="age!=''">年龄：<span>{{age}}</span></dd>
                <dd class="detelsCom">病情描述：<span>{{illContent}}</span></dd>
            </dl>
        <br/><br/>
        </ion-scroll>
    </ion-content>
</ion-view>