<div class="message_div" ng-controller="VaccineIndexController">
    <div class="title">
        请输入宝宝信息
    </div>
    <div class="message">
        <ul>
            <li>宝宝姓名
                <input type="text">
            </li>
            <li>宝宝性别
                <span ng-style="isSelectedB?{'background-color':'#5F9FF9', color: '#fff'}:{'background-color':'#fff', color: '#333'}" ng-click=" selectSex(0)">男宝</span>
                <span ng-style="isSelectedG?{'background-color':'#5F9FF9', color: '#fff'}:{'background-color':'#fff', color: '#333'}" ng-click="selectSex(1)">女宝</span></li>
            <li>出生日期
                <input type="text" readonly="readonly" id="babyBirthday" placeholder="选择宝宝的出生日期" ng-click="showInput()">
            </li>
            <li>接种编号
                <input type="text">
            </li>
            <li>
                疫苗站
                <!-- ng-model="selectedMessage" ng-change="setSearchMessageType(selectedMessage.searchType)" ng-options="date.searchContent for date in searchMessageType" -->
                <div class="select-area">
                    <div class="select-value"></div>
                    <select>
                        <option>请选择></option>
                        <option>甘肃</option>
                        <option>兰州</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
    <div class="confirm ">
        <div class="submit " ng-click="submit() ">确定</div>
    </div>
</div>
