.vaccineList{

}
.vaccineList ul li{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 13px 18px 9px;
}
.vaccineList ul li span {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.vaccineList ul li span.free {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    margin-top: 5px;
}
.vaccineList ul li span.charge {
    background-color: #77a7ef;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}
.vaccineList ul li span:nth-child(2) {
    float: right;
    margin-top: 9px;
    font-weight: 400;
}