.vaccineInformation{
    background-color: #fff;
    padding: 15px 18px;
    height: 100%;
}
.vaccineInformation .title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 14px;
}
/*.vaccineInformation .title span{
    font-size: 14px;
    color: #77a7ef;
    font-weight: 400;
    padding-left: 8px;
}*/
.vaccineInformation .title span.free {
    font-size: 14px;
    color: #77a7ef;
    font-weight: 400;
    margin-left: 5px;
}
.vaccineInformation .title span.charge {
    background-color: #77a7ef;
    color: #fff;
    padding: 0 5px;
    border-radius: 12px;
}
.vaccineInformation .prevent .title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 9px;
}
.vaccineInformation .prevent .content {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}
.vaccineInformation .notify {
    background: #fff url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fyimiao_png_03.png) 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%;
    height: 155px;
    text-align: center;
}
.vaccineInformation .notify span{
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: 165px;
    line-height: 50px;
    margin: 30px;
}