<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.plan.dao.PlanTemplateTaskDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.plan.entity.PlanTemplateTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_template_id" property="planTemplateId" jdbcType="SMALLINT" />
    <result column="time_happen" property="timeHappen" jdbcType="TIME" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plan_template_id, time_happen, type, create_time, update_time, create_by, update_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plan_template_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plan_template_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.plan.entity.PlanTemplateTask" >
    insert into plan_template_task (id, plan_template_id, time_happen, 
      type, create_time, update_time, 
      create_by, update_by)
    values (#{id,jdbcType=INTEGER}, #{planTemplateId,jdbcType=SMALLINT}, #{timeHappen,jdbcType=TIME}, 
      #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.plan.entity.PlanTemplateTask" >
    insert into plan_template_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planTemplateId != null" >
        plan_template_id,
      </if>
      <if test="timeHappen != null" >
        time_happen,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planTemplateId != null" >
        #{planTemplateId,jdbcType=SMALLINT},
      </if>
      <if test="timeHappen != null" >
        #{timeHappen,jdbcType=TIME},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.plan.entity.PlanTemplateTask" >
    update plan_template_task
    <set >
      <if test="planTemplateId != null" >
        plan_template_id = #{planTemplateId,jdbcType=SMALLINT},
      </if>
      <if test="timeHappen != null" >
        time_happen = #{timeHappen,jdbcType=TIME},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.plan.entity.PlanTemplateTask" >
    update plan_template_task
    set plan_template_id = #{planTemplateId,jdbcType=SMALLINT},
      time_happen = #{timeHappen,jdbcType=TIME},
      type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getPlanTemplateTaskListByPlanTemplateId" resultType="java.util.HashMap" >
	SELECT
		id,
		time_happen,
		type
	FROM
		plan_template_task ptt
	WHERE
		ptt.plan_template_id = #{templateId}
  </select>
</mapper>