.resultBox{
  width:100%;
  height:100%;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/bg.png")no-repeat;
  background-size: 100% 100%;
  padding-top:7.6%;
}
.resultBox .resultTop{
  display: block;
  width:11.2rem;
  height:2.709333rem;
  margin:0 auto;
}


.resultBox .resultCon{
  width:14.336rem;
  height:8.64rem;
  margin:0 auto;
  margin-top:24%;
  position: relative;
}
.resultBox .resultCon .mark{
  width:3.712rem;
  height:3.712rem;
  position: absolute;
  top:0;
  left: 0;
  z-index: 99;
}
.resultBox .resultCon .con{
  width:100%;
  height:100%;
  position: absolute;
}
.resultBox .resultCon .con .con1{
  display: block;
  width:10.56rem;
  height:90%;
  position: absolute;
  right:0;
}
.resultBox .resultCon .con .con2{
  display: block;
  width:10rem;
  height:90%;
  position: absolute;
  left:50%;
  margin-left:-5rem;
}
.resultBox .resultCon .con .con3{
  display: block;
  width:8.6rem;
  height:80%;
  position: absolute;
  left:50%;
  bottom:5%;
  margin-left:-4.3rem;
}

.resultBox .resultCon .con .con4{
  display: block;
  width:8.6rem;
  height:80%;
  position: absolute;
  left:50%;
  top:5%;
  margin-left:-4.3rem;
}

.resultCode{
  position: absolute;
  display: block;
  width:3.776rem;
  height:3.776rem;
  top:78.2753%;
  left:50%;
  margin-left:-1.888rem;
}