.testBox{
  width:100%;
  height:auto;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/test/bg.png")no-repeat;
  background-size:100%;
  min-height: 100%;
  background-color: #85cfea;
  padding-bottom:1.408rem;
  position: relative;
  overflow: hidden;
}
.testBox ul{
  width:15.466667rem;
  margin: 0 auto;
  padding-top:11.178667rem;
}
.testBox ul li{
  width:100%;
  height:5.696rem;
  border:solid 0.192rem #ffcd46;
  border-radius: 0.96rem;
  background: #fff;
  margin-bottom:0.704rem;
}
.testBox ul li h3{
  width:13.632rem;
  height:2.176rem;
  margin:0 auto;
  border-bottom: solid 1px #4998d9;
  font-size: 0.704rem;
  color:#333;
  line-height: 2rem;
  font-weight: bold;
}
.testBox ul li .answer{
  width:13.632rem;
  height:3.072rem;
  margin:0 auto;
  font-size: 0.576rem;
  color:#666;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testBox ul li .answer span{
  display: block;
  width:50%;
  height:50%;
  line-height: 1.536rem;
}
.testBox ul li .answer span.cur{
  color:#74b5cc;
}


.testBox .Button{
  display: block;
  width:12.16rem;
  hieght:2.133333rem;
  margin: 0 auto;
  margin-top:0.64rem;
}

.mask{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .88);
  position:fixed;
  z-index: 1000;
  top:0;
}

.mask img{
  width:80%;
  height:12rem;
  display: block;
  margin:0 auto;
}