.layer{
  position:absolute;
  left:0;
  top:0;
  z-index: 3;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.share-friend{
  position:absolute;
  left:15%;
  top:50.5px;
  z-index: 4;
  width:70%;
  /*height:150px;*/
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding:30px 0;
}
.share-friend img{
  position: absolute;
  top:-50.5px;
  right:-15%;
}
.share-friend p{
  text-align: center;
  margin:0 10px;
  color:#666;
  font-size:16px;
  line-height:27px;
}
.share-friend p span{
  color:#fe717b;
  font-size:19px;
  padding-bottom:10px;
}
.share-friend button{
  border:none;
  background-color: #88d9dd;
  color:#fff;
  border-radius: 5px;
  padding:8px 15px;
  margin-top:10px;

}
.operateFriendsList{
  background-color: #fff;
}
.operateFriendsList img{
  vertical-align: middle;
}
.operateFriendsList .banner{
  position: relative;
  height:132.5px;
  margin-bottom:-1px;
}
.operateFriendsList .banner span{
  color:#fff;
  font-size:12px;
  position: absolute;
  bottom:33px;
  display: inline-block;
  width:100%;
  text-align: center;
}
.operateFriendsList .friendList{

}

.operateFriendsList .friendList dt{
  font-weight: normal;
  font-size:15px;
  color:#333;
  height:40px;
  line-height: 40px;
  padding:0 15px;
  background-color: #f9f9f9;
}
.operateFriendsList  dt span.fl{
  color:#333;
  font-size:15px;
}
.operateFriendsList dt span.fr{
  color:#999;
  font-size:13px;
}
.operateFriendsList dt span a{
  color:#fe717b;

}
.operateFriendsList .friendList-have dd{
  height:60px;
  line-height:60px;
  background-color: #fff;
  padding:0 15px;
  position: relative;
  margin-top:1px;
}
.operateFriendsList .friendList-have dd img{
  position: absolute;
  top:8.5px;

}
.operateFriendsList dd div{
  margin-left:50px;
  border-bottom: 1px solid #f0f0f0;
}
.operateFriendsList dd .name{
 color:#666;
  font-size:14px;
}
.operateFriendsList dd .date,.operateFriendsList dd .time{
  position: absolute;
  top:0;
  font-size:13px;
  color:#999;
}
.operateFriendsList dd .date{
  right:60px;
}
.operateFriendsList dd .time{
  right:20px;
}
.operateFriendsList .friendList-no{
  background-color: #fff;
}
.operateFriendsList .friendList-no dd{
  text-align: center;
  color:#999;
  font-size:15px;

}
.operateFriendsList .friendList-no dd img{
  margin:70px 0 60px;
}
 .bottom-button{
  position: absolute;
  z-index: 5;
  bottom:0;
  display: inline-block;
  width:100%;
  height:44px;
  line-height:44px;
  text-align: center;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 0;
  font-size:16px;
   border:none;
}
.bottom-button.bottom-button1{
  background-color: #fe717b;
}