.operateActiveRule{
  background-color: #fff;
}
.operateActiveRule .title{
  background: linear-gradient(top, #02c5cf, #64d4d9);
  background: -webkit-linear-gradient(top, #02c5cf, #64d4d9);
  background: -moz-linear-gradient(top, #02c5cf, #64d4d9);
  background: -ms-linear-gradient(top, #02c5cf, #64d4d9);
  text-align: center;
  height:50px;
  line-height:50px;
  font-size:18px;
  color:#fff;
}
.operateActiveRule dl{
  margin:0 12px 30px;
}
.operateActiveRule dt{
  font-size:12px;
  color:#666;
  margin-bottom: 15px;
  font-weight: normal;
}
.operateActiveRule dd{
  font-size:12px;
  color:#666;
  margin-top: 15px;
  overflow: hidden;

}
.operateActiveRule dd a.fl{
  width:31%;
}
.operateActiveRule dd span.fl{
  font-weight: normal;
  width:69%;
}
.operateActiveRule dd a{
  font-size:13px;
  color:#333;
}
.operateActiveRule dd p{
 /* margin-top: 15px;*/
  position: relative;
  padding-left:20px;
  line-height:20px;
}
.operateActiveRule dd .cir{
  position: absolute;
  top:7px;
  left:7px;
  display: inline-block;
  border-radius: 50%;
  background-color: #88d9dd;
  width:6px;
  height:6px;
}
.operateActiveRule dd .line{
  position: absolute;
  top:10px;
  left:0;
  display: inline-block;
  background-color: #88d9dd;
  width:1px;
  height:100%;
}
.operateActiveRule dd .line{

}
.operateActiveRule dd span{
  font-weight: 700;

}
.operateActiveRule dd div{
  margin-bottom:10px;
  padding-left:5px;
}