
.operateShare-out{
  width:101%;
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding:0;
  border:none;
}
.operateShare{
  background-color: #ffa2a2;
  width:100%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;

}
.operateShare::-webkit-scrollbar {
  width:0;
  height:0;
}
.operateShare::-webkit-scrollbar-button {
  background-color: #fff;
}
.operateShare::-webkit-scrollbar-track{
  background-color: #fff;
}
.operateShare::-webkit-scrollbar-thumb{
  background-color: #fff;
}
.operateShare::-webkit-scrollbar-corner {
  /* background-color: transparent;*/
  background-color: #fff;
}
.operateShare::-webkit-scrollbar-track-piece{
  background:none;
}
.operateShare .box1{
  text-align: center;
  padding:25px 0 138px;
}
.operateShare .box1 p{
  color:#fff;
  font-size:12px;
  margin-bottom: 16px;
}
.operateShare .box2{
  background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/operate%2Fope_shareBg.png") no-repeat;
  background-size: 100% 331px;
  height:331px;
  margin-top:-65px;
  text-align: center;
}
.operateShare .box2 .code{
  margin:-55px 0 16px;
}
.operateShare .box2 ul{
  padding:0 15px;
  color:#fff;
  font-size:12px;
  white-space: normal;
  text-align: left;
}
.operateShare .box2 li{
  position: relative;
  padding-left:15px;
  margin-bottom:15px;
}
.operateShare .box2 li .cir{
  display: inline-block;
  width:6px;
  height:6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top:7px;
  left:0;
}
.operateShare .box3{
  position: relative;
}
.operateShare .box3 .upPic{
  position: absolute;
  top:-33.5px;
  text-align: center;
  left:50%;
  margin-left:-36px;
}
.operateShare .box3 .upPic img{
  margin-right:10px;
}
.operateShare .box3 .upPic img:last-child{
  margin-right:0;
}
.operateShare .box3 dl{
  color:#fff;
  white-space: normal;
}
.operateShare .box3 dt{
  font-size:13px;
  text-align: center;
  font-weight:normal;
  margin:20px 0;
}
.operateShare .box3 dd{
  color:#fff;
  font-size:12px;
  float: left;
  width:33.333%;
}
.operateShare .box3 dd h5{
  width:80%;
  text-align: center;
  padding:8px 5px;
  background-color: #88d9dd;
  color:#fff;
  font-weight: normal;
  border-radius: 16px;
  margin:0 auto;
}
.operateShare .box3 dd p{
  white-space: normal;
  color:#fff;
  font-size:11px!important;
  padding:20px 10px;
  line-height:24px;
  /*background: url("../../images/operate/ope_sharePBg.png") right 27px no-repeat;*/
  /*background-size: 3px 60%;*/
  position: relative;
}
.operateShare .box3 dd p img{
  position: absolute;
  top:27px;
  right:0;
}
