<html>
<head>
</head>
<base href="/keeper/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>宝大夫</title>
<script src="js/libs/jquery-2.1.3.min.js"></script>
<script src="js/libs/moment.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/libs/mobiscroll.custom-2.17.0.min.js"></script>
<script src="js/orderDetailPay.js"></script>
<link rel="stylesheet" href="/titan/styles/lib/mobiscroll.custom-2.17.0.min.css" type="text/css" />
<link rel="stylesheet" href="/titan/styles/commonMain.less" type="text/css" />
<link rel="stylesheet" href="/titan/styles/commonDoctor/doctorInfo.less" type="text/css" />
<link rel="stylesheet" href="/titan/styles/commonDoctor/orderInfo.less" type="text/css" />
<link rel="stylesheet" href="/titan/styles/commonDoctor/babyInfo.less" type="text/css" />
<link rel="stylesheet" href="/titan/styles/commonDoctor/remindInfo.less" type="text/css" />
<link rel="stylesheet" href="styles/phoneConsult/orderDetailPay.less" type="text/css" />

<body onload="doRefresh()">
<div class="orderDetailPay bg4">
    <div class="head tc bg1 border2 ">
        <div class="left fl f6 c3" onclick="goFirstPage()" >首页</div>
        <div class="title fl f8 c3" >订单详情</div>
        <div class="right fl" onclick="goMyselfCenter()" >
            <a class= my"  >
                <img class="my-img1" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/ap%2Fmy1.png" width="22" height="22" >
            </a>
        </div>
    </div>
    <div class="doctor-info bg1 border2">
        <div  class="pic">
            <img class="photo" width="62.5" height="62.5" src="images/a1.png">
        </div>
        <div class="intro">
            <div class="name"><span>{{orderDetail.doctorName}}</span>{{orderDetail.position}}</div>
            <div class="hospital">{{orderDetail.hospitalName}}</div>
            <div class="department">{{orderDetail.departmentName}}</div>
        </div>
    </div>
    <div class="order-info bg1 apart1">
        <ul>
            <li class="f4 c5">
                <span class="f4 c3 ">服务价格：</span> {{orderDetail.price}}元/{{orderDetail.server_length}}分钟
            </li>
            <li class="f4 c5">
                <span class="f4 c3">服务时间：</span> {{orderDetail.date}} &nbsp;{{orderDetail.beginTime}}-{{orderDetail.endTime}}
            </li>

        </ul>
    </div>
    <div class="order-info bg1">
        <ul>
            <li class="hd f4 c1">
                <i class="bg2"></i>订单详情
            </li>
            <li class="f4 c5">
                <span class="f4 c3 ">订单号：</span> <a class="order-num">{{orderDetail.orderNo}}</a><i class="c2">({{orderDetail.state}})</i>
            </li>
            <li class="f4 c5">
                <span class="f4 c3">姓名：</span> {{orderDetail.babyName}}
            </li>
            <li class="f4 c5">
                <span class="f4 c3">接听电话：</span> {{orderDetail.phone}}
            </li>
            <li class="f4 c5">
                <span class="f4 c3">下单时间：</span> {{orderDetail.orderTime}}
            </li>
        </ul>
    </div>
    <br><br><br><br><br>

    <br><br><br><br><br>
    <button class="button bottom-btn bg2" ng-if="orderDetail.state == '待支付'">去支付</button>
    <button class="button bottom-btn bg2" ng-if="orderDetail.state == '待接听'"
            ui-sref="phoneConCancelOrder({consultPhone_register_service_id:orderDetail.orderId})">取消预约</button>
    <button class="button bottom-btn bg2" ng-if="orderDetail.state == '待评价'"
            ui-sref="phoneConEvaluate({consultphone_register_service_id:orderDetail.orderId,doctorId:orderDetail.doctorId,
            date:orderDetail.date,beginTime:orderDetail.beginTime,endTime:orderDetail.endTime})">立即评价</button>
    <button class="button bottom-btn bg2" ng-if="orderDetail.state == '待分享'" ng-click="toShare()">去分享</button>
    <!--  选择宝宝列表-->
    <div class="baby-list">
        <dl>
            <dt id="selectBabyTitle">
                <i class="line"></i>
                <span>选择宝宝</span>
            </dt>
            <!--<div class="select" id="selBaby">-->

            <!--</div>-->
        </dl>
        <div onclick="addBaby()" class="select" style="background-color: #88d9dd">添加宝宝</div>
        <div onclick="cancelSelectBaby()" class="select">取消</div>
    </div>
</div>
</body>
</html>