.doctor{
  background-color: #f9f9f9;
}
.doctor .pic1{
  padding-top:50px;
  text-align: center;
}
.doctor .pic1 p{
  margin:30px 0;
  font-size:14px;
  color:#88d9dd;
}
.doctor .login-info ul{
  border-bottom: none;
}
.doctor  .doc-deal{
  background-color: #f9f9f9;
  padding-top:18px;
  text-align: center;
}
.doctor  .doc-deal img{
  //padding:0 20px;
  vertical-align: middle;
  margin-top:1px;
}
.doctor  .doc-deal a{
  color:#00b9c2;
  font-size:12px;
}
.doctor  .doc-deal a:hover{
  color:#00b9c2;
}
.doctor  .doc-deal a:active{
  color:#00b9c2;
}
.doctor  .doc-deal a:link{
  color:#00b9c2;
}
.doctor  .doc-deal a:visited{
  color:#00b9c2;
}
.doctor .foot-btn{
  margin-top:10px;
}