/*
.doctorConsultPay{

}
.doctorConsultPay .intro {
  padding: 55px 30px;
}
.doctorConsultPay .intro span {
  display: block;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -40px;
  font-size: 20px;
  color : #666;
}
.doctorConsultPay .intro span:nth-child(3){
  top: 99px;
  margin-left: -75px;
  font-weight: 700;
  display:block;
  color: #999;
  left: 157px;
}
.doctorConsultPay .intro .money {
  position: absolute;
  top: 4px;
  left: 50%;
  margin-left: -30px;
  font-size: 36px;
  color: #1FC3C5;
}
.doctorConsultPay .leave-words img{
  width: 45%;
}
.doctorConsultPay .leave-words{
  text-align: center;
  margin: 0 0 10px 0;
}
.doctorConsultPay .weChat{
  width: 100%;
  text-align: center;
  position: relative;
}
.doctorConsultPay .weChat div {
  font-size: 12px;
  color: #666;
  padding: 3px;
}
.doctorConsultPay .weChat div span {
  color: #ff1154;
}
.doctorConsultPay .weChat img {
  display: block;
  position: absolute;
  right: 0;
}
.doctorConsultPay .weChat img.right {
  left: 0;
}
.doctorConsultPay #payButton a.change{
  background-color: #1FC3C5;
  color: #fff;
  font-size: 14px;
  height: 36px;
  border-radius: 8px;
  margin: 18px auto;
  width: 274px;
  text-align: center;
  line-height: 36px;
  display: block;
}

.doctorConsultPay #payButton a.change:hover{
  background-color: #1FC3C5;
  color: #fff;
}
.doctorConsultPay .bottomImg img{
  width: 100%;
}
.poImg {
  width: 200px;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -100px;
}
.doctorConsultPay .useBabyCoin {
  font: 400 15px/15px 'Microsoft Yahei';
  color: #333;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 17px 29px;
  margin-bottom: 20px;
  overflow: hidden;
}

.doctorConsultPay .useBabyCoin .useBabyCoinLeft {
  float: left;
}

.doctorConsultPay .useBabyCoin .useBabyCoinRight {
  float: right;
  width: 60px;
}

.doctorConsultPay .useBabyCoin .useBabyCoinRight .useBabyCoinRightImg {
  width: 22px;
  height: 18px;
  float: left;
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/useBabyCoinRightChoose.png') 100% 100%/100% 100%;
}

.doctorConsultPay .useBabyCoin .useBabyCoinRight .useBabyCoinRightText{
  line-height: 18px;
  float: right;
}
.date{
  width:100%;
  height:40%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/date.png")no-repeat;
  background-size:100%;
}*/

.top{
  width:13.525333rem;
  padding-top: 1.237333rem;
  padding-bottom: 1.237333rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top i{
  display: inline-block;
  width:4.266667rem;
  height:0.682667rem;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/hengxian.png") no-repeat center center;
  background-size: 100%;
}
.top span{
  font-size:0.682667rem;
}

.chooseService{
  width:13.525333rem;
  height:6.613333rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin:0 auto;
}
.chooseService div{
  width:4.053333rem;
  height:5.12rem;
  border-radius:0.27rem;
  /*overflow: hidden;*/
  border:solid 2px #d1d1d1;
}
.chooseService div.service1{
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/service01.png")no-repeat;
  background-size: 100% 100%;
}
.chooseService div.service2{
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/service02.png")no-repeat;
  background-size: 100% 100%;
}
.chooseService div.service3{
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/service03.png")no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.chooseService div.active1{
  border:solid 2px #6ef8e0;
}
.chooseService div.active2{
  border:solid 2px #889df6;
}
.chooseService div.active3{
  border:solid 2px #f98391;
}
.chooseService .service3 .bao{
  position: absolute;
  top:-17px;
  right:-17px;
}

.babyCoin{
  width:100%;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  font-size: 0.64rem;
  color:#333;
}
.babyCoinSmall{
  width:13.525333rem;
  height:2.176rem;
  margin:0 auto;
 /* display: flex;
  justify-content: space-between;*/
}
.babyCoinSmall .babyCoin_L{
  width:90px;
  height:2.176rem;
  line-height: 2.176rem;
}
.babyCoinSmall .babyCoin_L .lack{
  color:red;
  font-size:0.256rem;
}





.babyCoinSmall .choose1{
  float:right;
  margin-right:10px;
  display: block;
  width:1.024rem;
  height:100%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/choose1.png") no-repeat center center;
  background-size: 100%;
}
.babyCoinSmall .choose2{
  float:right;
  margin-right:10px;
  display: block;
  width:1.024rem;
  height:100%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultPayVersion1.2/choose2.png") no-repeat center center;
  background-size: 100%;
}




.babyCoinSmall .babyCoin_R{
  /*width:1.28rem;*/
  float:right;
  height:2.176rem;
  line-height: 2.176rem;
}

.babyCoinSmall .babyCoin_R.red{
  /*width:1.28rem;*/
 color:red;
}
.detail{
  width:100%;
  height:1.664rem;
  margin-top:0.981333rem;
  font-size: 0.512rem;
  color:#999;
  text-align: center;
  line-height: 1.66rem;
}
#btn{
  width:90%;
  height:40px;
  line-height:40px;
  font-size:14px;
  color:#fff;
  text-align: center;
  margin:0 auto;
  background: #5b97eb;
  border-radius: 4px;
}
.date{
  margin:20px 0;
}



