.doctorConsultPay{

}
.doctorConsultPay .intro .money {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -28px;
  font-size: 36px;
  color: #1FC3C5;
}
.doctorConsultPay .intro{
}
.doctorConsultPay .leave-words{
  text-align: center;
  margin: 18px 0 20px 0;
}
.doctorConsultPay .weChat{
  width: 100%;
  text-align: center;
  position: relative;
}
.doctorConsultPay .weChat div {
  font-size: 13px;
  color: #999;
  padding: 3px;
}
.doctorConsultPay .weChat div span {
  color: #ff1154;
}
.doctorConsultPay .weChat img {
  display: block;
  position: absolute;
  right: 0;
}
.doctorConsultPay .weChat img.right {
  left: 0;
}
.doctorConsultPay #payButton {
  background-color: #1FC3C5;
  font-size: 14px;
  height: 36px;
  border-radius: 18px;
  margin: 40px auto;
  width: 274px;
  text-align: center;
  line-height: 36px;
}
.doctorConsultPay .bottomImg img{
  width: 100%;
}
