.lovePlanPay{

}
.lovePlanPay .intro{
 margin-top:10px;
 margin-left:15px;
}
.lovePlanPay .leave-words{
  margin:7px 15px 20px;
}
.lovePlanPay .leave-words textarea{
  width:100%;
  height:130px;
  border-radius: 25px;
  padding:20px;
  border:1.5px solid #2c9ee2;
  resize: none;
}
.lovePlanPay .weChat{
 border-top:1px solid #c8c8c8;
}
.lovePlanPay .weChat label{
  display: block;
  padding:17px 7.5px;
  border-bottom: 1px solid #ccc;
}
.lovePlanPay .weChat  input{
  display: inline-block;
  height:auto ;
}
.lovePlanPay .weChat .main{
  padding:11px 7.5px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.lovePlanPay .weChat .main img:nth-of-type(2){
  position: absolute;
  right:17.5px;
  top:17.5px;
}
.lovePlanPay .bottom-btn{
  background-color: #2c9ee2;
}