.telConsultPay{
  background-color: #f6f6f6;
}
.pay-com .item-price{
  position:relative;
  margin:55px 30px;
  border:1px solid #ccc;
  font-size:20px;
  padding:40px 0 30px;
}
.pay-com .item-price .headline{
  position:absolute;
  top:-13px;
  left:50%;
  margin-left:-55px;
  padding:0 15px;
}
.telConsultPay .btn{
  background-color: #1FC3C5;
  height: 36px;
  border-radius: 8px;
  margin: 18px 5%;
  width: 90%;
  text-align: center;
  line-height: 36px;
}
.telConsultPay .remind-text {
  width:90%;
  margin:45px auto;
  padding:20px 15px;
  /*box-shadow: 1px 2px 5px #ddd;*/
  border-radius: 30px;
}
.telConsultPay .remind-text dt{
 margin-bottom:20px;
}
.telConsultPay .remind-text dd{
  position: relative;
  padding-left:12px;
  margin-bottom:10px;
}
.telConsultPay .remind-text dd span{
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
}
.telConsultPay .remind-text a{
  color:#46aa86;
}