<ion-view view-title="医生评价">
    <ion-content class="consultDoctorCommentDetails" style="top:0;">
        <div class="details_title">
            <img ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/home_docwoman.png" width="40" height="40"/>
            <div>梁平</div>
        </div>
        <div class="details_comment">
            <div class="comment_content">
                <div class="content_title">
                    <img ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/home_comimg.jpg" width="20" height="20"/>
                    <span class="com_fontlength com_font13 com_color6">的吧德邦德邦的</span><span class="com_fontlength com_font12 com_color6 com_margin">2016-08-23</span>
                    <span class="contentspan4 com_font13 com_bold">100元</span><span class="contentspan3 com_font13 com_bold">不满意</span>
                </div>
                <div class="com_font14 com_color3 com_margin11">的空间路上看到就流口水jfk了算了jfk老师就离开房间昆仑山解放立刻就深刻理解的反馈数据来看大家思考</div>
            </div>
            <div class="comment_content comment_content2" ng-repeat="item in [0,1,2]">
                <div class="content_title">
                    <img ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/home_comimg.jpg" width="20" height="20"/>
                    <span class="com_fontlength com_font13 com_color6">的吧德邦德邦的</span><span class="com_fontlength com_font12 com_color6 com_margin">2016-08-23</span>
                    <span class="contentspan4 com_font13 com_bold">100元</span><span class="contentspan3 com_font13 com_bold">不满意</span>
                </div>
                <div class="com_font14 com_color3 com_margin11">的空间路上看到就流口水jfk了算了jfk老师就离开房间昆仑山解放立刻就深刻理解的反馈数据来看大家思考</div>
            </div>
        </div>
        <div class="details_more">
            <div>查看更多</div>
            <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/details_jiantou.png" width="12" height="6px"/>
        </div>
    </ion-content>
</ion-view>