<ion-view view-title="">
    <ion-content class="telConsultPaySuccess" style="top:0;">
       <div class="main">
           <img class="my-img2" width="70%" height="auto" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/telConsult/paySuccess.png">
           <a class="foot-btn btn c0 tc " href="tel:" >呼叫医生</a>
           <dl class="remind-text bg1">
               <dt class="tc c3 f6">温馨提示</dt>
               <dd class="c4 f3">
                   <span >1.</span> 出现异常：电话中断，医生会主动拔打电话
               </dd>
               <dd class="c4 f3">
                   <span >2.</span> 若未拨通电话，请及时联系客服<a href="tel:4006237120">400-623-7120</a><br>
                   电话：<a href="tel:18001350891">18001350891</a>
               </dd>

           </dl>
       </div>
    </ion-content>
</ion-view>