<html ng-app="app2">
<head>
</head>
<base href="/wisdom/"/>
<link rel="stylesheet" href="scripts/styles/bdf2/base2.less?ver='0.9'" type="text/css" />
<link rel="stylesheet" href="scripts/styles/bdf2/index.less?ver='0.9'" type="text/css" />
<link rel="stylesheet" href="scripts/styles/movingboxes.css" type="text/css" />
<link rel="stylesheet" href="scripts/styles/movingboxes-ie.css" type="text/css" />
<link rel="stylesheet" href="scripts/styles/perfect-scrollbar.min.css" type="text/css"/>
<script src="scripts/lib/jquery-1.11.2.min.js"></script>
<script src="scripts/lib/jquery.flexslider-min.js"></script>
<script src="scripts/lib/jquery.movingboxes.js"></script>
<script src="scripts/lib/perfect-scrollbar.min.js"></script>
<script src="scripts/lib/angular.min.js"></script>
<script src="scripts/lib/angular-resource.min.js"></script>
<script src="scripts/lib/angular-file-upload.min.js"></script>
<script src="scripts/lib/angular-ui-router.min.js"></script>
<script src="scripts/lib/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
<script src="scripts/controllers/baodaifuCtrl2.js"></script>
<script src="scripts/directives/baodaifuDirective2.js"></script>
<script src="scripts/services/baodaifuFactory2.js"></script>
<script src="scripts/app/baodaifuRoute2.js"></script>
<script src="scripts/lib/moment.min.js"></script>
<script src="scripts/lib/bootstrap-clockpicker.min.js"></script>
<script src="scripts/lib/bootstrap-datepicker.js"></script>
<script src="scripts/lib/bootstrap-datepicker.zh-CN.js"></script>
<link rel="shortcut icon" href="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc%2Fimg%2Ffavicon.ico" />
<title>宝大夫_针对中国宝宝的育儿健康服务平台</title>
<body>
<div ui-view></div>
</body>
<script>
    document.write('<scr'+'ipt type="text/javascript" ' +
            'src="http://v3.jiathis.com/code/jiathis_r.js?move=0&btn=r4.gif&uid=2100833" ' +
            'charset="utf-8"></scr'+'ipt>');
</script>
<script>
//    var loadJiaThis = function(){
//        document.write('<scr'+'ipt type="text/javascript" ' +
//                'src="http://v3.jiathis.com/code/jiathis_r.js?move=0&btn=r4.gif&uid=2100833" ' +
//                'charset="utf-8"></scr'+'ipt>');
//    }
//    setTimeout(loadJiaThis,1000);
</script>
</html>