<html ng-app="app">
<head>
</head>
<base href="/wisdom/"/>
<link rel="stylesheet" href="scripts/styles/base.css?ver='0.9'" type="text/css" />
<link rel="stylesheet" href="scripts/styles/index.css?ver='0.9'" type="text/css" />
<link rel="shortcut icon" href="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc%2Fimg%2Ffavicon.ico" />
<title>宝大夫_针对中国宝宝的育儿健康服务平台</title>
<body>
<div ui-view></div>
<script src="scripts/lib/jquery-1.11.2.min.js"></script>
<script src="scripts/lib/jquery.flexslider-min.js"></script>
<script src="scripts/lib/angular.min.js"></script>
<script src="scripts/lib/angular-resource.min.js"></script>
<script src="scripts/lib/angular-file-upload.min.js"></script>
<script src="scripts/lib/angular-ui-router.min.js"></script>
<script src="scripts/lib/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
<script src="scripts/controllers/baodaifuCtrl.js"></script>
<script src="scripts/directives/baodaifuDirective.js"></script>
<script src="scripts/services/baodaifuFactory.js"></script>
<script src="scripts/app/baodaifuRoute.js"></script>
<script src="scripts/lib/moment.min.js"></script>
<script src="scripts/lib/bootstrap-clockpicker.min.js"></script>
<script src="scripts/lib/bootstrap-datepicker.js"></script>
<script src="scripts/lib/bootstrap-datepicker.zh-CN.js"></script>
<script src="js/libs/moment.min.js"></script>
</body>
</html>