.consultHistory{

}
.consultHistory .remind{
  background-color: #ffff99;
  padding:12.5px 10px 12.5px 30px;
  position: relative;
  font-size:13px;
  color:#333;
}
.consultHistory .remind img{
  position: absolute;
  left:10px;
  top:16px;
}
.consultHistory .history-list{
  margin-left:30px;
  border-left:1px solid #88d9dd;

}
.consultHistory .history-list dl{
  position: relative;
  margin:0 15px 22.5px;
}
.consultHistory .history-list dl .cir{
  position: absolute;
  width:8px;
  height:8px;
  left:-19px;
  top:18px;
  background-color: #88d9d9;
  border-radius: 50%;
}
.consultHistory .history-list dt{
  font-weight: normal;
  font-size:14px;
  padding:12.5px 0;
}
.consultHistory .history-list dt .date{
  color:#999;
  padding-right:12.5px;
}
.consultHistory .history-list dt .des{
  color:#333;
}
.consultHistory .history-list dd{

  background-color: #fff;
  border-radius: 25px;
  box-shadow: 1px 2px 3px #ccc;
  padding:15px 17.5px 51px;
  position: relative;
}
.consultHistory .history-list p{
  color:#666;
  font-size:14px;
  text-indent: 2em;
  margin:0;
}
.consultHistory .history-list .continue{
  position: absolute;
  display: inline-block;
  bottom:12.5px;
  right:17.5px;
  width:64px;
  height:26px;
  line-height:26px;
  border-radius: 5px;
  text-align: center;
  color:#fff;
  font-size:12px;
  background-color: #88d9dd;
}
.consultHistory .load-more{
  text-align: center;
}
.consultHistory .load-more a{
  color:#88d9dd;
  font-size:12px;
  border-bottom: 1px solid #88d9dd;
}
.popup-container .popup{
  background-color: #fff;
  border-radius: 10px;
}
.popup-title{
  color:#fe717b;
  font-size:16px;
}
.popup-head{
  border:none;
}
.popup-buttons .button{
  min-height:34px;
  line-height:34px;
  background-color: #88d9dd!important;
}