.select-classify{
  position: absolute;
  z-index:2;
  left:0;
  bottom:0;
  width:100%;
  padding:17.5px 0;
  background-color:#fff;
}
.select-classify ul{
 ;
}
.select-classify ul li{
  width:80%;
  height:34px;
  line-height:34px;
  margin:0 auto 10px;
  text-align: center;
  font-size:16px;
  border-radius: 5px;
}
.select-classify ul li.common{
  border:1px solid #88d9dd;
  color:#88d9dd;
}
.select-classify ul li.other{
 background-color:#88d9dd;
  color:#fff;
}
.select-classify ul li.cancel{
  background-color:#fe717b;
  color:#fff;
}
.consultFillInfo{

}
.consultFillInfo .baby-info{
  background-color: #fff;
}
.consultFillInfo .baby-name{
  padding:17.5px 10px;
  font-size: 15px;
  color:#333;
  border-bottom: 1px solid #ccc;
}
.consultFillInfo .baby-name img{
  float: right;
}
.consultFillInfo .baby-info .illness-des{
  margin:0 10px;
}
.consultFillInfo .illness-des textarea{
  width:100%;
  height:200px;
  color:#666;
  font-size:13px;
  padding: 8px 0;
  resize: none;
}
.consultFillInfo .img-info{
  margin:0 10px;
  border-bottom: 1px dashed #ccc;
}
.consultFillInfo .img-list{
  width:100%;
  padding-top:20px;
  margin-bottom:15px;
  position: relative;
  overflow: hidden;
}
.consultFillInfo .img-list li{
  position: relative;
  float: left;
  margin-right:15px;
}
.consultFillInfo .img-list li .delete{
  position: absolute;
  top:-10px;
  right:-9.5px;
}
.consultFillInfo .img-info .uploadImg{
  padding-bottom: 12.5px;
  overflow:hidden;

}

.consultFillInfo  .uploadImg img{
  float: left;
  margin-right:17.5px;
}
.consultFillInfo  .uploadImg .text{
  float: left;
  margin-top:25px;
}
.consultFillInfo  .uploadImg  h4{
  font-size: 13px;
  font-weight: normal;
  color:#333;
  margin:0;
}
.consultFillInfo  .uploadImg span{
  color:#666;
  font-size: 12px;
}
.consultFillInfo .consult-history{
  background-color: #fff;
  padding:10px 14px;
}
.consultFillInfo .consult-history .time{
  vertical-align: middle;
  margin-top:-2px;
  margin-right:10px;
}
.consultFillInfo .consult-history  .detail{
  float: right;

}
.consultFillInfo .foot-btn{
  margin-top:50px;
}