.consultBabyList{

}
.consultBabyList .baby-list{
  margin:10px 10px 60px;
}
.consultBabyList .baby-list li{
  border-radius: 5px;
  border:1px solid #ccc;
  margin-bottom:10px;
  position: relative;
  padding:20px 20px 20px 54px;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultApply%2Fconsult_record.png") no-repeat #fff right top;
  background-size: auto 100%;
}
.consultBabyList .baby-list li:last-of-type{
  margin-bottom: 0;
}
.consultBabyList .baby-list li .bg{
  position: absolute;
  left:0;
  top:0;
}
.consultBabyList .baby-list li .record{
  position: absolute;
  right:0;
  top:0;
}
.consultBabyList .baby-list li .info{
  margin-bottom: 20px;
}
.consultBabyList .baby-list li .info:last-of-type{
  margin-bottom: 0;
}
.consultBabyList .baby-list li .key{
  color:#333;
}
.consultBabyList .baby-list li .value{
  color:#666;
}
.consultBabyList  .remind-text{
  color:#999;
  font-size: 14px;
  text-align: center;
}
.consultBabyList .foot-btn{
  background-color: #fe717b;
  margin-top:30px;
  margin-bottom: 30px;
}