.knowledgeWarn{
  background-color: #88d9dd;
}
.overflow-scroll .scroll{
  height: 100%!important;
}
.knowledgeWarn .slider {
  height:100%;
  position: relative;
  visibility: hidden;
  overflow: hidden;
}
.knowledgeWarn .box{
  width:80%;
  border-radius: 10px;
  margin:10px 10% 0;
  padding:0 0 50px;
  color:#666;
 /* box-shadow: 1px 1px 3px rgba(0,0,0,.3);*/
  position: relative;
  top:15%;
  background: #fff;
  min-height:350px;
  position: relative;


}
.knowledgeWarn .box .warn-bg{
  position: absolute;
  left:0;
  bottom: -15px;
  z-index: 9;
}
.knowledgeWarn .box h3{
  text-align: center;
  height:50px;
  line-height:50px;
  background-color: #ffa2a2;
  color:#fff;
  font-size:16px;
  font-weight: normal;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.knowledgeWarn .box h3 img.img-l{
  position: absolute;
  top:19px;
  left:20px;
}
.knowledgeWarn .box h3 img.img-r{
  position: absolute;
  right:20px;
  top:19px;

}
.knowledgeWarn .box p{
  height:100%;
  margin:0 15px;
  font-size:14px;
  line-height:24px;
}
.knowledgeWarn .slider-pager .slider-pager-page{
  color:#fe717b;
}
.knowledgeWarn .slider-pager i{
}