.loadPic {
  fill: #ffa2a2;
  stroke: #ffa2a2;
  color: #ffa2a2!important;
}
.attention-shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 9;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}
.bdf-attention{
  position: absolute;
  z-index:15;
  width:100%;
  margin:70px 0;
}
.bdf-attention div img{
  display: inline-block;
  margin:0 5%;
}

.bdf-attention dl{
  width:70%;
  position: relative;
  color:#fff;
  margin:0 15%;
}


.bdf-attention dt{
  color:#fff;
  font-size:17px;
  font-weight: normal;
  margin-bottom:22.5px;
  text-align: center;
  position: relative;
}

.bdf-attention dt span{
  display: inline-block;
  width:28%;
  height:1px;
  background-color: #fff;
  position: absolute;
  top:11px;
}
.bdf-attention dt span.ll{
  left:0;
}
.bdf-attention dt span.rr{
  right:0;
}
.bdf-attention dd{
  font-size:14px;
  margin-bottom:22.5px;
  line-height: 26px;
}
.bdf-attention dd img{
  margin-top:20px;
}
.bdf-attention dd .cir{
  display: inline-block;
  width:5px;
  height:5px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  margin-top:-3px;
}
.knowledgeArticleContent-out{
  background-color: #fff;
  width:100%;
  overflow-y: scroll;
  padding:0;
}
.knowledgeArticleContent{
  background-color: #fff;
  width:101%;
  height:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "微软雅黑";

}
.knowledgeArticleContent::-webkit-scrollbar {
  width:0px;
  height:0px;

}
.knowledgeArticleContent::-webkit-scrollbar-button {
  /* background-color:rgba(0,0,0,0);*/
  /*background-color: transparent;*/
  background-color: #fff;
}
.knowledgeArticleContent::-webkit-scrollbar-track{
  /* background-color:rgba(0,0,0,0);*/
  /*background-color: transparent;*/
  background-color: #fff;
}
.knowledgeArticleContent::-webkit-scrollbar-thumb{
  /* background-color:rgba(0,0,0,0);*/
  /* background-color: transparent;*/
  background-color: #fff;
}
.knowledgeArticleContent::-webkit-scrollbar-corner {
  /*background-color:rgba(0,0,0,0);*/
  /* background-color: transparent;*/
  background-color: #fff;
}
.knowledgeArticleContent::-webkit-scrollbar-track-piece{
  background:none;
}
.knowledgeArticleContent.item{
  padding:0;
}
.art-de{
  width:100.10%;
  position: relative;
}
.art-de .author{
  width:100%;
  font-weight: 500;
  text-align: right;
  color:#fff;
  font-size:12px;
  padding:0 15px 10px 0;
  background-color: #ffa2a2;
  margin:0;
}
.art-de h2.title {
  font-size:20px;
  color:#fff;
  text-align: center;
  padding:15px 10px 8px;
  background-color: #ffa2a2;
  word-break: normal;
  white-space:normal;
  position: relative;
  margin-bottom:0;

}
.art-de h2.title span{
  position: absolute;
  right:15px;
  bottom: 10px;
  color:#fff;
  font-size:12px;
}

.art-de p{
  font-size: 12px;
  color:#666666;
  line-height:24px;
  padding:0 15px;
  margin-top:15px;
  white-space: normal;
  text-align:justify;
  text-justify:distribute;

}
.baodf{
  position: relative;
}
.knowledgeArticleContent .sao{
  text-align: center;
}
.knowledgeArticleContent .sha{
  position:absolute;
  left:50%;
  top:2px;
  z-index: 3;
  width:133px;
  height:63px;
  background: #000;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
  margin-left:-66px;
  border-radius: 10px;
}
.knowledgeArticleContent .sao a{
  z-index: 4;
  position: absolute;
  top:14px;
  left:50%;
  text-align: right;
  color:#fff;
  font-size:16px;
  margin-left:-25px;
}
.knowledgeArticleContent .sao .a-down{
  z-index: 4;
  position: absolute;
  top:23px;
  left:50%;
  margin-left:-55px;
}
#con{
  margin:30px 10px;
}
#con p img{
  display: block;
  margin:0 auto;
}
.sub-t{
  width:95%;
  margin:20px 0 20px 5%;
  position: relative;
}
.sub-t .baodf{

}

.sub-t span{
  font-size:11px;
  color:#999;
  margin-right:20px;
}
.sub-t .parenting{
  color:#88d9dd;
  font-size:13px;
  padding-bottom: 3px;
  border-bottom: 1px solid #88d9dd;
}
.sub-t img{
  vertical-align: middle;
}
.a-tag{
  width:90%;
  margin:0 5%;
}
.a-tag img{
  vertical-align: middle;
  margin:0 20px 0 0;
}
.a-tag span{
  color:#ffa2a2;
  font-size:16px;
  margin-right:15px;
}
.zan{
  position: relative;
  text-align: center;
  height:59px;
  margin:15px 0;
}
.zan img.line{
  display: inline-block;
  position: absolute;
  top:5px;
  width:42%;
}
.zan span{
  display: inline-block;
  top:28.5px;
  width:36%;
  height:1px;
  background-color: #ffa2a2;
  position: absolute;
}
.zan .line-l{
  left:5%;
}
.zan .line-r{
  right:5%;
}
.zan a{
  color:#999;
  font-size:14px;
  position: absolute;
  left:50%;
  margin-left:-16.5px;
  top:9.5px;

}
.knowledgeArticleContent .related-article {
  position: relative;
  margin:30px 15px;
  border:1px dashed #88d9dd;
  border-radius: 10px;
  padding:30px 20px;
}
.knowledgeArticleContent .related-article  h3{
  width:100px;
  height:20px;
  line-height:20px;
  text-align: center;
  background-color: #fff;
  color:#333;
  font-size:19px;
  position: absolute;
  left:50%;
  top:-10px;
  margin-left:-50px;
}
.knowledgeArticleContent .related-article li{
  font-size:16px;
  color:#88d9dd;
  margin-bottom:15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.knowledgeArticleContent .related-article p{
  font-size:16px;
  color:#009ACD;
  margin-top:15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.knowledgeArticleContent .related-article li:last-child{
  margin-bottom:0;
}
.knowledgeArticleContent .guide{
  margin-top:25px;
}
.knowledgeArticleContent .guide li{
  width:90%;
  border:1px solid #88d9dd;
  border-radius: 5px;
  margin-left:5%;
  position: relative;
  margin-bottom: 35px;
}
.knowledgeArticleContent .guide p{
  color:#88d9dd;
  font-size:14px;
  margin:20px 15px;
  padding:0;
}
.knowledgeArticleContent .guide .dian{
  /*position: absolute;
  top:10px;
  right:10px;*/
  /*text-align: center;*/
  margin-left: 15px;
}

.knowledgeArticleContent .guide a.dj{
  display: inline-block;
  padding:6px 10px;
  text-align: center;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size:14px;
}
.knowledgeArticleContent .guide img{
  vertical-align: middle;
}
.knowledgeArticleContent .guide .down-sao {
  position: absolute;
  bottom: 77px;
  right:27%;
}
.s-code {
  margin-bottom: 70px;
  position: relative;
}

.s-code img{
  box-sizing: content-box;
}
.s-code .code_bottom1{
  position: absolute;
  top:33px;
  left:50%;
  margin-left:-40%;
}
.knowledgeArticleContent .code-top-out{
  border-bottom: 1px solid #ffa2a2;
}
.knowledgeArticleContent .code-top{
  text-align: center;
  margin:0 5% 20px;
  background-color: #fff;
  position: relative;
  border:1px solid #88d9dd;
  border-radius: 10px;

}
.knowledgeArticleContent .code-top img{
  border-radius: 10px;

}
.knowledgeArticleContent .code-top p{
  position:absolute ;
  color:#999;
  font-size:12px;
  left:30%;
  top:10%;
}
.knowledgeArticleContent .comment{
  width:100%;
}
.knowledgeArticleContent .comment dt{
  font-size:14px;
  color:#fff;
  font-weight: normal;
  background-color: #88d9dd;
  height:34.5px;
  line-height:34.5px;
  padding-left:15px;
}
.knowledgeArticleContent .comment dt img{
  float: right;
}
.knowledgeArticleContent .comment dd{
  border-bottom: 1px solid #f0f0f0;
  margin:0 10px;
}
.knowledgeArticleContent .comment dd p{
  padding:0;
  margin-top:0;
}
.knowledgeArticleContent .consult-book{
  overflow: hidden;
}
.knowledgeArticleContent .consult-book dt{
  font-size:13px;
  color:#ffa2a2;
  text-align: center;
  font-weight: normal;
  margin:10px 0 15px;
}
.knowledgeArticleContent .consult-book dd{
  width:50%;
  float: left;
  text-align: center;
}
.knowledgeArticleContent .consult-book .text1{
  display: inline-block;
  color:#fff;
  font-size:13px;
  background-color: #ffd400;
  padding:7px 15px;
  border-radius: 20px;
  margin:5px 0;
}
.knowledgeArticleContent .consult-book .text2{
  color:#666;
  font-size:12px;
}
