.pane, .view {
  background-color: #ffffe4;
}
.myGroup1{
  width:100%;
  position: absolute;
  z-index:3;
  top:0;
  background-color: #ffffe4;
}

.myGroup1 .symptom-classify{
  width:90%;
  margin:0 5%;
  overflow-x: scroll;
  height:44px;
  line-height:44px;
  overflow-y: hidden;
  padding:0;
  border-radius: 20px;
  background-color: #fff;
  border:1px solid #88d9dd;
}
.myGroup1 .symptom-classify::-webkit-scrollbar {
  width:0;
  height:0;
}

.myGroup1  .symptom-classify div{
  width:50%;
  display: inline-block;
  text-align: center;
}
.myGroup1  .symptom-classify .bgColor{
  background-color: #88d9dd;
  color:#fff;
}
.apart1{
  width:100%;
  height:1px;
  background-color: #88d9dd;
  margin-top: 17px;

}

.todayChoiceNewborn{
  background-color: #ffffe4;
}


