.todayChoiceNursling{
  background-color: #ffffe4;
}
.todayChoiceNursling .mySearch{
  margin:30px 0;
}
.todayChoiceNursling  .allItem{
  margin:0 5%;
  border-top: 1px solid #f0f0f0;
  position: relative;
  padding-top:30px;
  text-align: center;
}
.todayChoiceNursling  .allItem .cir{
  position: absolute;
  left:50%;
  top:0;
  margin-top:-25px;
  margin-left:-24px;
  width:48px;
  height:48px;
  line-height:48px;
  text-align: center;
  background-color: #ffffe4;
}
.todayChoiceNursling  .cir span{
  display: inline-block;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.todayChoiceNursling  .allItem a{
  display: inline-block;
  padding:5px 10px;
  font-size:14px;
  color:#88d8dd;
  text-align: center;
  background-color: #ffffe4;
  margin-right:15px;
  margin-bottom: 25px;
  border-radius: 20px;
  border:1px solid #88d9dd;

}
.todayChoiceNursling  .allItem  .more{
  color:#88d9dd;
  font-size:13px;
  text-align: center;
  background-color: #ffffe4;
  border-radius: 20px;
  border:1px solid #88d9dd;
  width:50px;
  padding:5px 10px;
  display: inline-block;
  margin:0 auto;

}
.todayChoiceNursling .noContent{
  text-align: center;
  color:#ccc;
  font-size:13px;
  margin-top:20px;
}


