<html>
<head>
</head>
<base href="/xiaoerke-marketing-webapp/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>宝大夫</title>
<link rel="stylesheet" href="styles/momNutrition/momNutritionTest.less" type="text/css" />
<body onload="momNutritionTestInit()">
    <div class="momNutritionTest" style="top:0;overflow:auto;height:100%;">
        <div>
            <img class="my-img-block" width="100%" height="auto"
                 src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Ftest_banner.png">
        </div>
        <div class="intro">
            <h3>
                当妈妈的、要当妈妈的、想当妈妈的<br>
                你对宝宝的喂养知识到底了解多少呢？
            </h3>
            <p>
                参与喂养测试<br>
                iPhone6s plus、小米空气净化器、<br>
                上百本绘本、海鲜兑换卷等你来拿！<br>
                还有机会参加我们的水立方终极辅食pk大赛呦！<br>
            </p>
        </div>
        <div class="test-list">
            <div class="test" id="testList">
            </div>
        </div>
        <div id="leftPart">
        </div>
    </div>
</body>
<link rel="stylesheet" href="styles/lib/ionic.min.css"/>
<link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
<link rel="stylesheet" href="styles/lib/animate.min.css"/>
<link rel="stylesheet" href="styles/main.less"/>
<link rel="stylesheet" href="styles/main.css"/>
<script src="js/first/momNutritionTestFirst.js"></script>
<script src="js/libs/jquery.scrollstop.min.js"></script>
<script src="js/libs/lodash.min.js"></script>
</html>