*{
  padding:0;
  margin:0;
}
dl,dd,ul,li{
  list-style:none;
}
input,textarea{
  border:none;
}
.orderDetailPay{

}
.orderDetailPay .head .right img {
  margin-top:11px;
}
.orderDetailPay{

}
.orderDetailPay .doctor-info{
  margin-bottom:7.5px;
}
.doctor-info .intro div {
  margin-bottom: 4px;
}
.orderDetailPay .order-info li{
  border-bottom:1px solid #ccc;
}
.orderDetailPay .order-info li:last-of-type{
  border-bottom:none;
}
.orderDetailPay .order-info .order-num{
  color:#5543ff;
}
.orderDetailPay .bottom-btn{

}