*{
  padding:0;
  margin:0;
}
dl,dd,ul,li{
  list-style:none;
}
input,textarea{
  border:none;
}
.phoneConsultPay{

}
.phoneConsultPay .head .right img {
  margin-top:11px;
}
.phoneConsultPay .doctor-info {
  padding-left:100px;
}
.phoneConsultPay .doctor-info .intro div {
  margin-bottom: 4px;
}
.phoneConsultPay .doctor-info .pic {
  left: 25px;
}
.phoneConsultPay .order-info li.case{
  background-color: #f9f9f9;
  padding:10px 15px;
  border-radius: 10px;
}
.phoneConsultPay .order-info li.case a{
  float: right;
  font-size: 13px;
  color:#666;
}
.phoneConsultPay .order-info li.case textarea{
  padding-top:15px;
  width:100%;
  height:100px;
  resize: none;
  background: none;
  font-size: 13px;
  color:#333;
  margin-top:7px;
}
.phoneConsultPay .order-info li.case textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}
.phoneConsultPay .order-info li.case textarea::-webkit-input-placeholder {
  color: #ccc;
}

.phoneConsultPay .order-info li.case textarea:-ms-input-placeholder {
  color: #ccc;
}