.picSpreadResult{

}
.picSpreadResult .main{
  margin:29px 15% 0;
  position: relative;
}
.picSpreadResult .main img{
 /* display: block;*/
}
.picSpreadResult .main .logo{
  position: absolute;
  left:-18%;
  top:0;
}
.picSpreadResult .main .result-pic{
  margin-top:13px;
  margin-bottom:14px;
}
.picSpreadResult .main .praise-list{
   margin-top:10px;
 }
.picSpreadResult .main .btn{
  margin-top:30px;
}
