.picSpreadIndex{
  height:100%;
}
.picSpreadIndex .main-wrap{
  display:table;
}
.picSpreadIndex .main{
  margin: 20px 0 0 0;
}
.picSpreadIndex .main .name{
  display: block;
  width:80%;
  height:50px;
  padding:15px;
  border:1px solid #37a8ff;
  margin:17px auto 18px;
}
.picSpreadIndex .main .btn{
  margin-top:15px;
}