<html ng-app="doctorConsultApp">
<head>
</head>
<base href="/angel/"/>
<link rel="stylesheet" href="scripts/styles/doctorConsultIndex.css?ver=1.1.3" type="text/css"/>
<title>医生咨询端</title>
<body>
<div ui-view></div>
<script src="scripts/lib/jquery-2.2.2.min.js"></script>
<script src="scripts/lib/jquery.browser.min.js"></script>
<script src="scripts/lib/jquery.flexslider-min.js"></script>
<script src="scripts/lib/jquery.qqFace.js"></script>
<script src="scripts/lib/drag_map.js"></script>
<script src="scripts/lib/angular.min.js"></script>
<script src="scripts/lib/angular-resource.min.js"></script>
<script src="scripts/lib/angular-file-upload.min.js"></script>
<script src="scripts/lib/angular-ui-router.min.js"></script>
<script src="scripts/lib/moment.min.js"></script>
<script src="scripts/lib/scrollglue.js"></script>
<script src="scripts/lib/reconnecting-websocket.min.js"></script>
<script src="scripts/controllers/doctorConsultCtrl.js?ver=2.5.2"></script>
<script src="scripts/directives/doctorConsultDirective.js?ver=2.5.2"></script>
<script src="scripts/services/doctorConsultFactory.js?ver=2.5.2"></script>
<script src="scripts/app/doctorConsultRoute.js?ver=2.5.2"></script>
<script src="/angel/scripts/lib/My97DatePicker/WdatePicker.js"></script>
</body>
</html>