body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}

.index_title{
  height: 30px;
  background-color: #323232;
}
.index_title img{
  display: inline-block;
  margin-left: 26%;
  margin-top: 4px;
  width: 86px;
  height: 26px;
}
.index_title span{
  display: inline-block;
  height: 50px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  font-size: 7px;
  color: #FFFFFF;
}
.index_title span:hover{
  background-color: #22c4c6;!important;
}
.index_title span:nth-child(2){
  margin-left: 35%;!important;
}
.index_title span:nth-child(3){
  margin-left: 2%;!important;
}
