body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}

.index_title{
  height: 30px;
  background-color: #323232;
}
.index_title img{
  display: inline-block;
  margin-left: 26%;
  margin-top: 4px;
  width: 86px;
  height: 26px;
}
.index_title span{
  display: inline-block;
  height: 50px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  font-size: 7px;
  color: #FFFFFF;
}
.index_title span:hover{
  background-color: #22c4c6;!important;
}
.index_title span:nth-child(2){
  margin-left: 35%;!important;
}
.index_title span:nth-child(3){
  margin-left: 2%;!important;
}



.bdf-foot{
  margin-top: 30px;
  text-align: center;
  background-color: #323232;
  font-size: 7px;
  color: #FFFFFF;
  padding:25px 0;
  position: relative;
}
.bdf-foot .but_guanzhu{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.bdf-foot .but_guanzhu .img_weixin{
  position: absolute;
  z-index: 3;
  bottom: 35px;
  left: -48px;
}
.bdf-foot .but_guanzhu .but_weiwo{
  margin-top: 11px;
}
.bdf-foot .but_guanzhu .but_weiwo .img_2{
  margin-left: 23px;
}
.bdf-foot .img_3{
  display: inline-block;
  margin-left: 35px;
  height: 60px;
}
.bdf-foot .but_guanyu{
  display: inline-block;
  vertical-align: top;
}
.bdf-foot .but_guanyu .foot_1{
  margin-left: 15px;
}
.bdf-foot .but_guanyu .foot_1 a{
  margin: 0 20px;
}
.bdf-foot .but_guanyu .foot_2{
  margin-left: 35px;
  margin-top: 20px;
}
.bdf-foot .but_guanyu .foot_2 span:last-child{
  margin-left: 20px;
}
