body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
body{
  font-family: consolas,微软雅黑;
}

.bdf_title{
  background-color: #323232;
  height: 60px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}
.bdf_title .bdf_main{
  width: 1135px;
  margin: 0 auto;
}
.bdf_title .bdf_main .bdf_logo{
  display: inline-block;
  background: url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_logo_png.png) no-repeat;
  width: 172px;
  height: 58px;
  float: left;
  margin-top: 3px;
}

.bdf_title .bdf_main ul{
  list-style: none;
  display: inline-block;
  float: right;
}

.bdf_title ul li{
  display: inline-block;
  width: 90px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 60px;
}
.bdf_title ul li:hover{
  background-color: #22c4c6;!important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



.bdf-foot{
  margin-top: 30px;
  text-align: center;
  background-color: #323232;
  font-size: 14px;
  color: #FFFFFF;
  padding:25px 0;
  position: relative;
}
.bdf-foot .but_guanzhu{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.bdf-foot .but_guanzhu .img_weixin{
  position: absolute;
  z-index: 3;
  bottom: 35px;
  left: -120px;
}
.bdf-foot .but_guanzhu .but_weiwo{
  margin-top: 22px;
}
.bdf-foot .but_guanzhu .but_weiwo .img_2{
  margin-left: 23px;
}
.bdf-foot .img_3{
  display: inline-block;
  margin-left: 35px;
  height: 60px;
}
.bdf-foot .but_guanyu{
  display: inline-block;
  vertical-align: top;
}
.bdf-foot .but_guanyu .foot_1{
  margin-left: 15px;
}
.bdf-foot .but_guanyu .foot_1 a{
  margin: 0 20px;
}
.bdf-foot .but_guanyu .foot_2{
  margin-left: 35px;
  margin-top: 40px;
}
.bdf-foot .but_guanyu .foot_2 span:last-child{
  margin-left: 20px;
}
