body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}

.index_ban{
  background-image: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_banner_png.png");
  background-size: 100% 600px;
  height: 600px;
  position: relative;
  width: 100%;
}
.index_ban div:nth-child(1){
  position: absolute;
  font-size: 32px;
  top: 30px;
  left: 32%;
  color: #22c4c6;
}
.index_ban div:nth-child(2){
  position: absolute;
  font-size: 26px;
  top: 90px;
  left: 43%;
  color: #22c4c6;
}
.index_ban .ban_img{
  position: absolute;
  top: 30px;
  right: 24%;
}
.index_ban .ban_img div{
  vertical-align: top;
  text-align: center;
  margin-top: 16px;
  font-size: 8px;
  color: #909090;
  width: 110px;
  margin-left: -45px; ;
}

.index_zhuan{
  text-align: center;
}
.index_zhuan .img{
  margin-top: 41px;
}
.index_zhuan .ite{
  height: 316px;
  margin-top: 41px;
}
.index_zhuan .ite .item_1{
  display: inline-block;
  width: 250px;
  height: 316px;
  vertical-align: top;
}
.index_zhuan .item_1_1{
  overflow: hidden;
  width: 250px;
  height: 158px;
  position: relative;
}
.index_zhuan .item_1_1 .info{
  position: absolute;
  top: 160px;
  background: #000000;
  opacity: 0.8;
  -moz-opacity: 0.5;
  width: 250px;
  height: 158px;
  padding: 12px 0;

}
.index_zhuan .item_1_1 .info div{
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
}
.index_zhuan .item_1_1:hover .info{
  top: 0;
  transition: 5s;
  -moz-transition:top 0.5s; /* Firefox 4 */
  -webkit-transition:top 0.5s; /* Safari and Chrome */
  -o-transition:top 0.5s;
}
.index_zhuan .item_1_2{
  text-align: center;
  width: 250px;
  height: 158px;
}
.index_zhuan .item_1_2 div:nth-child(1){
  font-size: 20px;
  color: #333;
}
.index_zhuan .item_1_2 div:nth-child(2){
  font-size: 14px;
  color: #666;
  margin-top: 11px;
}
.index_zhuan .item_1_2 div:nth-child(3){
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}
.index_zhuan .com2{
  padding-top: 80px;;!important;
}
.index_doctor{
  background-color: #fafafc;
  padding-top: 41px;
  text-align: center;
  position: relative;
  height: 450px;
}
.index_doctor .yao{
  position: absolute;
  top: 0;
  right: 0;
}
.index_doctor ul{
  margin-top: 41px;
}
.index_doctor ul li{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.index_doctor ul .doc_name{
  margin-top: 12px;
  font-size: 20px ;
}
.index_doctor ul .doc_name_info{
  font-size: 0 ;
}
.index_doctor ul .doc_hosp {
  margin-top: 2px;
  font-size: 0 ;
}
.index_doctor .doc_img{
  vertical-align: baseline;
  font-size: 100%;
}
#mov_doctor{
  border: hidden;
  text-align: center;
  height: auto;
}

.index_doctor .mb-inside{
  border: none;
}
.index_doctor .mb-wrapper{
  border: hidden;!important;
  box-shadow: none;
}
.index_doctor a.mb-scrollButtons.mb-left:hover{
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_left_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-right:hover{
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_right_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-left{
  left: -100px;
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_left_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-right{
  right: -100px;
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_right_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons{
  background: none;
  background-position: center;
}
.index_doctor .mb-left-shadow,.index_doctor .mb-right-shadow{
  background-image: none;
}
#mov_hosp{
  border: hidden;
  text-align: center;
  height: auto;
}
.hosp{
  background: url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_pinzhiyiyuan.png);!important;
}
.index_doctor .doc_mor{
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.index_doctor .doc_mor span{
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #22c4c6;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.index_doctor .doc_mor span:last-child{
  margin-left: 33px;
}
.index_yu{
  background-image: url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_yuerpindao.png);
  background-size: 100% 375px;
  text-align: center;
  padding-top: 41px;
}
.index_yu .yu_content{
  margin-left: 49%;
  margin-top: 41px;
  position: relative;
}
.index_yu .yu_content img{
  display: inline-block;
  float: left;
  margin-top: 5px;
}
.index_yu .yu_content .yu_content_con{
  display: inline-block;
  font-size: 10px;
  color: #333;
  line-height: 32px;
  vertical-align: top;
  margin-left: -35%;
  text-align: left;
}
.index_yu .yu_mor{
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
.index_yu .yu_mor span{
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #22c4c6;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.index_lian{
  margin-top: 55px;
  text-align: center;
  padding: 25px 0 15px ;
}
.index_lian div{
  display: inline-block;
  font-size: 8px;
  color: #333;
}
.index_lian div:last-child a{
  margin: 0 12px;
}

