body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}

.active{
  top: -126px !important;
  transition: top 0.5s linear;
  -webkit-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  transition: top 0.5s linear;
}

.index_ban{
  background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/bdf_banner1.png") no-repeat center;
  background-size: cover;
  height: 585px;
  margin: 60px auto 0;
  padding-bottom: 30px;
  text-align: center;
  transition: background 2s;
  -moz-transition: background 2s;	/* Firefox 4 */
  -webkit-transition: background 2s;	/* Safari 和 Chrome */
  -o-transition: background 2s;
  position: relative;
}
.index_ban .ban_out{
  position: relative;
  margin: 0 auto;
  width: 1024px;
}
.index_ban .ban_out div:nth-child(1){
  position: absolute;
  font-size: 32px;
  top: 60px;
  left: 20%;
  color: #22c4c6;
}
.index_ban .ban_out div:nth-child(2){
  position: absolute;
  font-size: 26px;
  top: 120px;
  left: 35%;
  color: #22c4c6;
}
.index_ban .ban_out .ban_img{
  position: absolute;
  top: 60px;
  right: -4%;
}
.index_ban .ban_out .ban_img div{
  vertical-align: top;
  text-align: center;
  margin-top: 90px;
  font-size: 16px;
  color: #909090;
  width: 150px;
  margin-left: -48px; ;
}
.index_ban .arrow{
  position: absolute;
  z-index: 333;
  width:100%;
  max-width:1300px;
  left:50%;
  margin-left:-650px;
  top: 230px;
}
.ban_jiantou{
  position: absolute;
  background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/bdf_bannerjianbei.png") no-repeat center;
  width: 47px;
  height:138px;
  text-align: center;
  cursor: pointer;
  opacity:0.4;
  filter:alpha(opacity=40);
}
.ban_jiantou:hover{
  opacity: 0.9;
  filter:alpha(opacity=90);
}
.ban_jiantou img{
  margin-top: 26px;
}
.jian_left{
  left:0;
}
.jian_right{
  right:0;
}

.index_ban ul{
  list-style: none;
  display: inline-block;
  margin-top: 574px;
  text-align: center;
  padding: 0;
  width: 100%;
}
.index_ban ul li{
  display: inline-block;
  background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/bdf_bandianzhong.png") no-repeat center;
  width: 12px;
  height: 12px;
  margin-right: 20px;
}



.index_zhuan{
  text-align: center;
  padding: 82px 0 86px 0;
  position: relative;
}
.index_zhuan .zhu_tingzhenqi{
  position: absolute;
  top: 0;
  left: 0;
}
.index_zhuan .zhu_title{
  margin-bottom: 82px;
  height: auto;
}
.index_zhuan .ite{
  height: 316px;
  margin-top: 41px;
}
.index_zhuan .ite .item_1{
  display: inline-block;
  width: 250px;
  height: 316px;
  vertical-align: top;
}
.index_zhuan .item_1_1{
  overflow: hidden;
  width: 250px;
  height: 158px;
  position: relative;
}
.index_zhuan .item_1_1 .info{
  position: absolute;
  top: 160px;
  background: #000000;
  opacity: 0.8;
  -moz-opacity: 0.5;
  width: 250px;
  height: 158px;
  padding: 20px 0;

}
.index_zhuan .item_1_1 .info div{
  text-align: center;
  margin-top: 10px;
  color: #FFFFFF;
}
.index_zhuan .item_1:hover .info{
  top: 0;
  transition: 0.5s;
  -moz-transition:top 0.5s; /* Firefox 4 */
  -webkit-transition:top 0.5s; /* Safari and Chrome */
  -o-transition:top 0.5s;
}
.index_zhuan .item_1_2{
  text-align: center;
  width: 250px;
  height: 158px;
}
.index_zhuan .item_1_2 div:nth-child(1){
  font-size: 20px;
  color: #333;
}
.index_zhuan .item_1_2 div:nth-child(2){
  font-size: 14px;
  color: #666;
  margin-top: 11px;
}
.index_zhuan .item_1_2 div:nth-child(3){
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}
.index_zhuan .com2{
  padding-top: 80px;;!important;
}
.index_doctor{
  background-color: #fafafc;
  text-align: center;
  position: relative;
  padding-bottom: 55px;
}
.index_doctor .yao{
  position: absolute;
  top: 0;
  right: 0;
}
//.index_doctor ul li img{
//  border-radius: 10px;
//  -webkit-border-radius: 10px;
//  -moz-border-radius: 10px;
//}
.index_doctor ul li{

}
.index_doctor ul .doc_name{
  margin-top: 12px;
  font-size: 16px ;
  width: 100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.index_doctor ul .doc_name_info{
  font-size: 0 ;
  width: 100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.index_doctor ul .doc_hosp {
  margin-top: 2px;
  font-size: 0 ;
  width: 100%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.index_doctor .doc_img{
  height: auto;
  margin:82px 0 82px;
}
#mov_doctor{
  border: hidden;
  text-align: center;
  height: auto;
}

.index_doctor .mb-inside{
  border: none;
}
.index_doctor .mb-slider .mb-panel{
  padding: 20px 10px;
}
.index_doctor .mb-wrapper{
  border: hidden;!important;
  box-shadow: none;
}
.index_doctor a.mb-scrollButtons.mb-left:hover{
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_left_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-right:hover{
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_right_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-left{
  left: -100px;
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_left_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons.mb-right{
  right: -100px;
  background-position: center;
  background-image:  url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_right_png.png);
  background-repeat:no-repeat ;
}
.index_doctor a.mb-scrollButtons{
  background: none;
  background-position: center;
}
.index_doctor .mb-left-shadow,.index_doctor .mb-right-shadow{
  background-image: none;
}
#mov_hosp{
  border: hidden;
  text-align: center;
  height: auto;
}
.hosp{
  background: url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_pinzhiyiyuan.png);!important;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.index_doctor .doc_mor{
  text-align: center;
  margin-top: 55px;
}
.index_doctor .doc_mor span{
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #22c4c6;
  width: 120px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
/*.index_doctor .doc_mor span:last-child{
  margin-left: 33px;
}*/
.index_yu{
  background-image: url(http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_yuerpindao.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.index_yu .yu_title{
  margin:82px 0 82px ;
  height: auto;
}
.index_yu .yu_content{
  margin-left: 50%;
  position: relative;
  width: 949px;
}
.index_yu .yu_content img{
  display: inline-block;
  float: left;
  margin-top: 5px;
}
.index_yu .yu_content .yu_content_con{
  display: inline-block;
  font-size: 20px;
  color: #333;
  vertical-align: top;
  margin-left: -35%;
  text-align: left;
}
.index_yu .yu_content .yu_content_con dd{
  margin-bottom: 32px;
}
.index_yu .yu_mor{
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
.index_yu .yu_mor span{
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #22c4c6;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
.index_lian{
  margin-top: 55px;
  text-align: center;
  padding: 25px 0 15px ;
}
.index_lian div{
  display: inline-block;
  font-size: 8px;
  color: #333;
}
.index_lian div:last-child a{
  margin: 0 12px;
}

