<html>
<head>
</head>
<base href="/wisdom/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>救助蛋蛋公益计划</title>
<link rel="stylesheet" href="styles/common/editComment.less" type="text/css" />
<link rel="stylesheet" href="styles/lovePlan/lovePlanFirst.less" type="text/css" />
<body onload="lovePlanFirsInit()">
    <div class="lovePlanFirst" >
        <!--蛋蛋资料-->
        <div class="pic-list bg1">
            <dl class="f3 c3">
                <dt class="fw0 tc f6">携手任泉救助蛋蛋公益计划</dt>
                <dd>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic8.jpg">
                    <!--<img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic1.jpg">-->
                    <p>我从来不敢去想，那些在电视上才会看到的悲剧故事有一天发生在我的身上，发生在我2岁的儿子蛋蛋身上。</p>
                </dd>
                <dd>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic2.jpg">
                    <p>当医生告诉我蛋蛋被诊断为横纹肌肉瘤（一种恶性肿瘤）的时候，我觉得天都要塌下来了，为什么会是蛋蛋？为什么是我的儿子。</p>
                </dd>
                <dd>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic3.jpg">
                    <p>从山东到北京，从确诊到治疗，每天看着他在手术室、化疗室、放疗室忍受本不该属于他的痛苦，而作为母亲的我什么都不能替他做，如果人生有惩罚，请让我来承受这一切，只求能够放过我的孩子。</p>
                </dd>
                <dd>
                    <img  class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic4.jpg">
                    <p>有记者知道了蛋蛋的病情来报道，他们感慨我们租住在儿童医院旁边的房子破旧，可是他们不知道，我们一家人有多满意这个临时的家。</p>
                </dd>
                <dd hidden>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic11.jpg">
                    <p>它有大大的窗户，每天都会有阳光照进来，你知道吗？这阳光不仅给我们带来视觉上的光明，也给我们和蛋蛋心灵上带来希望，我们一家三口都相信，蛋蛋会好起来，会像所有的同龄人一样快乐的长大！</p>

                </dd>
                <dd hidden>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic5.jpg">
                    <p>他们还不知道，这个临时的家最让我们开心的是它离儿童医院近，爸爸只要骑着这个三轮车就能送蛋蛋去医院，而这不仅仅是节省了时间，还避免了蛋蛋被感染的风险。</p>
                </dd>
                <dd hidden>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_pic6.jpg">
                    <p>我不太敢和蛋蛋对视，我害怕那双渴望生命、渴望未来的眼神，仿佛永远都在说，妈妈别怕，我没事儿。而我却只能泪流满面…… </p>
                </dd>
                <dd hidden>
                    <ul class="prove">
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove1.png" onclick="previewImage(0)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove2.png" onclick="previewImage(1)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove3.png" onclick="previewImage(2)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove4.png" onclick="previewImage(3)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove5.png" onclick="previewImage(4)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove6.png" onclick="previewImage(5)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove7.png" onclick="previewImage(6)"/></li>
                        <li><img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fprove8.png" onclick="previewImage(7)"/></li>
                    </ul>
                </dd>
                <p>
                    只要能筹集到后续的治疗费用，蛋蛋就一定能健康的活下去。<br>
                </p>
                <p>
                    我希望大家能够帮帮蛋蛋，帮帮我们这可怜的一家。谢谢，谢谢！
                </p>

            </dl>
            <div class="lookMore tc f4 ">
                <a onclick="lookMore()">
                    点击查看全部 <i class="ion-ios-arrow-down"></i>
                    <!--<img class="my-img1" width="10" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/open_down.png">-->
                </a>
            </div>
        </div>
       <div class="bg">
           <!--标题-->
           <!-- <div class="title ">
                <img class="my-img1" width="22" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                <span class="f2 c11"> 宝大夫关爱儿童公益计划</span>
            </div>
            &lt;!&ndash;捐款者信息&ndash;&gt;
            <div class="info">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Finfo_bg.png">
                <div class="hd">
                    <img class="my-img2 " width="150" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Finfo_title.png">
                    <img class="photo my-img1 radius" id="headImage" width="34" height="34" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                </div>
                <ul>
                    <li class="c11 fl f2">邀请：<span class="" id="friendNums">12</span>位好友</li>
                    <li class="c11 fl f2">捐款：<span class="" id="loveMoney">199.0</span>元</li>
                    <li class="c11 fl f2">已超越<span class="" id="transcend">80%</span>宝妈</li>
                </ul>
            </div>
            <div class="clear"></div>-->
           <!-- 爱心计划简介-->
           <!--  <div class="intro margin1">
                 <h4 class="tc">
                     <img class="my-img1" width="90%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fintro_title.png">
                 </h4>
                 <img align="left" class="angel" width="45%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fbaby_photo1.png">
                 <p class="fr f2 c11">
                     生成你的专属爱心专属海报<br>
                     每传递一人<br>
                     宝大夫替您捐款一元<br>
                 </p>
                 <img class="angel-word" width="190" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fangel_word.png">

             </div>-->
           <div class="clear"></div>
           <!--爱心天使-->
           <!--  <div class="raise-slogan">
                 <img class="my-img2" width="245" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/love_slogan.png">
             </div>-->
           <div class="raise-out">
               <div class="raise">
                   <div class="angel">
                       <img class="" width="66" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fangel.png">
                   </div>
                   <img class="renQuan" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/renQuan.png">
                   <h4 class="tc f7 c11">同时感谢<span id="counts"></span>位爱心天使</h4>
                   <ul class="bg1" onclick="goLovePlanList()">
                       <li class="fl tc">
                           <img class="radius" width="36"  height="36" id="loverHearts0" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                       </li>
                       <li class="fl tc">
                           <img class="radius" width="36"  height="36" id="loverHearts1" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                       </li>
                       <li class="fl tc">
                           <img class="radius" width="36"  height="36" id="loverHearts2" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                       </li>
                       <li class="fl tc">
                           <img class="radius" width="36"  height="36" id="loverHearts3" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                       </li>
                       <li class="fl tc">
                           <img class="radius" width="36"  height="36" id="loverHearts4" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                       </li>
                       <img class="arr fr" width="6" height="auto" src=" http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FlovePlan_arr.png">
                   </ul>
                   <div class="money">
                       <div class="name c11 f5">为蛋蛋筹集了</div>
                       <div class="ruler">
                           <div class="line">
                               <div class="num tc">
                                   <img class="heart" width="46" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fmoney_heart.png">
                                   <div class="have c11 f7 tc">
                                       <span class="" id="lovemoneyCount"></span>
                                       <div class="f3">元已筹集</div>
                                   </div>
                               </div>
                           </div>
                           <span class="target c11 f5">目标：20万元</span>
                       </div>
                   </div>
               </div>
           </div>
           <!--捐助的项目-->
           <!--   <div class="project">
              <dl>
                  <dt class="bg1 fw0 c11 f6">捐助的项目</dt>
                  <dd>
                      <img class="photo my-img1" width="80" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fbaby_photo2.png">
                      <div class="c11 f5">我不想做巨头怪物</div>
                      <p class="c11 f2">我叫蛋蛋，两岁的我有一个比别人大一半的头，我已经很久没有笑过了，因为一笑就很疼很疼······</p>
                  </dd>
              </dl>
          </div>-->
           <!--爱心留言-->
           <div class="words">
               <h3 class="tc">
                   <span class="line"></span>
                   <span class="line"></span>
                   <img class=" my-img1" width="70" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FleaveWord_title.png">
               </h3>
               <div class="main">
                   <img class="photo my-img1 radius" id="headImgUrl" width="50" height="50" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                   <div>
                       <p class="c3 f5" id="newNoteContent"></p>
                       <span class="c4 f3" id="createTime"></span>
                       <a class=" word-btn" onclick="goComment()"></a>
                   </div>
               </div>
           </div>
           <div class="remind-ejh">
               <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/remind_erjihui.png">
           </div>
           <div class="contribute-btn f8 c0" onclick="goContribute()">我要捐款</div>
           <div class="umbrella tc f8 c0">
               <img class="my-img2" width="115" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/umbrella1.png">
               <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/umbrella2.png">
               <a onclick="goUmbrella()">查看详情</a>
           </div>
           <br> <br>
           <div class="c-shadow"  onclick="cancelComment()" hidden></div>
           <div class="real-edit" hidden>
               <textarea  placeholder="写留言(最多可输入50字)..." maxlength="50" id="leaveNoteContent" autofocus></textarea>
               <span onclick="addNoteAndDonation()">发布</span>
           </div>
       </div>
       <!-- <button class="bottom-btn" onclick="createPoster()">立即行动</button>-->
       <!-- 评论-->

    </div>
</body>
<link rel="stylesheet" href="styles/lib/ionic.min.css"/>
<link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
<link rel="stylesheet" href="styles/lib/animate.min.css"/>
<link rel="stylesheet" href="styles/main.less"/>
<link rel="stylesheet" href="styles/main.css"/>
<script src="js/libs/jquery-2.1.3.min.js"></script>
<script src="js/libs/jquery.scrollstop.min.js"></script>
<script src="js/libs/lodash.min.js"></script>
<script src="js/first/lovePlanFirst.js"></script>
</html>