<html>
<head>
</head>
<base href="/wisdom/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>宝护伞</title>
<link rel="stylesheet" href="/wisdom/styles/native/umbrellaFirstPage.less" type="text/css" />
<body onload="umbrellaFirstPageInit()">
<div class="umbrella">
    <div>22222</div>
</div>
<br><br><br><br><br><br><br>
</body>
<link rel="stylesheet" href="styles/lib/ionic.min.css"/>
<link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
<link rel="stylesheet" href="styles/lib/animate.min.css"/>
<link rel="stylesheet" href="styles/main.less"/>
<script src="js/libs/jquery.scrollstop.min.js"></script>
<script src="js/native/umbrellaFirstPage.js"></script>
</html>