<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">

    <description>Spring Configuration</description>

    <!-- 获取bean工具注入 -->
    <bean id="springContextHolder" class="com.cxqm.xiaoerke.common.utils.SpringContextHolder" lazy-init="false"/>
    <bean id="utilService" class="com.cxqm.xiaoerke.modules.sys.service.impl.UtilServiceImpl" lazy-init="false" init-method="init"/>


</beans>