<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" class="story2016Index ">
  <!--  <ion-content class="umbrellaLead bg1" overflow-scroll="true" style="top:0;overflow: hidden;">
        <ion-scroll direction="x" has-bouncing="true" >

        </ion-scroll>
    </ion-content>-->
   <!-- <ion-slide-box
            auto-play="false"
            does-continue="false"
            slide-interval=2000
            show-pager="true"
            delegate-handle="delegateHandler"
            active-slide="myActiveSlide"
            class="swiper-container">
        <ion-slide >
            <div class="pic-list " >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story0.png" >

            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story1.png" >
                <div class="date c11 ani " swiper-animate-effect="fadeInUp"  swiper-animate-duration="0.5s" swiper-animate-delay="0.3s" >2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2.png" >
                <div class="date c12">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story3.png" >
                <div class="date c13">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4.png" >
                <div class="date c14">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story5.png" >
                <div class="date c15">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6.png" >
                <div class="date c16">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7.png" >
            </div>
        </ion-slide>

    </ion-slide-box>-->
    <div class="swiper-container"  >
        <div class="swiper-wrapper pic-list">
            <!-------------slid01----------------->
            <section class="swiper-slide swiper-slide0 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story0.png" >
            </section>
            <!-------------slide1----------------->
            <section class="swiper-slide swiper-slide1 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story1.png" >
                <div class="date c11 ani effect1" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s">2016年5月12日</div>
            </section>
            <!---------------slide2-------------->
            <section class="swiper-slide swiper-slide2 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2.png" >
                <div class="date c12 " >2016年5月12日</div>
                <img class="ani effect2 " swiper-animate-effect="fadeInLeft" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s"  width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2_1.png" >
            </section>
            <!----------------slide3-------------->
            <section class="swiper-slide swiper-slide3 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story3.png" >
                <div class="date c13 " >2016年5月12日</div>
                <div class="c18 ani effect3" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s">112分钟</div>
            </section>
            <!-------------slide4----------------->
            <section class="swiper-slide swiper-slide4 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4.png" >
                <div class="date c14 " >2016年5月12日</div>
                <img class="ani effect4 " swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s"  width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4_1.png" >
            </section>
            <!-------------slide5---------------->
            <section class="swiper-slide swiper-slide5 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story5.png" >
                <div class="date c15  "  >2016年5月12日</div>
                <span class="c19  ani effect5"  swiper-animate-effect="fadeInRight" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s">100元</span>
            </section>
            <!-------------slide6----------------->
            <section class="swiper-slide swiper-slide6 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6.png" >
                <div class="date c16  "  >2016年5月12日</div>
                <img class="ani effect6 " swiper-animate-effect="zoomInLeft" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s"  width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6_1.png" >
            </section>
            <!-------------slide7----------------->
            <section class="swiper-slide swiper-slide7 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7.png" >
                <div class="ani effect7 c20" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0.1s">有88位</div>
                <img class="ani story71" width="66%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7_1.png" >
                <img class="ani story72" width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7_2.png" >
            </section>
            <!-------------slide8----------------->
            <section class="swiper-slide swiper-slide8 ">
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story8.png" >
            </section>
        </div>

        <div class="swiper-pagination"></div>
        <div class="remind-arr c4 f2">
            <img class="my-img1" width="7" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story_arr.png" >
            向左滑
        </div>
    </div>
</ion-view>