<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" class="story2016Index ">
  <!--  <ion-content class="umbrellaLead bg1" overflow-scroll="true" style="top:0;overflow: hidden;">
        <ion-scroll direction="x" has-bouncing="true" >

        </ion-scroll>
    </ion-content>-->
   <!-- <ion-slide-box
            auto-play="false"
            does-continue="false"
            slide-interval=2000
            show-pager="true"
            delegate-handle="delegateHandler"
            active-slide="myActiveSlide"
            class="swiper-container">
        <ion-slide >
            <div class="pic-list " >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story0.png" >

            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story1.png" >
                <div class="date c11 ani " swiper-animate-effect="fadeInUp"  swiper-animate-duration="0.5s" swiper-animate-delay="0.3s" >2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2.png" >
                <div class="date c12">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story3.png" >
                <div class="date c13">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4.png" >
                <div class="date c14">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story5.png" >
                <div class="date c15">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6.png" >
                <div class="date c16">2016年5月12日</div>
            </div>
        </ion-slide>
        <ion-slide >
            <div class="pic-list" >
                <img class="my-img2" width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7.png" >
            </div>
        </ion-slide>

    </ion-slide-box>-->
    <div  ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime=='null' && dataInfo.FirstRedPacketTime=='null' && dataInfo.FirstEvaluationTime=='null' && dataInfo.joinUmbrellaTime=='null'">
        <img width="94%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story_no.png">
    </div>
    <div class="swiper-container"  ng-if="dataInfo.joinBaoDaiFuForYou!='null' || dataInfo.firstConsultTime!='null' || dataInfo.FirstRedPacketTime!='null' || dataInfo.FirstEvaluationTime!='null' || dataInfo.joinUmbrellaTime!='null'">
        <div class="swiper-wrapper pic-list">
            <!-------------slid01----------------->
            <section class="swiper-slide swiper-slide0 ">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story0.png" >
            </section>
            <!-------------slide1----------------->
            <section class="swiper-slide  ">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story1.png" >
                <div class="date c11 ani resize effect1" style="top:50px;left:55px;" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="0s">{{dataInfo.attentionDate}}</div>
            </section>
            <!---------------slide2-------------->
            <section class="swiper-slide  " ng-if="dataInfo.firstConsultTime!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2.png" >
                <div class="date c12 resize" style="top:50px;left:55px;">{{dataInfo.firstConsultTime}}</div>
                <img class="ani effect2 resize" style="width:215.2px;height:64px;left:55px;top:85px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s"   src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story2_1.png" >
            </section>
            <!----------------slide3-------------->
            <section class="swiper-slide  " ng-if="dataInfo.firstConsultTime!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story3.png" >
                <div class="date c13 resize" style="top:50px;left:55px;">{{dataInfo.largestConsultTime}}</div>
                <div class="c18 ani effect3 resize"  style="width:215.2px;height:64px;left:55px;top:145px;" swiper-animate-effect="swing" swiper-animate-duration="1s" swiper-animate-delay="0s">{{dataInfo.largestConsultDuration}}分钟</div>
            </section>
            <!-------------slide4----------------->
            <section class="swiper-slide  "  ng-if="dataInfo.FirstEvaluationTime!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4.png" >
                <div class="date c14 resize" style="top:50px;left:55px;">{{dataInfo.FirstEvaluationTime}}</div>
                <img class="ani effect4  resize"  style="width:215.2px;height:64px;left:55px;top:95px;" swiper-animate-effect="filpInX" swiper-animate-duration="1s" swiper-animate-delay="0s"  width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story4_1.png" >
            </section>
            <!-------------slide5---------------->
            <section class="swiper-slide  "  ng-if="dataInfo.FirstRedPacketTime!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story5.png" >
                <div class="date c15  resize"  style="top:50px;left:55px;">{{dataInfo.FirstRedPacketTime}}</div>
                <span class="c19  ani effect5 resize"  style="width:215.2px;height:64px;right:50px;top:135px;"  swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="0s">{{dataInfo.FirstRedPacketCount}}元</span>
            </section>
            <!-------------slide6----------------->
            <section class="swiper-slide  " ng-if="dataInfo.joinUmbrellaTime!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6.png" >
                <div class="date c16  resize" style="top:50px;left:55px;" >{{dataInfo.joinUmbrellaTime}}</div>
                <img class="ani effect6  resize"  style="width:215.2px;height:64px;left:55px;top:90px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s"  width="70%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story6_1.png" >
            </section>
            <!-------------slide7----------------->
            <section class="swiper-slide  " ng-if="dataInfo.joinBaoDaiFuForYou!='null'">
                <img class="my-img2 resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7.png" >
                <div class="ani effect7 c20 resize"  style="left:55px;top:88px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s">有{{dataInfo.joinBaoDaiFuForYou}}位</div>
                <img class="ani story71 resize" style="width:183.2px;height:15.2px;left:105px;top:90px;"src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7_1.png" >
                <img class="ani story72 resize" style="width:224px;height:22.4px;left:55px;top:130px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story7_2.png" >
            </section>
            <!-------------slide8----------------->
            <section class="swiper-slide  ">
                <img ng-if="dataInfo.joinBaoDaiFuForYou!='null'" class="my-img2  resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story8_1.png" >
                <img ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime!='null'" class="my-img2   resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story8_2.png" >
                <img ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime=='null' && dataInfo.FirstRedPacketTime!='null'" class="my-img2 resize " style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story8_3.png" >
                <img ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime=='null' && dataInfo.FirstRedPacketTime=='null' && dataInfo.FirstEvaluationTime!='null'" class="my-img2  resize" style="width:284.4px;height:410px;" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story8_3.png" >
                <div class="nickname resize f2 c0" style="left:120px;top:65px;" >{{dataInfo.nickName}}</div>
                <div class="total resize love " style="top:120px;left:185px;" ng-if="dataInfo.joinBaoDaiFuForYou!='null'">{{dataInfo.joinBaoDaiFuForYou}}位</div>
                <div class="total resize health" ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime!='null'">{{dataInfo.consultTitleNumber}}次</div>
                <div class="total resize gratitude" ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime=='null' && dataInfo.FirstRedPacketTime!='null'">{{dataInfo.consultTitleNumber}}元</div>
                <div class="total resize communicate" ng-if="dataInfo.joinBaoDaiFuForYou=='null' && dataInfo.firstConsultTime=='null' && dataInfo.FirstRedPacketTime=='null' && dataInfo.FirstEvaluationTime!='null'"></div>
            </section>
        </div>

        <div class="swiper-pagination"></div>
        <div class="remind-arr c4 f2">
            <img class="my-img1" width="7" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/story2016/story_arr.png" >
            向左滑
        </div>
    </div>
</ion-view>