<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" >
    <ion-content class="picSpreadResult bg1" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
             <div class="main">
                 <img class="logo" width="12%" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common/baodf_logo.jpg">
                 <img class="important-word" width="50%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/activity/picSpread/importantWord.png">
                 <img class="result-pic" width="86%" height="auto" data-tap-disabled="true"  src="{{picUrl}}">
                 <div class="f4 c5">一分钟前</div>
                 <img class="praise-list" width="96%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/activity/picSpread/praiseList.png">
                 <div class="tc" ng-click="tryAgain()">
                     <img class="btn my-img2" width="135" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/activity/picSpread/btn_again.png">
                 </div>
             </div>
        </ion-scroll>
    </ion-content>

</ion-view>