<ion-view view-title='查看结果' >
    <ion-content style="top:0px;">
        <div class="resultBox">
            <img class="resultTop" ng-show="status1" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/top1.png" alt=""/>
            <img class="resultTop" ng-show="status2" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/top2.png" alt=""/>
            <img class="resultTop" ng-show="status3" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/top3.png" alt=""/>
            <img class="resultTop" ng-show="status4" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/top4.png" alt=""/>
            <div class="resultCon">
                <img class="mark"  ng-show="status1" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/mark1.png" alt=""/>
                <img class="mark"  ng-show="status2" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/mark2.png" alt=""/>
                <img class="mark"  ng-show="status3" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/mark3.png" alt=""/>
                <img class="mark"  ng-show="status4" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/mark4.png" alt=""/>
                <div class="con"  ng-show="status1">
                    <img class="con1" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/con1.png" alt=""/>
                </div>
                <div class="con"  ng-show="status2">
                    <img class="con2" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/con2.png" alt=""/>
                </div>
                <div class="con"  ng-show="status3">
                    <img class="con3" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/con3.png" alt=""/>
                </div>
                <div class="con"  ng-show="status4">
                    <img class="con4" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/con4.png" alt=""/>
                </div>
            </div>
            <img class="resultCode" data-tap-disabled="true" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/result/1.jpg" alt=""/>
        </div>
    </ion-content>
</ion-view>
