<ion-view view-title='真假老公' ng-init = "loadShare()">
    <ion-content style="top:0px;">
        <div class="testBox">
            <ul>
                <li ng-repeat="item in data">
                    <h3>{{item.question}}</h3>
                    <div class="answer">
                        <span ng-repeat="list in item.answer" ng-click="choose($index,item)">{{list}}</span>
                    </div>
                </li>
            </ul>
            <img class="Button" ng-click="Submit()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/test/btn.png" alt=""/>
            <div ng-click="shutMask()" ng-show="maskStatus" class="mask"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appHusband/test/mask.png" alt=""/></div>
        </div>

    </ion-content>
</ion-view>
