.doctor-info{
  position: relative;
  padding:15px 0 15px 90px;
  min-height:96px;
  box-sizing: border-box;
}
.doctor-info.apart1{
  margin-bottom: 7.5px;
}
.doctor-info .pic{
  position: absolute;
  left:15px;
}
.doctor-info .pic .photo{
  border-radius: 50%;
}
.doctor-info  .rank{
  margin-top:-2px;
  font-size: 0;
}
.doctor-info  .rank img{
  margin-right:3px;
}
.doctor-info  .rank img:last-of-type{
  margin-right:0;
}
.doctor-info .intro div{
  font-size: 13px;
  color:#999;
  margin-bottom:10px;
}
.doctor-info .intro div.s{
  margin-bottom:3px;
}
.doctor-info .intro div:last-of-type{
  margin-bottom:0;
}
.doctor-info .intro div span{
  font-size: 15px;
  color:#333;
  padding-right:10px;
}
.doctor-info .state{
  position: absolute;
  right:6px;
  bottom:16px;
}
.doctor-info .classify{
  position: absolute;
  right:0;
  top:0;
}

