body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
ul,li,dl,dd{
  list-style: none;
}
body{
  font-family: "微软雅黑";
}
.head  .right img{
  margin-top:11px;
}
.phoneConsultFirstPage {
  height:100%;
  width:100%;
  overflow-x: hidden;
}
.phoneConsultFirstPage::-webkit-scrollbar {
  width:0;
  height:0;

}
/* search */
.sea-his{
  width:100%;
  height:100%;
  background-color: #fff;
  position: absolute;
  z-index: 9;
  overflow-y: scroll;
  padding:0 0px;
  white-space: normal;
}
.sea-his h3{
  font-size:17px;
  color:#999;
  margin-bottom:20px;
}
.sea-his h3 img{
  /* vertical-align: middle;*/
}
.sea-his .hot{
  background-color: #fff;
  padding:20px 16px 0;
}
.sea-his .hot .hot-w{
  width:96%;
  margin:0 auto;
  text-align: center;
}
.sea-his .hot .hot-w li{
  display: inline-block;
  width:33.333333%!important;
  margin-bottom: 30px;
}
.sea-his .hot .hot-w li a{
  padding:7px 24px;
  text-align: center;
  border:1px solid #88d9dd;
  border-radius: 3px;
  color: #88d9dd;
  font-size:13px;
}

.sea-his .history{
  background-color: #fff;
  padding-top:20px;
}
.sea-his .history h3{
  padding-left:16px;
}
.sea-his .history .item{
  color:#999;
  font-size:15px;
  padding:15px 16px;
  position: relative;
}
.sea-his .history .item i{
  position: absolute;
  right:10px;
  top:15px;
  color:#88d9dd;
  font-size:22px;
}
.sea-his .cl{
  text-align: center;
  font-size:17px;
  padding:15px 0;
  color:#88d9dd;
  margin-top:20px;
}

/*四个菜单*/
.myMenu{
  position: absolute;
  width:100%;
  top:118px;
  background-color: #fff;
  z-index:3;
}
.myMenu ul{
  width:100%;
  overflow: hidden;
}
.myMenu li{
  display: inline-block;
  position: relative;
  padding:20px 0 18px;
  width:25%;
}
.myMenu li.cur {
  color:#88d9dd;
}
.myMenu li a {
  display: inline-block;
  width:100%;
  border-right:1px solid #f0f0f0;
}
.myMenu li.cur a{
  color:#88d9dd;
}
.myMenu li:last-of-type a{
  border-right:0;
}
.myMenu li.cur i{
  position: absolute;
  width:80%;
  left:10%;
  bottom:-1px;
  border-bottom: 2px solid #88d9dd;
}
.main-list{
  position: absolute;
  width:100%;
  height:70%;
  top:178px;

}
/*医院列表*/
.hospitalItem{
  overflow-y:scroll;
  overflow-x:hidden;
  height:100%;
}
.hospitalItem li{
  position: relative;
  padding:8px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*疾病列表*/
.illness{
  position: absolute;
  width:100%;
  height:100%;
  top:-3px;
}
.illness .ill-left{
  width:40%;
  height: 100%;
  float:left;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left:0;
}
.illness .ill-right{
  float: right;
  width:60%;
  height:100%;
  position: absolute;
  right:0;
  overflow-x: hidden;
  overflow-y: auto;
}
.illness li{
  padding: 15px 5px 15px 15px;
}
.illness .ill-left::-webkit-scrollbar{
  width:0;
  height:0;

}
.illness .ill-right::-webkit-scrollbar{
  width:0;
  height:0;

}
.illness .ill-right li{
  background-color: #f6f6f6;
}
/*时间列表*/
.dateItem{
  margin:0;
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
}
.dateItem li{
  padding:15px 15px;
  position: relative;
}
.dateItem li i{
  color:#7e7e7e;
  position:absolute;
  font-size: 24px;
  right:33px;
  font-weight:700;
}
.dateItem span{
  display: inline-block;
  width:57px;
  height:30px;
  line-height:30px;
  border-radius:5px;
  background-color: #88d9dd;
  position: absolute;
  right:20px;
  top:10px;
}
.dateItem  li:nth-child(2) span{
  background-color: #b3df6e;
}
.dateItem li:nth-child(3) span{
  background-color: #fe717a;
}
/*专家团*/
.groupItem{
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.groupItem ul{
  margin-top:10px;
}
.groupItem li{
  position: relative;
  padding:20px 10px 12.5px;
}
.groupItem li img{
  border-radius: 50%;
  margin-left:5px;
}
.groupItem li img:first-of-type{
  margin-left:15px;
}
.groupItem li .skilled{
  height:60px;
  margin-top:20px;
  padding-left:40px;
  overflow: hidden;
  position: relative;
}
.groupItem li .skilled span{
  position: absolute;
  left:0;
  top:0;
}
.groupItem li .skilled a{
  display: inline-block;
  margin-right:10px;
  margin-bottom:8px;
  padding:0 8px;
  color:#b3df6f;
  border:1px solid #b3df6f;
  border-radius: 5px;
}
.groupItem li .skilled a:last-of-type{
  margin-right:0;
}
.groupItem li .introduce{
  margin-top:17.5px;
  height:44px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groupItem  .more-doctor{
  height:100%;
  margin-top:-10px;
  padding:60px 0 150px;
}
.groupItem  .more-doctor p{
  margin-top:30px;
}
/*快速登录*/
.fast-entry{
  width:100px;
  height:140px;
  position:absolute;
  bottom:20%;
  right:10%;
  z-index:3;
}
.fast-entry .bg{
  position: absolute;
  top:0;
  left:0;
}
.fast-entry .deng{
  position: absolute;
  top:67px;
  left:63px;
}
.fast-entry .yuyue{
  position: absolute;
  top:-26px;
  left:57px;
}
.fast-entry .lianxi{
  position: absolute;
  top:2px;
  left:4px;
}
.fast-entry .zixun{
  position: absolute;
  top:56px;
  left:-18px;
}
.fast-entry .feedback{
  position: absolute;
  top:113px;
  left:-18px;
}



