.order-info{
}
.order-info ul{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding:0 10px;
}
.order-info li{
  position: relative;
  padding:17.5px 15px 17.5px 90px;
  border-bottom:1px dashed #ccc;
  min-height:55px;
  box-sizing: border-box;
}
.order-info li.hd{
  padding-left:30px;
}
.order-info li.hd i{
  position: absolute;
  display: inline-block;
  width:3px;
  height:20px;
  top:16px;
  left:15px;

}
.order-info li.li2{
  border-bottom:1px solid #ccc;
}
.order-info li span{
  display: inline-block;
  width:80px;
  position: absolute;
  left:15px;
  top:17.5px;
}
.order-info li:last-of-type{
  border-bottom:none;
}


