.remind-text{
  margin:0 25px 20px;
}
.remind-text .title{
  position: relative;
  margin:25px 0;
}
.remind-text .read{
  /*position: absolute;
  top:0;
  right:0;*/
  float: right;
  padding-right:20px;
  overflow: auto;
}
.remind-text .read a{
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
  width:15px;
  height:15px;
  border:1px solid #5abd80;

}
.remind-text  .read a img{
  position: absolute;
  left:0;
  top:-2px;

}
.remind-text ul{
}
.remind-text li{
  position: relative;
  margin-bottom: 6px;
  padding-left:21px;
}
.remind-text li:last-of-type{
  margin-bottom: 0;
}
.remind-text li span{
  position: absolute;
  left:0;
}
.remind-pic{
  margin:20px 0;
  text-align: center;
}
.remind-pic .my-img2{
  margin:0 auto 15px;
}
.remind-pic  .text:first-of-type{
  margin-bottom:8px;
}
.myWarn{
  text-align: center;
  margin:0 15px;
  position: relative;
  padding-left:70px;
}
.myWarn span{
  position: absolute;
  left:0;
}

