<div ui-view class="olympicBabyFirst" data-ng-init="olympicBabyFirstInit()">
	<div class="indexBox">
		<div class="top">
			<img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2FindexTop.png" alt="">
			<span class="ruleBtn" id="ruleBtn"></span>
			<div class="headcount">
				已有<span>{{headcount}}</span>名宝宝参与
			</div>
		</div>
		<div class="ruleBox" id="ruleBox">
			<div class="layer-content drawPrize-rule ruleBoxContent" >
				<div class="ruleContent" >
					<div  class="top tc">
						<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/top_drawPrize.png">
					</div>
					<div  class="scroller">
						<div class="f2 c11">
							<span class="bold">活动时间：</span>
							2016年8月6日—8月22日
						</div>
						<div class="f2 c11">
							<span class="bold">如何参与：</span>
							玩游戏，邀好友，得积分，抽大奖！
						</div>
						<div class="f2 c11">
							<span>活动规则：</span>
							<p>
								1,本活动共有6关小游戏，每关游戏当天只能玩3次；<br>
								2,每多玩一关游戏，必须邀请该关卡相应助力伙伴，方可开启游戏；<br>
								3,每玩一次游戏可获得相应积分，当天总积分累计可进行抽奖活动，当日未消耗积分可一直保留，不断累加，直至抽奖消耗完毕或活动结束自动作废。<br>
								4,每次抽奖会消耗80积分；<br>
								5,所有中奖奖品将于活动结束后5个工作日寄出，未填写邮寄信息的将视为对该奖品放弃，奖品以实物为准，图片仅供参考；<br>
								6,有任何关于活动的疑问可添加客服微信：bdfdsb，或直接致电客服电话：13245326784 进行咨询；<br>
								7,活动主办方（宝大夫）享有活动最终解释权。<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2FindexContent.png" alt="">
			<div class="firstPass" ng-click="goFirstPass()"></div>
			<div class="secondPass" ng-click="goSecondPass()"></div>
			<div class="thirdPass" ng-click="goThirdPass()"></div>
			<div class="fourthPass"></div>
			<div class="fifthPass"></div>
			<div class="sixthPass"></div>
		</div>
		<div class="integral">
			<img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2FindexIntegral.png" alt="">
			<span>{{score}}</span>
		</div>
		<div class="lottery">
			<img ng-click="lottery()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2FindexLottery.png" alt="">
		</div>
		<div class="boxShadow" ng-if="shareFloat||withoutCount"></div>
		<div class="shareImg" ng-if="shareFloat">
			<img width="10%" ng-click="cancelFloat()" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2FXicon_03.png" alt=""/>
			<img width="80%" data-tap-disabled="true" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2F742889128922664006.png" alt=""/>
		</div>
		<!--http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2Ferweima_png_03.png-->
		<!--<div class="boxShadow" ng-if="withoutCount"></div>-->
		<div class="countImg" ng-if="withoutCount">
			<img width="80%"  height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2Ffuceng_png_03.png" alt=""/>
			<img width="40%"ng-click="cancelFloat()" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FhomePage%2Fbutton_e_png_03.png" alt=""/>
		</div>
		<div id="gongao">
			<div id="scroll_div" class="scroll_div" data-ng-init="bulletScreen()">
				<div id="scroll_begin">
					<span ng-repeat="item in scroll">{{item.nickName}}获得了{{item.prizeName}}</span>
				</div>
				<div id="scroll_end"></div>
			</div>
		</div>
	</div>
</div>
