<div ui-view ng-init="olympicGameLevel3()" class="olympicGameLevel3">
	<div class="top">
		<div class="box time">{{time}}s倒计时</div>
		<div class="box score">{{score}}</div>
	</div>
	<div class="runningBoy">
	</div>
	<div class="button">
		<img id="buttonImg" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fjiasu_png_03.png" alt=""/>
	</div>
	<div class="boxShadow" ng-if="shareFloat" ng-click="cancelFloat()"></div>
	<div class="shareImg" ng-if="shareFloat">
		<img width="10%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2FXicon_03.png" alt=""/>
		<img width="80%" data-tap-disabled="true" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2Ferweima_png_03.png" alt=""/>
	</div>
	<div class="boxShadow" ng-if="lookResultFloat"></div>
	<div class="resultImg" ng-if="lookResultFloat">
		<div>{{score}}</div>
		<img width="50%" height="auto" ng-if="challengeAgainImg" ng-click="challengeAgain()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fbutton_d_png_03.png" alt=""/>
		<img width="50%" height="auto" ng-if="challengeAgainImg" ng-click="challengeMore()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fbutton_c_png_03.png" alt=""/>
		<div class="challengeMore" ng-if="challengeMoreImg">
			<img width="50%" height="auto" ng-click="challengeMore()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fbutton_c_png_03.png" alt=""/>
		</div>
	</div>
	<div class="boxShadow" ng-if="startFloat"></div>
	<div class="startImg" ng-if="startFloat">
		<img width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fgif.gif" alt=""/>
	</div>

</div>