<div ui-view class="olympicGameLevel1" ng-init="olympicGameLevel1Init()">
	<div class="info">
		<span class="cutdown tc fl f2 c0">{{playTime}}秒倒计时</span>
		<span class="score tc fr f2 c0">{{score}}</span>
	</div>
	<div class=" swim-pool" ng-class="{'on': playCutdownLock}">
		<img id="swimmer" class="swimmer" width="74" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/{{ playCutdownLock ? 'swimmer.gif':'swimmer.png'}}">

	</div>
	<div ng-disabled="btnLock" class="btn-start button" ng-click="startSwim(score)">
		<img  width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/btn_start.png">
	</div>
	<!--游戏开始倒计时-->
	<div class="c-layer" ng-if="startCutdownLock"></div>
	<div class="start-cutdown" ng-if="startCutdownLock">
		<img  width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/start_cutdown.gif">
	</div>

	<div class="c-layer" ng-if="getScoreLock" ng-click="cancelLayer()"></div>
	<div class="layer-content get-Score" ng-if="getScoreLock">
		<div class="content tc" >
			<div  class="top">
				<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/top_gameScore.png">
			</div>
			<img class="my-img2 " width="40%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/gama_score.png">
			<div class="score tc c0">222</div>
			<img class="my-img2 " width="60%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/btn_challengeAgain.png">
			<img class="my-img2 " width="60%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/swimming/btn_challengeMore.png">


		</div>
	</div>
</div>

