<div ui-view class="olympicBabyDrawPrize" ng-init="olympicBabyDrawPrizeInit()">
	<div class="top">
		<img width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/banner.png">
		<img ng-click="backHomePage()" class="back-home" width="67.5" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/back_home.png">
	</div>

	<div class="prize-wrapper" id="lottery">
		<div class="prize-list tc ">
			<img class="lottery-unit lottery-unit-0" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[0] ? 'prize1_y.png':'prize1_n.png'}}">
			<img class="lottery-unit lottery-unit-1" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[1] ? 'prize2_y.png':'prize2_n.png'}}">
			<img class="lottery-unit lottery-unit-2" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[2] ? 'prize3_y.png':'prize3_n.png'}}">
			<img class="lottery-unit lottery-unit-3" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[3] ? 'prize4_y.png':'prize4_n.png'}}">
			<img class="lottery-unit lottery-unit-4" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[9] ? 'prize5_y.png':'prize5_n.png'}}">

			<a class="btn-drawPrize tc" ng-click="startDrawPrize()">
				<img  width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_drawPrize.png">
				<span class="c0">（{{scoreNumber}}）次机会</span>
			</a>
			<img class="lottery-unit lottery-unit-5" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[4] ? 'prize6_y.png':'prize6_n.png'}}">
			<img class="lottery-unit lottery-unit-6" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[8] ? 'prize7_y.png':'prize7_n.png'}}">
			<img class="lottery-unit lottery-unit-7" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[7] ? 'prize8_y.png':'prize8_n.png'}}">
			<img class="lottery-unit lottery-unit-8" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[6] ? 'prize9_y.png':'prize9_n.png'}}">
			<img class="lottery-unit lottery-unit-9" width=20%" height="auto" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/{{prizeArray[5] ? 'prize10_y.png':'prize10_n.png'}}">

		</div>
		<p class="f5 c0 tc">您的奥运宝宝积分：{{score}}分</p>
	</div>
	<div class="bottom">
		<img ng-click="lookMyPrize()" class="btn-lookPrize my-img2" width="80%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_lookPrize.png">
		<div ng-click="lookDrawPrizeRule()" class="rule fr">
			<img class="my-img1" width="75.5" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/prize_rule.png">
			<img class="my-img1" width="25" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_prize_rule.png">
		</div>
	</div>
    <!--浮层-->
	<!--积分不够-->
	<div class="c-layer" ng-click="cancelLayer()"  ng-if="noScoreLock"></div>
	<div class="layer-content no-enoughScore " ng-if="noScoreLock">
		<div class="content tc">
			<div  class="top tc">
				<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/top_no_score.png">
			</div>
			<p class="f7 c11">去玩游戏赚积分吧!</p>
			<img ng-click="playGame()" class="my-img2" width="80%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_noScore.png">
		</div>
	</div>

	<!--未中奖-->
	<div class="c-layer" ng-click="cancelLayer()"  ng-if="noPriseLock"></div>
	<div class="layer-content no-prize " ng-if="noPriseLock">
		<div class="content tc">
			<div  class="top tc">
				<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/top_no_prize.png">
			</div>
			<h3 class="fw0 c11">很遗憾</h3>
			<p class="f7 c11">您与幸运之神擦肩而过，不要气馁，奖品多多，机会多多，要继续加油哦！</p>
			<img ng-click="tryAgain()" class="my-img2" width="80%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_noPrize.png">
		</div>
	</div>

	<!--中奖-->
	<div class="c-layer" ng-click="cancelLayer()"  ng-if="getPriseLock"></div>
	<div class="layer-content get-prize " ng-if="getPriseLock">
		<div class="content tc">
			<div  class="top tc">
				<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/top_get_prize.png">
			</div>
			<img class="pic my-img2" width="80" height="auto" ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/olympicBaby/{{prizeOrder}}">

			<h3 class="fw0 c11">厉害！</h3>
			<p class="f7 c11">
				恭喜您抽中{{prizeName}}<br>
					{{postage}}

			</p>
			<img ng-click="getPrize()" class="my-img2" width="80%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/btn_getPrize.png">
		</div>
	</div>

	<!--领取奖品-->
	<div class="c-layer" ng-click="cancelLayer()"  ng-if="FillInfoLock"></div>
	<div class="layer-content FillInfo "ng-if="FillInfoLock" >
		<div class="content" >
			<div>
				<img class="my-img2" width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/fill_text.png">
			</div>
			<ul>
				<li>
					<img class="" width="23" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/fill_name.png">
					<input type="text" class="" ng-model="info.name" >
				</li>
				<li>
					<img class="" width="34" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/fill_phone.png">
					<input type="number" class="" ng-model="info.phone" maxlength="11" >
				</li>
				<li>
					<img class="" width="47" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/fill_address.png">
					<textarea type="text" class="" ng-model="info.address" ></textarea>
				</li>
			</ul>
			<img class="my-img2" width="75%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/fill_sure.png" ng-click="saveMess()">

		</div>
	</div>

	<!--抽奖规则-->
	<div class="c-layer" ng-click="cancelLayer()"  ng-if="DrawPriseLock"></div>
	<div class="layer-content drawPrize-rule "ng-if="DrawPriseLock" >
		<div class="content" >
			<div  class="top tc">
				<img class="my-img2 " width="70%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby/drawPrize/top_drawPrize.png">
			</div>
			<div  class="scroller">
				<div class="f2 c11">
					<span>1、</span>
					每80分可抽奖一次，抽奖次数不限，分数越高抽奖次数越多；
				</div>
				<div class="f2 c11">
					<span>2、</span>
					奖品随机出现，开启你的好运吧，具体奖品如下：
					<p>
						<span class="bold">奖品</span>
						1,宝护伞20万保障金<br>
						2,爱奇艺VIP会员<br>
						3,儿童洗手液<br>
						4,超轻粘土橡皮泥<br>
						5,便携磨砂杯<br>
						6,宝宝小凉席<br>
						7,迪士尼儿童卡通米奇汤碗<br>
						8,儿童午睡夏凉被<br>
						9,儿童益智积木玩具<br>
						10,青花瓷便携餐具<br>
						11,九阳家用煎烤机<br>
						12,贝贝鸭宝宝辅食料理机<br>
						13,乐普多种维生素加矿物质片<br>
						14,火火兔儿童早教机<br>
						15,柏翠自动撒果料面包机<br>
						16,美的电烤箱<br>
					</p>
				</div>
			</div>
		</div>
	</div>




</div>

