<ion-view view-title={{title}} >
	<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
	<ion-content class="evaluateList bg1"  overflow-scroll="true" style="top:0;">
		<ion-scroll direction="y" has-bouncing="true">
			<div class="score">
				<div class="f8 c2 fl">
					{{starNum}}分
					<img class="my-img1"  width="19" height="auto" ng-src="{{0<starNumInt?starImg1:0==starNumInt&&starNumFloat>0?starImg2:starImg3}}">
					<img class="my-img1"  width="19" height="auto" ng-src="{{1<starNumInt?starImg1:1==starNumInt&&starNumFloat>0?starImg2:starImg3}}">
					<img class="my-img1"  width="19" height="auto" ng-src="{{2<starNumInt?starImg1:2==starNumInt&&starNumFloat>0?starImg2:starImg3}}">
					<img class="my-img1"  width="19" height="auto" ng-src="{{3<starNumInt?starImg1:3==starNumInt&&starNumFloat>0?starImg2:starImg3}}">
					<img class="my-img1"  width="19" height="auto" ng-src="{{4<starNumInt?starImg1:4==starNumInt&&starNumFloat>0?starImg2:starImg3}}">
				</div>
				<span class="fr f5 c4">{{doctorDetail.evaluateTotal}}条评价</span>
			</div>
			<div class="evaluate-classify f4 c4 bg4 border1 ">
				<!--<div class="fl border2 " ng-class="{'cur':classifyItem=='all'}" ng-click="evaluateClassify('all')">
					全部评价
					<i></i>
				</div>
				<div class="fl border2" ng-class="{'cur':classifyItem=='ap'}" ng-click="evaluateClassify('ap')">
					预约评价
					<i></i>
				</div>
				<div class="fl border2"  ng-class="{'cur':classifyItem=='phone'}" ng-click="evaluateClassify('phone')">
					咨询评价
					<i></i>
				</div>-->
				<a class="all fl c1 border2 tc">
					全部评价
				</a>
			</div>
			<div class="evaluate">
				<div class="user border4" ng-repeat="item in evaluateList" ng-class="{'border0':$last}">
					<img class="photo radius" width="35" height="35" src="images/user_photo.png" >
					<div class="info">
						<div style="overflow: hidden;">
							<div class="fl">
								<span class="name c3">宝粉{{item.name}}</span>
								<img class="my-img1"  width="9.5" height="auto" ng-src="{{0<userStarNum[$index]?starImg1:starImg3}}">
								<img class="my-img1"  width="9.5" height="auto" ng-src="{{1<userStarNum[$index]?starImg1:starImg3}}">
								<img class="my-img1"  width="9.5" height="auto" ng-src="{{2<userStarNum[$index]?starImg1:starImg3}}">
								<img class="my-img1"  width="9.5" height="auto" ng-src="{{3<userStarNum[$index]?starImg1:starImg3}}">
								<img class="my-img1"  width="9.5" height="auto" ng-src="{{4<userStarNum[$index]?starImg1:starImg3}}">
							</div>
							<div class="fr date c5">{{item.date}}</div>
						</div>
						<span class="phone c4 ">{{item.phone}}</span>
					</div>
					<div class="text c3">{{item.impression}}</div>
				</div>
			</div>


		</ion-scroll>

	</ion-content>

</ion-view>

