<ion-spinner ng-show="pageLoading" class="loadPic"></ion-spinner>
<div bdf-head="title"></div>
<ion-view ng-init="">
    <ion-content>
        <div class="bobyMoneyBox">
            <div class="bobyMoneyTop">
                <span class="bodyMoneyTitle">宝宝币余额</span>
                <span class="money">8888</span>
            </div>
            <div class="bobyMoneyContent">
                <span class="bodyMoneyTitle">宝宝币积分规则</span>
                <ul class="bobyMoneyRule">
                    <li class="bobyMoneyRuleOne"><span> 每邀请一位好友将获得50枚宝宝币</span></li>
                    <li class="bobyMoneyRuleTwo"><span> 每月最多获得1000枚宝宝币</span></li>
                    <li class="bobyMoneyRuleThree"><span> 宝宝币将暂在每年年底清空</span></li>
                </ul>
            </div>
            <div class="bobyMoneyBottom">
                <span class="bodyMoneyTitle">帐户记录</span>
                <ul>
                    <li class="clearfix">
                        <div class="bobyMoneyBottomLeft">
                            <span class="bobyMoneyBottomLeftTitle">邀请有礼</span>
                            <span class="bobyMoneyBottomLeftTime">08/29</span>
                        </div>
                        <span class="bobyMoneyBottomLeftValue add">+50</span>
                    </li>
                    <li class="clearfix">
                        <div class="bobyMoneyBottomLeft">
                            <span class="bobyMoneyBottomLeftTitle">邀请有礼</span>
                            <span class="bobyMoneyBottomLeftTime">08/29</span>
                        </div>
                        <span class="bobyMoneyBottomLeftValue subtract">+50</span>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>