<ion-view view-title={{title}} >
	<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
	<div bdf-head="title"></div>
	<ion-content class="phoneConDoctorDetail bg1"   overflow-scroll="true" >
		<ion-scroll direction="y" has-bouncing="true">
			<!--医生信息-->
			<div class="doctor-info bg1">
				<div  class="pic">
					<img class="photo" width="62.5" height="62.5" ng-src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/{{doctorDetail.doctorId}}?ver={{picVer}}" >
					<div class="rank">
						<img class="my-img1" ng-repeat="item in [1,2,3,4,5]" width="9.5" height="auto" ng-src="{{starImg1}}">
					</div>
				</div>
				<div class="intro">
					<div class="name"><span>{{doctorDetail.doctorName}}</span>{{doctorDetail.position1}}、{{doctorDetail.position2}}</div>
					<div class="hospital">{{doctorDetail.hospitalName}}</div>
					<div class="department">{{doctorDetail.departmentName}}</div>
				</div>
				<div class="attention tc" ng-click="attentionDoctor()">
					<div class="f2" ng-class="{'c1':isAttention}">{{doctorDetail.fans_number}}</div>
					<img width="50" height="auto" ng-src="{{attentionImg}}">
				</div>
			</div>
			<div class="apart"></div>
			<!--号源信息-->
			<div class="main">
				<ul class="date row">
					<li class="col" ng-repeat="item in [0,1,2,3,4,5,6]" >
						<a class="week">{{weekList[item]}}</a>
						<div class="day border1">
							<a ng-class="{'select':choiceItem==$index}" ng-click="selectDay($index)">{{timeList[item]}}</a>
							<i class="circle" ng-if="timeListStatus[item]!=-1"></i>
						</div>
					</li>
				</ul>
				<ul class="time ">
					<li class="" ng-repeat="item in appointmentList">
						<a ng-class="{'no':item.state=='1'||item.state=='2'}" ng-click="chooseTime(item)">
							{{item.begin_time}}
						</a>
					</li>
				</ul>
				<ul class="service">
					<li>
						<span>服务价格：</span><a class="c2">￥{{doctorDetail.price}}/{{doctorDetail.ServerLength}}分钟</a>
					</li>
					<li>
						<span>服务流程：</span>选择时间 > 支付订单 > 等待接听 > 咨询评价
					</li>
					<li>
						<span>服务详情：</span>1、保证100%为专家接听
					</li>
				</ul>
			</div>
			<div class="apart"></div>
			<!--用户评价-->
			<div class="evaluate">
				<h3>用户评价（{{doctorDetail.evaluateTotal}}）：</h3>
				<div class="score">
					<span>服务态度{{avgStar}}分</span>
					<span>专业水平{{avgMajorStar}}分</span>
				</div>
				<div class="user" ng-repeat="items in evaluateList">
					<img class="photo" width="35" height="35" src="{{items.pic_url}}">
					<div class="info">
						<div>
							<div class="fl">
								<span class="name c3">{{items.wechat_name}}</span>
								<img class="star" ng-repeat="item in [1,2,3,4,5]" width="9.5" height="auto" ng-src="{{starImg1}}">
							</div>
							<div class="fr date c5">{{items.star}} {{items.date}}</div>
						</div>
						<span class="c4">{{items.phone}}</span>
					</div>
					<div class="text c3">{{items.impression}}</div>
				</div>

                <div class="all">
                    <a class="c1" ng-click="getConsultEvaluate()">查看全部评价</a>
                </div>
			</div>
			<div class="apart"></div>
			<!--医生简介-->
			<div class="doctor-intro">
				<h3 class="c4">医生简介</h3>
				<ul>
					<li>
						<img src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/ap%2Fdoc_intro.png" width="25" height="25">
						<p>{{doctorDetail.doctor_normal_desc}}</p>
					</li>
					<li>
						<img src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/ap%2Fdoc_major.png" width="25" height="25">
						<p>
							{{doctorDetail.doctor_expert_desc}}
						</p>
					</li>
					<li >
						<img src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/ap%2Fdoc_case.png" width="25" height="25">
						<p>部分案例（概括{{doctorDetail.sumcase}}名宝宝的疾病症状）</p>
						<p class="case" ng-repeat="item in doctorDetail.doctorCaseList">
							<span class="case-name" >{{item.doctor_case_name}}</span>
							<span class="case-num" ng-style="(true)?{'background-color':caseColor[$index],'width':item.doctor_case_number/doctorDetail.sumcase*420+'px'}:{}">{{item.doctor_case_number}}</span>
						</p>
						<p class="case ">
							<span class="case-name " >其他</span>
							<span class="case-num other c5 " ng-style="(true)?{'background-color':caseColor[$index],'width':item.doctor_case_number/doctorDetail.sumcase*420+'px'}:{}">{{doctorDetail.otherCase}}</span>
						</p>

					</li>
				</ul>
			</div>

			<br><br><br><br><br><br><br><br>
		</ion-scroll>
	</ion-content>
	<div class="toggleSelect">
		<a class="fl " ng-click="toggleSelect('ap')" ng-class="{'ap':toggleItem=='ap'}">
			<img class="my-img2" width="auto" height="21.5" ng-src="{{selectApImg}}">
			预约挂号
		</a>
		<a class="fl " ng-click="toggleSelect('phone')" ng-class="{'phone':toggleItem=='phone'}">
			<img class="my-img2"  width="auto" height="21.5" ng-src="{{selectPhoneImg}}">
			电话咨询
		</a>
	</div>

</ion-view>

