<ion-view view-title={{title}} >
	<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
	<div bdf-head="title"></div>
	<ion-content class="phoneConReconnection"  overflow-scroll="true" >
		<ion-scroll direction="y" has-bouncing="true">
			<div class="doctor-info bg1 ">
				<div  class="pic">
					<img class="photo" width="62.5" height="62.5" src="images/a1.png">
				</div>
				<div class="intro">
					<div class="name s"><span>{{orderInfo.doctorName}}</span>{{position}}</div>
					<div class="hospital s">{{orderInfo.hospitalName}}</div>
					<div class="department">{{orderInfo.expertise}}</div>
				</div>
			</div>
			<div class="order-info bg1">
				<ul>
					<li class="f4 c5 li2">
						<span class="f4 c3 ">服务价格：</span>{{orderInfo.price}}元/{{orderInfo.server_length}}分钟</i>
					</li>
					<li class="f4 c5 li2">
						<span class="f4 c3">服务时间：</span> {{orderInfo.date}}&nbsp;&nbsp;{{orderInfo.beginTime}}-{{orderInfo.endTime}}
					</li>
					<li class="f4 c5 li2">
						<span class="f4 c3">接听电话：</span>{{orderInfo.phone}}
					</li>
					<li class="f4 c5 ">
						<span class="f4 c3">剩余时间：</span> {{surplusTime}}
					</li>

				</ul>
			</div>
			<button class="button foot-btn " ng-click="reconnection()" ng-disabled="false">
					重新连接通话
				</button>

		</ion-scroll>
	</ion-content>
</ion-view>

