<ion-view view-title={{title}} >
	<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
	<div bdf-head="title"></div>
	<ion-content class="selfCenter"  overflow-scroll="true" >
		<ion-scroll direction="y" has-bouncing="true">
			<!--登录模块-->
			<div class="bind bg1">
				<!--未登录-->
				<div class="bind-no option bg1 c3" ng-if="!myselfBindStatus" ng-click="bindUserPhone()">
					<span>您还未登录</span>
					<a class="detail c3 fr">
						快速登录&nbsp;&nbsp;
						<img class="my-img1" width="9" height="auto" class="arrow-r" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Farrow_gray_r.png" >
					</a>
				</div>
				<!--已登录-->
				<div class="bind-yes option bg1 f5 c3" ng-if="myselfBindStatus"  ng-click="myInfo()">
					<div>
						{{userName}}
					</div>
					<div>
						{{myselfInfo.userPhoneNum}}
					</div>
					<a class="detail f4 c5 fr">
						<img class="my-img1" width="9" height="auto" class="arrow-r" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Farrow_gray_r.png" >
					</a>
				</div>
			</div>
			<div class="apart"></div>
			<!--当前订单-->
			<div class="option bg1 f5 c3" ng-click="currentOrder()">
				<span>
					<img class="my-img1" width="16.5" height="auto" class="arrow-r" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_order.png" >
					当前订单
				</span>
				<a class="detail f4 c5 fr">
					查看&nbsp;&nbsp;
					<img class="my-img1" width="9" height="auto" class="arrow-r" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Farrow_gray_r.png" >
				</a>
			</div>
			<div class="apart"></div>
			<!--我的服务-->
			<div class="service big bg1">
				<div class="option bg1 f5 c3">
					<span>
						<img class="my-img1" width="16.5" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_service.png" >
						我的服务
					</span>
				</div>
				<ul>
					<li class="fl" ng-click="myService()">
						<img class="my-img2" width="35" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_member.png" >
						<span class="f4 c5">会员服务</span>
					</li>
					<li class="fl" ng-click="appointOrder()">
						<img class="my-img2" width="35" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_appoint.png" >
						<span class="f4 c5">预约挂号</span>
					</li>
					<li class="fl" ng-click="phoneConsultOrder()">
						<img class="my-img2" width="35" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_phone.png" >
						<span class="f4 c5">电话咨询</span>
					</li>
				</ul>
			</div>
			<div class="apart"></div>
			<!--我的资产-->
			<div class="account big bg1">
				<div class="option bg1 f5 c3">
					<span>
						<img class="my-img1" width="16.5" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_money.png" >
						我的资产
					</span>
				</div>
				<ul>
					<li class="fl" ng-click="accountBalance()">
						<span class="f8 c2">{{accountFund}}</span>
						<div class="f4 c5">账户余额</div>
					</li>
					<li class="fl" ng-click="">
						<a href="/titan/phoneConsult#/myBabyMoney">
							<span class="f8 c2">{{babyMoney}}枚</span>
							<div class="f4 c5">宝宝币</div>
						</a>
					</li>
					<li class="fl" ng-click="myService()">
						<span class="f8 c2">{{memberNum}}张</span>
						<div class="f4 c5">预约券</div>
					</li>
				</ul>
			</div>
			<div class="apart"></div>
			<!--健康档案-->
			<div class="option bg1 f5 c3 border2" ng-click="healthRecord()">
				<span>
					<img class="my-img1" width="16.5" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ficon_record.png" >
					健康档案
				</span>
				<a class="detail f4 c5 fr">
					查看&nbsp;&nbsp;
					<img class="my-img1" width="9" height="auto"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Farrow_gray_r.png" >
				</a>
			</div>
		</ion-scroll>

	</ion-content>

</ion-view>

