.clear{
  clear: both;
}
.lovePlanFirst .c11{
  color:#6a5841;
}
.lovePlanFirst{
  overflow:auto;
  width:100%;
  height:100%;
  /*background-color: #f4eee7;*/
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Findex_bg.png") repeat-y;
  background-size: 100% 7px;
}
.lovePlanFirst .margin1{
  margin:0 15px;
}
.lovePlanFirst .title{
  padding:15px;
  font-weight:500;
}
.lovePlanFirst .title span{
  padding-left:8px;
}
.lovePlanFirst .info{
  margin:20px 15px 29px;
  position: relative;
}
.lovePlanFirst .info .hd{
  position: absolute;
  top:-24px;
  left:50%;
  margin-left: -75px;
}
.lovePlanFirst .info .photo{
  position: absolute;
  left:50%;
  top:8px;
  margin-left:-17px;
}
.lovePlanFirst .info ul{
  overflow: hidden;
  position: absolute;
  width:100%;
  left:0;
  bottom:15px;

}
.lovePlanFirst .info li{
  float: left;
  width:33.3333%;
  font-weight: 700;
}
.lovePlanFirst .info li:first-of-type{
 text-align: right;
  padding-right:0.6px;
}
.lovePlanFirst .info li:nth-of-type(2){
  text-align: center;
}
.lovePlanFirst .info li:last-of-type{
  text-align: left;
}
  .lovePlanFirst .info li span{
  color:#ff3d6e;
}
.lovePlanFirst .intro {
  position: relative;
  overflow: hidden;
}
.lovePlanFirst .intro p{
  text-align: right;
  margin-right:5%;
  line-height:20px;
  margin-top: 26px;
  padding-bottom: 46px;
}
.lovePlanFirst .intro .angel-word{
  position: absolute;
  right:5%;
  bottom: 10px;
}
.lovePlanFirst .raise-out{
  border:1px solid #c3b7ac;
  padding:2px;
  margin:55px 15px 19px;
}
.lovePlanFirst .raise{
  border:1px solid #d5ccc5;
  padding:23px 5px;
  position: relative;
}
.lovePlanFirst .raise .angel{
  position: absolute;
  left:10px;
  top:-40px;
  padding: 0 5px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Findex_bg.png") repeat-y;
  background-size: 100% 7px;
}
.lovePlanFirst .raise h4{
  margin-top: 0;
  margin-bottom: 23px;
}
.lovePlanFirst .raise h4 span{
  font-weight: 800;
  color:#ff8f00;
}
.lovePlanFirst .raise ul{
  overflow: hidden;
  width:100%;
  border-radius: 5px;
  padding:17px 8px;
  box-sizing: border-box;
  position: relative;
}
.lovePlanFirst .raise li{
  width:18%;
}
.lovePlanFirst .raise ul .arr{
  margin-top:13px;
}
.lovePlanFirst .raise .money{
  margin-top:11px;
}
.lovePlanFirst .ruler{
  position: relative;
  width:100%;
  height:10px;
  border-radius: 20px;
  background-color:#b4b4b4 ;
  margin-top:61px;
  margin-bottom:54px;
}
.lovePlanFirst .ruler .line{
  position: absolute;
  width:40%;
  height:10px;
  border-radius: 20px;
  background-color:#ff4343 ;
}
.lovePlanFirst .line .num{
  position: absolute;
  right:-50px;
  top:20px;
  width:84px;
  height:53.5px;
  background:url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2Fmoney_bg.png") no-repeat;
  background-size: 100% 100%;
}
.lovePlanFirst .line .num .heart{
  position: absolute;
  top:-55px;
  left:50%;
  margin-left:-19px;
}
.lovePlanFirst .line .have {
  margin-top:9px;
}
.lovePlanFirst .line .have span{
  font-weight: 700;
  color:#ff4343;
}
.lovePlanFirst .ruler .target{
  position: absolute;
  right:0;
  top:-30px;
}
.lovePlanFirst .project{
  margin:0 15px 32px;
}
.lovePlanFirst .project dl{
  border-radius: 5px;
  overflow: hidden;
  background-color: #f4f4f4;
  border:1px solid #cecece;

}
.lovePlanFirst .project dt{
  padding:7px;
}
.lovePlanFirst .project dd{
  position: relative;
  padding:10px 10px 10px 104px;
}
.lovePlanFirst .project dd div{
  margin-bottom: 4px;
}
.lovePlanFirst .project dd .photo{
  position: absolute;
  left:10px;
  top:14px;
}
.lovePlanFirst .words{
}
.lovePlanFirst .words h3{
  position: relative;
  margin-bottom: 0;
}
.lovePlanFirst .words h3 .line{
  position: absolute;
  top:9px;
  width:36%;
  height:1px;
  background-color:  #c6a268;
}
.lovePlanFirst .words h3 .line:first-of-type{
  left:0;
}
.lovePlanFirst .words h3 .line:last-of-type{
  right:0;
}
.lovePlanFirst .words .main{
  position: relative;
  padding:17px 16px 25px 80px;
  margin:10px 15px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FleaveWord_bg.png") no-repeat;
  background-size: 100% 100%;
}
.lovePlanFirst .main .photo{
  position: absolute;
  left:16px;
  top:25px;
}
.lovePlanFirst .words .main p{
  margin-bottom: 10px;
}
.lovePlanFirst .words a{
  display: inline-block;
  position: absolute;
  right:16px;
  bottom:12px;
  width:80px;
  height:29px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FleaveWord_btn1.png") no-repeat;
  background-size: 100%;
}
.lovePlanFirst .words a:hover{
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FleaveWord_btn2.png") no-repeat;
  background-size: 100%;
}
.lovePlanFirst .bottom-btn{
  background-color: #ff7112
}
.lovePlanFirst .real-edit span{
  background-color:#ff7112 ;
}

