#b-2 {
    width: 100%;
    padding-top: 2px;
}

#b-2 .b-1 {
    width: 547px;
    height: 52px;
    margin-bottom: 9px;
    margin-left: 227px;
    padding-top: 5px;
    background: url("../../images/47.png");
}

#b-2 .b-1 img {
    margin-left: 253px;
}

#b-2 .b-2 {
    font-weight: bold;
    margin-left: 224px;
}

#b-2 .b-3 {
    margin-left: 180px;
}

#b-2 .b-4 {
    margin-left: 182px;
}

#b-2 .b-5 {
    position: relative;
    margin-left: 228px;
    margin-bottom: 22px;
}

.b-5.b-6 {
    margin-top: 147px;
}

.b-5 .b-7 {
    position: absolute;
    top: 10px;
    width: 100px;
    font-weight: bold;
    text-align: right;
}

.b-5 input[type=text] {
    width: 280px;
    height: 40px;
    margin-left: 112px;
}

.b-5 .b-8 {
    position: absolute;
    top: 0;
    left: 383px;
    width: 119px;
    height: 40px;
    padding-top: 13px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    text-align: center;
    background: #f9a920;
}

#b-2 .b-9 {
    width: 130px;
    height: 40px;
    margin-top: 205px;
    margin-left: 414px;
    padding-top: 12px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    background: #faa820;
}

.b-5 .b-10 {
    position: absolute;
    top: 8px;
    left: 407px;
}

.b-5 .b-10 span {
    position: relative;
    top: 2px;
    margin-left: 2px;
    font-weight: bold;
}