.doctorFans ul li{
  padding:0 15px;
  border-bottom: 1px solid #D8D8D8;
  height: 60px;
}
.doctorFans ul li div{
  display: inline-block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
  width: 46px;
  height: 46px;
  border-radius:50% ;
}
.doctorFans ul li div img{
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  border-radius: 50%;
}
.doctorFans ul li span{
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.doctorFans .gomore{
  text-align: center;
  margin-top: 38px;
  font-size: 12px;
  color: #333;
}
.doctorFans .gomore img{
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 4px;
}
.nohave{
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
}
.nohave img{
  vertical-align: middle;
  margin-left: 10px;
}
.nohave div{
  margin-top: 20px;
  font-size: 15px;
  color: #030303;
}