/*myAccount */
.pane{
  background-color: #f9f9f9;
}
.myAccount{

}
.myAccount h5{
  margin:0;
}
.myAccount img{
  vertical-align: middle;
}
.account-money{
  padding:17px 15px;
  background-color: #88d9dd;
  position: relative;
  color:#fff;
  height:90px;
}
.account-money h3,.account-money h5{
  margin:0;
  color:#fff;
  line-height:20px;
}
.account-money h5{
  font-size:15px;
  margin-bottom: 15px;
}
.account-money h3{
  font-size:30px;
}
.account-money .tixian{
  position: absolute;
  right:20px;
  bottom:17px;
}
.account-money span{
 font-size:17px;
}
.account-money i{
  display: inline-block;
  color:#fff;
  font-size:23px;
  vertical-align: top;
}
.dayList-drawList{
  margin:15px 10px 10px;
  border-radius:8px;
  height:35px;
  line-height:35px;
}
.dayList-drawList li{
  float: left;
  width:50%;
  text-align: center;
  border:1px solid #88d9dd;
  font-size:18px;
}
.dayList-drawList li:first-child{
  border-radius:8px 0 0 8px;
}
.dayList-drawList li:last-child{
  border-radius:0 8px 8px 0;
}
.myAccount .date{
  height:50px;
  line-height:50px;
  font-size:16px;
  color:#666;
  padding-left:10px;
  background-color: #fff;
  margin-bottom: 2px;
  position: relative;


}
.myAccount .time{
  position: absolute;
  top:13px;
  right:10px;
  width:107px;
}
.myAccount .time #dateTime{
  position: absolute;
  width:106px;
  height:22.5px;
  top:0;
  left:0;
  background: url("http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/images%2Finput_seleteDate_bg.png") no-repeat top left;
  background-size: 106px 22.5px;
  border:none;
  font-size:12px;
  padding-left:10px;

}
.myAccount dl{
  margin-bottom:2px;
}
.myAccount dt{
  text-align: center;
  font-size:16px;
  color:#666;
  font-weight:500;
  height:50px;
  line-height:50px;
  background-color: #fff;
  position: relative;

}
.myAccount dt span{
  position: absolute;
  top:0;
}
.myAccount dt .left{
  left:10px;
}
.myAccount dt .right{
  right:10px;
}
.myAccount dt img{
  position: absolute;
  bottom:-3px;
  left:0;
}
.myAccount dd{
  margin:0 10px;
  border-bottom:1px solid #fff;
  padding:10px 0;
  position: relative;
}
.myAccount dd:last-child{
  border:none;
}
.myAccount dd h5{
  font-weight:500;
  font-size:15px;
  color:#666;
}
.myAccount dd p{
  font-size:12px;
  color:#999;
  margin-bottom:0;
}
.myAccount dd span{
  position: absolute;
  top:15px;
  right:10px;
  font-size:14px;
  color:#666;
}
.myAccount li {
  margin:0 5px 2px;
  padding:10px;
  background-color: #fff;
  position: relative;
}
.myAccount li h5{
  font-weight:500;
  font-size:15px;
  color:#666;
}
.myAccount li p{
  font-size:12px;
  color:#999;
  margin-bottom:0;
}
.myAccount li span{
  position: absolute;
  top:15px;
  right:10px;
  font-size:14px;
  color:#666;
}
.myAccount .loadMore{
  padding:30px 0;
  color:#333;
  text-align: center;
  font-size:14px;
}
