.my-box{
  padding:0;
  border:none;
}
.my-box .item-thumbnail-left{
  padding: 30px 0;
}
.my-box .item-thumbnail-left h2,.my-box .item-thumbnail-left p{
  margin-left:95px;
}
.my-box .item-thumbnail-left img{
  max-width: 73.5px;
  max-height: 73.5px;
}
.my-box .item-thumbnail-left h2{
  color:#333;
  font-size:20px;
  margin-top:10px;
}
.my-box .item-thumbnail-left h2 span{
  color:#666;
  font-size:12px;
}
.my-box .item-thumbnail-left p{
  color:#999;
  font-size:13px;
}
.my-box .doc-ma{
  text-align: center;
  font-size:18px;
  color:#fff;
  padding:40px 0 25px;
  background-color: #88d9dd;
}
.my-box .doc-ma img{
  margin-bottom:25px;
}
.my-box .p-doc-tip{
  padding:22px 20px;
  background-color: #fff;
  text-align: center;
  font-size:18px;
  color:#666;
  white-space: normal;
  line-height:26px;
}