/*myselfFirst 我的*/
.myselfFirst{
}
.doctorImg{
  width:100%;
  text-align: center;
  padding:30px 0 25px;
  background-color: #88d9dd;
  font-size:18px;
  color:#fff;
}
.doctorImg img{
  border-radius: 50%;
  margin-bottom:10px;
}
/*.my-list{
  margin-top:15px;
}*/
.my-list li.item{
   padding:15px 10px;
   font-size:16px;
   color:#333;
   position:relative;
   margin:0 0 2px;

}
.my-list li img{
  vertical-align: middle;
  margin-top:-2px;
}
.my-list li img.arrow-r{
  position:absolute;
  top:18px;
  right:20px;
}
.my-list li span{
  display: inline-block;
  padding-top:8px;
}
.my-list li .all-order{
  color:#999;
  font-size:13px;
  position: absolute;
  right:50px;
  top:10px;

}
