/*myselfFirst 我的*/
.myselfFirst{
}
.doctorImg{
  background-color: #88d9dd;
  padding: 19px 15px;
}
.doctorImg .doc_img{
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 1px solid #FFFFFF;
  display: inline-block;
}
.doctorImg .doc_img img{
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}
.doctorImg .doc_ms{
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 17px;
  font-size: 15px;
  color: #FFFFFF;
}
.doctorImg .doc_ms .ms_com{
  margin-left: 7px;
}
.doctorImg .doc_ms div:last-child{
  margin-top: 4px;
}
.doctorImg .doc_gohome{
  float: right;
  margin-top: 16px;
}
/*.my-list{
  margin-top:15px;
}*/
.myselfFirst ul li:nth-child(1){
  margin: 5px 0;!important;
}
.my-list li.item{
   padding:15px 10px;
   font-size:16px;
   color:#333;
   position:relative;
   margin:0 0 2px;
}
.my-list li img{
  vertical-align: middle;
  margin-top:-2px;
}
.my-list li img.arrow-r{
  position:absolute;
  top:18px;
  right:20px;
}
.my-list li span{
  display: inline-block;
  padding-top:8px;
}
.my-list li .all-order{
  color:#999;
  font-size:13px;
  position: absolute;
  right:50px;
  top:10px;

}
