/*withDrawlsConfirm 我的*/

.withDrawlsConfirm .pic1{
  text-align: center;

}
.withDrawlsConfirm .pic1 img{
  margin:50px 0 40px;
}
.withDrawlsConfirm .pic1 h3{
  color:#333;
  font-size:18px;
  font-weight: normal;
}
.withDrawlsConfirm .pic1 p{
  color:#666;
  font-size:15px;
}