.withDrawls .dj-r{
  padding-left:15px;
}
.withDrawls input{
  border:none;
  padding:5px;
  color:#999;
  font-size:14px;
}
.withDrawls .tips{
  margin:5px 0 0 15px;
  color:#ccc;
  font-size:12px;
}