<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" class="recruitShopkeeper ">

    <!--用户非只关注显示内容-->
    <div class="swiper-container"  >
        <div class="swiper-wrapper pic-list">
            <!-------------slid01----------------->
            <div class="swiper-slide swiper-slide0 ">
                <img class="my-img2 resize mid ani" style="width:262.5px;height:72.1px;margin-top:50px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_1.png" >
                <img class="my-img2 resize mid ani" style="width:262.5px;height:54.6px;margin-top:20px;" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_2.png" >
                <img class="my-img2 resize mid ani" style="width:245px;height:346.15px;margin-top:-10px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="2s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_3.png" >
                <img class="my-img2 resize pos ani" style="width:56px;height:56.35px;top:290px;left:15px;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="2.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_4.png" >
                <img class="my-img2 resize pos ani" style="width:51.1px;height:34.65px;top:380px;left:15px;;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="3s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_5.png" >
                <img class="my-img2 resize pos ani" style="width:55.65px;height:58.1px;top:260px;right:15px;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_6.png" >
                <img class="my-img2 resize pos ani" style="width:50.05px;height:37.45px;top:380px;right:15px;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="4s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit1_7.png" >
            </div>
            <!-------------slide1----------------->
            <div class="swiper-slide  swiper-slide1">
                <img class="my-img2 resize mid ani" style="width:300px;height:39.6px;margin-top:50px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit2_1.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:44.4px;margin-top:20px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit2_2.png" >
                <img class="my-img2 resize mid ani" style="width:241.6px;height:279.2px;" swiper-animate-effect="zoomInDown" swiper-animate-duration="1s" swiper-animate-delay="2s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit2_3.png" >
                <img class="my-img2 resize pos ani" style="width:79.6px;height:103.6px;top:330px;right:13px;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit2_4.png" >
            </div>
            <!---------------slide2-------------->
            <div class="swiper-slide  swiper-slide2" >
                <img class="my-img2 resize mid ani" style="width:300px;height:79.6px;margin-top:70px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit3_1.png" >
                <img class="my-img2 resize cir mid ani" style="width:300px;margin-top:-50px;" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit3_2.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:50.4px;margin-top:40px;" swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="2s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit3_3.png" >
            </div>
            <!----------------slide3-------------->
            <div class="swiper-slide  swiper-slide3" >
                <img class="my-img2 resize mid ani" style="width:300px;height:46px;margin-top:60px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit4_1.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:95.6px;margin-top:40px;" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit4_2.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:146px;margin-top:20px;" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="2s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit4_3.png" >

            </div>
            <!-------------slide4----------------->
            <div class="swiper-slide  swiper-slide4"  >
                <img class="my-img2 resize mid ani" style="width:300px;height:57.5px;margin-top:50px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_1.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:20px;" swiper-animate-effect="slideInLeft" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_2.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInRight" swiper-animate-duration="1s" swiper-animate-delay="1.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_3.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInLeft" swiper-animate-duration="1s" swiper-animate-delay="2s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_4.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInRight" swiper-animate-duration="1s" swiper-animate-delay="2.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_5.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInLeft" swiper-animate-duration="1s" swiper-animate-delay="3s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_6.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInRight" swiper-animate-duration="1s" swiper-animate-delay="3.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_7.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:36.8px;margin-top:10px;" swiper-animate-effect="slideInLeft" swiper-animate-duration="1s" swiper-animate-delay="4s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit5_8.png" >
            </div>
            <!-------------slide5---------------->
            <div class="swiper-slide  swiper-slide5"  >
                <img class="my-img2 resize mid ani" style="width:300px;height:49.6px;margin-top:80px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit6_1.png" >
                <img class="my-img2 resize mid ani" style="width:300px;height:241.6px;margin-top:40px;" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit6_2.png" >
            </div>
            <!-------------slide6----------------->
            <div class="swiper-slide  swiper-slide6" >
                <img class="my-img2 resize mid ani slide61" style="width:300px;height:49.6px;margin-top:50px;" swiper-animate-effect="bounceIn" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit7_1.png" >
                <div class="fillWrap"  >
                    <div class="fill">
                        <span>联系人姓名：</span><input type="text" ng-model="dataShopkeeper.name" ng-focus="skipTop()" ng-blur="skipOriginal()">
                    </div>
                    <div class="fill">
                        <span>手  机  号：</span> <input type="tel" ng-model="dataShopkeeper.tel" ng-focus="skipTop()" ng-blur="skipOriginal()">
                    </div>
                    <div class="fill">
                        <span>微  信  号：</span> <input type="text" ng-model="dataShopkeeper.wechat" ng-focus="skipTop()" ng-blur="skipOriginal()">

                    </div>


                </div>
                <img ng-click="commitInfo()" class="my-img2 resize mid ani" style="width:300px;height:34.4px;margin-top:40px;" swiper-animate-effect="shake" swiper-animate-duration="1s" swiper-animate-delay="1s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit7_2.png" >
                <img class="my-img2 resize pos ani" style="width:79.6px;height:103.6px;top:340px;right:14px;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="2.5s" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/recruit/recruit2_4.png" >
            </div>

        </div>

        <div class="swiper-pagination" ></div>
    </div>
    <div class="c-shadow"  hidden> </div>
    <div class="remind-finish tc f6 "  hidden>提交完成</div>
</ion-view>