/*appointmentCancel*/
.item-radio input:checked~.item-content{
  background-color: #fff;
}
.appointmentCancel .list{
  background-color: #fff;
}
.appointmentCancel  .list label i{
  color:#88d9dd;
}
.reason dt{
  color:#333;
  font-size:18px;
  font-weight:500;
  margin-bottom: 30px;
}
.reason dd{
  color:#999;
  font-size:13px;
  margin-bottom: 25px;
}
textarea{
  line-height:20px;
  display: block;
  width:89%;
  height:90px;
  color:#999;
  font-size: 13px;
  border: 1px dashed #ddd;
  resize:none;
  border-radius: 5px;
  margin:0px 0 30px 20px;
  padding:8px;
  background-color: #fff;
}
.service1-tip{
  margin-top:5px;
  padding:0 15px;
  border-bottom: none;
  background-color: #fff;
}

.service1-tip dl{
  padding:20px 0;
  margin-bottom: 0;
}
.service1-tip dt{
  padding:0;
  color:#333;
  font-size:14px;
  font-weight: normal;
}
.service1-tip dd{
  padding:0;
}

.service1-tip  ul{
  margin: 0;
  overflow: hidden;
  padding: 0;
  list-style: none;
}
.service1-tip dd li{
  overflow: hidden;
  margin-top:22px;
  border-bottom: none;
  padding:0;
}

.service1-tip li .fl{
  float: left;
  font-size:13px;
  color:#666;

}
.service1-tip li .fl a{
  display: inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  text-align: center;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 50%;
}
.service1-tip  li .fr{
  float: right;
  font-size:12px;
  color:#333;
}
.service1-tip .tips11{
  font-size: 12px;
  color:#fe717b;
  white-space: normal;
  padding-bottom: 20px!important;

}
.appointmentCancel .service1-tip  li .fr{
  float: right;
}
.appointmentCancel .service1-tip .secondUL li{
  margin-bottom:20px;
}
.appointmentCancel .service1-tip .secondUL li:first-child{
  margin-bottom:22px;
}
.appointmentCancel .service1-tip .secondUL li:last-child{
  margin-bottom:0;
}
