/*evaluateDoctorSuccess*/
.evaluateDoctorSuccess  .bar.bar-header a.back{
  margin-left:0;
  width:34px;
  height:34px;
}

.evaluateDoctorSuccess a{
  white-space: normal;
}
.evaluateDoctorSuccess .item{
  color:#373737;
  font-size:18px;

}
.evaluateDoctorSuccess .info{
  color:#373737;
  font-size: 22px;
  margin-top:30px;
}
.evaluateDoctorSuccess .code{
  color:#139fff;
  font-size: 22px;
  margin-top:25px;
}
.evaluateDoctorSuccess .button{
  background-color: #30b4ff;
  margin-top:70px;
  width:90px;
  height:30px;
}
.share,.know{
  width:90px;
  height:30px;
  background-color: #30b3ff;
  border:none;
  color:#fff;
  font-size:15px;
  margin-top:20px;
  margin-bottom:20px;

}