/*
evaluateDoctor*/
.evaluateDoctor{
  background-color: #fff;
}
.evaluateDoctor .list ul{
  margin:0 10px;
  border-bottom:1px solid #ddd;
  padding:16px;
  overflow: hidden;
}
.evaluateDoctor .list ul .l{
  float: left;
  width:18%;
  color:#333;
  font-size:18px;
}
.evaluateDoctor .list ul .r{
  float: left;
  width: 82%;
  color:#999;
  font-size:13px;
}
.evaluateDoctor .symptom{
}
.evaluateDoctor .symptom li.r{
  position: relative;
}
.sha{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:85px;
  z-index: 3;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
  .illnessList{
  clear: both;
  display: block;
  width:150px;
  height:auto;
  max-height:50%;
  position: absolute;
  top:85px;
  left:18%;
  margin-left:17px;
  z-index:4;
  border:1px solid #ddd;
  color:#666;
  font-size:15px;
  background-color: #fff;
  padding:0 12px;
  overflow-y: scroll
}
.illnessList::-webkit-scrollbar {
  width:0;
  height:0;

}
.illnessList p.item{
  height:50px;
  padding:20px 0 0;
  border-bottom: 1px solid #ddd;
  margin:0;
}
.illnessList p:last-child{
  border-bottom:none;
}
.evaluateDoctor .symptom li.r{
  margin-top:-5px;
}
.evaluateDoctor .symptom div{
  width:150px;
  height:30px;
  line-height:30px;
  padding-left:12px;
  border:1px solid #ddd;
  border-right:none;
  color:#666;
  font-size:15px;
  float: left;

}
.evaluateDoctor .symptom .ion-ios-arrow-down{
  float: left;
  width:40px;
  height:30px;
  line-height:30px;
  background-color: #88d9dd;
  font-size:24px;
  color:#fff;
  text-align: center;
}
.evaluateDoctor .symptom .other{
  margin-left:18%;
}
.evaluateDoctor .symptom .other input{
  width:190px;
  height:30px;
  padding:8px 12px;
  color:#999;
  font-size:13px;
  margin-top:12px;
  border:1px solid #ddd;
}
/*评价医生*/
.evaluateDoctor dl{
  margin:2px 10px 0;
  font-size:18px;
  color:#333;
  padding:16px 10px 16px 16px;

}
.evaluateDoctor dt{
  text-align: center;
  font-weight:500;
  margin-bottom:15px;
}
.evaluateDoctor dd{
  margin-bottom:15px;
}
.evaluateDoctor dd.l{
  float: left;
  width:28%;
  margin-right:10px;
}
.evaluateDoctor dd.8{
  float: left;
  width:68%;
}
.evaluateDoctor .star-list{
  padding:0;
}
.evaluateDoctor .star-list img{
  margin-right:13px;
  vertical-align: middle;
  margin-top:-5px;
}
.evaluateDoctor .star-list img:last-child{
  margin-right:0;
}
.evaluateDoctor .time .r{
  color:#999;
  font-size:13px;
  white-space: normal;
}
.evaluateDoctor .impress{
}
.evaluateDoctor  #eva-con{
  width:98%;
  height:100px;
  border:1px dashed #ddd;
  border-radius: 5px;
  padding:8px 10px;
  color:#666;
  font-size:13px;
  resize: none;
  margin-top:10px;
  overflow: hidden;
}
.evaluateDoctor .impress span{
  color:#fe717b;
  margin-top:5px;
  font-size:12px;
  display: inline-block;
}
.evaluateDoctor .submit{
  width:90%;
  margin-left:5%;
  background-color: #88d9dd;
  border:none;
  font-size:18px;
  color:#fff;
  text-align: center;
  height:40px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.evaluateDoctor #treatTime{
  border:1px solid #88d9dd;
  background-color: #fff;
  /*background-color: #88d9dd;*/
  text-align: center;
  width:80px;
  height:30px;
  line-height:30px;
  color:#88d9dd;
  border-radius:3px;
}
