.myService{
  background-color: #fff;
}
.myService img{
  vertical-align: middle;
  margin-top:-2px;
}
.myService .two-select{
  margin:22.5px 10px;
  text-align: center;
  border:1px solid #88d9d9;
  border-radius: 25px;
  height:39px;
  line-height:39px;
  overflow: hidden;

}
.myService .two-select span{
  width:50%;
  display: inline-block;
  color:#88d9dd;
  font-size:16px;
}
.myService .two-select span.cur{
  background-color: #88d9dd;
  color:#fff;
}
.myService .main{
  padding: 0 10px;
  border-top:1px solid #88d9dd;
}
.myService .main dl{
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  margin-top:22.5px;
  margin-bottom: 0;
  position: relative;
}
.myService .main dl .more{
  position: absolute;
  right:20px;
  bottom: 10px;
  color:#88d9dd;
  font-size:12px;
}
.myService .main dt{
  padding:10px 20px;
  font-size:15px;
  color:#88d9dd;
  border-bottom: 1px solid #88d9dd;
  font-weight: normal;
  border-radius: 10px 10px 0 0;
  position: relative;
  margin:0 3px;
}
.myService .main dt .line{
  position: absolute;
  width:3px;
  height:16px;
  display: inline-block;
  background-color: #88d9dd;
  left:10px;
  top:12.5px;
}
.myService .main dd{
  padding:25px 22px 40px;
}
.myService .main dd .text1{
  color:#666;
  font-size:14px;
}
.myService .main dd div:first-child{
  margin-bottom: 22.5px;
}
.myService .main dd .text2{
  color:#fe717b;
  font-size:13px;
}
.myService .no-service{
  text-align: center;
  color:#999;
  font-size:14px;
  border-top:1px solid #88d9dd;

}
.myService .no-service img{
  margin:40px auto 20px;
}
.myService .no-service p{
  line-height: 26px;
  margin-bottom: 20px;

}
.myService .no-service .circle{
  border-radius: 50%;
  background-color: #999;
  display: block;
  margin:0 auto;
}
.myService .no-service .circle1{
  width:7px;
  height:7px;
}
.myService .no-service .circle2{
  width:5px;
  height:5px;
  margin:15px auto;
}
.myService .no-service .circle3{
  width:4px;
  height:4px;
}
.myService .no-service .foot-btn{
  margin-top:50px;
}