/*pendPaymentDetail*/

.pendPaymentDetail .item {
  paddding-left:20px;
  margin-bottom: 5px;
}
.pendPaymentDetail .doctorPhoto{
  left:20px!important;
}
.pendPaymentDetail .doctorInfo h2,.pendPaymentDetail .doctorInfo p{
  margin-left:100px;
}
.pendPayment .list{
  margin-bottom: 0!important;
}