.withdraw{

}
.withdraw .money{
  color:#333;
  font-size:17px;
  background-color: #fff;
  margin-top:10px;
  padding:15px 20px;
}
.withdraw .money input{
  display: inline-block;
    width:200px;
    border:1px solid #ddd;
    color:#999;
    padding:5px;
    border-radius: 5px;

}
.withdraw .way-time{
  margin-top:20px;
}
.withdraw .way-time p{
  text-align: center;
  color:#999;
  font-size:13px;
}