<link rel="stylesheet" href="styles/knowledge/aboutConsult.less?ver='0.9'" type="text/css" />
<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="郑玉巧育儿经">
    <div class="attention-shadow"  ng-click="cancel()"></div>
    <div class="bdf-attention" >
        <div style="text-align: center;width:100%;margin:0 auto;">
            <img src="http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Fconsult_remind.png" width="90%" height="auto" >
        </div>
        <dl>
            <dt>
                <span class="ll"></span>
                关注宝大夫
                <span class="rr"></span>
            </dt>
            <dd>
                <span class="cir"></span>&nbsp;&nbsp;
                1.&nbsp;打开微信，搜索“宝大夫”<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注公众号</dd>
            <dd>
                <span class="cir"></span>&nbsp;&nbsp;
                2.&nbsp;扫描下方二维码，关注宝大夫
                <img src="http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Fconsult_attention_code_.png" width="240.5" height="125" >
            </dd>
        </dl>
    </div>
    <ion-content class="aboutConsult" overflow-scroll="true" style="top:1px;">
        <ion-scroll direction="y" has-bouncing="true" >

        </ion-scroll>
    </ion-content>
</ion-view>