<link rel="stylesheet" href="styles/knowledge/knowledgeCommon.less?ver='0.9'" type="text/css" />
<link rel="stylesheet" href="styles/knowledge/todayChoiceNurslingList.less?ver='0.9'" type="text/css" />
<ion-spinner ng-show="pageLoading" icon="bubbles" class="loadPic"></ion-spinner>
<ion-view view-title="育儿精选">
    <ion-content class="todayChoiceNurslingList" overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="myTitle">
                {{zhutitle}}·{{houtitle}}
            </div>
            <ul class="myList">
                <li class="item item-thumbnail-left item-borderless" ng-repeat="item in articleList" ui-sref="knowledgeArticleContent({contentId:item.id,generalize:'WX'})">
                    <img ng-src="http://xiaoerke-article-pic.oss-cn-beijing.aliyuncs.com/{{item.id}}">
                    <h2 >{{item.title}}</h2>
                    <p class="text">
                        {{ item.description | limitTo  : 30 }}...
                    </p>
                    <div class="sub-info">
                        <a  class=" info-read">
                            <img src="http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Fitem_read.png" width="12.5" height="8.5">&nbsp;
                            {{item.articleReadCount}}
                        </a>
                        <a class="info-comment">
                            <img src="http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Fitem_comment.png" width="12.5" height="11.5">&nbsp;
                            {{item.articleCommentCount}}
                        </a>
                        <a  class="info-share">
                            <img src="http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Fitem_share.png" width="12.5" height="12.5">&nbsp;
                            {{item.articleShareCount}}
                        </a>
                    </div>
                </li>
            </ul>
            <ion-infinite-scroll on-infinite="loadMoreWithDrawlsList()" distance="1%"
                                 immediate-check="false"
                                 ng-if="lockScroll=='true'">
            </ion-infinite-scroll>
        </ion-scroll>
    </ion-content>

</ion-view>