<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.activity.dao.OlyBabyGamesDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="game_level" property="gameLevel" jdbcType="INTEGER" />
    <result column="game_score" property="gameScore" jdbcType="REAL" />
    <result column="level1_current_times" property="level1CurrentTimes" jdbcType="INTEGER" />
    <result column="level2_current_times" property="level2CurrentTimes" jdbcType="INTEGER" />
    <result column="level3_current_times" property="level3CurrentTimes" jdbcType="INTEGER" />
    <result column="level4_current_times" property="level4CurrentTimes" jdbcType="INTEGER" />
    <result column="level5_current_times" property="level5CurrentTimes" jdbcType="INTEGER" />
    <result column="level6_current_times" property="level6CurrentTimes" jdbcType="INTEGER" />
    <result column="marketer" property="marketer" jdbcType="VARCHAR" />
    <result column="invite_friend_number" property="inviteFriendNumber" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="prize" property="prize" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="prize" property="prize" jdbcType="VARCHAR" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, game_level, game_score, level1_current_times, level2_current_times, 
    level3_current_times, level4_current_times, level5_current_times, level6_current_times, 
    marketer, invite_friend_number, create_by, create_time, update_time,address,prize,nickName
  </sql>
  <select id="selectByOlyBabyGamesVo" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    select 
    <include refid="Base_Column_List" />
    from oly_baby_games
    where 1=1
    <if test="id != null" >
     and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="openId != null" >
     and open_id = #{openId,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oly_baby_games
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    insert into oly_baby_games (id, open_id, game_level, 
      game_score, level1_current_times, level2_current_times, 
      level3_current_times, level4_current_times, 
      level5_current_times, level6_current_times, 
      marketer, invite_friend_number, create_by, 
      create_time, update_time,address,prize,nickName)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{gameLevel,jdbcType=INTEGER}, 
      #{gameScore,jdbcType=REAL}, #{level1CurrentTimes,jdbcType=INTEGER}, #{level2CurrentTimes,jdbcType=INTEGER}, 
      #{level3CurrentTimes,jdbcType=INTEGER}, #{level4CurrentTimes,jdbcType=INTEGER}, 
      #{level5CurrentTimes,jdbcType=INTEGER}, #{level6CurrentTimes,jdbcType=INTEGER}, 
      #{marketer,jdbcType=VARCHAR}, #{inviteFriendNumber,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{address,jdbcType=VARCHAR},#{prize,jdbcType=VARCHAR}),#{nickName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    insert into oly_baby_games
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="gameLevel != null" >
        game_level,
      </if>
      <if test="gameScore != null" >
        game_score,
      </if>
      <if test="level1CurrentTimes != null" >
        level1_current_times,
      </if>
      <if test="level2CurrentTimes != null" >
        level2_current_times,
      </if>
      <if test="level3CurrentTimes != null" >
        level3_current_times,
      </if>
      <if test="level4CurrentTimes != null" >
        level4_current_times,
      </if>
      <if test="level5CurrentTimes != null" >
        level5_current_times,
      </if>
      <if test="level6CurrentTimes != null" >
        level6_current_times,
      </if>
      <if test="marketer != null" >
        marketer,
      </if>
      <if test="inviteFriendNumber != null" >
        invite_friend_number,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="prize != null" >
        prize,
      </if>
      <if test="nickName != null" >
        nickName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="gameLevel != null" >
        #{gameLevel,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null" >
        #{gameScore,jdbcType=REAL},
      </if>
      <if test="level1CurrentTimes != null" >
        #{level1CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level2CurrentTimes != null" >
        #{level2CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level3CurrentTimes != null" >
        #{level3CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level4CurrentTimes != null" >
        #{level4CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level5CurrentTimes != null" >
        #{level5CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level6CurrentTimes != null" >
        #{level6CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="marketer != null" >
        #{marketer,jdbcType=VARCHAR},
      </if>
      <if test="inviteFriendNumber != null" >
        #{inviteFriendNumber,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="prize != null" >
        #{prize,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
  update oly_baby_games
  <set >
    <if test="openId != null" >
      open_id = #{openId,jdbcType=VARCHAR},
    </if>
    <if test="gameLevel != null" >
      game_level = #{gameLevel,jdbcType=INTEGER},
    </if>
    <if test="gameScore != null" >
      game_score = #{gameScore,jdbcType=REAL},
    </if>
    <if test="level1CurrentTimes != null" >
      level1_current_times = #{level1CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="level2CurrentTimes != null" >
      level2_current_times = #{level2CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="level3CurrentTimes != null" >
      level3_current_times = #{level3CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="level4CurrentTimes != null" >
      level4_current_times = #{level4CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="level5CurrentTimes != null" >
      level5_current_times = #{level5CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="level6CurrentTimes != null" >
      level6_current_times = #{level6CurrentTimes,jdbcType=INTEGER},
    </if>
    <if test="marketer != null" >
      marketer = #{marketer,jdbcType=VARCHAR},
    </if>
    <if test="inviteFriendNumber != null" >
      invite_friend_number = #{inviteFriendNumber,jdbcType=INTEGER},
    </if>
    <if test="createBy != null" >
      create_by = #{createBy,jdbcType=VARCHAR},
    </if>
    <if test="createTime != null" >
      create_time = #{createTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updateTime != null" >
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </if>
    <if test="address != null" >
      address = #{address,jdbcType=VARCHAR},
    </if>
    <if test="prize != null" >
      prize = #{prize,jdbcType=VARCHAR},
    </if>
    <if test="nickName != null" >
      nickName = #{nickName,jdbcType=VARCHAR},
    </if>
  </set>
  where id = #{id,jdbcType=INTEGER}
</update>

  <update id="updateByOpenId" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    update oly_baby_games
    <set >
      <if test="gameLevel != null" >
        game_level = #{gameLevel,jdbcType=INTEGER},
      </if>
      <if test="gameScore != null" >
        game_score = gameScore + #{gameScore,jdbcType=REAL},
      </if>
      <if test="level1CurrentTimes != null" >
        level1_current_times = level1CurrentTimes + #{level1CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level2CurrentTimes != null" >
        level2_current_times = level2CurrentTimes + #{level2CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level3CurrentTimes != null" >
        level3_current_times = level3CurrentTimes + #{level3CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level4CurrentTimes != null" >
        level4_current_times = level4CurrentTimes + #{level4CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level5CurrentTimes != null" >
        level5_current_times = level5CurrentTimes + #{level5CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="level6CurrentTimes != null" >
        level6_current_times = level6CurrentTimes + #{level6CurrentTimes,jdbcType=INTEGER},
      </if>
      <if test="marketer != null" >
        marketer = #{marketer,jdbcType=VARCHAR},
      </if>
      <if test="inviteFriendNumber != null" >
        invite_friend_number = #{inviteFriendNumber,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="prize != null" >
        prize = #{prize,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
    </set>
    where  open_id = #{openId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.activity.entity.OlyBabyGamesVo" >
    update oly_baby_games
    set open_id = #{openId,jdbcType=VARCHAR},
      game_level = #{gameLevel,jdbcType=INTEGER},
      game_score = #{gameScore,jdbcType=REAL},
      level1_current_times = #{level1CurrentTimes,jdbcType=INTEGER},
      level2_current_times = #{level2CurrentTimes,jdbcType=INTEGER},
      level3_current_times = #{level3CurrentTimes,jdbcType=INTEGER},
      level4_current_times = #{level4CurrentTimes,jdbcType=INTEGER},
      level5_current_times = #{level5CurrentTimes,jdbcType=INTEGER},
      level6_current_times = #{level6CurrentTimes,jdbcType=INTEGER},
      marketer = #{marketer,jdbcType=VARCHAR},
      invite_friend_number = #{inviteFriendNumber,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      prize = #{prize,jdbcType=VARCHAR},
      nickName = #{nickName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <select id="getMarketerByOpenid" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT marketer FROM oly_baby_games where open_id=#{openId};
  </select>
  <select id="getUserPrizeList" resultMap="BaseResultMap">
    select * from oly_baby_games where prize!=null and prize!='' ORDER BY create_time desc LIMIT 5
  </select>
</mapper>