<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.activity.dao.OlyGamePrizeDao" >

  <sql id="Base_Column_List" >
    id, prizeName,prizeOrder,levelLimit, prizeNumber, probability,prizeDate
  </sql>
  <select id="getOlyGamePrizeList">
    select 
    <include refid="Base_Column_List" />
    from oly_game_prize where prizeDate = #{prizeDate} order by prizeOrder
  </select>
  <update id="updateOlyGamePrizeInfo" >
    update oly_game_prize set prizeNumber=#{prizeNumber} where prizeOrder=#{prizeOrder} and prizeDate=#{prizeDate}
  </update>
</mapper>