<ion-view ng-init="customerServiceInit()">
    <div class="customerService bg1" >
        <div class="intro">
            <img class="my-img1 line2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2FconsultPay%2Fb_01.png">
        </div>
        <div class="leave-words">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2FconsultPay%2Fa_03.png" alt=""/>
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2FconsultPay%2Fc_03.png" alt="" ng-click="doctorConsultPay()" />
        </div>
        <div class="consultButton button" ng-click="closeCustomerService()"><a>我只咨询客服</a></div>
    </div>
</ion-view>
