<div ui-view ng-init="doctorConsultJumpFirstInit()" class="doctorConsultPaySuccess">
    <div class="bg1" >
        <div class="intro">
            <img class="my-img1 line2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2FconsultPay%2Fh_03.png">
        </div>
        <div class="weChat ">
            <div>医生已就位，现在立即去咨询吧！</div>
            <div>未来<span>24小时</span>享受医生秒回服务</div>
        </div>
        <div class="consultButton button" ng-click="doctorConsultPay()" >点击问医生</div>
    </div>
</div>