<ion-view view-title="" class="helpYouChooseFromYouZan">
    <div class="pic">
        <img width="100%" height="100%" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/youzan/help/helpYouChoose_bg.png">
        <div class="btn">
            <img ng-click="lookDoctorGroup()" width="240" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/youzan/help/helpYouChoose_btn1.png">
            <img ng-click="goConsultDoctor()" width="240" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/youzan/help/helpYouChoose_btn2.png">

        </div>
    </div>

</ion-view>
