<ion-view ng-init="invitePageInit()">
    <ion-content>
        <div class="invitePageBox">
            <img class="invitePageTop" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageTop.png" alt="">
            <img id="invitePageContent" class="invitePageContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageContent.png" alt="">
            <img class="invitePageBottom" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageBottom.png" alt="">
        </div>
        <div id="invitePageShade" class="invitePageShade">
            <img class="invitePageShareContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShare.png" alt=""/>
            <img class="invitePageShareMark" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
        </div>
    </ion-content>
</ion-view>