<div ui-view class="container-fluid" ng-init="patientConsultFirst()">
    <div class="consultTitle">
        <span><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_2.png" alt=""/></span>
        宝大夫
        <span><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_1.png" alt=""/></span>
    </div>
    <div class="consultDisplay">
        <div class="consulChatList">
            <div class="chatBox" ng-repeat="item in consultContent">
                <div class="patientConsultContent" ng-if="item.senderId==patientId&&item.type!='4'">
                    <div class="patientHeaderImg">
                        <img width="25px" ng-src="{{item.avatar}}">
                    </div>
                    <div class="message" ng-if="item.type=='0'">
                        {{item.content}}
                    </div>
                    <div ng-if="item.type=='1'" class="message">
                        <img width="100px" ng-src="{{item.content}}" ng-click="tapImgButton('magnifyImg',item.content)">
                    </div>
                </div>
                <div class="doctorReplyContent"  ng-if="item.senderId!=patientId&&item.type!='4'">
                    <div class="doctorHeaderImg">
                        <img width="25px" ng-src="{{item.avatar}}">
                    </div>
                    <div class="message" ng-if="item.type=='0'">
                        {{item.content}}
                    </div>
                    <div class="message" ng-if="item.type=='1'">
                        <img width="100px" ng-src="{{item.content}}" ng-click="tapImgButton('magnifyImg',item.content)">
                    </div>
                </div>
                <div ng-if="item.type=='4'&&item.notifyType=='1001'">
                    亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1001
                </div>
                <div ng-if="item.type=='4'&&item.notifyType=='1002'">
                    亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1002
                </div>
                <div ng-if="item.type=='4'&&item.notifyType=='1003'">
                    亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1003
                </div>
            </div>
            <div class="magnifyImg" ng-show='showFlag.magnifyImg' ng-click="tapShowButton('magnifyImg')">
                <img width="400px" ng-src="{{imageSrc}}">
            </div>
        </div>
    </div>
    <div class="consultInput">
        <div class="consultInputTop">
            <div class="videoInput">
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_4.png" alt=""/>
            </div>
            <div class="textInput">
                <textarea placeholder="请输入咨询内容" id="saytext" ng-model="info.consultInputValue" style="border-style:none"></textarea>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_6.png" alt="" id="face" ng-click="getQQExpression()"/>
            </div>
            <div ng-if="!sendItem" ng-click="openFileList()" ng-if="sendItem">
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_5.png" alt=""/>
            </div>
            <div class="sendConsultContent" ng-if="sendItem" id="sendConsultContent">
                <button ng-click="sendConsultContent()">发送</button>
            </div>
        </div>
        <div ng-if="openFileListFlag&&!sendItem" id="fileInputList" class="fileInputList">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_7.png" type="file" ng-file-select="uploadFiles($files,'image')" accept="image/*" ng-file-max-height="2000" ng-file-max-size="2MB">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_8.png" type="file" ng-file-select="uploadFiles($files,'audio')" accept="audio/*">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_9.png" type="file" ng-file-select="uploadFiles($files,'video')" accept="video/*">
        </div>
    </div>
</div>