<ion-view class="patientConsultPayFeeByThird consultPageCommon" ng-init="patientConsultFirst()">
    <ion-content class="patientConsultBHQ">
        <div class="wjy_lookmore" ng-if="lookMore" ng-click="goLookMore()">
            查看更多...
        </div>
        <div class="chatBox" ng-repeat="item in consultContent">
            <div class="patientConsultContent" ng-if="item.senderId==patientId&&item.type!='4'">
                <div class="patientHeaderImg">
                    <img width="44px" ng-src="{{item.avatar}}">
                </div>
                <div ng-if="item.type=='0'" class="wjy_patient">
                    <div class="message"   ng-bind-html="item.content"></div>
                    <img class="wjy_patsanjiao" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_left.png" width="11" height="20">
                </div>
                <div ng-if="item.type=='1'" class="message wjy_com">
                    <img width="100px" ng-src="{{item.content}}" ng-click="showImageBar(item.content)">
                </div>
            </div>
            <div class="doctorReplyContent"  ng-if="item.senderId!=patientId&&item.type!='4'">
                <div class="doctorHeaderImg">
                    <img width="44px" ng-src="{{item.avatar}}">
                </div>
                <div ng-if="item.type=='0'" class="wjy_doctor">
                    <div class="message"   ng-bind-html="item.content"></div>
                    <img class="wjy_docsanjiao" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_right.png" width="11" height="20">
                </div>
                <div class="message wjy_com" ng-if="item.type=='1'">
                    <img width="100px" ng-src="{{item.content}}" ng-click="showImageBar(item.content)">
                </div>
            </div>
            <div class="remind remind1" ng-if="item.type=='4'&&item.notifyType=='1001'">
                亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1001
            </div>
            <div class="remind remind1" ng-if="item.type=='4'&&item.notifyType=='1002'">
                亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1002
            </div>
            <div class="remind remind1" ng-if="item.type=='4'&&item.notifyType=='1003'">
                亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1003
            </div>
            <div class="remind remind2" ng-if="item.type=='4'&&item.notifyType=='7777'">
                <div class="message" >
                    亲爱的，本次咨询时间已到，如需继续咨询请您</br></br>
                    <!--<a href="http://s251.baodf.com/keeper/wxPay/patientPay.do?serviceType=doctorConsultPay&thirdName=GuoWei">戳这里购买服务》</a>-->
                    <a href="http://s201.xiaork.com/keeper/wxPay/patientPay.do?serviceType=doctorConsultPay&thirdName=GuoWei">戳这里购买服务》</a>
                </div>
            </div>
            <div class="remind remind2" ng-if="item.type=='4'&&item.notifyType=='8888'">
                <div class="message" >
                    亲爱的，快速问诊避免焦急等待，请您</br></br>
                    <!--<a href="http://s251.baodf.com/keeper/wxPay/patientPay.do?serviceType=doctorConsultPay&thirdName=GuoWei">戳这里购买服务》</a>-->
                    <a href="http://s201.xiaork.com/keeper/wxPay/patientPay.do?serviceType=doctorConsultPay&thirdName=GuoWei">戳这里购买服务》</a>
                </div>
            </div>
           <div class="remind remind2" ng-if="item.type=='4'&&item.notifyType=='9999'">
               <div class="message" >
                   亲爱的新朋友，首次咨询赠送您一次免费体验机会~</br>
                   (免费时长：30分钟，24小时内可用一次)</br>
                   ——为减少其他生病宝宝的焦急等待，从医生接入开始计时!
               </div>
             </div>
        </div>
        <!--<div class="magnifyImg" ng-show='showFlag.magnifyImg' ng-click="tapShowButton('magnifyImg')">-->
        <!--<img width="400px" ng-src="{{imageSrc}}">-->
        <!--</div>-->
        <br/><br/><br/><br/><br/><br/><br/><br/>
    </ion-content>
    <div class="wjy_c box-input">
        <div class="wjy_input ">
            <input type="text" placeholder="请输入消息内容" id="saytext" ng-model="info.consultInputValue" style="border-style:none;outline: none;"  ng-blur="getautoFocus()">
            <div class="wjy_icon">
                <!--<img class="wjy_icon_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_qq2.png" width="22" height="22" id="face" ng-click="getQQExpression()"/>-->
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_img2.png" width="22" height="22"
                     type="file" ng-file-select="uploadFiles($files,'image')" accept="image/*"
                     ng-file-max-height="2000" ng-file-max-size="2MB"/>
                <img class="wjy_set" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_go.png" width="60" height="25" ng-click="sendConsultContent()"/>
            </div>
        </div>
    </div>
    <!--图片 介绍咨询服务-->
    <div class="wjy_fuceng remind-user tc" ng-if="fucengLock">
       <div class="pic-wrap tc">
           <img class="my-img2" width="300" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/remind_user.png" />
           <img class="pic-btn" ng-click="goConsult()" class="my-img2" width="240" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/remind_user_btn.png" />
           <!--<div  class=" btn" /></div>-->
       </div>
    </div>
    <!--提示消息不能为空-->
    <div class="wjy_alert remind-noMessage tc" ng-if="alertFlag">
        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/wjy/wjy_alert.png" width="197" height="52"/>
    </div>
    <!--消息图片放大-->
    <div class="imgBar" ng-if="imgBarFlag" ng-click="hideImageBar()">
       <img width="auto" height="100%" id="imageBar" ng-src="{{imgSrc}}"/>
    </div>
</ion-view>