<ion-view ng-init="patientConsultFirst()">
    <div class="container-fluid h100">
        <div class="consultTitle">宝大夫</div>
        <div class="consultDisplay h100">
            <div class="consulChatList h100" scroll-glue-bottom="glued">
                <div class="chatBox" ng-repeat="item in consultContent">
                    <div class="patientConsultContent" ng-if="item.senderId==patientId&&item.type!='4'">
                        <div class="patientHeaderImg">
                            <img width="25px" ng-src="{{item.avatar}}">
                        </div>
                        <div class="message" ng-if="item.type=='0'"  ng-bind-html="item.content">
                        </div>
                        <div ng-if="item.type=='1'" class="message">
                            <img width="100px" ng-src="{{item.content}}" ng-click="tapImgButton('magnifyImg',item.content)">
                        </div>
                    </div>
                    <div class="doctorReplyContent"  ng-if="item.senderId!=patientId&&item.type!='4'">
                        <div class="doctorHeaderImg">
                            <img width="25px" ng-src="{{item.avatar}}">
                        </div>
                        <div class="message" ng-if="item.type=='0'"  ng-bind-html="item.content">
                        </div>
                        <div class="message" ng-if="item.type=='1'">
                            <img width="100px" ng-src="{{item.content}}" ng-click="tapImgButton('magnifyImg',item.content)">
                        </div>
                    </div>
                    <div ng-if="item.type=='4'&&item.notifyType=='1001'">
                        亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1001
                    </div>
                    <div ng-if="item.type=='4'&&item.notifyType=='1002'">
                        亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1002
                    </div>
                    <div ng-if="item.type=='4'&&item.notifyType=='1003'">
                        亲，非常抱歉，由于目前没有医生在线，请您稍后再来，谢谢！！^_^1003
                    </div>
                </div>
                <div class="magnifyImg" ng-show='showFlag.magnifyImg' ng-click="tapShowButton('magnifyImg')">
                    <img width="400px" ng-src="{{imageSrc}}">
                </div>
            </div>
        </div>
        <div class="consultInput">
            <div class="textInput">
                <textarea placeholder="请输入咨询内容" id="saytext" ng-model="info.consultInputValue" style="outline:none;border:none;"></textarea>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyh_6.png" alt="" id="face" ng-click="getQQExpression()"/>
            </div>
            <input ng-click="sendConsultContent()" type="button" value="发送">
        </div>
    </div>
</ion-view>