<ion-view ng-init="invitePageInit()">
    <ion-content>
        <div class="invitePageBox">
            <img class="invitePageTop" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageTop.png" alt="">
            <img class="invitePageContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageContent.png" alt="">
            <img class="invitePageBottom" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageBottom.png" alt="">
        </div>
    </ion-content>
</ion-view>