<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="小儿手足口宝" ng-init="doRefresh()">
    <ion-content class="handfootmouthIndex" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="index_1">
                <img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_1.png" width="375px" height="360px"/>
            </div>
            <div class="index_2">
                <div>
                    手足口病是一种多发于儿童群体的常见传染病，气候温暖时发病率上升，其中少数病例可快速发展为致命性全身并发症，由于初期症状常与感冒类似，容易被父母忽略。
                </div>
            </div>
            <div class="index_3">
                <span class="com_1"></span>
                <span>小儿手足口宝服务</span>
                <span class="com_1"></span>
            </div>
            <div class="index_4">
                <img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_3.png" width="353px" height="1038px"/>
            </div>
            <div class="index_5">
                <img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_servce.png" width="350px" height="348px"/>
            </div>
            <div class="problem">
                <dl>
                    <h3>常见问题：</h3>
                    <dd class="com_2"><span>1、</span>手足口宝对宝宝的户籍和出生地有限制吗？</dd>
                    <dd class="com_3">没有限制。</dd>
                    <dd class="com_2"><span>2、</span>如果我在购买日起一年内领取了补贴，能在领取后就再次购买吗？</dd>
                    <dd class="com_3">不能，一年之内只能购买一次。</dd>
                    <dd class="com_2"><span>3、</span>对看病的医院有什么要求吗？</dd>
                    <dd class="com_3">全国三级以上医院都可以。</dd>
                </dl>
            </div>
            <div class="intro declare">
                <h3 class="f4 c3 fw0 margin0 hfm1">重要声明:
                    <div class="read" ng-click="read()">
                        已阅读
                        <a>
                            <img ng-if="readLock" width="18" height="auto"
                                 src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Fread.png">
                        </a>
                    </div>
                </h3>
                <p class="margin0 f4 c4">
                    宝大夫平台拥有对本服务的最终解释权。<br>
                    任何骗取补贴的行为将承担非常严重的法律责任。<br>
                    宝大夫平台将保留向相关当事人实施追偿的权利。<br>
                </p>
            </div>
            <br><br><br><br> <br><br> <br><br>
        </ion-scroll>
    </ion-content>
    <a href="tel:4006237120"><img  class="icon-pay"  width="68" height="auto"
             src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_kefu.png">
    </a>
    <button ng-disabled="!readLock" class=" bottom-btn bg3" ng-click="goPay()">
        立即购买  ￥26.8（一年）
    </button>
</ion-view>