* {
  margin: 0;
  padding: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.scroll-content {
  top:0px;
}

.bobyMoneyBox {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.bobyMoneyBox .bodyMoneyTitle {
  font: 600 20px/20px "Microsoft YaHei";
  color: #333;
  display: block;
}

.bobyMoneyBox .money {
  font: 600 24px/24px "Microsoft YaHei";
  color: #2c9ee2;
  display: block;
  margin-top: 15px;
}

.bobyMoneyBox .bobyMoneyTop {
  margin: 25px 15px 0 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #acacac;
}

.bobyMoneyBox .bobyMoneyContent {
  margin: 25px 15px 0 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #acacac;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule {
  margin: 15px auto 0px auto;
  overflow: hidden;
  width: 260px;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule li {
  list-style-type: none;
  border-bottom: 1px solid #2c9ee2;
  display: inline-block;
  float: left;
  margin-top: 11px;
  text-indent: 25px;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule li span {
  font: 400 14px/21px "Microsoft YaHei";
  color: #333;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule .bobyMoneyRuleOne {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FbobyMoneyRuleOne.png') no-repeat;
  background-size: 25px 21px;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule .bobyMoneyRuleTwo {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FbobyMoneyRuleTwo.png') no-repeat;
  background-size: 25px 21px;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule .bobyMoneyRuleThree {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FbobyMoneyRuleThree.png') no-repeat;
  background-size: 25px 21px;
}

.bobyMoneyBox .bobyMoneyContent .bobyMoneyRule li img {
  width: 25px;
  margin: 0px 0px -6px -10px;
}

.bobyMoneyBox .bobyMoneyBottom {
  margin: 25px 15px 0 15px;
  padding-bottom: 22px;
}

.bobyMoneyBox .bobyMoneyBottom ul {
  margin-top: 15px;
}

.bobyMoneyBox .bobyMoneyBottom ul li {
  list-style-type: none;
  margin: -1px auto;
  padding: 12px 15px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
  width: 80%;
}

.bobyMoneyBox .bobyMoneyBottom ul .bobyMoneyBottomLeft {
  float: left;
  width: 60%;
}

.bobyMoneyBox .bobyMoneyBottom ul .bobyMoneyBottomLeft span {
  font: 400 14px/21px "Microsoft YaHei";
  text-align: left;
  display: block;
}

.bobyMoneyBox .bobyMoneyBottom ul li .bobyMoneyBottomLeft .bobyMoneyBottomLeftTitle {}

.bobyMoneyBox .bobyMoneyBottom ul li .bobyMoneyBottomLeft .bobyMoneyBottomLeftTime {
  margin-top: 5px;
}

.bobyMoneyBox .bobyMoneyBottom ul li .bobyMoneyBottomLeftValue {
  font: 600 14px/47px "Microsoft YaHei";
  float: right;
}

.bobyMoneyBox .bobyMoneyBottom ul li .add {
  color: #2c9ee2;
}

.bobyMoneyBox .bobyMoneyBottom ul li .subtract {
  color: #fe717b;
}