/*searchList*/
.searchList{
  top:90px
}
.searchList .scroll{
  z-index:4;
}
.c-shadow{
  top:89px;
  z-index:5;
}
/* 全部医院、全部科室、排序 菜单选择*/
.category{
  position: absolute;
  top:44px;
  width:100%;
  padding:12px 0;
}
.category div{
  width:50%;
  color:#999;
}
.category div:first-of-type{
  border-right:1px solid #eee;
}
.category div:first-of-type span{
  display: inline-block;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
  vertical-align: middle;
}
/* 菜单列表*/
.mySeek{
  position: absolute;
  top:90px;
  left:0;
  width:100%;
  height:90%;
  overflow-y: auto;
  background-color: transparent;
  z-index:6;
}
/*.mySeek.show{
  z-index:5;
}*/
.mySeek dl{
  width:100%;
}
.mySeek dt{
  padding:13px 10px 13px 50px;
}
.mySeek dd{
  white-space: normal;
  padding:13px 10px 13px 50px;
}
/*医生列表*/
.doctorList{
  margin-top:-1px;
}
.doctorList .apart1{
  margin-bottom: 7.5px;
}
.doctorList .doctor-info {
  padding-left: 95px;
}
.doctorList .doctor-info .rank {
  margin-top: 5px;
}
.doctorList .doctor-info .intro div{
  margin-bottom: 15px;
}
.doctorList .doctor-info .intro div:last-of-type{
  margin-bottom: 0;
}
.doctorList .intro .icon{
  padding-top:7.5px;
}
.doctorList .intro .icon img{
  margin-right:6px;
}
.doctorList .intro .icon span:first-of-type{
  margin-right:4%;
}
.doctorList .time{
  margin:0 15px;
  padding:12px 0;
}
.doctorList .time a{
  display: inline-block;
  color:#b3df6e;
  border:1px solid #b3df6e;
  border-radius: 3px;
  padding:2px 11px;
}
.doctorList .time img{
  margin-top:4px;
}
.noContent img{
  margin:40px 0 20px;
}