.selfCenter{

}
.selfCenter .bind{

}
.selfCenter .bind-no{
  font-size: 17px;
}
.selfCenter .bind-yes.option{
  padding:12px 20px;
  position: relative;
}
.selfCenter .bind-yes div{
  height:20px;
}
.selfCenter .bind-yes div:first-of-type{
 margin-bottom: 12px;
}
.selfCenter .bind-yes .detail{
  position: absolute;
  right:20px;
  top:28px;
}
.selfCenter .option{
  padding:17.5px 20px;
}
.selfCenter .option span img{
  margin-right:12.5px;
}
.selfCenter .option .detail img{
  margin-top:-4px;
}
.selfCenter .big{
  padding-bottom:17.5px;
}
.selfCenter .big ul{
  overflow: hidden;
  margin:0 45px;
}
.selfCenter .big li{
  text-align: center;
}
.selfCenter .service li{
  width:50%;
}
.selfCenter .service li .my-img2{
  margin: 0 auto 10px;
}
.selfCenter .account li{
  width:33%;
}
.selfCenter .account li div{
  margin-top:10px;
}


