<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}">
    <ion-content class="umbrellaMemberAdd bg4" overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="addMember bg1">
                <dl>
                        <dt class="f8 c3 tc fw0 ">成员信息</dt>
                        <dd class="f5 c3">
                            <span class=" w1">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
                            <input type="hidden" id="babyId"/>
                            <input class=" w2" type="text" id="babyName" ng-click="skip('babyName')" ng-focus="fillName()" ng-blur="fillFinish()" ng-model="info.babyName">
                        </dd>
                        <dd>
                            <span class=" w1">关&nbsp;&nbsp;&nbsp;&nbsp;系：</span>
                            <div class="selectItem sex  w2" >
                                <img ng-click="selectSex('1')"  width="30%" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/{{sexItem=='1' ? 'member_boy2':'member_boy1'}}.png">
                                <img ng-click="selectSex('0')" width="30%" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/{{sexItem=='0' ? 'member_girl2':'member_girl1'}}.png">
                                <img ng-click="selectSex('3')" ng-if="selectInfo.showMother" width="30%" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/{{sexItem=='3' ? 'member_mom2':'member_mom1'}}.png">
                                <img ng-click="selectSex('2')" ng-if="selectInfo.showFather"  width="30%" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/{{sexItem=='2' ? 'member_dad2':'member_dad1'}}.png">
                            </div>

                        </dd>
                        <dd>
                            <span class=" w1">出生日期：</span>
                            <input class=" w2" type="text" readonly="readonly" id="birthday" placeholder="选择宝宝的出生日期" >
                        </dd>
                    </dl>
            </div>
            <div class="tc f4 c3">
                <img class="my-img1" width="18" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common/remind_icon.png">&nbsp;
                请您确认信息，一经保存，就不能修改了哦~
            </div>
            <div class="f3 c5 tc tel">如有问题，请致电<a  class="bold c7" href="tel:4001001000">400-100-1000</a></div>
            <br> <br> <br> <br>
        </ion-scroll>
        <div ng-click="save()"  id="" class="button bottom-btn bg7" >
            保存
        </div>
    </ion-content>
</ion-view>