<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}">
    <ion-content class="umbrellaMemberList " overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="banner">
                <img class="my-img2" width="88%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/memberList_top.png">
                <img class="my-img2" width="88%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/memberList_banner.png">
            </div>
           <div class="member">
               <dl >
                   <dd class=" " ng-repeat="item in familyList">
                       <img class="my-img2" width="200" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/memberList_line.png">
                       <div class="f7 bg1 info">
                           <span class="role fl c3">{{item.sex}}</span>
                           <span class="name fl ">{{item.name}}</span>
                           <span class="birth fl c3">{{item.birthday}}</span>
                       </div>
                   </dd>
                   <dd class=" ">
                       <img class="my-img2" width="200" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/memberList_line.png">
                       <div class="tc c0 f8 bg7 info" ng-click="addMember()">
                           <img class="my-img1" width="16" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common/add_icon.png">&nbsp;
                           添加成员
                       </div>
                   </dd>
               </dl>
           </div>
            <div class="tc f2 c0 myRemind">
                <img class="my-img1" width="18" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common/remind_icon.png">&nbsp;
                添加的成员只能是宝宝的爸爸妈妈和兄弟姐妹哦
            </div>
            <br> <br> <br> <br>
        </ion-scroll>
    </ion-content>
    <div class="myBottom-btn myBottom-btn3" >
        <button class="fl tc bg1 f6 c4" ng-click="myGuarantee()">我的保障</button>
        <button class="fl tc f6 c0"  ng-click="goShare()">邀请好友</button>
    </div>

    <!--分享浮层-->
    <div class="c-shadow"  ng-click="cancelShare()" ng-if="shareLock"></div>
    <div class="shadow-content share tc"  ng-click="cancelShare()"  ng-if="shareLock">
        <img class="arr" width="49" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/share_arr.png">
        <img  class="remind" width="80%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/share_remind.png">
    </div>
</ion-view>