<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}">
    <ion-content class="umbrellaPublicize" overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="banner">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/banner.png">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/umbrella_intro.png">
            </div>
            <div class="join tc">
                <img ng-click="goFillInfo()" class="my-img2" width="180" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/btn_join.png">
                <div class="c0 tc f4" ng-click="goUmbrellaFirst()">
                    已有<span id="count" class="f8 bold"></span>人加入，了解详情>
                </div>
            </div>
            <div class="ejh">
                <div class="title">
                    <hr class="line">
                    <span class="text c0 bold tc">官方报道</span>
                </div>
                <a href="http://weibo.com/5657423253/E27RrBzgy?from=page_1006065657423253_profile&wvr=6&mod=weibotime&type=comment#_rnd1470640757826">
                    <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/erjihui.png">
                </a>

            </div>
            <div class="media">
                <div class="title">
                    <hr class="line">
                    <span class="text c0 bold tc">新闻报道</span>
                </div>
               <div class="report">
                   <a class="tc a1" href="http://soviety-people.com.cn/html/GB/2016/0805/12472.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_renminwang.png">
                   </a>
                   <a class="tc a1" href=" http://www.chinanews.com.im/html/gn/2016/08-05/2600.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_zhongxinwang.png">
                   </a>
                   <a class="tc a1" href="http://finsnce-qq.com/hgjj/2016/0805/1093.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_tengxun.png">
                   </a>
                   <a class="tc" href="http://roll-sohu.com/money/20160805/n2836.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_souhu.png">
                   </a>
                   <a class="tc" href="http://news.hexun.co.cm/domestic/2016-08-05/2108.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_hexun.png">
                   </a>
                   <a class="tc" href="http://cv-sina.com.cn/minisite/news/201608/05/13854tg.html">
                       <img class="my-img1" width="auto" height="90" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/media_sina.png">
                   </a>

               </div>


            </div>
        </ion-scroll>
     </ion-content>
</ion-view>
