<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}">
    <ion-content class="umbrellaJoin bg1" overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <!--  顶部-->
            <div class="top tc c0">
                <a class="add-member f2 c0 " ng-if="addFamily" ng-click="addMember()">家庭成员</a>
                <!-- 首次进来-->
                <div ng-if="firstJoin">
                    <img class="pic my-img2" width="80%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/congratulate1.png" >
                    <div class="f5 text text1 ">其他家庭成员也可共享保障哦</div>
                    <img ng-click="addMember()" class="pic my-img2" width="150" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/btn_addMember.png" >
                </div>
                <!-- 待激活 和参与成功 -->
                <div ng-if="!firstJoin">
                    <div class="f5 text">已有互助保障金额</div>
                </div>
                <div class="money" ng-if="!firstJoin">{{umbrellaMoney}}元</div>
            </div>

            <!-- 第二部分-->

            <!-- 首次进来-->
            <div class="join" ng-if="firstJoin">
                <img class="my-img2"  width="100%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/join_first.png" >
            </div>
            <!-- 待激活  -->
            <div class="join" ng-if="updateJoin">
                <img class="my-img2" width="100%" height="150" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/join_bg.png" >
                <div class="main tc">
                    <div class="order f4 c3">你是第<span class="c11">{{num}}</span>个加入的家庭</div>
                    <div class="state f5 c13">您的宝宝信息<span class="c11">待激活</span></div>
                    <button class="c0 f6" ng-click="goActive()">去激活</button>
                    <div class="remind f5 c3">完善宝宝信息才可获取保障金</div>
                </div>
            </div>
            <!--参与成功 -->
            <div class="join join3" ng-if="finally">
                <img class="my-img2"  width="100%" height="160" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/join_bg.png" >
                <div class="main tc">
                    <div class="order f4 c3">你是第<span class="c11">{{num}}</span>个加入的家庭</div>
                   <div ng-if="minusDays!='0'">
                       <div class="state f5 c13">你正处于<span class="c11">观察期</span></div>
                       <div class="day tc">
                           <img width="39" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/countdowm{{minusDays1}}.png">
                           <img width="39" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/countdowm{{minusDays2}}.png">
                           <img width="39" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/countdowm{{minusDays3}}.png">
                       </div>
                       <div class="remind">天后即可享受保障</div>
                   </div>
                    <div ng-if="minusDays=='0'">
                        <div class="state f5 c13">你正处于<span class="c11">保障期</span></div>
                        <div class="day tc">
                            <img width="84" height="84" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/icon_baozhangqi.png">
                        </div>
                    </div>
                </div>
            </div>


            <!--拼图模块 -->
            <div class="pinTu tc">
                <p class="f8 c3" ng-if="person<10||person==0">
                    只需邀请<span class="c12">{{10-person}}</span>位好友，完成拼图<br>
                    即可获40万保障金
                </p>
                <p class="f8 c3" ng-if="person>=10">
                    已成功邀请<span class="c12">{{person}}</span>位好友<br>
                    享40万保障金
                </p>
                <img class="my-img2" width="80%" height="auto" ng-src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/pintu{{pintu}}.png" >
            </div>

            <br><br><br><br><br>
        </ion-scroll>
    </ion-content>
    <!--底部按钮-->
    <div class="myBottom-btn tc">
        <!-- <div class="account f4 c4 ">家庭账户余额:  <span class="bold">5</span>元</div>-->
        <div class="btn">
            <button class="f8 c0" ng-click="goDetail()">查看详情</button>
            <button class="f8 c0" ng-click="goShare()">邀请好友</button>
        </div>
    </div>

    <!--分享浮层-->
    <div class="c-shadow"  ng-click="cancelShare()" ng-if="shareLock"></div>
    <div class="shadow-content share tc" ng-if="shareLock"  >
        <img class="arr" width="47" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/shareNew_arr.png">
        <div class="main tc">
            <img class="my-img2" width="56%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/shareNew1.png">
            <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/shareNew2.png">
            <div class="word">
                <div class="text" data-tap-disabled="true" >
                    <img class="refer" width="59" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/shareNew_text.png">
                    <p class="f3 c0 selectable" data-tap-disabled="true" >
                        {{shareRandomText}}
                    </p>
                    <div class="f3 tc">（长按文字即可复制哦）</div>
                </div>
            </div>
        </div>
    </div>
</ion-view>