<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}">
   <!-- <ion-content class="umbrellaLead " overflow-scroll="true" style="top:0;overflow: hidden;">
        <ion-scroll direction="x" has-bouncing="true" >
            <ion-slide-box
                    auto-play="false"
                    does-continue="false"
                    slide-interval=2000
                    show-pager="false"
                    delegate-handle="delegateHandler"
                    active-slide="myActiveSlide"  on-slide-changed="slideHasChanged($index)"
                    >
                <ion-slide >
                    <div class="lead" id="lead">
                        <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead1.png" >
                        <img ng-click="goJoin(1)" class="btn my-img2" width="220" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_btn1.png" >
                        <img class="arr my-img2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_arr.png" >
                    </div>
                </ion-slide>
                <ion-slide >
                    <div class="lead">
                        <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead2.png" >
                        <img ng-click="goJoin(2)" class="btn my-img2" width="220" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_btn1.png" >
                        <img class="arr my-img2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_arr.png" >
                    </div>
                </ion-slide>
                <ion-slide >
                    <div class="lead">
                        <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead3.png" >
                        <img  ng-click="goJoin(3)" class="btn my-img2" width="220" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_btn1.png" >
                        <img class="arr my-img2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_arr.png" >
                    </div>
                </ion-slide>
                <ion-slide >
                    <div class="lead">
                        <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead4.png" >
                        <img  ng-click="goJoin(4)" class="btn my-img2" width="220" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_btn1.png" >
                        <img class="arr my-img2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_arr.png" >
                    </div>
                </ion-slide>
                <ion-slide >
                    <div class="lead">
                        <img class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead5.png" >
                        <img  ng-click="goJoin(5)" class="btn my-img2" width="220" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_btn2.png" >
                        <img class="arr my-img2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead_arr.png" >
                    </div>
                </ion-slide>
                <ion-slide >
                    <div class="lead">
                        <img data-tap-disabled="true"  class="my-img2" width="90%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/lead6.png" >
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-scroll>
    </ion-content>-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-------------slide1----------------->
            <section class="swiper-slide swiper-slide1 ">
                <img class="ani resize" style="width:146px;height:62.8px;left:15px;top:20px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_01.png" >
                <img class="ani resize" style="width:78.8px;height:218.4px;left:17px;top:120px;z-index:2;" swiper-animate-effect="zoomInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_02.png" >
                <img class="ani resize" style="width:98px;height:137.6px;left:35px;bottom:30px;z-index:2;"  swiper-animate-effect="fadeInUpBig " swiper-animate-duration="1s" swiper-animate-delay="1.2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_03.png"  >
                <img class="ani resize" style="width:115.2px;height:262.2px;right:15px;bottom:30px;z-index:2;" swiper-animate-effect="fadeInRightBig" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_04.png" >
                <img class="ani resize" style="width:82px;height:77.2px;right:30px;top:30px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_05.png" >

            </section>
            <!---------------slide2-------------->
            <section class="swiper-slide swiper-slide2 tc">
                <img class="ani resize" style="width:320px;height:67px;left:0px;top:5px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_01.png" >
                <img class="ani resize" style="width:320px;height:20px;left:0px;top:80px;z-index:2;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_02.png" >
                <img class="ani resize" style="width:320px;height:306px;left:0px;top:130px;z-index:2;"  swiper-animate-effect="zoomIn " swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_03.png"  >
                <img class="ani resize" style="width:320px;height:169px;left:0px;top:110px;z-index:3;" swiper-animate-effect="bounceInDown" swiper-animate-duration="2s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_04.png" >
                <img class="ani resize" style="width:320px;height:54.44px;left:0px;bottom:0px;z-index:1;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.2s" swiper-animate-delay="0s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_bottom.png" >
            </section>
            <!----------------slide3-------------->
            <section class="swiper-slide swiper-slide3 ">
                <img class="ani resize" style="width:320px;height:68px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_01.png" >
                <img class="ani resize" style="width:320px;height:314px;left:0;top:90px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_02.png" >
                <img class="ani resize" style="width:88px;height:58px;left:20px;top:86px;z-index:2;"  swiper-animate-effect="fadeIn " swiper-animate-duration="0.5s" swiper-animate-delay="4.2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_03.png"  >
                <img class="ani resize" style="width:96px;height:141px;left:15px;top:172px;z-index:3;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="2.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_04.png" >
                <img class="ani resize" style="width:105px;height:115px;left:15px;top:338px;z-index:3;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_05.png" >
                <img class="ani resize" style="width:148px;height:69px;right:1px;top:98px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_06.png" >
                <img class="ani resize" style="width:149px;height:159px;right:4px;top:172px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.6s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_07.png" >
                <img class="ani resize" style="width:158px;height:73px;right:5px;top:373px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.9s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_08.png" >

            </section>
            <!-------------slide4----------------->
            <section class="swiper-slide swiper-slide4 ">
                <img class="ani resize" style="width:320px;height:67px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_01.png" >
                <img class="ani resize" style="width:320px;height:384px;left:0;top:90px;z-index:2;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_02.png" >
                <img class="ani resize" style="width:114px;height:55px;left:10px;top:212px;z-index:2;"  swiper-animate-effect="fadeInLeft " swiper-animate-duration="1s" swiper-animate-delay="2.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_03.png"  >
                <img class="ani resize" style="width:128px;height:58px;left:10px;top:393px;z-index:2;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="3.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_04.png" >
                <img class="ani resize" style="width:156px;height:55px;right:10px;top:107px;z-index:2;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_05.png" >
                <img class="ani resize" style="width:128px;height:57px;right:10px;top:292px;z-index:2;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.0s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_06.png" >

            </section>
            <!-------------slide5---------------->
            <section class="swiper-slide swiper-slide5 ">
                <img class="ani resize" style="width:320px;height:66px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_01.png" >
                <img class="ani resize" style="width:320px;height:325px;left:0;top:80px;z-index:2;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_02.png" >
                <img class="ani resize" style="width:88px;height:76px;right:20px;top:350px;z-index:2;"  swiper-animate-effect="fadeInUp " swiper-animate-duration="1s" swiper-animate-delay="2.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_03.png"  >
                <img class="ani resize" ng-click="goJoin();" style="width:320px;height:79px;left:0;bottom:0;z-index:2;" swiper-animate-effect="zoomInUp" swiper-animate-duration="1.5s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_04.png" >
            </section>
            <!-------------slide6----------------->
            <section class="swiper-slide swiper-slide6 ">
                <img class="ani resize" style="width:320px;height:84px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_01.png" >
                <img class="ani resize" style="width:320px;height:305px;left:0;top:104px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_02.png" >
                <img class="ani resize" style="width:320px;height:41px;left:0;bottom:10px;z-index:2;"  swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_03.png"  >
            </section>
        </div>
        <img src="/wisdom/swipe/images/arrow.png" style="width:20px;height:15px; bottom:10px; left:150px;" id="array" class="resize">
        <div class="swiper-pagination"></div>
    </div>
</ion-view>