<ion-spinner ng-show="pageLoading" class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫">
    <ion-content class="operateActiveRule" overflow-scroll="true" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
          <div class="title">
            活动规则
          </div>
            <dl>
                <dd>
                    <a class="fl">【活动主题】：</a>
                   <span class="fl">分享“宝大夫”，与名医郑玉巧聊育儿！</span>
                </dd>
                <dd>
                    <a class="fl">【活动时间】：</a>
                    <span class="fl">2015.11.19-2015.12.04</span>
                </dd>
                <dd>
                    <a class="fl">【活动奖品】：</a>
                   <span class="fl"> 与名医郑玉巧面对面座谈聊育儿（仅限北京地区）</span>
                </dd>
                <dd>
                    <a>【活动规则】：</a><br>
                    <p style="margin-top:15px;">
                        <span class="cir"></span>
                        分享“推荐给好友”菜单中的二维码，当好友通过该二维码成功关注“宝大夫”服务号，且成功转发任意一篇【郑玉巧育儿经】文章，计为一次有效推荐；
                    </p>
                    <p style="margin-bottom: 0;">
                        <span class="cir"></span>
                        凡活动期间成功推荐20位好友完成任务的用户，即可获得活动奖品。
                    </p>
                </dd>
                <dd>
                    <a>【注释说明】：</a>
                    <br>
                    <div style="margin-top:15px;">1.最终数据统计以活动结束日好友关注数为准；</div>
                    <div>2.活动期间若推荐的好友取消对本平台的关注，则该好友将不计入有效推荐总数；</div>
                    <div>3.郑玉巧座谈会的时间将会在活动结束后，与获奖名单一并公布；</div>
                    <div>4.如发现作弊情况，宝大夫有权取消其活动参与资格；</div>
                    <div>5.宝大夫保留在法律规定的范围内对对上述规则进行解释的权利。</div>
                </dd>
            </dl>
        </ion-scroll>
    </ion-content>

</ion-view>