.antiDogUpload{

}
.antiDogUpload .title{
  border-top:1px dashed #ccc;
  margin:27.5px 45px 25px;
}
.antiDogUpload .title .text{
  width:120px;
  padding:0 10px;
  color:#666;
  font-size: 14px;
  text-align: center;
  margin:-10px auto 0;
  background-color: #f9f9f9;

}
.antiDogUpload .info{
  background-color: #fff;
  padding:22.5px 40px;
  margin-bottom: 5px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.antiDogUpload .info h3{
  font-weight: normal;
  font-size: 14px;
  color:#999;
  text-align: center;
  margin-bottom: 25px;
}
.antiDogUpload .info .pic{
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
}
.antiDogUpload .info .example{
  float: left;
  position: relative;
}
.antiDogUpload .info .example a{
  position: absolute;
  left:13px;
  top:31px;
  color:#fff;
  font-size: 13px;
  text-align: center;
  padding:3px 5px;
  border-radius: 3px;
  border:1px solid #fff;
}
.antiDogUpload .info .upload{
  float: right;
  text-align: center;
  width:90px;
  height:90px;
  line-height:90px;
  border:1px solid #ccc;
  background-color: #f0f0f0;
}
.antiDogUpload .info .upload img{
  margin-top:27px;
}
.antiDogUpload .info .arrow-two{
  margin-top: 31.25px;
}
.antiDogUpload .info .remind{
  text-align: center;
  font-size: 12px;
  color:#fe717b;
}
.antiDogUpload .info .user-pic{
  width:100%;
  height:85px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding:0;
  border:none;
}
.antiDogUpload .info .user-pic ul{
  width:100%;
  height:85px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.antiDogUpload  .user-pic li{
  display: inline-block;
  position: relative;
  margin-right: 17.5px;

}
.antiDogUpload  .user-pic li img:first-of-type{
  margin-top:20px;
}
.antiDogUpload  .user-pic li .delete{
  position: absolute;
  right:-8px;
  top:10px;
}

