
.antiDogIndex{
  background-color: #fff;
}
.antiDogIndex .banner{
  position: relative;
}
.antiDogIndex .banner .text{
  text-align: center;
  position: absolute;
  width:100%;
  bottom:0;
  background-color: rgba(0,0,0,0.3);
   padding:11px 0;
   color:#fff;
   font-size: 20px;
}
.antiDogIndex .intro{
  margin: 20px 15px 0;
}
.antiDogIndex .intro dl{
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px;
}
.antiDogIndex .intro dl:last-of-type{
  border-bottom:none;
  margin-bottom: 0;
}
.antiDogIndex .intro dt{
  position: relative;
  font-size: 14px;
  color:#666;
  font-weight: normal;
  vertical-align: top;
  padding-left:13px;
  margin-bottom: 15px;
}
.antiDogIndex .intro dt .line{
  position: absolute;
  left:0;
  top:2px;
  display: inline-block;
  width:3px;
  height:13px;
  background-color: #88d9dd;
  margin-right: 10px;

}
.antiDogIndex .intro dd{
   position: relative;
   color:#999;
   font-size: 13px;
   line-height: 20px;
   margin-bottom: 5px;
 }
.antiDogIndex .intro dd.num{
  padding-left:16px;
}
.antiDogIndex .intro dd:last-of-type{
  margin-bottom: 0;
}
.antiDogIndex .intro dd span{
  position: absolute;
  left:0;
  top:0;

}
.antiDogIndex .apart{
  width:100%;
  height:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background-color: #f9f9f9;
}
.antiDogIndex .declare dt .read{
  /*position: absolute;
  top:0;
  right:0;*/
  float: right;
  padding-right:20px;
  overflow: auto;
}
.antiDogIndex .declare .read a{
  display: inline-block;
  position: absolute;
  top:2px;
  right:0;
  width:15px;
  height:15px;
  border:1px solid #5abd80;

}
.antiDogIndex .declare .read a img{
  position: absolute;
  left:0;
  top:-2px;

}
.antiDogIndex .declare dd{
  padding:15px 16px;
  border:1px dashed #ccc;
  border-radius: 15px;
}
.icon-pay{
  position:fixed;
  right:15px;
  bottom:60px;
}
