.fillCommon{
  background-color: #fff;
}
.fillCommon dl{
  margin-bottom: 0;
}
.fillCommon dl:last-of-type{
  margin-bottom: 10px;
}
.fillCommon dt{
  font-weight: normal;
  font-size: 14px;
  color:#333;
  padding:17.5px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 19px;
}
.fillCommon dd{
  position: relative;
  margin: 0 20px 19px;
  border: 1px solid #f0f0f0;
  padding:15px 7.5px;

}
.fillCommon dd .selectBaby,.fillCommon dd .getCode{
  position: absolute;
  right:7.5px;
  top:14.5px;
  width:62.5px;
  height:25px;
  line-height:25px;
  text-align: center;
  border-radius: 3px;
  background-color: #88d9dd;
  color:#fff;
  font-size: 14px;
}
.fillCommon dd .getCode{
   width:80px;
 }
.fillCommon .info dd span{
  display: inline-block;
  width:84px;
  font-weight: normal;
  font-size: 14px;
  color:#999;
}
.fillCommon dd input{
  padding:0;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color:#666;
  background-color: #fff;
}
input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
  background-color: #fff;

}
input:focus {
  border:none;
}
.fillCommon .selectItem{
  display: inline-block;
  vertical-align: middle;
  width:50%;
  height:32px;
  line-height:30px;
  border-radius: 3px;
  border:1px solid #88d9dd;
}
.fillCommon .selectItem a{
  display: inline-block;
  width:50%;
  float: left;
  color:#88d9dd;
  font-size: 14px;
  text-align: center;
}
.fillCommon .selectItem a.select{
  background-color: #88d9dd;
  color:#fff;
}
.fillCommon .tips{
  text-align: right;
  color:#fe717b;
  font-size: 12px;
  margin-right:20px;
  padding:10px 0;
}
.fillCommon .tips img{
  vertical-align: middle;
  margin-top: -3px;
}
.fillCommon .babyList{
  position: absolute;
  z-index:3;
  width:100%;
  left:0;
  top:56px;
  background-color: #f0f0f0;
  padding:0 7.5px;
  box-shadow: 1px 1px 2px #b4b4b4;
}
.fillCommon .babyList li{
  height:40px;
  line-height:40px;
  border-top:1px solid #fff;
}
.fillCommon .babyList li:first-of-type{
  border-top:none;
}