.umbrellaPublicize{
  background-color: #44a7e2;
}
.umbrellaPublicize .join{
  margin-top: 25px;
  margin-bottom: 35px;
}
.umbrellaPublicize .join div{
  margin-top: 6px;
}
.umbrellaPublicize .title{
  margin-top:10px;
  margin-bottom: 10px;
  position: relative;
  height:20px;
}
.umbrellaPublicize .title .line{
  position: absolute;
  width:100%;
  height:1px;
  border:none;
  border-top:1px solid #fff;
}
.umbrellaPublicize .title .text{
  position: absolute;
  display: inline-block;
  width:100px;
  left:50%;
  top:-5px;
  margin-left: -50px;
  font-size: 20px;
  background-color: #44a7e2;
}
.umbrellaPublicize .media{
  margin-top:20px; ;
}
.umbrellaPublicize .media .report{
  width:90%;
  margin:-5px auto 20px;
  padding:30px 15px;
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/publicize/bg.png") no-repeat;
  background-size: 100% 100%;
  font-size: 0;

}
.umbrellaPublicize  .report a{
  display: inline-block;
  width:33.3333%;
}
.umbrellaPublicize  .report a span{
  display:block;
  width:33.3333%;
  color:#30aece;
  font-size: 15px;

}
.umbrellaPublicize  .report .a1{
 margin-bottom: 21px;
}