
.umbrellaMemberAdd .addMember{
  margin:17px 10px 25px;
  border:1px solid #ccc;
}
.umbrellaMemberAdd .addMember dt{
  padding:14px 0;
  border-bottom: 1px solid #ababab;
}
.umbrellaMemberAdd .addMember dd{
   margin:0 27px;
   padding:27px 0  8px 70px;
   border-bottom: 1px solid #666;
   overflow: hidden;
   position: relative;
  min-height: 21px;
  box-sizing: content-box;
 }
.umbrellaMemberAdd .addMember dd .w1{
  width:70px;
  position: absolute;
  left:0;
  bottom:8px;
}
.umbrellaMemberAdd .addMember dd .w2{

}
.umbrellaMemberAdd .addMember dd input{
  position: absolute;
  bottom:8px;
  height:50px;
  left:0;
  padding-top:30px;
  padding-left:70px;
  box-sizing: border-box;
  background-color: transparent;
}
.umbrellaMemberAdd .tel{
 margin-top:160px;

}
