.shadow-content.share{
  position: absolute;
  width:100%;
  top:10px;
  padding-top:53px;
}
.shadow-content.share .arr{
  position: absolute;
  right:15px;
  top:0;
}
.umbrellaJoin{

}
.umbrellaJoin .c11{
  color:#2c9ee2;
  font-weight: bold;
}
.umbrellaJoin .c12{
  color:#f9625e;
  font-weight: bold;
}
.umbrellaJoin .c13{
  color:#030303;
}
.bold{
  font-weight: bold;
}
.umbrellaJoin .top{
  background-color: #2c9ee2;
  padding:21px 0;
  position: relative;
}
.umbrellaJoin .top .add-member{
  display: inline-block;
  position: absolute;
  top:10px;
  right:10px;
  border-radius: 5px;
  background-color: #5BB7EF;
  box-shadow: 0 2px 1px #0E72B0;
  padding:3px 8px;
}
.umbrellaJoin .top .pic{
  margin-bottom: 12px;
}
.umbrellaJoin .top .text{
  margin-bottom:14px;
}
.umbrellaJoin .top .text1{
  margin-top:14px;
  margin-bottom:5px;
}

.umbrellaJoin .top .money{
  font-size: 30px;
  font-weight: bold;
}
.umbrellaJoin .join {
  position: relative;
}
.umbrellaJoin .join .main{
  position: absolute;
  width:100%;
  top:50%;
  margin-top:-63px;
}
.umbrellaJoin .join3 .main{
  margin-top:-70px;
}
.umbrellaJoin .join .order{
  margin-bottom:6px;
}
.umbrellaJoin .join button{
  width:150px;
  height:38px;
  line-height:38px;
  margin:12px auto 10px;
  background-color:#2c9ee2 ;
  box-shadow: 1px 2px 3px #0c73b0;
  border-radius: 5px;
}
.umbrellaJoin .join .day{
  margin:10px auto 8px;

}
.umbrellaJoin .pinTu{
  margin-bottom: 23px;
}
.umbrellaJoin .pinTu p{
  margin:18px auto 17px;
  line-height: 28px;
}

.myBottom-btn2{
  position: fixed;
  width:100%;
  left:0;
  bottom:0;
}
.myBottom-btn2 .account{
  height: 35px;
  line-height: 35px;
  background-color: #e9e9e9;
}
.myBottom-btn2 .btn{
  background-color: #64b9eb;
  padding:8px 0;
}
.myBottom-btn2 button{
  display: inline-block;
  width:40%;
  max-width: 140px;
  height:40px;
  line-height:40px;
  border-radius: 5px;
  border:1px solid #1c6e9f;

}
.myBottom-btn2 button:first-of-type{
  background-color: #2895d7;
  margin-right: 5%;
}
.myBottom-btn2 button:last-of-type{
  background-color: #ffa126;
  border:1px solid #2895d7;
}