.umbrellaPaySuccess{
}
.umbrellaPaySuccess .box{
  position: relative;
 /* height:100%;*/
}
.umbrellaPaySuccess .box .code{
  position: absolute;
  width:auto;
  bottom:72px;
  display: inline-block;
  padding:8px;
  left:50%;
  margin-left:-46px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
}
.umbrellaPaySuccess .box .code span{
  display: inline-block;
  padding:8px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
}
.umbrellaPaySuccess .box .code{
}