.umbrellaInvite{
  height:100%;
}
.umbrellaInvite .middle{
 /* position: absolute;*/
  width:100%;
  left:0;
  /*top:50%;*/
  margin-top:-36px;
}
.umbrellaInvite .middle .money{
  margin-bottom: 25px;
}
.umbrellaInvite .middle .text1{
  margin-bottom: 30px;
}
.umbrellaInvite .middle .btn{
  margin-bottom: 9px;
}
.umbrellaInvite .middle .text2{
  margin-bottom: 12px;
}

.bottom{
  position: absolute;
  width:100%;
  bottom: 0;
}