.umbrellaMemberList{
  background-color: #b1cbef;
}
.umbrellaMemberList .banner img:first-of-type{
  margin:18px auto 19px;
}
.umbrellaMemberList .member{
  width:82%;
  margin:0 auto;
}
.umbrellaMemberList dl{

}
.umbrellaMemberList dd{
  position: relative;
}
.umbrellaMemberList dd .info{
  padding:14px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #53b5f7;
  overflow: hidden;
  margin-bottom: 2px;
}
.umbrellaMemberList dd:last-of-type .info{
  box-shadow: 0 2px 0 #dae7f7;
}
.umbrellaMemberList dd span{
  display: inline-block;
}
.umbrellaMemberList .name{
  width:30%;
  color:#1073ff;
}
.umbrellaMemberList .role{
  width:30%;
}
.umbrellaMemberList .birth{
  width:40%;
}
.umbrellaMemberList .myRemind{
 margin-top: 50px;
}
.bottom-btn{
  background-color: #fd8156;
}