.shadow-content.share{
 position: absolute;
 width:100%;
 top:10px;
 padding-top:53px;
}
.shadow-content.share .arr{
 position: absolute;
 right:15px;
 top:0;
}
.myBottom-btn{
  position: fixed;
  width:100%;
  left:0;
  bottom:0;
}
.myBottom-btn .account{
  height: 35px;
  line-height: 35px;
  background-color: #e9e9e9;
}
.myBottom-btn .btn{
  background-color: #64b9eb;
  padding:8px 0;
}
.myBottom-btn button{
  padding:0;
  display: inline-block;
  width:40%;
  max-width: 140px;
  height:40px;
  line-height:40px;
  border-radius: 5px;
  border:1px solid #1c6e9f;

}
.myBottom-btn button:first-of-type{
  background-color: #2895d7;
  margin-right: 5%;
}
.myBottom-btn button:last-of-type{
  background-color: #ffa126;
  border:1px solid #2895d7;
}
