
.umbrellaMemberAdd .addMember{
  margin:17px 10px 25px;
  border:1px solid #ccc;
}
.umbrellaMemberAdd .addMember dt{
  padding:14px 0;
  border-bottom: 1px solid #ababab;
}
.umbrellaMemberAdd .addMember dd{
   margin:0 27px;
   padding:27px 0 8px ;
   border-bottom: 1px solid #666;
   overflow: hidden;
 }
.umbrellaMemberAdd .addMember dd .w1{
 width:30%;
}
.umbrellaMemberAdd .addMember dd .w2{
  width:70%;
}
.umbrellaMemberAdd .addMember dd input{
  height:auto;
  padding:0;
}
.umbrellaMemberAdd .tel{
  position: absolute;
  bottom:80px;
  width:100%;
  z-index:5;
}
