.umbrellaMemberList dl{
  margin: 0 15px;
}
.umbrellaMemberList dt{
  margin-top: 20px;
  margin-bottom: 20px;
}
.umbrellaMemberList dd{
  margin-bottom: 10px;
  padding:8px 15px;
  border:1px solid #ddd;
}
.umbrellaMemberList span{
  display: inline-block;
}
.umbrellaMemberList .name{
  width:22%;
}
.umbrellaMemberList .role{
  width:22%;
}
.umbrellaMemberList .birth{
  width:48%;
}
.myBottom-btn a{
  display: inline-block;
  width:100px;
  height:30px;
  line-height:30px;
  border-radius: 5px;
}
.myBottom-btn a:first-of-type{
  margin-right: 20px;
}