.signHomeBox{
  width: 100%;
  height:auto;
  position: relative;
}

.signHomeBox .userHead{
  width:1.408rem;
  height:1.408rem;
  border: solid 2px #54d4d6;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top:0.448rem;
  left:0.704rem;
}
.signHomeBox .userHead img{
  width:100%;
  height:100%;
}

.signHomeBox .top_R{
  position:absolute;
  top:1rem;
  right:1.216rem;
  font-size: 0.512rem;
  color:#4f4f4e;
}
.signHomeBox .top_R b{
  color:#3d3d3a;
}

.signHomeBox .homeTop{
  width:100%;
  height:auto;
  display: block;
}


.signHomeBox .homeCon{
  width:100%;
  height:auto;
  background: #5ae8cc;
  padding-top: 0.469333rem;
  padding-bottom:1.6rem;
  position: relative;
}

.signHomeBox .homeCon .totalNum{
  width:100%;
  height:auto;
  text-align: center;
  line-height: 1.5;
  font-size: 0.682667rem;
  color:#333;
}
.signHomeBox .homeCon .totalNum span{
  font-weight: bold;
  color:#ff6b98;
}

.signHomeBox .homeCon .rules{
  display: block;
  width:14.72rem;
  height:auto;
  margin:0 auto;
  margin-top:0.64rem;
}

.signHomeBox .homeCon .join{
  display: block;
  width:14.72rem;
  height:auto;
  margin:0 auto;
  margin-top:1.152rem;
}

.signHomeBox .homeCon .conBottom{
  width:7rem;
  height:0.832rem;
  line-height: 0.832rem;
  margin:0 auto;
  margin-top:0.64rem;
  font-size: 0.512rem;
  color:#fff;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/hand.png")no-repeat center right;
  background-size: auto 100%;
  padding-right:1.024rem;
}


.signHomeBox .allRecord{
  width:100%;
  height:auto;
  background:#fff;
  position: relative;
  z-index: 10;
  padding-top:1.792rem;
}

.signHomeBox .allRecord .allRecordTop{
  width:14.72rem;
  height:1.792rem;
  position: absolute;
  top:-0.896rem;
  left:50%;
  margin-left:-7.36rem;
  background:url('http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/allRecord.png')no-repeat;
  background-size: 100% 100%;
  color:#333;
  font-size: 0.554667rem;
  padding-left:0.426667rem;
  padding-right:0.426667rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signHomeBox .allRecord .allRecordTop span:nth-child(1){
  width:52%;
}


.signHomeBox .allRecord .RecordTop{
  width:100%;
  text-align: center;
  font-size: 0.64rem;
  color:#ff6b98;
}

.signHomeBox .allRecord ul{
  width:14.72rem;
  margin:0 auto;
  margin-top:0.64rem;
  padding-bottom: 0.896rem;
}
.signHomeBox .allRecord ul li{
  width:100%;
  height:2.133333rem;
  display: flex;
  flex-direction: row;
  margin-bottom:1.088rem;
  justify-content: space-between;
}
.signHomeBox .allRecord ul li .headImg{
  width:2.133333rem;
  height:2.133333rem;
  border-radius: 50%;
  overflow: hidden;
  background:pink;
}
.signHomeBox .allRecord ul li .headImg img{
  display: block;
  width:100%;
  height:100%;
}


.signHomeBox .allRecord ul li .recordCon{
  width:12.117333rem;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signHomeBox .allRecord ul li .recordCon div{
  width: 100%;
}
.signHomeBox .allRecord ul li .recordCon .name_time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#333;
  font-size: 0.64rem;
}
.signHomeBox .allRecord ul li .recordCon .day{
  color:#666;
  font-size: 0.554667rem;
}
.signHomeBox .allRecord ul li .recordCon .day span{
  color:#ff6b98;
}

.signHomeBox .allRecord ul .lookMore{
  width:6.336rem;
  font-size: 0.554667rem;
  color:#666;
  margin:0 auto;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/lookMore.png") no-repeat center right;
  background-size: 0.512rem 0.512rem;
}


.signHomeBox .mask{
  width:100%;
  height:100%;
  position: absolute;
  z-index: 100;
  top:0;
  background: rgba(0,0,0,.8);
}

.signHomeBox .mask .goPay,.signHomeBox .mask .payOver,.signHomeBox .mask .signOver,.signHomeBox .mask .signTime{
  width:14.72rem;
  height:9.92rem;
  position: absolute;
  top:9.216rem;
  left:50%;
  margin-left:-7.36rem;
}
.signHomeBox .mask img{
  display: block;
}

.signHomeBox .mask .bg{
  width:100%;
  position: absolute;
  bottom:0;
}
.signHomeBox .mask .close{
  width:0.896rem;
  height:0.896rem;
  position: absolute;
  top:0.192rem;
  right:0.192rem;
  z-index: 10;
}
.signHomeBox .mask .btn{
  width:9.088rem;
  height:1.856rem;
  position: absolute;
  bottom:1.024rem;
  left:50%;
  margin-left:-4.544rem;
  z-index: 10;
}


.signHomeBox .mask .signTime{
  height:9.216rem;
}


.signHomeBox .mask .arrow{
  width: 15%;
  position: absolute;
  right: 25px;
  top: 10px;
}
.signHomeBox .mask .shareImg{
  width: 80%;
  position: absolute;
  right: 10%;
  top: 100px;
}