.centerBox{
  width:100%;
}

.centerBox .centerTop{
  width:100%;
  height:auto;
  background:#68e8cd;
  padding-top:0.725333rem;
  padding-bottom:1.92rem;
}

/*用户头像*/
.centerBox .centerTop .headBox{
  width:3.968rem;
  height:3.968rem;
  margin:0 auto;
  border: 4px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}
.centerBox .centerTop .headBox .head{
  width:3.648rem;
  height:3.648rem;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}
.centerBox .centerTop .headBox .head img{
  width:100%;
  height:100%;
  display: block;
}
/*用户名字*/
.centerBox .centerTop .userName{
  width:100%;
  text-align: center;
  margin-top:0.213333rem;
  color:#fff;
  font-size: 0.64rem;
}



.centerBox .centerCon{
  width:100%;
  position:relative;
  padding-top:2.816rem;
  background: #ffffff;
}
.centerBox .centerCon .recordHead{
  width:15.36rem;
  height:3.776rem;
  position: absolute;
  top:-1.664rem;
  left:50%;
  margin-left:-7.68rem;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/recordHead.png")no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox .centerCon .recordHead div{
  width:7.36rem;
  height:1.6rem;
  text-align: center;
}
.centerBox .centerCon .recordHead div span{
  font-size: 0.554667rem;
  color:#333;
}
.centerBox .centerCon .recordHead div b{
  font-size: 0.768rem;
  color:#ff6b98;
}


.centerBox .centerCon .list{
  width:100%;
}
.centerBox .centerCon .list .listHead{
  width:100%;
  text-align: center;
  font-size: 0.725333rem;
  color:#333;
}

.centerBox .centerCon .list ul{
  width:100%;
}
.centerBox .centerCon .list ul li{
  width:100%;
  display: flex;
  justify-content: center;
  font-size: 0.64rem;
  color:#666;
  margin-top:0.64rem;
}
.centerBox .centerCon .list ul li span{
  margin-left:0.682667rem;
}
.centerBox .centerCon .list ul li span b{
  color:#ff6b98;
}

