.selectBabyBtn{
  position: absolute;
  right:7.5px;
  top:14.5px;
  width:62.5px;
  height:25px;
  line-height:25px;
  text-align: center;
  border-radius: 3px;
  background-color: #88d9dd;
  color:#fff;
  font-size: 14px;
}
.c-shadow{
  height:150%;
}
.baby-list{
  display: none;
  position: fixed;
  left:0;
  bottom:0;
  z-index:3;
  width:100%;
  background-color: #fff;
  padding:10px 0 25px;
  box-shadow: 0 -1px 3px #ccc;
}
.baby-list dl{
  height:auto;
  max-height:300px;
  overflow-y: scroll;
}
.baby-list dt{
  text-align: center;
  position: relative;
  font-weight: normal;
  margin-bottom: 22.5px;
  margin-top:15px;
}
.baby-list dt .line{
  display: inline-block;
  width:60%;
  height:1px;
  background-color: #ccc;
}
.baby-list dt span{
  display: inline-block;
  width:82px;
  height:18px;
  line-height:18px;
  font-size:13px;
  color:#666;
  position: absolute;
  left:50%;
  top:-9px;
  margin-left:-41px;
  background-color: #fff;
}
.baby-list dd{
  width:80%;
  height:34px;
  line-height:34px;
  text-align: center;
  border-radius: 5px;
  border:1px solid #88d9dd;
  margin:0 auto 15px;
  color:#88d9dd;
  font-size:16px;
}

.baby-list .select{
  width:80%;
  height:34px;
  line-height:34px;
  text-align: center;
  border-radius: 5px;
  border:1px solid #88d9dd;
  margin:0 auto 15px;
  color:#88d9dd;
  font-size:16px;
}
.baby-list div.select{
  background-color: #fe717b;
  color:#fff;
  border:none;
}