.c-shadow{
  top:85px;
}
.caseList{
  position: absolute;
  z-index:4;
  top:84px;
  left:18%;
  margin-left:18px;
  width:150px;
  height:auto;
  max-height:50%;
  padding:0 12px;
  overflow-y: scroll
}
.caseList::-webkit-scrollbar {
  width:0;
  height:0;

}
.caseList p{
  height:50px;
  padding:20px 0 10px;
  border-bottom:1px solid #ccc;
}
.caseList p:last-of-type{
  border-bottom:none;
}

.evaluateDoctor .info ul{
  margin:0 10px;
  padding:16px;
  overflow: hidden;
}
.evaluateDoctor .info ul .l{
  width:18%;
}
.evaluateDoctor .info ul .r{
  width: 82%;
}
.evaluateDoctor .symptom li.r{
  position: relative;
  margin-top:-5px;
}

.evaluateDoctor .symptom div{
  width:150px;
  height:30px;
  line-height:30px;
  padding-left:12px;
  border:1px solid #ccc;
  border-right:none;

}
.evaluateDoctor .symptom .ion-ios-arrow-down{
  width:40px;
  height:30px;
  line-height:30px;
  font-size:24px;
}
.evaluateDoctor .symptom .other{
  margin-left:18%;
}
.evaluateDoctor .symptom .other input{
  width:190px;
  height:30px;
  padding:8px 12px;
  margin-top:12px;
  border:1px solid #ccc;
}
.evaluateDoctor .time .r{
  white-space: normal;
}
.evaluateDoctor .time input{
  width:80px;
  height:30px;
  line-height:30px;
  border-radius:3px;
  color:#88d9dd;
}
/*评价医生*/
.evaluateDoctor dl{
  margin:2px 10px 0;
  padding:16px 10px 16px 16px;

}
.evaluateDoctor dt{
  margin-bottom:15px;
}
.evaluateDoctor dd{
  margin-bottom:25px;
}
.evaluateDoctor dd.l{
  width:26%;
}
.evaluateDoctor dd.r{
  padding-left:10px;
  width:70%;
}
.evaluateDoctor .star-list{
  padding:0;
}
.evaluateDoctor .star-list img{
  margin-right:10px;
  margin-top:-5px;
}
.evaluateDoctor .star-list img:last-child{
  margin-right:0;
}
.evaluateDoctor .time .r{
  white-space: normal;
}
.evaluateDoctor  #eva-con{
  width:98%;
  height:125px;
  border-radius: 5px;
  padding:8px 10px;
  resize: none;
  margin-top:10px;
  overflow: hidden;
}
.evaluateDoctor .submit{
  margin-top:5%;

}

