<div ui-view class="nonTimeUserFirstConsult" ng-init="NonTimeUserFirstConsultInit()">
    <div class="header">
        <img width="100%" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fcc_02.png" alt="title"/>
    </div>
    <div class="information">问诊信息</div>
    <div class="content">
        <div class="content-title">
            <div class="sex">
                性别
                <div ng-style="isSelectedG?{'background-color':'#02CFDC', color: '#fff', 'z-index': '3'}:{'background-color':'#fff', color: '#02CFDC', 'z-index': '1'}" ng-click=" selectSex(1)">女</div>
                <div ng-style="isSelectedB?{'background-color':'#02CFDC', color: '#fff', 'z-index': '3'}:{'background-color':'#fff', color: '#02CFDC', 'z-index': '1'}" ng-click=" selectSex(0)">男</div>
            </div>
            <div class="birth">
                生日<input type="text" readonly="readonly" id="babyBirthday" placeholder="选择日期>" ng-click="showInput()">
            </div>
        </div>
        <div class="content-middle">
            <div class="line"></div>
            <textarea placeholder="请详细描述宝宝的病情、症状、治疗经过以及想获得的帮助哦~（不少于18个字）" ng-model="info.describeIllness"></textarea>
        </div>
        <div class="line"></div>
        <div class="content-bottom">
            <div class="add-photo">
                <div class="add" type="file" ng-file-select="uploadFiles($files,'image')" accept="image/*" ng-file-max-height="2000" ng-file-max-size="10MB">
                <!--<div class="add" type="file" ng-click="chooseImage()" >-->
                    <img width="100%" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fccc_03.png" alt="addPhoto"/>
                </div>
                <div class="describe">
                    <span>添加图片（图片最多上传5张）</span>
                    <span>病历照片或检查照片，方便医生确认</span>
                </div>
            </div>
            <ul class="photo-list">
                <li ng-repeat="item in photoList">
                    <img class="pos" width="100%" ng-src="{{item}}" alt=""/>
                    <img class="del" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fc_10.png"
                         ng-click="deletePhoto($index)"
                         alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="submit" ng-click="submit()">
            提问
        </div>
    </div>
</div>