<ion-view view-title="找医生" ng-init="NonTimeUserFindDoctorInit()">
<ion-content class="nonTimeUserFindDoctor" style="top:0;">
<ion-scroll direction="y" has-bouncing="true">
   <div class="search-box bg1">
        <img width="15" height="auto" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult/user/icon_search.png">
        <input  id="myinput" type="search" class="f2" placeholder="搜索医生姓名" ng-model= "info.doctorName" ng-keyup="searchDoctorName($event)">
       <!--<button  ng-hide="true">搜索</button>-->
    </div>
    <div class="search">按科室查找</div>
    <div class="department-list">
        <ul>
            <li ng-repeat="item in departmentlist | limitTo:moreDepartments" ng-click="checkDepartment($index)">
                <span><img ng-src="http://xiaoerke-article-pic.oss-cn-beijing.aliyuncs.com/{{item.id}}" err-src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_21.png" alt=""/></span>
                <span>{{item.name}}</span>
            </li>
            <li ng-click="moreDepartment()" ng-show="showDepartments">
                <span><img class="more" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_01.png" alt=""/></span>
                <span>更多科室</span>
            </li>
        </ul>
    </div>
    <div class="search">明星医生</div>
    <div class="doctor-list">
        <div class="doctor-information" ng-repeat="item in doctorList" ng-click="checkDoctorInformation($index)">
            <div class="top">
                <span class="head-portrait">
                    <img width="100%" ng-src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/{{item.userId}}"  err-src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fyonghumoren.png" alt="医生头像"/>
                </span>
                <span class="head-crown">
                    <img width="60%" class="pos" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_62.png"  alt=""/>
                </span>
                <span>{{item.name}}</span>
                <span style="min-width:60px;">{{item.department}}</span>
                <span>{{item.title}}</span>
                <span style="float: none;"><nobr>擅长:{{item.skill}}</nobr></span>
            </div>
            <div class="line"></div>
            <div class="bottom">
                <span><img src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_10.png" alt=""/>已帮助{{item.consult_num}}人</span>
                <span></span>
                <span><img src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_07.png" alt=""/>好评率{{item.evaluate}}%</span>
            </div>
        </div>
    </div>
</ion-scroll>
</ion-content>
</ion-view>