<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="订单列表" ng-init="doRefresh()">
    <ion-content class="insuranceOrderList" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="list-title">
                <a ng-click="selectService('current')" ng-class="{'select':service=='current'}">
                    当前服务
                    <i></i>
                </a>
                <a  ng-click="selectService('history')" ng-class="{'select':service=='history'}">
                    历史服务
                    <i></i>
                </a>
            </div>
            <div class="info-list">
                <ul ng-if="service=='current'">
                    <li ng-repeat="item in insuranceViedList" ng-click="lookDetail(item.id)">
                        <img ng-if="item.Insurance_type==1" class="my-img-block" width="64" height="64" ng-src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance/orderList/insuranceList{{item.Insurance_type}}.jpg">
                        <div class="text">
                            <span>{{item.Insurance_type==1?'宝大夫小儿防犬宝':''}}{{item.Insurance_type==2?'宝大夫小儿手足口宝':''}}{{item.Insurance_type==1?'宝大夫小儿肺炎宝':''}}</span>
                            <span>宝宝姓名：{{item.name}}</span>
                            <span>有效期至 {{item.end_time | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="price"> &nbsp;{{item.Insurance_type==1?'￥19.8':''}}{{item.Insurance_type==2?'￥26.8':''}}{{item.Insurance_type==3?'￥68':''}}</div>
                        <span class="state">{{item.state==0?'待生效':''}}{{item.state==1?'有效':''}}{{item.state==2?'待审核':''}}</span>
                    </li>
                    <!--无 当前服务 订单时显示-->
                    <div ng-if="insuranceViedList.length==0" style="text-align: center;color:#999;font-size: 12px;margin-top:40px;">
                        :-)您还没有购买过任何服务哦
                    </div>
                </ul>
                <ul ng-if="service=='history'">
                    <li ng-repeat="items in insuranceInvalidList" ng-click="lookDetail(items.id)">
                        <img ng-if="items.Insurance_type==1" class="my-img-block" width="80" height="80" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fdog.jpg">
                        <img ng-if="items.Insurance_type==2" class="my-img-block" width="80" height="80" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth.jpg">
                        <div class="text">
                            <span>{{items.Insurance_type==1?'宝大夫小儿防犬宝':'宝大夫小儿手足口宝'}}</span>
                            <span>{{items.name}}</span>
                            <span>有效期至 {{items.end_time | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="price">{{items.Insurance_type==1?'￥19.8':'￥26.8'}}</div>
                        <span class="state">{{items.state==3?'已补贴':''}}{{items.state==4?'已到期':''}}{{items.state==5?'审核失败':''}}</span>
                    </li>
                    <!--无 历史服务 订单时显示-->
                    <div ng-if="insuranceInvalidList.length==0" style="text-align: center;color:#999;font-size: 12px;margin-top:40px;">
                        :-)您还没有历史服务哦
                    </div>
                </ul>
            </div>



        </ion-scroll>
    </ion-content>
</ion-view>