<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="说明" ng-init="doRefresh()">
    <ion-content class="nutritionKuap " style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
        <dl>
            <dt>什么是kaup指数</dt>
            <dd>
                Kaup指数其实就是儿童BMI指数，也就是身体质量指数，计算公式为[体重（kg）/身高（m）2]，其实际含义是单位面积中所含的体重数，与身体脂肪存在高度的相关性，能灵敏的反映体型的胖瘦程度，是儿童较好的营养监测指标。但建议三岁以内的婴幼儿还是以儿童生长发育标准曲线图或百分位曲线图为主来评价宝宝的体型。
            </dd>
        </dl>
        </ion-scroll>
    </ion-content>
</ion-view>