<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="妈妈必备" ng-init="doRefresh()">
    <ion-content class="nutritionNecessary " style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div>
                <img width="100%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2Fnecessary_banner.png">
            </div>
            <div class="necessary-list">
                <div class="titleLine">
                    <span class="line"></span>
                    <span class="line"></span>
                    妈妈必备
                    <img class="my-img" width="18" height="15" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2Fnecessary_car.png">
                </div>
                <ul >
                    <li ng-repeat="item in necessaryList" ng-click="chooseType(item.text)">
                        <img class="my-img" width="100%" height="auto" ng-src="{{item.img}}">
                        <span>{{item.text}}</span>
                    </li>
                </ul>
            </div>
            <div class="my-list">
                <div class="titleLine">
                    <span class="line"></span>
                    <span class="line"></span>
                    TOP妈妈最爱榜
                    <img class="my-img" width="11" height="16" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2Fnecessary_fire.png">
                </div>
                <ul >
                    <li ng-repeat="item in necessaryList1" ng-click="goNecessaryList(item.title,item.introduce,item.jingdong,
                    item.jingdongprice,item.oneshop,item.oneshopprice,item.tianmao,item.tianmaoprice,item.img)">
                        <img class="my-img" width="92" height="97" src="{{item.img}}">
                        <h2>{{item.title}}</h2>
                        <p>{{item.introduce}}</p>
                        <a class="price">最低价：￥{{item.price}}</a>
                    </li>
                </ul>
            </div>
            <br><br><br><br><br><br>
        </ion-scroll>
    </ion-content>
    <div class="my-footer">
        <a class="tab-item"  ng-class="{'activated':footerNum==0}" ng-click="menuSelect(0)"><i class="icon ">
            <img width="28" height="25" ng-src="{{homeImg}}"> </i> 首页</a>
        <a class="tab-item"  ng-class="{'activated':footerNum==1}" ng-click="menuSelect(1)"><i class="icon ">
            <img width="25.5" height="25"  ng-src="{{assessImg}}"></i> 评估</a>
        <a class="tab-item consult"  ng-class="{'activated':footerNum==4}" ng-click="menuSelect(4)"><i class="icon ">
            <img width="67.7" height="60"  ng-src="{{commentImg}}"></i> 咨询</a>
        <a class="tab-item"  ng-class="{'activated':footerNum==3}" ng-click="menuSelect(3)"><i class="icon ">
            <img width="27.5" height="25" ng-src="{{necessaryImg}}" ></i> 必备</a>
        <a class="tab-item"  ng-class="{'activated':footerNum==2}" ng-click="menuSelect(2)"><i class="icon ">
            <img width="23" height="25" ng-src="{{reportImg}}"></i> 我的</a>
    </div>
    <!--<div nutrition-footer="my-footer  tabs tabs-icon-top "></div>-->
</ion-view>