.handfootmouthIndex{
  background-color: #FFFFFF;
}
.handfootmouthIndex .index_1{
  width: 100%;
}
.handfootmouthIndex .index_1 img{
  width: 100%;
}
.handfootmouthIndex .index_2{
  margin-top: 4px;
  padding: 0 10px;
}
.handfootmouthIndex .index_2 div{
  background-image: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_2.png") ;
  background-size: 100% 100%;
  padding: 45px 30px 15px 60px;
  font-size:14px;
  color: #030303;
  line-height: 23px;
}
.handfootmouthIndex .index_3{
  margin-top: 47px;
  width: 100%;
  padding: 0 15px;
}
.handfootmouthIndex .index_3 .com_1{
  display: inline-block;
  width:25% ;
  border-top: 1px solid #8a8a8a;
  vertical-align: middle;
}
.handfootmouthIndex .index_3 span:nth-child(2){
  display: inline-block;
  width:45% ;
  text-align: center;
  font-size: 16px;
  color: #030303;
}
.handfootmouthIndex .index_4{
  width: 100%;
  padding: 22px 10px 0px ;
}
.handfootmouthIndex .index_4 img{
  width: 100%;
}
.handfootmouthIndex .index_5{
  width: 100%;
  padding: 26px 10px 0px;
}
.handfootmouthIndex .index_5 img{
  width: 100%;
}
.handfootmouthIndex .problem{
  margin: 26px 10px 0;
  background-color: #f9f9f9;
  padding-bottom: 15px;
}
.handfootmouthIndex .problem h3{
  padding:10px 21px 10px 21px ;
  font-size: 14px;
  color: #333333;
  border-bottom:1px dashed #bfbfbf;
}
.handfootmouthIndex .problem .com_2{
  margin: 0 21px;
  font-size: 14px;
  color: #333333;
  position: relative;
  padding-left: 21px; ;
}
.handfootmouthIndex .problem .com_2 span{
  display: inline-block;
  position: absolute;
  top:0;
  left: 0;
}
.handfootmouthIndex .problem .com_3{
  padding: 0 40px;
  font-size: 14px;
  color: #999999;
}
.handfootmouthIndex .problem dl dd:nth-child(2){
  margin-top: 25px;
}
.handfootmouthIndex .problem dl dd:nth-child(3){
  margin-top: 12px;
}
.handfootmouthIndex .problem dl dd:nth-child(4){
  margin-top: 19px;
}
.handfootmouthIndex .problem dl dd:nth-child(5){
  margin-top: 12px;
}
.handfootmouthIndex .problem dl dd:nth-child(6){
  margin-top: 19px;
}
.handfootmouthIndex .problem dl dd:nth-child(7){
  margin-top: 12px;
}
.handfootmouthIndex .intro{
  margin:5px 10px 0;
  background-color: #fbfbfb;
}
.handfootmouthIndex .intro dl{
  padding:25px 20px;
}
.handfootmouthIndex .intro h3{
  padding:15px 20px 11px;
  position: relative;
}
.handfootmouthIndex .intro dt{
  margin-bottom: 10px;
  position: relative;
  padding-left:15px;
  line-height: 24px;
}
.handfootmouthIndex .intro dt span{
  position: absolute;
  left:0;
  top:0;
}
.handfootmouthIndex .intro dd{
  margin-bottom: 22.5px;
  padding-left:15px;
  line-height: 24px;
}
.handfootmouthIndex .declare  .read{
  float: right;
  padding-right:30px;
  overflow: auto;
}
.handfootmouthIndex .declare .read a{
  display: inline-block;
  position: absolute;
  top:15.5px;
  right:20px;
  width:15px;
  height:15px;
  border:1px solid #5abd80;

}
.handfootmouthIndex .declare .read a img{
  position: absolute;
  left:0;
  top:-2px;
}
.handfootmouthIndex .declare p{
  padding:13px 20px;
  line-height: 24px;
}
.handfootmouthIndex .hfm1{
  border-bottom: 1px dashed #bfbfbf;
}
.icon-pay{
  position:fixed;
  right:5px;
  bottom:60px;
}