<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.wechat.dao.UserQRCodeDao" >


	<insert id="insertUserQRCode"   parameterType="com.cxqm.xiaoerke.modules.wechat.entity.UserQRCode" >
		insert into sys_user_qrcode(openid,time) VALUES (#{openid,jdbcType=VARCHAR},now())
	</insert> 

  <select id="getQRCodeFromOpenid" resultType="java.util.Map" >
      select qrcode,time from sys_user_qrcode where openid=#{openid}
  </select>

	<select id="getShareFromOpenid" resultType="java.util.HashMap">
		SELECT DISTINCT open_id FROM sys_log sl where sl.open_id IN
			<foreach item="item" index="index" collection="openidList" open="(" separator="," close=")">
				#{item}
			</foreach>
				 and sl.title like '%分享知识库文章:%' and
		DATE_FORMAT(sl.create_date,'%Y-%m-%d %T')>DATE_FORMAT(#{time},'%Y-%m-%d %T')
	</select>
  
  	<select id="getShareFromOpenidAndAPITime" resultType="java.util.HashMap">
		SELECT DISTINCT open_id FROM sys_log sl where sl.open_id =#{openid}  and sl.title like '%分享知识库文章:%' and
		DATE_FORMAT(sl.create_date,'%Y-%m-%d %T')>DATE_FORMAT(#{time},'%Y-%m-%d %T')
	</select>
	
 	<select id="getFollowerListByMarketer" resultType="java.lang.String">
		SELECT
		openid FROM sys_attention sa where sa.marketer=#{marketer} and
		sa.`status`=0
	</select>

</mapper>