<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" ng-init="doRefresh()">
    <ion-content class="lovePlanPaySuccess" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
        <div class="box">
            <img class="my-img2" width="82%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/lovePlanPaySuccess1.png">
            <img ng-click="goUmbrella()" class="btn" width="187" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market/lovePlan/lovePlanPaySuccess_btn.png">
        </div>
        </ion-scroll>
    </ion-content>
</ion-view>