<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="{{title}}" ng-init="doRefresh()">
    <ion-content class="lovePlanList bg1" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div>
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FlovePlan%2FlovePlan_banner.png">
            </div>
            <div class="self user " >
                <div class="info">
                    <img class="photo radius fl" width="40" height="40" ng-src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common%2Fbaodf_logo.jpg">
                    <div class="middle fl">
                        <div class="name f5 c11">宝护伞</div>
                    </div>
                    <div class="money f2 c11 ">
                        <span class="">22</span>元
                    </div>
                </div>
            </div>
            <div class="bg4" ></div>
            <dl class="user-list">
                <dd class="user " ng-repeat="item in user">
                    <div class="info">
                         <img class="photo radius fl" width="40" height="40" ng-src="{{item.img}}">
                         <div class="middle fl">
                            <div class="name f5 c3">{{item.name}}</div>
                            <div class="time f3 c5">{{item.time}}</div>
                         </div>
                         <div ng-if="item.price>0" class="money f2" ng-class="{'c12':$index<3,'c13':$index>=3}">
                             <span class="">{{item.price}}</span>元
                         </div>
                    </div>
                    <div ng-if="item.words!=''" class="words f3 c4">
                        {{item.words}}
                    </div>
                </dd>

            </dl>
            <br> <br> <br> <br>
        </ion-scroll>
    </ion-content>
     <button class="bottom-btn" ng-click="goContribute()" style="background-color:#ff7112 ">我要捐款</button>
</ion-view>