<link rel="stylesheet" href="scripts/styles/doctorConsultFirst.css?ver=1.0.1" type="text/css"/>
<div ui-view ng-init="doctorConsultInit()" class="messageList">
    <!--头部-->
    <header class="head w10">
        <div class="head-t w10 qf">
            <div class="bdf-dkf-nav w5 fl h4 bg-h1">
                <span>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png" alt=""/>
                </span>
                <span></span>
                <span>宝大夫</span>
                <!--<span>自动回复-->
                    <!--<select>-->
                        <!--<option>无</option>-->
                        <!--<option>外出就餐，请稍候</option>-->
                        <!--<option>不在电脑旁边，请稍候</option>-->
                        <!--<option>接听电话中</option>-->
                        <!--<option>无自动回复</option>-->
                        <!--<option>马上回来</option>-->
                    <!--</select>-->
                    <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
                <!--<span>自动接入-->
                    <!--<select>-->
                        <!--<option>关闭</option>-->
                        <!--<option>打开</option>-->
                    <!--</select>-->
                    <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
            </div>
            <div class="w5 fr h4 bg-h1">
                <div class="bdf-dkf-content-right">
                    <div class="cjgl">退出</div>
                    <!--<div class="xtsz" ng-click="tapShowButton('systemSetup')">-->
                        <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_06.png" alt=""/>-->
                        <!--系统设置-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="head-m wid1 qf tab">
            <div class="w5 fl h5 tac"><a ui-sref="doctorConsultFirst"><span>聊天窗口</span></a></div>
            <div class="w5 fr h5 tac bg-m"><a ui-sref="messageList"><span class="cl">消息列表</span></a></div>
        </div>
    </header>
    <div class="msg">
        <div class="msg-l h30 fl">
            <div class="m-left-header">
                <div class="m-left-top">
                    <div class="tab-content-chat" id="ddjr" ng-click="tapShowButton('waitProcess')">
                        <h3>{{waitJoinNum}}</h3>
                        <p>等待接入</p>
                    </div>
                    <div class="tab-content-chat" ng-click="tapShowButton('rankList')">
                        <h3>{{alreadyJoinPatientConversation.length}}</h3>
                        <p>已接会话</p>
                    </div>
                </div>
                <div class="insert">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(1).png"
                         alt="">
                    已接入会话
                </div>
            </div>
            <div class="consultList">
                <div class="consultNowList"
                     ng-style="chooseAlreadyJoinConsultPatientId==item.patientId?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}"
                     ng-repeat="item in alreadyJoinPatientConversation"
                     ng-click="chooseAlreadyJoinConsultPatient(item.patientId,item.patientName)"
                     alt="">
                    <nobr>{{item.patientName}}&nbsp;&nbsp;{{transformDate(item.dateTime)}}</nobr>
                </div>
            </div>
        </div>
        <div class="msg-r h30 fr">
            <div class="bdf-dkf-sever">
                <a class="reply" ng-click="tapShowButton('replyContent')"
                   ng-style="showFlag.replyContent?{'background':'#fff'}:{'background':'#eee'}"
                        ><span>快捷回复</span></a>
                <a class="advisory" ng-click="tapShowButton('advisoryContent')"
                   ng-style="showFlag.advisoryContent?{'background':'#fff'}:{'background':'#eee'}"
                        ><span>咨询服务</span></a>
            </div>
            <div class="reply-content" ng-show='showFlag.replyContent'>
                <div class="chatinstall">
                  <span ng-click="add()">添加</span>
                  <span ng-click="edit()">编辑</span>
                  <span ng-click="remove()">删除</span>
                  <span>向上</span>
                  <span>向下</span>
                  <span>同步</span>
                </div>
                <div class="replayContent">
                <div class="myreply">
                    <div ng-click="tapShowButton('myReplyList')"
                         ng-style="showFlag.myReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                         class="rtitle">
                        我的回复（{{myAnswer.length}}）
                    </div>
                    <ul ng-show="showFlag.myReplyList">
                        <li ng-repeat="item in myAnswer">
                            <div class="group-title"
                                 ng-style="myReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                 ng-click="tapMyReplyContent($index)">
                                    {{item.name}}（{{item.secondAnswer.length}}）
                            </div>
                            <ul ng-show="myReplyIndex==$index">
                                <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                    <nobr ng-click="tapEditMyContent($parent.$index,$index)"
                                          ng-style="myReplySecondIndex==$index?{color: '#08b7c2'}:{color: '#333'}"
                                          ng-dblclick="chooseMyContent($parent.$index,$index)">
                                        {{item2.name}}
                                    </nobr>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pubilcreply">
                    <div ng-click="tapShowButton('publicReplyList')"
                         ng-style="showFlag.publicReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                         class="rtitle">
                        公共回复（{{commonAnswer.length}}）</div>
                    <ul ng-show='showFlag.publicReplyList'>
                        <li ng-repeat="item in commonAnswer">
                            <div class="group-title"
                                 ng-style="publicReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                 ng-click="tapPublicReplyContent($index)">
                                {{item.name}}（{{item.secondAnswer.length}}）
                            </div>
                            <ul ng-show='publicReplyIndex==$index'>
                                <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                    <nobr ng-click="tapEditCommonContent($parent.$index,$index)"
                                          ng-dblclick="chooseCommonContent($parent.$index,$index)"
                                          ng-style="publicReplySecondIndex==$index?{color: '#08b7c2'}:{color: '#333'}">{{item2.name}}
                                    </nobr>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
                <!--添加分组-->
                <div class="addgroup" ng-show='addGroupFlag'>
                    <div class="addtop"><span>添加分组</span><span ng-click="closeAddGroup()">关闭</span></div>
                    <div class="addgroupname"><span>添加分组</span><input type="text" ng-model="info.addGroup"/></div>
                    <div class="addbtn">
                        <input class="btn" type="submit" ng-click="addGroupSubmit()" value="确定">
                        <input class="btn" type="submit" value="取消" ng-click="closeAddGroup()">
                    </div>
                </div>
                <!--添加内容-->
                <div class="addcontent" ng-show='addContentFlag'>
                    <div class="addtop"><span>添加回复</span><span ng-click="closeAddContent()">关闭</span></div>
                    <div class="addgroupname"><span class="addkjhf">快捷回复内容：</span>
                        <textarea placeholder="请在此处进行编辑" ng-model="info.addContent"></textarea>
                    </div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="addContentSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeAddContent()">
                    </div>
                </div>
                <!--编辑分组-->
                <div class="editgroup" ng-show='editGroupFlag'>
                    <div class="addtop"><span>编辑分组</span><span ng-click="closeEditGroup()">关闭</span></div>
                    <div class="addgroupname"><span>编辑分组</span><input type="text" required ng-model="info.editGroup"/></div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="editGroupSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeEditGroup()">
                    </div>
                </div>
                <!--编辑内容-->
                <div class="editcontent" ng-show='editContentFlag'>
                    <div class="addtop"><span>编辑回复</span><span ng-click="closeEditContent()">关闭</span></div>
                    <div class="addgroupname"><span class="addkjhf">编辑回复内容：</span>
                        <textarea placeholder="请在此处进行编辑" required ng-model="info.editContent"></textarea>
                    </div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="editContentSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeEditContent()">
                    </div>
                </div>
            </div>
            <iframe src="http://xiaork.com/keeper/scripts/views/customerss.html" frameborder="0"
                    class="advisory-content" ng-show='showFlag.advisoryContent'>
            </iframe>
            <textarea type="text" name="messageData" id="userIdData" class="textarea" style="display:none;">{{alreadyJoinPatientConversation.patientId}}</textarea>
            <textarea type="text" name="messageData" id="sourceData" class="textarea" style="display:none;">{{source}}</textarea>

        </div>
        <div class="msg-m h30" ng-if="chooseAlreadyJoinConsultPatientId!=''">
            <div class="headportrait">
                <div class="nametop">
                    <div class="nametopin">
                        <img class="headimg"
                             src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png">
                        <span>{{currentUserConversation.patientName}}</span>
                        <div class="fr" ng-click="tapShowButton('switchOver')">转接</div>
                    </div>
                </div>
                <div class="chatlist">
                    <div scroll-glue-bottom="glued" class="chatlistin">
                        <div class="moreInformation" ng-click="seeMoreConversationMessage()"><a href="">查看更多消息</a></div>
                        <div ng-repeat="item in currentUserConversation.consultValue">
                            <div ng-if="item.senderId==doctorId" class="doctorReplyContent">
                                <div>
                                    <span>{{doctorName}}</span>
                                    <span>{{item.dateTime}}</span>
                                </div>
                                <div ng-if="item.type=='0'" class="message" >
                                    {{item.content}}
                                </div>
                            </div>
                            <div ng-if="item.senderId!=doctorId" class="patientConsultContent">
                                <div>
                                    <span>{{item.senderName}}</span>
                                     <span>{{item.dateTime}}</span>
                                </div>
                                <div ng-if="item.type=='0'" class="message">
                                    {{item.content}}
                                </div>
                                <div ng-if="item.type=='1'" class="message">
                                    {{}}
                                    <a target="_blank" ng-href="{{item.content}}">
                                        <img width="100" height="100" ng-src="{{item.content}}">
                                    </a>
                                </div>
                                <div ng-if="item.type=='2'">
                                    <audio ng-src="{{audioData}}" controls="controls"/>
                                </div>
                                <div ng-if="item.type=='3'" class="message">
                                    <video width="500" height="250" ng-src="{{item.content}}"
                                           controls="controls"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="facebox">
                    <div class="facein">
                        <p class="fl"><span id="face" ng-click="getEmotion()">表情</span></p>
                        <!--<p class="historymessage">-->
                        <!--<span>-->
                        <!--消息记录-->
                        <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(8).png" alt=""/>-->
                        <!--</span>-->
                        <!--</p>-->
                    </div>
                </div>
                <div class="inputcontent"><textarea ng-model="info.consultMessage" placeholder="请在此处进行咨询" class="emotion"></textarea>
                </div>
                <div class="sendbtn">
                    <div class="sub_btn" ng-click="sendConsultMessage()">发送(Ctrl+Enter</div>
                    <div ng-click="closeConsult()">
                        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(9).png" alt=""/>
                        关闭</div>
                </div>
            </div>
    </div>
    <!--等待接入会话-->
    <div class="jrhhpm" ng-show='showFlag.rankList'>
        <div class="jrhhpm-top">今日接入会话排名 <a href="refreshRankList">刷新</a></div>
        <div class="jrhhpm-tb">
            <span>排名</span>
            <span>接入工号</span>
            <span>接入会话</span>
        </div>
        <div class="getdata">
            <ul>
                <li ng-repeat="item in info.rankListValue">
                    <span>{{item.consultNum}}</span>
                    <span>{{item.id}}</span>
                    <span>{{item.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <!--系统设置-->
    <div class="xtsz-up" id="xtsz_up" ng-show='showFlag.systemSetup'>
        <div class="hd" id="drop">系统设置
            <span class="close" ng-click="tapShowButton('systemSetup')">【关闭】</span>
        </div>
        <!-- 系统设置的tab切换 -->
        <div class="xtsz-up-middle">
            <div class="xtsz-up-left">
                <h3>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fxtsz%20(2).png"
                         alt=""/>
                    业务设置</h3>
                <div>
                    <a href="#"><span class="current">主号自动回复</span></a>
                    <a href="#"><span>工号自动回复</span></a>
                    <a href="#"><span>接入语设置</span></a>
                    <a href="#"><span>会话自动关闭设置</span></a>
                </div>
            </div>
            <div class="xtsz-up-right">
                <ul>
                    <li class="show">
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>主号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>主号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>工号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>工号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>接入语设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>接入语是指在接入客户时自动发送的信息</p>
                                <p><input type="checkbox">启动接入语（150个汉字、300个英文字符以内）</p>
                                <p>注意：[昵称]会被动态替换成该工号的昵称</p>
                                <p>注意：[账号]会被动态替换成该工号的账号</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>会话自动关闭设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>会话自动关闭设置指的是在人工接入的状态下，当客户超过一定时间没有回复时，会话自动关闭。（当前正在聊天的会话不会被自动关闭）</p>
                                <p><input type="checkbox">启动会话自动关闭</p>
                                <p>设置会话自动关闭事件<input type="number" name="points" min="0" max="10" />分钟</p>
                                <p><input type="checkbox">会话自动关闭前发送一条信息给客户（100个汉字、200个英文字符以内）</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer ddjr-footer">
            <button>应用</button>
            <button>取消</button>
            <button ng-click="">确定</button>
        </div>
    </div>
    <!--等待接入-->
    <div class="xtsz-up  ddjr-up" id="ddjr_up" ng-show='showFlag.waitProcess'>
        <div class="hd" id="drop2">未接入客户信息
            <span class="close" ng-click="tapShowButton('waitProcess')">【关闭】</span>
        </div>
        <div class="ddjr-content">
            <div class="checktop">
            <span>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(2).png" alt=""/>
                接入</span>
            <span>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(3).png" alt=""/>
                删除</span>
            <span>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(4).png" alt=""/>
                刷新</span>
            </div>
            <div class="light">
                <ul>
                    <li><input type="checkbox"></li>
                    <li>昵称</li>
                    <li>消息</li>
                    <li>消息数</li>
                    <li>时间</li>
                    <li>来自</li>
                </ul>
            </div>
            <!--input标签获取总值-->
            <div class="light">
                <ul>
                    <li><input type="checkbox"></li>
                    <li>昵称</li>
                    <li>消息</li>
                    <li>消息数</li>
                    <li>时间</li>
                    <li>来自</li>
                </ul>
            </div>
        </div>
        <div class="footer ddjr-footer" id="ddjr_footer">已选中：<span id="add1">0</span>/<span id="add2">0</span>
        </div>
    </div>
    <!--转接-->
    <div class="xtsz-up  ddjr-up" ng-show='showFlag.switchOver'>
        <div class="hd">转接客户
            <span class="close" ng-click="tapShowButton('switchOver')">【关闭】</span>
        </div>
        <div class="switchcontent">
            <div class="switchbox">
                <input type="text" placeholder="按员工、昵称查找工号">
                <div class="refresh">
                    <div class="refreshbox">
                        <div class="refreshboxtop">
                            <div>
                                <span>工号</span><span>昵称</span>
                            </div>
                            <ul>
                                <li ng-repeat="item in info.onLineCsUserList"
                                    ng-click="chooseTransferCsUser(item.id,item.name)"
                                    ng-style="item.csUserId==transferCsUserId?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}">
                                    <span>
                                        {{item.phone}}
                                    </span>
                                    <span>
                                        {{item.name}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="refreshbtn" ng-click="refreshOnLineCsUserList()">刷新在线工号</div>
                    <div class="postscript">
                        <span>附言：</span>
                        <textarea placeholder="请在此处进行编辑" ng-model="info.transferRemark"></textarea>
                    </div>
                </div>
            </div>
            <div class="footer ddjr-footer">
                <button ng-click="tapShowButton('switchOver')">取消</button>
                <button ng-click="transferOtherCsUser()">确定</button>
            </div>
        </div>
    </div>
</div>
