<link rel="stylesheet" href="scripts/styles/doctorConsultFirst.css?ver=1.1.3" type="text/css"/>
<div ui-view ng-init="doctorConsultInit()" class="messageList">
    <!--头部-->
    <header class="head w10">
        <div class="head-t w10 qf">
            <div class="bdf-dkf-nav w10 fl h4 bg-h1">
                <span>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png" alt=""/>
                </span>
                <span></span>
                <span>（{{doctorName}}），宝大夫欢迎您！！</span>
                <span ng-if="loseConnectionFirstFlag||loseConnectionSecondFlag">您已与平台断开了连接，请检查您的网络情况，谢谢！</span>
                <span ng-if="!loseConnectionFirstFlag&&!loseConnectionSecondFlag">您目前与平台连接正常！</span>
                <div class="bdf-dkf-content-right">
                    <div ng-click="tapShowButton('specialistList')"
                         ng-style="userType=='distributor'?{'display':'block'}:{'display':'none'}"
                            >
                        <div>专科列表</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head-m wid1 qf tab">
            <div class="w5 fl h5 tac"><a ui-sref="doctorConsultFirst"><span>聊天窗口</span></a></div>
            <div class="w5 fr h5 tac bg-m"><a ng-click="messageList()"><span class="cl">消息列表</span></a></div>
        </div>
    </header>
    <!--内容部分-->
    <div class="msg">
        <!--左边的会话列表-->
        <div class="msg-l h30 fl">
            <div class="m-left-header">
                <div class="m-left-top">
                    <div class="tab-content-chat" id="ddjr" ng-click="tapShowButton('waitProcess')">
                        <h3>{{waitJoinNum}}</h3>
                        <p>等待接入</p>
                    </div>
                    <div class="tab-content-chat" ng-click="tapShowButton('rankList')">
                        <h3>{{alreadyJoinPatientConversation.length}}</h3>
                        <p>已接会话</p>
                    </div>
                </div>
                <div class="insert">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(1).png"
                         alt="">
                    已接入会话
                </div>
            </div>
            <div class="consultList">
                <div class="consultNowList"
                     ng-style="chooseAlreadyJoinConsultPatientId==item.patientId?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}"
                     ng-repeat="item in alreadyJoinPatientConversation | orderBy:'dateTime':true"
                     ng-click="chooseAlreadyJoinConsultPatient(item.patientId,item.patientName,item.sessionId)"
                     alt="">
                    <div>
                        <img ng-style="item.notifyType=='1001'?{'display':'block'}:{'display':'none'}" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fbiaoqian_03.png" alt=""/>
                        <img ng-style="item.notifyType=='1002'?{'display':'block'}:{'display':'none'}" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fconsult%2Fbiaoqian_06.png" alt=""/>
                        <img ng-style="item.notifyType=='1003'?{'display':'block'}:{'display':'none'}" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf/consult/mianfei_03.png" alt=""/>
                    </div>
                    <div><nobr>{{item.patientName|limitTo:6}}</nobr></div>
                    <div><nobr>{{transformDate(item.dateTime)}}</nobr></div>
                    <div ng-style="item.messageNotSee?{'display':'block'}:{'display':'none'}">
                        <span>{{item.number}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--右边的咨询服务，回复-->
        <div class="msg-r h30 fr">
            <div class="bdf-dkf-sever">
                <a class="reply" ng-click="tapShowButton('replyContent')"
                   ng-style="showFlag.replyContent?{'background':'#fff'}:{'background':'#eee'}"
                        ><span>快捷回复</span></a>
                <a class="advisory" ng-click="tapShowButton('advisoryContent')"
                   ng-style="showFlag.advisoryContent?{'background':'#fff'}:{'background':'#eee'}"
                        ><span>咨询服务</span></a>
            </div>
            <div class="reply-content" ng-show='showFlag.replyContent'>
                <div class="chatinstall">
                    <span ng-click="add()">添加</span>
                    <span ng-click="edit()">编辑</span>
                    <span ng-click="remove()">删除</span>
                    <span ng-click="moveUp()">向上</span>
                    <span ng-click="moveDown()">向下</span>
                    <span>同步</span>
                </div>
                <div class="replayContent">
                    <div class="myreply">
                        <div ng-click="tapShowButton('myReplyList')"
                             ng-style="showFlag.myReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                             class="rtitle">
                            我的回复（{{myAnswer.length}}）
                        </div>
                        <ul ng-show="showFlag.myReplyList">
                            <li ng-repeat="item in myAnswer">
                                <div class="group-title"
                                     ng-style="myReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                     ng-click="tapMyReplyContent($index)">
                                    <nobr>{{item.name}}</nobr>（{{item.secondAnswer.length}}）
                                </div>
                                <ul ng-show="myReplyIndex==$index">
                                    <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                        <div class="rcontentContent">
                                            <nobr><a title="{{item2.name}}" ng-click="tapEditMyContent($parent.$index,$index)"
                                                     ng-dblclick="chooseMyContent($parent.$index,$index)"
                                                     ng-style="myReplySecondIndex==$index?{color: '#08b7c2'}:{color: '#333'}">{{item2.name}}</a></nobr>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pubilcreply">
                        <div ng-click="tapShowButton('publicReplyList')"
                             ng-style="showFlag.publicReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                             class="rtitle">
                            公共回复（{{commonAnswer.length}}）</div>
                        <ul ng-show='showFlag.publicReplyList'>
                            <li ng-repeat="item in commonAnswer">
                                <div class="group-title"
                                     ng-style="publicReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                     ng-click="tapPublicReplyContent($index)">
                                    <nobr>{{item.name}}</nobr>（{{item.secondAnswer.length}}）
                                </div>
                                <ul ng-show='publicReplyIndex==$index'>
                                    <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                        <div class="rcontentContent">
                                            <nobr><a title="{{item2.name}}"
                                                     ng-click="tapEditCommonContent($parent.$index,$index)"
                                                     ng-dblclick="chooseCommonContent($parent.$index,$index)"
                                                     ng-style="publicReplySecondIndex==$index?{color: '#08b7c2'}:{color: '#333'}">{{item2.name}}</a></nobr>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="diagnosis">
                        <div ng-click="tapShowButton('diagnosisReplyList')"
                             ng-style="showFlag.diagnosisReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                             class="rtitle">
                            诊断回复（{{diagnosis.length}}）</div>
                        <ul ng-show='showFlag.diagnosisReplyList'>
                            <li ng-repeat="item in diagnosis">
                                <div class="group-title"
                                     ng-style="diagnosisReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                     ng-click="tapDiagnosisReplyContent($index)">
                                    <nobr>{{item.name}}</nobr>（{{item.secondAnswer.length}}）
                                </div>
                                <ul ng-show='diagnosisReplyIndex==$index'>
                                    <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                        <div class="rcontentContent">
                                            <nobr><a title="{{item2.name}}" ng-click="tapEditDiagnosisContent($parent.$index,$index)"
                                                     ng-dblclick="chooseDiagnosisContent($parent.$index,$index)"
                                                     ng-style="diagnosisReplySecondIndex==$index?{color: '#08b7c2'}:{color: '#333'}">{{item2.name}}</a></nobr>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="diagnosticImg">
                        <div ng-click="tapShowButton('diagnosticImgReplyList')"
                             ng-style="showFlag.diagnosticImgReplyList?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                             class="rtitle">
                            图片回复（{{diagnosticImg.length}}）</div>
                        <ul ng-show='showFlag.diagnosticImgReplyList'>
                            <li ng-repeat="item in diagnosticImg">
                                <div class="group-title"
                                     ng-style="diagnosticImgReplyIndex==$index?{'backgroundPosition':'0 -42px', color: '#08b7c2'}:{'backgroundPosition':'0 0', color: '#333'}"
                                     ng-click="tapDiagnosticImgReplyContent($index)">
                                    <nobr>{{item.name}}</nobr>（{{item.secondAnswer.length}}）
                                </div>
                                <ul ng-show='diagnosticImgReplyIndex==$index'>
                                    <li ng-repeat="item2 in item.secondAnswer" class="rcontent">
                                        <div class="rcontentContent rcontentContentImg">
                                            <div class="img" ng-click="tapEditDiagnosticImgContent($parent.$index,$index)"
                                                 ng-dblclick="tapImgButton('magnifyImg',item.src)">
                                                <img width="44px" height="44px" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png" alt=""/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <!--添加分组-->
                <div class="addgroup" ng-show='addGroupFlag'>
                    <div class="addtop"><span>添加分组</span><span ng-click="closeAddGroup()">关闭</span></div>
                    <div class="addgroupname"><span>添加分组</span><input type="text" ng-model="info.addGroup"/></div>
                    <div class="addbtn">
                        <input class="btn" type="submit" ng-click="addGroupSubmit()" value="确定">
                        <input class="btn" type="submit" value="取消" ng-click="closeAddGroup()">
                    </div>
                </div>
                <!--添加内容-->
                <div class="addcontent" ng-show='addContentFlag'>
                    <div class="addtop"><span>添加回复</span><span ng-click="closeAddContent()">关闭</span></div>
                    <div class="addgroupname"  ng-show="addWordFlag"><span class="addkjhf">快捷回复内容：</span>
                        <textarea placeholder="请在此处进行编辑" ng-model="info.addContent"></textarea>
                    </div>
                    <div class="addgroupname" ng-show="addImgFlag"><span class="addkjhf">添加回复图片：</span>
                       <span style="background-color: buttonface;padding: 40px;float: left;margin-top: 24px;" type="file" ng-file-select="uploadFiles($files,'image')" accept="image/*" ng-file-max-height="2000" ng-file-max-size="2MB"
                                >选择图片</span>
                    </div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="addContentSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeAddContent()">
                    </div>
                </div>
                <!--编辑分组-->
                <div class="editgroup" ng-show='editGroupFlag'>
                    <div class="addtop"><span>编辑分组</span><span ng-click="closeEditGroup()">关闭</span></div>
                    <div class="addgroupname"><span>编辑分组</span><input type="text" required ng-model="info.editGroup"/></div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="editGroupSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeEditGroup()">
                    </div>
                </div>
                <!--编辑内容-->
                <div class="editcontent" ng-show='editContentFlag'>
                    <div class="addtop"><span>编辑回复</span><span ng-click="closeEditContent()">关闭</span></div>
                    <div class="addgroupname"><span class="addkjhf">编辑回复内容：</span>
                        <textarea placeholder="请在此处进行编辑" required ng-model="info.editContent"></textarea>
                    </div>
                    <div class="addbtn">
                        <input class="btn" type="submit" value="确定" ng-click="editContentSubmit()">
                        <input class="btn" type="submit" value="取消" ng-click="closeEditContent()">
                    </div>
                </div>
            </div>
            <iframe src="http://s123.xiaork.com/angel/scripts/views/customerss.html" frameborder="0"
                    class="advisory-content" ng-show='showFlag.advisoryContent'>
            </iframe>
            <textarea type="text" name="messageData" id="patientIdData" class="textarea" style="display:none;">{{currentUserConversation.patientId}}</textarea>
            <textarea type="text" name="messageData" id="doctorIdData" class="textarea" style="display:none;">{{doctorId}}</textarea>
            <textarea type="text" name="messageData" id="sourceData" class="textarea" style="display:none;">{{currentUserConversation.source}}</textarea>
            <!--<div class="advisory-content" ng-show='showFlag.advisoryContent'>
                &lt;!&ndash;用户信息&ndash;&gt;
                <div class="module">
                    <div class="title">
                        <h3>用户信息<input type="submit" class="more" value="{{userTableMore}}" ng-click="tapUserTable('userTable')"/> <span>(VIP)</span>：</h3>
                    </div>
                    <table class="table1" ng-show="showFlag.userTable">
                        <tr>
                            <td>姓名：<span><select></select></span></td>
                            <td>微信名：&nbsp;&nbsp;&nbsp;<span><input type="text" value="{{currentUserConversation.patientName}}"/></span></td>
                        </tr>
                        <tr>
                            <td>生日：<span><input type="text" class="Wdate" onFocus="WdatePicker({lang:'zh-cn'})"/></span></td>
                            <td>联系电话：&nbsp;&nbsp;<span><input type="text"/></span></td>
                        </tr>
                        <tr>
                            <td>性别：<select><option value="1">男</option><option value="0">女</option></select></td>
                            <td >会员有效期：&nbsp;<span><input type="text"/></span></td>
                        </tr>
                        <tr>
                            <td>备注：<input type="text"/></td>
                            <td>最近就诊日期：<span><input type="text"/></span></td>
                        </tr>
                        <tr class="save">
                            <td colspan="3">
                                <input  type="submit" value="保存档案"/>
                                <input  type="submit" value="取消保存"/>
                            </td>
                        </tr>
                    </table>
                </div>
                &lt;!&ndash;近期就诊记录&ndash;&gt;
                <div class="module">
                    <div class="title">
                        <h3>近期就诊记录<input type="submit" class="more" value="{{recentTableMore}}" ng-click="tapRecentTable('recentTable')"/></h3>
                    </div>
                    <table class="table2" ng-show="showFlag.recentTable">
                        <tr>
                            <td>
                                <span>姓名：</span><select><option>小雪</option></select>
                            </td>
                            <td>
                                <span>医院：</span><input type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>生日：</span><input type="text"/><span>{{babyAge}}</span>
                            </td>
                            <td>
                                <span>科室：</span><input type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>电话：</span><input type="text"/>
                            </td>
                            <td>
                                <span>医生：</span><input type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>症状：</span><input type="text"/>
                            </td>
                            <td>
                                <span>日期：</span><input type="text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>订单类型：</span><input type="text"/>
                            </td>
                        </tr>
                    </table>
                </div>
                &lt;!&ndash;添加咨询记录&ndash;&gt;
                <div class="module" >
                    <div class="title">
                        <h3>添加咨询记录<input type="submit" class="more" value="{{addConsultTableMore}}" ng-click="tapAddConsultTable('addConsultTable')"/> </h3>
                    </div>
                    <table class="table3" ng-show="showFlag.addConsultTable">
                        <tr>
                            <td>
                                <span>客服：</span>{{doctorName}}
                            </td>
                            <td class="td-l">
                                <span>归档日期：</span><span>{{todayTime}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>诊断：</span><input type="text" ng-model="info.illness"/>
                            </td>
                            <td class="td-l">
                                <span>咨询类别：<select ng-model="info.selectedIllnessList"
                                                   ng-options="date.illness for date in illnessList">
                                </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                表现：<input type="text" maxlength="30" ng-model="info.show" class="big-input"
                                          placeholder="可编辑（可选）30个字以内"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                处理：<input type="text" maxlength="30" ng-model="info.result" class="big-input" placeholder="可编辑（可选）30个字以内"/>
                            </td>
                        </tr>
                        <tr class="save">
                            <td colspan="3">
                                <input type="submit" value="添加记录" ng-click="addDiagnosisRecords()"/>
                                <input type="submit" value="取消保存"/>
                                <input type="submit" value="推荐医生"/>
                            </td>
                        </tr>
                        <tr class="save">
                            <td>
                                <span>定时回访：<input type="submit" value="添加定时回访"
                                                  ng-style="backgroundAddTime?{'background':'gray'}:{'background':'#88d9dd'}"
                                                  ng-click="addDiagnosisTiming()"/></span>
                            </td>
                        </tr>
                    </table>
                </div>
                &lt;!&ndash;历史咨询档案&ndash;&gt;
                <div class="module">
                    <div class="title">
                        <h3>历史咨询档案<input type="submit" class="more" value="{{historyTableMore}}"
                                         ng-click="tapHistoryTable('historyTable')"/></h3>
                    </div>
                    <table class="table4" ng-show="showFlag.historyTable">
                        <tr class="higher">
                            <td>
                                <dl ng-repeat="item in historyConsult">
                                    <dt>
                                        客服：<input type="text" value="{{item.customerId}}" style="border: none;"/>
                                        <a class="fr">{{item.create_date|date:"yyyy-MM-dd"}}</a>
                                    </dt>
                                    <dd>
                                        <span>诊断：</span>{{item.sys_customer_illness_id}}
                                    </dd>
                                    <dd>
                                        <span>表现：</span>{{item.show}}
                                    </dd>
                                    <dd>
                                        <span>处理：</span>{{item.result}}
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>-->
        </div>
        <!--中间的会话内容区-->
        <div class="msg-m h30" ng-if="chooseAlreadyJoinConsultPatientId!=''">
            <div class="headportrait">
                <div class="nametop">
                    <div class="nametopin">
                        <img class="headimg"
                             src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png">
                        <span>{{currentUserConversation.patientName}}</span>
                        <span>{{chooseAlreadyJoinConsultPatientSessionTimes}}</span>
                        <span class="fr" ng-click="tapShowButton('switchOver')">转接</span>
                    </div>
                </div>
                <div class="chatlist">
                    <div scroll-glue-bottom="glued" class="chatlistin">
                        <div class="moreInformation" ng-click="seeMoreConversationMessage(10)">
                            <a href="">查看更多消息</a>
                        </div>
                        <div class="moreInformation">
                            {{currentUserConversation.transferDepartment}}
                        </div>
                        <div ng-repeat="item in currentUserConversation.consultValue" class="information">
                            <div class="doctorContent">
                                <div ng-if="item.senderId==doctorId&&item.type!='4'" class="doctorReplyContent">
                                    <div class="doctorName">
                                        <span>{{doctorName}}</span>
                                        <span>{{item.dateTime}}</span>
                                    </div>
                                    <div ng-if="item.type=='0'" class="message" ng-bind-html="item.content"></div>
                                    <div ng-if="item.type=='1'" class="message" ng-click="tapImgButton('magnifyImg',item.content)">
                                        <img width="100px" ng-src="{{item.content}}">
                                    </div>
                                </div>
                            </div>
                            <div class="patientContent">
                                <div ng-if="item.senderId!=doctorId&&item.type!='4'" class="patientConsultContent">
                                    <div class="senderName">
                                        <span>{{item.senderName}}</span>
                                        <span>{{item.dateTime}}</span>
                                    </div>
                                    <div ng-if="item.type=='0'" class="message" ng-bind-html="item.content"></div>
                                    <div ng-if="item.type=='1'" class="message" ng-click="tapImgButton('magnifyImg',item.content)">
                                        <img width="100px" ng-src="{{item.content}}">
                                    </div>
                                    <div ng-if="item.type=='2'">
                                        <audio ng-src="{{item.content}}" controls="controls"></audio>
                                    </div>
                                    <div ng-if="item.type=='3'" class="message">
                                        <video width="500" height="250" ng-src="{{item.content}}"
                                               controls="controls"></video>
                                    </div>
                                </div>
                            </div>
                            <div class="moreInformation" ng-if="item.type=='4'&&item.notifyType=='0011'" >
                                <a href="">
                                    正在将用户{{item.patientName}}转接给{{item.toCsUserName}}，如需取消请点击
                                    <h ng-click="cancelTransfer(item.session.id,item.toCsUserId,item.remark)" alt="">【取消转接】</h>
                                </a>
                            </div>
                            <div class="moreInformation" ng-if="item.type=='4'&&item.notifyType=='0013'" >
                                <a href="">
                                    正在将用户{{item.patientName}}转接给{{item.toCsUserName}}中.......
                                </a>
                            </div>
                            <div class="moreInformation" ng-if="item.type=='4'&&item.notifyType=='0010'&&item.operation=='rejected'">
                                <a>
                                    <h>转接用户{{item.session.userName}}给{{item.csUserName}}提供服务的请求被拒绝，请转接给其他医生，谢谢！</h>
                                </a>
                            </div>
                            <div class="moreInformation" ng-if="item.type=='4'&&item.notifyType=='0014'">
                                <a>
                                    <h>转接用户{{item.session.userName}}给{{item.csUserName}}提供服务长时间未被受理，已被退会，请重新转接其他医生，谢谢！</h>
                                </a>
                            </div>
                        </div>
                        <div class="magnifyImg" onMouseOver="drag=1;" onMouseOut="" drag="0" ng-show='showFlag.magnifyImg'>
                            <div class="box">
                                <button ng-click="tapShowButton('magnifyImg')">关闭</button>
                                <button onClick="bigit();">放大</button>
                                <button onClick="smallit();">缩小</button>
                                <button onclick="rotateDIV()">旋转</button>
                            </div>
                            <div class="dragAble" id="rotate1" style="z-index: 10;left: 0px;position: absolute; top: 0px;float:left;">
                                <img onmousewheel="return onWheelZoom(this)" style="zoom: 0.7" ng-src="{{imageSrc}}" name="images1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="facebox">
                <div class="facein">
                    <p class="fl"><span id="face" ng-click="getQQExpression()">表情</span></p>
                    <p class="fl"><span type="file" ng-file-select="uploadFiles($files,'image')" accept="image/*" ng-file-max-height="2000" ng-file-max-size="2MB"
                            >图片</span></p>
                </div>
            </div>
            <div class="inputcontent">
                <textarea ng-model="info.consultMessage" id="saytext" placeholder="请在此处进行咨询" class="emotion"></textarea>
            </div>
            <div class="sendbtn">
                <div class="sub_btn" ng-click="sendConsultMessage()">发送(Enter)</div>
                <div ng-click="closeConsult()">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(9).png" alt=""/>
                    关闭</div>
                <div ng-click="tapShowButton('specialistTransfer')"
                     ng-style="userType=='distributor'?{'display':'block'}:{'display':'none'}"
                        >专科转移</div>

            </div>
        </div>
    </div>
    <!--已经接入-->
    <div class="jrhhpm" ng-show='showFlag.rankList'>
        <div class="jrhhpm-top">今日接入会话排名 <a ng-click="refreshRankList()" href="">刷新</a></div>
        <table border="0">
            <tr class="jrhhpm-tb">
                <th>排名</th>
                <th>工号</th>
                <th>名称</th>
                <th>会话（人次）</th>
            </tr>
            <tr ng-repeat="item in info.rankListValue">
                <th>{{$index+1}}</th>
                <th>{{item.doctorEmail}}</th>
                <th>{{item.doctorName}}</th>
                <th>{{item.consultNum}}</th>
            </tr>
        </table>
    </div>
    <!--系统设置-->
    <div class="xtsz-up" ng-show='showFlag.systemSetup'>
        <div class="hd" id="drop">系统设置
            <span class="close" ng-click="tapShowButton('systemSetup')">【关闭】</span>
        </div>
        <div class="xtsz-up-middle">
            <div class="xtsz-up-left">
                <h3>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fxtsz%20(2).png"
                         alt=""/>
                    业务设置</h3>
                <div>
                    <a href="#"><span class="current">主号自动回复</span></a>
                    <a href="#"><span>工号自动回复</span></a>
                    <a href="#"><span>接入语设置</span></a>
                    <a href="#"><span>会话自动关闭设置</span></a>
                </div>
            </div>
            <div class="xtsz-up-right">
                <ul>
                    <li class="show">
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>主号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>主号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>工号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>工号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>接入语设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>接入语是指在接入客户时自动发送的信息</p>
                                <p><input type="checkbox">启动接入语（150个汉字、300个英文字符以内）</p>
                                <p>注意：[昵称]会被动态替换成该工号的昵称</p>
                                <p>注意：[账号]会被动态替换成该工号的账号</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>会话自动关闭设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>会话自动关闭设置指的是在人工接入的状态下，当客户超过一定时间没有回复时，会话自动关闭。（当前正在聊天的会话不会被自动关闭）</p>
                                <p><input type="checkbox">启动会话自动关闭</p>
                                <p>设置会话自动关闭事件<input type="number" name="points" min="0" max="10" />分钟</p>
                                <p><input type="checkbox">会话自动关闭前发送一条信息给客户（100个汉字、200个英文字符以内）</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer ddjr-footer">
            <button>应用</button>
            <button>取消</button>
            <button ng-click="">确定</button>
        </div>
    </div>
    <!--专科医生列表-->
    <div class="xtsz-up specialistList" ng-show='showFlag.specialistList'>
        <div class="hd">专科列表
            <span class="close" ng-click="tapShowButton('specialistList')">【关闭】</span>
        </div>
        <div class="specialistListContent">
            <ul class="specialist">
                <li>用户</li>
                <li>记录人</li>
                <li>记录时间</li>
                <li>需转接的科室</li>
                <li ng-click="getWaitTransferSpecialist()">按科室排序</li>
                <li></li>
            </ul>
            <div class="specialistContent">
                <ul ng-repeat="item in alreadyJoinTransferSpecialist">
                    <li>{{item.userName}}</li>
                    <li>{{item.currentDoctor}}</li>
                    <li>{{item.createDate}}</li>
                    <li>{{item.department}}</li>
                    <li ng-click="createOneSpecialistPatient($index,item.department)"><input type="button" value="发起会话"/></li>
                    <li ng-click="disposeTransferSpecialist($index)"><input type="button" value="删除"/></li>
                </ul>
            </div>
        </div>
    </div>
    <!--专科转移-->
    <div class="specialistTransfer" ng-show='showFlag.specialistTransfer'>
        <div class="selectSpecialist">
            <span>选择科室
                <select ng-model="info.selectedSpecialist"
                        ng-options="date.departmentName for date in selectedSpecialistType">
                    <option value="">-请选择-</option>
                </select>
            </span>
        </div>
        <button ng-click="addTransferSpecialistSubmit()">确定</button>
        <button ng-click="closeSpecialistTransfer()">取消</button>
    </div>
    <!--等待接入-->
    <div class="xtsz-up  ddjr-up" id="ddjr_up" ng-show='showFlag.waitProcess'>
        <div class="hd" id="drop2">未接入客户信息
            <span class="close" ng-click="tapShowButton('waitProcess')">【关闭】</span>
        </div>
        <div class="ddjr-content">
            <div class="checktop">
                <span ng-click="acceptTransfer()">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(2).png" style="cursor:pointer;"/>
                    接入
                </span>
                <span ng-click="rejectTransfer()">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(3).png" style="cursor:pointer;"/>
                    删除
                </span>
                <span ng-click="refreshWaitJoinUserList()">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Ftc%20(4).png" style="cursor:pointer;"/>
                    刷新
                </span>
            </div>
            <table border="0">
                <tr  class="light">
                    <th></th>
                    <th>昵称</th>
                    <th>消息</th>
                    <th>消息数</th>
                    <th>时间</th>
                    <th>来自</th>
                </tr>
                <tr class="light light1" ng-repeat="item in waitJoinUserList">
                    <td><input type="checkbox" ng-checked="item.chooseFlag" ng-model="item.chooseFlag"></td>
                    <td>{{item.userName}}</td>
                    <td>
                        <a ng-if="item.type=='0'">{{item.messageContent}}</a>
                        <a ng-if="item.type=='1'">图片</a>
                        <a ng-if="item.type=='2'">声音</a>
                        <a ng-if="item.type=='3'">视频</a>
                    </td>
                    <td>{{item.messageNum}}</td>
                    <td>{{item.dateTime}}</td>
                    <td>{{item.fromCsUserName}}</td>
                </tr>
            </table>
        </div>
        <div class="footer ddjr-footer" id="ddjr_footer">
            <div class="chected">
                已选中：<span id="add1">0</span>/<span id="add2">0</span>
            </div>
        </div>
    </div>
    <!--转接-->
    <div class="xtsz-up  ddjr-up" ng-show='showFlag.switchOver'>
        <div class="hd"><转接客户></转接客户>
            <span class="close" ng-click="tapShowButton('switchOver')">【关闭】</span>
        </div>
        <div class="switchcontent">
            <div class="switchbox">
                <input type="text" placeholder="按员工、昵称查找工号" ng-model="info.searchCsUserValue" ng-change="searchCsUser()">
                <div class="refresh">
                    <div class="refreshbox">
                        <div class="refreshboxtop">
                            <table>
                                <tr>
                                    <th>工号</th>
                                    <th>昵称</th>
                                    <th>科室</th>
                                    <th>正在咨询人数</th>
                                    <th>角色</th>
                                </tr>
                                <tr ng-repeat="item in info.onLineCsUserList"
                                    ng-click="chooseTransferCsUser(item.id,item.name)"
                                    ng-style="item.id==transferCsUserId?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}"
                                    ng-if="!searchFlag&&item.id!=doctorId">
                                    <td>{{item.email}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.department}}</td>
                                    <td>{{item.currentCount}}</td>
                                    <td>{{info.role[item.user_type]}}</td>
                                </tr>
                                <tr ng-repeat="item in info.onLineCsUserList"
                                    ng-click="chooseTransferCsUser(item.id,item.name)"
                                    ng-style="item.id==transferCsUserId?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}"
                                    ng-if="searchFlag&&item.id!=doctorId&&(item.email.indexOf(info.searchCsUserValue)!=-1||item.name.indexOf(info.searchCsUserValue)!=-1)">
                                    <td>{{item.email}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.department}}</td>
                                    <td>{{item.currentCount}}</td>
                                    <td>{{info.role[item.user_type]}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="refreshbtn" ng-click="refreshOnLineCsUserList()">刷新在线工号</div>
                    <div class="postscript">
                        <span>附言：</span>
                        <textarea placeholder="请在此处进行编辑" ng-model="info.transferRemark"></textarea>
                    </div>
                </div>
            </div>
            <div class="footer ddjr-footer">
                <button ng-click="tapShowButton('switchOver')">取消</button>
                <button ng-click="transferToCsUser()">确定</button>
            </div>
        </div>
    </div>
    <div class="cover" ng-if="loadingFlag">
        <div class="content" style="border:none;">
            <div class="image">
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fshuax_03.png" alt=""/>
            </div>
            <div class="word">加载中...</div>
        </div>
    </div>
</div>
