<link rel="stylesheet" href="scripts/styles/helpDocsCommon.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="scripts/styles/helpDocsList.css?ver=1.1.3" type="text/css"/>
<div ui-view ng-init="helpDocsListInit()" class="helpDocs helpDocsList">
   <div class="main">
       <div class="main-l">
           <ul>
               <li  ng-repeat="item in helpDocsClassify">
                   <a ng-click="selectClassify($index,item.categoryId)" ng-class="{'cur':$index==classifyIndex}">{{item.categoryName}}</a>
               </li>
           </ul>
       </div>
       <div class="main-r ">
           <div class="top">
               <img width="53" height="58" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/helpDocs/top.png">
           </div>
           <div class="line"></div>
           <div class="wrap-list">
               <ul>
                   <li ng-repeat="item in helpDocsList" >
                       <div class="brief" ng-click="goHelpDocsDetail(item.id)">
                           <div class="circle"></div>
                            <div class="tag">
                                <span>创建时间：{{item.createDate | date:'yyyy-MM-dd'}}</span>
                                <a >查看全文>> </a>
                            </div>
                           <div class="text">
                               <img width="70" height="70"  ng-src="http://xiaoerke-article-pic.oss-cn-beijing.aliyuncs.com/{{item.id}}">
                                <div class="word">
                                    <h3>{{item.title}}</h3>
                                    <p>{{item.description}}</p>
                                </div>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>
       </div>
   </div>
</div>