<link rel="stylesheet" href="scripts/styles/helpDocsCommon.css?ver=1.1.3" type="text/css"/>
<link rel="stylesheet" href="scripts/styles/helpDocsDetail.css?ver=1.1.3" type="text/css"/>
<div ui-view ng-init="helpDocsDetailInit()" class="helpDocs helpDocsDetail">
    <div class="main">
        <div class="main-l">
            <ul>
                <li  ng-repeat="item in helpDocsClassify">
                    <a ng-class="{'cur':articleDetail.name==item.categoryName}">{{item.categoryName}}</a>
                </li>
            </ul>
        </div>
        <div class="main-r ">
            <div class="top">
                <img width="53" height="58" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/helpDocs/top.png">
            </div>
            <div class="content">
                <div class="tag">
                    <span>创建时间：{{articleDetail.createDate| date:'yyyy-MM-dd'}}</span>
                    <a >作者：{{articleDetail.author}} </a>
                </div>
                <div class="text">
                    <h2>{{articleDetail.title}} </h2>
                    <div ng-bind-html="info.articleContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>