<link rel="stylesheet" href="scripts/styles/doctorConsultFirst.css?ver=1.0.1" type="text/css"/>
<link rel="stylesheet" href="scripts/styles/messageList.css?ver=1.0.1" type="text/css"/>
<div ui-view ng-init="messageListInit()" class="messageList">
    <!--头部-->
    <header class="head w10">
        <div class="head-t w10 qf">
            <div class="bdf-dkf-nav w5 fl h4 bg-h1">
                <span><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png" alt=""/></span>
                <span></span>
                <span>宝大夫</span>
                <!--<span>自动回复-->
                <!--<select>-->
                    <!--<option>无</option>-->
                    <!--<option>外出就餐，请稍候</option>-->
                    <!--<option>不在电脑旁边，请稍候</option>-->
                    <!--<option>接听电话中</option>-->
                    <!--<option>无自动回复</option>-->
                    <!--<option>马上回来</option>-->
                <!--</select>-->
                <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
                <!--<span>自动接入-->
                <!--<select>-->
                    <!--<option>关闭</option>-->
                    <!--<option>打开</option>-->
                <!--</select>-->
                <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
            </div>
            <div class="w5 fr h4 bg-h1">
                <div class="bdf-dkf-content-right">
                    <div class="cjgl">退出</div>
                    <!--<div class="xtsz" ng-click="systemsetup1()">-->
                        <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_06.png" alt=""/>-->
                        <!--系统设置</div>-->
                </div>
            </div>
        </div>
        <div class="head-m wid1 qf tab">
            <div class="w5 fl h5 tac bg-m"><a ui-sref="doctorConsultFirst"><span class="cl">聊天窗口</span></a></div>
            <div class="w5 fr h5 tac"><a ui-sref="messageList"><span>消息列表</span></a></div>
        </div>
    </header>
    <div class="content qf">
        <div class="head-b qf chatbox">
            <div class="w5 fl h5">
                <span ng-click="refreshUserList()">
                刷新消息
            </span>
            <span>
                发起会话
            </span>
            </div>
            <div class="w5 fr h5">
                <div class="find">
                    <div class="select">
                        <select  ng-model="selected" ng-change="setSearchMessageType(selected.searchType)" ng-options="date.searchContent for date in searchMessageType">
                            <option value="">-请选择-</option>
                        </select>
                    </div>
                    <input type="text" placeholder="搜索内容" ng-model="info.searchMessageContent">
                    <img ng-click="searchMessage()" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_16.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="content-l fl" style='width: 500px;'>
            <div class='w10 h6 customerlist '>
                <div class="fl">客户列表</div>
                <div class="fr">
                    <select id="searchDateId" ng-model="selected"
                            ng-options="date.name for date in searchDate"
                            ng-change="getGetCSInfoByUserId(selected.value)">
                        <option value="">所有时间</option>
                    </select>
                </div>
                <div class="fr">
                    <select id="CSDoctorListInfoId" ng-model="selected"
                            ng-options="user.name for user in CSList"
                            ng-change="getGetCSInfoByUserId(selected.id)">
                        <option value="">所有客服</option>
                    </select>
                </div>
            </div>
            <div class='w10 h7 nicknamelist '>
                <div class="nickname">昵称</div>
                <div class="recently">最近联系时间</div>
                <div class="insert">接入客服</div>
            </div>
            <div  class='w10 h20 br1'>
                <ul class="nicknamecontentlist">
                    <li ng-repeat="item in userConsultListInfo"
                        ng-click ="getUserRecordDetail(item.userName,item.userId,$index)"
                        ng-style="(setSessoin==$index)?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}">
                        <div class="nickname">{{item.userName}}</div>
                        <div class="recently">{{item.createDate}}</div>
                        <div class="insert">{{item.csUserName}}</div>
                    </li>
                </ul>
                <a id="bottom"></a>
            </div>
        </div>
        <div class="content-r" style='margin-left: 501px;'>
            <div class='w10 h6 messagelistc'>
                <div>消息记录</div>
                <div class="fr">
                    刷新当前信息
                </div>
            </div>
            <div class='w10 h7 messagelistn'>
                <div>
                    消息记录-&nbsp;<font color="#228b22">{{currentClickUserName}}</font>
                </div>
                <div ng-click="getRecordByUserId('all')">全部</div>
                <div ng-click="getRecordByUserId('1')">图片</div>
                <div ng-click="getRecordByUserId('2')">语音</div>
                <div ng-click="getRecordByUserId('3')">视频</div>
                <div>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_27.png" alt=""/>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_29.png" alt=""/>
                    <input type="text"/>/
                    <input type="text"/>页
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_22.png" alt=""/>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_24.png" alt=""/>

                </div>
            </div>
            <div class='w10 h20 examinecontent'>
                <ul>
                     <li ng-repeat="item in currentUserConsultRecordDetail">
                         <div ng-if="item.senderId==item.csUserId">
                             <div class="name" ng-style="item.senderId==item.csUserId?{color: '#7fc700'}:{color: '#08b7c2'}">
                                 {{item.doctorName}} {{item.infoDate}}
                             </div>
                             <div ng-if="item.type=='0'" id="show" class="chatcontent">
                                 {{item.message}}
                             </div>
                         </div>
                         <div ng-if="item.senderId==item.userId">
                             <div class="name" ng-style="item.senderId==item.userId?{color: '#08b7c2'}:{color: '#7fc700'}">
                                 {{item.senderName}} {{item.infoDate}}
                             </div>
                             <div ng-if="item.type=='0'" class="chatcontent">
                                 {{item.message}}
                             </div>
                             <div ng-if="item.type=='1'" class="chatcontent">
                                 <a target="_blank" ng-href="{{item.message}}">
                                     <img width="100" height="100" ng-src="{{item.message}}">
                                 </a>
                             </div>
                             <div ng-if="item.type=='2'" class="chatcontent">
                                 <audio ng-src="{{item.message}}" controls="controls"/>
                             </div>
                             <div ng-if="item.type=='3'" class="chatcontent">
                                 <video width="500" height="250" ng-src="{{item.message}}" controls="controls"/>
                             </div>
                         </div>
                     </li>

                </ul>

            </div>
        </div>
    </div>
    <!--系统设置的弹出框-->
    <div class="xtsz-up" id="xtsz_up" ng-show='systemsetup.show'>
        <div class="hd" id="drop">系统设置
            <span class="close" ng-click="systemsetup1()">【关闭】</span>
        </div>
        <!-- 系统设置的tab切换 -->
        <div class="xtsz-up-middle">
            <div class="xtsz-up-left">
                <h3>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fxtsz%20(2).png"
                         alt=""/>
                    业务设置</h3>
                <div>
                    <a href="#"><span class="current">主号自动回复</span></a>
                    <a href="#"><span>工号自动回复</span></a>
                    <a href="#"><span>接入语设置</span></a>
                    <a href="#"><span>会话自动关闭设置</span></a>
                </div>
            </div>
            <div class="xtsz-up-right">
                <ul>
                    <li class="show">
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>主号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <div class="zhhfcontent">
                                    <p>工号自动回复针对工号已经接入客户。对已接入用户请设置<a href="#">工号自动回复</a></p>
                                    <p><input type="checkbox">客服均接入已满或关闭接入时的自动回复语。</p>
                                    <div class="autoresponse commonbtn">
                                        <div class="response">
                                            <ul>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                            </ul>
                                        </div>
                                        <div class="btns">
                                            <button>添加</button>
                                            <button>修改</button>
                                            <button>删除</button>
                                        </div>
                                    </div>
                                    <div class="noautoresponse commonbtn"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>工号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>工号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>接入语设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>接入语是指在接入客户时自动发送的信息</p>
                                <p><input type="checkbox">启动接入语（150个汉字、300个英文字符以内）</p>
                                <p>注意：[昵称]会被动态替换成该工号的昵称</p>
                                <p>注意：[账号]会被动态替换成该工号的账号</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>会话自动关闭设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>会话自动关闭设置指的是在人工接入的状态下，当客户超过一定时间没有回复时，会话自动关闭。（当前正在聊天的会话不会被自动关闭）</p>
                                <p><input type="checkbox">启动会话自动关闭</p>
                                <p>设置会话自动关闭事件<input type="number" name="points" min="0" max="10" />分钟</p>
                                <p><input type="checkbox">会话自动关闭前发送一条信息给客户（100个汉字、200个英文字符以内）</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer ddjr-footer">
            <button>应用</button>
            <button>取消</button>
            <button>确定</button>
        </div>
    </div>
</div>