<link rel="stylesheet" href="scripts/styles/messageList.css?ver=1.1.3" type="text/css"/>
<div ui-view ng-init="messageListInit()" class="messageList">
    <!--头部-->
    <header class="head w10">
        <div class="head-t w10 qf">
            <div class="bdf-dkf-nav w10 fl h4 bg-h1">
                <span><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_04.png" alt=""/></span>
                <span></span>
                <span>宝大夫</span>
                <span>欢迎您（^_^）</span>
                <!--<span>自动回复-->
                <!--<select>-->
                    <!--<option>无</option>-->
                    <!--<option>外出就餐，请稍候</option>-->
                    <!--<option>不在电脑旁边，请稍候</option>-->
                    <!--<option>接听电话中</option>-->
                    <!--<option>无自动回复</option>-->
                    <!--<option>马上回来</option>-->
                <!--</select>-->
                <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
                <!--<span>自动接入-->
                <!--<select>-->
                    <!--<option>关闭</option>-->
                    <!--<option>打开</option>-->
                <!--</select>-->
                <!--<img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fjiantou_png_03.png" alt=""/>-->
                <!--</span>-->
            </div>
        </div>
        <div class="head-m wid1 qf tab">
            <div class="w5 fl h5 tac bg-m"><a ui-sref="doctorConsultFirst"><span class="cl">聊天窗口</span></a></div>
            <div class="w5 fr h5 tac"><a ui-sref="messageList"><span>消息列表</span></a></div>
        </div>
    </header>
    <div class="content qf">
        <div class="head-b qf chatbox">
            <div class="w5 fl h5">
                <span ng-click="refreshUserList()">
                刷新消息
            </span>
            <span ng-click="createDoctorConsultSession()">
                发起会话
            </span>
            </div>
            <div class="w5 fr h5">
                <div class="find">
                    <div class="select">
                        <select  ng-model="selectedMessage" ng-change="setSearchMessageType(selectedMessage.searchType)" ng-options="date.searchContent for date in searchMessageType">
                            <!--<option value="">-请选择-</option>-->
                        </select>
                    </div>
                    <input type="text" placeholder="搜索内容" ng-model="info.searchMessageContent" style="outline:none;border:none;">
                    <a href="" ng-click="searchMessage()"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_16.png" /></a>
                </div>
            </div>
        </div>
        <div class="content-l fl" style='width: 495px;'>
            <div class='w10 h6 customerlist '>
                <div class="fl">客户列表</div>
                <div class="fr">
                    <select id="searchDateId" ng-model="selectedDate"
                            ng-options="date.name for date in searchDate"
                            ng-change="getCsInfoByUserAndDate(selectedDate.value)">
                    </select>
                </div>
                <div class="fr">
                    <!--ng-options="user.name for user in CSList"-->
                    <!--<select id="CSDoctorListInfoId" ng-model="selectedCsList"
                            ng-options="user.name for user in CSList"
                            ng-change="getCsInfoByUserAndDate(selectedCsList.id)">
                        &lt;!&ndash;<option ng-repeat="item in CSList" value="{{item.id}}">{{item.name}}</option>&ndash;&gt;
                    </select>-->
                    <input class="selectedDoctor" type="text" ng-keyup="getCSDoctorList(info.selectedDoctorName)" ng-model="info.selectedDoctorName"/>
                    <ul class="selectedDoctorList" ng-show="selectedDoctorList">
                        <li ng-repeat="item in CSList" ng-click="getCsInfoByUserAndDate(item.id,item.name)">{{item.name}}</li>
                    </ul>
                </div>
            </div>
            <div class='w10 h7 nicknamelist '>
                <div class="nickname">昵称</div>
                <div class="recently">最近联系时间</div>
                <div class="insert">接入客服</div>
            </div>
            <div  class='w10 h20 h2l'>
                <ul class="nicknamecontentlist">
                    <li ng-repeat="item in userConsultListInfo"
                        ng-click ="getUserRecordDetail(item.userName,item.userId,$index)"
                        ng-style="(setSessoin==$index)?{'background':'#08b7c2', color: '#fff'}:{'background':'#fff', color: '#333'}">
                        <div class="nickname">{{item.userName}}</div>
                        <div class="recently">{{item.lastMessageTime|date:"yyyy-MM-dd HH:mm:ss"}}</div>
                        <div class="insert">{{item.csUserName}}</div>
                    </li>
                </ul>
                <a id="bottom"></a>
            </div>
            <div class="clientListPage" style="margin-left:45px;">
                <a href="" ng-click="chooseUserConsultListDataPage('firstPage')"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_27.png"/></a>
                <a href="" ng-click="chooseUserConsultListDataPage('upPage')"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_29.png" alt=""/></a>
                {{currentUserConsultListDataPage}}/{{totalUserConsultListDataPage}}页
                <a href="" ng-click="chooseUserConsultListDataPage('nextPage')"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_22.png" alt=""/></a>
                <a href="" ng-click="chooseUserConsultListDataPage('lastPage')"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_24.png" alt=""/></a>
                <a class="searchCss">第<input ng-model='info.userConsultListInfoSkipNum' required maxlength="3"  type="tel"/>页<input type="submit" value="跳" ng-click="chooseUserConsultListDataPage('SkipPage')" /></a>
            </div>
        </div>
        <div class="content-r" style='margin-left: 496px;'>
            <div class='w10 h6 messagelistc'>
                <div>消息记录</div>
                <a href="" ng-click="refreshCurrentUserRecordDetail()">
                    <div class="fr">
                        刷新当前信息
                    </div>
                </a>
            </div>
            <div class='w10 h7 messagelistn'>
                <div><nobr>消息记录- <span style="color:#228b22">{{currentClickUserName}}</span></nobr>
                </div>
                <div ng-click="setRecordType('all')">全部</div>
                <div ng-click="setRecordType('1')">图片</div>
                <div ng-click="setRecordType('2')">语音</div>
                <div ng-click="setRecordType('3')">视频</div>
                <div>
                    <a ng-click="chooseUserRecordDetail('firstPage',recordType)"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_27.png"/></a>
                    <a ng-click="chooseUserRecordDetail('upPage',recordType)"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_29.png"/></a>
                    {{currentUserRecordDetailPage}}/{{totalUserRecordDetailPage}}页
                    <a ng-click="chooseUserRecordDetail('nextPage',recordType)"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_22.png" /></a>
                    <a ng-click="chooseUserRecordDetail('lastPage',recordType)"><img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fa_24.png" /></a>
                    <a class="searchCss">第<input ng-model="info.recordDetailSkipNum" required maxlength="3"  type="tel"/>页<input type="submit" value="跳" ng-click="chooseUserRecordDetail('SkipPage',recordType)" /></a>
                </div>
            </div>
            <div class='w10 h20 h2r examinecontent bl1'>
                <ul>
                     <li ng-repeat="item in currentUserConsultRecordDetail">
                         <div ng-if="item.senderId==item.csUserId">
                             <div class="name" ng-style="item.senderId==item.csUserId?{color: '#7fc700'}:{color: '#08b7c2'}">
                                 {{item.doctorName}} {{item.infoDate}}
                             </div>
                             <div ng-if="item.type=='0'" id="show" class="chatcontent">
                                 {{item.message}}
                             </div>
                             <div ng-if="item.type=='1'" class="chatcontent"  ng-click="tapImgButton('magnifyImg',item.message)">
                                 <img width="30%" ng-src="{{item.message}}">
                             </div>
                         </div>
                         <div ng-if="item.senderId==item.userId">
                             <div class="name" ng-style="item.senderId==item.userId?{color: '#08b7c2'}:{color: '#7fc700'}">
                                 {{item.senderName}} {{item.infoDate}}
                             </div>
                             <div ng-if="item.type=='0'" class="chatcontent">
                                 {{item.message}}
                             </div>
                             <div ng-if="item.type=='1'" class="chatcontent" ng-click="tapImgButton('magnifyImg',item.message)">
                                     <img width="200px" ng-src="{{item.message}}">
                             </div>
                             <div ng-if="item.type=='2'" class="chatcontent">
                                 <audio ng-src="{{item.message}}" controls="controls"/>
                             </div>
                             <div ng-if="item.type=='3'" class="chatcontent">
                                 <video width="500" height="250" ng-src="{{item.message}}" controls="controls"/>
                             </div>
                         </div>
                     </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="magnifyImg" onMouseOver="drag=1;" onMouseOut="" drag="0" ng-show='showFlag.magnifyImg'>
        <div class="box">
            <button ng-click="tapShowButton('magnifyImg')">关闭</button>
            <button onClick="bigit();">放大</button>
            <button onClick="smallit();">缩小</button>
            <button onclick="rotateDIV()">旋转</button>
        </div>
        <div class="dragAble" id="rotate1" style="z-index: 10;left: 0px; position: absolute; top: 0px; -webkit-transform: rotate(0deg);float:left;">
            <img onmousewheel="return onWheelZoom(this)" style="zoom: 0.7" ng-src="{{imageSrc}}" name="images1">
        </div>
    </div>
    <!--系统设置的弹出框-->
    <div class="xtsz-up" id="xtsz_up" ng-show='systemsetup.show'>
        <div class="hd" id="drop">系统设置
            <span class="close" ng-click="systemsetup1()">【关闭】</span>
        </div>
        <!-- 系统设置的tab切换 -->
        <div class="xtsz-up-middle">
            <div class="xtsz-up-left">
                <h3>
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fxtsz%20(2).png"
                         alt=""/>
                    业务设置</h3>
                <div>
                    <a href="#"><span class="current">主号自动回复</span></a>
                    <a href="#"><span>工号自动回复</span></a>
                    <a href="#"><span>接入语设置</span></a>
                    <a href="#"><span>会话自动关闭设置</span></a>
                </div>
            </div>
            <div class="xtsz-up-right">
                <ul>
                    <li class="show">
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>主号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <div class="zhhfcontent">
                                    <p>工号自动回复针对工号已经接入客户。对已接入用户请设置<a href="#">工号自动回复</a></p>
                                    <p><input type="checkbox">客服均接入已满或关闭接入时的自动回复语。</p>
                                    <div class="autoresponse commonbtn">
                                        <div class="response">
                                            <ul>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                                <li>您好吗？您好吗？您好吗？您好吗？</li>
                                            </ul>
                                        </div>
                                        <div class="btns">
                                            <button>添加</button>
                                            <button>修改</button>
                                            <button>删除</button>
                                        </div>
                                    </div>
                                    <div class="noautoresponse commonbtn"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>工号自动回复</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>工号自动回复针对工号已经接入客户。对未接客户请设置<a href="#">主号自动回复</a></p>
                                <p><input type="checkbox">工号自动回复设置</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>接入语设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>接入语是指在接入客户时自动发送的信息</p>
                                <p><input type="checkbox">启动接入语（150个汉字、300个英文字符以内）</p>
                                <p>注意：[昵称]会被动态替换成该工号的昵称</p>
                                <p>注意：[账号]会被动态替换成该工号的账号</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="zhhf">
                            <div class="zhhftop">
                                <span></span><span>会话自动关闭设置</span><span></span>
                            </div>
                            <div class="zhhfcontent">
                                <p>会话自动关闭设置指的是在人工接入的状态下，当客户超过一定时间没有回复时，会话自动关闭。（当前正在聊天的会话不会被自动关闭）</p>
                                <p><input type="checkbox">启动会话自动关闭</p>
                                <p>设置会话自动关闭事件<input type="number" name="points" min="0" max="10" />分钟</p>
                                <p><input type="checkbox">会话自动关闭前发送一条信息给客户（100个汉字、200个英文字符以内）</p>
                                <textarea placeholder="请在此处进行编辑"></textarea>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer ddjr-footer">
            <button>应用</button>
            <button>取消</button>
            <button>确定</button>
        </div>
    </div>
    <!-- 加载更多-->
    <div class="cover" ng-if="loadingFlag">
        <div class="content" style="border:none;">
            <div class="image">
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fshuax_03.png" alt=""/>
            </div>
            <div class="word">加载中...</div>
        </div>
    </div>
</div>