.titleLine{
  position: relative;
  font-size:14px;
  color:#666;
  margin:22.5px 0 15px;
  text-align: center;
  font-weight:normal;
}
.titleLine .line{
  display: inline-block;
  width:20%;
  height:1px;
  background-color: #ccc;
  position: absolute;
  top:10px;


}
.titleLine .line:first-of-type{
  left:10%;
}
.titleLine .line:last-of-type{
  right:10%;
}