/*appointmentSuccess*/

 .item.tips {
  margin:0;
}
 .workInfo .l{
   width:18%;
}
.workInfo ul{
  margin:0 10px;
 // border-bottom: 1px solid #ccc;
}
.workInfo ul:last-child{
  border-bottom:none;
}
.workInfo li .l{
  border:none;
}
.workInfo li{
  padding-top:10px;
  padding-bottom:10px;
}
.pic{
  padding-bottom: 20px;
}
.workInfo{
  margin-top:10px;
}
.pic{
  text-align: center;
  color:#999;
  font-size:15px;
}
.pic span{
  margin-top:10px;
}
 .item  .route{
   width:75px;
   min-height:30px;
   line-height:30px;
   color:#fff;
   background-color: #88d9dd;
   margin-top:10px;
   margin-bottom:15px;
   font-size:12px;
   border-radius: 3px;
}

 .sign{
   margin-top:20px;
   border-top: 1px solid #ddd;

 }
.sign ul{

}
.sign li{
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
  font-size:0;
}
.sign span{
  color:#999;
  font-size:17px;
}
.sign  input {
  width:70%;
  color:#7e7e7e;
  font-size:14px;
  background-color: #e9e9e9;
  border:1px solid #c3c3c3;
  padding:5px 5px;
  border-radius: 3px;
}
.sign  input.code-i{
  width:40%;
  border-radius: 3px 0 0 3px;
  border:1px solid #c3c3c3;
  border-right:none;
}
.sign .code{
  display: inline-block;
  width:30%;
  height:31px;
  padding:5px 0px;
  color:#fff;
  text-align: center;
  font-size:14px;
  background-color: #88d9dd;
  border-radius:0 3px 3px 0;

}
.appointmentSuccess .sure{
  text-align: center;
  font-size:12px;
  color:#999;
  margin-top:15px;
  margin-bottom: 0;
}
.appointmentSuccess .sure img{
  vertical-align: middle;
  margin-top:-3px;

}
.appointmentSuccess .foot-btn{
  margin-top:15px;
}