.appointmentUseMember{
  background-color: #fff;
}
.appointmentUseMember .box1{
  padding:22.5px 15px;
  background-color: #88d9dd;
  color:#fff;
  font-size:14px;
}
.appointmentUseMember .box1 ul {
  overflow: hidden;
  margin-bottom: 22.5px;
}
.appointmentUseMember .box1 ul li{
  float: left;

}
.appointmentUseMember .box1 ul:last-child{
  margin-bottom: 0;
}
.appointmentUseMember .box1 ul .l{
  width:18%;
}
.appointmentUseMember .box1 ul .r{
  width:82%;
}

.appointmentUseMember .use-free{
  position: relative;
  color:#fe717b;
  font-size:14px;
  padding:17.5px 15px;
  border-bottom: 1px solid #f0f0f0;
}
.appointmentUseMember .use-free img{
  float: right;
}
.appointmentUseMember .foot-btn{
  margin-top:170px;
}