/*doctorAppointment*/
.attention-shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 9;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}
.bdf-attention{
  position: absolute;
  z-index:15;
  width:100%;
  margin:70px 0;
}
.bdf-attention div img{
  display: inline-block;
  margin:0 5%;
}

.bdf-attention dl{
  width:70%;
  position: relative;
  color:#fff;
  margin:0 15%;
}


.bdf-attention dt{
  color:#fff;
  font-size:17px;
  font-weight: normal;
  margin-bottom:22.5px;
  text-align: center;
  position: relative;
}

.bdf-attention dt span{
  display: inline-block;
  width:28%;
  height:1px;
  background-color: #fff;
  position: absolute;
  top:11px;
}
.bdf-attention dt span.ll{
  left:0;
}
.bdf-attention dt span.rr{
  right:0;
}
.bdf-attention dd{
  font-size:14px;
  margin-bottom:22.5px;
  line-height: 26px;
}
.bdf-attention dd img{
  margin-top:20px;
}
.bdf-attention dd .cir{
  display: inline-block;
  width:5px;
  height:5px;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  margin-top:-3px;
}
.shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 9;
  width:100%;
  height:100%;
  background: #fff;
  /*filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;*/
}
.remind-wangQ{
  position: absolute;
  top:50%;
  z-index:10;
  background-color: #fff;
  margin:-95px 5% 0;
  border-radius:15px;
  padding:25px 15px 100px;
  border:1px solid #88d9dd;
  height:190px;
  overflow: hidden;
}
.remind-wangQ p{
  color:#666;
  font-size:13px;
  text-indent: 2em;
}
.remind-wangQ .button-two{
  text-align: center;
  position: absolute;
  left:0;
  bottom: 0;
  height:34px;
  width:100%;
  border-radius:0 0 15px 15px;
}
.remind-wangQ .button-two .line{
  position: absolute;
  left:50%;
  top:0;
  width:1px;
  height:34px;
  background-color: #fff;
  margin-left:-0.5px;
  z-index:11;
}
.remind-wangQ button{
  position: absolute;
  width:50%;
  background-color: #88d9dd;
  color:#fff;
  font-size:15px;
  text-align: center;
  height:34px;
  line-height:34px;
  border:none;
}
.remind-wangQ button:first-of-type{
  left:0;
  border-radius:0 0 0 12px;
}
.remind-wangQ button:last-of-type{
  right:0;
  border-radius: 0 0 12px 0;
}
.doctorAppointment .doctorInfo{
  position:relative;
  /*height:175px;*/
  height:auto;
  padding-bottom: 24px;
}
.doctorAppointment .circle{
  display: inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  border-radius: 50%;
  text-align: center;
  font-size:12px;
  border:1px solid #fff;
  margin-right: 5px;
}
.doctorAppointment .doctorInfo .doctorPhoto{
  left:22px;
  margin-top:4px;
}
.doctorAppointment .doctorInfo h2,.doctorAppointment .doctorInfo p{
  margin-left:20px;
  white-space: normal;
}
.doctorAppointment .doctorInfo h2{
  font-size:18px;
  height: 22px;
  margin-top:8px;
}
.doctorAppointment .doctorInfo p{
  font-size:14px;
  height:auto;
  margin-bottom: 0px;
  white-space: normal;
  word-break: break-all;
  padding-top:4px;
}
.doctorAppointment .doctorInfo p:last-child{
}
.doctorAppointment .doctorInfo .doctorGroup {
  font-size:12px;
  color:#b3df6f;
  border:1px solid #b3df6f;
  text-align:center;
  border-radius: 5px;
  padding:2px 6px;
  margin-left:20px;
  margin-top:10px;
}
.doctorAppointment .item .focus{
  right:20px;
  position: absolute;
  text-align: center;
  font-size:13px;
  color:#999;
  top:45px;
}
.doctorAppointment .item .focus div{
  font-size: 20px;
  margin-bottom: 8px;
}
.doctorAppointment .attitude-profession{
  margin-bottom:5px;
  background-color: #fff;
  font-size:0;

}
.doctorAppointment .attitude-profession div{
  margin:0 20px;
  border-top:1px solid #ccc;
  padding:10px 0;
}
.doctorAppointment .attitude-profession span{
  display: inline-block;
  width:50%;
  font-size:13px;
  padding:2px 0;
  position: relative;
  color:#666;
}
  .doctorAppointment .attitude-profession span:last-child{
    border-left:1px solid #ccc;
    padding-left:15px;
  }

.doctorAppointment .attitude-profession span img{
  vertical-align: middle;
  margin-top:-3px;
}
.doctorAppointment .attitude-profession span a{
  color:#333;
  font-size:13px;
  float: right;
  margin-right:16px;
}
.doctorAppointment .attitude-profession span:last-child a{
  margin-right:3px;
}
.doctorAppointment .list{
  margin:0;
}
.appInfo{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.appInfo .add{
  background-color: #88d9dd;
  height:70px;
  color:#fff;
  font-size: 15px;
  position: relative;
}
.appInfo .add a{
  position: absolute;
  top:18px;

}
.appInfo #arr-l{
  left:20px;
}
.appInfo #arr-r{
  right:20px;
}
.appInfo .add ul{
  margin-left:35px;
}
.appInfo .add ul li:first-child{
  margin-bottom: 2px;
}
.appInfo .add .circle{
  display: inline-block;
  width:20px;
  height:20px;
  line-height:20px;
  border-radius: 50%;
  text-align: center;
  font-size:12px;
  border:1px solid #fff;
  margin-right: 5px;
}
.appInfo .add img{
  margin-left:3px;
  vertical-align: middle;

}
.appInfo .date{
  font-size:17px;
}
.appInfo .date .col{
  text-align: center;
  padding:0;
}
.appInfo .date .col a{
  display: inline-block;
  padding-top:10px;
  padding-bottom: 10px;
}
.appInfo .date .col a.week{
  width: 100%;
  border-bottom:1px solid #ccc;
}
.appInfo .date .col .time span{
  display: inline-block;
  width:30px;
  height:30px;
  line-height:30px;
  margin-bottom: 5px;
}
.appInfo .date .col .time span.circle-b{
  border-radius: 50%;
  background-color: #88d9dd;
  color:#fff;
}
.appInfo .date .col .time i{
  margin:0 auto 0;
  display: block;
  width:3px;
  height:3px;
  background-color: #fe7e7b;
  border-radius: 59%;
}
.appInfo .time-list{
  /*text-align: center;*/
  background-color: #fff;
}
.appInfo .time-list .row{
  width:90%;
  margin:1px 5%;
  white-space: normal;
  word-break: break-all;

}
.appInfo .time-list .row .col{
  padding:0 5px;
  text-align: center;
}
.appInfo .time-list a{
  display: inline-block;
 /* width:70px;*/
  width: 70px;;
  height:30px;
  line-height:30px;
  text-align: center;
  font-size:15px;
  margin-bottom:15px;
  border-radius: 3px;
}
.appInfo .time-list a.yes{
  color:#88d9dd;
  border:1px solid #88d9dd;
}
.appInfo .time-list a.no{
  color:#999;
  background-color: #eaeaea;
  border:1px solid #ddd;
}
.appInfo .tip{
  /*text-align: center;*/
  font-size:11px;
  color:#fe717b;
  margin-bottom:15px;
  white-space: normal;
}
.appInfo .tip .l{
  float: left;
  width:21%;
}
.appInfo .tip .r{
  float: left;
  width:79%;
}
.doctorAppointment .info{
  background-color: #fff;
  margin-top: 10px;
  padding-top:0;
  padding-bottom: 0;
}
.doctorAppointment .info ul.info-hd{
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.doctorAppointment .info .info-hd li{
  width:50%;
  float: left;
  height:50px;
  line-height:50px;
  text-align: center;
}
.doctorAppointment .info .info-hd li a{
  width:80%;
  height:50px;
  display: inline-block;
  color:#333;
  font-size:17px;
}
.info .info-hd li a.cur{
  color:#88d9dd;
  border-bottom:2px solid #88d9dd;
}
.info .doc-info ul{
  margin:0 10px 0 20px;
  overflow: hidden;
}
.info .doc-info li{
  position: relative;
  margin-top:15px;
}
.info .doc-info li img{
  position: absolute;
  left:0;
  top:0;
}
.info .doc-info ul li p{
  margin:5px 10px 10px 35px;
  color:#666;
  font-size:13px;
  padding-top:2px;
}
.info .doc-info p.case{
  color:#999;
  margin-bottom:5px;
}
.info .doc-info .case-name{
  display: inline-block;
  width:95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right:5px;
}
.info .doc-info .case-num{
  min-width:25px;
  display: inline-block;
  background-color: #b3df6e;
  height:15px;
  line-height:15px;
  padding:0 3px;
  color:#fff;
  font-size:11px;
  border-radius:10px;
  margin-top:1px;
  vertical-align: top;
  border-width:1px;
  border-style: solid;
}
.info .user-info ul{
  margin-left:20px;
  margin-right:20px;
}
.info .user-info li{
  padding-top:15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  position: relative;
}
.info .user-info li:last-child{
 border: none;
}
.info .user-info .user-phone{
  font-size:14px;
  color:#333;
  margin-right:15px;
}
.info .user-info .time{
  font-size:12px;
  color:#999;
  padding-left:50px;
  position: absolute;
  top:15px;
  right:0;
}
.info .user-info .evaluate{
  color:#999;
  font-size:12px;
  margin-top:10px;
}
.info .user-info .star{
  padding-left:10px;
  color:#999;
}
.info .user-info .star img{
  vertical-align: middle;
  margin-top:-2px;
}
.info .user-info li i{
  font-size:20px;
  color:#cfcfcf;
}
.info .user-info li i.energized{
  color:#ffd800;
}

 .orderOpen{
  padding-left: 0px;
  position: relative;
  margin-top:0px;
  /*margin-bottom:5px;*/
   background-color: #f9f9f9!important;
}
 .orderOpen .open-btn{
   display: inline-block;
   text-align: center;
   width:210px;
   height:40px;
   line-height:40px;
   background-color: #88dfdd;
   border-radius:5px;
   color:#fff;
   font-size:13px;

}


