.memberServiceDetail{
  background-color: #fff;
}
.memberServiceDetail .myTop{
  padding:15px 0;
  color:#fff;
  background-color: #88d9dd;
  text-align: center;
  position: relative;
}
.memberServiceDetail .myTop div{
  font-size:15px;
}
.memberServiceDetail .myTop p{
  font-size:13px;
  margin-bottom: 0;
}
.memberServiceDetail .myTop .cir{
  width:29px;
  height:29px;
  border-radius: 50%;
  background-color: #88d9dd;
  position: absolute;
  left:26px;
  bottom:-14.5px;
}
.memberServiceDetail dl{
  padding-top:40px;
  margin-bottom: 60px;
  margin-left:40.5px;
  border-left:1px solid #88d9dd;
  padding-left:15px;
}
.memberServiceDetail dl dt{
  font-weight: normal;
  font-size:13px;
  margin-bottom: 20px;
  color:#666;

}
.memberServiceDetail dl dd{
  font-size:12px;
  margin-bottom: 20px;
  color:#999;
  position: relative;
  padding-left:12.5px;
}
.memberServiceDetail dl .cir{
  position: absolute;
  left:0;
  top:5px;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #88d9dd;
  margin-right:8px;
}
.memberServiceDetail .look-memberService{
  margin-right:5%;
  color:#88d9dd;
  font-size:12px;
  float: right;
  text-align: right;
  padding-bottom:1px;
  border-bottom: 1px solid #88d9dd;
  margin-bottom: 25px;
}
.memberServiceDetail .three-member {
  margin-left:5%;
  margin-bottom: 10px;
}
.memberServiceDetail .three-member p{
  color:#fe717b;;
  font-size:12px;
  position: relative;
  padding-left:40px;
}
.memberServiceDetail .three-member span{
  position: absolute;
  left:0;
  top:0;

}
.memberServiceDetail .remind{
  color:#ccc;
  font-size:12px;
  margin:0 5% 5px;
}
.memberServiceDetail .foot-btn{
  margin:25px 5% 17.5px;
}