.memberServiceSuccess{
  background-color: #fff;
}
.memberServiceSuccess .myTop{
  padding:22.5px 0 12.5px;
  color:#fff;
  background-color: #88d9dd;
  text-align: center;
  position: relative;
}
.memberServiceSuccess .myTop img{
  margin-bottom: 10px;
}
.memberServiceSuccess .myTop div{
  font-size:15px;
}
.memberServiceSuccess .myTop p{
  font-size:13px;
  margin-bottom: 0;
}
.memberServiceSuccess .myTop .cir{
  width:29px;
  height:29px;
  border-radius: 50%;
  background-color: #88d9dd;
  position: absolute;
  left:26px;
  bottom:-14.5px;
}
.memberServiceSuccess .box2{
  padding:40px 0 15px 15px;
  margin-bottom: 0;
  margin-left:40.5px;
  border-left:1px solid #88d9dd;

}
.memberServiceSuccess .box2 dt{
  font-weight: normal;
  font-size:13px;
  margin-bottom: 20px;
  color:#666;

}
.memberServiceSuccess .box2 dd{
  font-size:12px;
  margin-bottom: 20px;
  color:#999;
  position: relative;
  padding-left:12.5px;
}
.memberServiceSuccess .box2 .cir{
  position: absolute;
  left:0;
  top:5px;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #88d9dd;
  margin-right:8px;
}
.memberServiceSuccess .apart{
  width:100%;
  background-color: #f9f9f9;
  height:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.memberServiceSuccess .box3{
  margin-left:40.5px;
  padding-top:22.5px;
}
.memberServiceSuccess .box3 h3{
  font-weight: normal;
  font-size: 15px;
  color:#fe717b;
  margin-bottom: 25px;
}
.memberServiceSuccess .box3 h3 span{
  width:4px;
  height:16px;
  display: inline-block;
  background-color: #fe717b;
  margin-right:8px;
}
.memberServiceSuccess .box3 li{
  overflow: hidden;
  color:#333;
  font-size:14px;
  margin-bottom: 22.5px;
  white-space: normal;
}
.memberServiceSuccess .box3 li .li-fl{
  width:18%;
  float: left;

}
.memberServiceSuccess .box3 li .li-fr{
  float: left;
  width:80%;

}
.memberServiceSuccess .box3  .two-btn{
  margin-bottom: 20px;
}
/*.memberServiceSuccess .box3  .foot-btn{
  width:40%!important;
  display: inline-block;
  padding:0;
  min-height:40px;
  height:40px;
  line-height:40px;
  text-align: center;
  margin:5px 0 0 0;
}*/
/*.memberServiceSuccess .box3  .foot-btn:first-of-type{
  margin-right:8px;
}*/
.memberServiceSuccess  .box3 .foot-btn.activated{
  background-color: #6dc8cc;
}
.memberServiceSuccess .skip-myService{
  margin-left:5%;
  color:#999;
  font-size:12px;
  margin-bottom: 20px;
}
.memberServiceSuccess .skip-myService a{
  color:#88d9dd;
  font-size:12px;
  font-style: italic;
  padding: 0 3px;
}