.nutritionNecessaryDetail{

}
.nutritionNecessaryDetail .my-img{
  margin-top:-5px;
}
.nutritionNecessaryDetail .intro{
 background-color: #fff;

}
.nutritionNecessaryDetail .intro .pic{
  text-align: center;
  border-bottom: 1px solid #f9f9f9;
  padding:50px 0;
}
.nutritionNecessaryDetail .intro .text{
  padding:25px 20px;
  border-bottom: 1px solid #f9f9f9;
}
.nutritionNecessaryDetail  .text h2{
  color:#333;
  font-size:16px;
  margin-bottom: 22.5px;
}
.nutritionNecessaryDetail  .text p{
  color:#666;
  font-size:13px;
  margin-bottom: 0;
}
.nutritionNecessaryDetail .intro .price-list{

}
.nutritionNecessaryDetail .price-list li{
  overflow: hidden;
  padding:10px 20px;
  border-bottom: 1px solid #f9f9f9;
}
.nutritionNecessaryDetail .price-list li:last-of-type{;
  border-bottom: none;
}
.nutritionNecessaryDetail .price-list  .shop{
  float: left;
}
.nutritionNecessaryDetail .price-list  .price{
  margin-top:4px;
  float: right;
}
.nutritionNecessaryDetail .price span{
  color:#ccc;
  font-size:12px;
}
.nutritionNecessaryDetail .price a{
  color:#fe717b;
  font-size:18px;
  padding-right:15px;
}