.nutritionAddAssess{

}
.nutritionAddAssess .titleLine{
  margin:30px auto 25px;
}
.nutritionAddAssess .assess-result{
  margin:0 15px 20px;
  background-color: #fff;
  border-radius: 15px;
  padding:45px 0 22px;
  box-shadow: 0 1px 3px #ccc;
  text-align: center;
}
.nutritionAddAssess .assess-result .balance-pic{
  text-align: center;
  position: relative;
}
.nutritionAddAssess  .balance-pic .balance-pallet{
  position: absolute;
  left:50%;
  margin-left:-145px;
  top:38px;
  -ms-transition:transform 2s ease-in 0s;
  -webkit-transition:transform 2s ease-in 0s;
  -moz-transition:transform 2s ease-in 0s;
  transition:transform 2s ease-in 0s;
  -ms-transform-origin:center center;
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  transform-origin:center center;

}
.nutritionAddAssess .assess-result p{
  font-size: 17px;
  color:#333;
  text-align: center;
  width:90%;
  margin:0 auto 20px;
  padding:38px 0 28px;
  border-bottom: 1px dashed #ccc;
  line-height: 24px;
}
.nutritionAddAssess .assess-result a{
 color:#999;
  font-size: 14px;
}
.nutritionAddAssess  .next{
  margin:40px auto 20px;
  text-align: center;
}
.nutritionAddAssess  .next .foot-btn{
  display: inline-block;
  width:180px;
  margin:0 auto;
  border-radius: 25px;
}