.nutritionBabyInfo{
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2FbabyInfo_bg2.png") repeat-x;
  background-size: 1px 150%;
}
.nutritionBabyInfo .baby-info{
  text-align: center;
}
.nutritionBabyInfo .baby-info .sex{
  margin-bottom: 50px;
}
.nutritionBabyInfo .baby-info .titleLine{
  font-size:16px;
  color:#fff;
  margin:40px auto 30px;
}
.nutritionBabyInfo  .sex .line{
  width:24%;
  background-color: #fff;

}
.nutritionBabyInfo  .sex ul{
  overflow: hidden;
}
.nutritionBabyInfo  .sex li{
  float: left;
  width:50%;
  text-align: center;
  color:#fff;
  font-size:16px;
}
.nutritionBabyInfo  .sex li img{
  display: block;
  margin:0 auto 17.5px;
}
.nutritionBabyInfo .baby-info .other{
  width:90%;
  margin:0 auto;
}
.nutritionBabyInfo  .other li{
  text-align: center;
  font-size:16px;
  color:#fff;
  margin-bottom: 40px;
  position: relative;
}
.nutritionBabyInfo  .other li:last-of-type{
  margin-bottom: 50px;
}
.nutritionBabyInfo  .other input{
  display: inline-block;
  border-bottom:1px solid #fff;
  width:200px;
  height:25px;
  padding:0;
  background: none;
  color:#fff;
  font-size:16px;
}
.nutritionBabyInfo  .other li span{
  position: absolute;
  right:5%;
  margin-right:2px;
  bottom:3px;
}
input::-webkit-inner-spin-button ,input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}