.nutritionAssessResult{
  background-color: #fff;
}
.nutritionAssessResult .two-btn{
  text-align: center;
}
.nutritionAssessResult .two-btn a{
  display: inline-block;
  width:140px;
  height:34px;
  line-height:34px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  border-radius: 25px;
  background-color: #88d9dd;
}
.nutritionAssessResult .two-btn a:first-of-type{
  margin-right:18px;
}
.nutritionAssessResult .two-btn a.activated{
  background-color:#38abb1; ;
}
.nutritionAssessResult .foot-btn{
  margin-top:0;
}
