.nutritionAskSuccess{

}
.nutritionAskSuccess .pic{
  text-align: center;

}
.nutritionAskSuccess .pic img{
  margin:60px auto 37.5px;
}
.nutritionAskSuccess .pic div{
  color:#666;
  font-size: 15px;
  margin-bottom: 15px;
}

.nutritionAskSuccess .pic p{
  font-size: 13px;
  color:#666;
  line-height: 30px;
  margin-bottom: 50px;
}
.nutritionAskSuccess .pic p span{
  color: #fb717b;
}
.nutritionAskSuccess .foot-btn{
  margin:0 5% 0;
}
.nutritionAskSuccess .code{
  text-align: center;
  position: relative;
  margin:50px 15px 0;
  font-size: 13px;
  color:#666;
  border-top:1px dashed #ccc;
}
.nutritionAskSuccess .code p{
  padding:0 8px;
  width:251px;
  text-align: center;
  margin:-12px auto 5px;
  background-color: #f9f9f9;
}
.nutritionAskSuccess .code span{
  color:#88d9dd;
}
.nutritionAskSuccess .code img{
  margin-top:22.5px;
}

