.nutritionNecessary{

}
.nutritionNecessary .titleLine{
  margin:25px auto 12.5px;
  font-size:16px;
}
.nutritionNecessary .necessary-list ul{
  margin:10px 10px 20px;
  background-color: #fff;
  border-radius: 15px;
  padding:17.5px 10px 2.5px;
  box-shadow: 0 1px 3px #ccc;
  overflow: hidden;
  text-align: center;
}
.nutritionNecessary .necessary-list li{
  width:46%;
  display: inline-block;
  margin:0 auto 15px;
  position: relative;
}
.nutritionNecessary .necessary-list li:nth-of-type(odd){
  margin-right:15px;
}

.nutritionNecessary .necessary-list li span{
  position: absolute;
  font-size:16px;
  color:#fff;
  left:50%;
  top:50%;
  margin-left:-16px;
  margin-top:-10px;
}

