.my-footer{
  position: fixed;
  width:100%;
  height:60px;
  left:0;
  bottom:0;
  z-index:3;
  background-color: #f9f9f9;
  /*border-top:1px solid #ccc!important;*/
}
.my-footer .tab-item .icon {
  height: 25px;
  margin-bottom:5px;
}
.my-footer a{
  padding:7px 0;
  position: absolute;
  width:20%;
  height:60px;
  color:#ccc;
  font-size:12px;
  opacity: 1;
}
.tab-item{
  opacity: 1;
}
.my-footer a:first-of-type{
  left:0;
}
.my-footer a:nth-of-type(2){
  left:20%;
}
.my-footer a:nth-of-type(3){
  left:50%;
  width:22%;
  margin-left:-11%;
  color:#fff;
}
.my-footer a:nth-of-type(3) .icon{
  height: 31px;
}
.my-footer a:nth-of-type(4){
  left:60%;
}
.my-footer a:nth-of-type(5){
  left:80%;
}
.my-footer a.consult{
  padding:0;
}
.my-footer a.activated{
  color:#88d9dd;
}
.my-footer a.activated:nth-of-type(3){
  color:#fff;
}
.my-list .line{
  width:15%;
}
 .my-list ul{
  margin:10px 10px 20px;
  background-color: #fff;
  border-radius: 15px;
  padding:25px 20px;
  box-shadow: 0 1px 3px #ccc;
}
 .my-list li{
  position: relative;
  padding-left:114px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
   margin-top:20px;
}
.my-list li:first-of-type{
  margin-top:0;
}
 .my-list li:last-of-type{
   border:none;
   padding-bottom:0;
}
 .my-list li img{
  position: absolute;
  left:0;
  top:0;
}
 .my-list li h2{
  font-weight: normal;
  font-size:16px;
  color:#333;
  margin-bottom:15px;  margin-top:0;

}
 .my-list li p{
  font-weight: normal;
  font-size:14px;
  color:#666;
  margin-bottom:10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 .my-list li .price{
  display: inline-block;
  padding:5px 16px;
  border:1px solid #fe717b;
  color:#fe717b;
  font-size:16px;
  border-radius: 20px;
}