.update-info{
  position: fixed;
  left:0;
  bottom:0;
  z-index:5;
  width:100%;
  background-color: #fff;
}
.update-info .title{
  width:100%;
  padding:14px;
  height:48px;
  overflow: hidden;
}
.update-info .title span{
  color:#333;
  font-size: 13px;
  float: left;
}
.update-info .title  a{
  float: right;
  color:#999;
  font-size: 13px;
}
.update-info .fill {
  text-align: center;
  width:80%;
  margin:70px auto 50px;

}
.update-info .fill div{
  height:10px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  position: relative;
}
.update-info .fill input{
  width:100%;
  position: absolute;
  height:40px;
  left:0;
  bottom:0;
  text-align: center;
  font-size:18px;
  color:#666;
  padding-bottom:20px;
}

.update-info .sex{
  width:100%;
  background-color: #ccc;
  overflow: hidden;
  padding:20px 0;
}
.update-info  .sex li{
  float: left;
  width:50%;
  text-align: center;
  color:#333;
  font-size:16px;
}
.update-info  .sex li img{
  display: block;
  margin:0 auto 17.5px;
}
input::-moz-placeholder {
  color: #ccc;
  font-size: 18px;
}
input::-webkit-input-placeholder{
  color: #ccc;
  font-size: 18px;
}

input:-ms-input-placeholder, {
  color: #ccc;
  font-size: 18px;
}
.nutritionReport{

}
.nutritionReport .report-value{
  text-align: center;
  position:relative;
  padding-top:30px;
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2Fkaup_bg.png") no-repeat;
  background-size: 100% 100%;

}
.nutritionReport .report-value .kaup-wheel{
  position: relative;
}
.nutritionReport .report-value .kuap-circle{
  -ms-transition:all 2s ease-in 0s;
  -webkit-transition:all 2s ease-in 0s;
  -moz-transition:all 2s ease-in 0s;
  transition:all 2s ease-in 0s;
  transform-origin:center center;
  -ms-transform-origin:center center;
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  transform-origin:center center;

}
.nutritionReport .report-value .kuap-arrow{
  position: absolute;
  width:100%;
  text-align: center;
  top:50%;
  margin-top:-56px;
}
.nutritionReport .kuap-arrow .kuap-value{
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:40px;
  text-align: center;
  color:#333;
  font-size:14px;
}
.nutritionReport .kuap-arrow .kuap-value span{
  display: block;
  font-size:18px;
  padding-top:10px;
}
.nutritionReport .report-value .what-kuap{
  position: absolute;
  width:100%;
  height:auto;
  bottom:0;
}
.nutritionReport  .what-kuap div{
  position: absolute;
  width:100%;
  top:50%;
  margin-top:-10px;
  font-size:15px;
  color:#fe717b;
  text-align: center;
}
.nutritionReport  .what-kuap div img{
 vertical-align: middle;
  margin-top:-2px;

}

.nutritionReport .value-compare{
 }
.nutritionReport .value-compare ul{
  overflow: hidden;
}
.nutritionReport .value-compare li{
  margin-bottom: 5px;
  background-color: #fff;
  padding:0 20px;
  height:44px;
  line-height:44px;
  font-size:14px;
  position: relative;
}
.nutritionReport .value-compare li #birthday{
  position: absolute;
  right:0;
  width:90%;
  height:44px;
  padding:0 36px 0 0;
  color:#333;
  font-size:14px;
  text-align: right;
  background-color: transparent;
  line-height: 44px;
}
.nutritionReport .value-compare li img{
  vertical-align: middle;
  margin-top:-3px;
}
.nutritionReport .value-compare .key{
  color:#666;
  float: left;
}
.nutritionReport .value-compare .value{
  color:#333;
  float: right;
}
.nutritionReport  .value i{
  font-size:18px;
  color:#666;
  vertical-align: middle;
}
.nutritionReport .value-compare p{
  text-align: center;
  color:#999;
  font-size:13px;
  line-height: 24px;
  margin:30px auto;
}
.nutritionReport  .titleLine .line{
  width:25%;
}
.nutritionReport .advise p{
  margin:0 15px;
  font-size: 12px;
  color:#999;
  text-indent: 2em;
  line-height: 18px;
}
.foot-btn1{
  position: fixed;
  bottom:0;
  width:100%;
  margin:0;
}
.toggle{
  top:0;
  margin:0;
  padding-right:0;
}
.toggle .handle{
  box-shadow: none;
  left:6px;
  background-color: #e6e6e6;
}

.toggle input:checked+.track {
  border-color: #88d9dd;
  background-color: #88d9dd;
}
.toggle input:checked+.track .handle {
  border:none;
}
input::-webkit-inner-spin-button ,input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}



