.nutritionEffect{

}
.nutritionEffect .titleLine{
  margin:30px auto 25px;
  color:#666;
  font-size: 13px;
}
.nutritionEffect .effect{
  margin:12.5px;
  background-color: #fff;
  border-radius: 15px;
  padding:22.5px 17.5px;
  box-shadow: 0 1px 3px #ccc;
}
.nutritionEffect .effect h3{
  font-weight: normal;
  font-size: 18px;
  color:#333;
  margin-bottom: 0;
  text-align: center;
}
.nutritionEffect .effect dd{
  color:#999;
  font-size: 13px;
  line-height: 20px;
}