.cooperationHospitalPrice{
  background-color: #fff;
}
.cooperationHospitalPrice .title{
  background-color: #88d9dd;
  color:#fff;
  font-size:18px;
  text-align: center;
  height:50px;
  line-height:50px;

}
.cooperationHospitalPrice .main{
  margin:25px 10px 80px;
}
.cooperationHospitalPrice .main dt{
  font-weight: normal;
  font-size:15px;
  color:#88d9dd;
  margin-bottom: 10px;
  padding-left:15px;
}
.cooperationHospitalPrice .main dt .line{
  display: inline-block;
  width:3px;
  height:15px;
  background-color: #fe717b;
  margin-right: 15px;
  margin-top:3px;
  vertical-align: top;
}
.cooperationHospitalPrice .main dd{
  border-radius: 15px;
  padding:12.5px 15px;
  background-color: #f9f9f9;
  font-size:13px;
  color:#666;
  margin-bottom: 25px;
}
.cooperationHospitalPrice .main dd p{
  line-height: 20px;
  padding-left:18px;
  position: relative;
}
.cooperationHospitalPrice .main dd .num{
  position: absolute;
  top:0;
  left:0;
}