
/*医院名称*/
.cooperationHospital{
  background-color: #fff;
}
.cooperationHospital .slider-slide img{
  display: block;
}
.cooperationHospital .slider-pager{
  bottom: 10px;
}
.cooperationHospital .slider-pager .slider-pager-page.active {
  opacity: 1;
}
.cooperationHospital .slider-pager .slider-pager-page {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
}
.cooperationHospital .hospital-name{
  width:100%;
  background-color: #88d9dd;
  color:#fff;
  text-align: center;
  padding:17.5px 0;
  font-size:17px;
  margin-top:-1px;
  box-shadow: 0 1px 3px #999;
}
.cooperationHospital .main{
  padding:0 ;
}
.cooperationHospital .main .limit-price{
  font-size:13px;
  color:#88d9dd;
  padding-left:25px;
}
.cooperationHospital  .limit-price .look-detail{
  display: block;
  width:130px;
  height:30px;
  line-height:30px;
  margin:15px auto 0;
  text-align: center;
  padding-left:12px;
  border:1px solid #88d9dd;
  color:#88d9dd;
  border-radius: 20px;
}
.cooperationHospital  .limit-price .look-detail img{
  vertical-align: middle;
  margin-top:-3px;
}
.cooperationHospital .main dl{
  padding:22.5px 25px;
  border-bottom: 1px solid #88d9dd;
  margin-bottom: 0;
}
.cooperationHospital .main dl:last-of-type{
  border-bottom: none;
}
.cooperationHospital .main dt{
  font-weight: normal;
  font-size:15px;
  color:#333;
  margin-bottom: 17.5px;
  text-align: center;
}
.cooperationHospital .main dl dd:last-of-type{
  margin-bottom:0;
}
.cooperationHospital .main dd{
  color:#666;
  font-size:13px;
  position: relative;
  margin-bottom:15px;
}
.cooperationHospital .main dd span{
  color:#333;
}
.cooperationHospital .dd1{
  padding-left:98px;
}
.cooperationHospital dd.dd1 span{
  position: absolute;
  left:0;
  top:0;
}
.cooperationHospital .dd1 span img{
  vertical-align: middle;
  margin-top:-2px;
  margin-right:10px;
}
.cooperationHospital .main .dd2{
  height:72px;
  overflow: hidden;
}
.cooperationHospital .main .dd2.detail{
  height:auto;
}
.cooperationHospital .dd2 p{
  text-indent: 2em;
  color:#666;
  font-size:13px;
}
/*.cooperationHospital .dd2{
  height:72px;
  overflow: hidden;
}
.cooperationHospital .dd2.detail{
  height:auto;
}*/
.cooperationHospital dl .more,.cooperationHospital dl .project{
  text-align: center;
  margin-top:10px;
}
.cooperationHospital dl .more span,.cooperationHospital dl .project span{
  display: inline-block;
  width:100px;
  height:25px;
  line-height:25px;
  text-align: center;
  border-radius: 25px;
  color:#88d9dd;
  border:1px solid #88d9dd;
  font-size:11px!important;
}
.cooperationHospital dl .more img,.cooperationHospital dl .project img{
  vertical-align: middle;
  margin-top:-2px;
}
.cooperationHospital table{
  width:100%;
}
.cooperationHospital table,.cooperationHospital tr,.cooperationHospital td{
  border:0;
}
.cooperationHospital tr td{
  padding-bottom:17.5px;
  font-size: 13px;
  color:#333;
  position: relative;
}
.cooperationHospital tr.head1 td{
  font-size: 14px;
  padding-bottom:23px;
}
.cooperationHospital tr td div{
  width:80px;
}
.cooperationHospital tr td .more1{
  font-size: 12px;
  color:#999;
  text-align: center;
}
.cooperationHospital tr td .special{
  position: absolute;
  top:17px;
  color:#fe717b;
}
.cooperationHospital tr td:first-of-type{
 width:50%;
}
.cooperationHospital tr td:nth-of-type(2){
  width:25%;
}
.cooperationHospital tr td:nth-of-type(3){
  width:25%;
}
.cooperationHospital .doctor-list{
  position: relative;
  margin-bottom: 50px;
}
.cooperationHospital .doctor-list .headline{
  background-color: #88d9dd;
  height:44px;
  line-height:34px;
  text-align: center;
  color:#fff;
  font-size:16px;
  position: relative;
  box-shadow: 0 1px 3px #999;
}
.cooperationHospital .doctor-list .headline .line{
  display: inline-block;
  width:70%;
  height:1px;
  background-color: #fff;
  margin-top:-1px;
}
.cooperationHospital .doctor-list .headline a{
  height:44px;
  line-height:44px;
  position: absolute;
  left:50%;
  top:0;
  background-color: #88d9dd;
  width:126px;
  text-align: center;
  margin-left:-63px;
  color:#fff;
}
.cooperationHospital .doctor-list ul{
  margin:0 15px;
}
.cooperationHospital .doctor-list  li{
  position: relative;
  border-bottom: 1px solid #88d9dd;
  padding-bottom: 30px;
}
.cooperationHospital .doctor-list  li .time{
  position: absolute;
  right:0;
  border-bottom: 15px;
  color:#fe717b;
  font-size:12px;
}
.cooperationHospital .doctor-list  li img{
  min-width:60px;
  min-height:60px;
  left:0;
  top:0;
}
.cooperationHospital .doctor-list  li h2{
  font-size:13px;
  color:#333;
  font-weight: normal;
  margin-bottom: 5px;

}
.cooperationHospital .doctor-list  li h2 span{
  color:#666;
  font-size:12px;
}
.cooperationHospital .doctor-list  li p{
  color:#666;
  font-size:12px;
  margin-bottom: 5px;
}
.cooperationHospital .doctor-list  .more-doctor{
  margin:17.5px 0;
  position: absolute;
  right:12px;
  font-size:12px;
  color:#88d9dd;
}
.cooperationHospital .doctor-list  .more-doctor img{
  vertical-align: middle;
  margin-top:-2px;
}