/*doctorGroupList*/

.doctorGroupList{
  background-color: #f9f9f9;
}
.doctorGroupList .doctorGroup{
  position:relative;
  background-color: #fff;
  height:auto;
  padding:10px 10px 2px;
}
.doctorGroupList .doctorGroup img{
  width:73px;
  height:73px;
  margin:10px 20px 5px 10px;
}
.doctorGroupList .doctorGroup h2{
  font-size:15px;
  color:#333;
  white-space: normal;
  margin: 0;
  padding-top:10px;
}.doctorGroupList .doctorGroup p{
  margin-bottom:0;
 }
.doctorGroupList .doctorGroup p.text{
  font-size:12px;
  color:#666;
  height:auto;
  margin:15px 0 0 10px ;
  white-space: normal;
  word-break: break-all;
  line-height: 16px;
}
.doctorGroupList .doctorGroup p.less{
  height:80px;
  overflow: hidden;
  word-break: break-all;
}
.doctorGroupList .doctorGroup .open-img{
  text-align: center;
}
.doctorGroupList .doctorGroup .open-img img{
  margin:12.5px 0;
  width:10px;
  height:6px!important;
}
.doctorGroupList .circle{
  display: inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  border-radius: 50%;
  text-align: center;
  font-size:12px;
  border:1px solid #fff;
  margin-right: 5px;
}

.doctorGroupList .skilled{
  background-color: #fff;
  border-top:1px dashed  #ccc;
  padding:17.5px 10px  9.5px 20px;
  position: relative;
  border-bottom: 1px solid #ddd;

}
.doctorGroupList .skilled span{
  display: inline-block;
  position: absolute;
  left:20px;
  top:17.5px;
  font-size:13px;
  color:#666;
}
.doctorGroupList .skilled div{
  margin-left:40px;
}
.doctorGroupList .skilled a{
  display: inline-block;
  color:#b3df6f;
  border:1px solid #b3df6f;
  text-align:center;
  font-size:12px;
  margin-left: 2%;
  border-radius: 5px;
  margin-bottom: 8px;
  padding:0 8px;
}
.doctorGroupList .skilled a:nth-of-type(3),.doctorGroupList .skilled a:last-of-type{
  margin-right:0;
}

.doctorGroupList .team-member{
  text-align: center;
  color:#333;
  font-size:16px;
  position: relative;
  padding:17.5px 0 15px;
}
.doctorGroupList .team-member span{
  position: absolute;
  top:27.5px;
  width:20%;
  height:1px;
  background-color: #999;
}
.doctorGroupList .team-member span:first-of-type{
  left:10%;
}
.doctorGroupList .team-member span:last-of-type{
  right:10%;
}
.doctorGroupList .list{
  margin:0;
}
.doctorGroupList .member-list .item{
  padding:0 0 10px 0;

}
.doctorGroupList .doctorInfo h2{
  margin-top:0;
}
.doctorGroupList .member-list .item h2{
  margin-top:12px;
  padding-right:10px;
}
.doctorGroupList .member-list .item h2 a{
  color:#fe717b;
  font-size: 12px;
  padding:0 3px;
}

