.memberService{
  background-color: #fff;
}
.memberService .myTop{
  padding:15px 0;
  color:#fff;
  background-color: #88d9dd;
  text-align: center;
  position: relative;
}
.memberService .myTop div{
  font-size:15px;
}
.memberService .myTop p{
  font-size:13px;
  margin-bottom: 0;
}
.memberService .myTop .cir{
  width:29px;
  height:29px;
  border-radius: 50%;
  background-color: #88d9dd;
  position: absolute;
  left:26px;
  bottom:-14.5px;
}
.memberService dl{
  padding-top:40px;
  margin-bottom: 60px;
  margin-left:40.5px;
  border-left:1px solid #88d9dd;
  padding-left:15px;
}
.memberService dl dt{
  font-weight: normal;
  font-size:13px;
  margin-bottom: 20px;
  color:#666;

}
.memberService dl dd{
  font-size:12px;
  margin-bottom: 20px;
  color:#999;
  position: relative;
  padding-left:12.5px;
}
.memberService dl .cir{
  position: absolute;
  left:0;
  top:5px;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #88d9dd;
  margin-right:8px;
}
.memberService dl .free-hospital{
  background-color: #f9f9f9;
  border-radius: 15px;
  padding:15px 9px;
  margin-right:15px;
}
.memberService dl .free-hospital h3{
  font-weight: normal;
  color:#88d9dd;
  font-size:12px;
  margin-bottom: 15px;
}
.memberService dl .free-hospital p{
  color:#666;
  font-size:12px;
  margin-bottom: 15px;
}
.memberService dl .free-hospital p img{
  vertical-align: middle;
  margin-top:-2px;
}
.memberService dl .free-hospital p:last-of-type{
  margin-bottom:0;
}
.memberService .look-memberService{
  margin-right:5%;
  color:#88d9dd;
  font-size:12px;
  float: right;
  text-align: right;
  padding-bottom:1px;
  border-bottom: 1px solid #88d9dd;
  margin-bottom: 25px;
}
.memberService .three-member {
  margin-left:40.5px;
  margin-bottom: 10px;
}
.memberService .three-member p{
  color:#fe717b;;
  font-size:12px;
  position: relative;
  padding-left:34px;
}
.memberService .three-member span{
  position: absolute;
  left:0;
  top:0;

}
.memberService .remind{
  color:#ccc;
  font-size:12px;
  margin:0 5% 5px 40.5px;
}
.memberService .remind.remind2{
  position: relative;
  padding-left:24px;
}
.memberService .remind.remind2 span{
  position: absolute;
  top:0;
  left:0;
}
.memberService .foot-btn{
  margin:25px 5% 17.5px;
}