.memberDeal{
  background-color: #fff;
}
.memberDeal .title{
  background-color: #88d9dd;
  color:#fff;
  font-size: 18px;
  text-align: center;
  height:50px;
  line-height:50px;
}
.memberDeal  .text{
  margin:17.5px 15px 30px;
}
.memberDeal  .text dt{
  font-weight: normal;
  color:#333;
  font-size: 15px;
  margin-bottom: 15px;
}
.memberDeal  .text dt span{
  display: inline-block;
  width:4px;
  height:14px;
  background-color: #88d9dd;
  margin-right:10px;
  vertical-align: middle;
  margin-top:-4px;
}
.memberDeal  .text dd{
  margin-bottom: 17.5px;
}
.memberDeal  .text  dd p{
  color:#666;
  font-size:13px;
  line-height: 20px;
  margin-bottom: 5px;
}