.payProblem{
  background-color: #fff;
}
.payProblem .noPayReason{
  margin:0 15px;
  font-size:12px;
}
.payProblem .noPayReason .p1{
  color:#fe717b;
  margin:10px 0;
  text-align: center;
}
.payProblem .noPayReason h4{
  color:#88d9dd;
  font-size: 14px;
  text-align: center;
}
.payProblem .list{
  margin:20px 0;
}
.payProblem .list li{
  padding:0;
  color:#666;
  font-size:13px;
}
.payProblem .list label.item{
  padding-top:12px;
  font-size:14px;
  color:#666;
}
.payProblem .list textarea{
  border:1px dashed #ddd;
  border-radius: 5px;
  width:80%;
  height:80px;
  margin:1px 10px 10px 46px;
  resize: none;
  font-size: 12px;
  color:#999;
  padding:8px;
}
.item-checkbox .checkbox {
  top: 47%;

}
.checkbox input:before, .checkbox-icon:before {
  border-radius:100px!important;

}
.item-checkbox {
  padding-left: 46px;
}
.checkbox input, .checkbox-icon {
  width: 26px;
  height:26px;
  border-radius: 50%;
}
.checkbox input:checked+.checkbox-icon:before,  .checkbox input:checked:before {
  background: #88d9dd;
  border-color: #88d9dd;
}
.checkbox input:after, .checkbox-icon:after {
  top: 28%;
  left: 25%;
  width: 10px!important;
  height: 5px;
}
.payProblem .p2{
  text-align: center;
  font-size: 12px;
  color:#ccc;
}
.payProblem .foot-btn{
  margin-top:0px;
}