.route .item{
  /*padding:8*@unit;*/
  white-space: normal!important;
  text-overflow:clip;
  background-color: #fff;

}
.route{
  background-color: #fff;
}
.list{
  border-bottom: 1px solid #ddd;
}
.route .item a{
  /*padding:8*@unit;*/
  white-space: normal!important;
}
.route .item h2{
  white-space: normal;
  font-size:16px;
  color:#212423;
  line-height:40px;
}

.route .item p{
  white-space: normal;
  font-size:14px;
  color:#212423;
  line-height:25px;
}
dl.item{
  position:relative;
  margin:0 10px;
  border-bottom: 1px dashed #ddd;
  padding-left:58px;
}
dl.item:last-child{
  border:none;
}
dl img{
  position:absolute;
  top:16px;
  left:20px;
  vertical-align: middle;
}
dl dt{
  font-size:18px;
  color:#333;
  font-weight:500;
}
dl dd{
  font-size:13px;
  color:#999;
}