.scroll{
  height:100%;
}
.seeDoctorProcess{
  background-color: #fff;
}
.seeDoctorProcess .box1{
  padding:30px 0;
  margin:0 15px 0 25px;
  border-left:1px solid #88d9dd;
  height:100%;
}
.seeDoctorProcess .box1 ul{
  height:100%;
}
.seeDoctorProcess .box1 li{
  color:#666;
  padding-left:25px;
  line-height: 20px;
  margin-bottom: 30px;
  position: relative;
}
.seeDoctorProcess .box1 li span{
  position: absolute;
  display: inline-block;
  width:20px;
  height:20px;
  line-height:20px;
  text-align: center;
  background-color: #88d9dd;
  color:#fff;
  border-radius: 50%;
  left:-10px;
  top:2px;
}