<ion-view view-title=""  >
    <ion-content class="babyCoinTicketList bg1"  style="top:0;" >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="ticket-list ">
                <ul class="">
                    <li ng-repeat="item in [1,2,3,4]" ng-click="goExchange()">
                        <img width="100%" height="auto" ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/babyCoin/demo1.png" />
                     </li>
                </ul>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>