<ion-view ng-init="invitePageInit()">
    <ion-content>
        <!--<div class="invitePageBox">
            <img class="invitePageTop" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageTop.png" alt="">
            <img id="invitePageContent" class="invitePageContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageContent.png" alt="">
            <img class="invitePageBottom" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinvitePageBottom.png" alt="">
        </div>
        <div id="invitePageShade" class="invitePageShade">
            <img class="invitePageShareContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShare.png" alt=""/>
            <img class="invitePageShareMark" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
        </div>-->
        <!--<div class="invitePageBox">
            <img width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fbiaoti_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fuser_a_png_02.png" alt=""/>
            <img class="fr" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fdoc_a_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fuser_b_png_02.png" alt=""/>
            <img class="fr" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fdoc_b_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fuser_c_png_02.png" alt=""/>
            <img id="invitePageContent" width="50%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fbutton_png_03.png" alt=""/>
            <img width="80%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fwenzi_png_03.png" alt=""/>
        </div>
        <div id="invitePageShade" class="invitePageShade">
            <img class="invitePageShareContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShare.png" alt=""/>
            <img class="invitePageShareMark" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
        </div>-->
        <div class="invitePageBox">
            <img width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fbiaoti_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fone_png_02.png" alt=""/>
            <img class="fr" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Ffive_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Ftwo_png_02.png" alt=""/>
            <img class="fr" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fsix_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fthree_png_02.png" alt=""/>
            <img class="fr" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fseven_png_03.png" alt=""/>
            <img class="fl" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Ffour_png_02.png" alt=""/>
            <img id="invitePageContent" width="90%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fbutton1_png_03.png" alt=""/>
            <div class="store-btn">
                <div ng-click="goCoupon()" class="coupon">兑换优惠券</div>
                <div ng-click="goStore()" class="store">前往商城</div>
            </div>
            <img width="80%" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fwenzi_png_03.png" alt=""/>
        </div>
        <div id="invitePageShade" class="invitePageShade">
            <img class="invitePageShareContent" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShare.png" alt=""/>
            <img class="invitePageShareMark" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
        </div>
    </ion-content>
</ion-view>