<ion-view view-title=""  >
    <ion-content class="babyCoinTicketList bg1"  style="top:0;" >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="ticket-list ">
                <ul class="">
                    <li ng-repeat="item in couponList" ng-click="goExchange(item.id)">
                        <img class="fl ticket" width="69%" height="auto" ng-src="http://xiaoerke-article-pic.oss-cn-beijing.aliyuncs.com/sendMindCoupon{{item.id}}" />
                        <img class="pic2" width="31%" height="auto" ng-src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/babyCoin/exchange.png" />

                     </li>
                </ul>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>