<ion-view ng-init="">
    <ion-content class="bgc">
        <div class="inviteOldBox clearfix">
            <img class="inviteTop" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinviteTop.png" alt="">
            <img class="inviteContent" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Flao_png_03.png" alt="">
            <img class="inviteChild" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinviteChild.png" alt="">
            <a href="patient/consult#/patientConsultInvitePage"><img class="inviteBtn" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite%2FinviteBtn.png" alt=""></a>
        </div>
    </ion-content>
</ion-view>