<ion-view ng-init="inviteNewInit()">
    <ion-content class="babyCoinInviteNew">
        <div class="inviteNewBox">
            <img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fyaoqingka_png_02.png" alt="">
            <div class="inviteNewName">{{headImgNickName}}</div>
            <div ng-style="headImgUrl" class="inviteNewPortrait"></div>
            <div class="inviteNewCode">
                <img ng-src="{{userQRCode}}" alt="" data-tap-disabled="true"/>
            </div>
        </div>
    </ion-content>
</ion-view>