
.patientConsultPayFeeByThird .box-input{
    position: fixed;
    bottom:0;
    padding-bottom: 15px;
    width: 98%;
    left: 1%;
    margin: 0 auto;
    background-color: #FFFFFF;
    z-index: 5;
}
.patientConsultPayFeeByThird .box-input .wjy_input{
    border:1px solid #ddd;
    padding: 14px 0 15px 0;
    border-radius: 5px;

}

.patientConsultPayFeeByThird .remind{
    color:#666;
    line-height: 20px;
}
.patientConsultPayFeeByThird .remind1{
    padding:5px 15px;
    font-size:13px;
}
.patientConsultPayFeeByThird .remind2 .message {
    font-size:13px;
}
.patientConsultPayFeeByThird .remind2 a{
    color:#fe717b;
}
.imgBar{
    position: absolute;
    z-index:8;
    width:100%;
    height:100%;
    text-align: center;
    background-color: #000;
}
.imgBar img{

}
.wjy_fuceng{
    width:100%;
    margin-top:15px;
    text-align: center;

}