
.h100 {
    height: 100%;
}
img {
    width: 25px;
    height: 25px;
    display: inline-block;
}
.consultInput textarea {
    overflow: auto;
    word-break: break-all;
    width: 200px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    border: none;
    vertical-align: top;
    resize: none;
    border-style: none;
    margin: 0 5px;
    display:inline-block;
}
.container-fluid {
    width: 100%;
}

.consultTitle {
    height: 44px;
    font: 16px/44px 'Microsoft Yahei';
    color: #fff;
    width: 100%;
    background-color: #1FC3C5;
    text-align: center;
    position: absolute;
    z-index: 999;
}

.consultTitle span {
    display: inline-block;
    float: left;
    padding: 9px 10px;
    line-height: 24px;
}
.consultTitle span:nth-child(2) {
    float: right;
}

.consultDisplay {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

.consultDisplay::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.consulChatList {
    overflow-y: scroll;
    height: 100%;
    padding: 44px 0 50px 0;
}

.consulChatList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

[scroll-glue-bottom] {
    overflow-y: scroll;
}
/*会话内容*/
.doctorReplyContent, .patientConsultContent {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 10px;
}

.doctorHeaderImg {
    margin-left: 10px;
}

.patientHeaderImg {
    margin-right: 10px;
}

.doctorReplyContent div {
    float: left;
}

.patientConsultContent div {
    float: right;
}

.doctorReplyContent div:nth-child(2) {
    background-color: #fff;
}

.patientConsultContent div:nth-child(2) {
    background-color: #1fc3c5;
    color: #fff;
}

.consulChatList .message {
    border-radius: 2px;
    padding: 7px 5px;
    font: 12px/12px 'Microsoft Yahei';
    position: relative;
    margin: 0 10px;
    max-width: 80%;
}

/**小三角**/
.patientConsultContent .message::after {
    content: '';
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #1FC3C5;
    position: absolute;
    top: 8px;
    right: -8px;
}

.doctorReplyContent .message::after {
    content: '';
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-right-color: #fff;
    position: absolute;
    top: 8px;
    left: -8px;
}

/*底部*/

.consultInput {
    line-height: 25px;
    padding: 10px 0;
    background-color: #fff;
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}
.consultInput input {
    font: 13px/25px 'Microsoft Yahei';
    color: #fff;
    background-color: #1FC3C5;
    border: none;
    padding: 0 8px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}
/*fileInputList文件*/
.fileInputList {
    position: absolute;
    width: 100%;
    bottom: 47px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}
.fileInputList img {
    width: 20%;
    height: 20%;
    margin-left: 10px;
}
/**qq表情**/
.comment {
    width: 680px;
    margin: 20px auto;
    position: relative;
    background: #fff;
    padding: 20px 50px 50px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.comment h3 {
    height: 28px;
    line-height: 28px
}

.com_form {
    width: 100%;
    position: relative
}

.input {
    width: 99%;
    height: 60px;
    border: 1px solid #ccc
}

.com_form p {
    height: 28px;
    line-height: 28px;
    position: relative;
    margin-top: 10px;
}

.qqFace {
    margin-top: 4px;
    background: #fff;
    padding: 2px;
    border: 1px #dfe6f6 solid;
}

.qqFace table td {
    padding: 0;
}

.qqFace table td img {
    cursor: pointer;
    border: 1px #fff solid;
}

.qqFace table td img:hover {
    border: 1px #0066cc solid;
}
