body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px/12px 'Microsoft Yahei';background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
a:focus,input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
.container-fluid{
    background-color: #fff;
    width: 375px;
    height: 680px;
}
img {
    width: 25px;
    height: 25px;
}
.consultTitle{
    height: 44px;
    font: 16px/44px 'Microsoft Yahei';
    color:#fff;
    width: 100%;
    background-color: #1FC3C5;
    text-align: center;
}
.consultTitle span {
     display: inline-block;
     float: left;
     padding: 10px 10px;
     line-height: 24px;
 }
.consultTitle span:nth-child(2){
    float: right;
}
.consultDisplay {
     height: 500px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
 }
.consultInputTop{
    height: 50px;
}
.consultInputTop div{
    float: left;
    padding: 8px 10px;
    line-height: 25px;
}
.consultInputTop .textInput img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    float: right;
}
.consultInputTop .textInput{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 8px 0;
    width: 263px;
}
.consultInputTop .sendConsultContent {
    float: right;
    margin-top: -43px;
}
.consultInputTop .sendConsultContent button{
    font: 13px/25px 'Microsoft Yahei';
    color:#fff;
    background-color: #1FC3C5;
    border: none;
    padding: 1px 8px;
    border-radius: 0 5px 5px 0;
}
.fileInputList img{
    width: 60px;
    height: 60px;
    margin: 0 30px;
}
/*
.consultDisplay{
    border:1px solid #000;
    height:85%;
    width:95%;
    position:absolute;
    overflow-y:scroll;
    overflow-x:hidden;
}

.sendLeft {
    position:relative;
    width:232px;
    background:#03A9F4;
    border-radius:5px; /!* 圆角 *!/
    margin-top: -20%;
    margin-left: 20%;
}

.sendLeft .consultLeftContent {
    position:relative;
    width:220px;
    word-wrap:break-word;
    word-break:break-all;
    display:block;
    height:auto;
    background:#03A9F4;
    border-radius:5px; /!* 圆角 *!/
    margin:30px auto 0;
}

.sendLeft .arrowLeft {
    position: absolute;
    top: 5px;
    left: -16px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: transparent #03A9F4 transparent transparent;
}

.sendRight {
    position:relative;
    width:230px;
    height:auto;
    background:#03A9F4;
    border-radius:5px; /!* 圆角 *!/
    margin:30px auto 0;
}

.sendRight .consultRightContent {
    position:relative;
    width:220px;
    word-wrap:break-word;
    word-break:break-all;
    display:block;
    height:auto;
    background:#03A9F4;
    border-radius:5px; /!* 圆角 *!/
    margin:30px auto 0;
}

.sendRight .arrowRight {
    position: absolute;
    top: 5px;
    right: -15px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: transparent transparent transparent #03A9F4;
}

.fileInputList{
    margin-top:3%;
    height:65px;
    border:1px solid #000;
    position:relative
}*/

[scroll-glue-bottom],
{
    height:85%;
    overflow-y: scroll;
    border: 1px solid gray;
}
