body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px/12px 'Microsoft Yahei';background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.h100{height: 100%;}
a:focus,input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only;}
.container-fluid{
    background-color: #fff;
    width: 100%;
}
.consultTitle{
    height: 44px;
    font: 16px/44px 'Microsoft Yahei';
    color:#fff;
    width: 100%;
    background-color: #1FC3C5;
    text-align: center;
    position: fixed;
    z-index:999;
}
.consultTitle span {
    display: inline-block;
    float: left;
    padding: 9px 10px;
    line-height: 24px;
}
.consultTitle span img{
    width: 25px;
    height: 25px;
}
.consultTitle span:nth-child(2){
    float: right;
}
.consultDisplay {
    padding: 0 0 106px 0;
    background-color: #f9f9f9;
}
.consultDisplay::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.consultInput {
    height: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}
.consultInput img {
    width: 25px;
    height: 25px;
}
.consultInput div{
    float: left;
    padding: 8px 10px;
    line-height: 25px;
    border-radius: 5px;
}
.consultInput .textInput img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    float: right;
}
.consultInput .textInput{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    width: 70%;
    margin: 5px 0px 5px 5px;
}
/*.consultInput input{*/
    /*font: 13px/25px 'Microsoft Yahei';*/
    /*width: 20%;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*color:#fff;*/
    /*background-color: #1FC3C5;*/
    /*border: none;*/
    /*padding: 1px 8px;*/
    /*border-radius: 5px;*/
    /*margin: 5px 5px 5px 0;*/
/*}*/
input {
    overflow:auto;
    word-break:break-all;
    width: 90%;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    border: none;
    vertical-align: top;
    resize: none;
}
/*会话内容*/
.doctorReplyContent,.patientConsultContent{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 35px;
}
.doctorHeaderImg {
    margin-left: 10px;
}
.patientHeaderImg {
    margin-right: 10px;
}
.doctorReplyContent div{
    float: left;
}
.patientConsultContent  div{
    float: right;
}
.message{
    border-radius: 2px;
    padding: 7px 5px;
    /*font: 12px/12px 'Microsoft Yahei';*/
    font-size: 17px;
    position: relative;
    margin: 5px 10px;
    /*max-width: 75%;*/
    word-wrap:break-word;
    word-break:break-all;
}
.doctorReplyContent .wjy_doctor{
    position: relative;
    margin-left: 10px;
    max-width: 80%;
}
.doctorReplyContent .wjy_doctor div{
    background-color: #fff;
    color:#666666;
    border: 1px solid #cccccc;
    line-height: 20px;
}
.doctorReplyContent .wjy_doctor .wjy_docsanjiao{
    position: absolute;
    left: 0;
    z-index: 4;
    top: 13px;
}
.patientConsultContent .wjy_patient{
    position: relative;
    margin-right: 10px;
    max-width: 80%;
}
.patientConsultContent .wjy_patient div{
    background-color: #b7e9e9;
    color:#666666;
    border: 1px solid #16caca;
    line-height: 20px;
}
.patientConsultContent .wjy_patient .wjy_patsanjiao{
    position: absolute;
    right: 0;
    z-index: 4;
    top: 13px;
}
/*小三角*/
/*.patientConsultContent .message::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #b7e9e9;
    position: absolute;
    top: 13px;
    right: -8px;
}*/
/*.doctorReplyContent .message::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #fff;
    position: absolute;
    top: 13px;
    left: -8px;
}*/
/*qq表情*/
.comment{
    width:680px;
    margin:20px auto;
    position:relative;
    background:#fff;
    padding:20px 50px 50px;
    border:1px solid #DDD;
    border-radius:5px;
}
.comment h3{
    height:28px;
    line-height:28px
}
.com_form{
    width:100%;
    position:relative
}
.input{
    width:99%;
    height:60px;
    border:1px solid #ccc
}
.com_form p{
    height:28px;
    line-height:28px;
    position:relative;
    margin-top:10px;
}
.qqFace{
    margin-top:4px;
    background:#fff;
    padding:2px;
    border:1px #dfe6f6 solid;
}
.qqFace table td{
    padding:0;
}
.qqFace table td img{
    cursor:pointer;
    border:1px #fff solid;
}
.qqFace table td img:hover{
    border:1px #0066cc solid;
}
.consulChatList {
    overflow-y: scroll;
}
.consulChatList::-webkit-scrollbar {
    width: 0;
    height: 0;
}
[scroll-glue-bottom]{
    overflow-y: scroll;
}
.wjy_com{
    max-width: 80%;
}
.wjy_input{
    position: fixed;
    bottom:1px;
    width: 95%;
    left: 2%;
    margin: 0 auto;
    padding: 14px 0 15px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 5;
}
.wjy_input input{
    width: 97%;
    padding-left: 8px;
    margin-left: 8px;
    font-size: 17px;
}
.wjy_input .wjy_icon{
    margin: 15px 15px 0 15px;
}
.wjy_input .wjy_icon .wjy_icon_1{
    margin-right: 28px;
}
.wjy_input .wjy_icon .wjy_set{
    float: right;
}
.wjy_input .wjy_icon .qqFace table td img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    float: right;
}
.wjy_lookmore{
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
    color: #08b7c2;
}
.patientConsultPayFeeByThird .remind{
    color:#666;
    line-height: 20px;
}
.patientConsultPayFeeByThird .remind1{
    padding:5px 15px;
    font-size:13px;
}
.patientConsultPayFeeByThird .remind2 .message {
    font-size:13px;
}
.patientConsultPayFeeByThird .remind2 a{
    color:#fe717b;
}
.imgBar{
    position: absolute;
    z-index:8;
    width:100%;
    height:100%;
    text-align: center;
    background-color: #000;
}
.imgBar img{

}
.wjy_fuceng{
    width:100%;
    margin-top:15px;
    text-align: center;

}