* {
    margin: 0;
    padding: 0;
}
.tac {
    text-align: center !important;
}
.fl {
    float: left !important;
    margin-top: 33px;
}
.fr {
    float: right !important;
    margin-top: 30px;
}
.invitePageBox {
    text-align: center;
    padding: 30px 0;
    background: #fff url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fbg_png%20(1)%20(1).png") 0 0 no-repeat;
    background-size: 100% 100%;
}
#invitePageContent {
    margin-bottom: 40px;
}
.invitePageBox img:nth-child(last){
    margin-bottom: 20px;
}
.invitePageShade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    display: none;
}

.invitePageShade .invitePageShareContent {
    width: 80%;
    position: absolute;
    right: 10%;
    top: 100px;
}

.invitePageShade .invitePageShareMark {
    width: 15%;
    position: absolute;
    right: 25px;
    top: 10px;
}