
.patientConsultMontageUnique .box-input{
    position: fixed;
    bottom:0;
    padding-bottom: 15px;
    width: 98%;
    left: 1%;
    margin: 0 auto;
    background-color: #FFFFFF;
    z-index: 5;
}
.patientConsultMontageUnique .box-input .wjy_input{
    border:1px solid #ddd;
    padding: 14px 0 15px 0;
    border-radius: 5px;

}
.imgBar{
    position: absolute;
    z-index:8;
    width:100%;
    height:100%;
    text-align: center;
    background-color: #000;
}

