<ion-view view-title="医生登录"   ng-init="NonTimeDoctorLoginInit()">
    <div class="NonTimeDoctorLogin">
        <div class="fillInfo-wrap">
            <div class="fillInfo">
                <label class="phone bg1" for="username" >
                    <span class="icon"><img class="" width="16.5" height="24.5" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult/doctor/icon_phone.png"></span>
                    <input  class="tc f6 c5"  type="tel"  id="username" placeholder="请输入您的手机号码" ng-model="info.phoneNum"  maxlength="11" />

                   <!-- <input  class="tc f6 c5"  id="username" placeholder="请输入您的手机号码"  ng-model="info.phoneNum" ng-maxlength="11" maxlength="11">-->
                </label>
                <label class="code bg1" for="password" >
                    <span class="icon"><img class="" width="18" height="23.5" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult/doctor/icon_lock.png"></span>
                    <input  class="tc f6 c5 " type="tel" id="password" placeholder="请输入验证码"  maxlength="6" ng-model="info.password"  >
                </label>
                <button  ng-disabled="( info.phoneNum.length<11 || info.phoneNum==null)" class="getCode f6 c0 tc" id="validateCode" ng-click="getValidateCode()">获取验证码</button>
            </div>
            <div ng-if="errorLock" class="error-remind  tc c2 f2" >{{errorRemindText}}</div>
            <button  class="button foot-btn" ng-click = "doctorBindingAction()"  ng-disabled="(info.phoneNum.length<11||info.phoneNum==null)||(info.password.length<4 || info.password==null)" >确认开通</button>
        </div>
        <div class="tips tc">
            <div class="line fl bg1"></div>
            <div class="line fr bg1"></div>
            <div class="hd f6 c0">温馨提示</div>
            <p class="f4 c0">开通成功之后，尽量在四小时内回复</p>
        </div>
    </div>
    <!--非宝大夫系统医生提示-->
    <div ng-if="doctorLock" class="c-shadow"></div>
    <div ng-if="doctorLock" class="shadow-remind bg1 tc">
        <h3 class="f5 c3">温馨提示</h3>
        <p class="f4 c4">
            您目前还不是本平台的医生，开通请联系客服！
        </p>
        <div >
            <a class="f2 c1" href="tel:4006237120">客服电话：400-623-7120</a>
        </div>
        <button ng-click="close()" class="c0 f4">关闭</button>
    </div>
</ion-view>

