<ion-spinner ng-show="pageLoading" style="color:#139fff;position: relative;top: 301px;left:148px;z-index:999;"></ion-spinner>
<ion-view view-title={{title}} >
    <div class="doc_home" ng-click="close()">
        <div class="doc" >
            <div class="doc_ser">
                <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fhome_manyi.png" width="45px" height="45px"/>
                <div class="doc_com_1">服务态度</div>
                <div class="doc_com_2">{{doctorScore.avgStar}}</div>
            </div>
            <div class="doc_img">
                <img ng-src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/{{doctorId}}" width="105px" height="105px"/>
            </div>
            <div class="doc_ma">
                <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fhome_xin.png" width="45px" height="45px" />
                <div class="doc_com_1">专业水平</div>
                <div class="doc_com_2">{{doctorScore.avgMajorStar}}</div>
            </div>
        </div>
        <div class="name">
            {{doctorName}}
            <img ng-repeat="item in starList" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fstar.png" width="12.5px" height="12.5px"/>
            <img class="partStay" ng-if="StayPart" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fstar_part.png" width="12.5px" height="12.5px" />
        </div>
        <div class="address">
            {{doctorHospitalName}}<span>{{doctorDepartmentName}}</span>
        </div>
        <div class="fans" ng-click="goFans()">
            粉丝（<span>{{fansNum}}</span>）
        </div>
    </div>
    <div class="doc_comment" ng-click="getComment()">
       {{commentTitle}}<img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fhome_comgo.png" width="7px" height="12.5px"/>
    </div>
    <div class="doc_commentList" ng-if="moreComment">
        <div ng-repeat="item in commentList" ng-click="setComment($index)">{{item}}</div>
    </div>
    <ion-content  style="top: 317px;">
        <ion-scroll class="doctorHome" direction="y" has-bouncing="true">
            <ul ng-if="haveComment" ng-click="close()">
                <li ng-repeat="item in evaluateList">
                    <div class="com_all">
                        <div class="com_num">
                            {{item.phone}}
                            <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fhome_man.png" width="15px" height="15px"/><span>{{item.star}}</span>
                            <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fhome_zan.png" width="15px" height="15px"/><span>{{item.majorStar}}</span>
                        </div>
                        <div class="com_time">
                            <div >{{ item.dateTime | date : 'hh:mm'}}</div>
                            <div >{{ item.dateTime | date : 'yyyy-MM-dd'}}</div>
                        </div>
                    </div>
                    <p>{{item.impression}}</p>
                </li>
            </ul>
            <div class="com_more" ng-if="haveComment">
                <span ng-click="getMoreEval()">{{evaluateCon}}</span>
                <img ng-if="noEval" src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Ffansmore.png" width="11" height="6"/>
            </div>
            <div class="nohave" ng-if="noComment">
                <img src="http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekno.png" width="88px" height="63px"/>
                <div>您还没有任何评价哦~</div>
            </div>
            <br/><br/><br/>
        </ion-scroll>
    </ion-content>
</ion-view>