.testV2{
  top:0;
}
.testV2 label i{
  color:#88d9dd;
}
.testV2.first{
  background-color: #fe717b;
  text-align: center;

}
.testV2.first .banner{
  position: relative;
}
.testV2.first .banner p{
  font-size:12px;
  color:#88d9dd;
  width:22px;
  position: absolute;
  left:11px;
  top:28.5%;
  line-height: 14px;
}
.testV2.first .banner p:last-child{
  left:27px;
}
.testV2.first .main{
  /*box-shadow:0 5px 15px  #ea828a inset;*/
   background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/testV2%2Ftest_v2_bg1.png") repeat-x;
  padding-top:50px;
}
.testV2.first .main p{
  padding-top:44px;
  text-align: center;
  color:#fff;
  font-size:13px;
  line-height:22px;
  position:relative;

}
.testV2.first .start{
  background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/testV2%2Ftest_bg_start.png" );
  width:254px;
  height:37px;
  background-size: 254px 37px;
  border:none;
  color:#fff;
  font-size:21px;
  margin:7px 0 40px 0;
}
.ques{
  background-color: #fff;
}
.ques .question{
  margin: 0 10px;
}
 .question .question-num{
   text-align: center;
   padding:5px;
}
.ques .q-num{
  display: inline-block;
  width:124px;
  height:40px;
  line-height:40px;
  text-align: center;
  background-color: #88d9dd;
  color:#fff;
  font-size:18px;
  border-radius:35px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ques .list,.ques .item{
  background-color: #fe717b;
  color:#fff;
  font-size:15px;
  margin-bottom: 0;
}

.ques .question-num h3{
  color:#fff;
  font-size:16px;
  white-space: normal;
  font-weight: 700;
}
.ques .item-radio{
  margin-bottom:5px;
}
.ques .item-content{
  position: relative;
  padding-left:20px;
}
.ques .item-content img{
  position: absolute;
  left:0;
  top:6.5px;
}
.testV2 .item-complex .item-content.cur{
  color:#88d9dd;
}
.testV2 .item-complex .item-content,.testV2  .item-radio .item-content {
  background-color: #fe717b;
  white-space: normal;
  padding:5px 35px 5px 26px;
}
.item-radio .radio-icon{
  padding-top:0px;
}
.ques{
  background-color: #fe717b;
}
.ques .answer{
  background-color: #fff;
  color:#88d9dd;
  font-size:17px;
  padding:20px 50px;
  position: relative;
}
.ques .answer img{
  vertical-align: middle;
  position: absolute;
}
.ques .answer .ans{
  position:absolute;
  left:20px;
  top:17px;
}
.ques .answer .next{
  position:absolute;
  right:20px;
  top:17px;
}

.testV2.end{
  background-size: 100% 224px;
  background-color: #fff;
}
.testV2 .foot-pic{
  position: absolute;
  top:500px;
  z-index:9;
}
.testV2.end .hh{
  background-color: #88d9dd;
  color:#fff;
  width:100%;
  text-align: center;
  padding:0 20px 20px;

}
.testV2.end .hh img{
  margin:20px 0;
}
.testV2.end .hh p{
  text-align: center;
  font-size:14px;
  color:#fff;
  white-space: normal;
  text-overflow: ellipsis;

}
.testV2.end .word  {
  text-align: center;
  margin-top:23px;
}
.testV2.end .word p{
  text-align: center;
  color:#999;
  font-size:12px;
}
.testV2.end .word  .baodf_code{
  margin:13px 0;
}
.testV2.end .fm-attention{
  padding-top:5px;
  width:100%;
  height:45px;
  background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/testV2%2Ftest_v2_parent_bg.png") center center no-repeat;
  background-size: 153.5px 45px;
  color:#88d9dd;
  font-size:12px;

}
.testV2.end .item{
  padding:0;
}
.testV2.end  li{
  white-space: normal;
  font-size:14px;
  color:#fe717b;
  list-style:none;
  position:relative;
  padding-left:30px;
  padding-right:20px;
  margin-bottom: 15px;
}
.testV2.end  li a{
  font-size:17px;
  color:#88d9dd;
}
.testV2.end  li img.cir{
  position:absolute;
  top:6px;
  left:15px;
}
.s-shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 9;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.next{
  position:absolute;
  z-index:10;
  width:80%;
  margin-left:10%;
  background-color: #fff;
  top:85px;
  border-radius:10px;
  ;
}
.next div{
  border-radius: 10px;
  text-align: center;
  padding-bottom:33px;
}
.next div h4{
  text-align: center;
  color:#fff;
  background-color: #88d9dd;
  height:44px;
  line-height:44px;
  border-radius: 10px 10px 0 0;
  margin:0;
  position: relative;
}
.next div h4 .back{
  position: absolute;
  right:-8px;
  top:-8px;
  margin:0;
}
.next img{
  margin:20px 0;
}
.next p{
  text-align: center;
  color: #88d9dd;
  font-size:13px;

}
.next .next-pic{
  position:absolute;
  right:20px;
  top:22px;
}
.next span{
  padding-left:50px;
}
.next .ans{
  position:absolute;
  left:20px;
  top:22px;
}
.pre-or-next{
  font-size:15px;
  margin-top:30px;
}
.pre-or-next1{
  float: left;
}
.pre-or-next2{
  float: right;
}
.pre-or-next img{
  vertical-align: middle;
  margin-top:-3px;
}