.phoneConsultDetails ul{
   background-color: #FFFFFF;
   font-size: 15px;
   color: #333;
 }
.phoneConsultDetails ul .time{
  padding: 22.5px 0px;
  margin: 0px 15px;
  text-align: center;
  border-bottom: 1px solid #f9f9f9;
}
.phoneConsultDetails ul .time span{
  font-weight: bold;
}
.phoneConsultDetails ul .time span:last-child{
  margin-left: 17px;
}
.phoneConsultDetails ul li:last-child{
  text-align: center;
  padding: 22.5px 0px;
  border-bottom: 1px solid #f9f9f9;
}
.phoneConsultDetails ul li:last-child span{
  font-weight: bold;
}
.phoneConsultDetails dl{
  margin-top: 6px;
  background-color: #FFFFFF;
  padding-bottom: 40px;
}
.phoneConsultDetails dl dd:nth-child(1){
  text-align: center;
  font-size: 13px;
  padding: 12px 0px;
  color: #acacac;
  border-bottom: 1px solid #f9f9f9;
}
.phoneConsultDetails .detelsCom{
  padding: 25px 18px 0;
  font-size: 14px;
  color: #acacac;
}
.phoneConsultDetails dl dd:nth-child(2) span,dd:nth-child(3) span{
  color: #333;
  font-weight: bold;
}
.phoneConsultDetails dl dd:nth-child(4) span{
  color: #333;
  line-height: 25px;
}