.overflow-scroll .scroll{
  height:auto;
}
.phoneConsultFirst{

}
.conDate{
  width:100%;
  height:200px;
  position: absolute;
  z-index:2;
  background-image:url("http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/phoneConsult%2Fweekback.png");
  background-size: 100% 200px;
}
.conWeek{
  text-align: center;
  margin-top: 20px;
}
.dateCom{
  font-size: 18px;
  text-align: center;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: hidden;
  box-shadow:1px 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.2);
  padding: 0 0;
  color: #FFFFFF;
  background-color: #88d9dd;
}
.conWeek button:last-child{
  margin-left: 14px;
}
.date {
  margin-top: 6px;
  margin-left: 25px;
  margin-right: 25px;
}
.date li{
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.date li.time{
  border-bottom: none;
  height:36px;
}
.date li span{
  display: inline-block;
  width:14.2857143%;
  color:#333;
  font-size:16px;
}
.date li.time span {
  padding-top:10px;
  position:relative;
  height:36px;
  color:#88d9dd;
  vertical-align: middle;
}

.date li.time .cir{
  margin-left:2.5px;
  display: inline-block;
  width:5px;
  height:5px;
  background-color: #fe717b;
  border-radius: 50%;
}
.conCurrDate{
  width:100%;
  top:210px;
  position: absolute;
  z-index:2;
  text-align: center;
}
.conCurrDate img{
  vertical-align: middle;
  margin-top: -3px;
}
.conCurrDate span{
  vertical-align: middle;
  font-size: 13px;
  color: #333;
  margin-left: 7px;
}
.conCurrDate span:last-child{
  margin-left: 4px;
}
.phoneConsultFirst .conTime{
  background-color: #FFFFFF;
  padding: 0px 25px;
}
.phoneConsultFirst .conTime li{
  padding: 21px 0;
  position: relative;
}
.phoneConsultFirst .conTime li img{
  vertical-align: middle;
  margin-top: -3px;
}
.phoneConsultFirst .conTime li img:last-child{
  float: right;
  margin-top: 0px;
}
.phoneConsultFirst .conTime li span{
  font-size: 16px;
  font-weight: bold;
}
.phoneConsultFirst .conTime .chongtime{
  margin-left: 9px;
}
.phoneConsultFirst .conTime .chongtype_1{
  position: absolute;
  left: 43%;
}
.phoneConsultFirst dl{
  padding: 19px 25px 0px 25px;
  font-size: 13px;
  color: #727272;
}
.phoneConsultFirst dl dd:nth-child(2){
  margin-top: 13px;
  margin-bottom: 10px;
}
.phoneConsultFirst dl dd:nth-child(2) img{
  vertical-align: middle;
  margin-top: -3px;
}
.phoneConsultFirst dl dd:nth-child(3){
  line-height: 20px;
}
.changWeekCom{
  background-color: #b8b8b8 !important;
}
.consultNo{
  text-align: center;
  position: absolute;
  width: 100%;
  top: 62%;
  margin-top: -51.5px;

}
.consultNo img{
  vertical-align: middle;
  margin-left: 20px;
}
.consultNo div{
  margin-top: 20px;
  font-size: 15px;
  color: #030303;
}