.healthRecordFillDisease{

}
.healthRecordFillDisease .fill{
  margin:27.5px 10px 100px;
}
.healthRecordFillDisease .fill span{
  color:#666;
  font-size:15px;
}
.healthRecordFillDisease .fill input{
  display: inline-block;
  color:#666;
  line-height:35px;
  width:70%;
  height:36px;
  padding:10px;
  font-size:15px;
  background-color: #fff;
  border:1px solid #ccc;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #666;
}
input::-webkit-input-placeholder{
  color: #666;
}
input::-ms-input-placeholder{
  color: #666;
}



