.healthRecordSelectBaby{
}
.healthRecordSelectBaby .baby-list{
  margin:0 15px 75px;
}
.healthRecordSelectBaby .baby-list div{
  margin-top:12.5px;
  padding:17.5px 20px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}
.healthRecordSelectBaby .baby-list div.select{
  border:1px solid #88d9dd;
}
.healthRecordSelectBaby .baby-list  .triangle{
  position: absolute;
  right:0;
  top:0;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-radius:0 3px 0 0;
  border-width:10px;
  border-style:solid;
  border-color:#88d9dd #88d9dd transparent transparent;

}
.healthRecordSelectBaby .baby-list li{
  margin-bottom:20px;
}
.healthRecordSelectBaby .baby-list li:last-of-type{
  margin-bottom:0;
}
.healthRecordSelectBaby .baby-list li span{
  font-size:14px;
}
.healthRecordSelectBaby .baby-list li .key{
  color:#333;
}
.healthRecordSelectBaby .baby-list li .value{
  color:#666;
}
.healthRecordSelectBaby .baby-list .update-baby{
  position: absolute;
  right:20px;
  bottom: 17.5px;
}
