.healthRecordAppoint{
  background-color: #f9f9f9;
}
.healthRecordAppoint .detail{
  margin:0 20px;
}
.healthRecordAppoint .detail dt{
  margin:32.5px 0;
  height:1px;
  text-align: center;
  color:#88d9dd;
  font-size:15px;
  font-weight: normal;
  position: relative;
  border-bottom: 1px solid #88d9dd;
}
.healthRecordAppoint .detail dt span{
  position: absolute;
  padding:0 10px;
  text-align: center;
  left:50%;
  top:-11px;
  margin-left:-98px;
  background-color: #f9f9f9;
}
.healthRecordAppoint .detail dd{
  padding:25px 15px;
  background-color: #fff;
  border-radius:10px;
  box-shadow: 1px 2px 3px #ccc;
}
.healthRecordAppoint .detail dd ul:first-of-type{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px dashed #ccc;
}
.healthRecordAppoint .detail dd li{
  position: relative;
  margin-bottom: 20px;
  min-height:20px;
}

.healthRecordAppoint .detail dd li:last-of-type{
  margin-bottom: 0;
}
.healthRecordAppoint .detail li span{
  color:#333;
  font-size:14px;
  position: absolute;
  left:0;
}
.healthRecordAppoint .detail li p{
  color:#666;
  font-size:14px;
  margin-bottom: 0;
  margin-left:70px;
}
.healthRecordAppoint .detail li p .no-condition {
  color: #fe717b;
  border-bottom: 1px solid #fe717b;
}


