<ion-view view-title={{title}} ng-init="doRefresh()" style="overflow: scroll;">
    <ion-content class="vaccineList" overflow-scroll="true"  style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <ul>
                <li ng-repeat="item in vaccineList" ng-click="goInformation(item.id)">
                    <span>{{item.name}}</span>
                    <span>{{item.age}}</span><br>
                    <span ng-show="item.isFree == 0"  class="free">免费</span>
                    <span ng-show="item.isFree == 1" class="free charge">自费</span>
                </li>
            </ul>
        </ion-scroll>
    </ion-content>
</ion-view>