.babyCoinTicketPay{

}
.babyCoinTicketPay .ticket{
  padding:13px 15px 14px;
}
.babyCoinTicketPay .pay{
  padding: 15px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  position: relative;
}
.babyCoinTicketPay .pay .select{
  position: absolute;
  top:15px;
  right:15px;
}

.babyCoinTicketPay .btn{
  padding:23px 15px;
  overflow: hidden;
}
.babyCoinTicketPay .btn button{
  border-radius: 3px;
  padding:0;
  height:40px;
  line-height:40px;
}
.babyCoinTicketPay .btn-sure{
  background-color: #1fc3c5;
  width:60%;
}
.babyCoinTicketPay .btn-earn{
  border:1px solid #1fc3c5;
  color:#1fc3c5;
  background-color: transparent;
  width:35%;
  margin-left:5%;
}

