.babyCoinTicketList{

}
.babyCoinTicketList .ticket-list{
  margin:25px 15px;
}
.babyCoinTicketList .ticket-list img{
  margin-top: 0!important;
}
.babyCoinTicketList .ticket-list li{
  margin-bottom:13px;
  font-size:0;
  overflow: hidden;
}

