
body {
  font-family: '微软雅黑';
}

.rr{
  color:#fe717b!important;
}
.button{
  border-radius:5px;
  border:none;
  color:#fff;
}
.btn{
  border-radius:5px;
  color:#fff;
  text-align: center;
  display: inline-block;
}
.button.small{
  margin-top:58px;
  margin-left:22px;
  margin-bottom:2210px;
  width:85px;
  height:27px;
  background: -webkit-linear-gradient(top, #30b3ff , #129eff);
  background: linear-gradient(top, #30b3ff , #129eff);
  font-size:15px;
  color:#fff;
  border:none;
  box-shadow: 1px 2px 3px #144c74;
}
.btn90{
  width:90%;
  margin-left:5%;
}

.font-color1{
  color:#1a1b1c;
}
.font-color2{
  color:#373737;
}
.font-color3{
  color:#8d8d8d;
}
.word-break{
  white-space: normal;
  word-break: break-all;
}
.linear-gradient{
  background: -webkit-linear-gradient(top,#31b4ff ,#109dff);
  background: linear-gradient(top,#31b4ff ,#109dff);
}
.errorTips{
  color:#f1717b!important;
  text-align: center;
  font-size:12px!important;
}
.tips{
  margin-top:20px;
  margin-left:15px;
  margin-right:15px;
  color:#999;
  font-size:12px;
}
.item.tips{
  margin:0;
}
.tips p{
  word-break: break-all;
  white-space: normal;
}
.shadow{
  box-shadow: 0px 2px 5px #eaeaea;
  margin-bottom: 10px;
}
.orderNum{
  font-size:17px;
  color:#1a1b1c;
}
.doctorInfo{
  top:0;
  margin-top:0;
  position:relative;
}
.doctorInfo .doctorPhoto{
  max-width:73px;
  max-height:73px;
  border: 2px solid #88d9dd;
  border-radius:5px;
  left:20px!important;
  margin-top:0px;

}
.doctorInfo h2,.doctorInfo p{
  margin-left:120px;
  white-space: normal;
}
.doctorInfo h2{
  color:#333;
  font-size:15px;
  line-height:20px;
  white-space: normal;
  margin-top:3px;
}
.doctorInfo h2 span{
  color:#8d8d8d;
  font-size:13px;
  padding-bottom: 3px;
}
.doctorInfo p{
  line-height:18px;
  color:#999;
  font-size:13px;
  padding-right:12px;
}
.doctorInfo .orderBtn{
  height:30px;
  line-height:30px;
  position:absolute;
  right:10px;
  bottom:17px;
  position:absolute;
}
.item-wrap{
  margin-top:10px;
  background-color: #fff;
}
.item-wrap  img{
 /* top:10px;
  position: absolute;*/
  vertical-align: middle;
}
.item-wrap  .button1,.item-wrap .button2{
  min-width:87px;
  font-size:11px;
  display: inline-block;
  padding-left:8px;
  padding-right:8px;
  height:30px;
  line-height:28px;
  text-align: center;
  z-index: 9;
  border-radius:3px;
  margin:10px 0 0 20px;
}

.item-wrap  .button1{
  background-color: #b3df6e;
  color:#fff;
  border:none;
}
.item-wrap  .button2{
  color:#999;
  border:1px solid #999;
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-wrap .arrow-r{
  position: absolute;
  bottom:20px;
  right:10px;
}
.item-wrap ul{
  margin-top:10px;
  border-top:1px dashed #ccc;
  margin-left:10px;
  margin-right:10px;
  padding-top:10px;
  overflow: hidden;
}
.item-wrap ul li{
  white-space: normal;
}
 ul.add-list:first-child{
  margin-top:-10px!important;
  /*color:red!important;*/
}
.item-wrap li{
  color:#8d8d8d;
  font-size:13px;
  padding-left:10px;
  padding-top: 4px;
}
.item-wrap .circle{
  display: inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  text-align: center;
  border-radius:50%;
  border:1px solid #8d8d8d;
  font-size: 10px;
  margin-right:5px;
}
.item-wrap li img{
  margin-right:10px;
  margin-left:2px;
  vertical-align: middle;
}
.workInfo{
  padding:0;
  font-size:17px;
  color:#333;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.workInfo ul{
  margin:10px;
  border-top:1px solid #ddd;
  overflow: hidden;
}
.workInfo li{
  padding-top:10px;
  padding-bottom:10px;
  line-height:30px;
}
.workInfo li .route-btn{
  display: inline-block;
  width:75px;
  height:30px;
  line-height:30px;
  background-color: #88d9dd;
  color:#fff;
  font-size:13px;
  border-radius: 3px;
  text-align: center;
  margin-left: 10px;
}
.workInfo ul.item{

}
.workInfo .workDate,.workInfo .workAdd{
  line-height:20px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}
.workInfo .l{
  width:18%;
  float: left;
}
.workInfo .r{
  width:82%;
  float: right;
  white-space: normal;
}
.workInfo .btn{
  display: inline-block;
  width:70px;
  height:30px;
  line-height:30px;
  text-align: center;
  border-radius: 3px;
  color:#fff;
  background-color: #b3df6e;
}
.orderInfo{
  color:#1a1b1c;
}
.orderInfo ul{
  overflow: hidden;
  margin-bottom: 10px;
}
.orderInfo .orderNum,.orderInfo .orderStatus{
  line-height:20px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}
.orderInfo .l{
  width:30%;
  float: left;
  font-size:16px;
}
.orderInfo .r{
  width:70%;
  float: right;
  font-size:15px;
  color:#8d8d8d;
  word-break: break-all;
  white-space: normal;
}
.waitInfo{
  margin-top:10px;
  padding-left:12px;
  position: relative;
  height:112px;
}
.waitInfo img{
  max-width:73px!important;
  max-height:73px!important;
  border:2px solid #88d9dd;
  border-radius:5px;
  margin-bottom: 10px;
  margin-top:5px;
}
.waitInfo p,.waitInfo h2{
  margin-left:96px;
}
.waitInfo h2{
  margin-top:10px;
}
.waitInfo p,.waitInfo h2 span{
  color:#999;
  font-size:13px;
}
.waitInfo .wait-status{
  color:#fe717b;
  font-size:13px;
  position: absolute;
  right:20px;
  top:11px;
}
.waitInfo .btn {
  font-size:12px;
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  background-color: #b3df6e;
  position: absolute;
  bottom:10px;
  right:10px;
}
.noContent{
    text-align: center;
  }
  .noContent img{
    margin-top:20px;
    margin-bottom:10px;
  }
  .noContent p{
    color:#373737;
    font-size:17px;
    line-height:30px;
    text-align: center;
  }

  .card .head {
    font-weight: bold;
  }
  .card .body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .calendar {
    position: relative;
    width: 100%;
    padding: 11px 0;
    background: #fff;
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: center;
    .font(18);
  }

  .calendar span {
    margin: 0 7px;
  }

  /*公共样式*/

  .scroll-view.ionic-scroll {
    position: absolute;
    top:0px;
    bottom: 0;
    width: 100%;
  }

  /*.bar.bar-header{
    height:44px;
    line-height:44px;
   /!* background: -webkit-linear-gradient(top,#31b4ff ,#109dff);
    background: linear-gradient(top,#31b4ff ,#109dff);*!/
    color:#fff!important;
    position: absolute;
    top:0;
  }
  .bar.bar-header .title{
    color:#fff;
    font-size:18px;
    font-weight:700;
  }
  .bar.bar-header a{
    margin-top:4px;
    color:#fff;
  }
  .bar.bar-header a.city{
    height:44px;
    line-height:44px;
    font-size:18px;
    position: absolute;
    top:0px;
    left:15px;
    margin-top:0;
  }
  .bar.bar-header a.back{
    margin-bottom:15px;
    font-size:18px;
    position: absolute;
    top:0px;
    left:15px;
  }
  .bar.bar-header a.home {
    margin-top: 5px;
    font-size: 18px;
    right: 50px;
    position: absolute;
  }
  .bar.bar-header a.my{
    margin-top:3px;
    margin-right:10px;
    right: 15px;
    position: absolute;
  }
  .bar.bar-header a.refresh{
    margin-right:10px;
    position: absolute;
    margin-top:0;
    top:0;
    height:26px!important;
  }
  .bar.bar-header a.my img{
    width:26px;
    height:26px;
  }

  .bar.bar-header h1 img{
    width:37px;
    height:39px;
  }*/

  .bar-subheader{
    height:62px;
    top:44px;
  }

  .bar-subheader .item-input-wrapper{
    position:relative;
    background-color: #fff;
  }
  .bar-subheader .item-input-wrapper input{
    width:100%!important;
    height:40px!important;
    /*color:#5fc4ff*/;
    color:#333;
    border-radius:10px;
    background-color: #fff;
    border:1px solid #37a5ff;
    font-size:14px!important;
    font-size:12px;
  }
  .bar-subheader .item-input-wrapper img{
    width:25px;
    height:25px;
    position:absolute;
    top:12px;
    right:15px;
  }
  .bind{
    width:100%;
    margin-top:30px;
    height:80px;

  }
  .bind  .bindBtn{
    text-align: center;
    width:100%;
    height:50px;
    line-height:50px;
    background: -webkit-linear-gradient(top, #60c5ff , #0096ff);
    background: linear-gradient(top, #60c5ff , #0096ff);
    color:#fff;
    font-size:18px;
    border:none;
  }
  .bind  .bindBtn.bind-small{
    margin-left:5%;
    margin-top:15px;
    width:25%;
    color:#fff;
    height:50px;
    line-height:50px;
    font-size:16px;

  }
  a{
    text-decoration: none;
  }
.bar-footer .button{
  display: inline-block;
  width:100%;
  height:44px;
  line-height:44px;
  text-align: center;
  padding:0;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 0;
  font-size:16px;
}
.button.disabled, .button[disabled] {
  opacity: 1!important;
  background-color: #ccc!important;
}