<ion-spinner ng-show="pageLoading" class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫（400-623-7120）">
    <ion-content class="cooperationHospitalPrice" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" style="">
            <div class="title">
                限价疾病范围
            </div>
            <dl class="main">
                <dt>
                    <span class="line"></span>呼吸系统疾病
                </dt>
                <dd>
                    <p>
                        <span class="num">1、</span>
                        急性上呼吸道感染，包括感冒、发热，但不含肺炎、气管炎、支气管炎的患儿
                    </p>
                    <p>
                        <span class="num">2、</span>
                        患有先天性心脏病、佝偻病、严重营养不良等严重疾病的患儿除外
                    </p>
                    <p>
                        <span class="num">3、</span>
                        就诊中发现自身合并严重呼吸系统疾病及（或）全身其他严重疾病的患儿除外
                    </p>
                </dd>
                <dt>
                    <span class="line"></span>消化系统疾病
                </dt>
                <dd>
                    <p>
                        <span class="num">1、</span>
                        因消化功能紊乱引发的非感染性腹泻，以及因病毒、细菌及霉菌感染引起的感染性腹泻
                    </p>
                    <p>
                        <span class="num">2、</span>
                        儿童厌食、积食、偏食
                    </p>
                    <p>
                        <span class="num">3、</span>
                        儿童便秘及婴幼儿吐奶
                    </p>
                    <p>
                        <span class="num">4、</span>
                        患有肠梗阻、先天性巨结肠、消化道出血等严重消化系统疾病的患儿除外
                    </p>
                    <p>
                        <span class="num">5、</span>
                        就诊中发现自身合并严重消化系统疾病及（或）全身其他严重疾病的患儿除外
                    </p>
                </dd>
                <dt>
                    <span class="line"></span>皮肤科疾病
                </dt>
                <dd>
                    <p>
                        <span class="num">1、</span>
                        小儿湿疹、荨麻疹、皮炎、皮肤过敏、单纯疱疹、猩红热
                    </p>
                    <p>
                        <span class="num">2、</span>
                        患有严重湿疹、异位性皮炎等合并全身症状的患儿除外
                    </p>
                    <p>
                        <span class="num">3、</span>
                        患有白癜风、银屑病、色素瘤、血管瘤等疾病的患儿除外
                    </p>
                    <p>
                        <span class="num">4、</span>
                        就诊中发现自身合并严重皮肤科疾病及（或）全身其他严重疾病的患儿除外
                    </p>
                </dd>
            </dl>
        </ion-scroll>
    </ion-content>
</ion-view>
