<ion-view view-title={{title0}}>
    <ion-spinner ng-show="dataLoading" class="loadPic"></ion-spinner>
    <ion-content class="memberDeal" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="title">
                宝大夫用户协议
            </div>
            <div class="text">
                <dl>
                    <dt>
                        <span class="line"></span>服务条款
                    </dt>
                    <dd>
                        <p>
                            1、本服务协议双方为晨星启明公司（甲方）与宝大夫用户（乙方），本服务协议具有合同效力。
                        </p>
                        <p>
                            2、宝大夫为晨星启明公司名下产品。
                        </p>
                        <p>
                            3、本服务协议内容包括协议正文及所有晨星启明公司已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。
                        </p>
                    <dt>
                        <span class="line"></span>名医预约服务条款
                    </dt>
                    <dd>
                        <p>
                            本条款所称"名医预约"特指用户通过"宝大夫"提交的预约信息，预约"宝大夫"介绍的医生见面咨询。
                        </p>
                        <p>
                            如服务在进行过程中由于甲方平台性能不稳定等系统原因导致服务不能完成的，将由"宝大夫"客服为乙方重新安排预约服务。
                        </p>
                        <p>
                            乙方必须在注册及申请服务时，详细阅读"宝大夫"使用说明信息，并严格按要求操作。在个人信息部分必须提供真实的乙方信息。 按要求操作。在个人信息部分必须提供真实的乙方信息。
                        </p>
                        <p>
                            一旦发现用户提供的个人信息中有虚假，甲方有权立即终止向用户提供的所有服务，并冻结用户的帐户，有权要求乙方赔偿因提供虚假信息给医生及甲方造成的损失。
                        </p>
                        <p>
                            医生根据临床经验给予一定诊断、治疗方面的建议，仅代表医生个人意见，不代表“宝大夫”平台的建议。
                        </p>
                        <p>
                            乙方在预约见面过程中要语言文明，尊重医生，平等交流。如有对医生恶意中伤，语言不文明，医生有权立即中断服务，乙方无权要求退还会员费。
                        </p>



                    </dd>
                    <dt>
                        <span class="line"></span>名医预约服务中甲乙双方的权利及义务
                    </dt>
                    <dd>
                        <p>甲方有义务在现有技术上维护平台服务的正常进行，并努力提升技术及改进技术，使网站服务更好进行。</p>
                        <p>甲方必须保证提供名医预约服务的医生是"宝大夫"中介绍的医生本人提供见面咨询服务。</p>
                        <p>对于乙方在"宝大夫"预约服务中的不当行为或其它任何甲方认为应当终止服务的情况，甲方有权随时作出删除相关信息、终止服务提供等处理，而无须征得乙方的同意。</p>
                        <p>如存在下列情况：</p>
                        <p>1、乙方或其它第三方通知甲方，认为某个具体用户或具体交易事项可能存在重大问题；</p>
                        <p>2、乙方或其它第三方向甲方告知见面咨询内容有违法或不当行为的，甲方以普通非专业的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的。</p>
                        <p>甲方有义务权对相关数据、所有的申请行为以及与咨询有关的其它事项进行审查。</p>
                        <p>甲方有权根据不同情况选择保留或删除相关信息或继续、停止对该用户提供服务，并追究相关法律责任。</p>
                        <p>发生服务纠纷，引起诉讼的，乙方通过司法部门或行政部门依照法定程序要求甲方提供相关数据，甲方应积极配合并提供有关资料。</p>
                        <p>甲方有权对用户的注册数据及电话咨询的行为进行查阅，发现注册数据或咨询行为中存在任何问题或怀疑，均有权向乙方发出询问及要求改正的通知或者直接作出删除等处理。</p>
                        <p>当乙方顺利使用完预约服务后不得因为预约服务中的内容不满意要求退还会员费。</p>
                        <p>乙方对服务内容不满意，可以向甲方提出投诉，甲方有义务依据情况协调沟通，维护医生和用户关系和谐。</p>
                    </dd>
                </dl>
                <br>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>