/* 左边的小盒子 */

.m-left-header {background-color: #f2f2f2;cursor: pointer;height: 92px;}
.m-left-header .insert{height: 40px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fs_06.png") center bottom no-repeat #fff;float: left;font: 12px/40px 'Microsoft Yahei';color: #acacac;text-align: center;width: 100%;}
.m-left-top div.tab-content-chat {float: left;text-align: center;padding: 8px 19px;}
.tab-content-chat h3{font: 24px/24px 'Microsoft Yahei';color:#fe717b;}
.tab-content-chat p {font: 12px/12px 'Microsoft Yahei';color:#acacac;}
div#ddjr {border-right: 1px solid #fff;}
/*右边的盒子*/
.bdf-dkf-sever {font: 12px/50px 'Microsoft Yahei';}
.bdf-dkf-sever a{display: inline-block;width: 199px;line-height: 50px;cursor: pointer;text-align: center;}
.replayContent{overflow: auto;height: 399px;}
.replayContent::-webkit-scrollbar {width: 0;height: 0;}
.reply-content .myreply{cursor: pointer;font: 12px/35px 'Microsoft Yahei';color:#333;}
.reply-content .pubilcreply{cursor: pointer;font: 12px/35px 'Microsoft Yahei';color:#333;}
.rtitle {margin-left: 10px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(4).png") no-repeat 0 0;padding-left: 20px;}
.myreply ul li img,.pubilcreply ul li img {margin-left: 25px;}
.rcontent {margin-left: 50px; height:35px;width: 325px;overflow: hidden;text-overflow: ellipsis;color:#666;}
.group-title{margin-left: 30px;padding-left:20px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(4).png") no-repeat 0 0;}
/*聊天对话框的图片*/
.consultNowList{height: 40px;cursor: pointer;font: 12px/40px 'Microsoft Yahei';overflow: hidden;}
.consultNowList img{margin-top: 3%;margin-left: 3%;width: 13%;height: 3%;}

[scroll-glue-bottom],{height: 340px;overflow-y: scroll;/*border: 1px solid gray;*/}



.close {float: right;cursor: pointer;}

/* 等待接入 */
.ddjr-up .ddjr-content {padding: 0 20px;}
.ddjr-up .ddjr-content span {color: #000;display: block;float: left;margin-right: 25px;font: 12px/38px 'Microsoft Yahei';}
.ddjr-content div:nth-child(2){background-color: #8aa1a8;color:#fff;}
.checktop {height: 38px;}
.light{padding: 8px 0; font-size: 12px;color:#333;background-color: #fafffb;height: 14px;}
.light ul li:nth-child(1){margin: 0 0 0 5px;}
.light ul li{float: left;margin: 0 50px 0 10px;}
.footer {font-size:12px;width: 610px;height: 40px;border-top: 1px solid #aaa;float: left;line-height: 40px;position: absolute;bottom: 0;}
/*今日会话排名*/
.jrhhpm {height: auto;position: absolute;top: 101px;left: 176px;background-color: #fff;box-shadow: 1px 1px 1px 1px #aaa;overflow: hidden;}
.jrhhpm-top {font: 12px/40px 'Microsoft Yahei';padding: 0 10px;}
.jrhhpm-top a {display: inline-block;float: right;color:#08b7c2;}
.jrhhpm-tb {margin:0 0 10px 0;background: #aaa;text-align: center;font: 12px/25px 'Microsoft Yahei';}
.jrhhpm-tb th {margin: 10px;color:#fff;}
.jrhhpm tr{text-align: center;}
.jrhhpm tr td {display: inline-block;font: 12px/30px 'Microsoft Yahei';text-align: center;padding: 0 5px;}
.jrhhpm tr:nth-child(1) td:nth-child(1){color:#fe717b;}
.jrhhpm tr:nth-child(2) td:nth-child(1){color:#fe717b;padding: 0 20px;}
.jrhhpm tr:nth-child(3) td:nth-child(1){color:#fe717b;}
.getdata {max-height: 180px;overflow: auto;}
table{border-collapse:collapse;}
table,td,th{border:none;font-weight:300;font-size:12px;}
/* 系统设置 */

.xtsz-up {position: absolute;width: 610px;height: 470px;top: 50%;left: 50%;margin-top: -250px;margin-left: -315px;border-radius: 5px;background-color: #fff;box-shadow: 1px 1px 1px 1px #ccc;   }

.hd {height: 35px;background-color: #2A2A2F;border-radius: 5px 5px 0 0;line-height: 40px;color: #fff;font-size: 13px;padding: 0 10px;}
.xtsz-up-left {float: left;width: 150px;height: 394px;cursor: pointer;background-color: #f2f2f2;}

.xtsz-up-left h3 {font: 14px/40px 'Microsoft Yahei';color:#08b7c2;margin: 0 10px;}

.xtsz-up-left a {display: block;}

.xtsz-up-left a span {display: block;padding: 0 20px 0 30px;font: 12px/40px 'Microsoft Yahei';}

.xtsz-up-left a span.current {color: #333;background-color: #fff;}

.footer button {width: 45px;height: 25px;margin-top: 5px;margin-right: 10px;float: right;}

.xtsz-up-middle ul li {display: none;}

.xtsz-up-middle ul li.show {display: block;}
.xtsz-up-middle .xtsz-up-right {width: 350px;height: 382px;margin-left: 155px;background-color: #fff;padding: 12px 45px 0 45px;}
.zhhftop{text-align: center;}
.zhhftop span {display: inline-block;width: 80px;height: 1px;background-color: #f0f0f0;}
.zhhftop span:nth-child(2){width: 100px;font: 12px/20px 'Microsoft Yahei';height: 20px;margin: 0 10px;background-color: #fff;}
.zhhfcontent p {margin: 12px 0;}
.zhhf .zhhfcontent a {color:#313bff;}
.zhhfcontent {font: 12px/20px 'Microsoft Yahei';}
input[type="number"] {width: 36px;}
/*转接content*/
.switchcontent {width: 100%;}
.switchbox{padding: 20px}
.switchbox input[type="text"] {width: 100%;height: 26px;margin-bottom:20px;}
.refreshboxtop tr th {width: 224px;}
.refreshboxtop tr{font: 12px/30px 'Microsoft Yahei';background-color: #8aa1a8;}
.refreshboxtop tr td{text-align: center;width: 224px;}
.refreshboxtop {margin: 0 110px 0 0;border: 1px solid #eee;height: 175px;overflow-y: scroll;}
.refreshboxtop::-webkit-scrollbar {width:10px;height:10px;}
.refreshboxtop::-webkit-scrollbar-track-piece {background:#eee;border-radius:5px;}
.refreshboxtop::-webkit-scrollbar-thumb{background:#08b7c2;border-radius:5px;}

.refreshbtn {position: absolute;top: 100px;right: 20px;font-size: 12px;line-height: 28px;border: 1px solid #A0A0A0;padding: 0 10px;background-color: #E9E9E9;cursor: pointer;}
.refreshboxtop ul li span {display: inline-block;margin: 0 100px 0 0;}
.refreshboxtop ul li {padding: 0 0 0 15px;font-size: 12px;color: #333;line-height: 28px;}
.postscript span {display: block;font: 12px/40px 'Microsoft Yahei';}
/*qq表情*/
#emotions{left:0;width:444px;font-size:12px;background:#fff;position:absolute;border:1px solid #E8E8E8;}
#emotions a{color:#9ABBC8;padding:2px 7px;text-decoration:none;}
#emotions img{border:0;}
#emotions div{margin:5px 10px;padding:1px;overflow:hidden;}
#emotions #prev,#emotions #next{margin-left:3px;background:#eee;}
#emotions .categorys{color:#ccc;height:23px;color:#9ABBC8;overflow:hidden;}
#emotions .categorys a{display:inline-block;}
#emotions .categorys a:hover{text-decoration:underline;}
#emotions .categorys a.current{cursor:default;background:#F0F0F0;-moz-border-radius:3px;-webkit-border-radius:3px;}
#emotions .container{padding:1px;overflow:hidden;}
#emotions .container a{float:left;width:22px;height:20px;text-align:center;padding:4px 2px;margin:-1px 0 0 -1px;border:1px solid #e8e8e8;}
#emotions .container a:hover{z-index:2;position:relative;border:1px solid #0095cd;}
#emotions .page{text-align:right;}
#emotions .page a.current{color:#666;background-color:#fff;}
#emotions .page a{margin-left:3px;color:#0078B6;background-color:#f3f3f3;}
#emotions .page a:hover{background-color:#e7e7e7;}
/*聊天框的头部*/
.chatlistin{font: 12px/20px 'Microsoft Yahei';height: 265px;overflow-y:scroll;background-color: #f8f8f8;width: 100%;color:#333;}
.chatlistin::-webkit-scrollbar {width:10px;height:10px;}
.chatlistin::-webkit-scrollbar-track-piece {background:#eee;border-radius:5px;}
.chatlistin::-webkit-scrollbar-thumb{background:#08b7c2;border-radius:5px;}


p.historymessage span {display: block;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(7).png") left center no-repeat;padding-left: 25px;}
.facein{width: 100%;border-bottom: 1px solid #acacac;font: 12px/38px 'Microsoft Yahei';border-top: 1px solid #acacac;background-color: #f2f2f2;height: 38px;}
.facein p span {display: inline-block;padding: 0 20px;margin: 0 10px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fyh_06.png") left top no-repeat;cursor: pointer;}
.nametopin div.fr {line-height: 50px;margin-right: 20px;cursor: pointer;padding-left: 25px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(10).png") left center no-repeat;}
.headimg {float: left;width: 40px;margin: 5px 10px 5px 20px;}
.nametopin span {display: inline-block;line-height: 50px;}
.nametopin {border-bottom: 1px solid #acacac;font-size:12px;height: 52px;}
/*快捷回复*/
.chatinstall{border-bottom: 1px solid #acacac;background-color: #fff;}
.chatinstall span:nth-child(1){margin: 0 15px 0 20px;}
.chatinstall span:nth-child(2){background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(12).png") left center no-repeat;}
.chatinstall span:nth-child(3){background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(3).png") left center no-repeat;}
.chatinstall span:nth-child(4){background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(13).png") left center no-repeat;}
.chatinstall span:nth-child(5){background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(1).png") left center no-repeat;}
.chatinstall span:nth-child(6){background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(2).png") left center no-repeat;}
.chatinstall span {padding-left: 15px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fkjhf%20(11).png") left center no-repeat;display: inline-block;margin-right: 10px;font: 12px/50px 'Microsoft Yahei';color:#333;cursor:pointer;}
.chatinstall span img {margin-right: 5px;}
/*textarea输入框*/
.inputcontent,.facebox,.chatlist,.nametop{padding-left: 175px;padding-right: 405px;}
textarea {overflow:auto;word-break:break-all;background-color: #f8f8f8;width: 100%;height: 100px;box-sizing: border-box;border: 1px solid #dcdcdc;vertical-align: top;resize: none;}
.sendbtn {height: 41px;border-top:1px solid #acacac;border-bottom: 1px solid #acacac;background-color: #f8f8f8;}
.sendbtn div {cursor: pointer;margin:10px;display: inline-block;color:#fff;float: right;font: 12px/20px 'Microsoft Yahei';padding: 0 15px;border-radius: 4px;}
.sendbtn div:nth-child(1){background-color: #08b7c2;}
.sendbtn div:nth-child(2){background-color: #fe717b;}
.historymessage {float: right;}
.historymessage img{margin:0 10px;}
/*添加分组*/
.addgroup,.addcontent,.editgroup,.editcontent {position: absolute;top: 310px;background-color: #fff;width: 360px;box-shadow: 1px 1px 1px 1px #eee;margin: 0 0 0 25px;border-radius: 5px;}
.addtop span {display: inline-block;float: none;margin: 0 10px;}
.addtop span:nth-child(2) {float: right;margin-right: 10px;cursor: pointer;}
.addtop {font-size: 12px;line-height: 30px;background-color: #2A2A2F;color: #fff;border-radius: 5px 5px 0 0;}
.addgroupname {margin: 25px;text-align: center;font-size: 12px;color: #333;}
.addgroupname span {display: inline-block;margin-right: 10px;}
.addbtn .btn {width: 70px;height: 30px;}
.addbtn {margin: 15px 100px;}
.addkjhf{margin-bottom: 10px;float: left;}
/*会话内容*/
.doctorReplyContent{
    margin:26px 10px 0 0;
    padding-left: 20%;
}
.patientConsultContent{
    margin:26px 0 0 10px;
    padding-right: 20%;
}
.doctorReplyContent .message,.patientConsultContent .message{
    font: 12px/12px 'Microsoft Yahei';
    padding: 8px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.doctorReplyContent div:nth-child(1){
    color:#08b7c2;
}
.patientConsultContent div:nth-child(1){
    color:#7fc700;
}
.consultList {height: 408px;overflow: auto;}
.consultList::-webkit-scrollbar {width:0;height:0;}
.moreInformation{text-align: center;padding-top: 10px;}
.moreInformation a{display: inline-block;color: #08b7c2;padding-left: 15px;background: url("http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2Fpic%2Fyh_12.png") no-repeat center left;}
.moreInformation a:hover{text-decoration: underline;}
/*咨询服务*/
.advisory-content::-webkit-scrollbar {width: 0;height: 0;}
.advisory-content {overflow: auto;height: 450px;width: 403px;}
