/*初始化*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    position: relative;
}

.bdf-dkf-nav span {
    color: #fff;
    float: left;
    font: 13px/55px 'Microsoft Yahei';
}

.bdf-dkf-nav span:nth-child(1) img {
    margin: 6px 30px;
}

.bdf-dkf-nav span:nth-child(2) {
    width: 1px;
    height: 40px;
    background-color: #646465;
    margin: 6px 25px 0 0;
}

.bdf-dkf-nav span:nth-child(3) {
    margin-right: 20px;
}

/*.bdf-dkf-nav span:nth-child(4){border:1px solid #fff;border-radius: 2px;margin-top: 16px;line-height: 20px;padding: 0 5px;cursor: pointer;}*/
.bdf-dkf-nav span img {
    margin-left: -44px;
    margin-bottom: -5px;
}

.bdf-dkf-content-right .kjrk {
    float: right;
}

.bdf-dkf-content-right div {
    float: right;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
    border: 1px solid #FFF;
    font: 13px/20px 'Microsoft Yahei';
    margin-top: 17px;
    padding: 0 6px;
    border-radius: 2px;
}

.xtsz img {
    margin-right: 10px;
}

/*总体布局的样式*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.w10 {
    width: 100%;
}

.w5 {
    width: 50%;
}

.w6 {
    width: 60%;
}

.w4 {
    width: 40%;
}

.h4 {
    height: 55px;
}

.h5 {
    height: 45px;
}

.h6 {
    height: 40px;
}

.h7 {
    height: 35px;
}

.h20 {
    font: 12px/20px 'Microsoft Yahei';
    overflow-y: scroll;
    background-color: #fff;
    color: #333;
}

.h20::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.h20::-webkit-scrollbar-track-piece {
    background: #eee;
    border-radius: 5px;
}

.h20::-webkit-scrollbar-thumb {
    background: #08b7c2;
    border-radius: 5px;
}

.h2l {
    height: 400px;
}

.h2r {
    height: 428px;
}

.h30 {
    height: 520px;
}

.cl {
    color: #fff;
}

.bl1 {
    border-left: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
}

.tab div a span {
    display: inline-block;
    padding: 13px 0 14px 0;
    cursor: pointer;
}

.messageList {
    width: 100%;
    min-width: 1024px;
    height: auto;
}

.qf:after {
    content: '';
    display: table;
    clear: both;
}

.tac {
    text-align: center;
}

.bg-h1 {
    background: #2a2a2f;
}

.bg-m {
    background: #4f4f4f;
}

.bg-b {
    background: #00c20b;
}

/*聊天窗口*/
.msg {
    border-top: 1px solid #acacac;
    background-color: #fff;
}

.msg-l {
    background: #fff;
    width: 200px;
}

.msg-m {
    background: #fff;
    min-width: 452px;
}

.msg-r {
    width: 403px;
    border-left: 1px solid #acacac;
    background-color: #fff;
}

/* h5下拉列表的样式修改 */
select {
    border-radius: 2px;
    width: 75px;
    margin: 18px 20px 0 5px;
    color: #fff;
    overflow: hidden;
    background: transparent;
}

select option {
    color: #333;
}

.cover {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    color: #08b7c2;
    font: 12px/20px 'Microsoft Yahei';
    background: #fff;
}

.cover .content {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 50%;
    margin-top: 20px;
}

.cover .content .image {
    transform: rotateX(-90deg) translateZ(100px);
    transform-origin: center center;
    animation: spin 4s linear 0s infinite;
}

.magnifyImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.magnifyImg .box {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 50%;
    margin-left: -73px;
}

.magnifyImg .dragAble {
    -webkit-transform: rotate(0deg);
    transform-origin: center center;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: center center;
    -o-transform: rotate(0deg);
    -o-transform-origin: center center;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}