.guideFirst{

}
.guideFirst .cirBg{
  position: absolute;
  left:0;
  bottom:0;
  z-index:3;
}
.guideFirst .box1{
  color:#fff;
  padding: 30px 15px 50px;
  margin-bottom: 0;
  background:url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/guideBook%2Fguide_bg.png") repeat-x #fff;
  background-size: 100% 100%;
  width:100%;
  height:470px;
  position: relative;
}
.guideFirst .box1 dt{
   font-weight: normal;
    height:22px;
    line-height:22px;
    font-size:14px;
  /* padding-left:15px;
   border-left:3px solid #fff;*/
   margin-bottom: 16px;
  vertical-align: top;
}
.guideFirst .box1 dt span{
  display: inline-block;
  height:17px;
  width:3px;
  background-color:  #fff;
  margin-top:3px;
  margin-right:10px;
}
.guideFirst .box1 dd{
  font-size:12px;
}
.guideFirst .box1 dd .hospital{
  display: inline-block;
  padding:0 8px 8px 0 ;
  font-size:12px;
}
.guideFirst .box1 dd:first-of-type{
  margin-bottom:40px;
  line-height: 22px;
}

.guideFirst  .box2 .left{
  float: left;
  text-align: center;
  width:11.5%;
  padding-top:30px;
}
.guideFirst  .box2 .left span{
  display: inline-block;
  /*width:5%;*/
  color:#42cfd6;
  font-size:15px;
  line-height: 20px;
}

.guideFirst  .box2 .right{
  width:87.5%;
  float: left;
  border-left:1px solid #42cfd6;
}
.guideFirst  .three-service,.guideFirst .hot-question{
  background-color: #fff;
  overflow: hidden;
}
.guideFirst  .three-service{
  border-bottom:1px solid #f0f0f0;
  margin-bottom:10px;
}
.guideFirst  .three-service .right li{
  width:45%;
  float: left;
  text-align: center;
  color:#333;
  font-size:14px;
  padding:29px 0 15px;
}
 .guideFirst .hot-question{
  border-top:1px solid #f0f0f0;
   margin-bottom:50px;

}
.guideFirst .hot-question ul{
  padding:30px 0;
  overflow: hidden;
}
.guideFirst .hot-question li{
  overflow: hidden;
  padding-left:20px;
  margin-bottom: 20px;
}
.guideFirst .hot-question li:last-child{
  margin:0;
}
.guideFirst .hot-question  .ask{
  overflow: hidden;
  height: 20px;
  color:#333;
  font-size:14px;
}
.guideFirst .hot-question  .ask a{
  float: left;
  width:85%;
  white-space: nowrap;
  text-overflow:ellipsis;
}
.guideFirst .hot-question  .ask i{
  float: right;
  margin-right:3px;
  font-size:20px;
  color:#88d9dd;
  overflow: hidden;

}
.guideFirst .hot-question  .answer{
  padding:0 0 20px;
  color:#666;
  font-size:12px;
  line-height: 20px;
  margin:0 10px 0  0;

}
.guideFirst .hot-question  .answer .line{
  display:block;
  width:40%;
  background-color: #ccc;
  height:1px;
  margin: 15px 0;
}

