.record_box .share_box{
  width:100%;
  height:auto;
}
.record_box .share_box .head{
  width:9.472rem;
  height:3.797333rem;
  margin:0 auto;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/head.png")no-repeat;
  background-size: 100% 100%;
  margin-top:0.512rem;
  text-align: center;
  padding-top:0.597333rem;
}
.record_box .share_box .head span{
  font-size: 0.597333rem;
  color:#fa514b;
}
.record_box .share_con{
  width:13.866667rem;
  margin:0 auto;
  border:solid 2px #c4bcb8;
  position: relative;
  background: #fff;
}
/*皇冠*/
.record_box .share_con .crown{
  display: block;
  width:1.664rem;
  height:1.792rem;
  position: absolute;
  left:-0.725333rem;
  top:-1.2374rem;
}
/*医生*/
.record_box .share_con .doctor{
  width:100%;
  height:3.498667rem;
  border-bottom:solid 1px #c4bcb8;
  padding:0.682667rem 0.512rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.record_box .share_con .doctor .doctorHead{
  width:2.133333rem;
  height:2.133333rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background:#000;
}
.record_box .share_con .doctor .doctorHead img{
  position: absolute;
  width:2.176rem;
  height:2.176rem;
  top:-0.0213335rem;
  left:-0.0213335rem;
}
.record_box .share_con .doctor .doctorDetail{
  width:10.410667rem;
  height:2.176rem;
}

.record_box .share_con .doctor .doctorDetail .doctorName{
  width:100%;
  height:0.768rem;
}
.record_box .share_con .doctor .doctorDetail .doctorName span:nth-child(1){
  font-size: 0.64rem;
  color:#333;
  margin-right:0.170667rem
}
.record_box .share_con .doctor .doctorDetail .doctorName span:nth-child(2){
  font-size: 0.512rem;
  color:#666;
}

.record_box .share_con .doctor .doctorDetail .doctorCon{
  width:100%;
  height:1.024rem;
  font-size:0.512rem;
  font-weight: bold;
  color:#fff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.341333rem;
}

.record_box .share_con .doctor .doctorDetail .doctorCon div{
  width:4.864rem;
  height:100%;
  border-radius: 0.512rem;
  line-height: 1rem;
  padding-left:1.109333rem;
}
.record_box .share_con .doctor .doctorDetail .doctorCon div.serve{
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/serverNum.png")no-repeat left center;
  background-size: 0.981333rem 0.981333rem;
  background-color:#fa514b;
}
.record_box .share_con .doctor .doctorDetail .doctorCon div.goodSay{
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/goodSay.png")no-repeat left center;
  background-size: 0.981333rem 0.981333rem;
  background-color:#4b85fa;
}



.record_box .share_con .chat{
  width:100%;
  height:auto;
}

.record_box .share_con .chat .chat_head{
  display: block;
  width:7.552rem;
  height:1.365333rem;
  margin:0 auto;
  padding-top:0.682667rem;
}
.record_box .chat_con{
  width:100%;
  margin-top:1.2rem;
}
.record_box .chat_con ul{
  width:100%;
  height:auto;
  overflow: hidden;
  padding:0.512rem;
}
.record_box .chat_con ul li{
  width:100%;
  height:auto;
  overflow: hidden;
  margin-bottom:0.554667rem;
}


/*用户说的话*/
.record_box .chat_con ul li.userSay .smallImg{
  width:1.536rem;
  height: 1.536rem;
  display: block;
  float: left;
  box-sizing: content-box;
  border:solid 2px #37a8ff;
  margin-right:0.853333rem;
  border-radius: 50%;
  overflow: hidden;
}
.record_box .chat_con ul li.userSay div{
  //width:6.08rem;
  height:auto;
  float: left;
  position: relative;
}
.record_box .chat_con ul li.userSay div i{
  display: block;
  position: absolute;
  width:0.213333rem;
  height:0.298667rem;
  left:-0.19rem;
  top:0.576rem;
  z-index: 100;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/userSay.png")no-repeat;
  background-size: 100% 100%;
}
.record_box .chat_con ul li.userSay div span{
  display:block ;
  background: #fff;
  max-width:7rem;
  font-size: 0.554667rem;
  color:#333;
  border:solid 1px #dadada;
  padding:0.2rem 0.469333rem;
  line-height: 1.5;
  border-radius: 0.213333rem;
}
/*医生说的话*/
.record_box .chat_con ul li.doctorSay .smallImg{
  width:1.536rem;
  height: 1.536rem;
  display: block;
  float: right;
  box-sizing: content-box;
  border:solid 2px #9b9bec;
  margin-left:0.853333rem;
  border-radius: 50%;
  overflow: hidden;
}
.record_box .chat_con ul li.doctorSay div{
  height:auto;
  float: right;
  position: relative;
}
.record_box .chat_con ul li.doctorSay div i{
  display: block;
  position: absolute;
  width:0.213333rem;
  height:0.298667rem;
  right:-0.19rem;
  top:0.576rem;
  z-index: 100;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/doctorSay.png")no-repeat;
  background-size: 100% 100%;
}
.record_box .chat_con ul li.doctorSay div span{
  display:block ;
  background: #9eea6a;
  max-width:7rem;
  font-size: 0.554667rem;
  color:#333;
  border:solid 1px #88e04b;
  padding:0.2rem 0.469333rem;
  line-height: 1.5;
  border-radius: 0.213333rem;
}

.record_box .btn_all{
  width: 4rem;
  font-size: 0.554667rem;
  color:#333;
  padding-right:0.597333rem;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/lookAll.png")no-repeat right center;
  background-size: 0.469333rem 0.469333rem;
  margin: 0 auto;

}


/*没有记录显示的图片*/
.record_box .share_con .chat .noRecord{
  width:100%;
  height:8.405333rem;
  display: block;
  padding:0.213333rem 0.725333rem 0.896rem;
}
.record_box .share_con .bottom{
  position: absolute;
  height:2.688rem;
  width: 2.688rem;
  bottom:-0.597333rem;
  right:-0.597333rem;
}
.record_box .homeSay{
  width:13.952rem;
  margin:0 auto;
  margin-top: 0.64rem;
}
.record_box .homeSay div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.record_box .homeSay div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:0.426667rem ;
  font-size:0.554667rem;
  color:#333;
}
.record_box .homeSay div:nth-child(1) img{
  display: block;
  width:0.704rem;
  height:0.704rem;
}
.record_box .homeSay div:nth-child(1) .nickName{
  color:#333;
  font-weight: bold;
  font-size:0.64rem;
  padding:0 0.256rem;
}
.record_box .foot{
  width:13.952rem;
  height:4.309333rem;
  background:#fff;
  margin:0 auto;
  margin-top: 0.768rem;
  border-radius: 0.213333rem;
  padding:0.469333rem;
  display: flex;
  align-items: center;
}
.record_box .foot img{
  display: block;
  height: 100%;
  margin-right:0.896rem;
}
.record_box .foot div{
  font-size: 0.64rem;
  font-weight: bold;
  color:#333;
  line-height: 2;
}





.goBottom{
  position: fixed;!important;
  bottom:0.298667rem;
  right:0.341333rem;
  width:2.112rem;
  height:2.112rem;
}


