.appointmentCancelSuccess{
  background-color: #fff;
  font-size:18px;
}
.appointmentCancelSuccess .box{

}
.appointmentCancelSuccess .main {
   margin-bottom: 10px;
   white-space: normal;
   padding:0;
}
.appointmentCancelSuccess img{
   margin:50px auto 30px;
   display: block;
 }
.appointmentCancelSuccess h2{
  font-weight: normal;
  font-size:18px;
  color:#333;
  text-align: center;
}
.appointmentCancelSuccess p{
  font-weight:normal;
  line-height:30px;
  white-space: normal;
  margin:0 15px;
  text-align: center;
  color:#333;
  font-size:16px;
}
.appointmentCancelSuccess .p1{
  color:#333;
}
.appointmentCancelSuccess .p2{
  color:#999;
  font-size:16px;
}
.appointmentCancelSuccess p span{
  color:#fe717b;
}