/*myAttention*/
.myAttention .doctorInfo .doctorPhoto{
  left:20px!important;
}
.myAttention .doctorInfo h2,.myAttention .doctorInfo p{
  margin-left:120px;
  white-space: normal;
}
.myAttention .item{
  padding-left:0;
}