/*myselfFirst 我的*/
.myselfFirst  .bar.bar-header a.home{
  right:20px;
}
.myselfFirst .scroll-view.ionic-scroll {
  position: absolute;
  top:44px;
  bottom: 0;
  width: 100%;
}
.myselfFirst .scroll-content.ionic-scroll > .scroll{
  top:44px;
}
.myselfFirst .ionic-scroll{
  margin-top:10px;
}
.myselfFirst .row{
  margin-top:1px;
  /*position: absolute;
  top:44px;*/
}
.myselfFirst .row .col span.mesNum{
  display: inline-block;
  color:#ff4b00;
  padding-bottom: 5px;
}
.myselfFirst .row .col:nth-child(even){
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}
.myselfFirst .row .col{
  height:54px;
  color:#3c3c3c;
  font-size:13px;
}

.myselfFirst  .item {
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
}
.bind {
  margin-top:0;
  width:100%;
 overflow: hidden;
  height:55px;
  position:absolute;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.bind li{
  padding-left:20px;
  padding-right:20px;
  width: 50%;
  height:55px;
  float: left;
  padding-top:15px;
  color:#333;
  font-size:17px;
}
.bind li:nth-child(2){
  text-align: right;
}
.bind .bind-yes li{
  width:100%;
  padding-top:8px;
  font-size:13px;
  position: relative;
}
.bind .bind-yes li img{
  position: absolute;
  right:10px;
  top:19px;
}

.bind li img{
  vertical-align: middle;
}
.bind li a{
  display: inline-block;
  float: left;
}
.wait-item{
  width:100%;
  font-size:15px;
  color:#333;
  padding:0;
  position:absolute;
  z-index:3;
  top:109px;
}
.wait-item li{
  padding-top:15px;
  text-align: center;
  height:80px;
  float: left;
  width:33.3333333%;
  position: relative;
}

.wait-item-noPay li{
  width:50%;
}
.wait-item li{
  border-right:1px solid #ddd;
}
.wait-item li:last-child{
  border-right:none;
}
.wait-item li .circle-r{
  display: inline-block;
  width:10px;
  height:10px;
  border-radius:50% ;
  background-color: #fe717b;
  position: absolute;
  top:12px;
  right:78px;

}
.my-list li.item{
   padding-top:10px;
   padding-bottom:10px;
   font-size:17px;
   color:#333;
   position:relative;
}

.my-list li img{
  vertical-align: middle;
  margin-top:-2px;
}
.my-list li img.arrow-r{
  position:absolute;
  top:20px;
  right:20px;
}
.my-list li span{
  display: inline-block;
  padding-top:8px;
  position: relative;
}
.my-list li span .my-new-info{
  position: absolute;
  right:-47px;
  top:3px;
}
.my-list li .all-order{
  color:#999;
  font-size:13px;
  position: absolute;
  right:40px;
  top:8px;

}