/*toBeTreatedDetail*/

.toBeTreatedDetail .item {
  paddding-left:20px;
}
.toBeTreatedDetail .doctorPhoto{
  left:20px !important;
}
.toBeTreatedDetail .doctorInfo h2,.toBeTreatedDetail .doctorInfo p{
  margin-left:100px;
}
.toBeTreatedDetail .apart{
  width:100%;
  background-color: #f9f9f9;
  height:10px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.toBeTreatedDetail li{
  padding-left:10px;
}
.toBeTreatedDetail  .workInfo .l {
  width:20%;
}
.toBeTreatedDetail  .workInfo .r {
  width:75%;
}
.toBeTreatedDetail .myUl{
  border-top: none;
  border-bottom: 1px solid #ddd;
 }
.toBeTreatedDetail .myUl .line{
  color:#88d9dd;
  font-size:15px;

}
.toBeTreatedDetail .myUl .line span{
  display: inline-block;
  width:4px;
  height:15px;
  background-color: #88d9dd;
  margin-right:8px;
  margin-top:-3px;
  vertical-align: middle;
}