.wfdb_box{
  width:100%;
  height: 29.290667rem;
  background: url('http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/home/home_bg.jpg')no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.wfdb_box .invited{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
  background: rgba(0,0,0,.4);
}
.wfdb_box .invited .share_arrow{
  width: 15%;
  position: absolute;
  right: 25px;
  top: 10px;
}
.wfdb_box .invited .share_img{
  width: 80%;
  position: absolute;
  right: 10%;
  top: 100px;
}

.myPrize{
  position: absolute;
  top:0.682667rem;
  right: 0.426667rem;
  display: block;
  z-index: 999;

}
.myPrize span{
  color: #fff;
  font-size:0.512rem;
  padding-right: 0.341333rem;
  display: inline-block;
  vertical-align: middle;
}
.myPrize img{
  width:0.426667rem;
  height: 0.512rem;
  vertical-align: middle;
}
.wfdb_box .home_banner{
  width: 100%;
  height:9.685333rem;
  background: url('http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/home/home_banner.png')no-repeat;
  background-size: 11.349333rem 8.064rem;
  background-position: center;
}
.wfdb_box .home_con{
  width:14.72rem;
  height:16.64rem;
  background: url('http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/home/home_con.png')no-repeat;
  background-size: 100%;
  margin: 0 auto;
  position: relative;
}
.wfdb_box .home_con .btn{
  display: block;
  position: absolute;
  width: 6.954667rem;
  height: 1.578667rem;
  background: url('http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/home/home_button.png')no-repeat;
  background-size: 100%;
  position: absolute;
  top:11.477333rem;
  left:50%;
  margin-left:-3.477333rem;
}

.wfdb_box .home_con .myCard{
  width:4.266667rem;
  height:2.048rem;
  font-size: 0.768rem;
  line-height:1.7rem;
  text-align: center;
  color:#de0e30;
  position: absolute;
  left:50%;
  margin-left:-2.133333rem;
  bottom: 0;
}
.wfdb_box .home_con .myCard span{
  display: inline-block;
  vertical-align: middle;
}
.wfdb_box .home_con .myCard span img{
  width:0.78rem;
  height:0.78rem;
  vertical-align: middle;
  margin-left:0.085333rem;
}


.footer{
  width:14.72rem;
  line-height: 1.92rem;
  text-align: right;
  color:#fff;
  font-size:  0.512rem;
}