.new_box{
  width:100%;
  height:100%;
  background:#fff;
  overflow: hidden;
}
.new_head{
  width:100%;
  height:21.89%;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/newUserHead.png")no-repeat;
  background-size:100% 100%;
  position: relative;
}
.new_head span{
  width:19%;
  height:47.4%;
  position:absolute;
  bottom:4%;
  left:50%;
  margin-left:-9.5%;
  background:#fff;
  border-radius: 50%;
  overflow: hidden;
}
.new_head span img{
  display: block;
  width:102%;
  height:104%;
  margin-top:-1.5%;
  margin-left:-1%;
}


.friend{
  width: 100%;
  height:5.25%;
  text-align: center;
  line-height: 2;
}
.friend span{
  margin-right:0.213333rem;
  color:#333;
  font-size:0.512rem;
}


.friend b{
  color:#de0e30;
  font-size: 0.64rem;
}


.new_con{
  width:38%;
  height:2.71%;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/newUserCon.png") no-repeat;
  background-size: 100% 100%;
  margin:0 auto;
}

.new_foot{
  width:100%;
  height:70.15%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/newUserFoot.png")no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.twoCode{
  width:37.2%;
  height:37%;
  position: absolute;
  top:34.555%;
  left:50%;
  margin-left:-18.5%;
  overflow: hidden;
}
.twoCode img{
  width:100.2%;
  height:100.2%;
  display: block;
  margin-top:-0.1%;
  margin-left:-0.1%;
}