.oldBox{
  width:100%;
  height:100%;
  background:#fff;
  overflow: hidden;
}
.old_head{
  width:100%;
  height:21%;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/oldUserHead.png") no-repeat;
  background-size:100% 100%;
}
.old_con{
  width:100%;
  height:53%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/oldUserCon.png") no-repeat;
  background-size: 100% 100%;
  margin-top:4%;
}
.old_foot{
  position: relative;
  width:100%;
  height:24%;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/user_invite/oldUserFoot.png")no-repeat;
  background-size: 100% 100%;
}
.old_foot .btn{
  width:40%;
  height:1.706667rem;
  font-size:0.64rem;
  color:#e23b5f;
  font-weight: bold;
  background: #fff;
  border-radius: 0.277333rem;
  position: absolute;
  bottom:0.85rem;
  left:50%;
  margin-left:-20%;
  text-align: center;
  line-height:1.706667rem;
}