.handfootmouthPaySuccess{
  background-color: #fff;
}
.handfootmouthPaySuccess .buy-success{
  text-align: center;
  color:#666;
}
.handfootmouthPaySuccess .buy-success img{
  margin:25px auto;
}
.handfootmouthPaySuccess .buy-success div{
  font-size: 15px;
  margin-bottom: 10px;
}
.handfootmouthPaySuccess .buy-success p{
  font-size: 13px;
  margin-bottom: 15px;
}
.handfootmouthPaySuccess .buy-success p span{
  color:#fe717b;
}
.handfootmouthPaySuccess .apart{
  background-color: #f9f9f9;
  height:10px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.handfootmouthPaySuccess .info{
  margin:0 8px;
}
.handfootmouthPaySuccess .info li{
  padding:21.5px 5px;
  border-bottom:1px solid #ccc;
  color:#666;
  font-size: 14px;
}
.handfootmouthPaySuccess .info li span{
  color:#333;
}
.handfootmouthPaySuccess  .code{
  margin:25px auto;
  text-align: center;
}
.handfootmouthPaySuccess  .code p{
  color:#999;
  font-size: 12px;
  margin-top:22px;
  margin-bottom: 0;
  line-height: 20px;
}
.handfootmouthPaySuccess  .tel{
  color:#ccc;
  font-size: 13px;
  text-align: center;
}

.handfootmouthPaySuccess  .tel p{
  margin-bottom: 0;
}
.handfootmouthPaySuccess  .tel a{
  color:#88d9dd;
}
.handfootmouthPaySuccess  .tel .foot-btn{
  margin-top:15px;
}