.title.find{
  position: relative;
  height:44px;
  line-height:38px!important;
}
.title.find img{
  position: absolute;
  top:8px;
  left:5%;
}
.title.find input{
  padding-left:32px;
  width:98%;
  height:32px;
  border:1px solid #999;
  border-radius: 5px;
  font-size:13px;
  color:#d3d3d3;
}
.appointmentFirstPage-weChat .banner_visual {
  height: 100px;
}
.appointmentFirstPage-weChat .banner_image {
  height: 100px;
}
.appointmentFirstPage-weChat .banner_image ul{
  height: 100px;
}
.appointmentFirstPage-weChat .banner_image li {
  height: 100px;
}
.appointmentFirstPage-weChat .banner_image li a {
  height: 100px;
}
.appointmentFirstPage-weChat .myMenu {
  top: 143px;
 }
.appointmentFirstPage-weChat .main-list {
  top: 203px;
}
.remind-consult-f{
  background-color: #a6a6a6;
  opacity: 1;
  z-index:8;
}
.remind-consult{
  position: absolute;
  width:100%;
  height:327px;
  top:20%;
  z-index:9;
}
.remind-consult .close{
  position: absolute;
  left:50%;
  margin-left:125px;
  top:24px;
}
.remind-consult .btn{
  position: absolute;
  left:38%;
  bottom:35px;
}
.remind-consult .no{
  position: absolute;
  left:50%;
  margin-left:-25px;
  bottom:-44px;
}