.insuranceFirst{
  width: 100%;
  height: 100%;
}
.insuranceFirst .pic {
  padding:0 10px;
}
.insuranceFirst .pic img{
  display: block;
  margin-top: 10px;
}

.icon-pay{
  position:fixed;
  right:19px;
  bottom:19px;
}
