.phoneConsultFirstPage{

}
.phoneConsultFirstPage .myMenu li {
  width:33.333333%;
}
.phoneConsultFirstPage .myMenu li:last-of-type {
  width:33.333334%;
}
.phoneConsultFirstPage .illnessItem{
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
}
.phoneConsultFirstPage .illnessItem li{
  padding:15px 15px;
  position: relative;
}
