<ion-view view-title="咨询评价"  >
    <ion-content class="evaluateSuccess bg1"  style="top:0;" >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="main tc">
                <img width="80" height="80"   src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/sendHeart/evaluateSuccess.png" />
                <div class="text c3"> 评价成功啦，快去咨询吧！</div>
                <img ng-click="startConsult()" width="290" height="55"   src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/sendHeart/btn_evaluateSuccess.png" />

            </div>

        </ion-scroll>
    </ion-content>
</ion-view>