<ion-view view-title={{title0}} ng-init="doRefresh()" >
    <ion-content class="playtourEvaluate"  style="top:0;" >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="playtourEvaluatedoctor">
                <div class="playtourEvaluatedoctorimg">
                    <img ng-src="{{doctorHeadImage.image}}" width="62.5px" height="62.5px">
                </div>
                <div class="playtourEvaluatedoctorright">
                    <div class="playtourEvaluatedoctorright_1">
                        <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fgeren.png" width="13px" height="14px"/>
                        <span>{{doctorHeadImage.name}}</span>
                    </div>
                    <div class="playtourEvaluatedoctorright_2">
                        <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fchengjiu.png" width="10.5px" height="14px"/>
                        <span class="xinyi">服务的人数<span>{{star.serverNum}}</span></span>
                        <span class="haoping">好评率<span>{{star.goodNum}}%</span></span>
                    </div>
                </div>
            </div>
            <div class="playtourEvaluatejieguo">
                <div class="playtourEvaluatejieguotitle">您已完成此次评价</div>
                <img ng-src="{{playtoutEvaluateImg[evaluation.serviceAttitude]}}" width="37px" height="37px"/>
                <div class="playtourEvaluatejieguocontent">{{evaluation.serviceAttitude==1?'不满意':''}}{{evaluation.serviceAttitude==3?'满意':''}}{{evaluation.serviceAttitude==5?'非常满意':''}}</div>
            </div>
            <div class="com playtourEvaluatechengdu" ng-if="evaluation.content!=''"><span>您的评价：</span>{{evaluation.content}}</div>
            <div class="com playtourevaluatedoctorjianyi"><span>您的建议：</span>
                {{dissatisfied}}
            </div>
            <div class="playtourEvaluatexinyi">
                {{evaluation.redPacket==''?'':'已送心意：'+evaluation.redPacket+'元'}}
            </div>
            <br><br><br><br>

        </ion-scroll>
    </ion-content>
    <div class="playtourEvaluatebut" ng-click="goShare()">
        <button >分享给更多宝妈</button>
    </div>
</ion-view>