<ion-view view-title={{title0}} ng-init="doRefresh()" >
    <div class="attention-shadow" ng-if="sharetou"></div>
    <div class="playtourSharejiantou" ng-if="sharetou">
        <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Fsharejiantou.png" width="81px" height="81px"/>
    </div>
    <div class="playtourSharecom " ng-if="shareimg" >
        <img ng-src="{{shareImg}}" width="312px" height="auto" ng-click="cancleShare()"/>
    </div>
    <ion-content class="playtourShare "  style="top:0;" >
       <ion-scroll direction="y" has-bouncing="true">
        <div class="main">
            <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour/consultShare1.png" />
            <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour/consultShare2.png" />
            <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour/consultShare3.png" data-tap-disabled="true"  />
            <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour/consultShare4.png" />
        </div>
           <br> <br> <br> <br> <br> <br>
        </ion-scroll>
    </ion-content>
    <button class="button bottom-btn" ng-click="goShare()">分享给更多宝妈</button>
</ion-view>