.lovePlanList{

}
.lovePlanList .c11{
  color:#2c9ee2;
}
.lovePlanList .c12{
  color:#ff7070;
}
.lovePlanList .c13{
  color:#10e49c;
}
.lovePlanList .c14{
  color:#2c9ee2;
}
.lovePlanList .bg4{
  height: 7.5px;
}
.lovePlanList .self.user{
  padding:10px 15px;
}
.lovePlanList .self .name{
  margin-top: 10px;
}
.lovePlanList dd.user{
  padding:19px 15px;
  border-bottom: 1px solid #d8d8d8;
}
.lovePlanList .user .info{
  overflow: hidden;
  position: relative;
}
.lovePlanList .info .photo{
  margin-right: 10px;
}
.lovePlanList .info .middle{
}
.lovePlanList .info .middle .time{
  margin-top: 2px;
}
.lovePlanList .info .money{
  position: absolute;
  right:15px;
  bottom:0;
}
.lovePlanList .info .money span{
  font-size: 24px;
}
.lovePlanList .user .words{
  margin-top: 12px;
  line-height: 20px;
}

