<link rel="stylesheet" href="/xiaoerke-wxapp/scripts/styles/statisticdata.less?ver='0.9'" type="text/css" />
<link rel="stylesheet" href="/xiaoerke-wxapp/scripts/styles/statisticdata.less?ver='0.9'" type="text/css" />
<div ui-view class="container-fluid">
    <div class="header">
        <div id="top">
            <div class="top">
                <span class="weibo">官方新浪微博：宝大夫</span>
                <span class="weixin">官方微信号：BaodfWX</span>
            </div>
        </div>
        <div class="nav">
            <div class="logo"><a href="index.html" >宝大夫</a></div>
            <ul>
                <li class="on"><a ui-sref="baodaifuIndex">首页</a></li>
                <li><a  ui-sref="zixundaifu">咨询大夫</a></li>
                <li><a  ui-sref="yuyuedaifu">预约大夫</a></li>
                <li><a ui-sref="shuo">健康管理</a></li>
                <li><a ui-sref="zixun">媒体资讯</a></li>
                <li><a  ui-sref="about">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <div class="contain">
            <div class="zjzx">
                <a href="">专家咨询</a><span class="dian">&nbsp;</span>
                <a href="">专家问诊</a><span class="dian">&nbsp;</span>
                <a href="">专家育儿教育</a>
            </div>
            <div class="xuanchuan">
                <i>最具安全感的</i> 育儿健康服务平台
            </div>
            <div class="search">
                <form action="">
                    <input type="text" class="text" value="搜索疾病"/>
                    <a href="" type="submit" name="submit" class="submit"></a>
                </form>
            </div>
            <div class="qr">
                <div class="wenzi">
                    <p style="font-size:14px;line-height:28px;">扫描二维码</p>
                    <p style="font-size:12px;">即可微信关注“宝大夫”服务号</p>
                </div>
                <div class="ewm">
                    <img src="img/ewm.jpg" alt="">
                </div>
            </div>
            <div class="" ui-sref="consultDoctor" style=" text-align: center;padding:20px;font-size:18px;">
                咨询医生
            </div>
            <div  ><a  ui-sref="zixundaifu">咨询大夫</a></div>
            <div class="yyzx">
                <div class="zixun">
                    <a href="zixundaifu.html">咨询大夫</a>
                    <p>权威儿科专家线上坐诊<br>支持文字、语音、图片时时问诊<br>三分钟内极速回复</p>
                </div>
                <div class="yuyue">
                    <a href="yuyuedaifu.html">预约大夫</a>
                    <p>拥有全北京最专业的医院和儿科专家<br>线上准时预约，线下准时就诊<br>免去排队时间</p>
                </div>
                <div class="yuerjing">
                    <a href="shuo.html">郑玉巧育儿经</a>
                    <p>凝结了郑玉巧老师三十多年的育儿经验<br>是最完整的成体系的育儿百科全书<br>值得您拥有</p>
                </div>
            </div>
        </div>

    </div>
    <div id="main">
        <div class="lbnav_bg"></div>
        <div class="main">
            <div class="lbnav">
                <div class="lbnav_sx"></div>
                <div class="lbnav_top"></div>
                <ul  class="w-nav">
                    <li class="typename"><a href="">郑玉巧育儿经</a></li>
                    <li><a href="javascript:;">0-28天</a><span></span>
                        <ul class="sub-nav">

                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">1-3月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">4-6月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">7-9月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">10-12月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">13-18月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">19-24月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">24-36月</a><span></span>
                        <ul class="sub-nav">
                            <li><a href="">生长发育</a></li>
                            <li><a href="">行为能力</a></li>
                            <li><a href="">膳食喂养</a></li>
                            <li><a href="">生活护理</a></li>
                            <li><a href="">症状护理</a></li>
                            <li><a href="">安全防护</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="h-nav">
                <ul>
                    <li><a href="">生长发育</a></li>
                    <li><a href="">行为能力</a></li>
                    <li><a href="">膳食喂养</a></li>
                    <li><a href="">生活护理</a></li>
                    <li><a href="">症状护理</a></li>
                    <li><a href="">安全防护</a></li>
                </ul>
            </div>

            <div class="lunbo">
                <ul class="slides">
                    <li><img src="img/s1.jpg" /></li>
                    <li><img src="img/s2.jpg" /></li>
                    <li><img src="img/s3.jpg" /></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="article">
                <!-- 热门知识 -->
                <div class="rmzs">
                    <div class="bar">
                        <h3>热门知识</h3>
                        <a href="remen.html" class="more">更多&nbsp;&nbsp;>></a>
                    </div>
                    <div class="newslist">
                        <ul>
                            <li>
                                <img class="litpic" src="img/qq.jpg" alt="">
                                <div>
                                    <a href="remen_article.html"><h4>超酷的感官游戏，在家和宝宝玩</h4></a>
                                    <p class="des">超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩</p>
                                    <div class="tubiao">
                                        <div class="tag">
                                            <a href="">冬季感冒</a>
                                            <a href="">食疗</a>
                                        </div>
                                        <div class="right">
                                            <div class="share"><a href=""></a>100</div>
                                            <div class="click"><a href=""></a>100</div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="litpic" src="img/qq.jpg" alt="">
                                <div>
                                    <a href="remen_article.html"><h4>超酷的感官游戏，在家和宝宝玩</h4></a>
                                    <p class="des">超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩</p>
                                    <div class="tubiao">
                                        <div class="tag">
                                            <a href="">冬季感冒</a>
                                            <a href="">食疗</a>
                                        </div>
                                        <div class="right">
                                            <div class="share"><a href=""></a>100</div>
                                            <div class="click"><a href=""></a>100</div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 精彩回答 -->
                <div class="jchd">
                    <div class="bar">
                        <h3>精彩回答</h3>
                        <a href="wenda.html" class="more">更多&nbsp;&nbsp;>></a>
                    </div>
                    <ul>
                        <li>
                            <a href="wenda_article.html"><h4>超酷的感官游戏？</h4></a>
                            <p>超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，</p>
                        </li>
                        <li>
                            <a href="wenda_article.html"><h4>超酷的感官游戏？</h4></a>
                            <p>超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，</p>
                        </li>
                        <li>
                            <a href="wenda_article.html"><h4>超酷的感官游戏？</h4></a>
                            <p>超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，在家和宝宝玩超酷的感官游戏，</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 中间结束 -->
    <!-- 底部开始 -->

    <div id="footer">
        <div class="footer">
            <p><a ui-sref="fuwutiaokuan" class="pianyi">服务条款</a><a ui-sref="yinsibaohu">隐私保护</a></p>
            <p><a target="_blank">京ICP备15035618号-1</a></p>
            <p>版权所有：北京晨星启明科技有限公司</p>
        </div>
    </div>
</div>