<div ui-view>
<div class="header">
    <div id="top">
        <div class="top">
            <span class="weibo">官方新浪微博：宝大夫</span>
            <span class="weixin">官方微信号：BaodfWX</span>
        </div>
    </div>
    <div class="nav">
        <div class="logo"><a ui-sref="baodaifuIndex">宝大夫</a></div>
        <ul>
            <li class="on"><a ui-sref="baodaifuIndex">首页</a></li>
            <li><a ui-sref="zixundaifu">咨询大夫</a></li>
            <li><a ui-sref="yuyuedaifu">预约大夫</a></li>
            <li><a ui-sref="shuo">健康管理</a></li>
            <li><a ui-sref="zixun">媒体资讯</a></li>
            <li><a ui-sref="about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="fuwutiaokuan">
    <div class="content">
        <div class="wrap">
        <h3>服务条款</h3>
        <dl>
            <dt>版权声明</dt>
            <dd>
                <p>宝大夫所承载的相关内容（文、图、视频、音频）的版权归版权人所有。
                    北京晨星启明科技有限公司享有宝大夫数据结构、视觉设计、编排方式、程序等的全部版权。未经授权，任何机构和个人无权使用本公司版权内容。宝大夫所显示和转载的内容无法一一和版权所有人联系，如版权所有人认为不应免费使用，或有其他要求，请及时联系北京晨星启明科技有限公司。已授权宝大夫使用的版权内容，如需使用，需第一时间通知北京晨星启用科技和版权所有者获得授权。
                    本公司保留对本声明作出不定时修改的权利。
                </p>
            </dd>
        </dl>
        <dl>
            <dt>隐私声明</dt>
            <dd>
                <p>1、适用范围<br />
                    &nbsp;&nbsp;&nbsp;（1）您注册宝大夫时，根据网站要求提供的个人信息；<br />
                    &nbsp;&nbsp;&nbsp;（2）您使用宝大夫服务、参加相关活动、访问网站网页（或移动微信端）时，网站自动接收并记录用户浏览器上的服务器数据，包括但不限于IP地址、网站Cookie中的资料及您要求取用的网页记录；<br />
                    &nbsp;&nbsp;&nbsp;（3）您使用宝大夫时，上传的非公开的病历资料、基本情况、诊疗方案等文字、图片、数据信息。<br />
                    &nbsp;&nbsp;&nbsp;（4）宝大夫通过合法途径从其他途径取得的您的个人资料。<br />
                    &nbsp;&nbsp;&nbsp;（5）您认为不宜公开的其他内容。<br />
                </p>
                <p>
                    2、信息保密<br />
                    &nbsp;&nbsp;&nbsp;（1）保护您的隐私是宝大夫的一项基本政策，宝大夫保证不对外公开或向第三方提供您的注册资料及您在使用网络服务时存储的非公开内容，但特殊情况除外。<br />
                    &nbsp;&nbsp;&nbsp;（2）宝大夫可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与宝大夫同等的保护用户隐私的责任，则宝大夫有权将您的注册资料等提供给该第三方。<br />

                </p>
                <p>
                    3、信息使用<br />
                    &nbsp;&nbsp;&nbsp;（1）在不透露您的保密信息的前提下，宝大夫有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br />
                    &nbsp;&nbsp;&nbsp;（2） 医患之间的咨询问题内容在隐去姓名、单位、地址等信息后，宝大夫可以不经过您的授权，进行公开、编辑、出版、发行。<br />
                    &nbsp;&nbsp;&nbsp;（3）为服务用户的目的，宝大夫可能通过使用您的个人信息向您提供服务，包括但不限于向您发出活动和服务信息等。<br />

                </p>
            </dd>
        </dl>
        <dl class="mb">
            <dt>免责声明</dt>
            <dd>
                <p>1、您使用宝大夫服务所存在的风险将完全由您自己承担；因其使用宝大夫服务而产生的一切后果也由您自己承担，宝大夫对您不承担任何责任。<br />
                    2、宝大夫所有信息仅供参考，不做个别诊断、用药和使用的根据。<br />
                    3、咨询医生模块中的服务提供者均为拥有中华人民共和国医师资格证书的专业医生。但咨询建议仅为依据提问者描述而提供建议性内容，不能作为诊断及医疗的依据。<br />
                    4、对于因不可抗力或宝大夫不能控制的原因造成的网络服务中断或其它缺陷，宝大夫不承担任何责任，但将尽力减少因此而给您造成的损失和影响。<br />
                    5、鉴于临床工作的特殊性，医生遇到抢救、急诊、临时停诊、减号/限号等特殊事件时，有可能延后甚至取消门诊。宝大夫将在获悉后第一时间通知您，出诊时间以医院当日公布出诊日期为准，由此产生的以下问题宝大夫、医生、医院不予负责：交通、餐饮、住宿等费用；患者延误门诊导致的病情延误；以及其他由于门诊延误导致的问题。<br />
                    6、宝大夫为医生用户提供展示平台。医生用户对其提供的个人信息、执业信息等资料的真实性、合法性负全部责任。若任何第三方因信任该些信息而采取某些行为，并因此遭受损失或给其它方造成损失的，由该医生用户承担所有法律责任并予以赔偿。宝大夫对此不承担责任。<br /> 　　
                </p>
            </dd>
        </dl>
    </div>
    </div>
</div>
<!-- 底部开始 -->
<div id="footer">
    <div class="footer foot">
        <p><a ui-sref="fuwutiaokuan" class="pianyi">服务条款</a><a ui-sref="yinsibaohu">隐私保护</a></p>
        <p><a target="_blank">京ICP备15035618号-1</a></p>
        <p>版权所有：北京晨星启明科技有限公司</p>
    </div>
</div>
</div>