<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宝大夫儿童家庭重疾互助计划</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <link rel="stylesheet" href="/wisdom/swipe/css/swiper.min.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/animate.min.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/swiperIndex.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/swiperUmbrella.css" type="text/css" >

</head>

<body onload="swipeUmbrellaInit()">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-------------slide1----------------->
        <section class="swiper-slide swiper-slide1 ">
            <img class="ani resize" style="width:146px;height:62.8px;left:15px;top:20px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_01.png" >
            <img class="ani resize" style="width:78.8px;height:218.4px;left:17px;top:120px;z-index:2;" swiper-animate-effect="zoomInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_02.png" >
            <img class="ani resize" style="width:98px;height:137.6px;left:35px;bottom:30px;z-index:2;"  swiper-animate-effect="fadeInUpBig " swiper-animate-duration="1s" swiper-animate-delay="1.2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_03.png"  >
            <img class="ani resize" style="width:115.2px;height:262.2px;right:15px;bottom:30px;z-index:2;" swiper-animate-effect="fadeInRightBig" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_04.png" >
            <img class="ani resize" style="width:82px;height:77.2px;right:30px;top:30px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro1_05.png" >

        </section>
        <!---------------slide2-------------->
        <section class="swiper-slide swiper-slide2 tc">
            <img class="ani resize" style="width:320px;height:67px;left:0px;top:5px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_01.png" >
            <img class="ani resize" style="width:320px;height:20px;left:0px;top:80px;z-index:2;" swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_02.png" >
            <img class="ani resize" style="width:320px;height:306px;left:0px;top:130px;z-index:2;"  swiper-animate-effect="zoomIn " swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_03.png"  >
            <img class="ani resize" style="width:320px;height:169px;left:0px;top:110px;z-index:3;" swiper-animate-effect="bounceInDown" swiper-animate-duration="2s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_04.png" >
            <img class="ani resize" style="width:320px;height:54.44px;left:0px;bottom:0px;z-index:1;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.2s" swiper-animate-delay="0s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro2_bottom.png" >
        </section>
        <!----------------slide3-------------->
        <section class="swiper-slide swiper-slide3 ">
            <img class="ani resize" style="width:320px;height:68px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_01.png" >
            <img class="ani resize" style="width:320px;height:314px;left:0;top:90px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_02.png" >
            <img class="ani resize" style="width:88px;height:58px;left:20px;top:86px;z-index:2;"  swiper-animate-effect="fadeIn " swiper-animate-duration="0.5s" swiper-animate-delay="4.2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_03.png"  >
            <img class="ani resize" style="width:96px;height:141px;left:15px;top:172px;z-index:3;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="2.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_04.png" >
            <img class="ani resize" style="width:105px;height:115px;left:15px;top:338px;z-index:3;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_05.png" >
            <img class="ani resize" style="width:148px;height:69px;right:1px;top:98px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_06.png" >
            <img class="ani resize" style="width:149px;height:159px;right:4px;top:172px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.6s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_07.png" >
            <img class="ani resize" style="width:158px;height:73px;right:5px;top:373px;z-index:3;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.9s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro3_08.png" >

        </section>
        <!-------------slide4----------------->
        <section class="swiper-slide swiper-slide4 ">
            <img class="ani resize" style="width:320px;height:67px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_01.png" >
            <img class="ani resize" style="width:320px;height:384px;left:0;top:90px;z-index:2;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_02.png" >
            <img class="ani resize" style="width:114px;height:55px;left:10px;top:212px;z-index:2;"  swiper-animate-effect="fadeInLeft " swiper-animate-duration="1s" swiper-animate-delay="2.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_03.png"  >
            <img class="ani resize" style="width:128px;height:58px;left:10px;top:393px;z-index:2;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="3.5s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_04.png" >
            <img class="ani resize" style="width:156px;height:55px;right:10px;top:107px;z-index:2;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_05.png" >
            <img class="ani resize" style="width:128px;height:57px;right:10px;top:292px;z-index:2;" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="3.0s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro4_06.png" >

        </section>
        <!-------------slide5---------------->
        <section class="swiper-slide swiper-slide5 ">
            <img class="ani resize" style="width:320px;height:66px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_01.png" >
            <img class="ani resize" style="width:320px;height:325px;left:0;top:80px;z-index:2;" swiper-animate-effect="fadeIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_02.png" >
            <img class="ani resize" style="width:88px;height:76px;right:20px;top:350px;z-index:2;"  swiper-animate-effect="fadeInUp " swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_03.png"  >
            <img class="ani resize" style="width:320px;height:79px;left:0;bottom:0;z-index:2;" swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="3s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro5_04.png" >
        </section>
        <!-------------slide6----------------->
        <section class="swiper-slide swiper-slide6 ">
            <img class="ani resize" style="width:320px;height:84px;left:0;top:10px;z-index:2;"  swiper-animate-effect="fadeInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_01.png" >
            <img class="ani resize" style="width:320px;height:305px;left:0;top:104px;z-index:2;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="1s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_02.png" >
            <img class="ani resize" style="width:320px;height:41px;left:0;bottom:10px;z-index:2;"  swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="2s"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/intro/umbrellaIntro6_03.png"  >
        </section>
    </div>
    <img src="/wisdom/swipe/images/arrow.png" style="width:20px;height:15px; bottom:10px; left:150px;" id="array" class="resize">
    <div class="swiper-pagination"></div>
</div>
<script src="/wisdom/swipe/swipeJs/swiper.min.js"></script>
<script src="/wisdom/swipe/swipeJs/swiper.animate.min.js"></script>
<script src="/wisdom/swipe/swipeJs/swiperMain.js"></script>
<script>
    var arrObj=document.getElementById('array')
    scaleW=window.innerWidth/320;
    scaleH=window.innerHeight/480;
    var resizes = document.querySelectorAll('.resize');
    for (var j=0; j<resizes.length; j++) {
        resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
        resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
        resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
        resizes[j].style.bottom=parseInt(resizes[j].style.bottom)*scaleH+'px';
        resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px';
        resizes[j].style.right=parseInt(resizes[j].style.right)*scaleW+'px';
    }

    var mySwiper = new Swiper ('.swiper-container', {
        direction : 'vertical',
        pagination: '.swiper-pagination',
        //virtualTranslate : true,
        mousewheelControl : true,
        onInit: function(swiper){
            swiperAnimateCache(swiper);
            swiperAnimate(swiper);
        },
        onSlideChangeEnd: function(swiper){
            swiperAnimate(swiper);
            if(mySwiper.activeIndex==5){
                arrObj.style.display="none";
            }
            else{
                arrObj.style.display="block";
            }

        },
        onTransitionEnd: function(swiper){
            swiperAnimate(swiper);


        },
        watchSlidesProgress: true,
        onProgress: function(swiper){
            for (var i = 0; i < swiper.slides.length; i++){
                var slide = swiper.slides[i];
                var progress = slide.progress;
                var translate = progress*swiper.height/4;
                scale = 1 - Math.min(Math.abs(progress * 0.5), 1);
                var opacity = 1 - Math.min(Math.abs(progress/2),0.5);
                slide.style.opacity = opacity;
                es = slide.style;
                es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,'+translate+'px,-'+translate+'px) scaleY(' + scale + ')';

            }
        },
        onSetTransition: function(swiper, speed) {
            for (var i = 0; i < swiper.slides.length; i++){
                es = swiper.slides[i].style;
                es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';

            }
        },

    })
</script>
</body>
</html>
