<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>宝护伞</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <link rel="stylesheet" href="/wisdom/swipe/css/swiper.min.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/animate.min.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/swiperIndex.css" type="text/css" >
    <link rel="stylesheet" href="/wisdom/swipe/css/swiperUmbrella.css" type="text/css" >
    <script src="/wisdom/js/libs/jquery-2.1.3.min.js"></script>
    <script src="/wisdom/swipe/swipeJs/swiper.min.js"></script>
    <script src="/wisdom/swipe/swipeJs/swiper.animate.min.js"></script>
   <!-- <script src="/wisdom/swipe/swipeJs/swiperMain.js"></script>-->


    <style>

    </style>
</head>

<body><!--onload="swipeUmbrella()"-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-------------slide1----------------->
        <section class="swiper-slide swiper-slide1 tc">
            <img width="85%" height="auto" src="/wisdom/swipe/img/page1_01.png"  class="ani resize"  swiper-animate-effect="zoomInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page1_02.png"  class="ani resize"  swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page1_03.png"  class="ani resize"  swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.0s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page1_04.png"  class="ani resize"  swiper-animate-effect="fadeInUp" swiper-animate-duration="1.5s" swiper-animate-delay="3.0s"  >
            <img onclick="showPage()" width="85%" height="auto" src="/wisdom/swipe/img/page1_05.png" class="ani resize"  swiper-animate-effect="rollIn " swiper-animate-duration="0.5s" swiper-animate-delay="4.0s"  >
        </section>
        <!---------------slide2-------------->
        <section class="swiper-slide swiper-slide2">
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_01.png" class="ani resize"  swiper-animate-effect="bounce" swiper-animate-duration="0.5s" swiper-animate-delay="0s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_02.png" class="ani resize"  swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_03.png" class="ani resize"  swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.3s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_04.png" class="ani resize"  swiper-animate-effect="zoomInUp" swiper-animate-duration="1.5s" swiper-animate-delay="2.0s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_05.png" class="ani resize"  swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="3.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page2_06.png" class="ani resize"  swiper-animate-effect="swing" swiper-animate-duration="0.5s" swiper-animate-delay="4.0s"  >
        </section>
        <!----------------slide3-------------->
        <section class="swiper-slide swiper-slide3">

            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_01.png" class="ani resize"  swiper-animate-effect="bounce" swiper-animate-duration="0.5s" swiper-animate-delay="0s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_02.png" class="ani resize"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_03.png" class="ani resize"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_04.png" class="ani resize"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.1s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_05.png" class="ani resize"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page3_06.png" class="ani resize"  swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="2.0s"   >
            <img onclick="showPage()" width="85%" height="auto" src="/wisdom/swipe/img/page3_07.png" class="ani resize"  swiper-animate-effect="swing " swiper-animate-duration="0.5s" swiper-animate-delay="3.0s"   >


        </section>
        <!-------------slide4----------------->
        <section class="swiper-slide swiper-slide4">
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_01.png" class="ani resize"   swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_02.png"  class="ani resize"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_03.png"  class="ani resize"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_04.png"  class="ani resize"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="1.1s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_05.png"  class="ani resize"  swiper-animate-effect="fadeInLeftBig" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page4_06.png"  class="ani resize"  swiper-animate-effect="swing " swiper-animate-duration="0.5s" swiper-animate-delay="2.0s"  >
        </section>
        <!-------------slide4----------------->
        <section class="swiper-slide swiper-slide5">
            <img width="85%" height="auto" src="/wisdom/swipe/img/page5_01.png" class="ani resize"   swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page5_02.png"  class="ani resize"  swiper-animate-effect="zoomIn" swiper-animate-duration="1.0s" swiper-animate-delay="0.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page5_03.png"  class="ani resize"  swiper-animate-effect="zoomInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s"  >
        </section>
        <!-------------slide4----------------->
        <section class="swiper-slide swiper-slide6">
            <img width="85%" height="auto" src="/wisdom/swipe/img/page6_01.png" class="ani resize"  swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"   >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page6_02.png"  class="ani resize"  swiper-animate-effect="zoomInUp" swiper-animate-duration="1.0s" swiper-animate-delay="0.5s"  >
            <img width="85%" height="auto" src="/wisdom/swipe/img/page6_03.png"  class="ani resize"  swiper-animate-effect="swing " swiper-animate-duration="0.5s" swiper-animate-delay="1.5s"  >
        </section>

    </div>

    <img src="/wisdom/swipe/images/arrow.png" style="width:20px;height:15px; top:460px; left:150px;" id="array" class="resize">
    <div class="swiper-pagination"></div>
</div>


<script>
    $(document).ready(function() {
        // do stuff when DOM is ready
        scaleW=window.innerWidth/320;
        scaleH=window.innerHeight/480;
        var resizes = document.querySelectorAll('.resize');
        for (var j=0; j<resizes.length; j++) {
            resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
            resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
            resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
            resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px';
        }

        var mySwiper = new Swiper ('.swiper-container', {
            initialSlide:0,
            direction : 'vertical',/*horizontal*/
            pagination: '.swiper-pagination',
            //virtualTranslate : true,
            mousewheelControl : true,
            onInit: function(swiper){
                swiperAnimateCache(swiper);
                swiperAnimate(swiper);
            },
            onSlideChangeEnd: function(swiper){
                swiperAnimate(swiper);
                /* console.log("num "+mySwiper.activeIndex);*/
            },
            onTransitionEnd: function(swiper){
                swiperAnimate(swiper);
            },


            watchSlidesProgress: true,

            onProgress: function(swiper){
                for (var i = 0; i < swiper.slides.length; i++){
                    var slide = swiper.slides[i];
                    var progress = slide.progress;
                    var translate = progress*swiper.height/4;
                    scale = 1 - Math.min(Math.abs(progress * 0.5), 1);
                    var opacity = 1 - Math.min(Math.abs(progress/2),0.5);
                    slide.style.opacity = opacity;
                    es = slide.style;
                    es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,'+translate+'px,-'+translate+'px) scaleY(' + scale + ')';

                }
            },

            onSetTransition: function(swiper, speed) {
                for (var i = 0; i < swiper.slides.length; i++){
                    es = swiper.slides[i].style;
                    es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';

                }
            },



        })
        var showPage=function(){
            alert(mySwiper.activeIndex);
        }
    });



</script>
</body>
</html>
