.nonDoctor{
  width:133px;
  height:91px;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/myDoctor/bg.png")no-repeat;
  background-size: 100% 100%;
  margin:0 auto;
  margin-top:94px;
}


.top{
  width:100%;
  height:44px;
  color:#000;
  font-size:12px;
  text-align: center;
  line-height: 44px;
  background:url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/myDoctor/bgd.jpg")no-repeat center center;
}
.doctorList{
  width:92%;
  margin:0 auto;
}
.doctorList li{
  width:100%;
  height:107px;
  background:#fff;
  margin-bottom:10px;
  border-radius: 5px;
  padding-top:10px;
}
.doctorList li .left{
  width:26%;
  height:97px;
  float:left;
  text-align: center
}
.doctorList li .left span{
  display: block;
  width:50px;
  height:50px;
  border-radius: 50%;
  border:solid 2px #02cfdc;
  margin:0 auto;
  overflow: hidden;
}
.doctorList li .left span img{
  width:100%;
  height:100%;
}
.doctorList li .left .time{
  width:100%;
  height:34px;
  font-size:10px;
  color:#666;
  text-align: center;
  line-height: 34px;
  margin-top:12px;
}


.doctorList li .right{
  width:74%;
  float:right;
  padding-right:20px;
}
.doctorList li .right .doctorDetail{
  width:100%;
  height:60px;
  border-bottom:solid 1px #eee;
}
.doctorList li .right .doctorDetail .nameDetail{
  width:100%;
  height:20px;
  font-size:10px;
  color:#666;

}
.doctorList li .right .doctorDetail .nameDetail span{
  margin-right:12px;
}
.doctorList li .right .doctorDetail .nameDetail .name{
  font-size:12px;
  color:#000;
  font-weight: bold;
}
.doctorList li .right .doctorDetail .help{
  display:inline-block;
  width:49%;
  line-height: 38px;
  font-size: 10px;
  color:#666;

}
.doctorList li .right .doctorDetail .help img{
  margin-right: 10px;
  width: 14px;
  vertical-align:middle;
}
.doctorList li .right .bottom{
  width:100%;
  height:36px;
}
.doctorList li .right .bottom span{
  display: block;
  width:65px;
  height:21px;
  background:#02cfdc;
  font-size:9px;
  color:#fff;
  border-radius: 5px;
  float:right;
  margin-top:7px;
  text-align: center;
  margin-right:15px;
}


