.nonTimeUserDoctorList{

}
.nonTimeUserDoctorList .doctor-list {
  padding: 12px 0;
}
.nonTimeUserDoctorList .doctor-information {
  background: url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_03.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-size: 10px;
  margin:0 12px 12px;
  padding: 10px;
}
.nonTimeUserDoctorList .doctor-information .top {
  overflow: hidden;
}
.nonTimeUserDoctorList .doctor-information .top span {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.nonTimeUserDoctorList .doctor-information .top .head-portrait {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  margin: 9px 16px;
}
.nonTimeUserDoctorList .doctor-information .top .head-portrait .pos{
  position: absolute;
  top: -10px;
  left: 12px;
}
.nonTimeUserDoctorList .doctor-information .top span:nth-child(2){
  font-size: 14px;
  margin-right: 10px;
}
.nonTimeUserDoctorList .doctor-information .top span:nth-child(5){
  margin-top: 10px;
  height: 20px;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nonTimeUserDoctorList .doctor-information .line {
  border-bottom: 1px solid #F5F5F5;width: 90%;
  margin: 10px auto 0;
}
.nonTimeUserDoctorList .doctor-information .bottom {
  overflow: hidden;
  padding-top: 10px;
}
.nonTimeUserDoctorList .doctor-information .bottom span img {
  margin-right: 10px;
  width: 20px;
}
.nonTimeUserDoctorList .doctor-information .bottom span {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  font-size: 11px;
  color: #666;
  line-height: 20px;
  box-sizing: border-box;
}

.nonTimeUserDoctorList .doctor-information .bottom span:nth-child(1){
  border-right: 1px solid #666;
}