.nonTimeUserFirstConsult {
  
}
.nonTimeUserFirstConsult .information {
  margin: 5px 10px;
  font-size: 12px;
  color: #333;
}

.nonTimeUserFirstConsult .content{
  padding: 10px;
  background: url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fc_03.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.nonTimeUserFirstConsult .content .line {
  border-bottom: 1px dashed #ccc;
  height: 0;
  margin: 0 10px;
}
.nonTimeUserFirstConsult .content .content-title {
  overflow: hidden;
  margin-bottom: 7px;
}
.nonTimeUserFirstConsult .content .content-title .sex {
  font-size: 12px;
  line-height: 34px;
  color : #999;
  float: left;
  margin-left: 10px;
}
.nonTimeUserFirstConsult .content .content-title .sex div {
  float: right;
  box-sizing: border-box;
  width: 44px;
  line-height: 22px;
  text-align: center;
  color: #02CFDC;
  border-radius: 5px;
  border:1px solid #02CFDC;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
}
.nonTimeUserFirstConsult .content .content-title .sex div:nth-child(1){
  margin-left: -10px;
}
.nonTimeUserFirstConsult .content .content-title .birth{
  font-size: 12px;
  color : #999;
  line-height: 34px;
  float: right;
}
.nonTimeUserFirstConsult .content .content-title .birth input {
  float: right;
  background-color: #fff;
  width: 80px;
  margin-left: 22px;
}
.nonTimeUserFirstConsult .content .content-middle{
  //background: url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fc_07.png) 0 0 no-repeat;
}
textarea {
  overflow: auto;
  word-break: break-all;
  width: 100%;
  min-height: 170px;
  line-height: 25px;
  box-sizing: border-box;
  border: none;
  vertical-align: top;
  resize: none;
  margin: 10px 5px 0;
  display:inline-block;
  background: url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fc_07.png) bottom right no-repeat;
}
.nonTimeUserFirstConsult .content .content-bottom .add-photo {
  overflow: hidden;
}
.nonTimeUserFirstConsult .content .content-bottom .add-photo .add {
  width: 62px;
  height: 62px;
  padding: 12px;
  background-color: #fff;
  float: left;
}
.nonTimeUserFirstConsult .content .content-bottom .add-photo .add img {

}

.nonTimeUserFirstConsult .content .content-bottom .add-photo .describe{
  float: left;
  margin-top: 20px;
}
.nonTimeUserFirstConsult .content .content-bottom .add-photo .describe span {
  display: block;
  font-size: 11px;
  color: #999;

}
.nonTimeUserFirstConsult .content .content-bottom .photo-list {
  overflow: hidden;
  padding-top: 10px;
}
.nonTimeUserFirstConsult .content .content-bottom .photo-list li {
  width: 16%;
  margin-left: 10px;
  float: left;
  position: relative;
}

.nonTimeUserFirstConsult .content .content-bottom .photo-list li .del {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
}
.nonTimeUserFirstConsult .bottom {
  background-color: #fff;
  padding: 7px 0;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.nonTimeUserFirstConsult .bottom .submit{
  background-color: #53D4DD;
  width: 90%;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  color:#fff;
  border-radius: 5px;
}