.nonTimeUserFindDoctor{

}
.nonTimeUserFindDoctor .search {
  font-size: 11px;
  padding: 7px 12px;
  background-color: #f9f9f9;
  color: #333;
  line-height: 25px;
}

.nonTimeUserFindDoctor .department-list {
  overflow: hidden;
  background-color: #fff;
}
.nonTimeUserFindDoctor .department-list ul li {
  float: left;
  width: 25%;
  height: 105px;
}
.nonTimeUserFindDoctor .department-list ul li span {
  display: block;
  font-size: 10px;
  color: #333;
  text-align: center;
  margin-top: 10px;
  border-left: 1px solid #cccccc;
}
.nonTimeUserFindDoctor .department-list ul li span:nth-child(2){
  margin: 0 0 10px 0;
  padding-top: 10px;
}
.nonTimeUserFindDoctor .department-list ul li:nth-child(1) span,
.nonTimeUserFindDoctor .department-list ul li:nth-child(5) span,
.nonTimeUserFindDoctor .department-list ul li:nth-child(1) span{
  border: none;
}
.nonTimeUserFindDoctor .department-list ul li span .more {
  margin-top: 24px;
}
.nonTimeUserFindDoctor .doctor-list {
  background-color: #fff;
  padding: 12px 0;
}
.nonTimeUserFindDoctor .doctor-information {
  background: url(http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult%2Fuser%2Fa_03.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  font-size: 10px;
  margin:0 12px 12px;
  padding: 10px;
}
.nonTimeUserFindDoctor .doctor-information .top {
  overflow: hidden;
}
.nonTimeUserFindDoctor .doctor-information .top span {
  display: inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}
.nonTimeUserFindDoctor .doctor-information .top .head-portrait {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  margin: 9px 16px;
}
.nonTimeUserFindDoctor .doctor-information .top .head-portrait .pos{
  position: absolute;
  top: -10px;
  left: 12px;
}
.nonTimeUserFindDoctor .doctor-information .top span:nth-child(2){
  font-size: 14px;
  margin-right: 10px;
}
.nonTimeUserFindDoctor .doctor-information .top span:nth-child(5){
  margin-top: 10px;
}
.nonTimeUserFindDoctor .doctor-information .line {
  border-bottom: 1px solid #F5F5F5;width: 90%;
  margin: 10px auto 0;
}
.nonTimeUserFindDoctor .doctor-information .bottom {
  overflow: hidden;
  padding-top: 10px;
}
.nonTimeUserFindDoctor .doctor-information .bottom span img {
  margin-right: 10px;
  width: 20px;
}
.nonTimeUserFindDoctor .doctor-information .bottom span {
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  font-size: 11px;
  color: #666;
  line-height: 20px;
  box-sizing: border-box;
}

.nonTimeUserFindDoctor .doctor-information .bottom span:nth-child(1){
  border-right: 1px solid #666;
}