<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.sys.dao.DoctorRecommendDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.sys.entity.DoctorRecommend" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="recommender" property="recommender" jdbcType="VARCHAR" />
    <result column="recommended" property="recommended" jdbcType="VARCHAR" />
    <result column="recommend_reason" property="recommendReason" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, recommender, recommended, recommend_reason, comments, created_date, updated_date,
    created_by
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_recommend_doctor
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_recommend_doctor
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.sys.entity.DoctorRecommend" >
    insert into sys_recommend_doctor (id, recommender, recommended,
      recommend_reason, comments, created_date,
      updated_date, created_by)
    values (#{id,jdbcType=VARCHAR}, #{recommender,jdbcType=VARCHAR}, #{recommended,jdbcType=VARCHAR},
      #{recommendReason,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP},
      #{updatedDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.sys.entity.DoctorRecommend" >
    insert into sys_recommend_doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recommender != null" >
        recommender,
      </if>
      <if test="recommended != null" >
        recommended,
      </if>
      <if test="recommendReason != null" >
        recommend_reason,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recommender != null" >
        #{recommender,jdbcType=VARCHAR},
      </if>
      <if test="recommended != null" >
        #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="recommendReason != null" >
        #{recommendReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.sys.entity.DoctorRecommend" >
    update sys_recommend_doctor
    <set >
      <if test="recommender != null" >
        recommender = #{recommender,jdbcType=VARCHAR},
      </if>
      <if test="recommended != null" >
        recommended = #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="recommendReason != null" >
        recommend_reason = #{recommendReason,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.sys.entity.DoctorRecommend" >
    update sys_recommend_doctor
    set recommender = #{recommender,jdbcType=VARCHAR},
      recommended = #{recommended,jdbcType=VARCHAR},
      recommend_reason = #{recommendReason,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>