<ion-view view-title={{title}} >
	<ion-spinner ng-show="dataLoading" class="loadPic"></ion-spinner>
	<ion-content class="feedback"   overflow-scroll="true" style="top:0px;">
		<div class="check-box">
			<div class="produce">
				<div class="checked" ng-click="checked('produce')">
					<div class="point" ng-show="info.produce"></div>
				</div>
				提供产品反馈
			</div>
			<div class="error">
				<div class="checked" ng-click="checked('error')">
					<div class="point" ng-show="info.error"></div>
				</div>
				错误报告
			</div>
		</div>
		<div class="input">
			<textarea  ng-model="info.feedback"  ng-minlength="1" maxlength="200" placeholder="我们期待听到您的声音，您的宝贵意见是我们不断进步的源泉！"></textarea>
		</div>
		<div class="btn">
			<button class="button foot-btn" ng-disabled="(info.feedback==null)||(info.feedback.length==0)" ng-click="submitAdvice()">提交反馈</button>
		</div>
	</ion-content>
</ion-view>

