.story2016Index{

}
.story2016Index .swiper-container{
  height:100%;
}
.story2016Index  .swiper-pagination-bullet-active {
  background: #8ef7c4;
}
.remind-arr{
  position: absolute;
  right:10px;
  bottom:10px;
}
.story2016Index .swiper-wrapper{
  padding-top:5%;
  position: relative;
}
.story2016Index .c11{
  color:#1aab64;
}
.story2016Index .c12{
  color:#4881a5;
}
.story2016Index .c13{
  color:#82418d;
}
.story2016Index .c14{
  color:#ba4068;
}
.story2016Index .c15{
  color:#f3b511;
}
.story2016Index .c16{
  color:#5272d2;
}
.story2016Index .c17{
   color:#1aab64;
 }
.story2016Index .c18{
  color:#f87282;
  font-weight: bold;
}
.story2016Index .c19{
  color:#64a8fb;
  font-size:28px;
  font-weight: bold;
}
.story2016Index .c20{
  color:#fb6492;
  font-size:22px;
  font-weight: bold;
}
.story2016Index .pic-list .ani{
  position: absolute;
}
.story2016Index .pic-list .date{
  position: absolute;
  top:10%;
  left:15%;
  font-size: 20px;
}

.story2016Index .pic-list .effect2{
  top:17%;
  left:15%;
}
.story2016Index .pic-list .effect3{
  top:27%;
  left:15%;
  font-size:30px;
}
.story2016Index .pic-list .effect4{
  top:18%;
  left:15%;
}
.story2016Index .pic-list .effect5{
  top:22%;
  left:15%;
}
.story2016Index .pic-list .effect5{
  top:26%;
  right:13%;
  text-align: right;
}
.story2016Index .pic-list .effect6{
  top:22%;
  left:15%;
}
.story2016Index .pic-list .story71{
  top:19%;
  left:25%;
}
.story2016Index .pic-list .story72{
  top:26%;
  left:15%;
}
.story2016Index .pic-list .effect7{
  top:19%;
  left:15%;
}
