.story2016Index{
  font-size:62.5%;
}
.story2016Index .swiper-container{
  height:100%;
}
.story2016Index  .swiper-pagination-bullet-active {
  background: #8ef7c4;
}
.remind-arr{
  position: absolute;
  right:10px;
  bottom:10px;
}
.story2016Index .swiper-wrapper{
  padding-top:5%;
  position: relative;
}
.story2016Index .c11{
  color:#1aab64;
}
.story2016Index .c12{
  color:#4881a5;
}
.story2016Index .c13{
  color:#82418d;
}
.story2016Index .c14{
  color:#ba4068;
}
.story2016Index .c15{
  color:#f3b511;
}
.story2016Index .c16{
  color:#5272d2;
}
.story2016Index .c17{
   color:#1aab64;
 }
.story2016Index .c18{
  color:#f87282;
  font-weight: bold;
  font-size:3.0em;
}
.story2016Index .c19{
  color:#64a8fb;
  font-size:3em;
  font-weight: bold;
}
.story2016Index .c20{
  color:#fb6492;
  font-size:2em;
  font-weight: bold;
}
.story2016Index .pic-list .ani{
  position: absolute;
}
.story2016Index .pic-list .date{
  position: absolute;
  font-size: 2.0em;
}
.story2016Index .pic-list .nickname{
  position: absolute;
  font-weight: 400;
  letter-spacing:2px;
}
.story2016Index .pic-list .total{
  position: absolute;
  font-weight: 400;
  color:#afabe0;
  font-size:1.2em;
}



