.loadPic {
  fill: #ffa2a2;
  stroke: #ffa2a2;
  color: #ffa2a2!important;
}
.s-sha{
  position:absolute;
  left:0;
  top:63px;
  z-index: 3;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.top-search{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:63px;
  z-index:3;
  padding:10px 0;
}
.top-search .home{
  position: absolute;
  left:10px;
  top:20px;
  font-size:16px;
  color:#333;
}
.top-search input{
  border-radius:5px;
  border:1px solid #ffd6d6;
  padding:10px 8px 10px 30px;
  width:70%;
  margin:0 0 0 15%; ;
  font-size:16px;
  color:#666;
  height:40px;
}
.top-search .a-sear{
  position: absolute;
  top:20px;
  left:15%;
  margin-left:6px;
}
.top-search .sear-word{
  position:absolute;
  left:85%;
  top:10px;
  display: inline-block;
  background-color: #ffa2a2;
  width:50px;
  height:40px;
  text-align: center;
  padding:10px 8px;
  border-radius:0 5px 5px 0;
  margin-left:-4px;
  font-size:16px;
  color:#fff;
}
.saidFirst .box1{

}
.saidFirst .box1 h3{
  margin:0 15px;
  font-size:18px;
  color:#fe717b;
  font-weight:500;
  padding:15px 0;
}
.saidFirst .box1 h3 img{
  vertical-align: middle;
  margin-top:-3px;
}
.saidFirst .theme ul{
  white-space: normal;
  width:100%;
  background-color: #ffa2a2;
  padding:10px 0 10px;
}
.saidFirst .theme li{
  display: inline-block;
  margin:12.5px 0 ;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width:25%;
}
.saidFirst .theme li a{
  width:90%;
  color:#ffa2a2;
  padding:8px 12px;
  border-radius:15px;
  text-align: center;
  font-size:12px;
  background-color: #fff;
}
.saidFirst .theme li img{
  vertical-align: middle;
  /*margin-left:1px;*/
  position: absolute;
  top:5px;
  right:-0.7px;

}
.a-list{
  position:relative;
 /* padding:0 10px;*/
 /* background-color: #fff;*/


}
.a-list .item{
  border:none;
  /*border-bottom: 1px solid #ffd6d6;*/
  margin-bottom:10px;
  background-color: #fff;


}
.a-list h2{
  white-space: normal;
}
.a-list h2 img{
  vertical-align: top;
  margin-top:2px;
}
.a-list p.summary{
  white-space: normal;
}
.a-list p.tag{
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  width:66%;
}
.a-list p.tag span{
  font-size:11px;
  padding:0;
  color:#666;
}
.a-list p.tag span img{
  vertical-align: middle;
}