.questions .scroll-content {
  background: #f1f4f5;
  top:44px;
}
.questions .card{
  border-radius:10px;
}
.questions .item{
  margin-bottom:0px;
  padding-right:20px;
  position:relative;
}
.questions .item i{
  font-weight:700;
  font-size:24px;
  color:#999;
  position: absolute;
  right:0px;
  top:8px;

}
.questions .item-head{
  color:#333;
  font-size:15px;
  font-weight:500;
  white-space: normal;
  padding-right:10px;

}
.questions .content{
  color:#999;
  font-size:13px;
  white-space: normal;
  padding-left:23px;
  display:none;
  margin-top: 10px;
  margin-bottom:10px;
}
.questions .content p{
  white-space: normal;
  line-height:20px;
}