.userEvaluate .pic{
  text-align: center;
  margin-top:38px;
}
.userEvaluate .pic img{
  margin-bottom: 18px;
}
.userEvaluate .pic p{
  color: #88d9dd;
  font-size: 18px;
}
.userEvaluate .list{
  margin-top:38px;
}
.userEvaluate .list .item{
  padding:16px 10px;
}
.userEvaluate .list span{
  color:#88d9dd;
  font-size: 16px;

}
.userEvaluate .star-list1,.userEvaluate  .star-list2,.userEvaluate .star-list3{
  display: inline-block;
  float: right;
}
.userEvaluate .list  img{
  vertical-align: middle;
  margin-top:-2px;

}
.userEvaluate textarea{
  margin-left:5%;
  padding:8px;
  width:90%;
  height:125px;
  background-color: #fff;
  color:#ccc;
  font-size:13px;
  border-radius: 5px;
  resize:none;
}
.userEvaluate .foot-btn{
  margin-top:30px;
}