body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
body {
  font-family: '微软雅黑';
}

a{
  text-decoration: none;
}
ul,li,dl,dd{
  list-style: none;
}

.healthPlanFirstPage-weChat {
  background-color: #fff;
  height:100%;
  width:100%;
  overflow-x: hidden;
}

.healthPlanFirstPage-weChat .my-img-block{
  display: block;
}
.healthPlanFirstPage-weChat .manage-list{
  margin:0;
}
.healthPlanFirstPage-weChat .manage-list dd{
  position: relative;
}
.healthPlanFirstPage-weChat .manage-list dd  .add-text{
  position: absolute;
  width:100%;
  top:28%;
  text-align: center;
  color:#fff;
  font-size:18px;
  z-index:2;
}
.healthPlanFirstPage-weChat .manage-list dd .add-pic{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  padding-top:90px;
  text-align: center;
  z-index:3;
  background-color: transparent;
}
.healthPlanFirstPage-weChat dd .add img{
  display: block;
  margin:15px auto 0;
}
.healthPlanFirstPage-weChat dd .enter-manage{
  position: absolute;
  width:100%;
  top:28%;
  left:0;
  margin-top:45px;
  text-align: center;
  display: none;
}
.healthPlanFirstPage-weChat dd .enter-manage a{
  display: inline-block;
  width:85px;
  height:25px;
  line-height:25px;
  color:#fff;
  font-size: 13px;
  border-radius: 5px;
  border:1px solid #fff;
}
.healthPlanFirstPage-weChat  .add-detail{
  position: absolute;
  width:100%;
  bottom:0;
  z-index:3;
  background-color: #fff;
  display: none;
  box-shadow: 0 -3px 5px #ccc;
}
.healthPlanFirstPage-weChat .add-detail ul{
  width:86%;
  margin:40px auto;
}
.healthPlanFirstPage-weChat  .add-detail li{
  font-size:17px;
  color:#666;
}
.healthPlanFirstPage-weChat  .add-detail li:first-of-type{
  margin-bottom:22.5px;
}
.healthPlanFirstPage-weChat  .add-detail li span{
  display: inline-block;
  width:15px;
  height:15px;
  line-height:15px;
  text-align: center;
  border-radius: 50%;
  border:1px solid #666;
  font-size:12px;

}
.healthPlanFirstPage-weChat  .add-detail .tag{
  width:86%;
  margin:0 auto 40px;
}
.healthPlanFirstPage-weChat .add-detail .tag span{
  display: inline-block;
  font-size:14px;
  color:#666;
}
.healthPlanFirstPage-weChat .add-detail .tag span:first-of-type,
.healthPlanFirstPage-weChat .add-detail .tag span:nth-of-type(2){
  margin-bottom:22.5px;
}
.healthPlanFirstPage-weChat .add-detail .tag span:nth-of-type(1),
.healthPlanFirstPage-weChat .add-detail .tag span:nth-of-type(3){
  margin-right:60px;
}
.healthPlanFirstPage-weChat .add-detail .foot-btn{
  width:86%;
  margin:0 7% 15px 7%;
  background-color: #fe717b;

}


