.momNutritionTest{
  background-color: #fffde5;
}
.momNutritionTest .intro{
  text-align: center;
  margin:22.5px auto 20px;
}
.momNutritionTest .intro h3{
  color:#ff739e;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 24px;
}
.momNutritionTest .intro p{
  color:#666;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 24px;
}
.momNutritionTest .test-list{
  margin:0 17.5px;
}
.momNutritionTest .test-list .test{
  margin-bottom:20px;
}
.momNutritionTest .test-list .test:last-of-type{
  margin-bottom:0;
}
.momNutritionTest  .test dl{
  border-left:1px solid #f0f0f0;
  border-right:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
  margin-bottom: 0;
  background-color: #fff;

}
.momNutritionTest  .test dt{
  font-weight: normal;
  color:#333;
  font-size: 15px;
  padding:10px;
}
.momNutritionTest  .test dd{
  color:#666;
  font-size: 14px;
  padding:10px;
  border-top:1px solid #f0f0f0;
}

.momNutritionTest  .test dd.cur{
  color:#fff;
  background-color: #ff9bba;
}
.momNutritionTest .result{
  text-align: center;
  margin:25px auto;
}
.momNutritionTest .result a{
  display: inline-block;
  width:218px;
  height:43px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fbtn_result1.png") no-repeat;
  background-size: 100% 100%;
}
.momNutritionTest .result a.activated{
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fbtn_result2.png") no-repeat;
  background-size: 100% 100%;
}
.momNutritionTest .info{
  margin:0 17.5px 12.5px;
  border-radius:10px;
  border:1px dashed #ccc;
  background-color: #fff;
  padding:25px 17.5px;

}
.momNutritionTest .bao-code{
  overflow: hidden;
  position: relative;
  padding:0;

}
.momNutritionTest .bao-code .pic{
  position: absolute;
  left:17.5px;
  top:25px;
  margin-right:17.5px;

}
.momNutritionTest .bao-code .text{
  float: right;
  color:#333;
  font-size: 12px;
}
.momNutritionTest .bao-code .text span{
  color:#ff5c6b;
}
.momNutritionTest .prize{

}
.momNutritionTest .prize dt{
  font-size: 14px;
  color:#333;
  margin-bottom: 25px;
}
.momNutritionTest .prize dd{
  position: relative;
  font-size: 13px;
  color:#666;
  margin-bottom:15px;
  padding-left:54px;
}
.momNutritionTest .prize dd:last-of-type{
  margin-bottom: 0;
}
.momNutritionTest .prize .rank{
  position: absolute;
  left:0;
  top:0;

}
.momNutritionTest .prize .num{
  float: right;
  color:#ff5c6b;
}