.remind-box{
  position: absolute;
  width:100%;
  z-index:4;
  top:50%;
}
.remind-box.result1{
  margin-top:-250px;
}
.remind-box.share1{
  margin-top:-200px;
}
.remind-box .arrow{
  position: absolute;
  top:5px;
  right:15px;
}
.remind-box .text{
  position: relative;
  width:86%;
  margin:95px auto 0;
  border-radius: 10px;
  background-color: #fff;
  padding:64px 0 72.5px 0;
  text-align: center;
}
.remind-box .text .pic{
  position: absolute;
  top:-30px;
  left:50%;
  margin-left:-34px;
}
.remind-box .text p{
  font-size: 13px;
  color:#333;
  text-align: center;
  line-height: 24px;
  margin-bottom: 0;
}
.remind-box .cancel{
  position: absolute;
  right:10%;
}
.remind-box .cancel span{
  position: absolute;
  top:0;
  right:0;
  display: inline-block;
  width:1px;
  height:60px;
  background-color: #fff;
  margin-right:35px;
}
.remind-box .cancel img{
  position: absolute;
  top:60px;
  right:0;
  margin-right:20px;
}
.remind-box.result1 .text{
  padding:34px 0 15px;
}
.remind-box .text .code{
  margin:15px auto;
  border:2px solid #ff4f66;
}
.momNutritionResult{
  background-color: #fff;
}
.momNutritionResult .top{
  position: relative;
}
.momNutritionResult .top .text{
  position: absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#fff;
  font-size:14px;
  margin-top:-135px;
}
.momNutritionResult .top h3{
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color:#fff;
  margin-bottom: 10px;
}
.momNutritionResult .top .text div{
  margin-bottom:8px;
}
.momNutritionResult .top .text div:first-of-type{
  font-size: 16px;
}
.momNutritionResult .top .text p{
  font-size: 12px;
  color:#666;
  padding:8px 10px;
 /* border:1px dashed #fff;*/
  border-radius: 35px;
  margin:15px 15px 0;
  text-align: center;
  background-color: #fff;
}
.momNutritionResult .top .text p span{
  color:#ff4f66;
}
.momNutritionResult .attention{
  text-align: center;
}
.momNutritionResult .attention img{
  margin:10px 17.5px;
  border:2px solid #ff4f66;
}
.momNutritionResult .attention .text{
 font-size: 13px;
  color:#666;
}
.momNutritionResult .attention .text p{
  margin:10px auto 0;
  font-size: 12px;
  color:#999;
  line-height: 24px;
}
.momNutritionResult .two-btn{
  margin:25px auto 30px;
  text-align: center;
}
.momNutritionResult .two-btn a{
  display: inline-block;
  width:119px;
  height:33px;
  line-height:33px;
  color:#fff;
  font-size: 14px;
  text-align: center;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fbtn_bg.png") no-repeat;
  background-size: 100% 100%;
}
.momNutritionResult .share a.activated{
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fbtn_bg.png") no-repeat;
  background-size: 100% 100%;
}
.momNutritionResult .two-btn a:first-of-type{
  margin-right:37.5px;
}
.momNutritionResult .info{
  margin:0 17.5px;
  border-radius:10px;
  border:1px dashed #ccc;
  background-color: #fff;
  padding:10px 12.5px;

}
.momNutritionResult .info dl{
  margin-bottom: 0;
}
.momNutritionResult .info dt{
  font-weight: normal;
  font-size: 14px;
  color:#333;
  margin-bottom: 10px;
}
.momNutritionResult .info dd{
  font-size: 12px;
  color:#666;
  margin-bottom: 10px;
}
.momNutritionResult .info dd:last-of-type{
  margin-bottom: 0;
}

