.baby-photo{
  position: fixed!important;
  top:0;
  left:0;
  z-index:2;
}
 .search-photo{
  position: absolute;
  top:25px;
  width:100%;
   z-index:5;
}
.search-photo .search2{
  position: absolute;
  right:0;
}
.search-photo .update-photo{
  width:100%;
  position: absolute;
  top:100px;
  text-align: center;
}
.search-photo .update-photo a{
  color:#fff;
  font-size:12px;
}
.update-photo2{
  width:100%;
  position:fixed;
  top:-130px;
  text-align: center;
}
 .update-photo2 a{
  color:#fff;
  font-size:12px;
}
.knowledgeFirstPage .scroll-view.ionic-scroll {
  z-index:4;
}
.knowledgeFirstPage{
  background-color: #ffffe4;
  width:100%;
  top:0;
  overflow:auto;
  overflow-x: hidden;
  height:100%
}
.knowledgeFirstPage::-webkit-scrollbar {
  width:0;
  height:0;

}
.knowledgeFirstPage .content{
  margin:-40px 10px 100px;
}
.knowledgeFirstPage img{
  vertical-align: middle;
  margin-top:-3px;
}
.knowledgeFirstPage h3{
  font-weight: normal;
  margin-bottom:0;
}
.knowledgeFirstPage .babyInfo{
  background-color: #ff7f95;
  padding:10px 0;
  color:#fff;
  border-radius: 8px;
}
.knowledgeFirstPage .babyInfo ul{
  width:70%;
  overflow: hidden;
  margin:0 auto;
}
.knowledgeFirstPage .babyInfo  .font-c1{
  font-size:16px;
  color:#fff;

}
.knowledgeFirstPage .babyInfo  .font-c2{
  font-size:14px;
  margin-top:35px;
}
.knowledgeFirstPage .babyInfo  li span{
  float: left;
  width:50%;
  height:24px;
  line-height:24px;
  text-align: center;
  position: relative;
}
.knowledgeFirstPage .babyInfo  li a {
  display: inline-block;
  width:1px;
  height:12px;
  overflow: hidden;
  position: absolute;
  right:0;
  top:6px;
  background-color: #fff;
}
.knowledgeFirstPage .babyInfo span input{
  width:100%;
  background:none;
  color:#fff;
  position: absolute;
  z-index:5;
  opacity:0;
  filter:alpha(opacity=0);
  top:0;
  left:0;
}
.knowledgeFirstPage .babyInfo img{
  vertical-align:middle;
  margin-top: -3px;
}
.knowledgeFirstPage .remind{
  margin:10px 0 0;
}
.knowledgeFirstPage .remind h3{
  position: relative;
  background-color: #88d9dd;
  padding:12px 10px;
  color:#fff;
  font-size:14px;
  border-radius: 8px 8px 0 0 ;
}
.knowledgeFirstPage .remind h3 img{
  margin-top:-5px;
}
.knowledgeFirstPage .remind .more{
  float: right;
  font-size:12px;
  color:#fff;
  margin-right:10px;
}
.knowledgeFirstPage .remind ul{
  background-color: #fff;
  padding:15px 5px 15px 35px;
  border-radius:0 0 8px 8px  ;
}
.knowledgeFirstPage .remind li{
  font-size:14px;
  color:#666;
  margin-bottom:10px;
  position: relative;
}
.knowledgeFirstPage .remind li .cir{
  position: absolute;
  width:6px;
  height:6px;
  background-color: #88d9dd;
  border-radius: 50%;
  vertical-align: middle;
  top:6px;
  left:-20px;
}
.knowledgeFirstPage .remind li i{
  color:#88d9dd;
  font-size:20px;
  position: absolute;
  right:15px;
  top:0;
}
.knowledgeFirstPage .remind li:last-child{
  margin-bottom:0;
}

.knowledgeFirstPage .today{
  margin:10px 0;

}
.knowledgeFirstPage .today h3{
  padding:15px 10px;
  color:#ffa2a2;
  font-size:15px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}
.knowledgeFirstPage .today h3 .line{
  display: inline-block;
  width:3px;
  height:15px;
  background-color: #ffa2a2;
  vertical-align: middle;
  margin-top:-3px;
  margin-right:1px;
}
.knowledgeFirstPage .today ul{
  background-color: #fff;
  padding:0 10px;
  margin-bottom:0;
  border-radius: 0 0 8px 8px ;

}
.knowledgeFirstPage .today ul .jingMore{
  float: right;
  color:#88d9dd;
  font-size:14px;
  margin-top:20px;
}
.knowledgeFirstPage .today li{
  padding:10px 0 5px;
  border-top: 1px solid #f0f0f0;
}
.knowledgeFirstPage .today li:first-child{
  border-top: 1px solid #ffa2a2;
}
.knowledgeFirstPage .today li .item-thumbnail-left{
  position: relative;
}
.knowledgeFirstPage .today img{
  left:0;
  top:10px;
  max-width:92px;
  max-height:92px;
}
.knowledgeFirstPage .today h2{
  color:#333;
  font-size:17px;
}
.knowledgeFirstPage .today p{
  color:#666;
  font-size:14px;
  white-space: normal;
  margin-top:8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.knowledgeFirstPage .today .sub-info{
  height:20px;
  position: absolute;
  width:59%;
  bottom: -3px;
}
.knowledgeFirstPage .today .sub-info a{
  color:#999;
  font-size:12px;
  position: absolute;
}
.knowledgeFirstPage .today .sub-info img{
  margin-right: 3px;
}
.knowledgeFirstPage .today .sub-info .info-read{
  left:0;
}
.knowledgeFirstPage .today .sub-info .info-comment{
  left:50%;
  margin-left:-11.5px;
}
.knowledgeFirstPage .today .sub-info .info-share{
  right:0;
}

.knowledgeFirstPage .today .belong{
  margin-top:14px;
  font-size:12px;
  height:20px;
  line-height:20px;
}
.knowledgeFirstPage .today .belong span{
  display: inline-block;
  color:#ccc;
}
.knowledgeFirstPage .today .belong a{
  float: right;
  color:#88d9dd;
}
.knowledgeFirstPage .today .classify{
  margin-top:10px;
  background-color: #fff;
  padding:0 10px;
  margin-bottom: 10px;
  border-radius:  8px;
}

.knowledgeFirstPage .today .classify dt{
  font-weight: normal;
  padding:15px 0;
  color:#88d9dd;
  font-size:15px;
  background-color: #fff;
  border-bottom: 1px solid #88d9dd;
  border-radius:  8px 8px 0 0;
}
.knowledgeFirstPage .today dt .line{
  display: inline-block;
  width:3px;
  height:15px;
  background-color: #88d9dd;
  vertical-align: middle;
  margin-top:-3px;
}
.knowledgeFirstPage .today .classify h5{
  color:#999;
  font-size:12px;
  font-weight: normal;
  margin:15px 0 17px;
}
.knowledgeFirstPage .today .classify dd{
  padding-top:0;
  border-radius:0 0  8px 8px ;
}
.knowledgeFirstPage .today .classify .myCol{
  display: inline-block;
  text-align: center;
  width:33.33333%;
  margin-bottom:20px;
  color:#333;
  font-size:12px;
}
.knowledgeFirstPage .today .classify .myCol img{
  margin-bottom: 8px;
}
.knowledgeFirstPage .today.today-choice .classify  .myCol2{
 text-align: center;
  padding-bottom: 17px;
}
.knowledgeFirstPage .today.today-choice .classify .myCol2 a{
  background-color: #ffa2a2;
  color:#fff;
  font-size:13px;
  display: inline-block;
  width:25%;
  border-radius: 20px;
  padding:5px 0;
}


.knowledgeFirstPage .today.today-choice  .myCol span{
  display: inline-block;
  background-color: #88d9dd;
  color:#fff;
  border-radius: 20px;
  width:90%;
  padding:5px 0;


}