.spinner-balanced{
  position: absolute;
  z-index:10;
  top:50%;
  left:50%;
}
.login-default{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
  text-align: center;
}
.login-default img{
  margin:20% auto;
  display: block;
}
.knowledgeLogin{
  background-color: #88d9dd;
  color:#fff;
}
.knowledgeLogin .myTitle{
  width:100%;
  margin:20px 0 0;
  color:#fff;
  text-align: center;
  font-size:25px;
}
.knowledgeLogin .my-baby-info{
  text-align: center;
  margin-top:0;
}
.knowledgeLogin  .my-baby-info p{
  font-size:12px;
  color: #f0f4f5;
}
.my-baby-info #imghead {
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
  border-radius: 50%;
  margin-top:20px;
  margin-bottom:10px;
}
.my-baby-info #uploadImg input{
  position:absolute;
  z-index:5;
  opacity:0;
  filter:alpha(opacity=0);
}
.my-baby-info #uploadImg a{
  color:#fff;
  font-size:12px;
}
.my-baby-info .enter-info{
  text-align: center;
  position: relative;
  /*margin-top:25px;*/
  margin-top:40px;
}
.my-baby-info .enter-info input{
  width:80%;
  margin:15px 10%;
  padding:10px;
  background:none;
  border-bottom:1px solid #fff;
  color:#fff;
}
.my-baby-info .enter-info input::-webkit-input-placeholder,
.my-baby-info .enter-info textarea::-webkit-input-placeholder {
  color: #e0f4f5;
}

.my-baby-info .enter-info #birthday{
  background: url("http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/knowledge%2Flogin_select_birthday.png") no-repeat right 8px;
  background-size: 19.5px 18.5px;
}
.my-baby-info .enter-info img{
  position: absolute;
  bottom:10px;
  right:10%;
}
.my-baby-info .sex {
  margin:40px 0 30px;
  overflow: hidden;
}
.my-baby-info .sex .item-radio{
  float: left;
  width:50%;
  height:55px;
  background:none;
  text-align: center;
}
 .item-radio .item-content {
   background: none;
   text-align: center;
   padding:0;
}
.item-radio input:checked~.item-content {
  background:none;
}
.my-baby-info .sex img{
  vertical-align: middle;
  display: inline-block;
  border:none;
}
.my-baby-info .sex .cir{
  display: inline-block;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #fff;
}
.knowledgeLogin .foot-btn{
  background-color: #fff;
  color:#88d9dd;
  margin-top:0;
}
.knowledgeLogin .skip{
  margin-top:-20px;
  margin-right:5%;
  text-align: right;
}
.knowledgeLogin .skip span{
  color:#fff;
  padding: 0 2px 1px;
  border-bottom: 1px solid #fff;
}
