.loadPic{
  fill: #ffa2a2;
  stroke: #ffa2a2;
  color:#ffa2a2!important;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-14px;
  margin-left:-14px;
  z-index:999;
}
.spinner svg {
  width: 36px;
  height: 36px;
}
.scroll-content::-webkit-scrollbar {
  width:0;
  height:0;
}
.overflow-scroll .scroll{
  height:auto;
}
.pane, .view {
  width: 100%;
  max-width:670px;
  margin:0 auto;
}
.myTitle{
  background-color: #88d9dd;
  color:#fff;
  font-size:18px;
  text-align: center;
  height:50px;
  line-height:50px;
}
.mySearch{
  margin:20px 0;
  height:37px;
  width:100%;
}
.mySearch .search1 {
  width:90%;
  margin:0 5%;
  border-radius: 25px;
  background-color: #fff;
  padding:0;
  height:37px;
  position:relative;
}
.mySearch .search1 img{
  position: absolute;
  left:10px;
  top:13px;
  float: left;

}
.mySearch .search1 input{
  width:72%;
  float: left;
  height:37px;
  padding-left:32px;
  border-radius: 25px 0 0 25px;
}
.mySearch .search1 .go-search{
  display: inline-block;
  width:16%;
  height:37px;
  line-height:37px;
  float: right;
  background-color: #88d9dd;
  font-size:16px;
  text-align: center;
  color:#fff;
  border-radius: 0 25px 25px 0;
}
.myList{
  margin:0 12px 20px;
  border-radius: 15px;
  height:auto;
}
.myList .item-thumbnail-left {
  border-bottom: 1px solid #f0f0f0;
  margin:0;
  padding:16px 10px 16px 110px;
  min-height:130px;
  position: relative;
}
.myList .item-thumbnail-left:last-child {
  border-bottom:none;
}
.myList .item-thumbnail-left img{
  top: 16px;
  left: 0;
  max-width: 97px;
  max-height: 97px;
}
.myList .item-thumbnail-left h2{
  color:#333;
  font-size:17px;
}
.myList .item-thumbnail-left p{
  white-space: normal;
}
.myList .item-thumbnail-left p.text{
  color:#666;
  font-size:14px;
  margin:8px 0 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.myList .item-thumbnail-left .sub-info{
  height:20px;
  position: absolute;
  bottom: 12px;
  z-index:5;
  color:#999;
  margin-left:0;
  width:59%;
}
.myList .item-thumbnail-left .sub-info a{
  position: absolute;
  color:#999;
  font-size:12px;
  top:0;
}
.myList .item-thumbnail-left .sub-info .info-read{
 left:0;
}
.myList .item-thumbnail-left .sub-info .info-comment{
  left:50%;
  margin-left:-13px;
}
.myList .item-thumbnail-left .sub-info .info-share{
  right:0;
}
.myList .sub-info img{
  vertical-align: middle;
  margin-top:-3px;
}
.myAvatar{
  margin:0 15px;
}
.myAvatar  dd{
  border-bottom: 1px solid #f0f0f0;
  margin:0;
  position: relative;
  padding-left:62px;
}
.myAvatar  dd img{
  left:0!important;
}
.myAvatar  dd h2{
  color:#333;
  font-size:15px;
}
.myAvatar dd p{
  color:#666;
  font-size:12px;
}
.myAvatar dd span{
  position: absolute;
  top:15px;
  right:0;
  color:#999;
  font-size:12px;
}
.edit{
  background-color: #88d9dd;
  padding:10px 0;
  text-align: center;
  position: absolute;
  width:100%;
  bottom:0;
  z-index:3;
}
.edit input{
  background-color: #fff!important;
  width:90%;
  margin:0 5%;
  padding:8px 10px 8px 35px;
  border-radius: 20px;
  border: none;
}
.edit  img{
  position: absolute;
  left:5%;
  margin-left:10px;
  top:10px;
  margin-top:8px;
}
.real-edit{
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: #f0f0f0;
  z-index:10;

}
.real-edit textarea{
  width:90%;
  height:100px;
  margin:10px 5%;
  border:1px solid #ddd;
  padding:10px;
  resize: none;
  border-radius:10px;
  color:#666;
  font-size:13px;
}
.real-edit span{
  display: inline-block;
  padding:5px 8px;
  border-radius: 5px;
  background-color: #88d9dd;
  color:#fff;
  text-align: center;
  float: right;
  margin:0 5%10px 0;
}
.shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 9;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}
.noContent{
  text-align: center;

}