.otherDisease{
  background-color: #ffffe4;
}

.pane, .view {
  background-color: #ffffe4;
}
.myGroup1{
  width:100%;
  position: absolute;
  z-index:3;
  top:0;
  background-color: #ffffe4;
}
.myGroup1 .accident-classify{
  width:100%;
  margin:0;
  overflow-x: scroll;
  height:34px;
  line-height:31px;
  overflow-y: hidden;
  padding:0;
  background: none;
  border:none;
}
.myGroup1 .accident-classify::-webkit-scrollbar {
  width:0;
  height:0;
}

.myGroup1  .accident-classify div{
  padding:0 8px;
  display: inline-block;
  text-align: center;
  margin-right:4%;
  border-radius: 20px;
  font-size:14px;
}
.myGroup1  .accident-classify a{
  border-radius: 20px;
  padding:0 8px;
}
