.todayReadMore{
  background-color: #ffffe4;
}
.scroll {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: -1px;
}
.overflow-scroll .scroll{
  height:auto;
}
.myGroup{
  position: absolute;
  z-index:3;
  top:0;
  width:100%;
}
.myGroup .myTitle{
  width:100%;
  height:50px;
  line-height:50px;
  background-color: #ff95c2;
  color:#fff;
  text-align: center;
  font-size:18px;
  position:relative ;
}

.myGroup .myTitle img{
  position: absolute;
  top:33px;
  right:20px;
  border-radius: 50%;
  z-index:3;
  /*border:1px solid #ff95c2;*/
}

.myGroup  .baby-info{
  text-align: center;
  font-size:14px;
  color:#333;
  margin:20px 0 10px;

}
.myGroup  .baby-info img{
  border-radius: 50%;
  vertical-align: middle;

}
.myGroup .baby-age{
  width:101%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding:10px 0 10px;
  background-color: #ffffe4;
  border-bottom: 1px solid #ff95c2;
  position: relative;
}
.myGroup .baby-age .line{
  width:100%;
  height:1px;
  background-color: #ff95c2;
  position: absolute;
  left:0;
  bottom: 0;
}
.myGroup .baby-age::-webkit-scrollbar {
  width:0;
  height:0;

}

.myGroup   .baby-age .ap{
  width:28%;
  height:30px;
  line-height:30px;
  display: inline-block;
  text-align: center;
}
.myGroup   .baby-age .ap div{
  color:#ff95c2;
}

.baby-age .ap .cur{
  background-color: #ff95c2;
  color: #ffffff !important;;
  border-radius: 20px;
}


.todayReadMore .noArticle{
  text-align: center;
  margin-top:20px;
  color:#ccc;
  font-size:13px;
}
/*八种分类分别对应的背景色和字体颜色*/
.myGroup .myBg1{
  background-color: #ff95c2!important;
}
.myGroup .myBg2{
  background-color: #91c2ff!important;
}
.myGroup .myBg3{
  background-color: #ffc400!important;
}
.myGroup .myBg4{
  background-color: #de5fce!important;
}
.myGroup .myBg5{
  background-color: #6ee5b9!important;
}
.myGroup .myBg6{
  background-color: #6ee5e1!important;
}
.myGroup .myBg7{
  background-color: #ff757f!important;
}
.myGroup .myBg8{
  background-color: #d78be0!important;
}
.myGroup .myColor1{
  color: #ff95c2!important;
}
.myGroup .myColor2{
  color: #91c2ff!important;
}
.myGroup .myColor3{
  color: #ffc400!important;
}
.myGroup .myColor4{
  color: #de5fce!important;
}
.myGroup .myColor5{
  color: #6ee5b9!important;
}
.myGroup .myColor6{
  color: #6ee5e1!important;
}
.myGroup .myColor7{
  color: #ff757f!important;
}
.myGroup .myColor8{
  color: #d78be0!important;
}
.myGroup .myBorder1{
  border-bottom:1px solid #ff95c2!important;
}
.myGroup .myBorder2{
  border-bottom:1px solid #91c2ff!important;
}
.myGroup .myBorder3{
  border-bottom:1px solid #ffc400!important;
}
.myGroup .myBorder4{
  border-bottom:1px solid #de5fce!important;
}
.myGroup .myBorder5{
  border-bottom:1px solid #6ee5b9!important;
}
.myGroup .myBorder6{
  border-bottom:1px solid #6ee5e1!important;
}
.myGroup .myBorder7{
  border-bottom:1px solid #ff757f!important;
}
.myGroup .myBorder8{
  border-bottom:1px solid#d78be0!important;
}


