<ion-view view-title='宝大夫' >
    <ion-content style="top:0px;background:#c5e3fa">
        <div class="record_box">
            <!---------------------------头部----------------------------------->
            <div class="share_box">
                <div class="head"><span>某女子。</span></div>
            </div>
            <!---------------------------内容----------------------------------->
            <div class="share_con">
                <!-- 皇冠图片-->
                <img class="crown" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/crown.png" alt=""/>

                <!--医生信息-->
                <div class="doctor">
                    <div class="doctorHead">
                        <img src="" alt=""/>
                    </div>
                    <div class="doctorDetail">
                        <div class="doctorName"><span>梁平</span><span>儿内科</span></div>
                        <div class="doctorCon"><div class="serve">服务人次：888</div><div class="goodSay">好评率：99%</div></div>
                    </div>
                </div>

                <!--聊天内容-->
                <div class="chat">
                    <img ng-show="true" class="chat_head" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/chat.png" alt=""/>
                    <div ng-show="true" class="chat_con">
                        <ul>
                            <li class="userSay"><img class="smallImg" ng-src="" alt=""/><div><i></i><span>医生您好,我是一个中国人我真的想试试</span></div></li>
                            <li class="doctorSay"><img class="smallImg" ng-src="" alt=""/><div><i></i><span>您好，有什么可以帮您</span></div></li>
                            <div class="btn_all">点击查看全部</div>
                        </ul>
                    </div>
                    <img ng-show="false" class="noRecord" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/noRecord.png" alt=""/>
                </div>

                <img class="bottom" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/chatBottom.png" alt=""/>
            </div>
            <!---------------------------底部----------------------------------->
            <div class="foot">
                <img class="babyNeed" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/babyNeed.png" alt=""/>
                <div class="foot_con">
                    <div class="twoCode">
                        <img class="bg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/haveRecord/twoCode.png" alt=""/>
                        <img class="code" data-tap-disabled="true" ng-src="" alt=""/>
                    </div>
                    <div class="userInfo">
                        <p>我是【某女子。】<br/>和我一起陪伴宝宝成长</p>
                        <h3>长按识别二维码<br/>立即咨询三甲医院儿科专家</h3>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
