<ion-view view-title='宝大夫' >
    <ion-content style="top:0px;background:#c5e3fa">
            <div class="share_box">
                <div class="head"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/home/home_top.png" alt=""/></div>
                <div class="con txt">
                    <textarea id="txt" placeholder="说点什么吧～" draggable="false" maxlength=200></textarea>
                </div>
                <div class="share_con"><span class="agree">同时分享我和医生的咨询记录（不包含隐私信息）</span></div>
                <div class="foot">分享给宝妈们</div>
            </div>
    </ion-content>
</ion-view>
