<ion-view view-title='宝大夫' ng-init="loadShare()">
    <ion-content style="top:0px;background:#c5e3fa">
            <div class="share_box">
                <div class="head"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSharePullNew/home/home_top.png" alt=""/></div>
                <div class="con txt">
                    <textarea id="txt" placeholder="说点什么吧～" draggable="false" maxlength=200></textarea>
                </div>
                <div class="share_con" ng-click="choose()"><span ng-class="{{agree:agree,disagree:!argee}}agree">同时分享我和医生的咨询记录（不包含隐私信息）</span></div>
                <div class="foot" ng-click="maskShow()">分享给宝妈们</div>
                <div ng-show="maskStatus" class="mask" ng-click="maskHide()">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
                    <img src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/babyMoney%2Fyaoqing_png_03.png" alt=""/>
                </div>
            </div>
    </ion-content>
</ion-view>
