.NonTimeDoctorNoRespond{
  background-color: #f5f5f5;
  overflow-y: scroll;
}
.NonTimeDoctorNoRespond .message-list li{
  padding:0;
  box-shadow: 1px 2px 5px #ccc;
}
.NonTimeDoctorNoRespond .message-list .which-doctor{
  padding: 12px 18px;
  border-bottom:1px solid #ccc;
  position:relative;
}
.NonTimeDoctorNoRespond .message-list .which-doctor span{
  color:#ff7092;
  font-weight: bold;
}
.NonTimeDoctorNoRespond .message-list .question-detail{
  position: relative;
  padding:12px 18px 12px 93px;
}