.NonTimeDoctorLogin{
  width:100%;
  height:100%;
  background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/nonRealTimeConsult/doctor/bg_login.png") no-repeat bottom left;
  background-size: 100% 100%;
  position: relative;
}
.NonTimeDoctorLogin .fillInfo-wrap{
  padding-top: 25%;
}
.NonTimeDoctorLogin .fillInfo {
  position: relative;
  margin:0 15px;

}
.NonTimeDoctorLogin .fillInfo label{
  position: relative;
  display: block;
  height:49px;
}
.NonTimeDoctorLogin .fillInfo label:first-of-type{
  margin-bottom: 25px;
}
.NonTimeDoctorLogin .fillInfo .code{
  width:63%;
}
.NonTimeDoctorLogin .fillInfo .icon{
   position: absolute;
   display: inline-block;
   left:0;
   top:9.5px;
   height:30px;
   padding: 0 12px;
   border-right:1px solid #5cb8ff;
 }
.NonTimeDoctorLogin .fillInfo .icon img{
  margin-top:4px;
}
.NonTimeDoctorLogin .fillInfo input{
  margin-left:60px;
  display: inline-block;
  height:49px;
  padding:14px 0;
  width:78%;
  line-height:21px;
}
.NonTimeDoctorLogin .fillInfo .code input{
  width:60%;
}
.NonTimeDoctorLogin .fillInfo .getCode {
  position: absolute;
  right:0;
  bottom:0;
  width:35%;
  height:49px;
  line-height:49px;
  border:none;
  background-color: #ff7a90;
}
.NonTimeDoctorLogin .foot-btn{
  margin-top:70px;
  background-color: #ff7a90;
  border-radius:0;
  box-shadow: 0 1px 1px #e16e81;
}
.NonTimeDoctorLogin .tips{
  position: relative;
}
.NonTimeDoctorLogin .tips .line{
  width:36%;
  height:1px;
}
.NonTimeDoctorLogin .tips .hd{
  position: absolute;
  top:-21px;
  left:50%;
  margin-left:-32px;
  padding:10px 0;
  margin-bottom: 20px;
}
.NonTimeDoctorLogin .tips p{
  padding: 25px 0;
}
.NonTimeDoctorLogin .error-remind{
  margin-top:15px;
  position: absolute;
  width:100%;
  top:210px;
}
.shadow-remind{
  position: absolute;
  z-index:5;
  width:80%;
  top:20%;
  left:10%;
  border-radius: 10px;
  padding:20px 15px;
}
.shadow-remind p{
  margin:15px 0;
}
.shadow-remind button{
  border:none;
  background-color: #88d9dd;
  border-radius: 5px;
  width:100px;
  line-height: 30px;
  margin-top:15px;
}