<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxqm.xiaoerke.modules.order.dao.ConsultPhoneManuallyConnectRecordDao">
	<resultMap id="consultPhoneManuallyConnectVo" type="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneManuallyConnectVo">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="surplusTime" property="surplusTime" jdbcType="BIGINT" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="doctorPhone" property="doctorPhone" jdbcType="VARCHAR" />
        <result column="dialDate" property="dialDate" jdbcType="TIMESTAMP" />
        <result column="dialType" property="dialType" jdbcType="VARCHAR" />
        <result column="operBy" property="operBy" jdbcType="VARCHAR" />
        <result column="consultPhone_register_service_id" property="orderId" jdbcType="INTEGER" />
    </resultMap>
    
    <update id="updateManuallyConnectRecordInfo">
        update consultphone_manuallyConnect_record
        <set>
            <if test="surplusTime != null">
                surplusTime=#{surplusTime},
            </if>
            <if test="userPhone != null">
                userPhone=#{userPhone},
            </if>
            <if test="doctorPhone != null">
                doctorPhone=#{doctorPhone},
            </if>
            <if test="dialDate != null">
                dialDate=#{dialDate},
            </if>
            <if test="dialType != null">
                dialType=#{dialType},
            </if>
            <if test="operBy != null">
                operBy=#{operBy},
            </if>
            updateTime = now()
        </set>
        where id=#{id}
    </update>

    <!--插入号源信息-->
    <insert id="saveManuallyConnectRecordInfo">
        INSERT INTO consultphone_manuallyConnect_record
        	(surplusTime,
        	userPhone,
        	doctorPhone,
        	dialDate,
        	dialType,
        	operBy,
        	createTime,
        	updateTime,
        	consultPhone_register_service_id
        	)
        VALUES
        	(#{surplusTime},
        	#{userPhone},
        	#{doctorPhone},
        	#{dialDate},
        	#{dialType},
        	#{operBy},
        	now(),
        	now(),
        	#{orderId});
    </insert>
    <select id="getManuallyConnectRecordListByInfo" resultMap="consultPhoneManuallyConnectVo">
    	select * from consultphone_manuallyConnect_record cmr where 1=1
    	<if test="surplusTime != null and surplusTime != ''">
			AND cmr.surplusTime=#{surplusTime}
		</if>
        <if test="orderId != null and orderId != ''">
            AND cmr.consultPhone_register_service_id=#{orderId}
        </if>
    </select>
</mapper>