<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.order.dao.ConsultPhoneRegisterServiceDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_phoneConsult_service_id" property="sysPhoneconsultServiceId" jdbcType="INTEGER" />
    <result column="sys_patient_id" property="sysPatientId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="register_no" property="registerNo" jdbcType="VARCHAR" />
    <result column="phone" property="phoneNum" jdbcType="VARCHAR" />
    <result column="illness_describe_id" property="illnessDescribeId" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="ConsultPhoneRegisterServiceVoMap" type="com.cxqm.xiaoerke.modules.order.entity.OrderServiceVo">
    <result column="doctorId" property="doctorId" jdbcType="VARCHAR" />
    <result column="name" property="doctorName" jdbcType="VARCHAR" />
    <result column="position2" property="position" jdbcType="VARCHAR" />
    <result column="hospitalName" property="hospitalName" jdbcType="VARCHAR" />

    <result column="id" property="orderId" jdbcType="INTEGER" />
    <result column="state" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="register_no" property="registerNo" jdbcType="VARCHAR" />
    <result column="illness_describe_id" property="illnessDescribeId" jdbcType="VARCHAR" />

    <result column="date" property="date" jdbcType="DATE" />
    <result column="beginTime" property="beginTime" jdbcType="TIME" />
    <result column="endTime" property="endTime" jdbcType="TIME" />

    <result column="classify" property="classify" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sys_phoneConsult_service_id, sys_patient_id, state, create_time, update_time,
    register_no, illness_describe_id,phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from consultPhone_register_service
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getOrderPhoneConsultListByTime" resultType="java.util.Map" >
    SELECT
    crs.id,
    sd.id doctorId,
    sd. NAME doctorName,
    cdr.doctor_answer_phone doctorPhone,
    DATE_FORMAT(scs.beginTime, '%k:%i') beginTime,
    DATE_FORMAT(scs.endTime, '%k:%i') endTime,
    DATE_FORMAT(scs.date, '%Y/%m/%d') date,
    DATE_FORMAT(
    crs.create_time,
    '%Y/%m/%d  %k:%i'
    ) orderTime,
    crs.register_no AS orderNo,
    crs.phone userPhone,
    sbi. NAME babyName,
    cdr.price,
    crs.type,
    crs.surplusTime,
    su.openid,
    cdr.server_length conversationLength
    FROM
    consultPhone_register_service crs
    LEFT JOIN sys_consultPhone_service scs ON crs.sys_phoneConsult_service_id = scs.id
    LEFT JOIN consultphone_doctor_relation cdr ON cdr.doctor_id = scs.sys_doctor_id
    LEFT JOIN sys_doctor sd ON sd.id = scs.sys_doctor_id
    LEFT JOIN sys_patient sp ON sp.id = crs.sys_patient_id
    LEFT JOIN sys_baby_baseInfo sbi ON sp.sys_user_id = sbi.userid
    LEFT JOIN sys_user su on sp.sys_user_id = su.id
    where 1=1
    <if test="state != null" >
      and crs.state = #{state,jdbcType=VARCHAR}
    </if>
    AND (
    #{date,jdbcType=TIMESTAMP}>=DATE_FORMAT(
    CONCAT(
    DATE_FORMAT(scs.date, '%Y:%c:%d'),
    DATE_FORMAT(scs.beginTime, ' %k:%i:%s')
    ),
    '%Y-%m-%d %k:%i:%s'
    )
    )

  </select>

  <select id="getConsultConnectInfo" resultType="java.util.Map" >
    select crs.id, crs.phone userPhone,cdr.doctor_answer_phone doctorPhone,cdr.server_length conversationLength from consultPhone_register_service crs
    left join sys_consultPhone_service scs on crs.sys_phoneConsult_service_id = scs.id
    left join consultphone_doctor_relation cdr on cdr.doctor_id = scs.sys_doctor_id
    where 1=1
    <if test="id != null" >
      and crs.id = #{id,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getPhoneConsultaServiceIndo" resultType="java.util.Map" parameterType="java.lang.Integer" >
    select
    sd.id doctorId,
    sd.name doctorName,
    sd.position1,
    sd.position2,
    sd.hospitalName,
    dhr.department_level1 as departmentName,
    case when crs.state ='0' then '待支付' when crs.state ='1' then '待接听' when crs.state ='2' then '待评价'
    when crs.state ='3' then '待分享' when crs.state ='4' then '已取消'
    when crs.state ='5' then '已完成' end state,
    DATE_FORMAT(scs.beginTime,'%k:%i') beginTime,
    DATE_FORMAT(scs.endTime,'%k:%i') endTime,
    DATE_FORMAT(scs.date,'%Y/%m/%d') date,
    DATE_FORMAT(crs.create_time,'%Y/%m/%d  %k:%i') orderTime,
    crs.id orderId,
    crs.register_no as orderNo,
    crs.phone,
    sbi.name babyName,
    cdr.price,
    crs.type,
    crs.surplusTime,
    sp.sys_user_id,
    cdr.server_length
    from consultPhone_register_service crs
    left join sys_consultPhone_service scs
    on crs.sys_phoneConsult_service_id = scs.id
    left join sys_doctor sd
    on sd.id = scs.sys_doctor_id
    LEFT JOIN doctor_hospital_relation dhr
    ON dhr.sys_doctor_id=sd.id
    left join sys_patient sp
    on sp.id = crs.sys_patient_id
    left join sys_baby_baseInfo sbi
    on sp.sys_user_id = sbi.userid
    LEFT join consultphone_doctor_relation cdr on cdr.doctor_id = sd.id
    where crs.id =#{id,jdbcType=INTEGER}
    group by crs.id
  </select>
  <select id="getPhoneConsultaList" resultType="java.util.Map" >
    SELECT
    sd.`name`,
    sd.position2,
    sd.hospitalName,
    crs.id,
    crs.state,
    crs.create_time,
    crs.register_no,
    crs.illness_describe_id,
    scp.date,
    scp.createDate,
    scp.endTime
    FROM
    consultPhone_register_service crs
    LEFT JOIN sys_patient sp ON crs.sys_patient_id = sp.id
    LEFT JOIN sys_consultPhone_service scp ON scp.id = crs.sys_phoneConsult_service_id
    LEFT JOIN sys_doctor sd ON sd.id = scp.sys_doctor_id
    WHERE
    sp.sys_user_id = #{userId,jdbcType=VARCHAR}
    <if test="state != null" >
      and crs.state = #{state,VARCHAR}
    </if>

  </select>

  <!--获取个人中心的 电话咨询订单列表（带分页） @author cxq-->
  <select id="getPhoneConsultPageList" resultMap="ConsultPhoneRegisterServiceVoMap" resultType="com.cxqm.xiaoerke.common.persistence.Page">
    SELECT
    sd.id as doctorId,
    sd.name,
    sd.position2,
    sd.hospitalName,
    crs.id,
    case when crs.state ='0' then '待支付' when crs.state ='1' then '待接听' when crs.state ='2' then '待评价'
    when crs.state ='3' then '待分享' when crs.state ='4' then '已取消'
    when crs.state ='5' then '已完成' end state,
    crs.create_time,
    crs.register_no,
    crs.illness_describe_id,
    scp.date,
    scp.beginTime,
    scp.endTime,
    'phone' as classify
    FROM
    consultPhone_register_service crs
    LEFT JOIN sys_patient sp ON crs.sys_patient_id = sp.id
    LEFT JOIN sys_consultPhone_service scp ON scp.id = crs.sys_phoneConsult_service_id
    LEFT JOIN sys_doctor sd ON sd.id = scp.sys_doctor_id
    WHERE
    sp.sys_user_id = #{userId,jdbcType=VARCHAR}
    <if test="state != null" >
      and crs.state = #{state,jdbcType=VARCHAR}
    </if>
    order by scp.date,scp.beginTime desc
  </select>

  <!--获取当前订单All（带分页） @author cxq-->
  <select id="getOrderAllPageList" resultMap="ConsultPhoneRegisterServiceVoMap" resultType="com.cxqm.xiaoerke.common.persistence.Page">
    SELECT
    sd.id as doctorId,
    sd.name,
    sd.position2,
    sd.hospitalName,
    crs.id,
    case when crs.state ='0' then '待支付' when crs.state ='1' then '待接听' when crs.state ='2' then '待评价'
    when crs.state ='3' then '待分享' when crs.state ='4' then '已取消'
    when crs.state ='5' then '已完成' end state,
    crs.create_time,
    crs.register_no,
    crs.illness_describe_id,
    scp.date,
    scp.beginTime,
    scp.endTime,
    'phone' as classify
    FROM
    consultPhone_register_service crs
    LEFT JOIN sys_patient sp ON crs.sys_patient_id = sp.id
    LEFT JOIN sys_consultPhone_service scp ON scp.id = crs.sys_phoneConsult_service_id
    LEFT JOIN sys_doctor sd ON sd.id = scp.sys_doctor_id
    WHERE
    sp.sys_user_id = #{userId,jdbcType=VARCHAR}
    <if test="state != null" >
      and crs.state = #{state,VARCHAR}
    </if>
    UNION
    SELECT
    sd.id as doctorId,
    sd.name,
    sd.position2,
    sd.hospitalName,
    prs.id,
    case when prs.status ='0' then '待支付' when prs.status ='1' then '待就诊' when prs.status ='2' then '待评价'
    when prs.status ='3' then '待分享' when prs.status ='4' then '已取消'
    when prs.status ='5' then '已完成' end state,
    prs.create_date as create_time,
    prs.register_no,
    prs.illness as illness_describe_id,
    srp.date,
    srp.begin_time as beginTime,
    srp.end_time as endTime,
    'ap' as classify
    FROM
    patient_register_service prs
    LEFT JOIN sys_patient sp ON prs.sys_patient_id = sp.id
    LEFT JOIN sys_register_service srp ON srp.id = prs.sys_register_service_id
    LEFT JOIN sys_doctor sd ON sd.id = srp.sys_doctor_id
    WHERE
    sp.sys_user_id = #{userId,jdbcType=VARCHAR}
    <if test="state != null" >
      and prs.status = #{state,VARCHAR}
    </if>
    order by prs.create_time desc
  </select>
    <!-- 每日清单 -->
    <select id="getSettlementPhoneConsultInfoByDate" resultType="java.util.Map">
        SELECT
        srs.beginTime,
        srs.endTime,
        sd.position2 position,
        sbb.name,
        hid.illness,
        sd.subsidy,
        cdr.price
        FROM
        sys_consultphone_service srs
        RIGHT JOIN consultphone_register_service prs ON srs.id = prs.sys_phoneConsult_service_id
        AND prs. state != "4"
        AND prs. state != "1"
        AND prs. state != "0"
        LEFT JOIN healthrecord_illness_describe hid on hid.id = prs.illness_describe_id
        LEFT JOIN sys_baby_baseinfo sbb ON sbb.id = hid.babyinfo_Id
        INNER JOIN sys_doctor sd ON sd.id = srs.sys_doctor_id
        <if test="date != null" >
            AND srs.date=#{date}
        </if>
        <if test="doctorId != null" >
            AND srs.sys_doctor_id = #{doctorId}
        </if>
        LEFT JOIN consultphone_doctor_relation cdr ON cdr.doctor_id = sd.id
        ORDER BY
        srs.beginTime ASC
    </select>
    
  <!-- 更新订单状态 -->
  <update id="changeConsultPhoneRegisterServiceState">
     update consultphone_register_service prs
     <set>
        prs.state=#{state}
     </set>
    where prs.id=#{id};
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from consultPhone_register_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" >
    insert into consultPhone_register_service (id, sys_phoneConsult_service_id, sys_patient_id,
    state, create_time, update_time,
    register_no, illness_describe_id,phone)
    values (#{id,jdbcType=INTEGER}, #{sysPhoneconsultServiceId,jdbcType=INTEGER}, #{sysPatientId,jdbcType=VARCHAR},
    #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{registerNo,jdbcType=VARCHAR}, #{illnessDescribeId,jdbcType=INTEGER}, #{phoneNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo"  useGeneratedKeys="true" keyProperty="id" >
    insert into consultPhone_register_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysPhoneconsultServiceId != null" >
        sys_phoneConsult_service_id,
      </if>
      <if test="sysPatientId != null" >
        sys_patient_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="registerNo != null" >
        register_no,
      </if>
      <if test="illnessDescribeId != null" >
        illness_describe_id,
      </if>
      <if test="phoneNum != null" >
        phone,
      </if>
      <if test="surplusTime != null" >
        surplusTime,
      </if>

      <if test="creat_by != null" >
        create_by,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysPhoneconsultServiceId != null" >
        #{sysPhoneconsultServiceId,jdbcType=INTEGER},
      </if>
      <if test="sysPatientId != null" >
        #{sysPatientId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerNo != null" >
        #{registerNo,jdbcType=VARCHAR},
      </if>
      <if test="illnessDescribeId != null" >
        #{illnessDescribeId,jdbcType=INTEGER},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>

      <if test="surplusTime != null" >
        #{surplusTime,jdbcType=BIGINT},
      </if>
      <if test="creat_by != null" >
        #{creat_by,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" >
    update consultPhone_register_service
    <set >
      <if test="sysPhoneconsultServiceId != null" >
        sys_phoneConsult_service_id = #{sysPhoneconsultServiceId,jdbcType=INTEGER},
      </if>
      <if test="sysPatientId != null" >
        sys_patient_id = #{sysPatientId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerNo != null" >
        register_no = #{registerNo,jdbcType=VARCHAR},
      </if>
      <if test="illnessDescribeId != null" >
        illness_describe_id = #{illnessDescribeId,jdbcType=INTEGER},
      </if>
      <if test="phoneNum != null" >
        phone = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="callSid != null" >
        callSid = #{callSid,jdbcType=VARCHAR},
      </if>
      <if test="surplusTime != null" >
        surplusTime = #{surplusTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" >
    update consultPhone_register_service
    set sys_phoneConsult_service_id = #{sysPhoneconsultServiceId,jdbcType=INTEGER},
    sys_patient_id = #{sysPatientId,jdbcType=VARCHAR},
    state = #{state,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    register_no = #{registerNo,jdbcType=VARCHAR},
    illness_describe_id = #{illnessDescribeId,jdbcType=INTEGER},
    phone = #{phoneNum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询电话咨询订单列表，sunxiao -->
  <select id="findConsultPhonePatientList" resultType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" >
    SELECT
    crs.id,
    crs.register_no,
    crs.create_time,
    crs.phone AS phoneNum,
    crs.update_time,
    crs.delete_by,
    crs.state,
    crs.surplusTime,
    scs.date,
    scs.beginTime,
    scs.endTime,
    cdr.server_length AS type,
    cdr.price,
    cdr.doctor_answer_phone,
    sd. NAME AS doctorName,
    sd.id AS doctorId,
    su.phone AS loginPhone,
    sa.nickname,
    sbb. NAME AS babyName
    FROM
    consultphone_register_service crs
    LEFT JOIN sys_consultphone_service scs ON scs.id = crs.sys_phoneConsult_service_id
    LEFT JOIN consultphone_doctor_relation cdr ON cdr.doctor_id = scs.sys_doctor_id
    LEFT JOIN sys_doctor sd ON sd.id = scs.sys_doctor_id
    LEFT JOIN sys_patient sp ON sp.id = crs.sys_patient_id
    LEFT JOIN sys_user su ON su.id = sp.sys_user_id
    LEFT JOIN sys_attention sa ON sa.openid = su.openid
    LEFT JOIN healthrecord_illness_describe hid ON hid.id = crs.illness_describe_id
    LEFT JOIN sys_baby_baseinfo sbb ON sbb.id = hid.babyinfo_Id
    WHERE
    1=1
    <if test="state != null and state != ''" >
      and crs.state = #{state}
    </if>
    <if test="payState != null and payState != ''">
      <if test="payState == 1">
        and crs.state in (1,2,3)
      </if>
      <if test="payState == 4 or payState == 0">
        and crs.state = #{payState}
      </if>
    </if>
    <if test="loginPhone != null and loginPhone != ''">
      and su.phone = #{loginPhone}
    </if>
    <if test="doctorName != null and doctorName != ''">
      and sd.NAME = #{doctorName}
    </if>
    <if test="orderTimeFromStr != null and orderTimeFromStr != ''">
      and crs.create_time >= #{orderTimeFromStr}
    </if>
    <if test="orderTimeToStr != null and orderTimeToStr != ''">
      and #{orderTimeToStr} >= crs.create_time
    </if>
    <if test="consultPhoneTimeFromStr != null and consultPhoneTimeFromStr != ''">
      and scs.date >= #{consultPhoneTimeFromStr}
    </if>
    <if test="consultPhoneTimeToStr != null and consultPhoneTimeToStr != ''">
      and #{consultPhoneTimeToStr} >= scs.date
    </if>
  </select>
  <!--根据条件查询订单 sunxiao-->
  <select id="getConsultPhoneRegisterListByInfo" resultType="java.util.HashMap" parameterType="java.util.Map">
    SELECT
    crs.id,
    crs.register_no,
    crs.create_time,
    crs.phone AS phoneNum,
    crs.update_time,
    crs.delete_by,
    crs.state,
    crs.surplusTime,
    scs.date,
    scs.beginTime,
    scs.endTime,
    cdr.server_length AS type,
    cdr.price,
    cdr.doctor_answer_phone,
    sd. NAME AS doctorName,
    sd.id AS doctorId,
    su.phone AS loginPhone,
    sa.nickname,
    sbb. NAME AS babyName
    FROM
    consultphone_register_service crs
    LEFT JOIN sys_consultphone_service scs ON scs.id = crs.sys_phoneConsult_service_id
    LEFT JOIN consultphone_doctor_relation cdr ON cdr.doctor_id = scs.sys_doctor_id
    LEFT JOIN sys_doctor sd ON sd.id = scs.sys_doctor_id
    LEFT JOIN sys_patient sp ON sp.id = crs.sys_patient_id
    LEFT JOIN sys_user su ON su.id = sp.sys_user_id
    LEFT JOIN sys_attention sa ON sa.openid = su.openid
    LEFT JOIN healthrecord_illness_describe hid ON hid.id = crs.illness_describe_id
    LEFT JOIN sys_baby_baseinfo sbb ON sbb.id = hid.babyinfo_Id
    where 1=1
    <if test="state != null and state != ''" >
      and crs.state = #{state}
    </if>
    <if test="id != null and id != ''" >
      and crs.id = #{id}
    </if>
    <if test="registerId != null and registerId != ''" >
      and crs.sys_phoneConsult_service_id = #{registerId}
    </if>
    <if test="doctorId != null and doctorId != ''" >
      and sd.id = #{doctorId}
    </if>
    <if test="fromDate != null and fromDate != ''" >
      and scs.date > date_sub(now(),interval 1 week)
    </if>
  </select>
  <!--根据条件查询订单 sunxiao-->
  <select id="getAllConsultPhoneRegisterListByInfo" resultType="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneRegisterServiceVo" parameterType="java.util.Map">
    SELECT
    crs.id,
    crs.register_no AS registerNo,
    crs.create_time AS createTime,
    crs.phone AS loginPhone,
    crs.update_time AS updateTime,
    crs.delete_by AS deleteBy,
    crs.state,
    crs.surplusTime,
    scs.date,
    scs.beginTime,
    scs.endTime,
    cdr.server_length AS type,
    cdr.price,
    cdr.doctor_answer_phone AS phoneNum,
    sd. NAME AS doctorName,
    sd.id AS doctorId,
    sa.nickname AS nickName,
    sbb. NAME AS babyName
    FROM
    consultphone_register_service crs
    LEFT JOIN sys_consultphone_service scs ON scs.id = crs.sys_phoneConsult_service_id
    LEFT JOIN consultphone_doctor_relation cdr ON cdr.doctor_id = scs.sys_doctor_id
    LEFT JOIN sys_doctor sd ON sd.id = scs.sys_doctor_id
    LEFT JOIN sys_patient sp ON sp.id = crs.sys_patient_id
    LEFT JOIN sys_user su ON su.id = sp.sys_user_id
    LEFT JOIN sys_attention sa ON sa.openid = su.openid
    LEFT JOIN healthrecord_illness_describe hid ON hid.id = crs.illness_describe_id
    LEFT JOIN sys_baby_baseinfo sbb ON sbb.id = hid.babyinfo_Id
    where 1=1
    <if test="state != null and state != ''" >
      and crs.state = #{state}
    </if>
    <if test="payState != null and payState != ''">
      <if test="payState == 1">
        and crs.state in (1,2,3)
      </if>
      <if test="payState == 4 or payState == 0">
        and crs.state = #{payState}
      </if>
    </if>
    <if test="id != null and id != ''" >
      and crs.id = #{id}
    </if>
    <if test="doctorId != null and doctorId != ''">
      and sd.id = #{doctorId}
    </if>
  </select>
</mapper>