<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxqm.xiaoerke.modules.order.dao.ConsultPhoneTimingDialDao">
	<resultMap id="consultPhoneManuallyConnectVo" type="com.cxqm.xiaoerke.modules.order.entity.ConsultPhoneManuallyConnectVo">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="surplusTime" property="surplusTime" jdbcType="BIGINT" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="doctorPhone" property="doctorPhone" jdbcType="VARCHAR" />
        <result column="dialDate" property="dialDate" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <update id="updateConsultPhoneTimingDialInfo">
        update consultphone_timingDial
        <set>
            <if test="surplusTime != null">
                surplusTime=#{surplusTime},
            </if>
            <if test="userPhone != null">
                userPhone=#{userPhone},
            </if>
            <if test="doctorPhone != null">
                doctorPhone=#{doctorPhone},
            </if>
            <if test="dialDate != null">
                dialDate=#{dialDate},
            </if>
            updateTime = now()
        </set>
        where id=#{id}
    </update>

    <!--插入号源信息-->
    <insert id="saveConsultPhoneTimingDialInfo">
        INSERT INTO consultphone_timingDial
        	(surplusTime,
        	userPhone,
        	doctorPhone,
        	dialDate,
        	createTime,
        	updateTime)
        VALUES
        	(#{surplusTime},
        	#{userPhone},
        	#{doctorPhone},
        	#{dialDate},
        	now(),
        	now());
    </insert>
    <select id="getConsultPhoneTimingDialByInfo" resultMap="consultPhoneManuallyConnectVo">
    	select * from consultphone_timingDial ct where 1=1
    	<if test="id != null and id != ''">
			AND ct.id=#{id}
		</if>
    </select>
</mapper>