body{
  font-family: "microsoft yahei";
  padding: 0;
  margin: 0;
}
.olympicBabyMyPrize{
  width: 100%;
  height: 100%;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2Fbeijing_02.png") no-repeat center center;
  background-size: 100% 100%;
}
.olympicBabyMyPrize .top {
  height: 40px;
}
.olympicBabyMyPrize .prizeList{
  /*text-align: center;*/
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2Fhh_07.png") no-repeat center center;
  background-size: 100% 100%;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 60%;
}
.olympicBabyMyPrize .prizeList .prize_title{
  text-align: center;
}
.olympicBabyMyPrize .noPrize{
  margin: 0 40px;
  position: absolute;
}
.olympicBabyMyPrize .prizeList .prize{
  /*overflow: hidden;*/
  /*text-align: center;*/
  padding: 20px 0;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2FprizePage%2Fhh_03.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 20px;
  position: relative;
}
.olympicBabyMyPrize .prizeList .prize .prize_img{
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -22px;
}
.olympicBabyMyPrize .prizeList .prize .prize_name{
  color: #85593e;
  font-size: 15px;
  padding: 0 3px 0 77px
}

/*
.olympicBabyMyPrize .prizeList .prize .prizeContent {
  width: 200px;
  overflow: hidden;
  margin: 0 auto;
}
.olympicBabyMyPrize .prizeList .prize p {
  color: #85593e;
  margin-top: 11px;
  display: inline-block;
}
.olympicBabyMyPrize .prizeList .prize p:nth-child(1) {
  float: left;
  overflow: hidden;
  width: 42.5px;
  height: 42.5px;
  border-radius: 50%;
}
.olympicBabyMyPrize .prizeList .prize p:nth-child(2) {
  font-size: 13px;
  margin-left: 15px;
}
.olympicBabyMyPrize .prizeList .prize p:nth-child(3) {
  font-size: 11px;
  margin: 11px 0 11px 15px;
}
.olympicBabyMyPrize .prizeList .prize .getPrize {
  margin-bottom: 11px;
}*/
