.olympicGameLevel3{
  height: 100%;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fduanpao_png%20(1).png") no-repeat -800px center;
  background-size: auto 100%;
}
.olympicGameLevel3 .top .box{
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  width: 85px;
  height: 30px;
  padding-left: 20px;
  text-align: center;
  line-height: 30px;
}
.olympicGameLevel3 .top .time{
  float: left;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fdaojishi_png_03.png") no-repeat center center;
  background-size: 100% 100%;
  margin-left: 10px;
}
.olympicGameLevel3 .top .score{
  float: right;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fjifen_png_03.png") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 10px;
}
.olympicGameLevel3 .runningBoy {
  position: absolute;
  margin-top: 78%;
  margin-left: 36%;
  width: 174px;
  height: 208px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Frun_png_03%20(1)%20(1).png") no-repeat;
  background-position: 0 0;
  background-size:auto 100%;
}
.olympicGameLevel3 .button {
  position: absolute;
  bottom: 54px;
  width: 285px;
  height: 40px;
  left: 50%;
  margin-left: -143px;
}




.olympicGameLevel3 .boxShadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index:2;
  opacity: 0.5;
  background-color: #000;
}
.olympicGameLevel3 .startImg,
.olympicGameLevel3 .resultImg,
.olympicGameLevel3 .shareImg {
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 999;
}
.olympicGameLevel3 .shareImg img:nth-child(1) {
  position: absolute;
  right: 34px;
  top: 80px;
}
.olympicGameLevel3 .shareImg img:nth-child(2) {
  margin-top: 88px;
}
.olympicGameLevel3 .resultImg{
  left: 50%;
  margin-left: -150px;
  top: 117px;
  width: 300px;
  height: 400px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fdefen_a_png_03.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  text-align: center;
}
.olympicGameLevel3 .resultImg div:nth-child(1){
  margin-top: 100px;
  line-height: 55px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-shadow:#FF8000 1px 0 0,#FF8000 0 1px 0,#FF8000 -1px 0 0,#FF8000 0 -1px 0;
  -webkit-text-shadow:#FF8000 1px 0 0,#FF8000 0 1px 0,#FF8000 -1px 0 0,#FF8000 0 -1px 0;
  -moz-text-shadow:#FF8000 1px 0 0,#FF8000 0 1px 0,#FF8000 -1px 0 0,#FF8000 0 -1px 0;
}
.olympicGameLevel3 .resultImg img {
  margin-top: 10px;
}
.olympicGameLevel3 .resultImg .challengeMore {
  margin-top: 25px;
}