.olympicGameLevel3{
  height: 100%;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fbgc-1.png") no-repeat center center;
  background-size: 100% 100%;
}
.olympicGameLevel3 .top .box{
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  width: 85px;
  height: 30px;
  padding-left: 20px;
  text-align: center;
  line-height: 30px;
}
.olympicGameLevel3 .top .time{
  float: left;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fdaojishi_png_03.png") no-repeat center center;
  background-size: 100% 100%;
  margin-left: 10px;
}
.olympicGameLevel3 .top .score{
  float: right;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Fjifen_png_03.png") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 10px;
}
.olympicGameLevel3 .runningBoy {
  position: absolute;
  margin-top: 100px;
  margin-left: 27px;
  width: 200px;
  height: 200px;
  background: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/olympicBaby%2Fsprint%2Frunningright.png") no-repeat;
  background-position: -100px center;
  background-size: 800% 100%;
}
.olympicGameLevel3 .button {
  position: absolute;
  bottom: 54px;
  width: 285px;
  height: 40px;
  left: 50%;
  margin-left: -143px;
}




.olympicGameLevel3 .boxShadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  z-index:2;
  opacity: 0.5;
  background-color: #000;
}
.olympicGameLevel3 .shareImg {
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 999;
}
.olympicGameLevel3 .shareImg img:nth-child(1) {
  position: absolute;
  right: 34px;
  top: 80px;
}
.olympicGameLevel3 .shareImg img:nth-child(2) {
  margin-top: 88px;
}
