.cMotherNecessaryDetail{
  background-color: #ffffe4;
}
.cMotherNecessaryDetail .box1{

}
.cMotherNecessaryDetail .box1 ul{
  margin:30px 0;
}
.cMotherNecessaryDetail .box1 li{
  text-align: center;
  color:#88d9dd;
  font-size:15px;
  margin-bottom: 8px;
}
.cMotherNecessaryDetail .box1 li:last-of-type{
  margin-bottom: 0;
  color: #fe717b;
}
.cMotherNecessaryDetail .box1 .line{
  margin:10px 50px 0;
  height:1px;
  background-color: #88d9dd;
  text-align: center;
  position: relative;
}
.cMotherNecessaryDetail .box1 .line .span1{
  position: absolute;
  top:-10px;
  left:50%;
  margin-left:-15px;
  width:30px;
  background-color: #ffffe4;
}
.cMotherNecessaryDetail .box1 .line .cir{
  display: inline-block;
  width:8px;
  height:8px;
  background-color: #88d9dd;
  border-radius: 50%;

}
.cMotherNecessaryDetail .pic-detail{
  margin:30px 50px 100px;
  overflow: hidden;
}
.cMotherNecessaryDetail .pic-detail ul{

}
.cMotherNecessaryDetail .pic-detail li{
  float: left;
  width:50%;
  text-align: center;
  margin-bottom: 25px;
}
.cMotherNecessaryDetail .pic-detail li a{
  display: inline-block;
  overflow: hidden;
  width:100%;
}
.cMotherNecessaryDetail .pic-detail li img{
  border-radius: 50%;
}
.cMotherNecessaryDetail .pic-detail li span{
  display: block;
  margin:10px auto 0;
  color:#666;
  font-size:13px;
  width:100%;
  height:40px;
  line-height:20px;

}
