.cMotherMistakes{
  background-color: #ffffe4;
}
.cMotherMistakes .box1{
  margin-bottom: 50px;
}
.cMotherMistakes  .box1 dl{
  margin:10px 10px 0;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px #ccc;
  padding-bottom: 40px;
  position: relative;

}
.cMotherMistakes dt{
  margin-bottom: 15px;
  position: relative;
  font-weight: normal;
}
.cMotherMistakes dt img{
  border-radius: 15px 15px 0 0;
}
.cMotherMistakes dt p{
  width:100%;
  position: absolute;
  top:47px;
  color:#fff;
  font-size:20px;
  text-align: center;
  margin-bottom: 0;
}
.cMotherMistakes dd{
  padding:0 10px;
  position: relative;
}
.cMotherMistakes dd.select{
  height:42px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cMotherMistakes dd p{
  font-size:14px;
  color:#666;
  text-indent:2em;
}
.cMotherMistakes .box1 .more{
  position: absolute;
  right:10px;
  bottom: 10px;
  color:#88d9dd;
  font-size:12px;
  text-align: center;
}
.cMotherMistakes .box1 .more img{
  vertical-align: middle;
  margin-top:-2px;
}
