.constipationIndex{
  background-color: #ffffe4;
}
.constipationIndex .addManage{
  position: absolute;
  z-index:2;
  top:17.5px;
  right:0;
  width:75px;
  height:26px;
  line-height:25px;
  font-size:12px;
  color:#999;
  padding-left:24px;
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/nutrition%2Findex_addManage.png") no-repeat;
  background-size: 75px 26px;
}
.constipationIndex .slider-pager {
  bottom: 5px;

}
.constipationIndex .slider-pager .slider-pager-page {
  color:#fff;
  font-size:10px;
}
.constipationIndex .slider-pager .slider-pager-page.active{

}
.constipationIndex .box1 img{
  display: block;

}
.constipationIndex .box2{
  overflow: hidden;
  padding:10px 0;
  background-color: #88d9dd;
}
.constipationIndex .box2 li{
  float: left;
  width:25%;
  text-align: center;
  color:#fff;
  font-size:13px;
}
.constipationIndex .box2 li img{
  margin-bottom: 6px;
}
.constipationIndex .box3{
  height:40px;
  position: relative;
  overflow: hidden;
  padding:0 10%;
  background-color: #65bfc3;
}
.constipationIndex .box3 img{
  position: absolute;
  left:10%;
  top:11.75px;
  margin-left:-3px;
}
.constipationIndex .box3  ul{
  height:auto;
  position: absolute;
  top:0;
  width:80%;
  left:10%;
  margin-left:25.5px;

}
.constipationIndex .box3  li{
  height:40px;
  line-height:40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size:13px;
  color:#fff;
  padding-right:35px;
}
.constipationIndex .box4 dl{
  padding-top:15px;
  margin-bottom: 0;
}
.constipationIndex .box4 dt{
  font-weight: normal;

}
.constipationIndex .box4 dd{
  position: relative;
  padding:15px 18px;
 /* border-bottom: 1px solid #ccc;*/
  box-shadow: 1px 1px 3px #eee;
  margin:0  10px 20px;
  border-radius: 15px;
  background-color: #fff;
  height:130px;
}
.constipationIndex .box4 dd i{
  display: inline-block;
  overflow: hidden;
  background-color: #fb87aa;
  width:15px;
  height:100%;
  border-radius: 7.5px 0 0 7.5px;
  position: absolute;
  left:0;
  top:0;
  z-index:1;

}
.constipationIndex .box4 dd:nth-of-type(2) i{
  background-color: #eee291;
}
.constipationIndex .box4 dd:nth-of-type(3) i{
  background-color: #98e0a9;
}
.constipationIndex .box4 dd:nth-of-type(4) i{
  background-color: #d9b3ff;
}
.constipationIndex .box4 dd:nth-of-type(5) i{
  background-color: #6daeff;
}
.constipationIndex .box4 dd .main{
  position: absolute;
  width:94%;
  left:8px;
  top:0;
  margin-right:15px;
  background-color: #fff;
  z-index:2;
  height:100%;
  padding-left:10px;
}
.constipationIndex .box4 dd h4{
   font-size:14px;
   color:#666;
   margin-top:15px;
   margin-bottom: 10px;
 }
.constipationIndex .box4 dd .pic{
  text-align: center;
  margin-bottom: 10px;
}
.constipationIndex .box4 dd .pic img:nth-child(2){
  margin:0 12.5px;
}
.constipationIndex .box4 dd p{
  font-size:13px;
  color:#999;
  margin-bottom:0;
}
.constipationIndex .box4 dd  span{
  font-size:13px;
  color:#fe717b;
}
.constipationIndex .box4 dd .click-card{
  position: absolute;
  top:-12px;
  right:16px;
  border-radius: 50%;
  width:41px;
  height:41px;
  line-height:41px;
  text-align: center;
  font-size:13px;
  border:1px solid #01c22a;
  color:#01c22a;
  z-index:3;
}
.constipationIndex .box4 dd .click-card-finish{
  border:1px solid #fe717b;
  color:#fe717b
}

.constipationIndex .box4 dd a{
  position: absolute;
  bottom:10px;
  right:12px;
  color:#88d9dd;
  font-size:12px;
  z-index:3;
}
.constipationIndex .box4 dd a img{
  vertical-align: middle;
  margin-top:-2px;
}
.constipationIndex .box5{
  margin:0 10px 40px;
}
.constipationIndex .box5 img{
  display: block;
  border-radius: 15px;
  margin-bottom:20px; ;
}
.constipationIndex .box5 li{
  position: relative;
}
.constipationIndex .box5 li span{
  position: absolute;
  right:15px;
  top:10px;
  color:#fff;
  font-size:12px;
}

