.c-shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 4;
  width:100%;
  height:100%;
  background: #fff;
  /*filter:alpha(Opacity=50);
  -moz-opacity:0.5;*/
  opacity: 1;
}
.top-video{
  position: absolute;
  top:0;
  width:100%;
  margin:0 0;
  z-index:5;
}
#videoId{
  width:100%;
}
.constipationDefecate{
  background-color: #ffffe4;
}
.constipationDefecate .slider{
  width:100%;
  margin-bottom: 20px;
}
.constipationDefecate .slider-slides{

}
.constipationDefecate .slider-slide{
}
.constipationDefecate .music{
  min-width:60%;
  margin: 20px 20% 0;
  color:#1fc5a0;
  font-size:15px;

}
.constipationDefecate .music:last-of-type{
  margin-top: 10px;
  margin-bottom: 36px;
 }
.constipationDefecate .music span{
  display: inline-block;
  max-width:118px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.constipationDefecate .music img{
  vertical-align: top;

}
.constipationDefecate .music audio{
  visibility: hidden;
}
.constipationDefecate  .music img.music_mark{
  margin-right:10px;
  margin-top:3px;
 /* position: absolute;
  left:0;
  top:5px;*/
}
.constipationDefecate .music img.play{
   margin-left:10px;
 }
.task-deal dd .myVideo{
  margin:20px 10px 0;
  position: relative;
}

.task-deal dd .myVideo .con{
  position: absolute;
  left:50%;
  top:50%;
  margin-top:-55px;
  margin-left:-55px;
}
 .slider-pager {
  bottom: 5px;
}
 .slider-pager .slider-pager-page {
  color: #ccc;
  font-size:10px;
}
 .slider-pager .slider-pager-page.active{
  color:#999;
}
