
.constipationWShortDeal{
  background-color: #ffffe4;
}
.constipationWShortDeal .warn{
  color:#88d9dd;
  font-size:13px;
  margin:25px 10px;
}
.constipationWShortDeal .warn dl{
}
.constipationWShortDeal .warn dt{
  font-weight: normal;
  color:#666;
  font-size:14px;
  margin-bottom: 15px;
  text-indent: 2em;
}
.constipationWShortDeal dd{
  font-size:14px;
  color:#666;
  margin-bottom: 30px;
}
.constipationWShortDeal .deal{
  color:#666;
  font-size:14px;
  padding:17.5px 10px;
  background-color: #fff;
  border-radius: 15px;
}
.constipationWShortDeal .deal h3{
  font-weight: normal;
  color:#88d9dd;
  font-size:16px;
  margin-bottom: 17.5px;
  text-align: center;
}
.constipationWShortDeal .deal p{
  position: relative;
  padding-left:20px;
}
.constipationWShortDeal .deal p span{
  position: absolute;
  left:0;
  top:2px;
  background-color: #88d9dd;
  color:#fff;
  font-size:12px;
  text-align: center;
  width:12px;
  height:12px;
  line-height:12px;
  border-radius: 50%;
}
.constipationWShortDeal .recommend{
  position: relative;
  text-align: center;
  border-radius: 15px;
  border: 1px dashed #88d9dd;
  padding:20px 0;
}
.constipationWShortDeal .recommend h4{
  position: absolute;
  color:#88d9dd;
  font-size:16px;
  left:50%;
  top:0;
  padding:10px 20px;
  margin-left:-52px;
  margin-top:-20px;
  background-color: #ffffe4;
}
.constipationWShortDeal .recommend a{
  display: inline-block;
  color:#666;
  font-size: 13px;
  margin-bottom: 10px;

}
.constipationWShortDeal .recommend a:nth-of-type(odd) {
  margin-right:35px;
}

.constipationWShortDeal .recommend a img{
  border-radius:50% ;
}

.constipationWShortDeal .mother-help{
  border-radius: 15px;
  border: 1px dashed #88d9dd;
  color:#666;
  font-size:13px;
  text-align: center;
  padding:30px 0;
}
.constipationWShortDeal .mother-help span{
  display: inline-block;
  padding:3px 5px;
  border:1px solid #88d9dd;
  margin:0 5px;
  border-radius: 10px;
  color: #88d9dd;
}
.constipationWShortDeal .mother-help p:last-of-type{
  margin-bottom: 0;
}
.constipationWShortDeal .plan{
  margin-top:0;
}
.constipationWShortDeal .plan .foot-btn{
  margin-top:25px;
}

