.warn1{
  padding:100px 0;
  text-align: center;
  font-size:17px;
  color:#88d9dd;
  background-color: #ffffe4;
  line-height:30px;

}
.warn1 span{
  color: #fefefe;
}
.select-case{
  background-color: #88d9dd;
  height:250px;
}
 .select-case ul{
  margin:0 auto;
  width:70%;
  padding:70px 0 0;

}
.select-case li{
  text-align: center;
  margin:0 auto 25px;
  display: block;
  width:160px;
  height:34px;
  line-height:34px;
  font-size: 15px;
  color:#88d9dd;
  background-color: #fff;
  border-radius: 25px;
  border:none;
  padding:0;
}
.select-case li:last-of-type{
  margin-bottom: 0;
}

.select-case li.item.activated{
  background-color: #ffffe4;

}
