.scroll-content {
  padding-bottom: 40px;
}
.c-shadow{
  position:absolute;
  left:0;
  top:0;
  z-index: 4;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.box-s1{
  box-shadow: 0 1px 3px #ccc;
}
.title2{
  height:50px;
  line-height:50px;
  color:#fff;
  font-size:18px;
  text-align: center;
  background-color: #88d9dd;
}
img{
  vertical-align: middle;
}
.plan{
 text-align: center;
  margin:50px 0 0;
}
.plan p{
  text-align: center;
  font-size:14px;
  color:#666;
  margin-bottom: 30px;
}
.plan p span{
  color:#fe717b;
}
.plan .plan-btn{
  width:200px;
  background-color: #88d9dd;
  font-size:14px;
  padding:0 20px;
  border-radius:30px;
  min-height:30px;
  margin-bottom: 30px;
}
.plan  .persist{
  color:#88d9dd;
  font-size: 14px;
}
.title-line {
  position: relative;
  text-align: center;
  height:40px;
}
.title-line .line{
  display: inline-block;
  width:80%;
  height:1px;
  background-color: #88d9dd;
  margin-top:-1px;
  vertical-align: middle;
}
.title-line  .text{
  width:110px;
  color:#88d9dd;
  font-size:15px;
  position: absolute;
  left:50%;
  margin-left:-55px;
  top:0;
  background-color: #ffffe4;
}

