.level{
  padding:20px 0;
  text-align: center;
  color:#fff;
  position: relative;
  background-color: #88d9dd;
}
.level .text{
  margin-top:20px;
  font-size:14px;
  color:#fff;
}
.level .text p{
  line-height: 24px;
}
.level .arrow-down{
  position: absolute;
  left:50%;
  margin-left:-8.25px;
  bottom: -17px;

}