.constipationQuestions{
  background-color: #ffffe4;
}
.constipationQuestions  .top{
  background-color: #dec654;
  text-align: center;
  position: relative;
  padding-bottom: 79px;
}

.constipationQuestions  .top .question1{
  margin:40px 0;
}
.constipationQuestions  .top .question2{
  border-radius: 50%;
  position: absolute;
  left:50%;
  bottom: -79px;
  margin-left:-79px;
}
.constipationQuestions .box1  dd{
  margin:120px auto 0;
  width:240px;

}
.constipationQuestions .box1  dd img{
  vertical-align: middle;
  margin-top:-2px;
  margin-right:20px;
}
.constipationQuestions .box1  dd .item{
  font-size:15px;
  color:#999;
  line-height:20px;
  margin-bottom: 20px;

}
.constipationQuestions .box1 .item-content{
  padding:10px 30px;
  background-color: #ffffe4;
}
.item-radio input:checked~.radio-icon {
  visibility: hidden;
}
.item-radio input:checked~.item-content {
  background: #ffffe4;
}
.foot-bg{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height:15.5px;
  background:url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Ffoot_bg1.png") repeat-x;
  background-size: 30.5px 15.5px;
}
