
.box-s1{
 box-shadow: 0 1px 3px #ccc;

}
.title-card{
  position: absolute;
  width:100%;
  z-index:2;
  background-color: #1fc5a0;
  height:150px;
  color:#fff;
  text-align: center;

}
 .title-card .card-num{
  margin-top:1px;
  border-bottom: 1px solid #fff;
  padding:0 5px 5px;
  display: inline-block;
  vertical-align: middle;
}
 .title-card .card-time{
  margin-top:32.5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
 }

 .title-card  .mother-num{
  border:1px solid #1fc5a0;
  position: absolute;
  width:180px;
  height:35px;
  line-height:35px;
  left:50%;
  margin-left:-90px;
  bottom: -17.5px;
  background-color: #fff;
  border-radius: 25px;
  color:#1fc5a0;
  font-size:15px;

 }
 .task-deal {
  margin:35px 10px 20px;
  border-radius: 15px;
  background-color: #fff;
}
.task-deal dl{
 padding-bottom: 20px;
}
.task-deal dt{
  font-weight: normal;
  font-size:16px;
  margin:10px 15px;
  color:#fe717b;
 }

 .task-deal dd{
  position: relative;
  padding-top:20px;
}
 .task-deal dd .task-name{
  position: absolute;
  left:0;
  width:104.5px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Ftask_name_bg.png") no-repeat;
  background-size: 104.5px 25px;
  font-size:15px;
  color:#fff;
  margin-bottom: 20px;
  padding-left:16px;

}
 .task-deal dd  p{
  font-size:14px;
  color:#999;
  margin:20px 0 0;
  padding:20px 20px 0;
 }
.task-deal dd  p.text{
 text-indent: 2em;

}
.task-deal2{
  margin:0 10px 20px;
}
.task-deal2 dl{
  background-color: #fff;
  border-radius: 15px;
  margin-top:35px;
}
.task-deal2 dl dt{
  text-align: center;
  width:228.5px;
  height:41.5px;
  line-height:28px;
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Ftask_name_bg1.png") no-repeat center -1px ;
  background-size: 228.5px 41.5px;
  font-size: 16px;
  color:#fff;
  font-weight: normal;
  margin:0 auto 25px;

}

.task-deal2 dl:nth-of-type(2) dt{
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Ftask_name_bg2.png") no-repeat center -1px ;
  background-size: 228.5px 41.5px;
}
.task-deal2 dl:nth-of-type(3) dt{
  background: url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Ftask_name_bg3.png") no-repeat center -1px ;
  background-size: 228.5px 41.5px;
}
.task-deal2  dd{
  padding:0 20px 25px;
  font-size:15px;
  position: relative;
}

.task-deal2  dd .open{
  height:22px;
  text-align: center;
  position: absolute;
  right:15px;
  top:0;
  color:#1fc5a0;
  font-size:13px;
}
.task-deal2  dd .open img{
  margin-left:7.5px;
  margin-top:-3px;
  vertical-align: middle;
}
.task-deal2  dd span{
 color:#666;
}
.task-deal2 dd a{
  display: inline-block;
  color:#999;
  margin-right:5px;
}
.task-deal2 dd a:last-of-type{
  margin-right:0;
}
.task-deal2 dd  .pic-list{
  text-align: center;
  margin-top:25px;
}
.task-deal2 dd  .pic-list img{
  margin-right:26px;

}
.task-deal2 dd  .pic-list img:last-child{
  margin-right:0;
}
.task-deal2 dd p{
  padding:20px 0;
  font-size:14px;
  color:#999;
}
.task-deal2 p.select{
  height:57px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fix-bottom{
  position: absolute;
  width:100%;
  height:auto;
  bottom: 0;
}
.comment-wrap {
  width:100%;
  color:#88d9dd;
  font-size:12px;
  background-color: #fff;
  margin-bottom: 180px;

}
.comment-wrap dl{
  margin-bottom: 0;
}
.comment-wrap .comment-head{
  color:#fff;
  font-size:15px;
  height:35px;
  line-height:35px;
  position: relative;
  background-color: #88d9dd;
  padding:0 10px ;
  font-weight: normal;
}
.comment-wrap img{
 margin-top:-2px;
 vertical-align: middle;
}
.comment-wrap .comment-head span{
 font-size:14px;
}
.comment-wrap .comment-head a{
 float: right;
 font-size: 11px;
}
.comment-wrap .comment-list {
  border-bottom: 1px solid #f0f0f0;
  margin:0 15px;
  position: relative;
  padding-left:62px;
  min-height: 60px;
  background-color: #fff;

}
.comment-wrap dd.comment-list:last-of-type{
 border-bottom: none;
}
.comment-wrap .comment-list img{
 left:0!important;
 top:0!important;
}
.comment-wrap .comment-list h2{
 color:#333;
 font-size:15px;
 margin-top:12px;
}
.comment-wrap .comment-list p{
 color:#666;
 font-size:12px;
  margin-bottom: 0;
}
.comment-wrap .comment-list span{
 position: absolute;
 top:1px;
 right:0;
 color:#999;
 font-size:12px;
}
 .check-card{
  width:100%;
  position: absolute;
  z-index:3;
  bottom: 0;
  text-align: center;
}
.check-card a{
 font-size:12px;
 color: #88d9dd;
  text-align: center;
}
.check-card a img{
  display: block;
  margin:0 auto;
  padding:0;
  background:none;
}
.check-card a img.activated{
  background: none;
}

.slider-pager .slider-pager-page {
  color: #ccc;
  font-size:10px;
}
 .slider-pager .slider-pager-page.active{
  color:#999;
}
.click-card{
  position: absolute;
  top:-12px;
  right:1px;
  border-radius: 50%;
  width:41px;
  height:41px;
  line-height:41px;
  text-align: center;
  font-size:13px;
  border:1px solid #01c22a;
  color:#01c22a
}
.click-card-finish{
  border:1px solid #fe717b;
  color:#fe717b
}