@height: `document.documentElement.clientHeight`;
@width: `document.documentElement.clientWidth`;
.constipationLead{
   background-color: #ce9bdd;
 }
.constipationLead.bg1{
  background-color: #ce9bdd;
}
.constipationLead.bg2{
  background-color: #ff7891;
}
.constipationLead.bg3{
  background-color: #47d3a9;
}
.constipationLead.bg4{
  background-color: #b1d700;
}
.constipationLead.bg5{
  background-color: #32c4c2;
}
.constipationLead .box{
  overflow: hidden;
}
.slider {
  height: 100%;
  position: relative;
  visibility: hidden;
  overflow: hidden;
}
.slider-slides {
  overflow: hidden;
}

.constipationLead img{
  display: block;
  margin:0 auto;
}
.constipationLead img.experience{
  margin-top:15px;
}
.slider-pager {
  bottom:10px;
}
.slider-pager .slider-pager-page {
 opacity: 0.5;
  font-size:10px;
}
.slider-pager .slider-pager-page.active{
  color:#fff;
}