.constipationMShortDeal{
  background-color: #ffffe4;
}
.slider-pager {
  bottom: 6px;
}
.constipationMShortDeal dl{
  margin:20px 10px;
}
.constipationMShortDeal dt{
  font-weight: normal;
  color:#88d9dd;
  font-size:13px;
  margin-bottom: 10px;
}
.constipationMShortDeal dd.dd-text{
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #ccc;
  background-color: #fff;
  padding:17.5px 15px;

}
.constipationMShortDeal dd.dd-text div{
  color:#88d9dd;
  font-size:15px;
  text-align: center;
  margin-bottom: 17.5px;
}
.constipationMShortDeal dd.dd-text p{
  text-indent: 2em;
  font-size:14px;
  color:#666;
}
.constipationMShortDeal .recommend{
  position: relative;
  text-align: center;
  border-radius: 15px;
  border: 1px dashed #88d9dd;
  padding:20px 0;
  margin:30px 10px 0;
}
.constipationMShortDeal .recommend h4{
  position: absolute;
  color:#88d9dd;
  font-size:16px;
  left:50%;
  top:0;
  padding:10px 20px;
  margin-left:-52px;
  margin-top:-20px;
  background-color: #ffffe4;
}
.constipationMShortDeal .recommend a{
  display: inline-block;
  color:#666;
  font-size: 13px;
  margin-bottom: 10px;
  margin-right:20px;

}
.constipationMShortDeal .recommend a:last-of-type {
  margin-right:0;
}

.constipationMShortDeal .recommend a img{
  border-radius:50% ;
}
.mother-help{
  margin:30px 10px;
  border-radius: 15px;
  border: 1px dashed #88d9dd;
  color:#666;
  font-size:13px;
  text-align: center;
  padding:30px 0;
}
.mother-help span{
  display: inline-block;
  padding:3px 5px;
  border:1px solid #88d9dd;
  margin:0 5px;
  border-radius: 10px;
  color: #88d9dd;
}
.mother-help p:last-of-type{
  margin-bottom: 0;
}
.constipationMShortDeal .plan{
  margin-top:0;
}
.constipationMShortDeal .plan .foot-btn{
  margin-top:25px;
}
.slider-pager .slider-pager-page {
  color: #ccc;
  font-size:10px;
}
 .slider-pager .slider-pager-page.active{
  color:#999;
}

