.constipationFoodAvoid{
}
.constipationFoodAvoid .warn{
  padding:70px 0;
  text-align: center;
}

.constipationFoodAvoid .warn p{
  font-size:15px;
  color:#88d9dd;
  line-height: 30px;

}
.constipationFoodAvoid .warn p span{
  color:#fe717b;
}
.constipationFoodAvoid .food-avoid{
  margin:0 20px 20px;
 text-align: center;
  white-space: normal;
  overflow: hidden;
}
.constipationFoodAvoid .food-avoid .line{
  margin:10px 50px 0;
  height:1px;
  background-color: #88d9dd;
  text-align: center;
  position: relative;
}
.constipationFoodAvoid .food-avoid .span1{
  position: absolute;
  top:-10px;
  left:50%;
  margin-left:-15px;
  width:30px;
  background-color: #ffffe4;
}
.constipationFoodAvoid .food-avoid .cir{
  display: inline-block;
  width:8px;
  height:8px;
  background-color: #88d9dd;
  border-radius: 50%;

}
.constipationFoodAvoid .food-avoid ul{
  margin-top:45px;
}
.constipationFoodAvoid .food-avoid li{
  float: left;
  width:33.3333%;
  margin-bottom:15px;
  text-align: center;
}
.constipationFoodAvoid .food-avoid li a{
  display: inline-block;
  height:27px;
  line-height:27px;
  border-radius: 25px;
  color:#88d8dd;
  border:1px solid #88d9dd;
  text-align: center;
  width:62px;
  position: relative;
}
.constipationFoodAvoid .food-avoid li a.del{
  color:#ccc;
  border:1px solid #ccc;
}
.constipationFoodAvoid .food-avoid li a img{
  display: none;
  position: absolute;
  left:16px;
  top:4.25px;
}
.constipationFoodAvoid .food-avoid li a img.show{
  display: inline-block;
}
