.constipationFollowForget{
  background-color: #ffffa4;
}

.constipationFollowForget .warn{
  padding:40px 0;
  text-align: center;
  position: relative;
}
.constipationFollowForget .warn p{
  position: absolute;
  left:0;
  top:124px;
  width:100%;
  font-size:15px;
  color:#fff;
  text-align: center;
  line-height: 28px;
}

.constipationFollowForget .select-case{
  background: none;
}

.constipationFollowForget .select-case li{
  color:#ffa2a2;
}
.constipationFollowForget .select-case li.do{
  color:#e4aaff;
}
.constipationFollowForget .select-case li.item.activated{
  background-color: #ffa2a2;
  color:#fff;
}
.constipationFollowForget .select-case li.item.activated.do{
  background-color: #e4aaff;
}
.foot-bg{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height:15px;
  background:url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Fforget12.png") repeat-x;
  background-size: 30px 15px;
}
.foot-bg.do{
  background:url("http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/constipation%2Fforget22.png") repeat-x;
  background-size: 30px 15px;
}