 .select-time-sha{
   position:absolute;
   left:0;
   top:0;
   z-index: 14;
   width:100%;
   height:100%;
   background: #000;
   filter:alpha(Opacity=50);
   -moz-opacity:0.5;
   opacity: 0.5;
}
 .select-time{
   position:absolute;
   bottom:0;
   z-index: 15;
   width:100%;
 }
 .select-time .time{
   width:100%;
   height:200px;
   margin:5px auto;
   position: relative;
   background-color: #fff;
   padding:1px 10px;
   overflow: hidden;
 }
 .select-time .time .t{
   position: relative;
   padding:0;
   border:none;
   color:#88d9dd;
   font-size:15px;
 }

 .select-time .time .t ul{
   width:100%;
   height:200px;
   overflow-y: scroll;
   border-top:1px solid #eee;
 }
 .select-time .time .t ul::-webkit-scrollbar {
   width:0;
   height:0;
 }
 .select-time .time .t li{
   padding:0 8px;
   text-align: center;
   border-bottom: 1px solid #eee;
   height:44px;
   line-height:44px;
   margin:0 0;

 }
 .select-time .time .t li:last-child{
   border-bottom: none;
 }
 .select-time .fl{

 }

.addTitle{
  width:100%;
  background-color:#f9f9f9 ;
  text-align: center;

}
.addTitle .time{
  margin:10px 0;
  height:38px;
  font-size:0;
  width:80%;
  display: inline-block;
}
.addTitle .time span{
  display: inline-block;
  height:38px;
  line-height:38px;
  font-size:15px;
  text-align: center;
}
.addTitle .time .l{
  width:30%;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 5px 0 0 5px;
  border:1px solid #88d9dd;

}
.addTitle .time .r{
  width:70%;
  color:#88d9dd;
  border:1px solid #88d9dd;
  border-radius:0  5px 5px 0;

}

.addTime{
  top:58px;
}
 .addTime .add-tips{
   font-size:12px;
   color:#999;
   margin:0 20px 10px;
 }
 .addTime .add-tips img{
  vertical-align: middle;
   margin-top:-2px;
   margin-right:3px;
 }
.addTime .list{
  background-color: #fff;
  margin-top:10px;
  margin-bottom:0;
  padding:0 20px
  overflow: hidden;
}

.addTime  ul.item{
  margin:0 ;
  padding:0;
  background-color: #fff;
}
.addTime  ul.item >li{
  margin:0 20px;
  padding:20px 0;
  overflow: hidden;
  position: relative;

}
.addTime  ul.item >li:first-child{
  border-bottom:1px solid #ccc;
}
.addTime  ul.item >li span{
  line-height:24px;
}
.addTime  ul.item >li .l{
  position: absolute;
  left: 20px;
  font-size:16px;
  color:#333;
}
.addTime  ul.item >li .r{
  float: right;
  font-size:14px;
  color:#999;
  margin-right:40px;
}
.addTime  ul.item li> i{
  position: absolute;
  right:20px;
  top:17px;
  color:#88d9dd;
  font-size:30px;

}
.addTime  ul .sha{
  /*margin-top:1px;*/
  padding-top:0;
  padding-bottom:2px;
  width:100%;
  height:1px;
 /* border-bottom:1px solid #ccc;*/
  background-color: #ccc;
  box-shadow: 1px 2px 5px #000;
}
.addTime  ul ul{
  margin:-1px 0 0;
  padding:25px 0 0 20px;
  background-color: #f9f9f9;

}


.addTime  ul ul li{
  padding:0 0 25px ;
  color:#666;
  font-size:15px;

}
.addTime  ul ul.sha{
  width:100%;
  height:1px;
  border-top:1px solid #ccc;
  box-shadow: 1px 2px 5px #000;
}
 .addTime  span.guaHao a{
   font-size:12px;
   color:#999;
 }
 .addTime  span.guaHao a img{
   vertical-align: middle;
 }
 .addTime  .guaHao-fee input{
   width:68px;
   height:24px;
   padding:8px;
   background-color: #f0f0f0;
   border:none;
   box-shadow: -2px 2px 2px #dfdfdf inset;
 }
.foot-btn.btn{
  width:100%;
  margin:0;
  position: absolute;
  left:0;
  bottom:0;
  z-index:0;
  border-radius: 0;
}
