.tog-date{
  width:80%;
  margin:10px 10%;
  border-radius: 5px;
  font-size:0;
  position: absolute;
  z-index: 2;
  height:40px;
  text-align: center;
}
.tog-date span{
  font-size:18px;
  display: inline-block;
  width:50%;
  height:40px;
  line-height:40px;
  text-align: center;
  color:#88d9dd;
  border: 1px solid #88d9dd;
}
.tog-date span:first-child{
  border-radius: 8px 0 0 8px;
}
.tog-date span:last-child{
  border-radius: 0 8px 8px 0;
}
.settlement{
  background-color: #fff;
}
.settlement dl{

  margin-bottom:0;
  padding:0 20px;
}
.settlement dl {
  padding:10px 0;
  border:none;
}
.settlement dt{
  padding:15px 20px 15px 16px;
  border:1px solid #88d9dd;
  font-size:15px;
  color:#333;
  font-weight:normal;
  position: relative;

}
.settlement dt span{
  display: inline-block;
  width:14px;
  height:21px;
  text-align: center;
  font-size:10px;
  background:url("http://xiaoerke-doctor-pic.oss-cn-beijing.aliyuncs.com/images%2Ficon_add.png") no-repeat;
  background-size: 14px 21px;
  color:#fff;
  position: absolute;
  top:15px;
  left:20px;
}
.settlement dd{
  margin:0 20px;
  padding:10px 0;
  border-bottom: 1px solid #f0f0f0;
  color:#9a9a9a;
  font-size:13px;

}
.settlement dd:last-child{
  border:none;
}
.settlement dd .name{
  position: relative;
  font-size:16px;
  color:#333;
  margin-bottom:2px;
}
.settlement dd .name .r{
  position: absolute;
  right:0px;
  top:0;
  font-size:13px;
  color:#9a9a9a;
}