<ion-spinner ng-show="pageLoading" class="loadPic"></ion-spinner>
<ion-view view-title={{title0}} ng-init="doRefresh()">
    <div bdf-head="title"></div>
    <ion-content class="sharedSuccess">
        <ion-scroll direction="y" has-bouncing="true" >
            <div class="box">
                <img src="images/share-success.png" width="98" height="98" style="margin-top:20px;">
                <p>
                    您已成功分享，感谢您对宝大夫的支持。
                </p>
            </div>
            <div bdf-footer ></div>
        </ion-scroll>
    </ion-content>
</ion-view>