.heightForecastBirthTest{
  background-color: #fff;
}
.heightForecastBirthTest .intro{
  text-align: center;
  padding: 20px 0;
}
.heightForecastBirthTest .outside {
  padding: 0 15px 0 9px;
}
.heightForecastBirthTest .question {
  margin-bottom: 20px;
  padding: 10px 5px 10px 5px;
}
.heightForecastBirthTest .question1 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_a_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question2 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_b_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question3 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_c_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question4 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_d_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question5 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_e_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question6 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_f_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question7 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_g_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastBirthTest .question .qContent{
  width: 100%;
}
.heightForecastBirthTest .question .qContent .qTitle{
  line-height: 42px;
  font-size: 18px;
  text-align: center;
  color: #333;

}
.heightForecastBirthTest .question .qContent a.qSelect{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: #fff;
  padding: 0 15px;
  color: #666;
  position: relative;
}

.heightForecastBirthTest .question .qContent a.qSelectEnt {
  text-align: end;
}
.heightForecastBirthTest .question .qContent .qSelect1{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: transparent;
  padding: 0 15px;
  position: absolute;
  color: transparent;
  top: 0;
  left: -10px;
  width: 100%;
}
.selected{
  background-color: #9fdcff!important;
}
.heightForecastBirthTest .lookResult{
  background-color: #ff6168;
  font-size: 18px;
  line-height: 47px;
  margin: 0 15px 0 9px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  box-shadow:0 2px 2px #da555b;
}
.heightForecastBirthTest .height{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.heightForecastBirthTest #babyBirthday,#dadBirthday,#mamBirthday{
  background-color: transparent;
  text-align: center;
}
.heightForecastBirthTest input{
  background-color: transparent;
}
.heightForecastBirthTest .floatImg{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 15px;
}
.heightForecastBirthTest .floatImg img:nth-child(1){
  float: right;
}
.heightForecastBirthTest .floatImg1 img:nth-child(1){
  margin: 30px 0 50px 0;
}
.heightForecastBirthTest .floatImg img:nth-child(2){
  width: 100%;
  margin: 6px 0;
}
.heightForecastBirthTest .c-shadow1 {
  opacity: 1;
  background-color: #FE676E;
}