.heightForecastNoBirthTest{
  background-color: #fff;
}
.heightForecastNoBirthTest .intro{
  text-align: center;
  padding: 20px 0;
}
.heightForecastNoBirthTest .outside {
  padding: 0 15px 0 9px;
}
.heightForecastNoBirthTest .question {
  margin-bottom: 20px;
  padding: 10px 5px 10px 5px;
}
.heightForecastNoBirthTest .question1 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_a_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question2 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_b_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question3 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_c_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question4 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_d_png_03.png') no-repeat;
  background-size: 100% 100%;
}

.heightForecastNoBirthTest .question .qContent{
  width: 100%;
}
.heightForecastNoBirthTest .question .qContent .qTitle{
  line-height: 42px;
  font-size: 18px;
  text-align: center;
  color: #333;

}
.heightForecastNoBirthTest .question .qContent a.qSelect{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: #fff;
  padding: 0 15px;
  color: #666;
}
.heightForecastNoBirthTest .question .qContent a.qSelect:hover{
  background-color: #9fdcff;
}
.heightForecastNoBirthTest .lookResult{
  background-color: #ff6168;
  font-size: 18px;
  line-height: 47px;
  margin: 0 15px 0 9px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  box-shadow:0 2px 2px #da555b;
}