.heightForecastNoBirthTest{
  background-color: #fff;
}
.heightForecastNoBirthTest .intro{
  text-align: center;
  padding: 20px 0;
}
.heightForecastNoBirthTest .outside {
  padding: 0 15px 0 9px;
}
.heightForecastNoBirthTest .question {
  margin-bottom: 20px;
  padding: 10px 5px 10px 5px;
}
.heightForecastNoBirthTest .question1 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fone_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question2 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftwo_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question3 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fthree_png_03.png') no-repeat;
  background-size: 100% 100%;
}
.heightForecastNoBirthTest .question4 {
  background: url('http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ffour_png_03.png') no-repeat;
  background-size: 100% 100%;
}

.heightForecastNoBirthTest .question .qContent{
  width: 100%;
}
.heightForecastNoBirthTest .question .qContent .qTitle{
  line-height: 42px;
  font-size: 18px;
  text-align: center;
  color: #333;

}
.heightForecastNoBirthTest .question .qContent .qSelect{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: #fff;
  padding: 0 15px;
  color: #666;
  position: relative;
  text-align: center;
}
.heightForecastNoBirthTest .question .qContent .qSelectEnt {
  text-align: end;
}
.heightForecastNoBirthTest .question .qContent .qSelect1{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: transparent;
  padding: 0 15px;
  position: absolute;
  color: transparent;
  top: 0;
  left: -10px;
  width: 100%;
}
.selected{
  background-color: #9fdcff!important;
}
.heightForecastNoBirthTest .lookResult{
  background-color: #ff6168;
  font-size: 18px;
  line-height: 47px;
  margin: 0 15px 0 9px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  box-shadow:0 2px 2px #da555b;
}
.heightForecastNoBirthTest .height{
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
}
.heightForecastNoBirthTest input{
  background-color: transparent;
}
.heightForecastNoBirthTest #dadBirthday,#mamBirthday{
  background-color: transparent;
  text-align: center;
}
.heightForecastNoBirthTest .floatImg{
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 15px;
}
.heightForecastNoBirthTest .floatImg img:nth-child(1){
  float: right;
}
.heightForecastNoBirthTest .floatImg img:nth-child(2){
  width: 100%;
  margin: 6px 0;
}