.heightForecastBirthTest{
  background-color: #fff;
}
.heightForecastBirthTest .intro{
  text-align: center;
  padding: 20px 0;
}
.heightForecastBirthTest .outside {
  padding: 0 15px 0 9px;
}
.heightForecastBirthTest .question {
  margin-bottom: 28px;
  position: relative;
}
.heightForecastBirthTest .question .qContent{
  position: absolute;
  top: 10px;
  width: 100%;
}
.heightForecastBirthTest .question .qContent .qTitle{
  line-height: 42px;
  font-size: 18px;
  text-align: center;
  color: #333;

}
.heightForecastBirthTest .question .qContent a.qSelect{
  display: block;
  line-height: 36px;
  font-size: 16px;
  margin: 0 5px 0 10px;
  background-color: #fff;
  padding: 0 15px;
  color: #666;
}
.heightForecastBirthTest .question .qContent a.qSelect:hover{
  background-color: #9fdcff;
}