.heightForecastFirst .heightIndex{
  padding: 0 6px;
  text-align: center;
}
.heightForecastFirst img{
  width: 80%;
}
.heightForecastFirst .heightIndex1 img{
  width: 50%;
}

.heightForecastFirst .heightIndex1{
  margin: 10px;
  text-align: center;
}
.heightForecastFirst .heightIndex2{
  font-size: 18px;
  color: #333;
  text-align: center;
  line-height: 41px;
}
.heightForecastFirst .bottom{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.heightForecastFirst .lookResult{
  background-color: #ff6168;
  font-size: 18px;
  line-height: 45px;
  border-radius: 5px;
  color: #fff;
  box-shadow:0 2px 2px #da555b;
  width: 40%;
  margin: 0 auto;
  display: inline-block;
}
.heightForecastFirst{
  height: 100%;
  overflow-y: scroll;
}
