.heightForecastResult{
  background-color: #fff;
}
.heightForecastResult .intro{
  padding: 14px 42px 6px 42px;
}
.heightForecastResult .intro1{
  position: relative;
  padding: 0 20px 5px 20px;
  overflow: hidden;
}
.heightForecastResult .intro1 img:nth-child(1){
  margin-bottom: 3px;
}
.heightForecastResult .intro1 .height{
  position: absolute;
  top: 6%;
  left: 32%;
  margin-left: -28px;
}
.heightForecastResult .intro1 .height span{
  font-size:21px;
  color: #ff4200;
  font-weight: 700;
}
.heightForecastResult .intro1 .height span:nth-child(2){
  font-size:10px;
  color: #ff4200;
  font-weight: 400;
}

.heightForecastResult .intro2{
  padding: 5px 5px;
  overflow: hidden;
}
.heightForecastResult .intro2 .baby {
  width: 50%;
  float: left;
  position: relative;
  padding: 5px;
}
.heightForecastResult .intro2 .baby .height{
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -28px;
}
.heightForecastResult .intro2 .baby .height span{
  font-size:14px;
  color: #ff4200;
  font-weight: 700;
}
.heightForecastResult .intro2 .baby .height span:nth-child(2){
  font-size:7px;
  color: #ff4200;
  font-weight: 400;
}
.heightForecastResult .lookResult{
  position: relative;
}
.heightForecastResult .lookResult .linkArticle {
  position: absolute;
  bottom: 78%;
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  text-decoration:underline;
  color: #00f6ff;
}
.heightForecastResult .lookResult1 {
  //padding: 10px 0 0 0;
}
.heightForecastResult .lookResult1 .linkArticle a{
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 38px;
  border: 1px solid #ff616c;
  color: #ff616c;
  margin:10px 9px 0 ;
}