.heightForecastResult{
  background-color: #fff;
}
.heightForecastResult .intro,.heightForecastResult .outside{
  padding: 20px;
}
.heightForecastResult .intro1{
  position: relative;
  padding: 20px 40px;
}
.heightForecastResult .intro1 .height{
  position: absolute;
  top: 33%;
  left: 50%;
  margin-left: -28px;
}
.heightForecastResult .intro1 .height span{
  font-size:21px;
  color: #ff4200;
  font-weight: 700;
}
.heightForecastResult .intro1 .height span:nth-child(2){
  font-size:10px;
  color: #ff4200;
  font-weight: 400;
}