.bindDoctorPhone{

}

.bindDoctorPhone .list{
  position:relative;
  background-color: #fff;
}

.bindDoctorPhone .item-input .errorTips{
  position: absolute;
  right:10px;
  font-size: 12px;
  color:#f17e7b;
  top:20px;
}
.bindDoctorPhone .item-input .errorTips img{
  vertical-align: middle;
 margin-top:-2px;
}
.bindDoctorPhone .doc-deal{
  text-align: center;
  margin:48px 0 0;
}
.bindDoctorPhone .doc-deal img{
  vertical-align: middle;
  margin-top:-2px;

}
.bindDoctorPhone .doc-deal a{
  font-size:12px;
  color:#56abe4;
}
.bindDoctorPhone .getCode{
  font-size:13px;
  color:#fff;
  text-align: center;
  width:95px;
  height:30px;
  line-height:30px;
  position:absolute;
  bottom:12px;
  right:10px;
  z-index:9;
  border-radius:5px;
  border:none;
  background-color: #88d9dd;
}
.bindDoctorPhone .sure{
  margin-top:10px;
  margin-left:5%;
  width:90%;
  height:40px;
  line-height:40px;
  font-size:18px;
  background-color: #88d9dd!important;
  border:none;
  color:#fff;
}