.state  .scroll-view.ionic-scroll {
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
}
.state .item{
  text-align: center;
}
.state .item img{
  margin-top:70px;
  margin-bottom: 40px;
}
.state .item .p1{
  color:#4ea4b4;
  font-size:15px;
  margin-bottom: 25px;
}
.state .item .p2{
  color:#86979b;
  font-size:16px;
  margin-bottom: 25px;
}