.userDeal .main{
  margin:20px 10px;
}
.userDeal .main p{
  text-indent:2em;
  white-space: normal;
}
.userDeal .h{
  color:#333;
  font-size:15px;
  line-height: 22px;
}
.userDeal .main dl{
  margin-top:20px;
}
.userDeal .main dt{
  font-size:15px;
  color:#333;
  font-weight:500;
  text-indent:2em;
  padding:15px 0;
}

.userDeal .main dd p{
  font-size:13px;
  color:#666;
  line-height: 20px;
  margin-bottom: 10px;

}
.userDeal .main dd p.pp{
  margin-bottom: 5px;
}