<link rel="stylesheet" href="scripts/styles/bdf2/callMine.less?ver='0.9'" type="text/css" />
<div style="min-width: 1024px" ng-init="initial()">
    <div class="bdf_title ">
        <div class="bdf_main clearfix">
            <div class="bdf_logo"></div>
            <ul>
                <li ng-click="goIndex()">首页</li>
                <li class="curr">关于我们</li>
            </ul>
        </div>
    </div>
    <div class="mine_ban"></div>
    <div class="mine_content clearfix">
        <div class="mine_conleft">
            <img class="mcl_img_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/mine_guanyuwomen.png"/>
            <dl>
                <dd ng-click="goGuanYu()" id="GuanYu">关于我们</dd>
                <dd ng-click="goLianXi('GW_GYWM_LXWM')" id="LianXi">联系我们</dd>
                <dd ng-click="goFuWu('GW_GYWM_FWXY')" id="FuWu">服务协议</dd>
                <dd ng-click="goYinSi('GW_GYWM_YSBH')" id="YinSi">隐私保护</dd>
            </dl>
        </div>
        <div class="mine_conright ps-container ps-active-x ps-active-y" id="content_scroll">
            <div id="guanyumine">
                <div class="mine_con">
                    <dl class="company_intro">
                        <dt class="c1 c14">公司简介</dt>
                        <dd class="c2">北京晨星启明科技有限公司，是中国首家儿童医疗的移动互联网S2C公司。核心团队来自百度、阿里巴巴、北京儿童医院、北京大学第一医院、北京新世纪儿童医院。团队成员是中国移动互联网和移动医疗领域的首批实践者。秉承以用户为中心的理念，致力于开创儿童医疗服务和健康管理的全新模式和用户体验。 </dd>
                    </dl>
                    <dl class="product_intro">
                        <dt class="c1 c14">产品介绍</dt>
                        <dd class="c3 c14">咨询大夫</dd>
                        <dd class="c4 c2">
                            <div class="c5">
                                <span class="c6">即时咨询 : </span>微信直接咨询三甲医院儿科专家，全年无休7X24小时在线，1分钟内即时回复。
                            </div>
                            <div class="c5">
                                <span class="c6">全科会诊 : </span>以用户为中心进行全科会诊，包括小儿内科、皮肤科、外科、眼科、耳鼻喉科、口腔科、营养保健科、中医科，以及妇产科。
                            </div>
                        </dd>
                        <dd class="c3 c14">预约大夫</dd>
                        <dd class="c4 c2">
                            <div class="c5">
                                <span class="c6">名医面诊 : </span>随时预约权威医院儿童专家面对面咨询，提供线上准时预约，线下准时就诊，免去排队时间，给宝宝提供及时服务。
                            </div>
                            <div class="c5">
                                <span class="c6">名医电话 : </span>权威儿科专家，10分钟通话，并进行个性化就诊和康复指导。
                            </div>
                            <div class="c5">
                                <span class="c6">品质医疗 : </span>精选医疗机构，为用户提供就医绿色通道、诊疗费用减免、以及专属特色优惠服务。
                            </div>
                        </dd>
                        <dd class="c3 c14">宝护伞</dd>
                        <dd class="c4 c2">
                            <div class="c5 c7">
                                <span class="c6">极限性价比 : </span>加入即可免费获得最高40万大病保障金。
                            </div>
                            <div class="c5 c7">
                                <span class="c6">保障超全面 : </span>包含白血病在内的60种常见少儿重大疾病，及15种轻症。
                            </div>
                            <div class="c5 c7">
                                <span class="c6">运营全透明 : </span>第三方账户监管；救助事件全程公示；专业第三方公估机构调查。
                            </div>
                            <div class="c5 c7">
                                <span class="c6">医疗最权威 : </span>权威儿科专家会诊团，向每位申请救助的会员免费提供北京三甲医院专家（副主任以上）门诊、住院、手术安排。
                            </div>
                        </dd>
                    </dl>
                    <div class="founder_intro">
                        <div class="c1 c14">创始人简介</div>
                        <div class="founder_img">
                            <div class="c8 founder_1 founderx_com">2008年</div>
                            <div class="c9 founder_2 founderx_com">任百度总裁助理</div>
                            <div class="c8 founder_3 founderx_com">2013年</div>
                            <div class="c9 founder_4 founderx_com">晋升为副总裁，百度基金会理事长</div>
                            <div class="c8 founder_5 founderx_com">2015年</div>
                            <div class="c9 founder_6 founderx_com">离开百度，开始涉及互联网医疗行业，并创建儿科领域的垂直化育儿保健平台“宝大夫”</div>
                        </div>
                        <div class="c8 founder_7 ">2015年8月</div>
                        <div class="c9 founder_8 ">上线官方微信服务平台“宝大夫”<br/>
                            应用互联网思维推动儿科医疗更加科学及人性化的发展，在医生和病患之间建立信任机制<br/>
                            帮助宝爸宝妈们建立科学的保健及预判意识，从而减少宝宝们的就诊次数及就诊时间，建立全新的健康档案<br/>
                            为中国宝宝的健康未来保驾护航</div>
                    </div>
                </div>
            </div>
            <div id="lianximine">
                <div class="mine_con">
                    <dl>
                        <dt class="c1 c14">客户服务</dt>
                        <dd class="c2 c5 c11">
                            <span class="c6">公司地址 : </span>北京市朝阳区酒仙桥路新港大厦1208室
                        </dd>
                        <dd class="c2 c5">
                            <span class="c6">微信账号 : </span>宝大夫（BaodfWX）
                        </dd>
                        <dd class="c2 c5">
                            <span class="c6">客服电话 : </span>400-623-7120
                        </dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">媒体合作</dt>
                        <dd class="c2 c5 c11">
                            <span class="c6">联系人 : </span>王女士
                        </dd>
                        <dd class="c2 c5 c17">
                            <span class="c6">QQ : </span>2904149273
                        </dd>
                        <dd class="c2 c5 c16">
                            <span class="c6">邮箱 : </span>wanghua@baodf.com
                        </dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">商务合作</dt>
                        <dd class="c2 c5 c11">
                            <span class="c6">联系人 : </span>刘女士
                        </dd>
                        <dd class="c2 c5">
                            <span class="c6">手机号 : </span>13910933071
                        </dd>
                    </dl>
                </div>
            </div>
            <div id="fuwuxieyi">
                <div class="mine_con">
                    <dl>
                        <dt class="c1 c14">服务协议总则</dt>
                        <dd class="c2 c11 c13"><span class="c6">1、</span>本协议中的网站指宝大夫（www.baodaifu.com）。网站的所有权和运营权归北京晨星启明科技有限公司所有。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>本服务协议在于：规范网站和网站的使用者（以下简称：用户）之间的行为和关系，保护用户和网站双方的权益。</dd>
                        <dd class="c2 c13"><span class="c6">3、</span>宝大夫平台为广大用户提供全面的医患咨询互动服务，为充分保护用户对于宝大夫提供各项服务的知情权，宝大夫就其提供的各项服务的相关性、有效性以及限制性提供以下服务条款。在用户使用以及购买网站提供服务之前，用户需详细阅读并接受网站服务协议，否则宝大夫将无法为用户提供该协议中规定的服务。</dd>
                        <dd class="c2 c13"><span class="c6">4、</span>用户应当同意本协议的全部条款，方能按系统提示完成全部健康服务，包括：免费咨询、电话咨询、名医面诊以及其他服务流程。用户在使用各项服务的过程中，根据各种形式的提示表示“同意”的操作，即表示本人完全接受本协议项下的全部条款。</dd>
                        <dd class="c2 c13"><span class="c6">5、</span>本服务协议适用于网站提供的各种服务，应遵守本服务协议及网站随时公布的与该服务相关的服务条款、指引或规则等。前述所有的指引和规则，均构成本服务协议的一部分。除非本服务协议另有其他明示规定，新推出的产品或服务、增加或强化目前本服务的任何新功能，均受到本服务协议之规范。</dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">服务条款</dt>
                        <dd class="c2 c11">用户可以在宝大夫公众号（BaodfWX)享受免费咨询、电话咨询、名医面诊服务。</dd>
                        <dd class="c3 c14">免费咨询</dd>
                        <dd class="c2 c4 c13"><span class="c6">1、</span>用户在宝大夫进行提问咨询时，必须遵守该产品的相关规定，宝大夫对用户的所有资料绝对保密。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>用户向医生咨询时，不得使用不文明用语。</dd>
                        <dd class="c3 c14">电话咨询</dd>
                        <dd class="c2 c4">用户使用电话咨询服务，需要在宝大夫上绑定手机号，并进行支付该项服务的费用后，可享受电话咨询服务项目。</dd>
                        <dd class="c2 c13"><span class="c6">1、</span>用户必须申请电话咨询服务时，填写个人真实信息，用来保证我们能够为其提供优质服务的依据。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>电话咨询服务只限于用户的主观描述，医生将尽可能的利用医学专业知识以及临床经验给予详细的解答以及就医方面的建议，<span class="c14">但本网站医生基于患者自述病情所发表的言论仅供参考，不能作为诊断和治疗的直接依据，不能给予用户出具处方。</span></dd>
                        <dd class="c2 c13"><span class="c6">3、</span>用户在电话咨询过程中要语言文明，尊重医生，平等交流。<span class="c14">如有对医生恶意中伤，语言不文明，医生有权立即中断服务，此类服务，无权要求退款。</span></dd>
                        <dd class="c2 c13"><span class="c6">4、</span>用户在使用电话咨询服务过程中，如果引起服务纠纷，用户可以向网站请求协调。</dd>
                        <dd class="c3 c14">名医面诊</dd>
                        <dd class="c2 c4 c13"><span class="c6">1、</span>名医面诊是用户可以通过宝大夫平台直接预约三甲医院儿科医生的面对面咨询的服务。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>申请名医面诊的患者有责任按照要求填写预约申请(包括患者的基本资料、疾病资料等信息)，所有信息必须真实。</dd>
                        <dd class="c2 c13"><span class="c6">3、</span>预约成功以宝大夫的记录为准，同时会发送预约成功短信。因短信通道故障导致的发送不成功和延迟发送，宝大夫不负责任。</dd>
                        <dd class="c2 c13"><span class="c6">4、</span>宝大夫提供的名医面诊服务是免费的服务。免费服务不包括医院的挂号费、检查费、治疗费以及您咨询相关服务的通话费等费用。</dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">版权声明</dt>
                        <dd class="c2 c11 c13"><span class="c6">1、</span>宝大夫所承载的相关内容（文、图、视频、音频）的版权归版权人所有。北京晨星启明科技有限公司享有宝大夫数据结构、视觉设计、编排方式、程序等的全部版权。未经授权，任何机构和个人无权使用本公司版权内容。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>宝大夫所显示和转载的内容无法一一和版权所有人联系，如版权所有人认为不应免费使用，或有其他要求，请及时联系北京晨星启明科技有限公司。已授权宝大夫使用的版权内容，如需使用，需第一时间通知北京晨星启明科技和版权所有者获得授权。
                            本公司保留对本声明作出不定时修改的权利。</dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">隐私声明</dt>
                        <dd class="c3 c11 c14">适用范围</dd>
                        <dd class="c2 c4 c15">以下信息视为用户隐私：</dd>
                        <dd class="c2 c13"><span class="c6">1、</span>用户注册宝大夫时，根据平台要求提供的个人信息；</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>用户使用宝大夫服务、参加相关活动、访问网站网页（或移动微信端）时，网站自动接收并记录用户浏览器上的服务器数据，包括但不限于IP地址、网站Cookie中的资料及您要求取用的网页记录；</dd>
                        <dd class="c2 c13"><span class="c6">3、</span>用户使用宝大夫时，上传的非公开的病历资料、基本情况、诊疗方案等文字、图片、数据信息。</dd>
                        <dd class="c2 c13"><span class="c6">4、</span>宝大夫通过合法途径从其他途径取得的用户的个人资料。</dd>
                        <dd class="c2 c13"><span class="c6">5、</span>用户认为不宜公开的其他内容。</dd>
                        <dd class="c3 c4 c14">信息保密</dd>
                        <dd class="c2 c4 c13"><span class="c6">1、</span>保护您的隐私是宝大夫的一项基本政策，宝大夫保证不对外公开或向第三方提供用户的注册资料及您在使用网络服务时存储的非公开内容。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>宝大夫可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与宝大夫同等的保护用户隐私的责任，则宝大夫有权将用户的注册资料等提供给该第三方。</dd>
                        <dd class="c3 c4 c14">信息使用</dd>
                        <dd class="c2 c4 c13"><span class="c6">1、</span>宝大夫不会向任何人出售或出借您的个人信息，除非事先得到您的许可。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>在不透露您的保密信息的前提下，宝大夫有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</dd>
                        <dd class="c2 c13"><span class="c6">3、</span>医患之间的咨询问题内容在隐去姓名、单位、地址等信息后，宝大夫可以不经过您的授权，进行公开、编辑、出版、发行。</dd>
                        <dd class="c2 c14">为服务用户的目的，宝大夫可能通过使用您的个人信息向您提供服务，包括但不限于向您发出活动和服务信息等。</dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">免责声明</dt>
                        <dd class="c2 c11 c13"><span class="c6">1、</span>本微信公众平台仅为医患沟通平台，任何机构或者个人通过本平台发布的任何言论（包括但不限于医疗言论）不能代表本平台观点，本平台对此不承担任何法律责任。</dd>
                        <dd class="c2 c13"><span class="c6">2、</span>本平台医生基于患者自述病情所发表的言论仅供参考，不能作为诊断和治疗的直接依据患者通过本平台获悉的任何关于疾病的建议，均不能替代执业医师的面对面诊断，请患者审慎参阅。</dd>
                        <dd class="c2 c13"><span class="c6">3、</span>因用户将用户密码或支付密码告知他人或与他人共享注册帐户，导致的任何个人资料泄露，本平台不承担任何法律责任。</dd>
                        <dd class="c2 c13"><span class="c6">4、</span>任何由于计算机问题、黑客政击、计算机病毒侵入或发作、政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等，本平台不承担任何法律责任。</dd>
                        <dd class="c2 c13"><span class="c6">5、</span>本网站的网页上有与其他网站网页的链接，网站对其他任何网站的内容、隐私政策或运营，或经营这些网站的公司的行为概不负责。在向这些与网站链接的网站提供个人信息之前，请查阅它们的隐私政策，由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果，本平台不承担任何法律责任。</dd>
                        <dd class="c2 c13"><span class="c6">6、</span>宝大夫所有信息仅供参考，不做个别诊断、用药和使用的根据。我们致力于提供正确、完整的健康资讯，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。</dd>
                        <dd class="c2 c13"><span class="c6">7、</span>电话咨询是通过宝大夫服务平台使用户和医生获得通话交流，医生所说的建议不得做为诊断、治疗的直接医疗处置，用户需知晓并同意诊断及治疗均需前往医院。擅自将网上医生建议做为处方使用的，用户自行负责，与医生及宝大夫无关。</dd>
                        <dd class="c2 c13"><span class="c6">8、</span>鉴于临床工作的特殊性，医生遇到抢救、急诊等特殊事件时，有可能延后甚至取消门诊。宝大夫将在获悉后第一时间通知您，出诊时间以医院当日公布出诊日期为准，由此产生的以下问题宝大夫、医生、医院不予负责：</dd>
                        <ul class="c2 c13">
                            <li >交通、餐饮、住宿等费用</li>
                            <li >患者延误门诊导致的病情延误</li>
                            <li >以及其他由于门诊延误导致的问题</li>
                        </ul>
                    </dl>
                </div>
            </div>
            <div id="yinsibaohu">
                <div class="mine_con">
                    <dl>
                        <dt class="c1 c14">隐私保护</dt>
                        <dd class="c2 c11">宝大夫非常重视您的隐私，我们制定了宝大夫隐私保护制度以保护您的隐私，在您使用宝大夫提供的服务前，请您仔细阅读以下声明：</dd>
                        <dd class="c3 c4 c14">保护隐私原则</dd>
                        <dd class="c2 c4">宝大夫平台不会向任何人出售或出借您的个人信息，除非事先得到您的许可。为服务用户的目的，宝大夫平台可能通过使用您的个人信息，向您提供服务，包括但不限于向您发出活动和服务信息等 。</dd>
                        <dd class="c2 c14">宝大夫平台承诺：非经法律程序或经您的许可不会泄露您的个人信息。</dd>
                        <dd class="c3 c4 c14">免责条款</dd>
                        <dd class="c2 c4">在如下情况下，本站将不对您的隐私泄露承担责任：</dd>
                        <dd class="c2">您同意让第三方共享资料；</dd>
                        <dd class="c2">您同意公开你的个人资料，享受为您提供的产品和服务；</dd>
                        <dd class="c2">本站需要听从法庭传票、法律命令或遵循法律程序；</dd>
                        <dd class="c2">因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用。</dd>
                    </dl>
                    <dl class="c12">
                        <dt class="c1 c14">联系我们</dt>
                        <dd class="c2 c11">如果您对此隐私政策有任何疑问或建议，请通过以下方式联系我们，客服电话：</dd>
                        <dd class="c2 ">400-623-7120，我们会尽一切努力保护您的隐私。</dd>
                        <dd class="c2 ">宝大夫平台保留对本政策作出不定时修改的权利。</dd>
                        <dd class="c2 ">本隐私声明是您与宝大夫平台签署的注册协议的组成部分之一，请您仔细阅读。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="bdf-foot">
        <div class="foot_but">
            <div class="but_guanzhu">
                <div>关注我们</div>
                <img class="img_weixin" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibuerweima.png" width="276px" height="293px"/>
                <div class="but_weiwo">
                    <img class="img_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weixin.png" />
                    <a href="http://weibo.com/u/5698085071?refer_flag=0000015012_&from=feed&loc=nickname&is_hot=1#_loginLayer_1464144696132" target="_blank" ng-click="goWeiBo('GW_BOT_SINA')">
                        <img class="img_2" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weibo.png"/>
                    </a>
                </div>
            </div>
            <img class="img_3" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibufengexian.png"/>
            <div class="but_guanyu">
                <div class="foot_1">
                    <a  ng-click="goGuanYu('GW_BOT_GYWM')">关于我们</a>
                    <a  ng-click="goLianXi('GW_BOT_LXWM')">联系我们</a>
                    <a  ng-click="goFuWu('GW_BOT_FWXY')">服务协议</a>
                    <a  ng-click="goYinSi('GW_BOT_YSBH')">隐私保护</a>
                </div>
                <div class="foot_2">
                    <span>京ICP备15035618号-1</span>
                    <span>版权所有：北京晨星启明科技有限公司</span>
                </div>
            </div>
        </div>
    </div>
</div>