<link rel="stylesheet" href="scripts/styles/bdf2/callMine.less?ver='0.9'" type="text/css" />
<div>
    <div class="index_title">
        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_logo_png.png"/>
        <span>首页</span>
        <span>关于我们</span>
    </div>



    <div class="bdf-foot">
        <div class="foot_but">
            <div class="but_guanzhu">
                <div>关注我们</div>
                <img class="img_weixin" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibuerweima.png" width="138px" height="146px"/>
                <div class="but_weiwo">
                    <img class="img_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weixin.png" />
                    <img class="img_2" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weibo.png" />
                </div>
            </div>
            <img class="img_3" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibufengexian.png"/>
            <div class="but_guanyu">
                <div class="foot_1">
                    <a href="">关于我们</a>
                    <a href="">联系我们</a>
                    <a href="">服务协议</a>
                    <a href="">隐私保护</a>
                </div>
                <div class="foot_2">
                    <span>京ICP备15035618号-1</span>
                    <span>版权所有：北京晨星启明科技有限公司</span>
                </div>
            </div>
        </div>
    </div>
</div>