<link rel="stylesheet" href="scripts/styles/bdf2/doctorHelp.less?ver='0.9'" type="text/css" />
<div style="min-width: 1024px"  ng-init="initial()">
    <div class="bdf_title ">
        <div class="bdf_main clearfix">
            <div class="bdf_logo" ng-click="goLogo()"></div>
            <ul>
                <li class="curr">首页</li>
                <li ng-click="goCallMine()">关于我们</li>
            </ul>
        </div>
    </div>
    <div class="help_ban">
        <div class="ban_content">
            <div class="ban_left">
                <div>6574235元</div>
            </div>
            <div class="ban_right">
                <div>11111111</div>
                <div>333</div>
            </div>
        </div>
    </div>
    <div class="help_join">
        <div></div>
    </div>
    <div class="hpad hbc1">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_product.png"/>
        </div>
        <div class="hcenter hmt1 hf1 hc1">医互助是一款面向所有在职医生的全新保障机制，针对医生在意外或医疗纠纷中受到的伤害及医疗事故中的损失进行保障。
            <br/>现在免费加入，上传行医执照激活后，用户即可获得如下保障：</div>
        <div class="hcenter hmt2">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_productimg.png"/>
        </div>
        <div class="hcenter hmt2 hf1 hc2">宝大夫平台出于对医生群体的关爱,将无偿捐赠<span class="hc3">10万元</span>到互助资金池,
            <br/>用于支付成员未来申请的互助金</div>
    </div>
    <div class="hpad hbc2">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_yunying.png"/>
        </div>
        <div class="hcenter hmt1">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_yunyingimg.png"/>
        </div>
    </div>
    <div class="hpad2 hbc1">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_huzhu.png"/>
        </div>
        <div class="hcenter hmt1 hf1 hc1">如果有20万医生参与互助计划，每个成员只需要付出2元，即可获得一份40万的互助金；<br/>
            如果有80万医生参与互助计划，每个成员仅需5毛钱，即可给一位医生破碎的家庭带来希望！</div>
        <div class="hcenter hmt2">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_huzhuimg.png"/>
        </div>
    </div>
    <div class="hpad hbc2">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_jiuji.png"/>
        </div>
        <div class="hcenter hmt1">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_jiujiimg.png"/>
        </div>
    </div>
    <div class="hpad hbc1">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_wo.png"/>
        </div>
        <dl class="hmt1 help_wo_font hf1 hc1">
            <dd>作为救死扶伤的医生</dd>
            <dd>你们疼爱每一个病人</dd>
            <dd>但有时候也会迷茫心疼</dd>
            <dd>为什么无比热爱的医疗事业</dd>
            <dd>带来的却是不解、谩骂，乃至道道伤痕</dd>
        </dl>
        <dl class="hm4 help_wo_font hf1 hc1">
            <dd>作为互助计划的发起人</dd>
            <dd>我们帮助每一个医生</dd>
            <dd>在你委屈无助之时</dd>
            <dd>能够有一盏温暖明亮的路灯</dd>
            <dd>为你提供庇护，为你抚平伤痕</dd>
        </dl>
        <dl class="hm4 help_wo_font hf1 hc1">
            <dd>面对日益增多的医疗纠纷</dd>
            <dd>面对日益增多的医疗纠纷</dd>
            <dd>彼此互助，加入我们</dd>
            <dd>让每一位心系患者的伙伴身旁</dd>
            <dd>都站着更多人，作为你的坚强后盾！</dd>
        </dl>
        <div class="help_wo_deng"></div>
    </div>
    <div class="hpad hbc2">
        <div class="product_title">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/doctorHelp/help_wenti.png"/>
        </div>
        <dl class="hmt1 help_wo_font">
            <dt class="hc1 hf2">Q1 什么人可以加入互助行动？</dt>
            <dd class="hc4 hf3 hmt3">1、公立或私立医院在职且具有行医执照的所有科室医生；</dd>
            <dd class="hc4 hf3 hmt3">2、参与人认同并承诺遵守《计划公约》</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q2 什么情况下可以获得互助金？</dt>
            <dd class="hc4 hf3 hmt3">当有会员因意外导致身故、残疾，或因医疗纠纷导致受伤，因技术性医疗事故被处罚时，可向宝大夫平台申请互助金，一旦由互助委员会</dd>
            <dd class="hc4 hf3 hmt3">裁定并通过公示，将在每个成员的账户余额中扣除不超过20元以资助求助者。</dd>
            <dd class="hf3 hmt3 hc3 ">注：会员越多每人付出的金额将越少。</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q3 什么是医生互助委员会？</dt>
            <dd class="hc4 hf3 hmt3">医生互助委员会是在成员内部成立的权威评判机构，对成员的伤残情况是否影响职业生涯进行判断，并对医疗纠纷中受伤和技术性医疗事</dd>
            <dd class="hc4 hf3 hmt3">故被处罚的慰问金数额进行裁定</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q4 什么情况下可以退出互助行动？</dt>
            <dd class="hc4 hf3 hmt3">1、因身故或残疾导致不再担任医生职务，自动退出</dd>
            <dd class="hc4 hf3 hmt3">2、成员正常退休，不再于公立或私立医院行医，自动退出</dd>
            <dd class="hc4 hf3 hmt3">3、个人保障金帐户余额不足20元，保障中断；在30日内未补足的，自动退出；</dd>
            <dd class="hc4 hf3 hmt3">4、计划公约所规定的其他情况。</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q5 申请赔付所需的资料</dt>
            <dd class="hc4 hf3 hmt3">1、会员及互助申请人的有效身份证件、行医执照</dd>
            <dd class="hc4 hf3 hmt3">2、若申请身故互助金，需要提供公安部门或医疗机构出具的死亡证明，以及户籍注销证明</dd>
            <dd class="hc4 hf3 hmt3">3、若申请残疾互助金，需要提供二级及以上医疗机构或司法鉴定机构出具的伤残鉴定诊断书</dd>
            <dd class="hc4 hf3 hmt3">4、若申请医疗纠纷受伤慰问金，需要提供会员所在医院出具的证明，证明会员确系在医疗纠纷中导致受伤</dd>
            <dd class="hc4 hf3 hmt3">5、若申请技术性医疗事故慰问金，需要提供专业委员会出具的医疗事故鉴定书，以及会员所在医院出具的处罚通知书</dd>
            <dd class="hc4 hf3 hmt3">6、若申请人委托他人提交申请，还需提供授权委托书原件，委托人和受托人身份证明</dd>
            <dd class="hc4 hf3 hmt3">7、宝大夫平台认为必须提供的，与互助事件性质、原因相关的其他资料</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q6 不予救助的事项</dt>
            <dd class="hc4 hf3 hmt3">1、会员主动吸食或注射毒品</dd>
            <dd class="hc4 hf3 hmt3">2、核爆炸、核辐射或核污染造成的伤害</dd>
            <dd class="hc4 hf3 hmt3">3、战争、暴乱、军事冲突</dd>
            <dd class="hc4 hf3 hmt3">4、会员酗酒、酒后驾车、无有效行驶证驾车导致的身故或残疾</dd>
            <dd class="hc4 hf3 hmt3">5、会员参加高风险运动导致的身故或残疾</dd>
            <dd class="hc4 hf3 hmt3">6、会员自杀</dd>
            <dd class="hc4 hf3 hmt3">7、会员因犯罪或拒捕造成的伤害</dd>
        </dl>
        <dl class="hmt2 help_wo_font">
            <dt class="hc1 hf2">Q7 其它未说明的情况</dt>
            <dd class="hc4 hf3 hmt3">详见<a href="">《宝大夫医生意外互助计划公约》、《人身保险伤残评定标准》、《名词释义》</a></dd>
        </dl>
    </div>

    <div class="bdf-foot">
        <div class="foot_but">
            <div class="but_guanzhu">
                <div>关注我们</div>
                <img class="img_weixin" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibuerweima.png" width="276px" height="293px"/>
                <div class="but_weiwo">
                    <img class="img_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weixin.png" />
                    <a href="http://weibo.com/u/5698085071?refer_flag=0000015012_&from=feed&loc=nickname&is_hot=1#_loginLayer_1464144696132" target="_blank" ng-click="goWeiBo('GW_BOT_SINA')">
                        <img class="img_2" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weibo.png"/>
                    </a>
                </div>
            </div>
            <img class="img_3" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibufengexian.png"/>
            <div class="but_guanyu">
                <div class="foot_1">
                    <a  ng-click="goGuanYu('GW_BOT_GYWM')">关于我们</a>
                    <a  ng-click="goLianXi2('GW_BOT_LXWM')">联系我们</a>
                    <a  ng-click="goFuWu('GW_BOT_FWXY')">服务协议</a>
                    <a  ng-click="goYinSi('GW_BOT_YSBH')">隐私保护</a>
                </div>
                <div class="foot_2">
                    <span>京ICP备15035618号-1</span>
                    <span>版权所有：北京晨星启明科技有限公司</span>
                </div>
            </div>
        </div>
    </div>
</div>

