<div style="min-width: 1024px" ng-init="initial()">
    <div class="index_title">
        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_logo_png.png"/>
        <ul>
            <li >首页</li>
            <li ng-click="goCallMine()">关于我们</li>
        </ul>
    </div>
    <div class="index_ban">
        <div class="ban_out">
            <div >全国首家专业的在线儿童医院</div>
            <div >最专业的服务 最贴心的呵护</div>
            <div class="ban_img">
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dingbubannererweima.png" width="195px" height="195px"/>
                <div>微信扫码关注宝大夫</div>
            </div>
        </div>
    </div>
    <div class="index_zhuan">
        <img class="zhu_tingzhenqi" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_tingjianqi_png.png"/>
        <img class="zhu_title" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_zhuan.png"/>
        <div class="ite">
            <div class="item_1">
                <div class="item_1_1">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_1.png" height="158px"/>
                    <div class="info">
                        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_kuaizixun_03.png"/>
                        <div>微信扫一扫</div>
                    </div>
                </div>
                <div class="item_1_2 com2">
                    <div>快咨询</div>
                    <div>三甲医院7*24全年无休</div>
                    <div>一分钟急速秒回</div>
                </div>
            </div>
            <div class="item_1">
                <div class="item_1_2">
                    <div>名医面诊</div>
                    <div>三甲医院儿童专家</div>
                    <div>线下准时预约 线下准时就诊</div>
                </div>
                <div class="item_1_1">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_2.png" height="158px"/>
                    <div class="info">
                        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_mingyimianzhen_03.png"/>
                        <div>微信扫一扫</div>
                    </div>
                </div>
            </div>
            <div class="item_1">
                <div class="item_1_1">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png" height="158px"/>
                    <div class="info">
                        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_mingyidianhua_03.png"/>
                        <div>微信扫一扫</div>
                    </div>
                </div>
                <div class="item_1_2 com2">
                    <div>名医电话</div>
                    <div>权威儿童专家10分钟通话</div>
                    <div>个性化就诊和康复指导</div>
                </div>
            </div>
            <div class="item_1">
                <div class="item_1_2">
                    <div>保护伞</div>
                    <div>宝贝重疾大家帮</div>
                    <div>彼此关爱渡难关</div>
                </div>
                <div class="item_1_1">
                    <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_4.png" height="158px"/>
                    <div class="info">
                        <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_baohusan_.png"/>
                        <div>微信扫一扫</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index_doctor">
        <img class="doc_img" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_pin.png"/>
        <img class="yao" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_yao_png.png"/>
        <ul id="mov_doctor">
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">周忠蜀</div>
                <div class="doc_name_info">
                    <span>周忠蜀</span>
                    <span>儿内科</span>
                </div>
                <div class="doc_hosp">北京中日友好医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">秦炯</div>
                <div class="doc_name_info">
                    <span>秦炯</span>
                    <span>神经内科</span>
                </div>
                <div class="doc_hosp">北京大学人民医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">杨文英</div>
                <div class="doc_name_info">
                    <span>杨文英</span>
                    <span>精神康复科</span>
                </div>
                <div class="doc_hosp">北京回龙观医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">杨艳玲</div>
                <div class="doc_name_info">
                    <span>杨艳玲</span>
                    <span>神经内科</span>
                </div>
                <div class="doc_hosp">北京大学第一医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">吴力群</div>
                <div class="doc_name_info">
                    <span>吴力群</span>
                    <span>中医儿科</span>
                </div>
                <div class="doc_hosp">北京中医药大学附属东方医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">梁爱民</div>
                <div class="doc_name_info">
                    <span>梁爱民 </span>
                    <span>营养保健科</span>
                </div>
                <div class="doc_hosp">北京儿童医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">赵绯</div>
                <div class="doc_name_info">
                    <span>赵绯 </span>
                    <span>耳鼻喉科</span>
                </div>
                <div class="doc_hosp">北京儿童医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">刘冰</div>
                <div class="doc_name_info">
                    <span>刘冰 </span>
                    <span>皮肤科</span>
                </div>
                <div class="doc_hosp">首都儿科研究所</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">王洪玲</div>
                <div class="doc_name_info">
                    <span>王洪玲 </span>
                    <span>儿内科</span>
                </div>
                <div class="doc_hosp">北京中医药大学东直门医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">任仪荪</div>
                <div class="doc_name_info">
                    <span>任仪荪 </span>
                    <span>儿科</span>
                </div>
                <div class="doc_hosp">北京儿童医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">朱涛</div>
                <div class="doc_name_info">
                    <span>朱涛 </span>
                    <span>口腔科</span>
                </div>
                <div class="doc_hosp">北大口腔</div>
            </li>
        </ul>
        <div class="doc_mor">
            <span>更多</span>
            <span>加入我们</span>
        </div>
    </div>
    <div class="index_doctor hosp">
        <img class="doc_img" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_doctor.png" />
        <ul id="mov_hosp">
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">北京幸福嘉园儿童医院定福庄北街分院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">京都儿童医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">东区儿童医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">北京同仁堂王府井中医医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">八里庄第二社区卫生服务中心</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">爱育华妇化医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">北京天坛普华医院</div>
            </li>
            <li>
                <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_c_3.png"  alt="picture"/>
                <div class="doc_name">维恩口腔</div>
            </li>
        </ul>
        <div class="doc_mor">
            <span>更多</span>
            <span>加入我们</span>
        </div>
    </div>
    <div class="index_yu">
        <img class="yu_title" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_yu.png" />
        <div class="yu_content">
            <img src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_yuerpindao_fengexian.png" height="250px"/>
            <dl class="yu_content_con">
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
                <dd>提升孩子记忆能力的方法有哪些，你造吗?</dd>
            </dl>
        </div>
        <div class="yu_mor">
            <span>更多</span>
        </div>
    </div>
    <!--<div class="index_lian">-->
        <!--<div>友情链接</div>-->
        <!--<div>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
            <!--<a href="">宝宝知道</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="bdf-foot">
        <div class="foot_but">
            <div class="but_guanzhu">
                <div>关注我们</div>
                <img class="img_weixin" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibuerweima.png" width="276px" height="293px"/>
                <div class="but_weiwo">
                    <img class="img_1" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weixin.png" />
                    <a href="http://weibo.com/u/5698085071?refer_flag=0000015012_&from=feed&loc=nickname&is_hot=1#_loginLayer_1464144696132">
                        <img class="img_2" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_weibo.png"/>
                    </a>
                </div>
            </div>
            <img class="img_3" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/pc2/index_dibufengexian.png"/>
            <div class="but_guanyu">
                <div class="foot_1">
                    <a ng-click="goGuanYu()">关于我们</a>
                    <a ng-click="goLianXi()">联系我们</a>
                    <a ng-click="goFuWu()">服务协议</a>
                    <a ng-click="goYinSi()">隐私保护</a>
                </div>
                <div class="foot_2">
                    <span>京ICP备15035618号-1</span>
                    <span>版权所有：北京晨星启明科技有限公司</span>
                </div>
            </div>
        </div>
    </div>
</div>


