.loadPic {
  fill: #ffa2a2;
  stroke: #ffa2a2;
  color: #ffa2a2!important;
}
.saidIndex{
  font-family: "黑体";
}
.s-sha{
  position:absolute;
  left:0;
  top:56px;
  z-index: 3;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.side-bar{
  font-family: "黑体";
  width:34%;
  /*height:90%;*/
  height:auto;
  position: absolute;
  left:0;
  top:56px;
  z-index: 3;
  border:1px solid transparent;
  padding:0 0 30px 0;
  overflow-y: scroll;
  margin-right:-5px;
  background-color:#fff;
 /* background-color:transparent;*/
}

.side-bar::-webkit-scrollbar {
  width:0px;
  height:0px;

}
.side-bar::-webkit-scrollbar-button {
 /* background-color:rgba(0,0,0,0);*/
  /*background-color: transparent;*/
  background-color: #369;
}
.side-bar::-webkit-scrollbar-track{
 /* background-color:rgba(0,0,0,0);*/
  /*background-color: transparent;*/
  background-color: #369;
}
.side-bar::-webkit-scrollbar-thumb{
 /* background-color:rgba(0,0,0,0);*/
 /* background-color: transparent;*/
  background-color: #369;
}
.side-bar::-webkit-scrollbar-corner {
  /*background-color:rgba(0,0,0,0);*/
 /* background-color: transparent;*/
  background-color: #369;
}
.side-bar::-webkit-scrollbar-track-piece{
  background:none;
}

.side-bar li{

}
.side-bar li h4{
  background-color: #ffa2a2;
  padding:11px 0 11px 15px;
  color:#fff;
  /*font-weight: normal;*/
  font-size:16px;
  border-bottom: 1px solid #fff;
  white-space: normal;
}
.side-bar li h4 i{
  font-size:22px;
  vertical-align: middle;
}
.side-bar li a{
  display: block;
  padding:5px 15px;
  font-size:13px;
  white-space: normal;

}
.side-bar li dt{
  white-space: normal;
  background-color:#ebebeb;
  padding:5px 0px 5px 15px;
  font-size:13px;
}
.side-bar li dd{
  white-space: normal;
  padding:5px 0px 5px 15px;
  font-size:12px;
}

.s-search{
  padding:10px 0;
  font-family: "黑体";
  position: relative;
  height:58px;
}
.s-search .s-menu{
  display: inline-block;
  padding:1px 13px 1px 7px;
  position: absolute;
  margin-left:10px;
  margin-right:20px;
  float: left;
  border:1px solid #fff;
}
.s-menu.item.activated{
  /*cursor: pointer;
  background-color:#000;
  filter:alpha(Opacity=80);
  -webkit-opacity:0.5;
  -moz-opacity:0.8;
  opacity: 0.1;*/
  background-color: #fff;
}
.s-menu.item span{
  display: inline-block;
  width:22px;
  height:34px;
  background: url('../images/a_05.png') no-repeat;
  background-size: 22px 34px;
}
.s-menu.item.activated span{
  display: inline-block;
  width:22px;
  height:34px;
  background: url('../images/a_04.png') no-repeat;
  background-size: 22px 34px;
}

.s-search .s-menu img{
  vertical-align: middle;
}
.s-search .s-menu i{
  display: inline-block;
  width:1px;
  height:24px;
  background-color: #ffa2a2;
  position: absolute;
  top:5px;
  right:0px;
}
.s-search img{
  vertical-align: middle;
}
.s-search .ss-title{
  display: inline-block;
  width:80%;
  margin:6px 10%;
  text-align: center;
}
.s-search .ss-title a{
  border-bottom: 1px solid #ffa2a2;
  color:#ffa2a2;
  text-align: center;
  padding:15px 0 2px;
  font-size:20px;
}
.s-search .aa-sear{
  position: absolute;
  right:20px;
  top:15px;

}
.s-search .search{
  position: relative;
  display: inline-block;
  width:80%;
  height:36px;
  margin:0 10%;
}
.s-search .search .souPic{
  position: absolute;
  top:8px;
  left:0;
  margin-left:6px;
}
.s-search .search input{
  width:80%;
  height:36px;
  border: 1px solid #ffa2a2;
  border-radius:5px;
  padding:10px 8px 10px 30px;
}
.s-search .search span{
  position: absolute;
  left:80%;
  top:0;
  width:20%;
  height:36px;
  background-color: #ffa2a2;
  color:#fff;
  font-size:16px;
  text-align: center;
  padding:10px 8px;
  border-radius:0 5px 5px 0;
  margin-left:-5px;
}
.s-search .search img{
  position: absolute;
  right:0;
  top:-1px;
}
.saidIndex.scroll-content {
  background: #f1f4f5;
  top: 56px;
}
.s-title{
  font-family: "黑体";
  border:none;
  height:48px;
  background-color: #ffa2a2;
  overflow-x: scroll;
  overflow-y: hidden;
  width:100%;
  padding:0;
  margin:0;
}
/*  .s-title::-webkit-scrollbar {
         width:0px;
         height:0px;
       }
  .s-title::-webkit-scrollbar-button    {
    background-color:#ffa2a2;
  }
  .s-title::-webkit-scrollbar-track     {
    background:#ffa2a2;
  }
  .s-title::-webkit-scrollbar-thumb{
    background:#ffa2a2;
    border-radius:4px;
  }
  .s-title::-webkit-scrollbar-corner {
    background:#ffa2a2;
  }*/
.s-title span{
  width:29.5%;
  display: inline-block;
  text-align: center;
  padding:9px 0;
}
.s-title a{
  display: inline-block;
  padding:5px 15px;
  text-align: center;
  border-radius: 15px;
  background-color: #ffa2a2;
  color:#fff;
  height:30px;
  margin-top:1px;
}
.saidIndex .a-list{
  position:relative;
  /* padding:0 10px;*/
  /* background-color: #fff;*/
  margin-top:15px;
}
.a-list .item{
  border:none;
  /*border-bottom: 1px solid #ffd6d6;*/
  margin-bottom:10px;
  background-color: #fff;
}
.a-list h2{
  white-space: normal;
}
.a-list p.summary{
  white-space: normal;
}
.a-list p.tag{
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  width:66%;
}
.a-list p.tag span{
  font-size:11px;
  padding:0;
  color:#999;
}
.a-list p.tag span img{
  vertical-align: middle;
}