/*
* @Author: acer-pc
* @Date:   2016-09-23 16:29:17
* @Last Modified by:   acer-pc
* @Last Modified time: 2016-09-30 11:56:40
*/

.message_div .title {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: #f9f9f9;
    font-size: 18px;
    color: #333;
}

.message_div .message ul li {
    margin: 0 15px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    background-color: #fff;
    color: #333;
}

.message_div .message ul li:nth-last-child(1) {
    margin-bottom: 22px;
}

.message_div .message ul li input {
    font-size: 16px;
    margin-left: 10px;
}

.message_div .message ul li span {
    display: inline-block;
    float: right;
    width: 92px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5F9FF9;
    color: #333;
    padding-left: 20px;
    margin-right: 20px;
    background: url(../pics/nan_png_03.png) 10px center no-repeat;
    background-size: 23px;
}

.message_div .message ul li span:nth-child(2) {
    background: url(../pics/nv_png_03.png) 10px center no-repeat;
    background-size: 23px;
}

.message_div .message ul li span.checked {
    background-color: #5F9FF9;
    color: #fff;
}

.confirm {
    text-align: center;
}

.confirm .submit {
    background-color: #5f9ff9;
    width: 163px;
    font-size: 16px;
    line-height: 44px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}

.select-area {
    position: relative;
    overflow: hidden;
    float: right;
    min-width: 80px;
}

.select-area select {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}
