<link rel="stylesheet" href="/xiaoerke-doctor/styles/other/userDeal.less?ver='1.0'" type="text/css" />
<ion-spinner ng-show="pageLoading" style="color:#139fff;position: relative;top: 301px;left:148px;z-index:999;"></ion-spinner>
<ion-view view-title="关于我们" style="background-color:silver">
    <ion-spinner ng-show="dataLoading"></ion-spinner>
    <ion-content class="userDeal" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true" >
           <div class="main">
               <p class="h">
                   本协议是您与宝大夫服务团队（以下简称为“宝大夫”）之间就宝大夫服务等相关事宜所订立的契约，请您仔细阅读本用户协议，使用宝大
                   夫后，我们即视为您同意宝大夫服务协议，此协议构成对双方有约束力的法律文件。（下文如未做特殊说明，“您”一律用“医师”一词特
                   指）。
               </p>
               <dl>
                   <dt> 一 关于服务协议</dt>
                   <dd>
                       <p>
                           1、您签署或在线接受本协议后，本协议在您和宝大夫之间立即生效。除非本协议规定的终止条件发生，本协议将持续有效；
                       </p>
                       <p>
                           2、宝大夫有权根据需要不时地制定、修改本协议或各类规则。如本协议有任何变更，宝大夫将以微信或者其它方式通知您。任何修订和新规则一经在服务平台公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示您接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
                       </p>

                   </dd>
                   <dl>
                       <dt> 二、您的权利和义务</dt>
                       <dd>
                           <p> 1、依约定获得服务咨询费；</p>
                           <p> 2、符合宝大夫要求的医师申请条件，并向宝大夫提供真实、合法、准确、有效的注册资料；</p>
                           <p> 3、按宝大夫平台页面的提示准确完整地提供您的真实、有效信息，以便宝大夫或其他用户与您联系；</p>
                           <p> 4、遵守相关法律、法规及宝大夫的规定。</p>
                       </dd>
                   </dl>
                   <dl>
                       <dt>三、宝大夫的权利和义务</dt>
                       <dd>
                           <p> 1、因宝大夫平台的特殊性，宝大夫没有义务对您的操作行为以及与宝大夫有关的其它事项进行事先审查，但如果第三方认为您或您的某个行为可能存在重大问题并要求宝大夫予以处理，宝大夫有权根据不同情况选择删除相关信息或停止对您提供宝大夫平台，并追究相关法律责任。</p>
                           <p> 2、宝大夫有权对医师的注册数据及操作行为进行查阅，发现注册数据或操作行为中存在任何问题或怀疑，均有权向医师发出询问或要求改正的通知，或者直接作出删除等处理。</p>
                           <p> 3、宝大夫有义务保护您的保密资料及隐私信息（需要协助完成宝大夫流程的除外）的安全，不得泄露您的隐私。</p>
                           <p></p>
                       </dd>
                       <dt>四、费用规定</dt>
                       <dd>
                           <p>宝大夫依约定及时将您的服务咨询费打入您的指定账户。费用执行参照宝大夫服务项目公示的价目执行，如有异议，您可联系宝大夫询问详情。
                           </p>

                       </dd>
                   </dl>
                  <dl>
                      <dt>五、协议的终止</dt>
                      <dd>
                          <p> 1、用户终止：您有权通过以下任一方式终止本协议：
                              <p class="pp">（一）您主动通过宝大夫平台注销您的账户的；</p>
                              <p class="pp">（二）变更事项生效前您停止使用并明示不愿接受变更事项的；</p>
                              <p class="pp">（三）您明示不愿继续使用宝大夫平台服务，且符合宝大夫终止条件的。
                          </p>
                          <p> 2、宝大夫终止：如您违反宝大夫的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，宝大夫都有权立刻终止本协议。</p>

                      </dd>
                  </dl>
                   <dl>
                       <dt> 六、违约责任</dt>
                       <dd>
                           <p>  除本协议及宝大夫平台规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔；如违约方未能按时停止违约行为，则守约方有权立即终止本协议。</p>

                       </dd>
                   </dl>
                   <dl>
                       <dt> 七、争议解决及其他</dt>
                       <dd>
                           <p> 1、本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理。</p>
                           <p>2、如您与宝大夫平台发生争议，双方应友好协商解除，解决不成的，任何一方均有权向北京市朝阳区人民法院提起诉讼。</p>
                           <p> 3、本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
                       </dd>
                   </dl>

               </dl>
           </div>
        </ion-scroll>
    </ion-content>


</ion-view>