.pane, .view {
  width: 100%;
  max-width:670px;
  margin:0 auto;
}
.loadPic{
  fill: #88d9dd;
  stroke: #88d9dd;
  color:#88d9dd!important;
  position: absolute;
  top:50%;
  left:50%;
  margin-top:-14px;
  margin-left:-14px;
  z-index:999;
}

body {
  font-family: '微软雅黑';
}
.scroll-content {
  background: #f9f9f9;
  top:0;
}

.scroll-content.ionic-scroll > .scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.scroll-view.ionic-scroll {
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
}
a{
  text-decoration: none;
}
.button{
  border:none;
  color:#fff;
}
.button:hover {
  color: #fff;
}
.foot-btn{
  margin:30px 5%;
  width:90%;
  height:49px;
  line-height:49px;
  background-color:#88d9dd;
  color:#fff;
  border:none;
  font-size:18px;
  font-weight:500;
  border-radius: 5px;
}
.btn-bottom{
  position: fixed;
  bottom:0;
  width:100%;
  height:49px;
  line-height:49px;
  text-align: center;
  background-color:#fe717b;
  color:#fff;
  border:none;
  font-size:18px;
  font-weight:500;
  border-radius: 0;
}
.my-img{
  vertical-align: middle;
  margin-top:-2px;
}
.my-img-block{
  display: block;
}
.shadow{
  position: absolute;
  width:100%;
  height:100%;
  z-index:2;
  opacity: 0.5;
  background-color: #000;
}
.color1{
  color:#fe717b;!important;
}
.color2{
  color:#88d9dd;!important;
}
.button.disabled, .button[disabled] {
  opacity: 1!important;
  background-color: #ccc!important;
}


