<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫小儿防犬宝" ng-init="doRefresh()">
    <ion-content class="antiDogLead" style="top:0;" ng-click="startEnter()" >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="box1">
                <img width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Flead_bg.png">
                <div class="text">
                    <p>&nbsp;&nbsp;&nbsp;邻居的狗狗打过疫苗么？</p>
                    <p>小区总有人遛狗不牵着</p>
                    <span>怎么办？</span>
                </div>
                <div class="mySlide" >
                    <a>点击进入&nbsp; <img class="my-img" width="8" height="auto" src="http://xiaoerke-common-pic.oss-cn-beijing.aliyuncs.com/common%2Farr_right_white.png"></a>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>