<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="接种疫苗医院" ng-init="doRefresh()">
    <ion-content class="antiDogHospital" style="top:0;"  >
        <ion-scroll direction="y" has-bouncing="true">
            <div class="hospital">
                <dl ng-repeat="item in hospitalList">
                    <dt ng-click="openMore($index)">
                        {{item.district}}
                        <img  width="13" height="7" src="{{openImg}}">
                    </dt>
                    <dd  ng-repeat="prop in item.hospital">
                        <div>
                            <img class="my-img" width="12.5" height="12.5" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Fhospital_name.png">
                             &nbsp;{{prop.name}}
                        </div>
                        <div>
                            <img  class="my-img"width="12.5" height="12.5"  src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Fhospital_tel.png">
                            &nbsp;{{prop.tel}}
                        </div>
                        <div>
                            <img class="my-img" width="12.5" height="12.5" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Fhospital_position.png">
                            &nbsp;{{prop.position}}
                        </div>
                    </dd>
                </dl>
            </div>
            <br><br><br>
        </ion-scroll>
    </ion-content>
</ion-view>