.consultDoctorHome{
  background-color: #f9f9f9;
}
body{
  font-family: consolas,微软雅黑;
}
.com_ceter{
  text-align: center;
}
.com_font18{
  font-size: 18px;
}
.com_font16{
  font-size: 16px;
}
.com_font14{
  font-size: 14px;
}
.com_font12{
  font-size: 12px;
}
.com_font15{
   font-size: 15px;
 }
.com_font13{
  font-size: 13px;
}
.com_color9{
  color: #999999;
}
.com_color3{
  color: #333333;
}
.com_color6{
  color: #666666;
}
.com_bold{
  font-weight: bold;
}
.com_margin{
  margin-left: 5px;
}
.com_margin11{
  margin-top: 11px;
}
.com_fontlength{
  line-height: 28px;
}
.home_head{
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 8px;
}
.home_head .home_doctor_img{
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: 15px;
  width: 75px;
  height: 75px;
  left: 50%;
  margin-left: -37.5px;
}
.home_head .home_doctor_img img{
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin: 2px;
}
.home_head .home_name{
  margin-top: 25px;
}
.home_head .home_keshi{
  margin-top: 4px;
}
.home_head .home_zhucehao{
  margin-top: 4px;
}
.home_cznum{
  background-color: #ffffff;
  padding: 11px 0;
  width: 100%;
}
.home_cznum .cnum{
  width: 49%;
  display: inline-block;
  border-right: 1px solid #d3d3d3;
}
.home_cznum .cnum .cnum_num{
  margin-top: 4px;
}
.home_cznum .znum{
  width: 48%;
  display: inline-block;
}
.home_cznum .znum .znum_num{
  margin-top: 4px;
}
.home_introduce{
  margin-top: 7px;
  background-color: #ffffff;
}
.home_introduce .introduce_title{
  padding: 15px 0;
  border-bottom: 1px solid #d3d3d3;
}
.home_introduce .introduce_title span{
  margin-left: 10px;
}
.home_introduce .introduce_content{
  padding: 3px 10px 15px;
}
.home_introduce .introduce_content div{
  display: inline-block;
  background: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/consultDoctor/home_intro.png") no-repeat center;
  height: 27px;
  background-size: 100% 27px;
  margin-right: 15px;
  margin-top: 15px;
  padding: 10px 15px 10px 10px;
  line-height: 10px;
}
.home_comment{
  margin-top: 7px;
  background-color: #ffffff;
}
.home_comment .comment_title{
  padding: 15px 10px;
  border-bottom: 1px solid #d3d3d3;
}
.home_comment .comment_title img{
  float: right;
}
.home_comment .comment_content{
  padding: 18px 0 10px;
  margin: 0 10px;
}
.home_comment .comment_content .content_title{
  height: 28px;
}
.home_comment .comment_content .content_title img{
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -3px;
}
.home_comment .comment_content .content_title .contentspan3{
  float: right;
  border-radius: 6px;
  color: #97e077;
  border: 1px solid #97e077;
  padding: 3px;
}
.home_comment .comment_content .content_title .contentspan4{
  float: right;
  border-radius: 6px;
  color: #ffb95f;
  border: 1px solid #ffb95f;
  margin-left: 4px;
  padding: 3px;
}
.home_comment .comment_content2{
  padding: 10px 0;!important;
  margin: 0 10px;!important;
  border-top: 1px solid #d3d3d3 ;!important;
}
.home_chair{
  margin-top: 7px;
  background-color: #ffffff;
  padding-bottom: 18px;
}
.home_chair .chair_title{
  padding: 15px 10px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 5px;
}
.home_chair .chair_title img{
  float: right;
}
.home_chair .chair_content{
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #d3d3d3;
}
.home_chair .chair_content span{
  float: right;
}
.home_friend{
  margin: 15px 0;
  text-align: center;
}
.home_friend div{
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  background-color: #fe717b;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  line-height: 40px;
}
.goConsultDoctor{
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #fff;
}
.consultDoctor{
  background-color: #fe717b;
  line-height: 48px;
  border-radius: 7px;
}
.consultDoctorHome .home_interactiveService{
  background-color: #fff;
  position: relative;
}
.consultDoctorHome .home_interactiveService .content{
  padding:13px 10px 16px 60px;
}
.consultDoctorHome .home_interactiveService .details{
  margin-top:3px;
}
.consultDoctorHome .home_interactiveService img{
  background-color: #fff;
  position: absolute;
  top:13px;
  left:10px;
}
.consultDoctorHome .home_interactiveService .price{
  color:#fe717b;
  position: absolute;
  top:13px;
  right:10px;
}