.telConsultPaySuccess{
  background-color: #f6f6f6;
}
.telConsultPaySuccess .main{
  margin-top:46px;
}
.telConsultPaySuccess .btn{
  display: block;
  background-color: #fe717b;
  margin-top:30px;
  margin-bottom:45px;
}
.telConsultPaySuccess .remind-text {
  width:90%;
  margin:45px auto;
  padding:20px 15px;
  box-shadow: 1px 2px 5px #ddd;
}
.telConsultPaySuccess .remind-text dt{
  margin-bottom:20px;
}
.telConsultPaySuccess .remind-text dd{
  position: relative;
  padding-left:12px;
  margin-bottom:10px;
}
.telConsultPaySuccess .remind-text dd span{
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
}
.telConsultPaySuccess .remind-text a{
  color:#46aa86;
}