.telConsultPaySuccess{
  background-color: #f6f6f6;
}
.telConsultPaySuccess .main{
  margin-top:25px;
}
.telConsultPaySuccess .info{
  padding:0 15px;
  margin-top:8px;
  margin-bottom:24px;
}
.telConsultPaySuccess .info .time{
  margin-top:24px;
  margin-bottom:6px;
}
.telConsultPaySuccess .btn{
  background-color: #fe717b;
  margin-bottom:17px;
  font-size: 16px;
}
.telConsultPaySuccess .remind-text {
  width:90%;
  margin:45px auto;
  padding:20px 15px;
  box-shadow: 1px 2px 5px #ddd;
}
.telConsultPaySuccess .remind-text dt{
  margin-bottom:20px;
}
.telConsultPaySuccess .remind-text dd{
  position: relative;
  padding-left:12px;
  margin-bottom:10px;
}
.telConsultPaySuccess .remind-text dd span{
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
}
.telConsultPaySuccess .remind-text a{
  color:#46aa86;
}