<ion-view view-title='我的打卡记录' >
    <ion-content style="top:0px;background: #fff;">
        <div class="centerBox">
            <div class="centerTop">
                <!--头像-->
                <div class="headBox">
                    <div class="head">
                        <img src="" alt=""/>
                    </div>
                </div>
                <div class="userName">无敌金刚</div>
            </div>
            <!--打卡记录-->
            <div class="centerCon">
                <div class="recordHead">
                    <div>
                        <span>累计奖励(元)</span><br/><b>268</b>
                    </div>
                    <div>
                        <span>累计成功次数</span><br/><b>34</b>
                    </div>
                </div>
                <div class="list">
                    <div class="listHead">打卡成功记录</div>
                    <ul>
                        <li><b>3月6日</b><span>我在6:30起床,累计早起<b>6</b>天了！</span></li>
                        <li><b>3月5日</b><span>我在6:30起床,累计早起<b>5</b>天了！</span></li>
                        <li><b>3月4日</b><span>我在6:30起床,累计早起<b>4</b>天了！</span></li>
                        <li><b>3月3日</b><span>我在6:30起床,累计早起<b>3</b>天了！</span></li>
                        <li><b>3月2日</b><span>我在6:30起床,累计早起<b>2</b>天了！</span></li>
                        <li><b>3月1日</b><span>我在6:30起床,累计早起<b>1</b>天了！</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
