<ion-view view-title='打卡赚钱' >
    <ion-content style="top:0px;background:#fff">
        <div class="signHomeBox">
            <div class="userHead" ng-click="goCenter()"><img src="" alt=""/></div>
            <span class="top_R">打卡次数：<b>{{res.punchCount}}</b></span>

            <img class="homeTop" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/homeTop.png" alt=""/>
            <div class="homeCon">
                <div class="totalNum">参加挑战人数：<span>{{oData.totalPersonNum}}</span><br/>累计挑战金：<span>{{oData.totalCashNum}}</span></div>
                <img class="rules" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/rules.png" alt=""/>
                <!--参加打卡-->
                <img ng-show="goJoinStatus" ng-click="goJoin()" class="join" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/join.png" alt=""/>
                <!--我要打卡-->
                <img ng-show="goSignStatus" ng-click="goSign()" class="join" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/sign.png" alt=""/>
                <div class="conBottom">下滑查看大家的打卡记录</div>
            </div>
            <div class="allRecord">
                <div class="allRecordTop">
                    <span>3月6日</span>
                    <span><b>{{oData.successNum}}</b>人成功</span>
                    <span><b>{{oData.failNum}}</b>人失败</span>
                </div>
                <div class="RecordTop">3月6日打卡结束</div>
                <ul>
                    <li ng-repeat="item in dataList"><div class="headImg">
                            <img ng-src="{{item.headImgUrl}}" alt=""/>
                        </div>
                        <div class="recordCon">
                            <div class="name_time"><span>{{item.nickName}}</span><span>{{item.hour}}</span></div>
                            <div class="day">连续打卡<span>{{item.dayTh}}天</span>,累计奖励<span>{{item.cashAmount}}元</span></div>
                        </div>
                    </li>
                    <div class="lookMore" ng-click="lookMore()">点击加载更早打卡记录</div>
                </ul>
            </div>



            <!--去支付的弹窗-->
            <div class="mask" ng-show="start_status">
                <div class="goPay">
                    <img class="bg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/payImg.png" alt=""/>
                    <img class="close" ng-click="close()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/close.png" alt=""/>
                    <img class="btn" ng-click="goPay()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/payButton.png" alt=""/>
                </div>
            </div>
            <!--支付完成启动的弹窗-->
            <div class="mask" ng-show="pay_status">
                <div class="payOver">
                    <img class="bg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/payBegin.png" alt=""/>
                    <img class="close" ng-click="close()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/close.png" alt=""/>
                    <img class="btn" ng-click="goShare()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/invite.png" alt=""/>
                </div>
            </div>


            <!--打卡时间提示弹窗-->
            <div class="mask" ng-show="time_status">
                <div class="signTime">
                    <img class="bg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/payTime.png" alt=""/>
                    <img class="close" ng-click="close()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/close.png" alt=""/>
                </div>
            </div>
            <!--打卡完成提示弹窗-->
            <div class="mask" ng-show="sign_status">
                <div class="signOver">
                    <img class="bg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/signOver.png" alt=""/>
                    <img class="close" ng-click="close()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/close.png" alt=""/>
                    <img class="btn" ng-click="goShare()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/invite.png" alt=""/>
                </div>
            </div>



            <!--分享弹窗-->
            <div ng-click="close_share()" class="mask" ng-show="share_status">
                <div class="share">
                    <img class="arrow" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
                    <img class="shareImg" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/mask/share.png" alt=""/>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--
http://s201.xiaork.com/keeper/wechatInfo/fieldwork/wechat/author?url=http://s201.xiaork.com/keeper/wechatInfo/getUserWechatMenId?url=57-->
