<ion-view view-title='我的打卡记录' >
    <ion-content style="top:0px;background: #fff;">
        <div class="centerBox">
            <div class="centerTop">
                <!--头像-->
                <div class="headBox">
                    <div class="head">
                        <img src="" alt=""/>
                    </div>
                </div>
                <div class="userName">无敌金刚</div>
            </div>
            <!--打卡记录-->
            <div class="centerCon">
                <div class="recordHead">
                    <div>
                        <span>累计奖励(元)</span><br/><b>{{total.totalCash}}</b>
                    </div>
                    <div>
                        <span>累计成功次数</span><br/><b>{{total.totalNum}}</b>
                    </div>
                </div>
                <div class="list">
                    <div class="listHead">打卡成功记录</div>
                    <ul>
                        <li ng-repeat="item in list"><b>{{item.day}}</b><span>我在{{item.hour}}起床,累计早起<b>{{item.dayth}}</b>天了！</span></li>
                        <div ng-show="noRecordStatus" class="noRecord">
                            <img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appSign/zz_png.png" alt=""/>
                            <p>您还没有打过卡，赶紧去打卡吧</p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
