body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}

body {
  font-family: '微软雅黑';
}
.btn-bottom{
  margin:0;
  position: fixed;
  bottom:0;
  width:100%;
  height:49px;
  line-height:49px;
  background-color:#fe717b;
  color:#fff;
  border:none;
  text-align: center;
  font-size:18px;
  font-weight:500;
  border-radius:0;
}
.c-shadow{
  height:150%;
}
/*选择宝宝列表*/
.baby-list{
  display: none;
  position: fixed;
  left:0;
  bottom:0;
  z-index:30;
  width:100%;
  background-color: #fff;
  padding:10px 0 25px;
  box-shadow: 0 -1px 3px #ccc;
}
.baby-list dl{
  height:auto;
  max-height:300px;
  overflow-y: scroll;
}
.baby-list dt{
  text-align: center;
  position: relative;
  font-weight: normal;
  margin-bottom: 22.5px;
  margin-top:15px;
}
.baby-list dt .line{
  display: inline-block;
  width:60%;
  height:1px;
  background-color: #ccc;
}
.baby-list dt span{
  display: inline-block;
  width:82px;
  height:18px;
  line-height:18px;
  font-size:13px;
  color:#666;
  position: absolute;
  left:50%;
  top:-9px;
  margin-left:-41px;
  background-color: #fff;
}
.baby-list dd{
  width:80%;
  height:34px;
  line-height:34px;
  text-align: center;
  border-radius: 5px;
  border:1px solid #88d9dd;
  margin:0 auto 15px;
  color:#88d9dd;
  font-size:16px;
}

.baby-list .select{
  width:80%;
  height:34px;
  line-height:34px;
  text-align: center;
  border-radius: 5px;
  border:1px solid #88d9dd;
  margin:0 auto 15px;
  color:#88d9dd;
  font-size:16px;
}
.baby-list div.select{
  background-color: #fe717b;
  color:#fff;
  border:none;
}
.antiDogFillInfo{
  background-color: #fff;
  width:100%;
  height:100%;
  overflow-x: hidden;
}
.antiDogFillInfo .info{
  background-color: #fff;
}
.antiDogFillInfo .info dl{
  margin-bottom: 0;
}
.antiDogFillInfo .info dt{
  font-weight: normal;
  font-size: 14px;
  color:#333;
  padding:17.5px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 19px;
}
.antiDogFillInfo .info dd{
  position: relative;
  margin: 0 20px 19px;
  border: 1px solid #f0f0f0;
  padding:15px 7.5px;

}
.antiDogFillInfo .info dd .selectBaby{
  position: absolute;
  right:7.5px;
  top:14.5px;
  width:62.5px;
  height:25px;
  line-height:25px;
  text-align: center;
  border-radius: 3px;
  background-color: #88d9dd;
  color:#fff;
  font-size: 14px;
}
.antiDogFillInfo .info dd span{
  display: inline-block;
  width:84px;
  font-weight: normal;
  font-size: 14px;
  color:#999;
}
.antiDogFillInfo .info dd input{
  padding:0;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color:#666;
  background-color: transparent;
}
input:focus {
  border:none;
}
.antiDogFillInfo .info .selectItem{
  display: inline-block;
  vertical-align: middle;
  width:50%;
  height:32px;
  line-height:32px;
  border-radius: 3px;
  border:1px solid #88d9dd;
}
.antiDogFillInfo .info .selectItem a{
  width:50%;
  float: left;
  color:#88d9dd;
  font-size: 14px;
  text-align: center;
}
.antiDogFillInfo .info .selectItem a.select{
  background-color: #88d9dd;
  color:#fff;
}
.antiDogFillInfo .info .tips{
  text-align: right;
  color:#fe717b;
  font-size: 12px;
  margin-right:20px;
  display: none;
}
.antiDogFillInfo .info .tips img{
  vertical-align: middle;
  margin-top: -3px;
}

.antiDogFillInfo::-webkit-scrollbar {
  width:3px;
  height:3px;
}
/*.antiDogFillInfo::-webkit-scrollbar-button {

  background-color: #fff;
}
.antiDogFillInfo::-webkit-scrollbar-track{
  background-color: #fff;
}
.antiDogFillInfo::-webkit-scrollbar-thumb{
  /!* background-color:rgba(0,0,0,0);*!/
  /!* background-color: transparent;*!/
  background-color: #fff;
}
.antiDogFillInfo::-webkit-scrollbar-corner {

  background-color: #fff;
}
.antiDogFillInfo::-webkit-scrollbar-track-piece{
  background:none;
}*/

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #666;
}
input::-webkit-input-placeholder, {
  color: #666;
}

input:-ms-input-placeholder, {
  color: #666;
}
