.evaluateList{

}
.evaluateList .score{
  padding:17.5px;
  overflow: hidden;
}
.evaluateList .score div img{
  margin-left: 5px;
}
.evaluate-classify{
  overflow: hidden;
}
.evaluate-classify div{
  width:33.3333333%;
  padding:12px 0;
  text-align: center;
  position: relative;
}
.evaluate-classify div.cur{
  color:#88d9dd;
}
.evaluate-classify div.cur i{
  position: absolute;
  left:0;
  bottom:-2px;
  width:100%;
  height:2px;
  border:2px solid #88d9dd;
}
.evaluateList .evaluate{
  margin:0 15px;
}


.evaluateList .evaluate .user{
  margin-top: 20px;
  position: relative;
  padding-bottom:20px;
}
.evaluateList .user  .photo{
  position: absolute;
  left:0;
  top:0;
}
.evaluateList .user .info{
  margin-left:45px;
  font-size: 12px;
}
.evaluateList .user .info .name{
  padding-right:15px;
}
.evaluateList .user .info .star{
  margin-right:3px;
}
.evaluateList .user .info .date{
  float: right;

}

.evaluateList .user .text{
  margin-top:22.5px;
;

}
