.orderDetail{

}
.orderDetail .doctor-info{
  margin-bottom:7.5px;
}
.doctor-info .intro div {
  margin-bottom: 4px;
}
.orderDetail .order-info li{
  border-bottom:1px solid #ccc;
}
.orderDetail .order-info li:last-of-type{
  border-bottom:none;
}
.orderDetail .order-info .order-num{
  color:#5543ff;
}
.orderDetail .bottom-btn{

}