.phoneConDoctorDetail{
  ;
}
.phoneConDoctorDetail .doctor-info {
  height:120px;
  padding-bottom:25px;
}
.phoneConDoctorDetail .doctor-info .attention{
  position: absolute;
  right:10px;
  bottom: 10px;
  color:#999;
}
.phoneConDoctorDetail .doctor-info .attention div{
  margin-bottom: 3px;
}
.phoneConDoctorDetail .main{
  margin:0 10px;
  padding-bottom:15px;
}
.phoneConDoctorDetail .main .date{
  margin:17.5px 0;
}
.phoneConDoctorDetail  .date li{
  text-align: center;
  font-size: 14px;
  color:#333;
}
.phoneConDoctorDetail .date .week{
  padding-bottom:8px;
}
.phoneConDoctorDetail .date .day{
  padding-top:8px;
  margin-top:8px;
}
.phoneConDoctorDetail  .date .day a{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.phoneConDoctorDetail .date .day a.select{
  border-radius: 50%;
  background-color: #88d9dd;
  color: #fff;
}
.phoneConDoctorDetail .date .day .circle{
  margin: 0 auto;
  display: block;
  width: 3px;
  height: 3px;
  background-color: #fe7e7b;
  border-radius: 50%;
}

.phoneConDoctorDetail .time li{
  display: inline-block;
  width:33.3%;
  text-align: center;
}
.phoneConDoctorDetail .time a{
  display: inline-block;
  padding:5px 15px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  color: #88d9dd;
  border: 1px solid #88d9dd;
}
.phoneConDoctorDetail .time a.no{
  color: #ccc;
  border: 1px solid #ccc;
  text-decoration:line-through;
}
.phoneConDoctorDetail .service{
  background-color:#f9f9f9;
  padding:15px 7.5px;
  border-radius: 5px;
}
.phoneConDoctorDetail .service li{
  color:#999;
  font-size: 12px;
  margin-bottom: 15px;
  min-height:20px;
  position: relative;
  padding-left:60px;
}
.phoneConDoctorDetail .service li:last-of-type{
  margin-bottom: 0;
}
.phoneConDoctorDetail .service li span{
  position: absolute;
  left:0;
  color:#333;
  width:60px;
}
.phoneConDoctorDetail .evaluate{
  margin:0 15px;
}
.phoneConDoctorDetail .evaluate h3{
  font-weight: normal;
  font-size:15px;
  color:#333;
  margin:20px 0;
}

.phoneConDoctorDetail .evaluate .score{
  padding-bottom: 20px;

}
.phoneConDoctorDetail .evaluate .score span{
  display: inline-block;
  padding:5px 11px;
  font-size: 13px;
  color:#666;
  border-radius: 25px;
  border:1px solid #666;
  margin-right:12.5px;
}
.phoneConDoctorDetail .evaluate .user{
  margin-top: 20px;
  position: relative;
}
.phoneConDoctorDetail .user  .photo{
  position: absolute;
  left:0;
  top:0;
}
.phoneConDoctorDetail .user .info{
  margin-left:45px;
  font-size: 12px;
}
.phoneConDoctorDetail .user .info .name{
 padding-right:15px;
}
.phoneConDoctorDetail .user .info .star{
  margin-right:3px;
}
.phoneConDoctorDetail .user .info .date{
  float: right;
}
.phoneConDoctorDetail .user .text{
  margin-top:22.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.phoneConDoctorDetail .user .all{
  margin:22.5px 0;
  text-align: center;
}
.phoneConDoctorDetail .user .all a{
  display: inline-block;
  padding:3px 9px;
  border-radius: 5px;
  font-size: 13px;
  border:1px solid #88d9dd;
}
.doctor-intro{

}
.doctor-intro h3{
  font-size: 17px;
  text-align: center;
  font-weight: normal;
  padding:18px 0;
  border-bottom:1px solid #ccc;
  margin-bottom: 0;
}
.doctor-intro ul{
  margin:0 15px;
  overflow: hidden;
}
.doctor-intro li{
  position: relative;
  margin-top:20px;
  min-height:30px;
}
.doctor-intro li img{
  position: absolute;
  left:0;
  top:0;
}
.doctor-intro li p{
  margin-left:35px;
  margin-bottom: 0;
  color:#666;
  font-size:13px;
  line-height: 20px;
}
.doctor-intro p.case{
  color:#999;
  margin-top:8px;
}
.doctor-intro .case-name{
  display: inline-block;
  width:95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right:5px;
  max-width:140px;
}
.doctor-intro .case-num{
  min-width:25px;
  display: inline-block;
  background-color: #b3df6e;
  height:15px;
  line-height:15px;
  padding:0 3px;
  color:#fff;
  font-size:11px;
  border-radius:10px;
  margin-top:1px;
  vertical-align: top;
  max-width:140px;
}
.doctor-intro .case-num.other{
  background: none;
  border:1px solid #999;
}
.toggleSelect{
  position: fixed;
  bottom:0;
  width:100%;
  background-color: #fff;
}
.toggleSelect a{
  display: inline-block;
  width:50%;
  padding:7.5px 0;
  text-align: center;
  font-size: 12px;
  color:#ccc;
  border:1px solid #ccc;
}
.toggleSelect a.ap{
  background-color: #ffc30b;
  color:#fff;
  border:1px solid #ffc30b;
}
.toggleSelect a.phone{
  background-color: #d7abf6;
  color:#fff;
  border:1px solid #d7abf6;
}
.toggleSelect a img{
  margin:0 auto 5px;
}