.phoneConPaySuccess{
  background-color: #fff;
}
.phoneConPaySuccess .order-info ul{
  border-top:none;
}
.phoneConPaySuccess .order-info li{
  border-bottom:1px solid #ccc;
}
.phoneConPaySuccess .order-info li:last-of-type{
  border-bottom:none;
}
.phoneConPaySuccess .myWarn1{
  text-align: center;
  margin-top:45px;
  margin-bottom:17.5px;
}