.phoneConCancelSuccess{
  background-color: #fff;
}

.phoneConCancelSuccess .pic{
  margin: 70px 0 45px;
  text-align: center;
}
.phoneConCancelSuccess .text {
  margin-top: 30px;
}
.phoneConCancelSuccess .text a{

  text-decoration: underline;
}
