
.phoneConConnectCall .title{
  height:44px;
  line-height:44px;
}
.phoneConConnectCall .text{
  margin: 40px 0 80px  ;
}
.phoneConConnectCall  .connect{
  text-align: center;
}
.phoneConConnectCall  .main{
  display: inline-block;
  position: relative;
}
.phoneConConnectCall  .connect .tel{
  position: absolute;
  top:-30px;
  left:50%;
  margin-left:-41px;
}
.phoneConConnectCall  .connect .my-img2{
  margin-bottom: 15px;
}
.phoneConConnectCall  .connect .user{
  position: absolute;
  bottom:-50px;
  left:-35px;
}
.phoneConConnectCall  .connect .doctor{
  position: absolute;
  bottom:-50px;
  right:-35px;
}
.phoneConConnectCall .foot-btn{
  margin-top:100px;
}
.phoneConConnectCall .warn{
  margin-top:20px;
}