.insuranceHandFootMouth{
  background-color: #FFFFFF;
}
.insuranceHandFootMouth .index_1{
  width: 100%;
}
.insuranceHandFootMouth .index_1 img{
  width: 100%;
}
.insuranceHandFootMouth .index_2{
  margin-top: 4px;
  padding: 0 10px;
}
.insuranceHandFootMouth .index_2 div{
  background-image: url("http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2Fhandfootmouth%2Fhfmindex_2.png") ;
  background-size: 100% 100%;
  padding: 45px 30px 15px 60px;
  font-size:14px;
  color: #030303;
  line-height: 23px;
}
.insuranceHandFootMouth .index_3{
  margin-top: 47px;
  width: 100%;
  padding: 0 15px;
}
.insuranceHandFootMouth .index_3 .com_1{
  display: inline-block;
  width:25% ;
  border-top: 1px solid #8a8a8a;
  vertical-align: middle;
}
.insuranceHandFootMouth .index_3 span:nth-child(2){
  display: inline-block;
  width:45% ;
  text-align: center;
  font-size: 16px;
  color: #030303;
}
.insuranceHandFootMouth .index_4{
  width: 100%;
  padding: 22px 10px 0px ;
}
.insuranceHandFootMouth .index_4 img{
  width: 100%;
}
.insuranceHandFootMouth .index_5{
  width: 100%;
  padding: 26px 10px 0px;
}
.insuranceHandFootMouth .index_5 img{
  width: 100%;
}
