.insuranceAntiDog .service-content{
  position: relative;
}
.insuranceAntiDog .pic-list .hospital{
  position: absolute;
  right:10%;
  top:38%;
  margin-top:20px;
  width:130px;
  height:30px;
  background-color: transparent;
}