.remind-box{
  position: absolute;
  z-index:3;
  width:100%;
  top:50%;
  margin-top:-88px;

}
.remind-box img{
  position: absolute;
  right:20px;
  top:-10px;
}
.remind-box div{
  width:80%;
  margin:0 auto;
  text-align: center;
  padding:35px 0 20px;
  background-color: #fff;
  border-radius: 10px;
}
.remind-box div p{
  color:#333;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.remind-box div p a{
  color:#88d9dd;
}
.remind-box .foot-btn{
  min-height:34px;
  height:34px;
  line-height:34px;
  font-size: 13px;
  width:80%;
  margin:0 auto;
}
.insuranceOrderDetail .banner img{
  display: block;
}
.insuranceOrderDetail .text{
  padding:17.5px 0;
  text-align: center;
  color:#666;
  border-bottom:1px solid #ccc;
}
.insuranceOrderDetail .text div{
  font-size: 15px;
  margin-bottom: 10px;
}
.insuranceOrderDetail .text p{
  font-size: 13px;
}
.insuranceOrderDetail .order-info ul{
  padding:0 10px;
  background-color: #fff;
  margin-bottom: 5px;
  border-bottom:1px solid #ccc;
  position: relative;
}
.insuranceOrderDetail .order-info ul:nth-of-type(2){
  border-top:1px solid #ccc;
}
.insuranceOrderDetail .order-info li{
  padding:19px 5px;
  border-bottom:1px solid #ccc;
  font-size: 14px;
  color:#999;
  position: relative;
}
.insuranceOrderDetail .order-info li:last-of-type{
  border-bottom:0;
}
.insuranceOrderDetail .order-info li span{
  color:#666;
  display: inline-block;
  width:70px;
  margin-right:20px;
}
.insuranceOrderDetail .order-info .state{
  position: absolute;
  right:10px;
  top:13px;
  font-size: 14px;
  padding:5px 10px;
  border-radius: 20px;
  border:1px solid #fe717b;
}
.insuranceOrderDetail .order-info  .pic{
  text-align: center;
  margin-top:10px;
}
.insuranceOrderDetail .order-info  .pic img{
  margin-right:35px;
}
.insuranceOrderDetail .order-info  .pic img:last-of-type{
  margin-right:0;
}
.insuranceOrderDetail .tel{
  font-size: 12px;
  color:#ccc;
  text-align: center;
  padding:7.5px 0 12.5px;
}