.insurance h3{
  padding:10px 20px;
  border-bottom:1px dashed #bfbfbf;
  position: relative;
}
.insurance.problem{
  margin: 26px 10px 0;
  padding-bottom: 15px;
  border:1px solid #30aece;
}
.insurance.problem dl{
  padding-top: 6px;
}
.insurance.problem dt{
  position: relative;
  padding-left: 40px;
  margin-top:19px;
}
.insurance.problem dt span{
  position: absolute;
  top:0;
  left: 20px;
}
.insurance.problem dd{
  padding: 0 40px;
  margin-top:12px;
}
.insurance.declare{
  margin: 26px 10px 0;
  padding-bottom: 15px;
  border:1px solid #30aece;
}

.insurance.declare  .read{
  position: absolute;
  width:90px;
  top:10px;
  right:0;
}
.insurance.declare .read a{
  position: absolute;
  top:0.5px;
  right:20px;
  display: inline-block;
  width:15px;
  height:15px;
  border:1px solid #5abd80;

}
.insurance.declare .read a img{
  position: absolute;
  left:0;
  top:-2px;
}
.insurance.declare p{
  padding:13px 20px;
  line-height: 26px;
}
.icon-pay{
  position:fixed;
  right:5px;
  bottom:60px;
}