<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http pattern="/auth/**" use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint" >
		<intercept-url pattern="/auth/**" access="isAuthenticated()" />
		<logout logout-url="/logout" logout-success-url="/sso/appoint/logout" delete-cookies="JSESSIONID" />
		<!-- 实现免登陆验证 -->
		<remember-me user-service-ref="myUserDetailsService" />
		<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="myAuthenticationProcessingFilter" />
		<session-management invalid-session-url="/"
							session-authentication-strategy-ref="sas"/>
		<csrf disabled="true"/>
	</http>

	<!-- 登录验证器 -->
	<beans:bean id="myAuthenticationProcessingFilter"
		class="com.cxqm.xiaoerke.bdfApp.security.MyAuthenticationProcessingFilter">
		<!-- 处理登录的action -->
		<beans:property name="filterProcessesUrl" value="/auth/auth_center/form" />
		<!-- 验证成功后的处理 -->
		<beans:property name="authenticationSuccessHandler" ref="loginLogAuthenticationSuccessHandler" />
		<!-- 验证失败后的处理 -->
		<beans:property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="sessionAuthenticationStrategy" ref="sas" />
	</beans:bean>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="myUserDetailsService" />
	</authentication-manager>

	<!-- sessionManagementFilter -->
	<beans:bean id="concurrencyFilter"
				class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
		<beans:constructor-arg name="expiredUrl" value="/"/>
	</beans:bean>

	<beans:bean id="sas" class="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy">
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
					<beans:constructor-arg ref="sessionRegistry"/>
					<beans:property name="maximumSessions" value="1" />
					<!--<beans:property name="exceptionIfMaximumExceeded" value="true" />-->
				</beans:bean>
				<beans:bean class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy" />
				<beans:bean class="org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy">
					<beans:constructor-arg ref="sessionRegistry"/>
				</beans:bean>
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />

	<beans:bean id="loginLogAuthenticationSuccessHandler"
				class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="alwaysUseDefaultTargetUrl" value="false" />
		<beans:property name="targetUrlParameter" value="targeturl" />
		<beans:property name="redirectStrategy" ref="redirectStrategy" />
	</beans:bean>

	<beans:bean id="redirectStrategy" class="com.cxqm.xiaoerke.bdfApp.security.MyRedirectStrategy" />

	<beans:bean id="simpleUrlAuthenticationFailureHandler"
				class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<!-- 可以配置相应的跳转方式。属性forwardToDestination为true采用forward false为sendRedirect -->
		<beans:property name="defaultFailureUrl" value="/sso/checkLogin" />
	</beans:bean>

	<!-- 未登录的切入点 -->
	<beans:bean id="authenticationProcessingFilterEntryPoint" class="com.cxqm.xiaoerke.bdfApp.security.MyLoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/sso/checkLogin"/>
	</beans:bean>

</beans:beans>
