.shadow1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(Opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*.shadow1.ng-enter,{
  opacity: 0;
}
.shadow1.ng-enter-active,{
  opacity: 1;
}
.shadow1.ng-leave,{
  opacity: 1;
}
.shadow1.ng-leave-active{
  opacity: 0;
}*/
.remind4.ng-enter,{
  opacity: 0;
}
.remind4.ng-enter-active,{
  opacity: 1;
}
.remind4.ng-leave,{
  opacity: 1;
}
.remind4.ng-leave-active{
  opacity: 0;
}
.remind4{
  position: absolute;
  top:46%;
  width:100%;
  text-align: center;
  z-index:6;
  /*transition:1.5s all;*/

}
.remind4 span{
  display:inline-block;
  width:80%;
  background-color: #88d9dd;
  color:#fff;
  font-size:13px;
  text-align: center;
  padding:10px 14px;
  border-radius: 30px;
}
.consultVisit{
  background: url("http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/other%2FconsultVisit_bg.jpg") no-repeat;
  background-size: 100% 100%;
}
.consultVisit .title2{
  overflow: hidden;
  color:#fff;
  padding:5px 10px 10px;
}
.consultVisit .title2 div{
  width:80%;
  float: right;
}
.consultVisit .title2 h3{
  float: right;
  font-size:20px;
  color:#fff;
  font-weight: 700;
}
.consultVisit .title2 h3 span{
  font-size:13px;
  float: right;
  font-weight: normal;
}
.consultVisit .title2 p{
  float: left;
  font-size:14px;
  color:#fff;
  font-weight: normal;
}
.consultVisit .title2 p span{
 color:#efff13;
  font-size:16px;
}
.consultVisit .box2{
  margin:0 10px 10px;
  border-radius: 15px;
  padding:15px 10px;
  background-color: #fff;

}
.consultVisit .box2 p{
  color:#333;
  font-size:16px;
}
.consultVisit dl{
  margin:5px 10px 10px;
}
.consultVisit dd{
  padding:5px 0;
}
.consultVisit dd .item-content{
  padding:10px;
  color:#666;
  font-size:14px;
  text-align: center;
}
.consultVisit .item-radio input:checked~.item-content {
  background: #ff9966;
  color:#fff;
}
.consultVisit .item-radio input:checked~.radio-icon {
  visibility: hidden;
}
.consultVisit .other{
  margin:0 10px 50px;
  padding-bottom: 50px;
}
.consultVisit .other textarea{
  width:90%;
  float: left;
  height:80px;
  resize: none;
  padding:10px;
  font-size:14px;
  text-align: left;
}
.consultVisit .other span{
  float:right;
  width:26px;
  height:80px;
  padding:20px 3px;
  text-align: center;
  color:#333;
  font-size:16px;
  background-color: #fff;

}
.consultVisit .box4{
  text-align: center;
  width:100%;
  padding-bottom:50px;
}
.consultVisit .box4 .button{
  display: inline-block;
  border-radius: 50%;
  background-color: #f5f5f5;
  color:#ef1e57;
  width:72px;
  height:72px;
  min-width: 72px;
  min-height:72px;
  padding:10px 10px;
  box-sizing: border-box;
  font-size:18px;
  line-height: 24px;
}