.guide{
  background-color:#fff;
}
.guide .box1{
  font-size:25px;
  color:#fff;
  padding:25px 0;
  text-align: center;
  background-color: #88d9dd;
  line-height:32px;
  position: relative;
}
.guide .box1 img{
  position: absolute;
  left:15px;
  bottom: -29px;
}
.guide dl{
  margin:60px auto 40px;
  width:90%;
}
.guide dt{
  font-size:15px;
  color:#88d9dd;
  line-height:20px;
  margin:35px 0 30px 0;
  font-weight: normal;
}
.guide dd{
  text-align: center;
}
.bar-footer.zhi{
  padding:0;
}
 .bar-footer.zhi .button{
   display: inline-block;
  width:100%;
  height:44px;
  line-height:44px;
  text-align: center;
   padding:0;
  color:#fff;
  background-color: #88d9dd;
   border-radius: 0;
   font-size:16px;
}
 .myFooter{
   position: absolute;
   bottom:0;
   left:0;
   z-index: 10;
   width:100%;
 }
.myFooter .button{
  display: inline-block;
  width:100%;
  height:44px;
  line-height:44px;
  text-align: center;
  padding:0;
  color:#fff;
  background-color: #88d9dd;
  border-radius: 0;
  font-size:16px;
}