<ion-view view-title='宝大夫' scrollbar-y="false">
    <ion-content style="top:0px;">
        <div class="cardBox">
            <div class="mask">
                <div class="bigCard"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/di_png_03.png" alt=""/></div>
                <div class="btn"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/btn_Invitation.png" alt=""/></div>
                <div class="smallCard">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/fulika_a_png_03.png" alt=""/><p>福利卡</p></div>
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>爱心卡</p></div>
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>如意卡</p></div>
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>健康卡</p></div>
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>快乐卡</p></div>
                            <div class="swiper-slide"><img src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>友善卡</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>