<ion-view view-title='宝大夫' scrollbar-y="false">
    <ion-content style="top:0px;">
        <div class="cardBox">
            <div class="mask">

                <!--控制显示大图片-->
                <div class="bigCard" ng-show="bigCard_status"><img ng-src="{{bigCardImg}}" alt=""/></div>
                <div class="cashBigCard" ng-show="cash_status"><div><b>8.88</b><span>元</span></div></div>

                <!--控制显示按钮-->
                <div class="btn" ng-show="invite_friend_status" ><img ng-click="invite_friend()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/btn_Invitation.png" alt=""/></div>
                <div class="btn" ng-show="draw_prize_status" ><img ng-click="draw_prize()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/btn_draw.png" alt=""/></div>
                <div class="btn" ng-show="receive_prize_status" ><img ng-click="receive_prize()" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/btn_receive.png" alt=""/></div>

                <!--我的卡片的显示区域-->
                <div class="smallCard">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div ng-if="card.cardBig!=0" ng-click="fuli_click()" class="swiper-slide one"><img ng-class={"border_status":fuli_status} src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/fulika_a_png_03.png" alt=""/><p>福利卡</p><span class="num" ng-hide="card.cardBig==0">{{card.cardBig}}</span></div>
                            <div class="swiper-slide two" ng-click="ru_click()"><img ng-class={"border_status":ru_status} ng-hide="card.cardRuyi==0" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ru_bright.png" alt=""/><p>如意卡</p><span class="num" ng-hide="card.cardRuyi==0">{{card.cardRuyi}}</span></div>
                            <div class="swiper-slide three" ng-click="shan_click()"><img ng-class={"border_status":shan_status} ng-hide="card.cardYoushan==0" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/shan_bright.png" alt=""/><p>友善卡</p><span class="num" ng-hide="card.cardYoushan==0">{{card.cardYoushan}}</span></div>
                            <div class="swiper-slide four" ng-click="kang_click()"><img ng-class={"border_status":kang_status} ng-hide="card.cardHealth==0" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/kang_bright.png" alt=""/><p>健康卡</p><span class="num" ng-hide="card.cardHealth==0">{{card.cardHealth}}</span></div>
                            <div class="swiper-slide five" ng-click="le_click()"><img ng-class={"border_status":le_status} ng-hide="card.cardHappy==0" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/le_bright.png" alt=""/><p>快乐卡</p><span class="num" ng-hide="card.cardHappy==0">{{card.cardHappy}}</span></div>
                            <div class="swiper-slide six" ng-click="ai_click()"><img ng-class={"border_status":ai_status} ng-hide="card.cardLove==0" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/myCard/ai_bright.png" alt=""/><p>爱心卡</p><span class="num" ng-hide="card.cardLove==0">{{card.cardLove}}</span></div>
                        </div>
                    </div>
                </div>


                <div ng-click="share_close()" ng-show="share_status" class="invited">
                    <img class="share_arrow" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/invite/invitePageShareMark.png" alt=""/>
                    <img class="share_img" src="http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/appWfdb/home/share.png" alt=""/>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>