<html>
<head>
</head>
<base href="/keeper/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>咨询医生</title>
<script src="js/libs/jquery-2.1.3.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/pay/doctorConsultPay.js"></script>
<link rel="stylesheet" href="/keeper/styles/main.less" type="text/css" />
<link rel="stylesheet" href="/keeper/styles/pay/commonPay.less" type="text/css" />
<link rel="stylesheet" href="/keeper/styles/pay/doctorConsultPay.less" type="text/css" />
<body onload="doRefresh()">
<div class="doctorConsultPay bg1" >
    <div class="intro">
        <img width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/dkf%2FconsultPay%2Fb_03.png" alt=""/>
        <span>你需支付</span>
        <span>图文咨询服务费￥8.8</span>
    </div>

    <div class="weChat">
        <div>购买成功后,医生将使用休息时间解答您的问题,请耐心等待</div>
    </div>
    <div id="payButton" class="button" ><a onclick="wechatPay()" class="change">确认支付</a></div>
</div>
</body>
</html>