<html>
<head>
</head>
<base href="/keeper/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>宝大夫</title>
<script src="js/libs/jquery-2.1.3.min.js"></script>
<script src="js/libs/moment.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/libs/mobiscroll.custom-2.17.0.min.js"></script>
<script src="js/pay/orderDetailPay.js"></script>
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/lib/mobiscroll.custom-2.17.0.min.css" type="text/css" />
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/commonMain.less" type="text/css" />
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/commonDoctor/doctorInfo.less" type="text/css" />
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/commonDoctor/orderInfo.less" type="text/css" />
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/commonDoctor/babyInfo.less" type="text/css" />
<link rel="stylesheet" href="http://s68.baodf.com/titan/styles/commonDoctor/remindInfo.less" type="text/css" />
<link rel="stylesheet" href="styles/phoneConsult/orderDetailPay.less" type="text/css" />

<body onload="doRefresh()">
<div class="orderDetailPay bg4">
    <div class="head tc bg1 border2 ">
        <div class="left fl f6 c3" onclick="goFirstPage()" >首页</div>
        <div class="title fl f8 c3" >订单详情</div>
        <div class="right fl" onclick="goMyselfCenter()" >
            <a class= my"  >
                <img class="my-img1" src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/ap%2Fmy1.png" width="22" height="22" >
            </a>
        </div>
    </div>
    <div class="doctor-info bg1 border2">
        <div  class="pic">
            <img id="docimg" class="photo" width="62.5" height="62.5"/>
        </div>
        <div class="intro">
            <div class="name"><a id="doctorName"></a><a id="position"></a></div>
            <div class="hospital" id="hospitalName"></div>
            <div class="department" id="departmentName"></div>
        </div>
    </div>
    <div class="order-info bg1 apart1">
        <ul>
            <li class="f4 c5">
                <span class="f4 c3 ">服务价格：</span> <a id="price"></a>
            </li>
            <li class="f4 c5">
                <span class="f4 c3">服务时间：</span> <a id="date"></a> &nbsp;<a id="beginTime"></a>-<a id="endTime"></a>
            </li>

        </ul>
    </div>
    <div class="order-info bg1">
        <ul>
            <li class="hd f4 c1">
                <i class="bg2"></i>订单详情
            </li>
            <li class="f4 c5">
                <span class="f4 c3 ">订单号：</span> <a class="order-num" id="orderNo"></a><i class="c2" id="state"></i>
            </li>
            <li class="f4 c5">
                <span class="f4 c3">姓名：</span> <a id="babyName"></a>
            </li>
            <li class="f4 c5">
                <span class="f4 c3">接听电话：</span> <a id="phone"></a>
            </li>
            <li class="f4 c5">
                <span class="f4 c3">下单时间：</span><a id="orderTime"></a>
            </li>
        </ul>
    </div>
    <br><br><br><br><br>

    <br><br><br><br><br>
    <button class="button bottom-btn bg2" onclick="wxPay()" id="payButton">去支付</button>
</div>
</body>
</html>