<html>
<head>
</head>
<base href="/keeper/"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>宝护伞</title>
<script src="js/libs/jquery-2.1.3.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="js/pay/umbrellaPay.js"></script>
<link rel="stylesheet" href="/keeper/styles/main.less" type="text/css" />
<link rel="stylesheet" href="/keeper/styles/pay/commonPay.less" type="text/css" />
<link rel="stylesheet" href="/keeper/styles/pay/umbrellaPay.less" type="text/css" />
<body onload="umbrellaPayInit()" >
<div class="umbrellaPay bg1" >
    <div class="top tc c0">
        <div class="title" style="margin-bottom: 0;">
            <!--<img class="my-img1 line1" width="100" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/pay/line_l.png">
            <img class="my-img1 line2" width="100" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/pay/line_r.png">-->
            恭喜您获得免费加入的机会
        </div>
        <!-- 减1到4元的情况-->
        <div class="f7" id="payOrder">
            恭喜您获得随机立减金额 <img class="my-img1" width="15" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/pay/icon_money.png"> <span id="payMoney"></span>元
        </div>
        <!-- 减5元的情况-->
       <!-- <div class="f7" id="FreeOrder">
            恭喜您获得免费加入的机会
        </div>-->
    </div>
    <div class="weChat f5 c3">
        <div class="fl">
            <img class="my-img1 line2" width="25" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/pay/icon_wechat.png">&nbsp;
            微信支付
        </div>
        <div class=" fr">
            <span id="payMoneyDis"></span>元
            &nbsp;<img class="my-img1 line2" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/pay/icon_select.png">
        </div>
    </div>
    <div onclick="wechatPay()" id="payButton"  class="button bottom-btn" >
        立即领取
    </div>

    <div class="c-shadow"   hidden></div>
    <!--关注浮层-->
    <!--<div class="shadow-content attention tc" id="QRCodeDIV" >-->
    <!--<img onclick="cancelRemind()" class="close" width="20" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/attention_close.png">-->
    <!--<div class="code">-->
    <!--<img  class="" width="100%" id="QRCode" height="auto" data-tap-disabled="true"  src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/attention_code.png">-->
    <!--<img  class="logo" width="20" height="20" data-tap-disabled="true"  src="http://xiaoerke-appoint.oss-cn-beijing.aliyuncs.com/common/baodf_logo.jpg">-->
    <!--</div>-->
    <!--<img  class="remind" width="80%" height="auto" src="http://xiaoerke-healthplan-pic.oss-cn-beijing.aliyuncs.com/umbrella/attention_pic2.png">-->
    <!--</div>-->
</div>

</body>
</html>