body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
body {
  font-family: '微软雅黑';
}

a{
  text-decoration: none;
}
ul,li,dl,dd{
  list-style: none;
}

.umbrellaFirstPage{
  background-color: #2c9ee2;
  height:100%;
  width:100%;
  overflow-x: hidden;
}
.umbrellaFirstPage .c11{
  color:#2c9ee2;
}
.umbrellaFirstPage .c12{
  color:#fe6c50;
}
.umbrellaFirstPage .myLink{
  border-bottom: 1px solid #2c9ee2;
}
.umbrellaFirstPage .bold{
  font-weight: bold;
}
/*参与人数*/
.umbrellaFirstPage .memberInfo .all-num{
  padding: 10px 0;
  font-weight: 300;
}
.umbrellaFirstPage .memberInfo .all-num span{
  font-size: 30px;
}
.umbrellaFirstPage .myCard{
  margin:10px 10px 0;
  border-radius: 5px;
  background-color: #fff;
  padding-bottom:20px;
  overflow: hidden;
}
.umbrellaFirstPage .myCard .headline{
  margin:15px auto 30px ;

}
/*宝护伞介绍*/
.umbrellaFirstPage .introPic{
  overflow: hidden;
}
.umbrellaFirstPage .introPic li{
  width:50%;
}
.umbrellaFirstPage .introPic li:first-of-type,.umbrellaFirstPage .introPic li:nth-of-type(2){
 margin-bottom: 30px;
}
.umbrellaFirstPage .introPic li div{
  margin-top:13px;
}

/*互助优势*/
.umbrellaFirstPage  .helpPlan .advantage{
}
.umbrellaFirstPage .advantage .tag{
  display: inline-block;
  padding:10px 15px 10px 5px;
  border-radius:0 30px 30px 0;
  background-color: #2c9ee2;
  font-size:14px;
}
.umbrellaFirstPage .advantage:first-of-type .tag{
  padding:10px 13px 10px 5px;
  font-size:13px;
}
.umbrellaFirstPage  .advantage p{
  margin-top:10px;
  margin-bottom:8px;
  line-height: 24px;
}
.umbrellaFirstPage  .advantage1 img{
  margin-top:25px;
}
.umbrellaFirstPage  .advantage2,.umbrellaFirstPage  .advantage3{
  padding-top:28px;
}
.umbrellaFirstPage  .advantage3 img{
  margin-bottom:0;
}
/*安全保证*/
.umbrellaFirstPage  .safe .headline{
  margin-bottom:17px;
}
.umbrellaFirstPage  .safe .where{
  margin-bottom:0;
}
.umbrellaFirstPage  .safe .where div:first-of-type{
  margin-bottom:5px;
}
.umbrellaFirstPage  .safe .where img{
  margin-top:10px;
  margin-bottom:30px;
}
.umbrellaFirstPage  .safe .notice{
  border:1px solid #2c9ee2;
  padding:36px 0 25px;
  width:90%;
  margin:15px auto 25px;
  position: relative;
}
.umbrellaFirstPage  .safe .notice h3{
  position: absolute;
  left:50%;
  width:186px;
  top:-12px;
  margin-left:-93px;
  font-size: 20px;

}
.umbrellaFirstPage  .safe .notice a{
  display:inline-block;
}
.umbrellaFirstPage  .safe .notice a:first-of-type{
  margin-right: 34px;
}
.umbrellaFirstPage  .safe .who{
  overflow: hidden;
}
.umbrellaFirstPage .who li{
 width:33.3333%;
}
.umbrellaFirstPage .who li div{
  margin-bottom:7px;
}
/*申请流程*/
.umbrellaFirstPage .process .headline{
  margin-bottom: 25px;
}
.umbrellaFirstPage .process ul{
  overflow: hidden;
  padding-top:10px;
  position: relative;
}
.umbrellaFirstPage .process .arr{
  position: absolute;
  top:34px;
  margin-left:-5px;
}
.umbrellaFirstPage .process .arr1{
  left:33.3%;
}
.umbrellaFirstPage .process .arr2{
  left:66.6%;
}
.umbrellaFirstPage .process li{
  width:33.3333%;
}
.umbrellaFirstPage .process li div:first-of-type{
 margin-top:16px;
 margin-bottom:9px;
}

/*常见问题*/
.umbrellaFirstPage .questions{
  padding:0;
}
.umbrellaFirstPage .questions h3{
  border-bottom: 1px solid #f0f0f0;
  padding:10px;
}
.umbrellaFirstPage .questions dl{
  padding:15px 10px;
}
.umbrellaFirstPage .questions .triangle{
  position: absolute;
  left:10px;
  top:-9px;
  height:0;
  width:0;
  border-width: 5px 5px 5px 5px;
  border-style:  dashed dashed solid dashed ;
  border-color: transparent transparent #efefef transparent ;
}
.umbrellaFirstPage .questions dt{
  margin-bottom: 20px;
  position: relative;
  padding-left:30px;
  padding-right:20px;
  font-size: 14px;
  color:#333;
}
.umbrellaFirstPage .questions dt span{
  position: absolute;
  left:0;
  top:0;
}
.umbrellaFirstPage .questions dt a{
  position: absolute;
  right:0;
  top:4px;
  display: inline-block;
}
.umbrellaFirstPage .questions dt a.show{
  top:8px;
}
.umbrellaFirstPage .questions dt a.show .show1{
  display: none;
}
.umbrellaFirstPage .questions dt a.show .show2{
  display: inline-block;
}
.umbrellaFirstPage .questions dd{
  display: none;
  position: relative;
  margin-bottom: 20px;
}
.umbrellaFirstPage .questions dd:last-of-type{
  margin-bottom: 0;
}
.umbrellaFirstPage .questions dd.change{
  display: block;
}
.umbrellaFirstPage .questions .foldText{
  padding:10px;
  background-color: #f3f3f3;
  font-size: 13px;
  color:#333;
  line-height: 22px;
}
.umbrellaFirstPage .questions .foldText2{
  padding:5px;

}

.umbrellaFirstPage .questions .foldText3 p{
   position: relative;
  padding-left:22px;
 }
.umbrellaFirstPage .questions .foldText3 p span{
 position: absolute;
  left:0;
  top:0;
}
.umbrellaFirstPage .questions .foldText4 div{
  width:248px;
  margin:0 auto;
  padding-left:26px;
  position: relative;
}
.umbrellaFirstPage .questions .foldText4 div span{
   position: absolute;
   left:0;
   top:0;
 }
.umbrellaFirstPage .questions .foldText4 div p{
 display: inline-block;
}

.umbrellaFirstPage .consult{
  position: relative;
  margin:6px 10px 0;
  font-size: 0;
  padding:9px 0 5px;
}
.umbrellaFirstPage .consult .line{
  position: absolute;
  width:1px;
  height:30px;
  left:50%;
  top:4px;
  margin-left: -0.5px;
  display: inline-block;
  background-color: #acacac;

}
.umbrellaFirstPage .consult a{
  display: inline-block;
  width:50%;
}
.umbrellaFirstPage .umbrellaProtocol{
  margin:6px 10px 0;
  padding:7px 10px;
  position: relative;
}
.umbrellaFirstPage .umbrellaProtocol img{
  position: absolute;
  top:9px;
  right:10px;
}

.umbrellaFirstPage .first-myBottom-btn{
  position: fixed;
  width:100%;
  bottom:0;
}
.umbrellaFirstPage .first-myBottom-btn button{
  width:50%;
  height:55px;
  text-align: center;
}
.umbrellaFirstPage .first-myBottom-btn .bg-blue{
  background-color:#1280c1 ;
  color:#fff;
}
.umbrellaFirstPage .first-myBottom-btn .bg-white{
  background-color:#fff ;
  border-top:1px solid #ccc;
  box-sizing: border-box;
  color:#333;
}
.umbrellaFirstPage .first-myBottom-btn .bg-white:hover{
  color: #333333 !important;
}

.umbrellaFirstPage .first-myBottom-btn .button-share{

}
.umbrellaFirstPage .first-myBottom-btn .button-share div{
  margin-bottom: 3px;
}


/*浮层*/
.shadow-content.attention{
  position: absolute;
  top:50px;
}
.shadow-content.attention .close{
  position: absolute;
  right:10%;
}
.shadow-content.attention .code{
  display: inline-block;
  position: absolute;
  width:26%;
  left:10%;
  margin-left:32px;
  bottom:32px;
}
.shadow-content.attention .code .logo{
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-10px;
  margin-top:-10px;
}
.shadow-content.shadow-content2{
  position: absolute;
  left:5%;
  top:30%;
  width:90%;
  margin:0 auto;
  background-color: #fff;
  border-radius: 10px;
 padding:15px 18px 20px;
  box-sizing: border-box;
}
.shadow-content.shadow-content2 h3{
  margin-bottom: 6px;
}
.shadow-content.shadow-content2 p{
  margin-bottom: 10px;
}
.shadow-content a{
  display: inline-block;
  background-color:#2c9ee2;
  padding:12px 30px;
}
.shadow-content.shadow-content2 .doctor{
  margin-bottom: 10px;
}
.shadow-content.shadow-content2 .doctor img:nth-of-type(2){
  margin:0 3%;
}
.shadow-content.protocol {
  position: absolute;
  width:94%;
  margin:0 3%;
  height:70%;
  top:15%;
  border-radius: 3px;
  padding:18px 0;
}

.shadow-content.protocol  h3{
  margin-bottom: 20px;
}
.shadow-content.protocol  .main{
  height:72%;
}
.shadow-content.protocol  .main dl{
  margin-bottom: 15px;
}
.shadow-content.protocol  .main dt{
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  color:#333;
}
.shadow-content.protocol  .main h5{
  font-weight: normal;
  font-size: 14px;
  color:#333;
  margin-bottom: 5px;
}
.shadow-content.protocol  .main p{
  font-size: 14px;
  color:#333;
  line-height: 22px;
}

.shadow-content.protocol .read{
  width:100%;
}

.shadow-content.protocol.erjihui dd img{
  margin-bottom: 8px;
}



