<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.vaccine.dao.VaccineBabyRecordDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyRecordVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="baby_seed_number" property="babySeedNumber" jdbcType="VARCHAR" />
    <result column="baby_name" property="babyName" jdbcType="VARCHAR" />
    <result column="vaccine_info_id" property="vaccineInfoId" jdbcType="INTEGER" />
    <result column="vaccine_info_name" property="vaccineInfoName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="bak3" property="bak3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_user_id, baby_seed_number, baby_name, vaccine_info_id, vaccine_info_name, create_by, 
    create_time, update_time, bak1, bak2, bak3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vaccine_baby_record
    where 1=1
    <if test="id != null" >
     and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId != null" >
      and sys_user_id = #{sysUserId,jdbcType=VARCHAR}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vaccine_baby_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyRecordVo" >
    insert into vaccine_baby_record (id, sys_user_id, baby_seed_number, 
      baby_name, vaccine_info_id, vaccine_info_name, 
      create_by, create_time, update_time, 
      bak1, bak2, bak3)
    values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=VARCHAR}, #{babySeedNumber,jdbcType=VARCHAR}, 
      #{babyName,jdbcType=VARCHAR}, #{vaccineInfoId,jdbcType=INTEGER}, #{vaccineInfoName,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=VARCHAR}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyRecordVo" >
    insert into vaccine_baby_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="babySeedNumber != null" >
        baby_seed_number,
      </if>
      <if test="babyName != null" >
        baby_name,
      </if>
      <if test="vaccineInfoId != null" >
        vaccine_info_id,
      </if>
      <if test="vaccineInfoName != null" >
        vaccine_info_name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="bak3 != null" >
        bak3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="babySeedNumber != null" >
        #{babySeedNumber,jdbcType=VARCHAR},
      </if>
      <if test="babyName != null" >
        #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="vaccineInfoId != null" >
        #{vaccineInfoId,jdbcType=INTEGER},
      </if>
      <if test="vaccineInfoName != null" >
        #{vaccineInfoName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyRecordVo" >
    update vaccine_baby_record
    <set >
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="babySeedNumber != null" >
        baby_seed_number = #{babySeedNumber,jdbcType=VARCHAR},
      </if>
      <if test="babyName != null" >
        baby_name = #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="vaccineInfoId != null" >
        vaccine_info_id = #{vaccineInfoId,jdbcType=INTEGER},
      </if>
      <if test="vaccineInfoName != null" >
        vaccine_info_name = #{vaccineInfoName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyRecordVo" >
    update vaccine_baby_record
    set sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      baby_seed_number = #{babySeedNumber,jdbcType=VARCHAR},
      baby_name = #{babyName,jdbcType=VARCHAR},
      vaccine_info_id = #{vaccineInfoId,jdbcType=INTEGER},
      vaccine_info_name = #{vaccineInfoName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=VARCHAR},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>