<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.vaccine.dao.VaccineBabyInfoDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="baby_name" property="babyName" jdbcType="VARCHAR" />
    <result column="baby_sex" property="babySex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="baby_seed_number" property="babySeedNumber" jdbcType="VARCHAR" />
    <result column="vaccine_station_id" property="vaccineStationId" jdbcType="INTEGER" />
    <result column="vaccine_station_name" property="vaccineStationName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="bak1" property="bak1" jdbcType="VARCHAR" />
    <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    <result column="QR_code_url" property="QRCodeUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_user_id, baby_name, baby_sex, birthday, baby_seed_number, vaccine_station_id, 
    vaccine_station_name, create_by, create_time, update_time, bak1, bak2, QR_code_url
  </sql>
  <select id="selectByVaccineBabyInfoVo" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    select 
    <include refid="Base_Column_List" />
    from vaccine_baby_info
    where 1=1
    <if test="id != null" >
      id = #{id,jdbcType=INTEGER}
    </if>
    <if test="sysUserId != null" >
      sys_user_id = #{sysUserId,jdbcType=VARCHAR}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vaccine_baby_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    insert into vaccine_baby_info (id, sys_user_id, baby_name, 
      baby_sex, birthday, baby_seed_number, 
      vaccine_station_id, vaccine_station_name, create_by, 
      create_time, update_time, bak1, 
      bak2, QR_code_url)
    values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=VARCHAR}, #{babyName,jdbcType=VARCHAR}, 
      #{babySex,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{babySeedNumber,jdbcType=VARCHAR}, 
      #{vaccineStationId,jdbcType=INTEGER}, #{vaccineStationName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{QRCodeUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    insert into vaccine_baby_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="babyName != null" >
        baby_name,
      </if>
      <if test="babySex != null" >
        baby_sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="babySeedNumber != null" >
        baby_seed_number,
      </if>
      <if test="vaccineStationId != null" >
        vaccine_station_id,
      </if>
      <if test="vaccineStationName != null" >
        vaccine_station_name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="bak1 != null" >
        bak1,
      </if>
      <if test="bak2 != null" >
        bak2,
      </if>
      <if test="QRCodeUrl != null" >
        QR_code_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="babyName != null" >
        #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="babySex != null" >
        #{babySex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="babySeedNumber != null" >
        #{babySeedNumber,jdbcType=VARCHAR},
      </if>
      <if test="vaccineStationId != null" >
        #{vaccineStationId,jdbcType=INTEGER},
      </if>
      <if test="vaccineStationName != null" >
        #{vaccineStationName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="QRCodeUrl != null" >
        #{QRCodeUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    update vaccine_baby_info
    <set >
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="babyName != null" >
        baby_name = #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="babySex != null" >
        baby_sex = #{babySex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="babySeedNumber != null" >
        baby_seed_number = #{babySeedNumber,jdbcType=VARCHAR},
      </if>
      <if test="vaccineStationId != null" >
        vaccine_station_id = #{vaccineStationId,jdbcType=INTEGER},
      </if>
      <if test="vaccineStationName != null" >
        vaccine_station_name = #{vaccineStationName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null" >
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="QRCodeUrl != null" >
        QR_code_url = #{QRCodeUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.vaccine.entity.VaccineBabyInfoVo" >
    update vaccine_baby_info
    set sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      baby_name = #{babyName,jdbcType=VARCHAR},
      baby_sex = #{babySex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      baby_seed_number = #{babySeedNumber,jdbcType=VARCHAR},
      vaccine_station_id = #{vaccineStationId,jdbcType=INTEGER},
      vaccine_station_name = #{vaccineStationName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      QR_code_url = #{QRCodeUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>