<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/titan/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>宝大夫</title>
    <link rel="stylesheet" href="styles/native/insuranceFirstPage.less" type="text/css" />
    <link rel="stylesheet" href="styles/lib/ionic.min.css"/>
    <link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
    <link rel="stylesheet" href="styles/lib/animate.min.css"/>
    <link rel="stylesheet" href="styles/main.less"/>
    <script src="js/native/insuranceFirstPage.js"></script>
    <script src="js/libs/lodash.min.js"></script>
</head>
<body>
<div  class="insuranceDog">
    <img onclick="goHandfootmouth()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FinsuranceHand.png" width="100%" height="225px"/>
    <img onclick="goantiDog()" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FinsuranceDog.png" width="100%" height="225px"/>
</div>
<img onclick="goPay()" id="payOut" class="icon-pay"  width="56" height="auto"
     src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/insurance%2FantiDog%2Ficon_pay.png">
</body>
</html>