<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/titan/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>宝大夫</title>
    <link rel="stylesheet" href="styles/native/insuranceFirstPage.less" type="text/css" />
    <link rel="stylesheet" href="styles/lib/ionic.min.css"/>
    <link rel="stylesheet" href="styles/lib/ionicons.min.css"/>
    <link rel="stylesheet" href="styles/lib/animate.min.css"/>
    <link rel="stylesheet" href="styles/main.less"/>
    <script src="js/native/insuranceFirstPage.js"></script>
    <script src="js/libs/jquery.scrollstop.min.js"></script>
    <script src="js/libs/lodash.min.js"></script>
</head>
<body>
<div>
    防犬宝
</div>
<div onclick="goHandfootmouth()">
    手足口
</div>

</body>
</html>