.sheOnlineIndex{
  background-color: #fff;
}
.sheOnlineIndex .box1{
  width:100%;
  position: relative;
}
.sheOnlineIndex .box1 img{
  display: block;
}
.sheOnlineIndex .box1 ul{
  position: absolute;
  left:20%;
  bottom:15px;
 /* padding:50px 0 0 20%;*/
}
.sheOnlineIndex .box1 li{
  color:#bf8cab;
  font-size:12px;
  padding:0 5px;
}
.sheOnlineIndex .box1 li:nth-child(2){
  height:20px;
  line-height:20px;
  font-size:13px;
  background: url("http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/sheOnline%2Fonline_li_bg.png") no-repeat;
  background-size: 100% 20px;
  margin:2px 0;
}
.sheOnlineIndex .box1 li span{
  font-size:15px;
}
.sheOnlineIndex .box2{
  height:230px;
  background: url("http://xiaoerke-knowledge-pic.oss-cn-beijing.aliyuncs.com/sheOnline%2Fonline_bg2.png") no-repeat;
  background-size: 100% 230px;
  color:#fff;
  text-align: center;
  font-size:12px;
  padding-top:15px;
}
.sheOnlineIndex .box2 img {
  width:69px;
  height:69px;
  border-radius: 50%;
  margin:0  auto 15px;
  display: block;
}
.sheOnlineIndex .box2 h3{
  font-size:16px;
  color:#fff;
  margin:0;
}
.sheOnlineIndex .box2 h3 span{
  border-left:1px solid #fff;
  font-size:12px;
  padding-left:8px;
}
.sheOnlineIndex .box2 p{
  padding:10px 28px;
  line-height:20px;
  margin:0;
  text-align:left;
}
.sheOnlineIndex .box3{
  /*margin-left:35px;*/
  padding:25px 0;
}
.sheOnlineIndex .box3 dl{
  position: relative;
  padding:0 0 25px 15px;
  margin-bottom:0;
  margin-left:35px;
}
.sheOnlineIndex .box3 dl .cir{
  position: absolute;
  left:-2.5155px;
  top:7px;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #88d9dd;
}
.sheOnlineIndex .box3 dl .line{
  position: absolute;
  left:0;
  top:9px;
  width:1px;
  height:100%;
  background-color: #88d9dd;
}
.sheOnlineIndex .box3 dt{
  color:#333;
  font-size:14px;
  font-weight:normal;
  margin-bottom:10px;
}
.sheOnlineIndex .box3 dd{
  color:#666;
  font-size:12px;
}
.sheOnlineIndex .box3 .aboutShe{
  margin:0 8px 10px;
}
.sheOnlineIndex .box3 .aboutShe a{
  display: inline-block;
  width:26%;
  height:30px;
  line-height:30px;
  text-align: center;
  font-size:13px;
  color:#88d9dd;
  border-radius: 8px;
  border:1px solid #88d9dd;
  vertical-align: bottom;
}
.sheOnlineIndex .box3  .cir2{
  display: inline-block;
  width:3px;
  height:3px;
  border-radius: 50%;
  background-color: #88d9dd;
  margin:13.5px 8px;
  vertical-align: middle;
}
.sheOnlineIndex .box4 dl{
  margin-bottom:0;

}
.sheOnlineIndex .box4 img{
  vertical-align: middle;
  margin-top:-2px;
}
.sheOnlineIndex .box4 dt{
  font-size:13px;
  color:#999;
  height:40px;
  line-height:40px;
  background-color: #f9f9f9;
  padding:0 10px;
  font-weight: normal;
}
.sheOnlineIndex .box4 dd{
  font-size:15px;
  color:#666;
  height:50px;
  line-height:50px;
  border-bottom:1px solid #f9f9f9;
  margin:0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
.sheOnlineIndex .box4 dd a{
  /*float: left;*/
  display: inline-block;
  width:70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sheOnlineIndex .box4 dd span{
  display: inline-block;
  width:25%;
  font-size:12px;
  color:#999;
  float: right;
}
.sheOnlineIndex .box4 dd img{
  margin-top:-5px;

}
.sheOnlineIndex .box4 .more{
  font-size:12px;
  color:#88d9dd;
  float: right;
  margin:15px 10px 35px 0;

}
.sheOnlineIndex .box4 .more img{
  margin-top:-3px;
}