.layer{
  position:absolute;
  left:0;
  top:0;
  z-index: 3;
  width:100%;
  height:100%;
  background: #000;
  filter:alpha(Opacity=50);
  -moz-opacity:0.5;
  opacity: 0.5;
}
.share-friend{
  position:absolute;
  left:15%;
  top:50.5px;
  z-index: 4;
  width:70%;
  /*height:150px;*/
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding:30px 0;
}
.share-friend img{
  position: absolute;
  top:-50.5px;
  right:-15%;
}
.share-friend p{
  text-align: center;
  margin:0 10px;
  color:#666;
  font-size:16px;
  line-height:27px;
}
.share-friend p span{
  color:#fe717b;
  font-size:19px;
  padding-bottom:10px;
}
.share-friend button{
  border:none;
  background-color: #88d9dd;
  color:#fff;
  border-radius: 5px;
  padding:8px 15px;
  margin-top:10px;

}
/*#f4efc4*/
.operateIndex{;
 /* background: url("../../images/operate/ope_bg.png") left top  #eee7ac;*/
 /* background:  #eee7ac;*/
  background:  #f4efc4;
}
.operateIndex .banner{
  position: relative;
  height:132.5px;
  margin-bottom:-1px;
}
.operateIndex .banner span{
  color:#fff;
  font-size:12px;
  position: absolute;
  bottom:33px;
  display: inline-block;
  width:100%;
  text-align: center;
}
.operateIndex .main{
  width:80%;
  border-radius: 10px;
  margin:0 10% ;
  background-color: #fff;

}
.operateIndex .bt{
  text-align: center;
  width:100%;
  height:50px;
  border-radius: 10px 10px 0 0;
  background-color: #88d9dd;
  position: relative;
}
.operateIndex .bt .pic{
  position: absolute;
  top:15px;
}
.operateIndex .bt .pic1{
  position: absolute;
  left:15px;
}
.operateIndex .bt .pic2{
  position: absolute;
  right:15px;
}
.operateIndex .main h3{
  text-align: center;
  font-size:13px;
  font-weight:normal;
  color:#666;
  position: relative;
  margin:15px 0 10px;
}
.operateIndex .main h3 span{
  color:#fe717b;
}
.operateIndex .main h3 a{
  position: absolute;
  top:30px;
  right:20px;
  color:#666;
  font-size:14px;
}
.operateIndex .main .who{
  text-align: center;
}
.operateIndex .main .who a{
  color:#88d9dd;
  font-size:12px;
  border-bottom: 1px solid #88d9dd;
}
.operateIndex .main p{
  text-align: center;
  margin:15px 0 15px;
}
.operateIndex .main p img{
  margin-bottom:2px;
}
.operateIndex .main p a{
  display: inline-block;
  width:80%;
  height:44px;
  line-height:44px;
  margin:8px 0 15px;
  background-color: #88d9dd;
  color:#fff;
  border-radius: 5px;
}
.operateIndex  .rule{
  margin-top:15px;
  position: relative;
}
.operateIndex  .rule span{
  position: absolute;
  top:12px;
  left:5%;
  color:#fff;
  font-size:12px;
}
.operateIndex  .rule ul{
  position: absolute;
  top:36px;
  left:3%;
}
.operateIndex  .rule li{
  color:#fff;
  font-size:12px;
}
