<div ui-view>
    <div class="header">
        <div id="top">
            <div class="top">
                <span class="weibo">官方新浪微博：宝大夫</span>
                <span class="weixin">官方微信号：BaodfWX</span>
            </div>
        </div>
        <div class="nav">
            <div class="logo"><a ui-sref="baodaifuIndex">宝大夫</a></div>
            <ul>
                <li><a ui-sref="baodaifuIndex">首页</a></li>
                <li><a ui-sref="zixundaifu">咨询大夫</a></li>
                <li><a ui-sref="yuyuedaifu">预约大夫</a></li>
                <li><a ui-sref="shuo">健康管理</a></li>
                <li><a ui-sref="zixun">媒体资讯</a></li>
                <li class="on"><a ui-sref="about">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="about">
        <div class="about_left">
            <a ui-sref="about" class="a1">公司简介</a>
            <a ui-sref="productIntroduction" class="a2">产品简介</a>
            <a ui-sref="contactUs" class="a3">联系我们</a>
        </div>
        <div class="about_right">
            <div class="cp_bar"></div>
            <div class="about_con">
                <p>产品简介</p>
                <p>宝大夫由北京晨星启明科技有限公司独立研发，致力于打造儿童健康的一站式服务平台。</p>
                <p>我们由资深儿科医生组成健康顾问团队，为宝宝健康提供在线就医导引服务；</p>
                <p>我们精选著名儿科医生，为宝宝就医创建快捷、方便和舒适的全新就诊体验；</p>
                <p>我们由资深医生与专业营养师亲历指导，制定个性化健康管理方案，轻松实现科学育儿。</p>
            </div>
        </div>
    </div>

    <!-- 底部开始 -->
    <div id="footer">
        <div class="footer">
            <p><a ui-sref="fuwutiaokuan" class="pianyi">服务条款</a><a ui-sref="yinsibaohu">隐私保护</a></p>
            <p><a target="_blank">京ICP备15035618号-1</a></p>
            <p>版权所有：北京晨星启明科技有限公司</p>
        </div>
    </div>
</div>