<div ui-view>
<div class="header">
    <div id="top">
        <div class="top">
            <span class="weibo">官方新浪微博：宝大夫</span>
            <span class="weixin">官方微信号：BaodfWX</span>
        </div>
    </div>
    <div class="nav">
        <div class="logo"><a ui-sref="baodaifuIndex">宝大夫</a></div>
        <ul>
            <li class="on"><a ui-sref="baodaifuIndex">首页</a></li>
            <li><a ui-sref="zixundaifu">咨询大夫</a></li>
            <li><a ui-sref="yuyuedaifu">预约大夫</a></li>
            <li><a ui-sref="shuo">健康管理</a></li>
            <li><a ui-sref="zixun">媒体资讯</a></li>
            <li><a ui-sref="about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="fuwutiaokuan">
    <div class="content yinsibaohu">
        <div class="wrap">
            <h3>隐私保护</h3>
            <dl>
                <dd>
                    <p>宝大夫非常重视您的隐私，我们制定了宝大夫隐私保护制度以保护您的隐私，在您使用宝大夫提供的服务前，请您仔细阅读以下声明：</p>
                </dd>
            </dl>
            <dl>
                <dt>保护隐私原则</dt>
                <dd>
                    <p>宝大夫平台不会向任何人出售或出借您的个人信息，除非事先得到您的许可。<br/>
                        为服务用户的目的，宝大夫平台可能通过使用您的个人信息，向您提供服务，包括但不限于向您发出活动和服务信息等。<br/>
                        宝大夫平台承诺：非经法律程序或经您的许可不会泄露您的个人信息。<br/>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>免责条款</dt>
                <dd>
                    <p>在如下情况下，本站将不对您的隐私泄露承担责任：<br/>
                        您同意让第三方共享资料；<br/>
                        您同意公开你的个人资料，享受为您提供的产品和服务；<br/>
                        本站需要听从法庭传票、法律命令或遵循法律程序；<br/>
                        因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用。<br/>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd>
                    <p>如果您对此隐私政策有任何疑问或建议，请通过以下方式联系我们，客服电话：400-623-7120，<br />我们会尽一切努力保护您的隐私。宝大夫平台保留对本政策作出不定时修改的权利。<br />本隐私声明是您与宝大夫平台签署的注册协议的组成部分之一，请您仔细阅读。
                    </p>
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- 底部开始 -->
<div id="footer">
    <div class="footer foote">
        <p><a ui-sref="fuwutiaokuan" class="pianyi">服务条款</a><a ui-sref="yinsibaohu">隐私保护</a></p>
        <p><a target="_blank">京ICP备15035618号-1</a></p>
        <p>版权所有：北京晨星启明科技有限公司</p>
    </div>
</div>
</div>