.evaluateSuccess{

}
.evaluateSuccess .main{
  margin-top:133px;
}

.evaluateSuccess .main img:first-of-type{
  margin-bottom:15px;
}

.evaluateSuccess .main div{
  margin-bottom:38px;
  font-weight: 300;
  font-size: 23px;

}