.evaluateFinish{
  background-color: #fff;
  position: relative;
}

.evaluateFinish .result-show{
  margin-top:36px;
}
.evaluateFinish .result-show div{
  color:#030303;
  margin-bottom:25px;
}
.evaluateFinish .result-show p{
  margin-top:11px;
}
.evaluateFinish .money-item{
  padding:0 3%;
  overflow: hidden;
  margin-top:30px;
  font-size: 0;
}
.evaluateFinish .money-item li{
  display: inline-block;
  width:30%;
  margin-bottom: 18px;
}
.evaluateFinish .money-item li a{
  display: inline-block;
  width:48px;
  height:48px;
  line-height:50px;
  border:1px solid #fe717b;
  color:#fe717b;
}
.evaluateFinish .money-item li a.select{
  background-color:#fe717b;
  color:#fff;
}

.sendHeart .pay-problem{
  color:#fe717b;
  width:100%;
  position: fixed;
  bottom:60px;
}
