
.evaluateUnSatisfy  .headline{
  margin-top:28px;
}
.evaluateUnSatisfy .noSatisfy-item{
  margin-top: 20px;
  overflow: hidden;
  padding: 0 15px;
}
.evaluateUnSatisfy .noSatisfy-item li{
  width:50%;
  margin-bottom: 12px;
}
.evaluateUnSatisfy .noSatisfy-item li span{
  display: inline-block;
  width:90%;
  border:1px solid #88d9dd;
  border-radius: 5px;
  color:#030303;
  line-height: 33px;
}
.evaluateUnSatisfy .noSatisfy-item li span.select{
  color:#fff;
  background-color: #88d9dd;
}