.sendHeart{
  background-color: #fff;
  position: relative;
}
.sendHeart .main-box{
  min-height:100%;
}
.sendHeart .doctor-info{
  background-image: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Findex_headback.png");
  background-size: 100% 105px;
  height: 76px;
  padding: 15px 0;
  width: 100%;
  font-weight: 400;
}

.sendHeart .doctor-info .name{
  width:25%;
}
.sendHeart .doctor-info .name img{
  border:2px solid #fff;
}
.sendHeart .doctor-info .text{
  margin-top:10px;
}
.sendHeart .doctor-info .info-box{
  padding:5px 0;
}
.sendHeart .doctor-info .heart{
  width:37%;
  border-right:1px solid #fff;

}
.sendHeart .doctor-info .good-evaluate{
  width:32%;
}
.sendHeart .evaluation-remind{
  margin-top:75px;
}
.sendHeart .finish-evaluate{
  margin-top:35px;
  color:#030303;
}
.sendHeart .evaluate-item{
  overflow: hidden;
  margin-top: 25px;
  font-size:0;
}
.sendHeart .evaluate-item li{
  display: inline-block;
}
.sendHeart .evaluate-item div {
  margin-top:11px;
}
.sendHeart .evaluate-item .item1{
  width:30%;
}
.sendHeart .evaluate-item .item2{
  width:40%;
}
.sendHeart .headline {
  position: relative;
 color:#030303;
}
.sendHeart .headline .line{
  display: block;
  width:32%;
  height:1px;
  background-color: #cacaca;
  position: absolute;
  top:10px;
  z-index:-1;
}
.sendHeart .headline .line-l{
 left:0;
}
.sendHeart .headline .line-r{
  right:0;
}
.sendHeart .headline .text{
  display: inline-block;
  background-color: #fff;
  padding:0 10px;
}
.sendHeart .select-content{
  margin-top:39px;
}
.sendHeart .noSatisfy-item{
  margin-top: 20px;
  overflow: hidden;
  padding: 0 15px;
}
.sendHeart .noSatisfy-item li{
  width:50%;
  margin-bottom: 12px;
}
.sendHeart .noSatisfy-item li span{
  display: inline-block;
  width:90%;
  border:1px solid #88d9dd;
  border-radius: 5px;
  color:#030303;
  line-height: 33px;
}
.sendHeart .noSatisfy-item li span.select{
  color:#fff;
  background-color: #88d9dd;
}
.sendHeart .money-item{
  padding:0 3%;
  overflow: hidden;
  margin-top:17px;
}
.sendHeart .money-item li{
  width:20%;
}
.sendHeart .money-item li a{
  display: inline-block;
  width:48px;
  height:48px;
  line-height:50px;
  border:1px solid #fe717b;
  color:#fe717b;
}
.sendHeart .money-item li a.select{
  background-color:#fe717b;
  color:#fff;
}
.sendHeart .random-money{
  margin:21px 0;
}
.sendHeart .random-money a{
   color: #fe717b;
   display: inline-block ;
   width:107px;
   height:32px;
   line-height: 34px;
   border-radius: 100px;
   border:1px solid #fe717b;
 }
.sendHeart .random-money a.select{
  background-color: #fe717b;
  color:#fff;
}
.sendHeart .leave-word{
  margin-top:21px;
  padding: 0 15px;
}
.sendHeart .leave-word textarea{
  padding: 12px;;
  color: #757474;
  resize: none;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.sendHeart  .suggest{
  margin:60px 15px 0;
  position: relative;
  padding-left:70px;
}
.sendHeart .suggest span{
  position: absolute;
  top:0;
  left:0;
}
.sendHeart .pay-problem{
  color:#fe717b;
  width:100%;
  position: fixed;
  bottom:60px;
}
.sendHeart .c-shadow{
  overflow: hidden;
  position: fixed;
}
.sendHeart .random-content{
  position: fixed;
  width:80%;
  height:240px;
  top:20%;
  left:10%;
  border-radius: 25px;
  padding-top:30px;
  padding-bottom:60px;
}
.sendHeart .random-content .close{
  position: absolute;
  top:10px;
  right:10px;
}
.sendHeart .random-content .money{
  color:#fe4c58;
  margin-top:15px;
}
.sendHeart .random-content .changeMoney{
  display: inline-block;
  width:80px;
  height: 28px;
  line-height: 30px;
  border:1px solid #37a8ff;
  color:#37a8ff;
  margin:25px 0 20px;
  border-radius: 50px;
}
.sendHeart .random-content .finish{
  position: absolute;
  bottom:0;
  width:100%;
  line-height:45px;
  background-color: #fe717b;
  border-radius: 0 0 25px 25px;
}
.sendHeart .go-share{
  position: fixed;
  bottom:0;
}