body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
ul,li,dl,dd{
  list-style: none;
}
body{
  background-color: #f9f9f9;
}
.playtourdoctor{
  height: 106px;
  background-color: #FFFFFF;
  position: relative;
  border-bottom:1px solid #e6e6e6 ;
}
.playtourdoctorimg img{
  margin: 27px 0px 27px 15px
}
.playtourdoctorright{
  position: absolute;
  top: 35px;
  bottom: 31px;
  left: 89px;
}
.playtourdoctorright .playtourdoctorright_1{
  padding: 0px;
}
.playtourdoctorright .playtourdoctorright_1 img{
  vertical-align: middle;
  margin-top: -3px;
}
.playtourdoctorright .playtourdoctorright_1 span{
  font-size: 15px;
  color: #000;
}
.playtourdoctorright .playtourdoctorright_2{
  margin-top: 13px; ;
}
.playtourdoctorright .playtourdoctorright_2 img{
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 1.5px;
}
.playtourdoctorright .playtourdoctorright_2 .xinyi{
  font-size: 15px;
  color: #000;
}
.playtourdoctorright .playtourdoctorright_2 .xinyi span,.haoping span{
  margin-left: 7px;
  font-size: 15px;
  color: #fe717b;
  font-weight: bold
}
.playtourdoctorright .playtourdoctorright_2 .haoping{
  margin-left:23px;
  font-size: 15px;
  color: #000;
}
.playtourpingjie{
  padding-top: 24px;
}
.playtourpingjie .playtourpj_1,.playtourpj_2,.playtourpj_3{
  display:inline-block;
  width: 31%;
  text-align: center;
}
.playtourpingjie .playtourpj_1 div{
  margin-top: 10px;
  font-size: 15px;
  color: #000000;
}
.playtourpingjie .playtourpj_2{
  position: relative;
}
.playtourpingjie .playtourpj_2 .line{
  position: absolute;
  top:10px;
  width:1px;
  height:47px;
  background-color: #e6e6e6;
}
.playtourpingjie .playtourpj_2 .line.left1{
  left:0;
}
.playtourpingjie .playtourpj_2 .line.right1{
  right:0;
}
.playtourpingjie .playtourpj_2 .center1 .manyi,.playtourpj_3 div{
  margin-top: 10px;
  font-size: 15px;
  color: #4f4f4f;
}
.playtourpingji .playtourpj_2 .left1,.center1,.right1{
  display:inline-block;
}
.playtourmoney{
  margin-top: 39px;
}
.ptmdoc{
  text-align: center;
  color: #030303;
  font-size: 15px;
}
.ptm{
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.playtourmoney .ptm img,.playtourmoney .ptm div{
  display:inline-block;
  vertical-align: middle;
  margin-top: -3px;
}
.playtourmoney .ptm  input{
  border: 1px solid #fe717b;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  font-size: 18px;
  line-height: 38px;
  color: #fe717b;
  width:160px;
  text-align: center;
}
.playtourmoney .ptmfu{
  text-align: center;
  width: 147px;
  height: 27px;
  line-height: 27px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.25);
  position: relative;
}
.playtourmoney .ptmfu span{
  color: #fe717b;
  font-size: 13px;
}
.playtourjianyi {
  margin-top: 35px;
  padding: 0 15px;
}
.playtourjianyi textarea {
  padding: 12px 0px 0px 12px;
  font-size: 13px;
  color: #757474;
  resize: none;
  width: 96%;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}

.playtourwenti{
  padding: 22px 0;
  text-align: center;
  font-size: 15px;
  color: #ff0707;
}

button{
  position: fixed;
  left:0;
  bottom:0;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #fe717b;
  height: 44px;
  width: 100%;
  overflow-x: hidden;
  border: none;
}

.playtourno{
  margin-top: 39px;
  padding: 0px 15px;
}
.playtourno .ptntitle{
  font-size: 15px;
  color: #030303;
  width: 100%;
}
.playtourno .ptntitle span:nth-child(1){
  width:35%;
  height: 1px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}
.playtourno .ptntitle span:nth-child(2){
  width:25%;
}
.playtourno .ptntitle span:nth-child(3){
  width:35%;
  height: 1px;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}
.playtourno .ptn_1{
  margin-top: 20px;
  overflow: hidden;
}
.playtourno .ptn_1 li:nth-child(1),li:nth-child(2){
  float: left;
  width:50%;
  text-align: center;
  margin-bottom:12px ;
}
.playtourno .ptn_1 li:nth-child(3),li:nth-child(4){
  float: left;
  width:50%;
  text-align: center;
}
.playtourno .ptn_1 li span{
  display: inline-block;
  width:90%;
  border:1px solid #88d9dd;
  color:#030303;
  font-size: 14px;
  border-radius: 5px;
}

.playtourno .com{
  display: inline-block;
  width: 160px;
  line-height: 33px;
  color: #030303;
  font-size: 14px;
  border: 1px solid #88d9dd;
  text-align: center;
  border-radius: 5px;
}
.playtourno .ptn_1 .ptn_1_2,.playtourno .ptn_2 .ptn_2_2{
  margin-left: 12px;
}
.playtourno .ptn_2{
  margin-top: 12px;
}
.playtourno .dianji{
  background-color: #88d9dd;
  color: #FFFFFF;
}
input::-webkit-inner-spin-button ,input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
.tourdoctor{
  background-image: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Findex_headback.png");
  background-size: 100% 105px;
  height: 76px;
  padding: 15px 0px;
  width: 100%;
}
.tourdoctor .td_1{
  display: inline-block;
  width: 25%;
}
.tourdoctor .td_1 div:nth-child(1){
  width: 58px;
  height: 58px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.tourdoctor .td_1 div:nth-child(1) img{
  float: left;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}
.tourdoctor .td_1 div:nth-child(2){
  width: 58px;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.tourdoctor .td_com{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 5px 0;
  padding: 5px 0;
}
.tourdoctor .td_2{
  border-right: 1px solid #FFFFFF;
  width: 37%;
}
.tourdoctor .td_3{
  width: 30%;
}
.tourdoctor .td_2 div,.td_3 div{
  margin-top: 10px;
  font-size: 15px;
  color: #FFFFFF;
}
.tourinit {
  margin-top: 75px;
  text-align: center;
}
.tourinit ul{
  width: 100%;
  margin-top: 37px;
}
.tourinit ul li:nth-child(1){
  display: inline-block;
  width: 20%;
}
.tourinit ul li:nth-child(2){
  display: inline-block;
  width: 45%;
}
.tourinit ul li:nth-child(3){
  display: inline-block;
  width: 20%;
}
.tourinit .ti_com{
  margin-top: 11px;
  font-size: 15px;
  color: #333333;
}