body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
  margin:0;
  padding:0;
}
input{
  border:0;
}
ul,li,dl,dd{
  list-style: none;
}
body{
  background-color: #f9f9f9;
}
.evaltitle{
  background-image: url("http://xiaoerke-wxapp-pic.oss-cn-hangzhou.aliyuncs.com/playtour%2Findex_headback.png");
  background-size: 100% 105px;
  height: 76px;
  padding: 15px 0px;
  width: 100%;
}
.evaltitle .et_1{
  display: inline-block;
  width: 25%;
}
.evaltitle .et_1 div:nth-child(1){
  width: 58px;
  height: 58px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.evaltitle .et_1 div:nth-child(1) img{
  float: left;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}
.evaltitle .et_1 div:nth-child(2){
  width: 58px;
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.evaltitle .et_com{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 5px 0;
  padding: 5px 0;
}
.evaltitle .et_2{
  border-right: 1px solid #FFFFFF;
  width: 37%;
}
.evaltitle .et_3{
  width: 30%;
}
.evaltitle .et_2 div,.et_3 div{
  margin-top: 10px;
  font-size: 15px;
  color: #FFFFFF;
}
.evalfinish{
  margin-top: 34px;
  text-align: center;
  color: #030303;
}
.evalfinish div:nth-child(1){
  font-size: 18px;
  margin-bottom: 30px;
}
.evalfinish div:nth-child(3){
  font-size: 15px;
  margin-top: 14px;
}
.evalother{
  margin: 32px 18px 0 18px;
  font-size: 14px;
  color: #030303;
}
.evalother li{
  position: relative;
  padding-left: 80px;
}
.evalother .c1{
  position: absolute;
  font-weight: bold;
  left:0;
  top:0;
}
.evalother li:last-child{
  margin-top: 15px;
}
/*分享按钮*/
.evalsharebut{
  position: fixed;
  width: 100%;
  bottom: 0;
}
.evalsharebut button{
  background-color: #fe717b;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fe717b ;
  height: 44px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}
.evalhavemoney{
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  color: #fe717b;
}
/*送心意输入钱*/
.evalinputmoney{
  margin-top: 108px;
  text-align: center;
}
.evalinputmoney .inputmoney{
  margin-top: 20px;
}
.evalinputmoney .inputmoney img{
  vertical-align: middle;
  margin-top: -7px;
}
.evalinputmoney input{
  border: 1px solid #fe717b;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  font-size: 18px;
  line-height: 38px;
  color: #fe717b;
  width:160px;
  text-align: center;
}
#but{
    position: fixed;
    left:0;
    bottom:0;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #fe717b;
    height: 44px;
    width: 100%;
    overflow-x: hidden;
    border: none;
}

input::-webkit-inner-spin-button ,input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}