<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="momNutritionTest" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div>
               <img class="my-img-block" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Ftest_banner.png">
            </div>
            <div class="intro">
                <h3>
                    当妈妈的、要当妈妈的、想当妈妈的<br>
                    你对宝宝的喂养知识到底了解多少呢？
                </h3>
                <p>
                    参与喂养测试<br>
                    iPhone6s plus、小米空气净化器、<br>
                    上百本绘本、海鲜兑换卷等你来拿！<br>
                    还有机会参加我们的水立方终极辅食pk大赛呦！<br>
                </p>
            </div>
            <div class="test-list">
                <div class="test" ng-repeat="item in testList" >
                    <img class="my-img-block" width="100%" height="auto" ng-src="{{item.img}}">
                    <dl >
                        <dt>{{item.title}}</dt>
                        <dd ng-class="{'cur':testList[$parent.$index].questionList[$index].checked}" ng-click="selectAnswer($index, $parent.$index)" ng-repeat="prop in item.questionList">
                            {{prop.select}}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="result">
                <a ng-click="lookResult()"></a>
            </div>
            <div class="info bao-code">
                <img class="my-img-block" data-tap-disabled="true"   width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fresult_code.png">

            </div>
            <div class="info prize">
                <dl>
                    <dt>奖品设置：</dt>
                    <dd>
                        <span class="rank">一等奖：</span>
                        iPhone6s Plus 64G
                        <span class="num">1名</span>
                    </dd>
                    <dd>
                        <span class="rank">二等奖：</span>
                        小米空气净化器一台
                        <span class="num">1名</span>
                    </dd>
                    <dd>
                        <span class="rank">三等奖：</span>
                        《好胃口宝宝这样养》全套
                        <span class="num">5名</span>
                    </dd>
                    <dd>
                        <span class="rank">四等奖：</span>
                        壹家壹站墨鱼仔兑换卷
                        <span class="num">100名</span>
                    </dd>
                    <dd>
                        <span class="rank">五等奖：</span>
                        宝宝精选绘本
                        <span class="num">200名</span>
                    </dd>
                    <dd>
                        <span class="rank">集赞奖：</span>
                        凡参与测试，在朋友圈集赞99个，即可参与宝大夫水立方辅食大赛。
                    </dd>
                </dl>
            </div>
            <br> <br> <br>

        </ion-scroll>
    </ion-content>
</ion-view>