<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <div class="shadow" ng-if="goShareLock" ng-click="cancelRemind()"></div>
    <div class="remind-box share1" ng-if="goShareLock" >
        <img class="arrow" width="88" height="91" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fremind_arrow.png">
        <div class="text">
            <img class="pic" width="68" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fmom.png">
            <p>
                赶紧@好友，召唤你的妈妈团<br>
                一起测试PK营养健康知识吧<br>
                据传闻，召唤的越多，中奖几率越大哦！<br>
            </p>
        </div>
        <div class="cancel" ng-click="cancelRemind()">
            <span class="line"></span>
            <img class="pic" width="30" height="auto" src="http://xiaoerke-common-pic.oss-cn-beijing.aliyuncs.com/common%2Fclose.png">
        </div>
    </div>
    <!-- 查看结果提示-->
    <div class="shadow" ng-if="lookResultLock" ng-click="cancelRemind()"></div>
    <div class="remind-box result1" ng-if="lookResultLock" >
        <img class="arrow" width="88" height="91" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fremind_arrow.png">
        <div class="text">
            <img class="pic" width="68" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fmom.png">
            <img  class="code" data-tap-disabled="true"  width="102.5" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fshanshiyinyang.jpg">
            <p>
                <span >{{momRank[momRankNum].remind}}<br></span>
                请关注宝大夫（长按关注）<br>
                回复“营养”，获取营养报告！<br>
                更可获得宝妈喂养秘籍。
            </p>
        </div>
        <div class="cancel" ng-click="cancelRemind()">
            <span class="line"></span>
            <img class="pic" width="30" height="auto" src="http://xiaoerke-common-pic.oss-cn-beijing.aliyuncs.com/common%2Fclose.png">
        </div>
    </div>
    <ion-content class="momNutritionResult" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
           <!-- 分享提示-->


            <div class="top">
                <img class="my-img-block" width="100%" height="auto" src="http://xiaoerke-remain-pic.oss-cn-beijing.aliyuncs.com/market%2FmomNutrition%2Fresult_bg.png">
                <div class="text">
                    <h3>{{momRank[momRankNum].title}}</h3>
                    <div ng-repeat="item in  momRank[momRankNum].text">
                        {{item}}
                    </div>
                    <p ng-if="momRankNum==2">
                        分享到朋友圈，<br>帮助更多宝妈重视起来宝宝的营养问题吧！<br><span>"随便发张截图还可以抽个大奖哟！</span>
                    </p>
                    <p ng-if="momRankNum==1">
                        分享到朋友圈，<br>帮助更多宝妈重视起来宝宝的营养问题吧！<br><span>随便发张截图还可以抽个大奖哟！</span>
                    </p>
                    <p ng-if="momRankNum==0">
                        分享到朋友圈，<br>帮助更多宝妈重视起来宝宝的营养问题吧！<br><span>随便发张截图还可以抽个大奖哟！</span><br>
                        （满分的获奖率特别高！）
                    </p>
                </div>
            </div>
            <div class="two-btn">
                <a ng-click="lookResult()">我要看答案</a>
                <a ng-click="goShare()">我要分享</a>
            </div>

            <div class="info">
                <dl>
                    <dt>抽奖规则：</dt>
                    <dd>1、将此条测试题转发到朋友圈，写上您的育儿心得并截图。</dd>
                    <dd>2、把截图发送到宝大夫微信公众号。</dd>
                    <dd>3、留好您的截图，我们将于4月5号在公众号微信文章中公布获奖名单。</dd>
                    <dd>4、最后的最后，我们还会精心挑选20条育儿心得送上神秘礼物。</dd>
                    <dd>5、本次活动最终解释权归“宝大夫”所有。</dd>
                </dl>
            </div>
            <br><br><br>
        </ion-scroll>
    </ion-content>
</ion-view>