<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.ConsultRecordDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sessionId" property="sessionId" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="senderId" property="senderId" jdbcType="VARCHAR" />
    <result column="csuserId" property="csuserId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="doctorName" property="doctorName" jdbcType="VARCHAR" />
    <result column="senderName" property="senderName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, sessionId, message, createDate, updateDate, type, senderId, csuserId, userId,
    doctorName, senderName
  </sql>
  <select id="selectByVo" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    select
    <include refid="Base_Column_List" />
    from consult_record
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="createDate != null" >
      ORDER by createDate desc limit 1
    </if>

  </select>

  <select id="selectConsultRecord" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    SELECT
    *
    FROM
    consult_record5
    WHERE
    createDate BETWEEN #{createDate}
    AND #{updateDate}
    AND userId = #{userId}
    <if test="senderId != null" >
      and senderId like 'o3_%'
    </if>
    ORDER BY
    createDate DESC
    LIMIT 1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from consult_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    insert into consult_record (id, sessionId, message,
    createDate, updateDate, type,
    senderId, csuserId, userId,
    doctorName, senderName)
    values (#{id,jdbcType=VARCHAR}, #{sessionId,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR},
    #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR},
    #{senderId,jdbcType=VARCHAR}, #{csuserId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
    #{doctorName,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR})
  </insert>


  <!--批量插入-->
  <insert id="insertConsultRecordBatch" parameterType="java.util.List">
    insert into consult_record (id, sessionId, message,
    createDate, updateDate, type,
    senderId, csuserId, userId,
    doctorName, senderName)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.sessionId,jdbcType=VARCHAR}, #{item.message,jdbcType=VARCHAR},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.type,jdbcType=VARCHAR},
      #{item.senderId,jdbcType=VARCHAR}, #{item.csuserId,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR},
      #{item.doctorName,jdbcType=VARCHAR}, #{item.senderName,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <insert id="insertConsultRecordBatchTest" parameterType="java.util.List">
    insert into consult_record6 (id, sessionId, message,
    createDate, updateDate, type,
    senderId, csuserId, userId,
    doctorName, senderName)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.sessionId,jdbcType=VARCHAR}, #{item.message,jdbcType=VARCHAR},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.type,jdbcType=VARCHAR},
      #{item.senderId,jdbcType=VARCHAR}, #{item.csuserId,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR},
      #{item.doctorName,jdbcType=VARCHAR}, #{item.senderName,jdbcType=VARCHAR})
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    insert into consult_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sessionId != null" >
        sessionId,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="updateDate != null" >
        updateDate,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="senderId != null" >
        senderId,
      </if>
      <if test="csuserId != null" >
        csuserId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="doctorName != null" >
        doctorName,
      </if>
      <if test="senderName != null" >
        senderName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null" >
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="csuserId != null" >
        #{csuserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null" >
        #{senderName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    update consult_record
    <set >
      <if test="sessionId != null" >
        sessionId = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="senderId != null" >
        senderId = #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="csuserId != null" >
        csuserId = #{csuserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        doctorName = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null" >
        senderName = #{senderName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultRecordVo" >
    update consult_record
    set sessionId = #{sessionId,jdbcType=VARCHAR},
    message = #{message,jdbcType=VARCHAR},
    createDate = #{createDate,jdbcType=TIMESTAMP},
    updateDate = #{updateDate,jdbcType=TIMESTAMP},
    type = #{type,jdbcType=VARCHAR},
    senderId = #{senderId,jdbcType=VARCHAR},
    csuserId = #{csuserId,jdbcType=VARCHAR},
    userId = #{userId,jdbcType=VARCHAR},
    doctorName = #{doctorName,jdbcType=VARCHAR},
    senderName = #{senderName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


</mapper>