<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.ConsultStatisticDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.ConsultStatisticVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day_number" property="dayNumber" jdbcType="INTEGER" />
    <result column="titile_number" property="titileNumber" jdbcType="INTEGER" />
    <result column="evaluate_number" property="evaluateNumber" jdbcType="INTEGER" />
    <result column="unevaluate_number" property="unevaluateNumber" jdbcType="INTEGER" />
    <result column="satisfied_number" property="satisfiedNumber" jdbcType="INTEGER" />
    <result column="day_satisfied_degree" property="daySatisfiedDegree" jdbcType="VARCHAR" />
    <result column="weed_satisfied_degree" property="weedSatisfiedDegree" jdbcType="VARCHAR" />
    <result column="month_satisfied_degree" property="monthSatisfiedDegree" jdbcType="VARCHAR" />
    <result column="day_yawp_number" property="dayYawpNumber" jdbcType="INTEGER" />
    <result column="week_yawp_number" property="weekYawpNumber" jdbcType="INTEGER" />
    <result column="month_yawp_number" property="monthYawpNumber" jdbcType="INTEGER" />
    <result column="reward_number" property="rewardNumber" jdbcType="INTEGER" />
    <result column="reward_degree" property="rewardDegree" jdbcType="VARCHAR" />
    <result column="first_consult_cancle_Attention_number" property="firstConsultCancleAttentionNumber" jdbcType="INTEGER" />
    <result column="more_consult_cancle_Attention_number" property="moreConsultCancleAttentionNumber" jdbcType="INTEGER" />
    <result column="first_consult_number" property="firstConsultNumber" jdbcType="INTEGER" />
    <result column="first_consult_degree" property="firstConsultDegree" jdbcType="VARCHAR" />
    <result column="second_consult_number" property="secondConsultNumber" jdbcType="INTEGER" />
    <result column="second_consult_degree" property="secondConsultDegree" jdbcType="VARCHAR" />
    <result column="more_conuslt_number" property="moreConusltNumber" jdbcType="INTEGER" />
    <result column="more_consult_degree" property="moreConsultDegree" jdbcType="VARCHAR" />
    <result column="max_money" property="maxMoney" jdbcType="VARCHAR" />
    <result column="min_money" property="minMoney" jdbcType="VARCHAR" />
    <result column="sum_money" property="sumMoney" jdbcType="VARCHAR" />
    <result column="evaluate_click_number" property="evaluateClickNumber" jdbcType="INTEGER" />
    <result column="evaluate_click_degree" property="evaluateClickDegree" jdbcType="VARCHAR" />
    <result column="share_click_number" property="shareClickNumber" jdbcType="INTEGER" />
    <result column="share_click_degree" property="shareClickDegree" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="displayDate" property="displayDate" jdbcType="VARCHAR"/>

    <result column="charge_success_number" property="chargeSuccessNumber" jdbcType="INTEGER" />
    <result column="charge_message_click_number" property="chargeMessageClickNumber" jdbcType="INTEGER" />
    <result column="charge_send_message_number" property="chargeSendMessageNumber" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, day_number, titile_number, evaluate_number, unevaluate_number, satisfied_number,
    day_satisfied_degree, weed_satisfied_degree, month_satisfied_degree, day_yawp_number,
    week_yawp_number, month_yawp_number, reward_number, reward_degree, first_consult_cancle_Attention_number,
    more_consult_cancle_Attention_number, first_consult_number, first_consult_degree,
    second_consult_number, second_consult_degree, more_conuslt_number, more_consult_degree,
    max_money, min_money, sum_money, evaluate_click_number, evaluate_click_degree, share_click_number,
    share_click_degree,create_date,DATE_FORMAT(create_date, '%Y-%m-%d') displayDate,charge_success_number,
    charge_message_click_number,charge_send_message_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from consult_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getConsultStatisticList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from consult_statistic
    where create_date BETWEEN #{startDate} and #{endDate}
    order by create_date  DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from consult_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultStatisticVo" >
    insert into consult_statistic (id, day_number, titile_number, 
      evaluate_number, unevaluate_number, satisfied_number, 
      day_satisfied_degree, weed_satisfied_degree, 
      month_satisfied_degree, day_yawp_number, week_yawp_number, 
      month_yawp_number, reward_number, reward_degree, 
      first_consult_cancle_Attention_number, more_consult_cancle_Attention_number, 
      first_consult_number, first_consult_degree, 
      second_consult_number, second_consult_degree, 
    more_conuslt_number, more_consult_degree, max_money,
    min_money, sum_money, evaluate_click_number,
    evaluate_click_degree, share_click_number,
    share_click_degree,create_date,charge_success_number,charge_message_click_number,charge_send_message_number)
    values (#{id,jdbcType=INTEGER}, #{dayNumber,jdbcType=INTEGER}, #{titileNumber,jdbcType=INTEGER}, 
      #{evaluateNumber,jdbcType=INTEGER}, #{unevaluateNumber,jdbcType=INTEGER}, #{satisfiedNumber,jdbcType=INTEGER}, 
      #{daySatisfiedDegree,jdbcType=VARCHAR}, #{weedSatisfiedDegree,jdbcType=VARCHAR}, 
      #{monthSatisfiedDegree,jdbcType=VARCHAR}, #{dayYawpNumber,jdbcType=INTEGER}, #{weekYawpNumber,jdbcType=INTEGER}, 
      #{monthYawpNumber,jdbcType=INTEGER}, #{rewardNumber,jdbcType=INTEGER}, #{rewardDegree,jdbcType=VARCHAR}, 
      #{firstConsultCancleAttentionNumber,jdbcType=INTEGER}, #{moreConsultCancleAttentionNumber,jdbcType=INTEGER}, 
      #{firstConsultNumber,jdbcType=INTEGER}, #{firstConsultDegree,jdbcType=VARCHAR}, 
      #{secondConsultNumber,jdbcType=INTEGER}, #{secondConsultDegree,jdbcType=VARCHAR}, 
    #{moreConusltNumber,jdbcType=INTEGER}, #{moreConsultDegree,jdbcType=VARCHAR}, #{maxMoney,jdbcType=VARCHAR},
    #{minMoney,jdbcType=VARCHAR}, #{sumMoney,jdbcType=VARCHAR}, #{evaluateClickNumber,jdbcType=INTEGER},
    #{evaluateClickDegree,jdbcType=VARCHAR}, #{shareClickNumber,jdbcType=INTEGER},
    #{shareClickDegree,jdbcType=VARCHAR},#{createDate},#{chargeSuccessNumber},#{chargeMessageClickNumber},#{chargeSendMessageNumber})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultStatisticVo" >
    insert into consult_statistic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dayNumber != null" >
        day_number,
      </if>
      <if test="titileNumber != null" >
        titile_number,
      </if>
      <if test="evaluateNumber != null" >
        evaluate_number,
      </if>
      <if test="unevaluateNumber != null" >
        unevaluate_number,
      </if>
      <if test="satisfiedNumber != null" >
        satisfied_number,
      </if>
      <if test="daySatisfiedDegree != null" >
        day_satisfied_degree,
      </if>
      <if test="weedSatisfiedDegree != null" >
        weed_satisfied_degree,
      </if>
      <if test="monthSatisfiedDegree != null" >
        month_satisfied_degree,
      </if>
      <if test="dayYawpNumber != null" >
        day_yawp_number,
      </if>
      <if test="weekYawpNumber != null" >
        week_yawp_number,
      </if>
      <if test="monthYawpNumber != null" >
        month_yawp_number,
      </if>
      <if test="rewardNumber != null" >
        reward_number,
      </if>
      <if test="rewardDegree != null" >
        reward_degree,
      </if>
      <if test="firstConsultCancleAttentionNumber != null" >
        first_consult_cancle_Attention_number,
      </if>
      <if test="moreConsultCancleAttentionNumber != null" >
        more_consult_cancle_Attention_number,
      </if>
      <if test="firstConsultNumber != null" >
        first_consult_number,
      </if>
      <if test="firstConsultDegree != null" >
        first_consult_degree,
      </if>
      <if test="secondConsultNumber != null" >
        second_consult_number,
      </if>
      <if test="secondConsultDegree != null" >
        second_consult_degree,
      </if>
      <if test="moreConusltNumber != null" >
        more_conuslt_number,
      </if>
      <if test="moreConsultDegree != null" >
        more_consult_degree,
      </if>
      <if test="maxMoney != null" >
        max_money,
      </if>
      <if test="minMoney != null" >
        min_money,
      </if>
      <if test="sumMoney != null" >
        sum_money,
      </if>
      <if test="evaluateClickNumber != null" >
        evaluate_click_number,
      </if>
      <if test="evaluateClickDegree != null" >
        evaluate_click_degree,
      </if>
      <if test="shareClickNumber != null" >
        share_click_number,
      </if>
      <if test="shareClickDegree != null" >
        share_click_degree,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>

      <if test="chargeSuccessNumber != null" >
        charge_success_number,
      </if>
      <if test="chargeMessageClickNumber != null" >
        charge_message_click_number,
      </if>
      <if test="chargeSendMessageNumber != null" >
        charge_send_message_number,
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dayNumber != null" >
        #{dayNumber,jdbcType=INTEGER},
      </if>
      <if test="titileNumber != null" >
        #{titileNumber,jdbcType=INTEGER},
      </if>
      <if test="evaluateNumber != null" >
        #{evaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="unevaluateNumber != null" >
        #{unevaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="satisfiedNumber != null" >
        #{satisfiedNumber,jdbcType=INTEGER},
      </if>
      <if test="daySatisfiedDegree != null" >
        #{daySatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="weedSatisfiedDegree != null" >
        #{weedSatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="monthSatisfiedDegree != null" >
        #{monthSatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="dayYawpNumber != null" >
        #{dayYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="weekYawpNumber != null" >
        #{weekYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="monthYawpNumber != null" >
        #{monthYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardNumber != null" >
        #{rewardNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardDegree != null" >
        #{rewardDegree,jdbcType=VARCHAR},
      </if>
      <if test="firstConsultCancleAttentionNumber != null" >
        #{firstConsultCancleAttentionNumber,jdbcType=INTEGER},
      </if>
      <if test="moreConsultCancleAttentionNumber != null" >
        #{moreConsultCancleAttentionNumber,jdbcType=INTEGER},
      </if>
      <if test="firstConsultNumber != null" >
        #{firstConsultNumber,jdbcType=INTEGER},
      </if>
      <if test="firstConsultDegree != null" >
        #{firstConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="secondConsultNumber != null" >
        #{secondConsultNumber,jdbcType=INTEGER},
      </if>
      <if test="secondConsultDegree != null" >
        #{secondConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="moreConusltNumber != null" >
        #{moreConusltNumber,jdbcType=INTEGER},
      </if>
      <if test="moreConsultDegree != null" >
        #{moreConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="maxMoney != null" >
        #{maxMoney,jdbcType=VARCHAR},
      </if>
      <if test="minMoney != null" >
        #{minMoney,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        #{sumMoney,jdbcType=VARCHAR},
      </if>
      <if test="evaluateClickNumber != null" >
        #{evaluateClickNumber,jdbcType=INTEGER},
      </if>
      <if test="evaluateClickDegree != null" >
        #{evaluateClickDegree,jdbcType=VARCHAR},
      </if>
      <if test="shareClickNumber != null" >
        #{shareClickNumber,jdbcType=INTEGER},
      </if>
      <if test="shareClickDegree != null" >
        #{shareClickDegree,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>

      <if test="chargeSuccessNumber != null" >
        #{chargeSuccessNumber},
      </if>
      <if test="chargeMessageClickNumber != null" >
        #{chargeMessageClickNumber},
      </if>
      <if test="chargeSendMessageNumber != null" >
        #{chargeSendMessageNumber},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultStatisticVo" >
    update consult_statistic
    <set >
      <if test="dayNumber != null" >
        day_number = #{dayNumber,jdbcType=INTEGER},
      </if>
      <if test="titileNumber != null" >
        titile_number = #{titileNumber,jdbcType=INTEGER},
      </if>
      <if test="evaluateNumber != null" >
        evaluate_number = #{evaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="unevaluateNumber != null" >
        unevaluate_number = #{unevaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="satisfiedNumber != null" >
        satisfied_number = #{satisfiedNumber,jdbcType=INTEGER},
      </if>
      <if test="daySatisfiedDegree != null" >
        day_satisfied_degree = #{daySatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="weedSatisfiedDegree != null" >
        weed_satisfied_degree = #{weedSatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="monthSatisfiedDegree != null" >
        month_satisfied_degree = #{monthSatisfiedDegree,jdbcType=VARCHAR},
      </if>
      <if test="dayYawpNumber != null" >
        day_yawp_number = #{dayYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="weekYawpNumber != null" >
        week_yawp_number = #{weekYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="monthYawpNumber != null" >
        month_yawp_number = #{monthYawpNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardNumber != null" >
        reward_number = #{rewardNumber,jdbcType=INTEGER},
      </if>
      <if test="rewardDegree != null" >
        reward_degree = #{rewardDegree,jdbcType=VARCHAR},
      </if>
      <if test="firstConsultCancleAttentionNumber != null" >
        first_consult_cancle_Attention_number = #{firstConsultCancleAttentionNumber,jdbcType=INTEGER},
      </if>
      <if test="moreConsultCancleAttentionNumber != null" >
        more_consult_cancle_Attention_number = #{moreConsultCancleAttentionNumber,jdbcType=INTEGER},
      </if>
      <if test="firstConsultNumber != null" >
        first_consult_number = #{firstConsultNumber,jdbcType=INTEGER},
      </if>
      <if test="firstConsultDegree != null" >
        first_consult_degree = #{firstConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="secondConsultNumber != null" >
        second_consult_number = #{secondConsultNumber,jdbcType=INTEGER},
      </if>
      <if test="secondConsultDegree != null" >
        second_consult_degree = #{secondConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="moreConusltNumber != null" >
        more_conuslt_number = #{moreConusltNumber,jdbcType=INTEGER},
      </if>
      <if test="moreConsultDegree != null" >
        more_consult_degree = #{moreConsultDegree,jdbcType=VARCHAR},
      </if>
      <if test="maxMoney != null" >
        max_money = #{maxMoney,jdbcType=VARCHAR},
      </if>
      <if test="minMoney != null" >
        min_money = #{minMoney,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        sum_money = #{sumMoney,jdbcType=VARCHAR},
      </if>
      <if test="evaluateClickNumber != null" >
        evaluate_click_number = #{evaluateClickNumber,jdbcType=INTEGER},
      </if>
      <if test="evaluateClickDegree != null" >
        evaluate_click_degree = #{evaluateClickDegree,jdbcType=VARCHAR},
      </if>
      <if test="shareClickNumber != null" >
        share_click_number = #{shareClickNumber,jdbcType=INTEGER},
      </if>
      <if test="shareClickDegree != null" >
        share_click_degree = #{shareClickDegree,jdbcType=VARCHAR},
      </if>

      <if test="chargeSuccessNumber != null" >
        charge_success_number = #{chargeSuccessNumber,jdbcType=INTEGER},
      </if>
      <if test="shareClickNumber != null" >
        charge_message_click_number = #{chargeMessageClickNumber,jdbcType=INTEGER},
      </if>
      <if test="shareClickDegree != null" >
        charge_send_message_number = #{chargeSendMessageNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultStatisticVo" >
    update consult_statistic
    set day_number = #{dayNumber,jdbcType=INTEGER},
      titile_number = #{titileNumber,jdbcType=INTEGER},
      evaluate_number = #{evaluateNumber,jdbcType=INTEGER},
      unevaluate_number = #{unevaluateNumber,jdbcType=INTEGER},
      satisfied_number = #{satisfiedNumber,jdbcType=INTEGER},
      day_satisfied_degree = #{daySatisfiedDegree,jdbcType=VARCHAR},
      weed_satisfied_degree = #{weedSatisfiedDegree,jdbcType=VARCHAR},
      month_satisfied_degree = #{monthSatisfiedDegree,jdbcType=VARCHAR},
      day_yawp_number = #{dayYawpNumber,jdbcType=INTEGER},
      week_yawp_number = #{weekYawpNumber,jdbcType=INTEGER},
      month_yawp_number = #{monthYawpNumber,jdbcType=INTEGER},
      reward_number = #{rewardNumber,jdbcType=INTEGER},
      reward_degree = #{rewardDegree,jdbcType=VARCHAR},
      first_consult_cancle_Attention_number = #{firstConsultCancleAttentionNumber,jdbcType=INTEGER},
      more_consult_cancle_Attention_number = #{moreConsultCancleAttentionNumber,jdbcType=INTEGER},
      first_consult_number = #{firstConsultNumber,jdbcType=INTEGER},
      first_consult_degree = #{firstConsultDegree,jdbcType=VARCHAR},
      second_consult_number = #{secondConsultNumber,jdbcType=INTEGER},
      second_consult_degree = #{secondConsultDegree,jdbcType=VARCHAR},
      more_conuslt_number = #{moreConusltNumber,jdbcType=INTEGER},
      more_consult_degree = #{moreConsultDegree,jdbcType=VARCHAR},
      max_money = #{maxMoney,jdbcType=VARCHAR},
      min_money = #{minMoney,jdbcType=VARCHAR},
      sum_money = #{sumMoney,jdbcType=VARCHAR},
      evaluate_click_number = #{evaluateClickNumber,jdbcType=INTEGER},
      evaluate_click_degree = #{evaluateClickDegree,jdbcType=VARCHAR},
      share_click_number = #{shareClickNumber,jdbcType=INTEGER},
      share_click_degree = #{shareClickDegree,jdbcType=VARCHAR},

      charge_success_number = #{chargeSuccessNumber,jdbcType=INTEGER},
      charge_message_click_number = #{chargeMessageClickNumber,jdbcType=INTEGER},
      charge_send_message_number = #{chargeSendMessageNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--咨询统计  deliang-->
  <select id="getConsultStatistic" resultType="java.lang.Float" parameterType="java.util.HashMap">
    select * from (
    select count(DISTINCT(sys_user_id)) countNumber from consult_session where create_time like '${createDate}%' and flag is null
    UNION ALL
    select count(DISTINCT(sys_user_id)) countNumber from consult_session
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime like '${createDate}%' and (serviceAttitude != '0')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime like '${createDate}%' and (serviceAttitude = '3' or serviceAttitude = '5')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{weekBeginDate} and #{weekEndDate} and (serviceAttitude = '3' or serviceAttitude = '5')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{monthBeginDate} and #{monthEndDate} and (serviceAttitude = '3' or serviceAttitude = '5')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime like '${createDate}%' and (serviceAttitude = '1')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{weekBeginDate} and #{weekEndDate} and (serviceAttitude = '1')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{monthBeginDate} and #{monthEndDate} and (serviceAttitude = '1')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime like '${createDate}%' and payStatus = 'success'
    UNION ALL
    SELECT count(DISTINCT(openid)) countNumber from sys_attention where date LIKE '${createDate}%' and STATUS='1' and openid in (
             select sys_user_id from consult_session where consult_number = 1 and create_time like '${createDate}%' GROUP BY sys_user_id ORDER BY null
             )
    UNION ALL
    SELECT count(DISTINCT(openid)) countNumber from sys_attention where date LIKE '${createDate}%' and STATUS='1' and openid in (
             select sys_user_id from consult_session where consult_number > 1 and create_time like '${createDate}%' GROUP BY sys_user_id ORDER BY null
             )
    UNION ALL
    select count(DISTINCT(sys_user_id)) countNumber from consult_session where consult_number = 1 and create_time like '${createDate}%'
    UNION ALL
    select count(DISTINCT(sys_user_id)) countNumber from consult_session where consult_number > 1 and create_time like '${createDate}%'
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{weekBeginDate} and #{weekEndDate} and (serviceAttitude != '0')
    UNION ALL
    select count(DISTINCT(openid)) countNumber from customerEvaluation where createtime between #{monthBeginDate} and #{monthEndDate} and (serviceAttitude != '0')) a
    union all
    select min(redPacket) countNumber from customerEvaluation where createtime like '${createDate}%' and redPacket is not null and redPacket !=''
    union all
    select ceil(Max(cast(redPacket as SIGNED))) countNumber  from customerEvaluation where createtime like '${createDate}%' and redPacket is not null and redPacket !=''
    union all
    select ceil(sum(redpacket)) countNumber from customerEvaluation where createtime like '${createDate}%' and redPacket is not null and redPacket !=''
    union all
    SELECT count(*) FROM account_pay_record WHERE fee_type = 'doctorconsultpay' AND STATUS = 'success' and pay_date like '${createDate}%'
    </select>
  <!--有效咨询和差评人数-->
  <select id="getValidateConsultAndFeedBackCounts" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT consult.date,consult.validateConsultCount,IFNULL(feedback.feedBackCount,0) feedBackCount FROM
    (SELECT DATE_FORMAT(create_time,'%Y-%m-%d') date,COUNT(DISTINCT sys_user_id) validateConsultCount from consult_session where
    DATE_FORMAT(create_time,'%Y-%m-%d') BETWEEN #{startDate} and #{endDate}
    and flag IS NULL
    GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d')) consult
    LEFT JOIN
    (SELECT DATE_FORMAT(createtime,'%Y-%m-%d') date,COUNT(DISTINCT openid) feedBackCount from customerEvaluation
    where serviceAttitude = '1'
    and DATE_FORMAT(createtime,'%Y-%m-%d') BETWEEN #{startDate} and #{endDate}
    GROUP BY DATE_FORMAT(createtime,'%Y-%m-%d')) feedback
    on consult.date = feedback.date
  </select>
  <!--送心意人数和金额-->
  <select id="getSendHeartPersonAndMoneyCounts" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT DATE_FORMAT(c.createtime,'%Y-%m-%d') date,COUNT(DISTINCT c.openid) sendHeartPersonCount,round(SUM(c.redPacket),2) sendHeartMoneyCount
    FROM customerEvaluation c
    INNER JOIN sys_user su ON c.doctorid = su.id
    WHERE c.redPacket IS NOT NULL AND c.redPacket!=''
    AND c.redPacket !=0
    AND c.payStatus IS NOT NULL
    and DATE_FORMAT(c.createtime,'%Y-%m-%d') BETWEEN #{startDate} and #{endDate}
    GROUP BY DATE_FORMAT(c.createtime,'%Y-%m-%d')
  </select>
</mapper>