<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.ConsultDoctorInfoDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="userId" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="practitionerCertificateNo" property="practitionerCertificateNo" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="grab_session" property="grabSession" jdbcType="VARCHAR" />
    <result column="send_message" property="sendMessage" jdbcType="VARCHAR" />
    <result column="receive_differential_notification" property="receiveDifferentialNotification" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />

    <result column="consult_num" property="consult_num" jdbcType="VARCHAR" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="nonrealtime_status" property="nonrealtimeStatus" jdbcType="VARCHAR" />


  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_user_id, password,gender,name, title, hospital, department,practitionerCertificateNo, skill, description, grab_session, send_message, receive_differential_notification,
    create_date, update_date,type,open_id,consult_num,evaluate,nonrealtime_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from consult_doctor_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getConsultDoctorByInfo" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from consult_doctor_info
    where 1=1
    <if test="gender != null and gender != ''" >
      and gender =  #{gender,jdbcType=VARCHAR}
    </if>
    <if test="name != null and gender != ''" >
      and name =  #{name,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId != ''" >
      and sys_user_id =  #{userId,jdbcType=VARCHAR}
    </if>
    <if test="id != null and id != ''" >
      and id =  #{id,jdbcType=VARCHAR}
    </if>
    <if test="type != null and id != ''" >
      and type =  #{type,jdbcType=VARCHAR}
    </if>
    <if test="openId != null">
      and open_id =  #{openId,jdbcType=VARCHAR}
    </if>

    <if test="startDoctor != null">
      and start_doctor = #{startDoctor,jdbcType=VARCHAR}
    </if>
    <if test="nonrealtimeStatus != null and nonrealtimeStatus != ''">
      and nonrealtime_status = #{nonrealtimeStatus,jdbcType=VARCHAR}
    </if>
    order by sort

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from consult_doctor_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    insert into consult_doctor_info (id, sys_user_id, gender,name, title, hospital, department, practitionerCertificateNo,skill,
    description, grab_session, send_message, receive_differential_notification,
    create_date, update_date,type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{hospital,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},#{practitionerCertificateNo,jdbcType=VARCHAR},
      #{skill,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{grabSession,jdbcType=VARCHAR},
      #{sendMessage,jdbcType=VARCHAR}, #{receiveDifferentialNotification,jdbcType=TIMESTAMP}, #{createDate,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP},#{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    insert into consult_doctor_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        sys_user_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="hospital != null" >
        hospital,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="practitionerCertificateNo != null" >
        practitionerCertificateNo,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="grabSession != null" >
        grab_session,
      </if>
      <if test="sendMessage != null" >
        send_message,
      </if>
      <if test="receiveDifferentialNotification != null" >
        receive_differential_notification,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="practitionerCertificateNo != null" >
        #{practitionerCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="grabSession != null" >
        #{grabSession,jdbcType=VARCHAR},
      </if>
      <if test="sendMessage != null" >
        #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="receiveDifferentialNotification != null" >
        #{receiveDifferentialNotification,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    update consult_doctor_info
    <set >
      <if test="userId != null" >
        sys_user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="practitionerCertificateNo != null" >
        practitionerCertificateNo = #{practitionerCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="grabSession != null" >
        grab_session = #{grabSession,jdbcType=VARCHAR},
      </if>
      <if test="sendMessage != null" >
        send_message = #{sendMessage,jdbcType=VARCHAR},
      </if>
      <if test="receiveDifferentialNotification != null" >
        receive_differential_notification = #{receiveDifferentialNotification,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByphone" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    update consult_doctor_info set  open_id = #{openId,jdbcType=VARCHAR},nonrealtime_status = #{nonrealtimeStatus,jdbcType=VARCHAR}
    where sys_user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    update consult_doctor_info
    set sys_user_id = #{userId,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      hospital = #{hospital,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      practitionerCertificateNo = #{practitionerCertificateNo,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      grab_session = #{grabSession,jdbcType=VARCHAR},
      send_message = #{sendMessage,jdbcType=VARCHAR},
      receive_differential_notification = #{receiveDifferentialNotification,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getConsultDoctorDepartment" resultType="java.lang.String">
    select DISTINCT(department) from consult_doctor_info
  </select>

  <select id="getConsultDoctorInfoByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from consult_doctor_info
    where sys_user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <select id="getDoctorInfoMoreByUserId" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT su.id  AS userId,su.name,su.login_name AS userLoginName,su.user_type AS userType,cdi.department,cdi.type,su.login_flag AS loginFlag,su.del_flag AS delFlag from consult_doctor_info cdi
    RIGHT JOIN sys_user su on su.id = cdi.sys_user_id
    where 1=1
    <if test="userId != null and userId != '' ">
        and su.id = #{userId,jdbcType=VARCHAR}
    </if>
  </select>

  <!-- 根据type查询用户 -->
  <select id="findUserOrderByDepartment" resultType="User" parameterType="User" >
    SELECT * from sys_user su
    left JOIN consult_doctor_info sdi on sdi.sys_user_id = su.id
    where (su.user_type = #{userType} or su.user_type = 'distributor') and  del_flag ='0'
    ORDER BY sdi.department
  </select>

  <!-- 根据type查询用户 -->
  <select id="findUserByUserName" resultType="User" parameterType="User" >
    SELECT * from sys_user su where su.name like CONCAT('%',#{name},'%') and  su.del_flag ='0'
  </select>


  <!-- jiangzg add 查询具有某种权限的医生信息 2016-8-12 10:55:20-->
  <select id="findManagerDoctorInfoBySelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from consult_doctor_info where 1=1
    <if test="grabSession != null and grabSession != ''">
      and grab_session = #{grabSession,jdbcType=VARCHAR}
    </if>
    <if test="sendMessage != null and sendMessage != ''">
      and send_message = #{sendMessage,jdbcType=VARCHAR}
    </if>
    <if test="receiveDifferentialNotification != null and receiveDifferentialNotification != ''">
      and receive_differential_notification = #{receiveDifferentialNotification,jdbcType=VARCHAR}
    </if>
    <if test="department != null and department != ''">
      and department = #{department,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type != ''">
      and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="nonrealtimeStatus != null and nonrealtimeStatus != ''">
      and nonrealtime_status = #{nonrealtimeStatus,jdbcType=VARCHAR}
    </if>

  </select>

  <insert id="saveLecture" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultDoctorInfoVo" >
    insert into consult_doctor_lecture (sys_doctor_id, topics,link, lectureTime)
    values (#{userId}, #{topics},#{link},#{lectureTime})
  </insert>

  <select id="getConsultLecture" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * from consult_doctor_lecture where sys_doctor_id = #{userId}
  </select>

  <select id="getStarDoctorList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * from consult_doctor_info where star_doctor = '1' order by  sort,name
  </select>
</mapper>