<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.ConsultTransferListVoDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.ConsultTransferListVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="session_id" property="sessionId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="sys_user_name" property="sysUserName" jdbcType="VARCHAR" />
    <result column="sys_user_id_cs" property="sysUserIdCs" jdbcType="VARCHAR" />
    <result column="sys_user_name_cs" property="sysUserNameCs" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, session_id, create_date, create_by, sys_user_id, sys_user_name, sys_user_id_cs, sys_user_name_cs, del_flag, status,
    department
  </sql>
  <select id="findAllConsultTransferListVo" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultTransferListVo" >
    select 
    <include refid="Base_Column_List" />
    from consult_transfer_list
    where 1=1 and status = 'ongoing' and del_flag = '0'
    <if test="sysUserId != null and sysUserId != ''">
      and sys_user_id = #{sysUserId,jdbcType=VARCHAR}
    </if>
    order by
    <if test="orderBy != null and orderBy !=  ''">
      department desc,
    </if>
      create_date desc
  </select>

  <delete id="deleteConsultTransferListVoByPrimaryKey" parameterType="java.lang.Integer">
    delete from consult_transfer_list
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addConsultTransferListVo" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultTransferListVo" useGeneratedKeys="true"
          keyProperty="id">
    insert into consult_transfer_list(id,session_id, create_date,create_by,
    sys_user_id, sys_user_name,sys_user_id_cs,sys_user_name_cs,del_flag,status,department)
    values (#{id,jdbcType=INTEGER},#{sessionId,jdbcType=INTEGER},#{createDate,jdbcType=TIMESTAMP},
    #{createBy,jdbcType=VARCHAR},#{sysUserId,jdbcType=VARCHAR},
    #{sysUserName,jdbcType=VARCHAR},#{sysUserIdCs,jdbcType=VARCHAR},#{sysUserNameCs,jdbcType=VARCHAR},
    #{delFlag,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{department,jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateConsultTransferByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultTransferListVo">
    update consult_transfer_list
    <set>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null and delFlag != ''">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findOneConsultTransferListVo" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultTransferListVo" >
    select
    <include refid="Base_Column_List" />
    from consult_transfer_list
    where 1=1
    <if test="sysUserId != null and sysUserId != ''">
      and sys_user_id = #{sysUserId,jdbcType=VARCHAR}
    </if>
    <if test="id != null and id != ''">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="delFlag != null and delFlag != ''">
      and del_flag = #{delFlag,jdbcType=VARCHAR}
    </if>
    order by
    <if test="orderBy != null and orderBy !=  ''">
      department desc,
    </if>
    create_date desc
  </select>
</mapper>