<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.ConsultSessionDao">
    <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="state" property="status" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="sys_user_id_cs" property="csUserId" jdbcType="VARCHAR"/>
        <result column="sys_user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="VARCHAR"/>
        <result column="consult_number" property="consultNumber" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, create_time, state, update_time,sys_user_id_cs, sys_user_id ,source,flag,consult_number
    </sql>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from consult_session
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectByPrOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from consult_session
        where sys_user_id = #{openid,jdbcType=INTEGER}
    </select>

    <select id="selectBySelective" resultMap="BaseResultMap"
            parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        select
        <include refid="Base_Column_List"/>
        from consult_session
        where 1=1
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="consultNumber != null">
            and consult_number = #{consultNumber,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null">
            and state = #{status,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="csUserId != null">
            and sys_user_id_cs = #{csUserId,jdbcType=VARCHAR}
        </if>
        <if test="source != null">
            and source = #{source,jdbcType=VARCHAR}
        </if>
        <if test="flag != null">
            and flag = #{flag,jdbcType=VARCHAR}
        </if>
        <if test="userId != null">
            and sys_user_id = #{userId,jdbcType=VARCHAR} ORDER BY create_time desc
        </if>

    </select>

    <select id="selectConsultSession" resultMap="BaseResultMap"
            parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        select
        <include refid="Base_Column_List"/>
        from consult_session
        where 1=1
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="consultNumber != null">
            and consult_number = #{consultNumber,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and state = #{status,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="csUserId != null">
            and sys_user_id_cs = #{csUserId,jdbcType=VARCHAR}
        </if>
        <if test="userId != null">
            and sys_user_id = #{userId,jdbcType=VARCHAR} ORDER BY create_time desc
        </if>
        <if test="source != null">
            and source = #{source,jdbcType=VARCHAR}
        </if>
        <if test="flag != null">
            and flag = #{flag,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getCsUserByUserId" resultMap="BaseResultMap"
            parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        SELECT su.name nickname from consult_conversation_forward_records ccfr
        INNER JOIN sys_user su on su.id = ccfr.from_user_id
        where ccfr.conversation_id = #{id}
        UNION
        SELECT su.name from consult_conversation_forward_records ccfr
        INNER JOIN sys_user su on su.id = ccfr.to_user_id
        where ccfr.conversation_id = #{id}
    </select>

    <select id="getAlreadyAccessUsers" resultMap="BaseResultMap"
            parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        SELECT * from consult_session cc
        INNER JOIN sys_attention sa on sa.openid = cc.userId
        where 1=1
        <if test="status != null">
            and cc.state = #{status,jdbcType=VARCHAR}
        </if>
        <if test="csUserId != null">
            and CC.sys_user_id_cs = #{csUserId,jdbcType=VARCHAR}
        </if>
        group by cc.userId
    </select>

    <select id="selectByPrOpenid" resultType="java.util.Map" parameterType="java.lang.String">
        select  hc.id,hid.illness ,hid.caseImg,hid.otherImg,hid.positionImg,hid.resultImg,sbi.name,sbi.birthday,sbi.sex
        from consult_session hc
        left join healthRecord_illness_describe hid
        on hc.title = hid.conversation_id
        left join sys_baby_baseInfo sbi
        on hid.babyinfo_Id = sbi.id
         where hc.userId = #{openId,jdbcType=VARCHAR}
        order by hc.create_time,hc.update_time  desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from consult_session
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession" useGeneratedKeys="true"
            keyProperty="id">
        insert into consult_session (id, title, create_time,
          state, update_time,sys_user_id_cs, sys_user_id,source,flag
          )
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
           #{status,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP} ,#{csUserId,jdbcType=VARCHAR}
          ,#{userId,jdbcType=VARCHAR},#{source,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR}
          )
   </insert>



    <insert id="insertSelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession"
            useGeneratedKeys="true" keyProperty="id">
        insert into consult_session
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                state,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="csUserId != null">
                sys_user_id_cs,
            </if>
            <if test="userId != null">
                sys_user_id,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="consultNumber != null">
                consult_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="csUserId != null">
                #{csUserId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=VARCHAR},
            </if>
            <if test="consultNumber != null">
               #{consultNumber,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        update consult_session
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                state = #{status,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="csUserId != null">
                sys_user_id_cs = #{csUserId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                sys_user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="consultNumber != null">
                consult_number = #{consultNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.cxqm.xiaoerke.modules.consult.entity.ConsultSession">
        update consult_session
        set title = #{title,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          state = #{status,jdbcType=VARCHAR},
          update_time = #{updateTime,jdbcType=TIMESTAMP},
          sys_user_id_cs = #{csUserId,jdbcType=VARCHAR},
          sys_user_id = #{userId,jdbcType=VARCHAR},
          source = #{source,jdbcType=VARCHAR},
          flag = #{flag,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="getOnlineCsListInfo" resultType="java.util.HashMap">
        SELECT su.*, cdi.department, consultSession.currentCount currentCount
        FROM sys_user su
        LEFT JOIN consult_doctor_info cdi ON cdi.sys_user_id = su.id
        LEFT JOIN (
            SELECT
            sys_user_id_cs id,
            count(*) CurrentCount
            FROM
            consult_session
            WHERE
            DATE_FORMAT(create_time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
            AND sys_user_id_cs IN
            <foreach collection="list" item="classIdList" open="(" separator="," close=")">
                #{classIdList}
            </foreach>
        AND state = 'ongoing'
        GROUP BY
        sys_user_id_cs
        ORDER BY
        NULL
        ) consultSession ON cdi.sys_user_id = consultSession.id
        WHERE
        su.id IN
        <foreach collection="list" item="classIdList" open="(" separator="," close=")">
            #{classIdList}
        </foreach>
    </select>

    <select id="getConsultSessionUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(DISTINCT sys_user_id) FROM consult_session where sys_user_id_cs=#{doctorId}
    </select>

    <select id="getConsultSessionByUserId" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM consult_session where sys_user_id = #{userId}
    </select>

    <select id="getConsultSessionListByInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM consult_session where sys_user_id_cs=#{doctorId} GROUP BY DATE_FORMAT(create_time,'%Y-%c-%d'),sys_user_id ORDER BY create_time DESC
    </select>

    <!--批量插入-->
    <insert id="insertConsultSessionBatch" parameterType="java.util.List">
        insert into consult_session (id,create_time,
        state,sys_user_id_cs, sys_user_id,source,flag
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.createTime},
            #{item.status} ,#{item.csUserId}
            ,#{item.userId},#{item.source},#{item.flag}
            )
        </foreach>
    </insert>
    <!--根据医生姓名查询咨询医生次数-->
    <select id="getConsultCountsByDoctorName" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT cdi.name doctorName,cdi.hospital hospitalName,cdi.title professional,cdi.skill from consult_session cs
        LEFT JOIN consult_doctor_info cdi
        ON cs.sys_user_id_cs=cdi.sys_user_id
        where cdi.marketer = #{marketer}
        GROUP BY cdi.sys_user_id limit 1
    </select>
    <!--根据marketer查询医生信息-->
    <select id="getDoctorInfoByMarketer" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT cdi.name doctorName,cdi.hospital hospitalName,cdi.title professional,cdi.skill
        FROM consult_doctor_info cdi
        where cdi.marketer = #{marketer} limit 1
    </select>
</mapper>