<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxqm.xiaoerke.modules.consult.dao.OperationPromotionDao" >
  <resultMap id="BaseResultMap" type="com.cxqm.xiaoerke.modules.consult.entity.OperationPromotionVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="roleid" property="roleId" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="rolename" property="roleName" jdbcType="VARCHAR" />
    <result column="messagetype" property="messageType" jdbcType="VARCHAR" />
    <result column="replytext" property="replyText" jdbcType="VARCHAR" />
    <result column="replypicid" property="replyPicId" jdbcType="VARCHAR" />
    <result column="imgpath" property="imgPath" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, roleid,rolename,keyword, messagetype,replytext,replypicid,imgpath
  </sql>

  <select id="findKeywordRoleList" resultMap="BaseResultMap" parameterType="com.cxqm.xiaoerke.modules.consult.entity.OperationPromotionVo">
    select roleid,rolename,group_concat(keyword) as keyword,replytext,imgPath,messagetype
      from operation_promotion
    <if test="roleId != null and roleId != ''">
      where roleid=#{roleId}
    </if>
    group by roleid
  </select>

  <select id="getAllRoleListByKeyword" parameterType="Map" resultMap="BaseResultMap">
    select
    keyword,messagetype,replytext,replypicid
    from operation_promotion
    GROUP  BY keyword
  </select>

  <insert id="saveKeywordRole" parameterType="com.cxqm.xiaoerke.modules.consult.entity.OperationPromotionVo" useGeneratedKeys="true"
          keyProperty="id">
    insert into operation_promotion(roleid,rolename,keyword, messagetype,replytext,replypicid,imgpath)
    values (#{roleId,jdbcType=VARCHAR},#{roleName,jdbcType=VARCHAR},#{keyword,jdbcType=VARCHAR},#{messageType,jdbcType=VARCHAR},#{replyText,jdbcType=VARCHAR},#{replyPicId,jdbcType=VARCHAR},#{imgPath,jdbcType=VARCHAR})
  </insert>

  <delete id="deleteKeywordRole" parameterType="com.cxqm.xiaoerke.modules.consult.entity.OperationPromotionVo">
    delete from operation_promotion where roleid=#{roleId}
  </delete>
</mapper>