<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastBirthTest" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbiaoti_y_png_03.png">
            </div>
            <div class="outside">
                <div class="question question1">
                    <!--<img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_a_png_03.png">-->
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect">A&nbsp&nbsp男</a>
                        <a class="qSelect">B&nbsp&nbsp女</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_b_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝的出生日期？</div>
                        <a class="qSelect">2016-11-27</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_c_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝出生时足月吗？</div>
                        <a class="qSelect">（1）足月，约9个月</a>
                        <a class="qSelect">（2）不足，约8个月</a>
                        <a class="qSelect">（3）不足，约7个月</a>
                        <a class="qSelect">（4）不足，约6个月</a>
                        <a class="qSelect">（5）不足6个月</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_d_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝爸的出生日期？</div>
                        <a class="qSelect">2016-11-27</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_e_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝爸的身高？</div>
                        <a class="qSelect">2016-11-27</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_f_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝妈的出生日期？</div>
                        <a class="qSelect">2016-11-27</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_g_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝妈的身高？</div>
                        <a class="qSelect">2016-11-27</a>
                    </div>
                </div>
            </div>
            <br> <br> <br>
        </ion-scroll>
    </ion-content>
</ion-view>