<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastResult" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" ng-src="{{heightImg}}">
            </div>
            <div class="intro1" ng-if="showOne">
                <img class="my-img2" width="50%" height="auto" ng-src="{{babyImg}}">
                <div class="height">
                    <span>{{babyHeight}}</span>
                    <span>cm</span>
                </div>
                <img class="my-img2" width="55%" height="auto" ng-src="{{starImg}}">
            </div>
            <div class="intro2" ng-if="showDouble">
                <div class="baby">
                    <img class="my-img2" width="80%" height="auto" ng-src="{{boyImg}}">
                    <div class="height">
                        <span>{{boyHeight}}</span>
                        <span>cm</span>
                    </div>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fnanbao_png_03.png">
                </div>
                <div class="baby">
                    <img class="my-img2" width="80%" height="auto" ng-src="{{girlImg}}">
                    <div class="height">
                        <span>{{girlHeight}}</span>
                        <span>cm</span>
                    </div>
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fnvbao_png_03.png">
                </div>
            </div>
            <div class="lookResult">
                <div class="linkArticle"><a href="http://mp.weixin.qq.com/s?__biz=MzIxMTE2MDAxOA==&mid=2653329561&idx=1&sn=a1c88ef5b0ff719d85e703e2182254ed&scene=1&srcid=0722WM6fGB2ruI9zsWDS2BCL#rd#wechat_redirect">想要宝宝长的高？听听北京儿童医院刘莉主任怎么说！</a></div>
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fdi_png_02.png">
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>