<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastBirthTest" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbiaoti_y_png_03.png">
            </div>
            <div class="outside">
                <div class="question question1">
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect" ng-click="selectSex(0)" ng-class="{'selected': isSelectedB}">A&nbsp&nbsp男</a>
                        <a class="qSelect" ng-click="selectSex(1)"  ng-class="{'selected': isSelectedG}">B&nbsp&nbsp女</a>
                    </div>
                </div>
                <div class="question question2">
                    <div class="qContent">
                        <div class="qTitle">宝宝的出生日期？</div>
                        <a class="qSelect" ng-style="babyBirthdaySelected?{backgroundColor: '#9fdcff'}:{backgroundColor: '#ffffff'}">
                            <input type="text" readonly="readonly" id="babyBirthday" placeholder="选择宝宝的出生日期">
                            <div class="qSelect1" ng-click="showInput('babyBirthday')">点击</div>
                        </a>
                    </div>
                </div>
                <div class="question question3">
                    <div class="qContent">
                        <div class="qTitle">宝宝出生时足月吗？</div>
                        <a class="qSelect" ng-repeat="item in babyAgeList" ng-style="isSelected==$index?{backgroundColor: '#9fdcff'}:{backgroundColor: '#ffffff'}" ng-click="selectMon($index)">{{item.age}}</a>
                    </div>
                </div>
                <div class="question question4">
                    <div class="qContent">
                        <div class="qTitle">宝爸的出生日期？</div>
                        <a class="qSelect" ng-style="dadBirthdaySelected?{backgroundColor: '#9fdcff'}:{backgroundColor: '#ffffff'}">
                            <input class="value" type="text" readonly="readonly" id="dadBirthday" placeholder="选择宝爸的出生日期">
                            <div class="qSelect1" ng-click="showInput('dadBirthday')">点击</div>
                        </a>
                    </div>
                </div>
                <div class="question question5">
                    <div class="qContent">
                        <div class="qTitle">宝爸的身高？</div>
                        <a class="qSelect qSelectEnt" ng-style="info.dadHeight==''?{backgroundColor: '#ffffff'}:{backgroundColor: '#9fdcff'}">
                            <input class="height" required maxlength="3" type="tel" ng-model="info.dadHeight" placeholder="请输入身高"/>cm</a>
                    </div>
                </div>
                <div class="question question6">
                    <div class="qContent">
                        <div class="qTitle">宝妈的出生日期？</div>
                        <a class="qSelect" ng-style="mamBirthdaySelected?{backgroundColor: '#9fdcff'}:{backgroundColor: '#ffffff'}">
                            <input class="value" type="text" readonly="readonly" id="mamBirthday" placeholder="选择宝妈的出生日期">
                            <div class="qSelect1" ng-click="showInput('mamBirthday')">点击</div>
                        </a>
                    </div>
                </div>
                <div class="question question7">
                    <div class="qContent">
                        <div class="qTitle">宝妈的身高？</div>
                        <a class="qSelect qSelectEnt" ng-style="info.mamHeight==''?{backgroundColor: '#ffffff'}:{backgroundColor: '#9fdcff'}">
                            <input class="height" required maxlength="3" type="tel" ng-model="info.mamHeight" placeholder="请输入身高"/>cm</a>
                    </div>
                </div>
            </div>
            <div class="lookResult" ng-click="checkName()" >我要看结果</div>
            <!--浮层-->
            <div class="c-shadow" ng-if="lookResultFloat" ng-click="cancelFloat()">
            </div>
            <div class="floatImg" ng-if="lookResultFloat">
                <img class="my-img2" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fjiantou_png_03.png">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ffuceng_png_03.png">
            </div>
            <div class="c-shadow c-shadow1" ng-if="lookResultFloatNo" ng-click="cancelFloat()">
            </div>
            <div class="floatImg floatImg1" ng-if="lookResultFloatNo">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbiaoti_re_png_03.png">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fimages_flag_png_03.png">
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>