<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastBirthTest" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbiaoti_y_png_03.png">
            </div>
            <div class="outside">
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_a_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect">A&nbsp&nbsp男</a>
                        <a class="qSelect">B&nbsp&nbsp女</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_b_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect">A&nbsp&nbsp男</a>
                        <a class="qSelect">B&nbsp&nbsp女</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_c_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect">A&nbsp&nbsp男</a>
                        <a class="qSelect">B&nbsp&nbsp女</a>
                    </div>
                </div>
                <div class="question question1">
                    <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Ftihao_d_png_03.png">
                    <div class="qContent">
                        <div class="qTitle">宝宝的性别？</div>
                        <a class="qSelect">A&nbsp&nbsp男</a>
                        <a class="qSelect">B&nbsp&nbsp女</a>
                    </div>
                </div>
            </div>
            <br> <br> <br>
        </ion-scroll>
    </ion-content>
</ion-view>