<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastNoBirthTest" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbiaoti_w_png_03.png">
            </div>
            <div class="outside">
                <div class="question question1">
                    <div class="qContent">
                        <div class="qTitle">宝爸的出生日期？</div>
                        <a class="qSelect">
                            <input class="value" type="text" readonly="readonly" id="dadBirthday" placeholder="选择宝爸的出生日期">
                        </a>
                    </div>
                </div>
                <div class="question question2">
                    <div class="qContent">
                        <div class="qTitle">宝爸的身高？</div>
                        <a class="qSelect"><input class="height" required maxlength="3" type="tel" ng-model="info.dadHeight" placeholder="请输入身高"/>cm</a>
                    </div>
                </div>
                <div class="question question3">
                    <div class="qContent">
                        <div class="qTitle">宝妈的出生日期？</div>
                        <a class="qSelect">
                            <input class="value" type="text" readonly="readonly" id="mamBirthday" placeholder="选择宝妈的出生日期">
                        </a>
                    </div>
                </div>
                <div class="question question4">
                    <div class="qContent">
                        <div class="qTitle">宝妈的身高？</div>
                        <a class="qSelect"><input class="height" required maxlength="3" type="tel" ng-model="info.mamHeight" placeholder="请输入身高"/>cm</a>
                    </div>
                </div>
            </div>
            <div class="lookResult" ng-click="checkName()" >我要看结果</div>
            <!--浮层-->
            <div class="c-shadow"  ng-if="lookResultFloat" ng-click="cancelFloat()"></div>
            <br> <br> <br>
        </ion-scroll>
    </ion-content>
</ion-view>