<ion-spinner ng-show="pageLoading" icon="bubbles"  class="loadPic"></ion-spinner>
<ion-view view-title="宝大夫" ng-init="doRefresh()">
    <ion-content class="heightForecastResult" style="top:0;">
        <ion-scroll direction="y" has-bouncing="true">
            <div class="intro">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fbwlsg_png_03.png">
            </div>
            <div class="intro1">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fimage_c_png_03.png">
                <div class="height">
                    <span>17{{boyHeight}}</span>
                    <span>cm</span>
                </div>
            </div>
            <div class="outside">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fphoto_lin_png_03.png">
            </div>
            <div class="lookResult">
                <img class="my-img2" width="100%" height="auto" src="http://xiaoerke-pc-baodf-pic.oss-cn-beijing.aliyuncs.com/height%2Fdi_png_02.png">
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>